.col-sm-12
  .form-group
    =scenario.hidden_field :sorting_order

    .quiz-question
      =scenario.label :text_content, t('views.constructed_responses.form.scenarios.text_content'), class: 'control-label'
      =scenario.text_area :text_content, class: '', id: 'scenario_text_area'
      %br/

    =scenario.fields_for :scenario_questions do |scenario_question|
      .question-box-item.question
        .row
          =render partial: 'constructed_responses/fields_for_scenario_question', locals: {f: f, constructed_response: constructed_response, scenario: scenario, scenario_question: scenario_question}




:javascript
  $(document).ready(function(){
    $("#scenario_text_area").kendoEditor({
      encoded: false,
      tools: [
        "bold",
        "italic",
        "underline",
        "strikethrough",
        "justifyLeft",
        "justifyCenter",
        "justifyRight",
        "justifyFull",
        "insertUnorderedList",
        "insertOrderedList",
        "indent",
        "outdent",
        "subscript",
        "superscript",
        "tableWizard",
        "createTable",
        "addRowAbove",
        "addRowBelow",
        "addColumnLeft",
        "addColumnRight",
        "deleteRow",
        "deleteColumn",
        "formatting",
        "cleanFormatting"
      ]
    });


  });
