.question-box-item.question.l-margin-top
  .row
    =scenario_question.hidden_field :sorting_order
    .quiz-question
      =scenario_question.label :text_content, t('views.constructed_responses.form.scenario_question.text_content'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =scenario_question.text_area :text_content, class: 'form-control', style: 'border-radius: 6px;', id: "scenario_question_text_area_#{scenario_question.options[:child_index]}"
      %br/
    =scenario_question.fields_for :scenario_answer_templates do |scenario_answer_template|
      =scenario_answer_template.hidden_field :sorting_order
      =scenario_answer_template.hidden_field :editor_type
      -if scenario_answer_template.object.text_editor?
        =render partial: 'constructed_responses/fields_for_texteditor_answer_template', locals: {f: f, constructed_response: constructed_response, scenario: scenario, scenario_question: scenario_question, scenario_answer_template: scenario_answer_template}
      -elsif scenario_answer_template.object.spreadsheet_editor?
        =render partial: 'constructed_responses/fields_for_spreadsheet_answer_template', locals: {f: f, constructed_response: constructed_response, scenario: scenario, scenario_question: scenario_question, scenario_answer_template: scenario_answer_template}







:javascript
  $(document).ready(function(){
    $("#scenario_question_text_area_#{scenario_question.options[:child_index]}").kendoEditor({
      encoded: false
    });

  });
