=scenario_question.hidden_field :sorting_order
.quiz-question
  =scenario_question.label :text_content, t('views.constructed_responses.form.scenario_question.text_content'), class: 'control-label'
  .input-group.input-group-lg.full-width
    =scenario_question.text_area :text_content, class: 'form-control', style: 'border-radius: 6px;', id: 'scenario_question_text_area'
  %br/
=scenario_question.fields_for :scenario_answer_templates do |scenario_answer_template|
  =scenario_answer_template.hidden_field :sorting_order
  =scenario_answer_template.label :editor_type, t('views.constructed_responses.form.type'), class: 'control-label'
  .input-group.input-group-lg.full-width
    =scenario_answer_template.select :editor_type, ScenarioAnswerTemplate::FORMAT_TYPES, {include_blank: t('views.general.select')}, {class: 'form-control', id: 'answer_template_type'}

  =render partial: 'constructed_responses/fields_for_answer_template', locals: {f: f, constructed_response: constructed_response, scenario: scenario, scenario_question: scenario_question, scenario_answer_template: scenario_answer_template}







:javascript
  $(document).ready(function(){
    $("#scenario_question_text_area").kendoEditor({
      encoded: false,
      tools: [
        "bold",
        "italic",
        "underline",
        "strikethrough",
        "justifyLeft",
        "justifyCenter",
        "justifyRight",
        "justifyFull",
        "insertUnorderedList",
        "insertOrderedList",
        "indent",
        "outdent",
        "subscript",
        "superscript",
        "tableWizard",
        "createTable",
        "addRowAbove",
        "addRowBelow",
        "addColumnLeft",
        "addColumnRight",
        "deleteRow",
        "deleteColumn",
        "formatting",
        "cleanFormatting"
      ]
    });

  });
