#text_editor.editors
  %br/
  .l-margin-top-big
    =scenario_answer_template.text_area :text_content, id: 'texteditor'




  :javascript
    $(document).ready(function(){
      $("#texteditor").kendoEditor({
        tools: [
          "bold",
          "italic",
          "underline",
          "strikethrough",
          "justifyLeft",
          "justifyCenter",
          "justifyRight",
          "justifyFull",
          "insertUnorderedList",
          "insertOrderedList",
          "indent",
          "outdent",
          "subscript",
          "superscript",
          "tableWizard",
          "createTable",
          "addRowAbove",
          "addRowBelow",
          "addColumnLeft",
          "addColumnRight",
          "deleteRow",
          "deleteColumn",
          "formatting",
          "cleanFormatting"
        ]
      });

    });



#spreadsheet_editor.editors
  %br/
  .l-margin-top-big
    =scenario_answer_template.hidden_field :text_content
    =link_to 'Update Hidden Field', '#', class: 'btn btn-cyan', id: 'update_button'

    #spreadsheet{style: 'width: 100%;'}

  -if scenario.object.id.nil?
    :javascript
      $("#spreadsheet").kendoSpreadsheet({sheetsbar: false});
      var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");
      $('#update_button').click(function() {
        var data = spreadsheet.toJSON();
        var json = JSON.stringify(data, null, 2);
        $("#course_module_element_constructed_response_attributes_scenarios_attributes_0_scenario_questions_attributes_0_scenario_answer_templates_attributes_0_text_content").val(json);
      });

  -else
    :javascript
      var storedJson = $("#course_module_element_constructed_response_attributes_scenarios_attributes_0_scenario_questions_attributes_0_scenario_answer_templates_attributes_0_text_content").val();
      var paredJson = JSON.parse(storedJson);
      $("#spreadsheet").kendoSpreadsheet({sheetsbar: false});
      var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");
      spreadsheet.fromJSON(paredJson);
      $('#update_button').click(function() {
        var data = spreadsheet.toJSON();
        var json = JSON.stringify(data, null, 2);
        $("#course_module_element_constructed_response_attributes_scenarios_attributes_0_scenario_questions_attributes_0_scenario_answer_templates_attributes_0_text_content").val(json);
      });




:javascript

  $(document).ready(function(){
    $('.editors').hide();
  });

  $(function() {
      $('#answer_template_type').change(function(){
          $('.editors').hide();
          $('#' + $(this).val()).show();
      });
  });