=f.fields_for :course_module_element_video do |cme_video|
  =cme_video.hidden_field :difficulty_level, value: ApplicationController::DIFFICULTY_LEVEL_NAMES.first
  =cme_video.hidden_field :vimeo_guid, value: @video_guid ? @video_guid : ''
  =cme_video.hidden_field :duration

  -if @course_module_element.new_record?
    -if params[:video_uri]
      .l-margin-top.l-margin-bottom-big
        %a{data: {remodal: {target: 'vimeo-upload-modal'}}, class: 'btn btn-green'}
          ='Upload Successful - Click to Replace File'
    -else
      .l-margin-top.l-margin-bottom-big
        %a{data: {remodal: {target: 'vimeo-upload-modal'}}, class: 'btn btn-orange'}
          ='Upload Video File'

  -else @course_module_element.course_module_element_video && @course_module_element.course_module_element_video.vimeo_guid
    -#TODO needs work
    .l-margin-top.l-margin-bottom-big
      %a{data: {remodal: {target: 'vimeo-upload-modal'}}, class: 'btn btn-red'}
        ='Replace Video File'
