=f.fields_for :course_module_element_video do |cme_video|
  -if @video_guid
    =cme_video.hidden_field :vimeo_guid, value: @video_guid

  -if @course_module_element.new_record?
    -if params[:video_uri]
      .pt-2
        %a.btn.btn-green{"data-target" => "#vimeo-upload-modal", "data-toggle" => "modal", :href => "#"}
          ='Upload Successful'
    -else
      .pt-2
        %a.btn.btn-orange{"data-target" => "#vimeo-upload-modal", "data-toggle" => "modal", :href => "#"}
          ='Upload Video File'

  -else
    -if params[:video_uri]
      .pt-2
        %a.btn.btn-green{"data-target" => "#vimeo-upload-modal", "data-toggle" => "modal", :href => "#"}
          ='Upload Successful'
    -else
      .pt-2
        %a.btn.btn-orange{"data-target" => "#vimeo-upload-modal", "data-toggle" => "modal", :href => "#"}
          ='Replace Video File'


  .form-group.pt-3
    =cme_video.label :duration, t('views.course_module_element_videos.form.duration')
    .input-group.input-group-lg.full-width
      =cme_video.text_field :duration, placeholder: t('views.course_module_element_videos.form.duration_placeholder'), class: 'form-control'


