=f.fields_for :course_module_element_video do |cme_video|
  =cme_video.hidden_field :difficulty_level, value: ApplicationController::DIFFICULTY_LEVEL_NAMES.first
  -if @video_guid
    =cme_video.hidden_field :vimeo_guid, value: @video_guid

  -if @course_module_element.new_record?
    -if params[:video_uri]
      .l-margin-top.l-margin-bottom-big
        %a{data: {remodal: {target: 'vimeo-upload-modal'}}, class: 'btn btn-green'}
          ='Upload Successful'
    -else
      .l-margin-top.l-margin-bottom-big
        %a{data: {remodal: {target: 'vimeo-upload-modal'}}, class: 'btn btn-orange'}
          ='Upload Video File'

  -else
    -if params[:video_uri]
      .l-margin-top.l-margin-bottom-big
        %a{data: {remodal: {target: 'vimeo-upload-modal'}}, class: 'btn btn-green'}
          ='Upload Successful'
    -else
      .l-margin-top.l-margin-bottom-big
        %a{data: {remodal: {target: 'vimeo-upload-modal'}}, class: 'btn btn-orange'}
          ='Replace Video File'


  =cme_video.label :duration, t('views.course_module_element_videos.form.duration'), class: 'control-label'
  .input-group.input-group-lg.full-width
    =cme_video.text_field :duration, placeholder: t('views.course_module_element_videos.form.duration_placeholder'), class: 'form-control', style: 'border-radius: 6px;', required: true
  %br/

