=f.fields_for :course_module_element_video do |cme_video|

  .form-group
    =cme_video.label :vimeo_guid, t('views.course_module_element_videos.form.vimeo_guid')
    .input-group.input-group-lg
      =cme_video.text_field :vimeo_guid, placeholder: t('views.course_module_element_videos.form.vimeo_guid_placeholder'), class: 'form-control'

  .form-group
    =cme_video.label :voo_player_id, t('views.course_module_element_videos.form.voo_player_id')
    .input-group.input-group-lg
      =cme_video.text_field :voo_player_id, placeholder: t('views.course_module_element_videos.form.voo_player_id_placeholder'), class: 'form-control'


  .form-group
    =cme_video.label :duration, t('views.course_module_element_videos.form.duration')
    .input-group.input-group-lg
      =cme_video.text_field :duration, placeholder: t('views.course_module_element_videos.form.duration_placeholder'), class: 'form-control'

