=f.fields_for :course_module_element_video do |cme_video|

  -#=cme_video.label :video_id, t('views.course_module_element_videos.form.video_id'), class: 'control-label'
  -#.input-group.input-group-lg.full-width
    =cme_video.text_field :video_id, placeholder: t('views.course_module_element_videos.form.video_id_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

  %br/
  =cme_video.file_field :video, class: 'form-control'
  %br/
  =cme_video.label :tags, t('views.course_module_element_videos.form.tags'), class: 'control-label'
  .input-group.input-group-lg.full-width
    =cme_video.text_field :tags, placeholder: t('views.course_module_element_videos.form.tags_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
  %br/
  =cme_video.label :transcript, t('views.course_module_element_videos.form.transcript'), class: 'control-label'
  .input-group.input-group-lg.full-width
    =cme_video.text_area :transcript, placeholder: t('views.course_module_element_videos.form.transcript_placeholder'), class: 'form-control', rows: 5, style: 'border-radius: 6px;'
  %br/
  =cme_video.label :difficulty_level, t('views.course_module_element_videos.form.difficulty_level'), class: 'control-label'
  .input-group.input-group-lg.full-width
    =cme_video.select :difficulty_level, ApplicationController::DIFFICULTY_LEVEL_NAMES, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
