.modal.fade{id: 'vimeo-upload-modal', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'vimeoUploadModal', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-text.modal-close.p-0{"data-dismiss" => "modal"}
        %span.sr-only Close Modal
        %i.material-icons{"aria-hidden" => "true"} close

      .modal-header
        %h3.mb-3{id: 'vimeoUploadModal'}
          ='Upload Video File'


      .modal-body

        %form{enctype: 'multipart/form-data', :action => @ticket_url, :method => "post"}
          .row
            .col-sm-12
              =label_tag :file_data, 'Video File'
              =file_field_tag :file_data

              =submit_tag 'Submit', class: 'btn btn-primary'

