.container
  %header.management-console-section
    %h1
      =t('views.course_tutor_details.index.h1')
  %section.pb-7
    .row
      .col-sm-12
        .box-item.table-box
          .table-responsive
            %table.table.sorted_table{data: {destination: subject_course_course_tutor_details_url(subject_course_id: @subject_course.id)}}
              %thead
                %tr
                  %th=t('views.course_tutor_details.form.user_id')
                  %th=t('views.course_tutor_details.form.title')
                  %th
                  %th
              %tbody
                -@course_tutor_details.each do |course_tutor_detail|
                  %tr{id: course_tutor_detail.id}
                    %td=course_tutor_detail.user.full_name
                    %td=course_tutor_detail.title
                    %td
                      =link_to t('views.general.edit'), edit_subject_course_course_tutor_detail_url(subject_course_id: @subject_course.id, id: course_tutor_detail.id), class: 'btn btn-primary btn-xs'

                      -if course_tutor_detail.destroyable?
                        =link_to t('views.general.delete'), subject_course_course_tutor_detail_url(subject_course_id: @subject_course.id, id: course_tutor_detail), method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary btn-xs'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

    .row.pt-4
      .col-sm-12
        =link_to t('views.general.new'), new_subject_course_course_tutor_detail_url(subject_course_id: @subject_course.id), class: 'btn btn-primary'
        =link_to t('views.general.return'), subject_course_url(@subject_course), class: 'btn btn-secondary'

