.row
  .col-sm-8.col-sm-offset-2
    %img{src: '/assets/images/404_V2.png', class: 'img-responsive'}
.row
  .col-sm-12.text-center{style: 'color: #d64147;'}
    %h1 Sorry, we couldn't find what you are looking for
    %p
      We missed the mark!
      but don't worry. We're working on fixing this link.
    %p=link_to 'Visit our home page', root_url, class: 'btn btn-success'
