.row
  .col-sm-12
    .page-header
      %h1=t('views.institutions.index.h1')
      =render partial: 'shared/horizontal_hierarchy'

-if @subject_areas.length > 1
  =render partial: 'shared/filter_panel', locals: {controller_name: 'institutions', parameters: [{name: :subject_area_url, collection: @subject_areas, show_attr: :name, value_attr: 'name_url'}]}

.row
  .col-sm-12
    =will_paginate @institutions, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered.sorted_table{data: {destination: institutions_url}}
      %thead
        %tr
          %th
            =t('views.institutions.form.name')
            %br/
            =t('views.institutions.form.short_name')
          %th
            =t('views.institutions.form.feedback_url')
            %br/
            =t('views.institutions.form.help_desk_url')
          %th=t('views.institutions.form.active')
          -if current_user.admin?
            %th
            %th
      %tbody
        -#tracker = nil
        -@institutions.each do |institution|
          -#unless tracker == institution.subject_area_id
            -tracker = institution.subject_area_id
            %tr
              %td{colspan: 4}
                .h2=link_to institution.subject_area.name, institution.subject_area
          %tr{id: institution.id}
            %td
              =link_to(institution.name, institution, title: t('views.general.view_tooltip'))
              %br/
              =link_to(institution.short_name, institution, title: t('views.general.view_tooltip'))
            %td
              =link_to(institution.feedback_url, institution.feedback_url, title: t('views.general.view_tooltip'), target: '_blank')
              %br/
              =link_to(institution.help_desk_url, institution.help_desk_url, title: t('views.general.view_tooltip'), target: '_blank')
            %td=link_to(tick_or_cross(institution.active), institution, title: t('views.general.view_tooltip'))
            -if current_user.admin?
              %td
                =link_to t('views.general.edit'), edit_institution_url(institution), class: 'btn btn-info btn-xs'
                -if institution.destroyable?
                  =link_to t('views.general.delete'), institution, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
              %td
                %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

-if current_user.admin?
  .row
    .col-sm-12
      =link_to t('views.general.new'), new_institution_url(subject_area_id: @subject_area.try(:id)), class: 'btn btn-success', title: t('views.general.new_tooltip')
