=form_for(@student_user_type, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @student_user_type, message: nil}
  .row
    .col-md-8.col-md-offset-2
      =f.label :name, t('views.student_user_types.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.student_user_types.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
      %br/
      =f.label :description, t('views.student_user_types.form.description'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_area :description, placeholder: t('views.student_user_types.form.description_placeholder'), rows: 4, class: 'form-control', style: 'border-radius: 6px;'
      %br/
      %br/
      .form-group
        .col-sm-8.col-sm-offset-4
          .checkbox
            %label
              =f.check_box :subscription
              =t('views.student_user_types.form.subscription')
      .form-group
        .col-sm-8.col-sm-offset-4
          .checkbox
            %label
              =f.check_box :product_order
              =t('views.student_user_types.form.product_order')

  .row
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), student_user_types_path, class: 'btn btn-cyan'
