.accredited-sidenav
    .accredited-sidenav-logo
        LearnSignal

    .accredited-sidenav-table
        .accredited-sidenav-btn
            Dashboard
        .accredited-sidenav-btn
            My Programs 
        .accredited-sidenav-btn
            Explore Programs
        .accredited-sidenav-btn
            Blog 