-@expired_enrollments.each do |enrollment|
  -if enrollment.subject_course && enrollment.subject_course.active
    .card.card-horizontal.flex-row{style: 'margin-bottom: 1.5rem;'}
      .card-body.d-flex.flex-column.justify-content-center
        %small.card-category.mb-2{style: "color: #{enrollment.subject_course.highlight_colour};"}
          ="#{enrollment.days_until_exam} days until exam"

        %h5.card-title.mb-1
          %span.mr-1
            =enrollment.subject_course.name
      .card-footer.d-flex.justify-content-center.align-items-center{style: 'background-color: #fff; border-top: none;'}
        =link_to 'Start Course Again', library_special_link(enrollment.subject_course), class: 'btn btn-secondary'
