-@expired_enrollments.each do |enrollment|
  -if enrollment.subject_course && enrollment.subject_course.active
    .card.card-dashboard
      .card-dashboard-outer-cover{style: 'height: 175px;'}
        .card-inner
          .col-sm-8.col-xs-12
            %h3.h3{style: 'color: #3E3F5B'}
              =enrollment.subject_course.name
            .card-info.hidden-xs
              %p.p{style: 'color: #EF5153;'}
                ='Enrolment Expired - '
                -if enrollment.exam_sitting_id && enrollment.exam_sitting.date
                  =exam_sitting_date(enrollment.enrollment_date)

          .col-sm-4.col-xs-12.text-center.resume-course.hidden-xs

            .col-sm-12.col-xs-6
              .card-info.hidden-xs
                .h3
                  =enrollment.display_percentage_complete
                  Complete
