%br/
%h1=t('views.dashboard.tutor.title') + ': ' + current_user.try(:full_name)
%br/
.row
  .col-sm-8
    -@all_courses.each_with_index do |course|
      .col-sm-12
        -if course.tutor
          %h3=course.name + ': ' + course.tutor.full_name
        -else
          %h3=course.name + ': ' + 'No Tutor Assigned'
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th=t('views.course_modules.index.h1')
              %th=t('views.course_module_elements.form.active')
              %th=t('views.dashboard.tutor.course_module_element_quizzes')
              %th="#{t('views.dashboard.tutor.course_module_element_videos')} / #{t('views.dashboard.tutor.total_time_watched')}"
              %th=t('views.dashboard.tutor.total_course_module_elements')
              %th=t('views.library.show.jumbo_quiz')
          %tbody
            -@course_modules.where(exam_level_id: course.id).each do |course_modules|
              %tr{id: course_modules.id}
                %td=link_to(course_modules.name, course_module_special_link(course_modules), title: t('views.general.view_tooltip'))
                %td=tick_or_cross(course_modules.active?)
                %td=course_modules.course_module_element_quizzes.count
                -if course_modules.course_module_element_videos.count > 0
                  %td= "%d (%02d:%02d:%02d)" % [course_modules.course_module_element_videos.count,
                  course_modules.total_time_watched_videos[:hours], course_modules.total_time_watched_videos[:minutes],
                  course_modules.total_time_watched_videos[:seconds]]
                -else
                  %td= course_modules.course_module_element_videos.count
                %td=course_modules.course_module_elements.count
                %td=tick_or_cross(course_modules.course_module_jumbo_quiz)

  %br/
  %br/
  .col-sm-4
    %p='Total Video View Time: ' + humanize_time(@total_seconds).to_s
    %p='Total Video View Time this month: ' + humanize_time(@monthly_total_seconds).to_s
    %hr/
    =link_to t('views.referral_codes.index.h1'), referral_codes_url, class: 'btn btn-ls-default'
