%h1=t('views.general.admin')

.row
  .col-sm-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th=t('views.dashboard.admin.user_data')
          %th=t('views.dashboard.admin.total_number_of_items')
          %th=t('views.dashboard.admin.active')
          %th=t('views.dashboard.admin.new_items_in_last_7_days')
      %tbody
        %tr
          %td=link_to t('views.dashboard.admin.users'), users_url
          %td=@all_users.count
          %td=@active_users.count
          %td=@new_users.count
        %tr
          %td=link_to t('views.dashboard.admin.user_groups'), user_groups_url
          %td=@all_user_groups.count
          %td
          %td=@new_user_groups.count

    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th=t('views.dashboard.admin.course_content_data')
          %th=t('views.dashboard.admin.total_number_of_items')
          %th=t('views.dashboard.admin.active')
          %th=t('views.dashboard.admin.new_items_in_last_7_days')
      %tbody
        %tr
          %td=link_to t('views.dashboard.admin.subject_areas'), subject_areas_url
          %td=@all_subject_areas.count
          %td=@active_subject_areas.count
          %td=@new_subject_areas.count
        %tr
          %td=link_to t('views.dashboard.admin.institutions'), institutions_url
          %td=@all_institutions.count
          %td=@active_institutions.count
          %td=@new_institutions.count
        %tr
          %td=link_to t('views.dashboard.admin.qualifications'), qualifications_url
          %td=@all_qualifications.count
          %td=@active_qualifications.count
          %td=@new_qualifications.count
        %tr
          %td=link_to t('views.dashboard.admin.exam_levels'), exam_levels_url
          %td=@all_exam_levels.count
          %td=@active_exam_levels.count
          %td=@new_exam_levels.count
