-if @edited_recently.count > 0
  %h3=t('views.dashboard.content_manager.edited_in_last_3_days')
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th=t('views.static_pages.form.name')
        %th=t('views.static_pages.form.public_url')
        %th
    %tbody
      -@edited_recently.each do |static_page|
        %tr{id: static_page.id}
          %td=link_to(static_page.name, static_page, title: t('views.general.view_tooltip'))
          %td=link_to(static_page.public_url, static_page, title: t('views.general.view_tooltip'))
          %td=link_to t('views.static_pages.index.preview'), static_page_url(static_page.id, preview: 'yes'), class: 'btn btn-info btn-xs', target: '_blank'

-if @recently_published.count > 0
  %h3=t('views.dashboard.content_manager.published_in_last_3_days')
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th=t('views.static_pages.form.name')
        %th=t('views.static_pages.form.public_url')
        %th
    %tbody
      -@recently_published.each do |static_page|
        %tr{id: static_page.id}
          %td=link_to(static_page.name, static_page, title: t('views.general.view_tooltip'))
          %td=link_to(static_page.public_url, static_page, title: t('views.general.view_tooltip'))
          %td=link_to t('views.static_pages.index.preview'), static_page_url(static_page.id, preview: 'yes'), class: 'btn btn-info btn-xs', target: '_blank'

-if @publishes_soon.count > 0
  %h3=t('views.dashboard.content_manager.publishes_in_next_3_days')
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th=t('views.static_pages.form.name')
        %th=t('views.static_pages.form.public_url')
        %th
    %tbody
      -@publishes_soon.each do |static_page|
        %tr{id: static_page.id}
          %td=link_to(static_page.name, static_page, title: t('views.general.view_tooltip'))
          %td=link_to(static_page.public_url, static_page, title: t('views.general.view_tooltip'))
          %td=link_to t('views.static_pages.index.preview'), static_page_url(static_page.id, preview: 'yes'), class: 'btn btn-info btn-xs', target: '_blank'

-if @recently_expired.count > 0
  %h3=t('views.dashboard.content_manager.expired_in_last_3_days')
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th=t('views.static_pages.form.name')
        %th=t('views.static_pages.form.public_url')
        %th
    %tbody
      -@recently_expired.each do |static_page|
        %tr{id: static_page.id}
          %td=link_to(static_page.name, static_page, title: t('views.general.view_tooltip'))
          %td=link_to(static_page.public_url, static_page, title: t('views.general.view_tooltip'))
          %td=link_to t('views.static_pages.index.preview'), static_page_url(static_page.id, preview: 'yes'), class: 'btn btn-info btn-xs', target: '_blank'

-if @expires_soon.count > 0
  %h3=t('views.dashboard.content_manager.expires_in_next_3_days')
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th=t('views.static_pages.form.name')
        %th=t('views.static_pages.form.public_url')
        %th
    %tbody
      -@expires_soon.each do |static_page|
        %tr{id: static_page.id}
          %td=link_to(static_page.name, static_page, title: t('views.general.view_tooltip'))
          %td=link_to(static_page.public_url, static_page, title: t('views.general.view_tooltip'))
          %td=link_to t('views.static_pages.index.preview'), static_page_url(static_page.id, preview: 'yes'), class: 'btn btn-info btn-xs', target: '_blank'


.row
  .col-sm-12
    =link_to t('views.dashboard.content_manager.see_all_static_pages'), static_pages_url, class: 'btn btn-success'