-if @enrollments.any?
  -@enrollments.each do |enrollment|
    -if enrollment.subject_course
      .card.card-horizontal.flex-row{style: 'margin-bottom: 1.5rem;'}
        .card-header.justify-content-center.align-items-center.d-none.d-sm-block
          .pt-4.text-center
            .h4
              =enrollment.display_percentage_complete
            .h4
              Complete
        .card-body.d-flex.flex-column.justify-content-center
          %small.card-category.mb-2{style: "color: #{enrollment.subject_course.highlight_colour};"}
            ="#{enrollment.days_until_exam} days until exam"

          %h5.card-title.mb-1
            %span.mr-1
              =enrollment.subject_course.name
        .card-footer.d-flex.justify-content-center.align-items-center{style: 'background-color: #fff; border-top: none;'}
          =link_to 'Resume Course', library_special_link(enrollment.subject_course), class: 'btn btn-primary'
-else
  .row.row-lg
    -@default_group.subject_courses.all_in_order.each do |course|
      .col-sm
        =link_to library_special_link(course), class: 'card card-horizontal flex-row card-mint' do
          .card-header.d-flex.justify-content-center.align-items-center
            %i{"aria-label" => course.icon_label, :role => "img", class: course.icon_label ? course.icon_label : 'budicon-office-bag-c', style: "color: #{course.highlight_colour};"}

          .card-body.d-flex.flex-column.justify-content-center
            %small.card-category.mb-2{style: "color: #{course.highlight_colour};"}
              =course.category_label
            %h5.card-title.mb-1
              %span.mr-1
                =course.name
