-if @latest_level_or_section
  .row
    .col-sm-6.col-sm-offset-3
      .well.well-sm.dashboard-well
        -if @latest_set.jumbo_quiz_taken
          .text-center
          %h1=@latest_level_or_section.name
          .row
            .col-sm-10.col-sm-offset-1
              =render partial: 'shared/static_progress_bar', locals: {percent: @latest_set.percentage_complete, value_now: @latest_set.count_of_cmes_completed, value_max: @latest_set.elements_total}
          =link_to t('views.course_module_elements.show.continue'), course_special_link(@latest_set.latest_course_module_element.next_element), class: 'btn btn-success btn-lg btn-ls-default'
          .row
            .col-sm-12
              %br/
              =link_to t('views.dashboard.individual_student.overview'), library_special_link(@latest_set.latest_course_module_element.parent.parent)

        -else
          .text-center
            %h1=@latest_level_or_section.name
            .row
              .col-sm-10.col-sm-offset-1
                =render partial: 'shared/static_progress_bar', locals: {percent: @latest_set.percentage_complete, value_now: @latest_set.count_of_cmes_completed, value_max: @latest_set.elements_total}
            =link_to t('views.course_module_elements.show.continue'), course_special_link(@latest_set.latest_course_module_element.next_element), class: 'btn btn-success btn-lg btn-ls-default'
            .row
              .col-sm-12
                %br/
                =link_to t('views.dashboard.individual_student.overview'), library_special_link(@latest_set.latest_course_module_element.parent.parent)

  %hr/
  .row
    -@latest_level_or_section.parent.children.all_active.each do |child|
      .col-sm-10.col-sm-offset-1
        .panel.panel-list
          =link_to library_special_link(child), class: 'panel-body panel-title col-sm-12 panel-text hidden-xs' do
            =child.name
            .continue-container.pull-right
              .glyphicon.glyphicon-menu-right

          =link_to library_special_link(child), class: 'panel-body panel-title col-sm-12 panel-text visible-xs' do
            =child.name
            .continue-container.pull-right
              .glyphicon.glyphicon-menu-right

-else
  .row
    .col-sm-12
      .page-header
        %h1=t('views.dashboard.index.h1')
  .row
    .col-sm-12
      .well
        =t('views.dashboard.individual_student.no_content_right_now')
      =link_to t('views.library.show.h1'), library_url, class: 'btn btn-ls-default btn-lg'
