%br/
-if @incomplete_student_exam_tracks.try(:count).to_i > 0
  -first_set = @incomplete_student_exam_tracks.first
  .row
    .col-sm-6.col-sm-offset-3
      .well.well-sm.dashboard-well
        .text-center
          .h1
            = first_set.latest_course_module_element.course_module.parent.name
          .row
            .col-sm-10.col-sm-offset-1
              =#render partial: 'shared/static_progress_bar', locals: {percent: first_set.percentage_complete, value_now: first_set.count_of_cmes_completed, value_max: first_set.elements_total}
          =link_to t('views.course_module_elements.show.continue'), course_special_link(first_set.latest_course_module_element.next_element), class: 'btn btn-success btn-lg btn-ls-default'
          .row
            .col-sm-12
              %br/
              =link_to 'Overview', library_special_link(first_set.latest_course_module_element.parent.parent)
        %br/

  =#@latest_level_or_section.parent.children.all_active.inspect

  %hr/
  .row
    -@latest_level_or_section.parent.children.all_active.each do |set|
      .col-sm-10.col-sm-offset-1
        .panel.panel-list
          =link_to library_special_link(set), class: 'panel-body panel-title col-sm-12 panel-text' do
            .col-sm-6
              =set.name
            .col-sm-6
              .continue-container.pull-right
                .glyphicon.glyphicon-menu-right

            =#render partial: 'shared/static_progress_bar', locals: {percent: set.percentage_complete, value_now: set.count_of_cmes_completed, value_max: set.elements_total}

-else
  .row
    .col-sm-12
      .well
        =t('views.dashboard.individual_student.no_content_right_now')
      =link_to t('views.library.show.h1'), library_url, class: 'btn btn-success btn-lg'
