.col-md-12.col-lg-12.p-0
  .buy-products
    %h2 Get Practicing
    %p Submit questions for correction by our qualified tutors or try a Mock Exam
    =link_to 'Purchase an Exercise', prep_products_url, class: 'btn btn-primary'