.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Overview
      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'layouts/stats_navbar'

      -#stats
        .row.l-margin-top.l-margin-bottom-huge
          .col-md-3.col-sm-3.col-xs-6
            .stats-box
              .stats-box-inner
                .h3
                  =@new_users.count
                .h6
                  New Users

          .col-md-3.col-sm-3.col-xs-6
            .stats-box
              .stats-box-inner
                .h3
                  =@free_trial_users.count
                .h6
                  Active Free Trials

          .col-md-3.col-sm-3.col-xs-6
            .stats-box
              .stats-box-inner
                .h3
                  =@new_subscriptions.count
                .h6
                  New Subscriptions

          .col-md-3.col-sm-3.col-xs-6
            .stats-box
              .stats-box-inner
                .h3
                  =@all_subscriptions.count
                .h6
                  All Subscriptions

