.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center
            =t('models.users.import_csv')
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .col-sm-12
            =@users.inspect

      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          =link_to 'Return to Dashboard', admin_dashboard_url, class: 'btn btn-cyan'
