-if current_user
  -if current_user.individual_student?
    =render partial: 'dashboard/individual_student'
  -elsif current_user.content_manager?
    =render partial: 'dashboard/content_manager'
  -elsif current_user.tutor?
    =render partial: 'dashboard/tutor'
  -elsif current_user.admin?
    =render partial: 'dashboard/admin'
  -else
    =render partial: 'dashboard/individual_student'
