%main
  %article.dashboard.bg-gray5
    -if current_user.non_verified_user?
      .alert.alert-warning
        Your email requires verification. You will be unable to access content until you verify your email

    .container
      %header
        %h1.h1-hero.pt-5
          =t('views.dashboard.student.h1')

      %section.pb-md-6.pt-4
        .row.row-md
          .col-lg-2-7
            %nav.mb-4.account-nav
              %ul#dashboardTabs.nav.nav-tabs.nav-tabs-vertical{:role => "tablist"}
                -if @enrollments.any?
                  %li.nav-item
                    %a#enrollments-tab.nav-link.active{"aria-controls" => "enrollments", "aria-selected" => "true", "data-toggle" => "tab", :href => "#enrollments", :role => "tab"}
                      Enrolments
                  %li.nav-item
                    %a#activity-tab.nav-link{"aria-controls" => "activity", "aria-selected" => "false", "data-toggle" => "tab", :href => "#activity", :role => "tab"}
                      Activity
                -else
                  %li.nav-item
                    %a#activity-tab.nav-link.active{"aria-controls" => "activity", "aria-selected" => "false", "data-toggle" => "tab", :href => "#activity", :role => "tab"}
                      Activity
                -if current_user.exercises.any?
                  %li.nav-item
                    %a#exercises-tab.nav-link{"aria-controls" => "exercises", "aria-selected" => "true", "data-toggle" => "tab", :href => "#exercises", :role => "tab"}
                      Exercises

          .col-lg-5-7
            #dashboardTabsContent.tab-content
              -if @enrollments.any?
                #enrollments.tab-pane.show.active.tab-dashboard.tab-enrollments{"aria-labelledby" => "enrollments-tab", :role => "tabpanel"}
                  =render partial: 'enrollments'

                #activity.tab-pane.tab-account.tab-dashboard{"aria-labelledby" => "activity-tab", :role => "tabpanel"}
                  =render partial: 'activity'
              -else
                #activity.tab-pane.tab-account.active.tab-dashboard{"aria-labelledby" => "activity-tab", :role => "tabpanel"}
                  =render partial: 'activity'

              -if current_user.exercises.any?
                #exercises.tab-pane.show.tab-dashboard.tab-exercises{"aria-labelledby" => "exercises-tab", :role => "tabpanel"}
                  =render partial: 'exercises'



:javascript
  $(document).ready(function(){
    hash = window.location.hash;
    elements = $('a[href="' + hash + '"]');
    if (elements.length > 0) {
      elements.click();
    }
    if (location.hash) {
      setTimeout(function() {
          window.scrollTo(0, 0);
      }, 1);
    }

  });
