%main
  %article.dashboard.bg-gray5
    .container
      %header
        %h1.h1-hero.pt-5
          =t('views.dashboard.student.h1')


      %section.pb-md-6

        .row.tabs
          .col-sm-12.col-md-3
            .dashboard-tabs
              %ul
                %li
                  %a.active{href: '#enrollments', role: 'tab', data: {toggle: 'tab'}}
                    Active Enrolments
                -if @expired_enrollments
                  %li
                    %a{href: '#activity', role: 'tab', data: {toggle: 'tab'}}
                      Expired Enrolments

          .col-sm-12.col-md-9
            .dashboard-tab-content
              .tab.dashboard-tab#enrollments
                =render partial: 'enrollments'

              -if @expired_enrollments
                .tab.dashboard-tab#activity
                  =render partial: 'activity'



:javascript
  $(document).ready(function(){
    // Tabs
    $('.tabs').tabs();
  });
