.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-3
          %h1.h1.h-separator.h-separator-left.l-margin-bottom
            =t('views.dashboard.student.h1')

        .col-sm-9
          .welcome{style: 'background: #D0F6BD; border-radius: 8px; '}
            %h3.h3{style: 'padding: 12px 20px;'}
              ="Welcome back #{current_user.first_name}!"


      .row.tabs
        .col-sm-3
          .dashboard-tabs
            %ul
              %li
                %a.active{href: '#enrollments', role: 'tab', data: {toggle: 'tab'}}
                  Active Enrolments
              -#if @expired_enrollments
                %li
                  %a{href: '#activity', role: 'tab', data: {toggle: 'tab'}}
                    Expired Enrolments

        .col-sm-9
          .dashboard-tab-content
            .tab.dashboard-tab#enrollments
              =render partial: 'enrollments'

            -#if @expired_enrollments
              .tab.dashboard-tab#activity
                =render partial: 'activity'



:javascript

  $(document).ready(function(){

    // Tabs
    $('.tabs').tabs();

  });
