.margin-top

-if @first_active_log
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'

  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        %h1.h1.h-separator.h-separator-left
          Dashboard

        .tabs.account-tabs
          %ul.l-margin-top
            %li
              %a.active{href: '#enrollments', role: 'tab', data: {toggle: 'tab'}}
                Enrollments
            %li
              %a{href: '#activity', role: 'tab', data: {toggle: 'tab'}}
                Activity
          .account-tab-content
            .tab.account-tab#enrollments
              =render partial: 'enrollments'

            .tab.account-tab#activity
              =render partial: 'activity'



:javascript

  $(document).ready(function(){

    // Tabs
    $('.tabs').tabs();

  });
