-if @enrollments
  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        %h1.h1.h-separator.h-separator-left.l-margin-bottom
          =t('views.dashboard.student.h1')

        .row.tabs
          .col-sm-3
            .dashboard-tabs
              %ul
                %li
                  %a.active{href: '#enrollments', role: 'tab', data: {toggle: 'tab'}}
                    Active Enrolments
                -if @expired_enrollments
                  %li
                    %a{href: '#activity', role: 'tab', data: {toggle: 'tab'}}
                      Expired Enrolments

          .col-sm-9
            .dashboard-tab-content
              .tab.dashboard-tab#enrollments
                =render partial: 'enrollments'

              -if @expired_enrollments
                .tab.dashboard-tab#activity
                  =render partial: 'activity'



-else

  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        %h1.h1.h-separator.h-separator-left.l-margin-bottom
          Dashboard

      .text-center.l-margin-top-huge.l-margin-bottom-huge
        %h2
          What courses are you interested in ?
      .container-fluid.l-margin-bottom-huge
        .course-list-wrap
          .row
            -@default_group.subject_courses.all_in_order.each do |course|
              .col-sm-6.col-md-4.l-margin-bottom-big.l-margin-top
                =link_to library_special_link(course), class: 'card card-course' do
                  .card-outer
                    .card-inner
                      %h3.h3.card-title.l-margin-bottom{style: 'color: black;'}
                        =course.name
                      -if course.short_description
                        %p.card-desc
                          =course.try(:short_description).truncate(185)
                  .card-label
                    .row
                      .col-md-12.col-xs-12
                        .col-md-6.col-xs-6
                          %h6
                            =t('views.general.browse')
                        .col-md-6.col-xs-6.text-right


:javascript

  $(document).ready(function(){

    // Tabs
    $('.tabs').tabs();

  });
