.row
  .col-sm-12
    .page-header
      %h1=t('views.static_pages.index.h1')
.row
  .col-sm-12
    =will_paginate @static_pages, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th=t('views.static_pages.form.name')
          %th=t('views.static_pages.form.publish_from')
          %th=t('views.static_pages.form.publish_to')
          %th=t('views.static_pages.form.public_url')
          %th=t('views.static_pages.form.use_standard_page_template')
          %th=t('views.static_pages.form.seo_title')
          %th=t('views.static_pages.form.default_page_for_this_url')
          %th=t('views.static_pages.form.make_this_page_sticky')
          %th=t('views.static_pages.form.logged_in_required')
          %th
      %tbody
        -@static_pages.each do |static_page|
          %tr{id: static_page.id}
            %td=link_to(static_page.name, static_page, title: t('views.general.view_tooltip'))
            %td=link_to(static_page.publish_from.to_s(:standard), static_page, title: t('views.general.view_tooltip'))
            %td=link_to(static_page.publish_to.to_s(:standard), static_page, title: t('views.general.view_tooltip'))
            %td=link_to(static_page.public_url, static_page, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(static_page.use_standard_page_template), static_page, title: t('views.general.view_tooltip'))
            %td=link_to(static_page.seo_title, static_page, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(static_page.default_page_for_this_url), static_page, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(static_page.make_this_page_sticky), static_page, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(static_page.logged_in_required), static_page, title: t('views.general.view_tooltip'))
            %td
              -#=link_to t('views.general.view'), static_page
              =link_to t('views.general.edit'), edit_static_page_url(static_page), class: 'btn btn-info btn-xs'
              -if static_page.destroyable?
                =link_to t('views.general.delete'), static_page, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'

.row
  .col-sm-12
    =link_to t('views.general.new'), new_static_page_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
