.row
  .col-sm-12
    .page-header
      %h1
        =@static_page.name
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.static_pages.form.public_url')
        %td.col-sm-8=@static_page.public_url
      %tr
        %td.col-sm-4=t('views.static_pages.form.name')
        %td.col-sm-8=@static_page.name
      %tr
        %td.col-sm-4=t('views.static_pages.form.publish_from')
        %td.col-sm-8=@static_page.publish_from.to_s(:standard)
      %tr
        %td.col-sm-4=t('views.static_pages.form.publish_to')
        %td.col-sm-8
          -if @static_page.publish_to
            =@static_page.publish_to.to_s(:standard)
          -else
            =t('views.static_pages.index.ongoing')
      %tr
        %td.col-sm-4=t('views.static_pages.form.allow_multiples')
        %td.col-sm-8=tick_or_cross(@static_page.allow_multiples)
      %tr
        %td.col-sm-4=t('views.static_pages.form.use_standard_page_template')
        %td.col-sm-8=tick_or_cross(@static_page.use_standard_page_template)
      %tr
        %td.col-sm-4=t('views.static_pages.form.head_content')
        %td.col-sm-8=@static_page.head_content
      %tr
        %td.col-sm-4=t('views.static_pages.form.body_content')
        %td.col-sm-8=@static_page.body_content
      %tr
        %td.col-sm-4=t('views.static_pages.form.created_by')
        %td.col-sm-8=@static_page.creator.try(:full_name)
      %tr
        %td.col-sm-4=t('views.static_pages.form.updated_by')
        %td.col-sm-8=@static_page.updater.try(:full_name)
      %tr
        %td.col-sm-4=t('views.static_pages.form.add_to_navbar')
        %td.col-sm-8=tick_or_cross(@static_page.add_to_navbar)
      %tr
        %td.col-sm-4=t('views.static_pages.form.add_to_footer')
        %td.col-sm-8=tick_or_cross(@static_page.add_to_footer)
      %tr
        %td.col-sm-4=t('views.static_pages.form.menu_label')
        %td.col-sm-8=@static_page.menu_label
      %tr
        %td.col-sm-4=t('views.static_pages.form.tooltip_text')
        %td.col-sm-8=@static_page.tooltip_text
      %tr
        %td.col-sm-4=t('views.static_pages.form.language')
        %td.col-sm-8=@static_page.language
      %tr
        %td.col-sm-4=t('views.static_pages.form.mark_as_noindex')
        %td.col-sm-8=tick_or_cross(@static_page.mark_as_noindex)
      %tr
        %td.col-sm-4=t('views.static_pages.form.mark_as_nofollow')
        %td.col-sm-8=tick_or_cross(@static_page.mark_as_nofollow)
      %tr
        %td.col-sm-4=t('views.static_pages.form.seo_title')
        %td.col-sm-8=@static_page.seo_title
      %tr
        %td.col-sm-4=t('views.static_pages.form.seo_description')
        %td.col-sm-8=@static_page.seo_description
      %tr
        %td.col-sm-4=t('views.static_pages.form.approved_country_ids')
        %td.col-sm-8=@static_page.approved_country_ids
      %tr
        %td.col-sm-4=t('views.static_pages.form.default_page_for_this_url')
        %td.col-sm-8=tick_or_cross(@static_page.default_page_for_this_url)
      %tr
        %td.col-sm-4=t('views.static_pages.form.make_this_page_sticky')
        %td.col-sm-8=tick_or_cross(@static_page.make_this_page_sticky)
      %tr
        %td.col-sm-4=t('views.static_pages.form.logged_in_required')
        %td.col-sm-8=tick_or_cross(@static_page.logged_in_required)
    %p
      =link_to t('views.general.back'), static_pages_url
      |
      =link_to t('views.general.edit'), edit_static_page_url(id: @static_page.id), title: t('views.general.edit_tooltip')
      |
      =link_to t('views.static_pages.index.preview'), static_page_url(@static_page.id, preview: 'yes'), class: 'btn btn-info btn-xs', target: '_blank'
