%main
  %article.bg-gray5
    .container
      %section.py-md-6.py-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item
              .row.justify-content-center
                .col-xs-12
                  %h4.pt-4.text-center
                    You are now unsubscribe from this list
