%p FlashQuiz questions will be delivered to users in random order.  Every FlashQuiz question will be delivered to the user.
-#  f: f, stack: stack, pack: pack
=stack.fields_for :flash_quiz do |flash_quiz|
  =flash_quiz.hidden_field :id, class: 'flash_quiz_field'
  .well.well-sm#quiz-well
    .form-group
      =flash_quiz.label :background_color, class: 'control-label col-sm-2'
      .col-sm-4
        =flash_quiz.color_field :background_color, class: 'form-control flash_quiz_bg_col flash_quiz_field'
      =flash_quiz.label :foreground_color, class: 'control-label col-sm-2'
      .col-sm-4
        =flash_quiz.color_field :foreground_color, class: 'form-control flash_quiz_col flash_quiz_field'

  =flash_quiz.fields_for :quiz_questions do |quiz_question|
    =render partial: 'course_module_element_quizzes/fields_for_standard_question', locals: {f: f, question: quiz_question, parent: flash_quiz, mode: 'flash'}

  =link_to 'Add a new question', '#', class: 'btn btn-xs btn-info addNewFlashQuizQuestion'
