%p FlashQuiz questions will be delivered to users in random order.  Every FlashQuiz question will be delivered to the user.
-#  f: f, stack: stack, pack: pack

=stack.fields_for :flash_quiz do |flash_quiz|
  =flash_quiz.fields_for :quiz_questions do |quiz_question|
    =render partial: 'course_module_element_quizzes/fields_for_standard_question', locals: {f: f, question: quiz_question, parent: flash_quiz, mode: 'flash'}

  =link_to 'Add a new question', '#', class: 'btn btn-xs btn-info addNewFlashQuizQuestion'
