.row
  .col-sm-8
    .col-xs-6.l-margin-bottom
      .h3
        =t('views.user_accounts.account_info.member_since')
      %p
        =humanize_datetime_full(@user.created_at)
    -#.col-xs-6.l-margin-bottom
      .h3
        =t('views.user_accounts.account_info.account_type')
      %p



  .col-xs-12.col-sm-4
    -if @user.trial_user?
      =link_to 'Upgrade to full membership', new_subscription_url, class: 'btn btn-primary full-width'

