.remodal{"data-remodal-id" => "confirm-cancellation-modal"}
  .row
    .col-md-12
      .col-xs-11
        %h2
          ='Are you sure you want to cancel?'
      .col-xs-1
        %button.remodal-close{"data-remodal-action" => "close"}

  .row{style: 'text-align: left;'}
    .col-sm-12.l-margin-top
      .col-sm-12
        .col-sm-12
          %p.h4
            Don’t miss out on ACCA gold approved tuition and expert guidance which helps students worldwide pass their ACCA.
          %p
            If you cancel, you’ll miss out on unique gold approved learning tools that you can use any time, anywhere. Not to mention the ACCA Study Bootcamp, 24 hour tutor support, full exam schedules, practice questions and webinar week. 



  .row.l-margin-top
    .col-sm-12.l-margin-top
      =form_for @current_subscription, url: subscriptions_cancellations_path(id: @current_subscription.id), method: :post do |f|
        .form-group
          =f.label :cancellation_reason, class: 'block-label'
          =f.select :cancellation_reason, ['Completed Exams', 'No Longer Studying', 'Need a Break', 'Too Expensive'], include_blank: false, prompt: 'Please select'
        .form-group
          =f.label :cancellation_note, 'Cancellation feedback', class: 'block-label'
          =f.text_area :cancellation_note, :cols => 40, :rows => 7
        .row.l-margin-top
          .col-sm-12.l-margin-top
            .col-sm-6
              %a{data: {remodal: {action: 'close'}}, class: 'btn btn-cyan full-width l-margin-bottom'}
                =t('views.users.show.keep_subscription')

            .col-sm-6
              =f.submit t('views.users.show.confirm_subscription_cancellation'), id: 'confirm_cancellation_button', class: 'btn btn-red full-width l-margin-bottom'
            .col-sm-12
              %p
                = account_cancellation_message(@current_subscription)


