.remodal{"data-remodal-id" => "confirm-cancellation-modal"}
  .row
    .col-md-12
      .col-xs-11
        %h2
          ='Are you really sure you want to cancel?'
      .col-xs-1
        %button.remodal-close{"data-remodal-action" => "close"}

  .row{style: 'text-align: left;'}
    .col-sm-12.l-margin-top
      .col-sm-12
        .col-sm-12
          %p.h4
            ="If you quit now, your chances of passing the next exam will significantly decrease. You'll also miss out on:"
          .cancel-sub-list
            %ul
              %li
                %span.strong
                  ='Tired of studying alone?'
                ='New student community'
                ='coming soon!'
              %li
                %span.strong
                  ='Stuck on a study question?'
                ='Get a real answer, 24 hours a day.'
              %li
                ='Our bigger and better'
                %span.strong
                  ='ACCA Study Bootcamp'
                ='coming soon!'
              %li.hidden-xs
                ='More online'
                %span.strong
                  ='Question & Answer sessions'
                ='to help you.'
              %li.hidden-xs
                %span.strong
                  ='Busy at work or home?'
                ='Study at any time in any place.'
              %li
                ='New'
                %span.strong
                  ='online Computer Based Exam practice'
                ='coming soon!'
              %li
                %span.strong
                  ='Prices may rise.'
                ='Lock in your low rate.'



  .row.l-margin-top
    .col-sm-12.l-margin-top
      =form_for(@current_subscription) do |f|
        .form-group
          =f.label :cancellation_reason, class: 'block-label'
          =f.select :cancellation_reason, ['Completed Exams', 'No Longer Studying', 'Need a Break', 'Too Expensive'], include_blank: false, prompt: 'Please select'
        .form-group
          =f.label :cancellation_note, 'Cancellation feedback', class: 'block-label'
          =f.text_area :cancellation_note, :cols => 50, :rows => 10
        .row.l-margin-top
          .col-sm-12.l-margin-top
            .col-sm-6
              %a{data: {remodal: {action: 'close'}}, class: 'btn btn-cyan full-width l-margin-bottom'}
                =t('views.users.show.keep_subscription')

            .col-sm-6
              =f.submit t('views.users.show.confirm_subscription_cancellation'), id: 'confirm_cancellation_button', class: 'btn btn-red full-width l-margin-bottom'
            .col-sm-12
              %p
                = account_cancellation_message(@current_subscription)


