.remodal{"data-remodal-id" => "confirm-cancellation-modal"}
  .row
    .col-md-12
      .col-xs-11
        %h2
          ='Are you really sure you want to cancel?'
      .col-xs-1
        %button.remodal-close{"data-remodal-action" => "close"}

  .row{style: 'text-align: left;'}
    .col-sm-12.l-margin-top
      .col-sm-12
        .col-sm-12
          %p.h4
            ="Here's what you'll be missing:"
          .cancel-sub-list
            %ul
              %li
                %span.strong
                  ='Tired of studying alone?'
                ='New student community'
                ='coming soon!'
              %li
                %span.strong
                  ='Stuck on a study question?'
                ='Get a real answer, 24 hours a day.'
              %li
                ='Our bigger and better'
                %span.strong
                  ='ACCA Study Bootcamp'
                ='coming soon!'
              %li
                ='More online'
                %span.strong
                  ='Question & Answer sessions'
                ='to help you.'
              %li.hidden-xs
                %span.strong
                  ='Busy at work or home?'
                ='Study at any time in any place.'
              %li
                ='New'
                %span.strong
                  ='online Computer Based Exam practice'
                ='coming soon!'
              %li.hidden-xs
                %span.strong
                  ='Trying to memorise an entire textbook?'
                ='Use our bite-sized learning.'
              %li
                %span.strong
                  ='Prices may rise.'
                ='Lock in your low rate.'



  .row.l-margin-top
    .col-sm-12.l-margin-top
      .col-sm-6
        %a{data: {remodal: {action: 'close'}}, class: 'btn btn-cyan full-width l-margin-bottom'}
          =t('views.users.show.keep_subscription')

      .col-sm-6
        =link_to @current_subscription, method: :delete, id: 'confirm_cancellation_button' do
          .btn.btn-red.full-width.l-margin-bottom
            =t('views.users.show.confirm_subscription_cancellation')
      .col-sm-12
        %p
          =t('views.users.show.confirm_cancellation_modal') + "#{humanize_stripe_date_full(@current_subscription.next_renewal_date)} and you will then lose access to all the benefits shown above."


