.remodal{"data-remodal-id" => "confirm-pause-modal"}
  .row
    .col-md-12
      .col-xs-11
        %h2
          ='PAUSE ACCOUNT'
      .col-xs-1
        %button.remodal-close{"data-remodal-action" => "close"}

  .row{style: 'text-align: left;'}
    .col-sm-12.l-margin-top
      .col-sm-12
        .col-sm-12
          %p.h4
            We understand that students sometimes take a break between exams. That’s why we’ve set up the pause function.
          %p.h4
            Your billing will be paused, and when you resume your subscription you’ll secure your current low price when you return to study for your next exam. 

  .row.l-margin-top
    .col-sm-12.l-margin-top
      .col-sm-6
        %a{data: {remodal: {action: 'close'}}, class: 'btn btn-cyan full-width l-margin-bottom'}
          =t('views.users.show.keep_subscription')

      .col-sm-6
        =link_to subscriptions_suspensions_path(id: @current_subscription.id), method: :post do
          .btn.btn-orange.full-width.l-margin-bottom
            =t('views.users.show.confirm_subscription_pause')


