.modal.fade{id: "enrollment-edit-modal-#{enrollment.id}", "aria-hidden" => "true", "aria-labelledby" => "enrollment-edit-modal-#{enrollment.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %button.btn.btn-text.modal-close.p-0{"data-dismiss" => "modal"}
        %i.material-icons{"aria-hidden" => "true"} close
      .modal-header
        %h3.text-gray2.mb-4{class: "enrollmentEdit-#{enrollment.id}"}
          =enrollment.subject_course.name
      .modal-body
        =form_for(enrollment, html: {class: 'py-2', role: 'form'}) do |f|
          .py-3
            -if enrollment.computer_based_exam
              .form-group
                =f.label :exam_date, t('views.enrollments.form.edit_exam_date')
                .form-row.align-items-center.justify-content-xl-between
                  %span.custom-date-select.input-group.input-group-lg
                    =f.date_select :exam_date, {order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' },
                     start_year: Date.today.year - 1, end_year: Date.today.year + 2}, class: 'form-control custom-select'

            -else
              .form-group
                =f.label :exam_sitting_id, t('views.enrollments.form.edit_exam_sitting')
                .input-group.input-group-lg
                  =f.collection_select :exam_sitting_id, enrollment.alternate_exam_sittings, :id, :formatted_date, {include_blank: t('views.general.select')}, {class: 'form-control', id: 'exam_sitting_select'}


          .pt-2.d-flex.flex-wrap.flex-sm-nowrap.justify-content-between
            %div
              =f.submit t('views.general.save_changes'), class: 'btn btn-primary float-left mb-2', id: 'enroll_now'
            %div
              %button.btn.btn-secondary.float-right.mb-2{'data-dismiss' => "modal"} Cancel

