%article.card
  .card-body
    %h4.text-gray1.mb-4
      Enrolments

    -@enrollments.each do |enrollment|
      %article.card.mb-4
        .card-body.card-body-sm.d-flex.flex-wrap.flex-sm-nowrap.align-items-center
          %h4.mb-sm-0.mr-4.text-gray2
            =enrollment.course.name
          .ml-auto
            =link_to 'Edit Details', '#', 'data-target' => "#enrollment-edit-modal-#{enrollment.id}", 'data-toggle' => 'modal', class: 'btn btn-secondary btn-sm'

        =render partial: 'edit_enrollment', locals: {enrollment: enrollment}
