.row
  .col-sm-12
    %table.table{style: 'font-size: 18px;'}
      %thead
        %tr
          %th
            Course
          %th
            Exam Sitting
          %th
            Notifications
          %th
            Status
          %th
            Progress
          %th
      %tbody
        -@enrollments.all_in_order.each do |enrollment|
          %tr
            %td
              -if enrollment.subject_course
                =enrollment.subject_course.name
            %td
              -if enrollment.exam_date
                =exam_sitting_date(enrollment.exam_date)
            %td
              =tick_or_cross(enrollment.notifications)
            %td
              =enrollment.status
            %td
              =enrollment.percentage_complete
            %td
              -unless enrollment.expired
                =link_to edit_enrollment_url(enrollment) do
                  .btn.btn-purple.btn-small.pull-right
                    Edit
