%article.card
  .card-body
    %h2.mb-4.text-gray2
      Orders
    .table-responsive
      %table.table
        %thead
          %tr
            %th=t('views.mock_exams.form.name')
            %th=t('views.invoices.form.status')
            %th=t('views.invoices.form.line_total_inc_vat')
            %th=t('views.invoices.form.invoice')
            %th=t('views.invoices.form.link')
        %tbody
          -@orders.each do |order|
            %tr
              %td=order.product.name_by_type
              %td=order.state.capitalize
              %td=number_in_local_currency(order.product.price, order.product.currency)
              %td
                =link_to pdf_invoice_path(order.invoice.id, format: 'pdf'), target: '_blank' do
                  .btn.btn-link.btn-xs
                    View
              %td=order_link(order)

