%article.card
  .card-body
  -if @orders.length > 0
    .table-responsive
      %table.table
        %thead
          %tr
            %th=t('views.mock_exams.form.name')
            %th=t('views.invoices.form.status')
            %th=t('views.invoices.form.line_total_inc_vat')
            %th=t('views.invoices.form.invoice')
            %th=t('views.invoices.form.link')
        %tbody
          -@orders.each do |order|
            %tr
              %td=order.product.name_by_type
              %td=order.state.capitalize
              %td=number_in_local_currency(order.product.price, order.product.currency)
              %td
                =link_to pdf_invoice_path(order.invoice.id, format: 'pdf'), target: '_blank' do
                  .btn.btn-link.btn-xs
                    View
              %td=order_link(order)
  -else
    .zeroCaseWrapper
      .zeroCaseWrapper-image
        =image_tag('illustrations/zero-case-illustration@2x.png', alt: 'could not find anything')
      .zeroCaseWrapper-infoBox
        .zeroCaseWrapper-infoBox-title
          You haven't made any Purchase yet
        .zeroCaseWrapper-infoBox-desc
          Your Product purchases can be found right here.

