=form_for(@user, url: change_password_url, method: :post, html: {class: 'card mb-3', role: 'form'}, id: 'change_password_form', name: 'change_password_form') do |f|
  .card-body
    -# %h2.text-gray2.mb-5 Password
    .row
      .col-md-6.col-xl-4
        .form-group
          =f.label :current_password, t('views.user_accounts.change_password.current_password')
          =f.password_field :current_password, class: 'form-control'

      .col-md-6.col-xl-4
        .form-group
          =f.label :password, t('views.user_accounts.change_password.new_password')
          =f.password_field :password, class: 'form-control'

      .col-md-6.col-xl-4
        .form-group
          =f.label :password_confirmation, t('views.user_accounts.change_password.password_confirmation')
          =f.password_field :password_confirmation, class: 'form-control'
    .py-3
      =f.submit 'Change Password', class: 'btn btn-primary btn-sm'

