.row
  .col-sm-8.l-margin-bottom
    .col-xs-6
      .h3
        =t('views.user_accounts.personal_info.first_name')
      %p
        =@user.first_name

    .col-xs-6
      .h3
        =t('views.user_accounts.personal_info.last_name')
      %p
        =@user.last_name

    .col-xs-6.l-margin-top
      .h3
        =t('views.user_accounts.personal_info.email')
      %p
        =@user.email

    .col-xs-6.l-margin-top
      .h3
        =t('views.user_accounts.personal_info.date_of_birth')
      %p
        =@user.date_of_birth || '--------'

    - @exam_body_user_details.each do |exam_body_user_details|
      .col-xs-6.l-margin-top
        .h3
          ="#{exam_body_user_details.exam_body.name} Student Number"
        %p
          =exam_body_user_details.student_number





  .col-sm-4
    #modal-links
      %a{data: {target: '#personal-details-modal', toggle: 'modal'}, href: '#', class: 'btn btn-primary full-width l-margin-bottom edit-details'}
        =t('views.user_accounts.student_user_form.button_label')

      %a{data: {target: '#change-password-modal', toggle: 'modal'}, href: '#', class: 'btn btn-secondary full-width l-margin-bottom change-pw-link'}
        =t('views.user_accounts.change_password.button_label')

