-@subscriptions.each do |subscription|
  .sub-item
    .row
      .col-md-9
        %h3= "#{subscription.exam_body} - #{subscription.subscription_plan.interval_name} (#{subscription.user_readable_status})"
      .col-md-3
        .action-links
          =link_to 'View', subscription_path(subscription), class: 'btn btn-cyan'
