.row
  .col-sm-6.col-md-8
    .col-sm-12
      .col-md-6
        .h3
          =t('views.user_accounts.trial_info.trial_status')
        .h6
          -if @user.trial_or_sub_user? && @user.valid_trial_user?
            ='Live'
          -elsif @user.trial_or_sub_user? && @user.expired_trial_user?
            ='Expired'

      .col-md-6
        .h3
          ='Minutes Remaining in Trial'
        .h6
          =@user.trial_minutes_left

    .col-sm-12.l-margin-top
      .col-md-6
        .h3
          =t('views.user_accounts.trial_info.trial_started')
        .h6
          -if @user.student_access.trial_started_date
            =humanize_datetime(@user.student_access.trial_started_date)


      .col-md-6
        -if @user.student_access.trial_ended_date
          .h3
            ='Trial Period Expired'
          .h6
            =humanize_datetime(@user.student_access.trial_ended_date)

        -elsif @user.student_access.trial_ending_at_date
          .h3
            ='Trial Period Expires'
          .h6
            =humanize_datetime(@user.student_access.trial_ending_at_date)



  .col-sm-6.col-md-4
    -if @user.trial_user?
      =link_to 'Upgrade to full membership', new_subscription_url, class: 'btn btn-red full-width'

