%article.account.bg-white
  .container
    %header
      .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.align-items-center.py-5.py-md-5
        .mw-0
          %h1.mb-0.h1-hero.mr-2=t('views.users.show.h1')
        .mw-0
          %h5.mb-0.text-gray2
            =@user.full_name
    .row.row-md
      .col-lg-12
        %nav.courses-nav
          %ul#accountTabs.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a#personal-info-tab.nav-link.active{"aria-controls" => "personal-info", "aria-selected" => "true", "data-toggle" => "tab", :href => "#personal-info", :role => "tab"}
                Personal Info
            %li.nav-item
              %a#account-info-tab.nav-link{"aria-controls" => "account-info", "aria-selected" => "false", "data-toggle" => "tab", :href => "#account-info", :role => "tab"}
                Subscriptions
                -if current_user&.subscription_action_required?
                  %span.badge.badge-warning.align-middle
                    ='Action Required'
            %li.nav-item
              %a#orders-tab.nav-link{"aria-controls" => "orders", "aria-selected" => "false", "data-toggle" => "tab", :href => "#orders", :role => "tab"}
                Purchases
            %li.nav-item
              %a#payment-details-tab.nav-link{"aria-controls" => "payment-details", "aria-selected" => "false", "data-toggle" => "tab", :href => "#payment-details", :role => "tab"}
                Card Details
            %li.nav-item
              %a#enrollments-tab.nav-link{"aria-controls" => "enrollments", "aria-selected" => "false", "data-toggle" => "tab", :href => "#enrollments", :role => "tab"}
                Enrolments

  -if current_user.non_verified_user?
    .alert.alert-warning.text-center.py-4
      %svg{:fill => "none", :height => "20", :viewbox => "0 0 20 24", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", :d => "M2.94 6.4124C2.35524 6.77788 2 7.41882 2 8.1084V15.9999C2 17.1045 2.89543 17.9999 4 17.9999H16C17.1046 17.9999 18 17.1045 18 15.9999V8.1084C18 7.41882 17.6448 6.77788 17.06 6.4124L11.06 2.6624C10.4115 2.25706 9.58854 2.25706 8.94 2.6624L2.94 6.4124ZM5.5547 8.83462C5.09517 8.52826 4.4743 8.65244 4.16795 9.11197C3.8616 9.5715 3.98577 10.1924 4.4453 10.4987L9.4453 13.8321C9.7812 14.056 10.2188 14.056 10.5547 13.8321L15.5547 10.4987C16.0142 10.1924 16.1384 9.5715 15.8321 9.11197C15.5257 8.65244 14.9048 8.52826 14.4453 8.83462L10 11.7981L5.5547 8.83462Z", :fill => "#f87171", "fill-rule" => "evenodd"}
      %b
        ACTION PENDING.
      Verify your email address to continue your content access
      -if !current_user.email_verified && current_user.email_verification_code
        =link_to resend_verification_mail_url(current_user.email_verification_code), method: :post, class: 'btn btn-secondary verification-btn btn-sm mb-3 mb-sm-0' do
          ='Resend Verification Email'

  -if flash[:success] || flash[:warning] || flash[:error]
    =render partial: 'layouts/flash_messages'
  =render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}
  .border-top.bg-gray5.py-6
    .container
      .row.row-md
        -# .col-lg-2-7
        -#   %nav.mb-4.account-nav
        -#     %ul#accountTabs.nav.nav-tabs.nav-tabs-vertical{:role => "tablist"}
        -#       %li.nav-item
        -#         %a#personal-info-tab.nav-link.active{"aria-controls" => "personal-info", "aria-selected" => "true", "data-toggle" => "tab", :href => "#personal-info", :role => "tab"}
        -#           Personal Info
        -#       %li.nav-item
        -#         %a#account-info-tab.nav-link{"aria-controls" => "account-info", "aria-selected" => "false", "data-toggle" => "tab", :href => "#account-info", :role => "tab"}
        -#           Subscriptions
        -#           -if current_user&.subscription_action_required?
        -#             %span.badge.badge-warning.align-middle
        -#               ='Action Required'
        -#       %li.nav-item
        -#         %a#orders-tab.nav-link{"aria-controls" => "orders", "aria-selected" => "false", "data-toggle" => "tab", :href => "#orders", :role => "tab"}
        -#           Purchases
        -#       %li.nav-item
        -#         %a#payment-details-tab.nav-link{"aria-controls" => "payment-details", "aria-selected" => "false", "data-toggle" => "tab", :href => "#payment-details", :role => "tab"}
        -#           Card Details
        -#       %li.nav-item
        -#         %a#enrollments-tab.nav-link{"aria-controls" => "enrollments", "aria-selected" => "false", "data-toggle" => "tab", :href => "#enrollments", :role => "tab"}
        -#           Enrolments

        .col-lg-12
          #accountTabsContent.tab-content

            #personal-info.tab-pane.show.active.tab-account.tab-personal-info{"aria-labelledby" => "personal-info-tab", :role => "tabpanel"}
              =render partial: 'personal_info'

            #account-info.tab-pane.tab-account.tab-account-info{"aria-labelledby" => "account-info-tab", :role => "tabpanel"}
              =render partial: 'account_info'

            #orders.tab-pane.tab-account.tab-order{"aria-labelledby" => "orders-tab", :role => "tabpanel"}
              =render partial: 'orders_info'

            #payment-details.tab-pane.tab-account.tab-payment-details{"aria-labelledby" => "payment-details-tab", :role => "tabpanel"}
              =render partial: 'payment_details'

            #enrollments.tab-pane.tab-account.tab-enrollment{"aria-labelledby" => "enrollments-tab", :role => "tabpanel"}
              =render partial: 'enrollments_info'





=render partial: 'add_card_modal'

:javascript
    $(document).ready(function(){

      hash = window.location.hash;
      elements = $('a[href="' + hash + '"]');
      if (elements.length === 0) {
        let selectedTab = $(".account-nav a:first");
        selectedTab.click();
      } else {
        elements.click();
      }

      setTimeout(function() {
          window.scrollTo(0, 0);
      }, 1);

    });

-if flash[:datalayer_cancel]
  :javascript
    //dataLayer.push({'event':'subscriptionCancelled', 'user_plan':"#{flash[:datalayer_cancel]}"});
