%article.account.bg-white
  .container
    %header
      .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.align-items-center.py-5.py-md-6
        .mw-0
          %h1.mb-0.h1-hero.mr-2 Profile
        .mw-0
          %h5.mb-0.text-gray2
            =@user.full_name

  -if flash[:success] || flash[:warning] || flash[:error]
    =render partial: 'layouts/flash_messages'
  .bg-gray5.py-5
    .container
      .row.row-md
        .col-lg-2-7
          %nav.mb-4.account-nav
            %ul#accountTabs.nav.nav-tabs.nav-tabs-vertical{:role => "tablist"}
              %li.nav-item
                %a#personal-info-tab.nav-link.active{"aria-controls" => "personal-info", "aria-selected" => "true", "data-toggle" => "tab", :href => "#personal-info", :role => "tab"}
                  Personal Info
              %li.nav-item
                %a#account-info-tab.nav-link{"aria-controls" => "account-info", "aria-selected" => "false", "data-toggle" => "tab", :href => "#account-info", :role => "tab"}
                  Account Info
              -#if @orders.any?
              %li.nav-item
                %a#orders-tab.nav-link{"aria-controls" => "orders", "aria-selected" => "false", "data-toggle" => "tab", :href => "#orders", :role => "tab"}
                  Orders
              %li.nav-item
                %a#enrollments-tab.nav-link{"aria-controls" => "enrollments", "aria-selected" => "false", "data-toggle" => "tab", :href => "#enrollments", :role => "tab"}
                  Enrollments
              %li.nav-item
                %a#referral-program-tab.nav-link{"aria-controls" => "referral-program", "aria-selected" => "false", "data-toggle" => "tab", :href => "#referral-program", :role => "tab"}
                  Referral Program

        .col-lg-5-7
          #accountTabsContent.tab-content

            #personal-info.tab-pane.show.active.tab-account.tab-personal-info{"aria-labelledby" => "personal-info-tab", :role => "tabpanel"}
              =render partial: 'personal_info'

            #account-info.tab-pane.tab-account.tab-account-info{"aria-labelledby" => "account-info-tab", :role => "tabpanel"}
              =render partial: 'account_info'

            #orders.tab-pane.tab-account.tab-order{"aria-labelledby" => "orders-tab", :role => "tabpanel"}
              =render partial: 'orders_info'

            #enrollments.tab-pane.tab-account.tab-enrollment{"aria-labelledby" => "enrollments-tab", :role => "tabpanel"}
              =render partial: 'enrollments_info'

            #referral-program.tab-pane.tab-account.tab-referral-program{"aria-labelledby" => "referral-program-tab", :role => "tabpanel"}
              %article.card.mb-4
                .card-body
                  %h2.text-gray2 Referral Program
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        -#.col-sm-12.col-md-9
          .dashboardTabsContent
            -if @user.standard_student_user?
              .tab-pane{id: 'subscriptions', class: "tab-subscriptions", "aria-labelledby" => "tab-subscriptions", :role => "tabpanel"}
                =render partial: 'subscription_info'

            -if @user.standard_student_user? && @subscription_payment_cards.any?
              .tab-pane{id: 'payment-details', class: "tab-payment-details", "aria-labelledby" => "tab-payment-details", :role => "tabpanel"}
                =render partial: 'payment_details'

            -if @orders.any?
              .tab-pane{id: 'orders', class: "tab-orders", "aria-labelledby" => "tab-orders", :role => "tabpanel"}
                =render partial: 'orders_info'

            .tab-pane{id: 'enrollments', class: "tab-enrollments", "aria-labelledby" => "tab-enrollments", :role => "tabpanel"}
              =render partial: 'enrollments_info'

            -if @user.referral_code
              .tab-pane{id: 'referral', class: "tab-referral", "aria-labelledby" => "tab-referral", :role => "tabpanel"}
                =render partial: 'referral_details'




=render partial: 'add_card_modal'

:javascript
    $(document).ready(function(){

      hash = window.location.hash;
      elements = $('a[href="' + hash + '"]');
      if (elements.length === 0) {
        let selectedTab = $(".account-nav a:first");
        selectedTab.click();
      } else {
        elements.click();
      }

      setTimeout(function() {
          window.scrollTo(0, 0);
      }, 1);

    });
