-if flash[:success] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-section-small.bg-asphalt
  .l-wrap
    .container-fluid
      .col-sm-12
        -if flash[:error] || flash[:warning]
          .row.subscription-flash
            .col-xs-12
              =render partial: 'layouts/flash_messages'
        %h1.h1.h-separator.h-separator-left.l-margin-bottom
          =t('views.user_accounts.account_show.h1')


    .l-margin-top-big.l-margin-bottom-big
      %nav.courses-nav
        %ul.nav.nav-tabs{id: 'accountTab', role: 'tablist'}
          %li.nav-item
            %a{href: '#personal-details', role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: 'personal-details'}}
              =t('views.user_accounts.personal_info.tab_heading')

          -if @user.trial_or_sub_user?
            %li.nav-item
              -if @user.trial_user?
                %a{href: '#account-info', role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: 'account-info'}}
                  =t('views.user_accounts.account_info.tab_heading')
              -elsif @user.subscription_user?
                %a{href: '#subscriptions', role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: 'subscriptions'}}
                  =t('views.user_accounts.subscription_info.tab_heading')

          -if @user.trial_or_sub_user? && @subscription_payment_cards.any?
            %li.nav-item
              %a{href: '#payment-details', role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: 'payment-details'}}
                =t('views.user_accounts.payment_details.tab_heading')

          -if @user.trial_or_sub_user? && @orders.any?
            %li.nav-item
              %a{href: '#orders', role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: 'orders'}}
                =t('views.user_accounts.orders_info.tab_heading')

          %li.nav-item
            %a{href: '#enrollments', role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: 'enrollments'}}
              =t('views.user_accounts.enrollments_info.tab_heading')

          -if @user.referral_code
            %li.nav-item
              %a{href: '#referral', role: 'tab', class: 'nav-link', data: {toggle: 'tab'}, aria: {controls: 'referral'}}
                =t('views.user_accounts.referral_info.tab_heading')


      #tab-area
        .box-item
          .tab-content#account-tabs

            .tab-pane.tab-personal-details{id: 'personal-details', role: 'tabpanel', 'aria-labelledby': 'personal-details-tab'}
              .row.row-lg
                .col-md-12.col-xs-12
                  .mb-5
                    =render partial: 'personal_info'

            -if @user.trial_or_sub_user?
              -if @user.trial_user?
                .tab-pane.tab-account-info{id: 'account-info', role: 'tabpanel', 'aria-labelledby': 'account-info-tab'}
                  .row.row-lg
                    .col-md-12.col-xs-12
                      .mb-5
                        =render partial: 'account_info'

              -elsif @user.subscription_user?
                .tab-pane.tab-subscriptions{id: 'subscriptions', role: 'tabpanel', 'aria-labelledby': 'subscriptions-tab'}
                  .row.row-lg
                    .col-lg-6
                      .mb-5
                        =render partial: 'subscription_info'


            -if @user.subscription_user? && @subscription_payment_cards.any?
              .tab-pane.tab-payment-details{id: 'payment-details', role: 'tabpanel', 'aria-labelledby': 'payment-details-tab'}
                .row.row-lg
                  .col-md-12.col-xs-12
                    .mb-5
                    =render partial: 'payment_details'


            -if @orders.any?
              .tab-pane.tab-orders{id: 'orders', role: 'tabpanel', 'aria-labelledby': 'orders-tab'}
                .row.row-lg
                  .col-md-12.col-xs-12
                    .mb-5
                      =render partial: 'orders_info'

            .tab-pane.tab-enrollments{id: 'enrollments', role: 'tabpanel', 'aria-labelledby': 'enrollments-tab'}
              .row.row-lg
                .col-md-12.col-xs-12
                  .mb-5
                    =render partial: 'enrollments_info'

            -if @user.referral_code
              .tab-pane.tab-referral{id: 'referral', role: 'tabpanel', 'aria-labelledby': 'referral-tab'}
                .row.row-lg
                  .col-md-12.col-xs-12
                    .mb-5
                      =render partial: 'referral_details'





=render partial: 'add_card_modal'
=render partial: 'student_user_form'
=render partial: 'change_password'
