.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom#thank-you-message
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Thanks for reactivating your membership!
        .col-md-10.col-md-offset-1.l-margin-bottom-6x
          .box-item
            .container-fluid
              .row
                .col-sm-6.col-sm-offset-3
                  .text-center
                    %h4.h3.l-margin-bottom
                      Your account is now active
                    %p.p
                      ="You have been resubscribed to the #{t("views.general.payment_frequency_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")} plan. Please visit your"
                      =link_to 'account page', account_url(anchor: 'subscriptions')
                      ="to view your subscription details."


      .text-center.l-margin-top-huge.l-margin-bottom-huge
        %h2
          Resume your learning
      .container-fluid.l-margin-bottom-huge
        .course-list-wrap
          .row
            -if @enrollments.any?
              -@enrollments.each do |enrollment|
                .col-sm-6.col-md-4
                  =link_to library_special_link(enrollment.subject_course), class: 'box box-course' do
                    .box-inner
                      .l-margin-top-xl
                        %h2{style: 'margin-bottom: 5px;'}
                          =enrollment.subject_course.try(:name)
                        %p.p
                          -if enrollment.subject_course.short_description
                            =log.subject_course.try(:short_description).to_s.truncate(30)
                          -else
                            =enrollment.subject_course.description.to_s.truncate(30)
                    .box-label
                      =t('views.general.continue')

            -else
              -if @groups
                -@groups.each do |group|
                  -group.active_children.all_in_order.each do |course|
                    .col-sm-6.col-md-4
                      =link_to library_special_link(course), class: 'box box-course' do
                        .box-inner
                          .l-margin-top-xl
                            %h2{style: 'margin-bottom: 5px;'}
                              =course.try(:name)
                            %p.p
                              -if course.short_description
                                =course.try(:short_description).to_s.truncate(30)
                              -else
                                =course.description.to_s.truncate(30)
                        .box-label
                          =t('views.general.start')
