.start-screen-box {
  display: block;
  position: relative;
  padding: 30px;
  border-radius: 0;
  background: #fff;
  color: #424465;
  @include clearfix();

  .welcome-text {
    font-size: 25px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
  }
  .before-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
  }

  ul {
    margin: 0 20px;
  }

  ul, li {
    display: list-item;
    list-style: disc;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    padding: 0;
  }

}
.start-screen-box-nav {
  padding: 5px 20px;
  background-color: #2c9676;
  color: #fff;
  &.start-screen-box-nav-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &.start-screen-box-nav-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.cr-resources {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  padding: 2px;
}

