.row
  .col-sm-8.col-sm-offset-2
    =form_for(@subscription_plan, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @subscription_plan, message: nil}
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :available_to_students
                =t('views.subscription_plans.form.available_to_students')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :available_to_corporates
                =t('views.subscription_plans.form.available_to_corporates')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :all_you_can_eat
                =t('views.subscription_plans.form.all_you_can_eat')
        .form-group
          =f.label :payment_frequency_in_months, t('views.subscription_plans.form.payment_frequency_in_months'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :payment_frequency_in_months, placeholder: t('views.subscription_plans.form.payment_frequency_in_months_placeholder'), class: 'form-control'
        .form-group
          =f.label :currency_id, t('views.subscription_plans.form.currency_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :currency_id, @currencies, :id, :name, {prompt: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :price, t('views.subscription_plans.form.price'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :price, placeholder: t('views.subscription_plans.form.price_placeholder'), class: 'form-control'
        .form-group
          =f.label :available_from, t('views.subscription_plans.form.available_from'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :available_from, placeholder: t('views.subscription_plans.form.available_from_placeholder'), class: 'form-control'
        .form-group
          =f.label :available_to, t('views.subscription_plans.form.available_to'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :available_to, placeholder: t('views.subscription_plans.form.available_to_placeholder'), class: 'form-control'
        .form-group
          =f.label :stripe_guid, t('views.subscription_plans.form.stripe_guid'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :stripe_guid, placeholder: t('views.subscription_plans.form.stripe_guid_placeholder'), class: 'form-control'
        .form-group
          =f.label :trial_period_in_days, t('views.subscription_plans.form.trial_period_in_days'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :trial_period_in_days, placeholder: t('views.subscription_plans.form.trial_period_in_days_placeholder'), class: 'form-control'
      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), subscription_plans_path
