=form_for(@subscription_plan, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-6
      =render partial: '/layouts/error_messages', locals: {thing: @subscription_plan, message: nil}
      =f.label :name, t('views.subscription_plans.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.subscription_plans.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;', required: true
      %br/
      %br/
      .form-group
        .col-sm-8.col-sm-offset-4
          .checkbox
            %label
              =f.check_box :available_to_students
              =t('views.subscription_plans.form.available_to_students')
      %br/
      %br/
      .form-group
        .col-sm-8.col-sm-offset-4
          .checkbox
            %label
              =f.check_box :available_to_corporates
              =t('views.subscription_plans.form.available_to_corporates')
      %br/
      %br/
      .form-group
        .col-sm-8.col-sm-offset-4
          .checkbox
            %label
              =f.check_box :all_you_can_eat
              =t('views.subscription_plans.form.all_you_can_eat')
    .col-md-6
      -if f.object.id.nil?
        =f.label :payment_frequency_in_months, t('views.subscription_plans.form.payment_frequency_in_months'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.select :payment_frequency_in_months, @payment_frequencies, {}, {class: 'form-control', style: 'border-radius: 6px;'}
        %br/
        =f.label :currency_id, t('views.subscription_plans.form.currency_id'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.collection_select :currency_id, @currencies, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
        %br/
        =f.label :price, t('views.subscription_plans.form.price'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :price, placeholder: t('views.subscription_plans.form.price_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :trial_period_in_days, t('views.subscription_plans.form.trial_period_in_days'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :trial_period_in_days, placeholder: t('views.subscription_plans.form.trial_period_in_days_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :available_from, t('views.subscription_plans.form.available_from'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :available_from, placeholder: t('views.subscription_plans.form.available_from_placeholder'), class: 'form-control date', style: 'border-radius: 6px;', data: {'date-format' => 'YYYY-MM-DD'}, id: 'datetimepicker1'
      %br/
      =f.label :available_to, t('views.subscription_plans.form.available_to'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :available_to, placeholder: t('views.subscription_plans.form.available_to_placeholder'), class: 'form-control date', style: 'border-radius: 6px;', data: {'date-format' => 'YYYY-MM-DD'}, id: 'datetimepicker2'
      %br/
      =f.label :subscription_plan_category_id, t('views.subscription_plans.form.subscription_plan_category_id'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.collection_select :subscription_plan_category_id, @subscription_plan_categories, :id, :full_name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}

  .row
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), subscription_plans_path, class: 'btn btn-cyan'




:javascript

  $(function () {
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
  });
