.no-image-box-item.table-box
  .table-responsive
    =will_paginate the_plans, renderer: BootstrapPagination::Rails
    %table.table.sorted_table
      %thead
        %tr
          %th
            =t('views.subscription_plans.form.name')
            %br/
            =t('views.subscription_plans.form.price')
          %th=t('views.subscription_plans.form.trial_period_in_days')
          %th=t('views.subscription_plans.form.available_from')
          %th=t('views.subscription_plans.form.available_to')
          %th=t('views.subscription_plans.form.stripe_guid')
          %th
      %tbody
        -tracker = nil
        -the_plans.each do |subscription_plan|
          -unless tracker == subscription_plan.currency_id
            -tracker = subscription_plan.currency_id
            %tr
              %td.h2{colspan: 7}=link_to(subscription_plan.currency.iso_code, subscription_plan, title: t('views.general.view_tooltip'))

          %tr{id: subscription_plan.id, class: subscription_plan.age_status}
            %td
              =subscription_plan.name
              %br/
              =t("views.general.payment_frequency_in_months.a#{subscription_plan.payment_frequency_in_months}")
              =number_in_local_currency(subscription_plan.price, subscription_plan.currency_id)
              -if subscription_plan.subscription_plan_category
                %br/
                .label.label-info
                  =subscription_plan.subscription_plan_category.try(:full_name)

            %td=subscription_plan.trial_period_in_days
            %td=subscription_plan.available_from.to_s(:standard)
            %td=subscription_plan.available_to.to_s(:standard)
            %td=subscription_plan.stripe_guid
            %td
              =link_to t('views.general.show'), subscription_plan_url(subscription_plan), class: 'btn btn-cyan btn-small'
              =link_to t('views.general.edit'), edit_subscription_plan_url(subscription_plan), class: 'btn btn-cyan btn-small'
              -if subscription_plan.destroyable?
                =link_to t('views.general.delete'), subscription_plan, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'
