.container
  %header.management-console-section
    %h1
      =t('views.subscription_plans.edit.h1')

  %section.pb-3
    =form_for(@subscription_plan, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .box-item.form-box
        .row
          =render partial: '/layouts/error_messages', locals: {thing: @subscription_plan, message: nil}

          .col-sm-6
            .form-group
              =f.label :name, t('views.subscription_plans.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.subscription_plans.form.name_placeholder'), class: 'form-control', required: true
          .col-sm-6
            .form-group
              =f.label :exam_body_id, t('views.subscription_plans.form.exam_body_id')
              .input-group.input-group-lg
                =text_field_tag :exam_body_id, f.object.exam_body.name, class: 'form-control', disabled: true
          .col-sm-6
            .form-group
              =f.label :currency_id, t('views.subscription_plans.form.currency_id')
              .input-group.input-group-lg
                =text_field_tag :currency_id, f.object.currency.name, class: 'form-control', disabled: true
          .col-sm-6
            .form-group
              =f.label :subscription_plan_category_id, t('views.subscription_plans.form.subscription_plan_category_id')
              .input-group.input-group-lg
                =f.collection_select :subscription_plan_category_id, @subscription_plan_categories, :id, :full_name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}
          .col-sm-6
            .form-group
              =f.label :price, t('views.subscription_plans.form.price')
              .input-group.input-group-lg
                =text_field_tag :price, f.object.price, class: 'form-control', disabled: true
          .col-sm-6
            .form-group
              =f.label :payment_frequency_in_months, t('views.subscription_plans.form.payment_frequency_in_months')
              .input-group.input-group-lg
                =text_field_tag :payment_frequency_in_months, f.object.payment_frequency_in_months, class: 'form-control', disabled: true
          .col-sm-6
            .form-group
              =f.label :guid, t('views.subscription_plans.form.guid')
              .input-group.input-group-lg
                =f.text_field :guid, class: 'form-control', disabled: true
          .col-sm-6
            .form-group
              =f.label :available_to, t('views.subscription_plans.form.available_to')
              .input-group.input-group-lg
                =f.text_field :available_to, placeholder: t('views.subscription_plans.form.available_to_placeholder'), class: 'form-control date', data: {'date-format' => 'YYYY-MM-DD'}, id: 'datetimepicker2'


        .pt-4
          %h4='Optional Attributes'
        .row
          .col-sm-6
            .form-group
              =f.label :monthly_percentage_off, t('views.subscription_plans.form.monthly_percentage_off')
              .input-group.input-group-lg
                =f.number_field :monthly_percentage_off, placeholder: 0, class: 'form-control'
          .col-sm-6
            .form-group
              =f.label :previous_plan_price, t('views.subscription_plans.form.previous_plan_price')
              .input-group.input-group-lg
                =f.text_field :previous_plan_price, placeholder: 0, class: 'form-control'

          .col-sm-6
            .form-group
              =f.label :sub_heading_text, t('views.subscription_plans.form.sub_heading_text')
              .input-group.input-group-lg
                =f.text_field :sub_heading_text, placeholder: t('views.subscription_plans.form.sub_heading_text_placeholder'), class: 'form-control'
          .col-sm-6
            .form-group
              =f.label :registration_form_heading, t('views.subscription_plans.form.registration_form_heading')
              .input-group.input-group-lg
                =f.text_field :registration_form_heading, placeholder: t('views.subscription_plans.form.registration_form_heading_placeholder'), class: 'form-control'
          .col-sm-6
            .form-group
              =f.label :login_form_heading, t('views.subscription_plans.form.login_form_heading')
              .input-group.input-group-lg
                =f.text_field :login_form_heading, placeholder: t('views.subscription_plans.form.login_form_heading_placeholder'), class: 'form-control'

          .col-sm-6
            .form-group
              =f.label :bullet_points_list, t('views.subscription_plans.form.bullet_points_list')
              .input-group.input-group-lg
                =f.text_area :bullet_points_list, placeholder: t('views.subscription_plans.form.bullet_points_list_placeholder'), class: 'form-control'
          .col-sm-6
            .col-sm.py-3
              .checkbox
                %label
                  =f.check_box :most_popular
                  =t('views.subscription_plans.form.most_popular')


        .row.pt-4
          .col-sm-12
            =f.submit t('views.general.save'), class: 'btn btn-primary'
            =link_to t('views.general.cancel'), subscription_plans_path, class: 'btn btn-secondary'




:javascript

  $(function () {
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
  });
