.container
  %header.management-console-section
    %h1
      =t('views.subscription_plans.new.h1')

  %section.pb-3
    =form_for(@subscription_plan, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .box-item.form-box
        =f.hidden_field :all_you_can_eat, value: true
        =f.hidden_field :available_to_students, value: true
        =render partial: '/layouts/error_messages', locals: {thing: @subscription_plan, message: nil}
        .row
          .col-sm-6
            .form-group
              =f.label :name, t('views.subscription_plans.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.subscription_plans.form.name_placeholder'), class: 'form-control', required: true

            .form-group
              =f.label :exam_body_id, t('views.subscription_plans.form.exam_body_id')
              .input-group.input-group-lg
                =f.collection_select :exam_body_id, ExamBody.all, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}


            .form-group
              =f.label :currency_id, t('views.subscription_plans.form.currency_id')
              .input-group.input-group-lg
                =f.collection_select :currency_id, @currencies, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}

            .form-group
              =f.label :price, t('views.subscription_plans.form.price')
              .input-group.input-group-lg
                =f.text_field :price, placeholder: t('views.subscription_plans.form.price_placeholder'), class: 'form-control'

            .form-group
              =f.label :subscription_plan_category_id, t('views.subscription_plans.form.subscription_plan_category_id')
              .input-group.input-group-lg
                =f.collection_select :subscription_plan_category_id, @subscription_plan_categories, :id, :full_name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}

            .form-group
              =f.label :monthly_percentage_off, t('views.subscription_plans.form.monthly_percentage_off')
              .input-group.input-group-lg
                =f.number_field :monthly_percentage_off, placeholder: 0, class: 'form-control'

            .form-group
              =f.label :previous_plan_price, t('views.subscription_plans.form.previous_plan_price')
              .input-group.input-group-lg
                =f.text_field :previous_plan_price, placeholder: 0, class: 'form-control'

          .col-sm-6
            .form-group
              =f.label :payment_frequency_in_months, t('views.subscription_plans.form.payment_frequency_in_months')
              .input-group.input-group-lg
                =f.select :payment_frequency_in_months, @payment_frequencies, {}, {class: 'form-control custom-select'}

            .form-group
              =f.label :available_from, t('views.subscription_plans.form.available_from')
              .input-group.input-group-lg
                =f.text_field :available_from, placeholder: t('views.subscription_plans.form.available_from_placeholder'), class: 'form-control date', data: {'date-format' => 'YYYY-MM-DD'}, id: 'datetimepicker1'

            .form-group
              =f.label :available_to, t('views.subscription_plans.form.available_to')
              .input-group.input-group-lg
                =f.text_field :available_to, placeholder: t('views.subscription_plans.form.available_to_placeholder'), class: 'form-control date', data: {'date-format' => 'YYYY-MM-DD'}, id: 'datetimepicker2'


        .row.pt-4
          .col-sm-12
            =f.submit t('views.general.save'), class: 'btn btn-primary'
            =link_to t('views.general.cancel'), subscription_plans_path, class: 'btn btn-secondary'




:javascript

  $(function () {
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
  });
