%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-mega
          ='Passing your ACCA is worth it'
        %h2.h5
          Pick which plan suits you best

      %section.pb-md-6.pb-5
        .row.row-lg
          -@subscription_plans.each do |plan|
            .col-lg-4
              %article.card.card-primary.card-pink
                .card-body.text-center
                  %h2.h1.card-title
                    =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")

                  %p
                    Get unlimited access
                  %p
                    Cancel anytime
                  %p
                    =plan.currency.format_number(plan.price)


                  -if current_user && current_user.trial_or_sub_user?
                    .mt-auto
                      =link_to new_subscription_url, class: 'btn btn-secondary btn-sm' do
                        Choose this plan

                  -else
                    .mt-auto
                      =link_to new_student_url, class: 'btn btn-secondary btn-sm' do
                        Get Started For Free


