%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-mega
          ='Passing your ACCA is worth it'
        %h2.h5
          Pick which plan suits you best

      %section.pb-md-6.pb-5
        .row.row-lg
          -@exam_bodies.each do |exam_body|
            .col-sm-12
              -if @subscription_plans.for_exam_body(exam_body.id).any?
                %h2
                  =exam_body.name

              .row
                -@subscription_plans.for_exam_body(exam_body.id).each do |plan|
                  .col-sm-4
                    %article.card.card-primary.card-pink
                      .card-body.text-center
                        %h2.h1.card-title
                          =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")

                        %p
                          Cancel anytime
                        %p.h5
                          =plan.monthly_percentage_off
                          ='% Discount'
                        %p.h3
                          =plan.currency.format_number(plan.price)


                        .mt-auto
                          =link_to new_subscription_url, class: 'btn btn-secondary btn-sm' do
                            Choose this plan


