.l-section-small.is-bg-asphalt
  %section#plans{style: 'padding-top: 20px;'}
    .container
      %h1.title1
        ='Passing your ACCA is worth it'
      %h2.subtitle1
        Pick which plan suits you best

      %ul.plans.clearfix
        -@subscription_plans.each do |plan|
          %li.plan{class: plan_interval(plan.payment_frequency_in_months)}
            .base
              .topbox
                -if plan.payment_frequency_in_months == 12
                  -#%span Our most popular payment plan
                  %span Black Friday Offer
              .box
                .name
                  =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                %ul.details.fa-ul
                  -if plan.payment_frequency_in_months == 12
                    %li
                      %i.fa-li.fa.fa-check
                      ='40% off original plan'
                    %li
                      %i.fa-li.fa.fa-check
                      ='Limited time offer'
                  -else
                    %li
                      %i.fa-li.fa.fa-check
                      Get unlimited access
                    %li
                      %i.fa-li.fa.fa-check
                      Cancel anytime

                .price
                  =plan.currency.format_number(plan.price)

              -if current_user && current_user.trial_or_sub_user?
                .lsbtn-base
                  =link_to new_subscription_url do
                    .lsbtn
                      %i.fa.fa-check
                      Choose this plan

              -else
                .lsbtn-base
                  =link_to new_student_url do
                    .lsbtn
                      Get Started For Free


