.l-section-small.is-bg-asphalt
  %section#plans
    .container
      %h1.title1
        Some great savings can be made.
      %h2.subtitle1
        Pick which plan suits you best.

      %ul.plans.clearfix
        -@subscription_plans.each do |plan|
          %li.plan{class: plan_interval(plan.payment_frequency_in_months)}
            .base
              .topbox
                -if plan.payment_frequency_in_months == 3
                  %span Our most popular payment plan
              .box
                .name
                  =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                %ul.details.fa-ul
                  %li
                    %i.fa-li.fa.fa-check
                    Get unlimited access
                  %li
                    %i.fa-li.fa.fa-check
                    Cancel anytime
                  %li
                    %i.fa-li.fa.fa-check
                    =t("views.general.subscription_ideal_line.a#{plan.payment_frequency_in_months}")
                  -#%li
                    %i.fa-li.fa.fa-check
                    -# TODO Add plans free mock exams count here
                    =#'corrected mock exams'

                .price
                  =plan.currency.format_number(plan.price)
                  -#€34,99
                -#unless plan.payment_frequency_in_months == 1
                  -# TODO change this display actual discount and saving values
                  .promo
                    .line1
                      18% OFF
                    .line2
                      Save €25

              -if current_user && current_user.individual_student?
                .lsbtn-base
                  =link_to user_new_subscription_url(current_user.id) do
                    .lsbtn
                      %i.fa.fa-check
                      Choose this plan
              -elsif current_user

              -else
                .lsbtn-base
                  =link_to new_student_url do
                    .lsbtn
                      Get Started For Free


