.modal {
    .verification-modal {
        .modal-content {
            position: relative;
            overflow: hidden;
            background-color: #FFF4F4;
            max-width: 980px;
            margin: 0 auto;
            padding: 4rem 2rem 4rem;
            @include if-device(phone) {
                padding: 24px;
                height: auto;
                padding-top: 140px;
            }
        }
        h3, h4 {
            font-size: 28px;
            line-height: 130%;
            font-weight: 700;
            color: #111827 !important;
            width: 520px;
            z-index: 20;
            span {
                color: #FD5454;
            }
            @include if-device(phone) {
                background-color: #fff3f4;
                font-size: 20px;
                width: 100%;
            }
        }
        p {
            font-weight: 700;
            color: #FD5454;
            width: 50%;
            @include if-device(phone) {
                width: 100%;
            }
        }
        .btn-icon {
            position: absolute;
            z-index: 1000000;
            background-color: #FFF;
            width: 32px;
            height: 32px;
            padding: 7px 0px !important;
            border-radius: 100%;
            text-align: center;
            right: 16px;
            top: 16px;
            color: #111827;
            i {
                font-size: 20px;
                border-radius: 100%;
                background-color: transparent;
                padding: 0;
                color: #111827;
            }
            &:hover {
                background-color: #111827;
                color: #FFF;
                i {
                    color: #FFF;
                }
            }
        }
        .upgradeIllustration {
            position: absolute;
            right: -30%;
            top: 0;
            z-index: 10;
            width: 750px;

            @include if-device(phone) {
                right: 0px;
                top: 0;
                width: 130%;
                height: 120px;
                overflow: hidden;
                
            }

        }
        .modal-footer {
            justify-content: flex-start !important;
            .verify-btn {
                background: #7B2929;
            }
        }
    }
}