.row
  .col-sm-8.col-sm-offset-2
    =form_for(@question_bank, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @question_bank, message: nil}
        .form-group
          =f.label :number_of_questions, t('views.question_banks.form.number_of_questions'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :number_of_questions, class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :easy_questions
                =t('views.question_banks.form.easy_questions')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :medium_questions
                =t('views.question_banks.form.medium_questions')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :hard_questions
                =t('views.question_banks.form.hard_questions')

      =f.submit t('views.question_banks.form.save'), class: 'btn btn-ls-default'
      =t('views.general.or')
      =link_to t('views.general.cancel'), library_special_link(@exam_levels)
