=form_for(@question_bank, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-6.col-md-offset-3
      =render partial: '/layouts/error_messages', locals: {thing: @question_bank, message: nil}
      =f.hidden_field :subject_course_id, value: @subject_course.id
      =f.label :name, t('views.question_banks.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, {placeholder: t('views.question_banks.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'}
      %br/
      .checkbox
        %label
          =f.check_box :active
          =t('views.course_modules.form.active')
      %br/
      =f.label :number_of_questions, t('views.question_banks.form.number_of_questions'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.select :number_of_questions, options_for_select(@question_array, f.object.number_of_questions || 20), {}, {class: 'form-control', style: 'border-radius: 6px;'}
      %br/
      %br/
      =f.submit t('views.question_banks.form.save'), class: 'btn btn-red'
      =link_to t('views.general.cancel'), subject_course_url(@subject_course.id), class: 'btn btn-purple'
