=form_for(@question_bank, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-6.col-md-offset-3
      =render partial: '/layouts/error_messages', locals: {thing: @question_bank, message: nil}
      =f.hidden_field :subject_course_id, value: @subject_course.id

      %br/
      %br/
      =f.submit t('views.question_banks.form.save'), class: 'btn btn-red'
      =link_to t('views.general.cancel'), subject_course_url(@subject_course), class: 'btn btn-purple'
