.row
  %p=request.referer
  .col-sm-8.col-sm-offset-2
    =form_for(@question_bank, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @question_bank, message: nil}
        .form-group
          =f.label :easy_questions, t('views.question_banks.form.easy_questions'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.select :easy_questions, options_for_select(@easy_array), {include_blank: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :medium_questions, t('views.question_banks.form.medium_questions'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.select :medium_questions, options_for_select(@medium_array), {include_blank: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :hard_questions, t('views.question_banks.form.hard_questions'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.select :hard_questions, options_for_select(@hard_array), {include_blank: t('views.general.select')}, {class: 'form-control'}

      =f.submit t('views.question_banks.form.save'), class: 'btn btn-ls-default'
      =t('views.general.or')
      =link_to t('views.general.cancel'), library_special_link(@exam_level)
