.l-margin-top-huge.payment-errors
  .row
    .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
      .form-row
        #card-element

        #card-errors{role: 'alert'}

.l-margin-top-big.coupon-section
  .row
    .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
      .col-sm-6{style: 'padding-left: 0;'}
        .form-group
          %label
            Coupon Code
          =text_field_tag :coupon, nil, placeholder: 'Valid Coupon Code', class: 'form-control', default: nil
      .col-sm-6{style: 'padding-right: 0;'}
        .form-group
          .checkbox
            %label
              %input{type: "checkbox", name: 'terms_and_conditions', id: 'terms_and_conditions', required: true}
                =t('views.general.terms_and_conditions')

    .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.l-margin-top-big
      .form-group.l-margin-top.text-center
        %input{type: 'submit', class: 'btn btn-red', value: t('views.users.upgrade_subscription.upgrade_subscription')}


:javascript

  $('input[type="checkbox"]').on('change', function() {
    if($('#terms_and_conditions').prop('checked') == true) {
      $("#hidden_term_and_conditions").val('true');
    } else if($('#terms_and_conditions').prop('checked') == false) {
      $("#hidden_term_and_conditions").val('false');
    }
  });

  var stripe = Stripe('#{ENV['learnsignal_v3_stripe_public_key']}');
  var elements = stripe.elements();

  var card = elements.create('card', {hidePostalCode: true,});
  card.mount('#card-element');


  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('upgrade-form');
    $('#user_subscriptions_attributes_0_stripe_token').val(token.id);

    // Submit the form
    form.submit();
    //Replace with spinning JS
    $('.payment-heading').hide();
    $(".spinner").show();
  }

  function createToken() {
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  };

  // Create a token when the form is submitted.
  var form = document.getElementById('upgrade-form');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    createToken();
  });