.remodal{"data-remodal-id" => "add-card-modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12
        %h2
          =t('views.subscription_payment_cards.modal.h4')

  .row.l-margin-top
    .col-sm-12.text-left
      =form_for(SubscriptionPaymentCard.new(make_default_card: true), method: :post, html: {class: 'form-horizontal', role: 'form', id: 'new-subscription-payment-card-form'}, name: 'add_card_form') do |f|
        =f.hidden_field :user_id, value: @current_subscription.try(:user_id)
        =f.hidden_field :stripe_token
        =f.hidden_field :make_default_card, value: true

        .payment-errors
          =render partial: 'new_card_form', locals: {f: f}

