=form_for(SubscriptionPaymentCard.new(make_default_card: true), method: :post, html: {class: 'form-horizontal', role: 'form', id: 'new-subscription-payment-card-form'}) do |f|
  =f.hidden_field :user_id, value: @current_subscription.user_id
  =f.hidden_field :stripe_token
  =f.hidden_field :make_default_card, value: true

  .modal.fade#new-subscription-payment-card-modal{tabindex: '-1',  role: 'dialog',  aria: {labelledby: 'newSubscriptionPaymentCardLabel', hidden: 'true'}}
    .modal-dialog
      .modal-content
        .modal-body
          %h4.modal-title#newSubscriptionPaymentCardLabel=t('views.subscription_payment_cards.modal.h4')
          =render partial: 'users/new_card_form', locals: {f: f}
          -#.form-group
            .col-sm-8.col-sm-offset-4
              .checkbox
                %label
                  =f.check_box :make_default_card
                  =t('views.subscription_payment_cards.form.make_default_card')


        .modal-footer
          .btn.btn-cyan.l-margin-right-big.l-padding-side-3x.l-margin-top{type: 'button', data: {dismiss: 'modal'}}=t('views.general.cancel')
          =f.submit t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
