.payment-details.pay-pal
  .row
    .col-sm-12.mb-2.mt-3.mt-sm-4{style: 'border-top: 1px solid #e0e0e0;'}
      %h4.m-0.mt-4.d-flex.justify-content-between
        %span Total:
        %span
          =@plans.first.currency.leading_symbol
          %span.value#paypal-total-value
      %p.billing-summary.text-right.mb-4 Billed every month

    .col-sm-12.mb-2.mt-sm-4.text-right
      = f.button :submit, class: 'btn btn-img mb-4', id: 'paypal_submit' do
        =image_tag('checkout-logo-large.png', :alt => "PayPal Button")

      .spinner-border.text-success.spinning-loading{:role => "status"}
        %span.sr-only Loading...



    .col-sm-12.mb-6
      %p='Note: Coupons are not permitted with PayPal.'
