.payment-details.pay-pal
  .row
    .col-sm-6.mb-2.mt-sm-4
      %h4.m-0
        Total:
        = @plans.first.currency.leading_symbol
        %span.value#paypal-total-value
      %p.billing-summary.mb-4 Billed every month

    .col-sm-6.mb-2.mt-sm-4.text-center
      = f.button :submit, class: 'btn btn-img mb-4', id: 'paypal_submit' do
        =image_tag('checkout-logo-large.png', :alt => "PayPal Button")

      .spinner-border.text-success.spinning-loading{:role => "status"}
        %span.sr-only Loading...



    .col-sm-12
      %p='Note: Coupons are not permitted with PayPal.'
