.payment-errors
  .form-group.cc
    %label
      Credit or debit card
    .clearfix
      #card-element

      #card-errors{role: 'alert'}

  .form-group.l-margin-top
    %label.check
      %input{type: "checkbox", id: 'terms_and_conditions', required: true}
        %span
          %i.fa.fa-check
        =t('views.general.terms_and_conditions')

  .form-group.l-margin-top
    .tot-get
      .price
        -# TODO Make real value
        %span.total Total:
        %span.value £69.99
      %div
        = f.button :submit, class: 'lsbtn', id: 'card_submit' do
          %i.fa.fa-lock
          =t('views.users.upgrade_subscription.upgrade_subscription')

        .sk-circle{style: 'margin-right: 50px; margin-left: 50px;'}
          .sk-circle1.sk-child
          .sk-circle2.sk-child
          .sk-circle3.sk-child
          .sk-circle4.sk-child
          .sk-circle5.sk-child
          .sk-circle6.sk-child
          .sk-circle7.sk-child
          .sk-circle8.sk-child
          .sk-circle9.sk-child
          .sk-circle10.sk-child
          .sk-circle11.sk-child
          .sk-circle12.sk-child



    .obs
      ="Your next recurring payment will be on 01 Jan 1980."
      %br
      Remember, you can cancel at anytime





:javascript

  $('input[type="checkbox"]').on('change', function() {
    if($('#terms_and_conditions').prop('checked') == true) {
      $("#hidden_term_and_conditions").val('true');
    } else if($('#terms_and_conditions').prop('checked') == false) {
      $("#hidden_term_and_conditions").val('false');
    }
  });

  // Custom styling can be passed to options when creating an Element.
  var style = {
    base: {
      fontWeight: 300,
      fontFamily: 'Rubik',
      fontSize: '20px',
      lineHeight: '24px'
    }
  };

  var stripe = Stripe('#{ENV['learnsignal_v3_stripe_public_key']}');
  var elements = stripe.elements();

  var card = elements.create('card', {hidePostalCode: true, style: style});
  card.mount('#card-element');


  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('reactivate-form');
    $('#subscription_stripe_token').val(token.id);

    // Submit the form
    form.submit();
    //Replace with spinning JS
    $('#card_submit').hide();
    $(".sk-circle").show();
  }

  function createToken() {
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  };

  // Create a token when the form is submitted.
  var form = document.getElementById('reactivate-form');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    createToken();
  });
