=form_for(@subject_course_resource, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-8.col-md-offset-2
      =render partial: '/layouts/error_messages', locals: {thing: @subject_course_resource, message: nil}
      =f.label :name, t('views.subject_course_resources.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.subject_course_resources.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
      %br/
      =f.label :subject_course_id, t('views.subject_course_resources.form.subject_course_id'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.collection_select :subject_course_id, @subject_courses, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
      %br/
      =f.label :description, t('views.subject_course_resources.form.description'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_area :description, placeholder: t('views.subject_course_resources.form.description_placeholder'), rows: 4, class: 'form-control', style: 'border-radius: 6px;'

      .row
        .col-md-12.l-margin-top-big
          =f.submit t('views.general.save'), class: 'btn btn-red'
          =t('views.general.or')
          =link_to t('views.general.cancel'), subject_course_resources_path, class: 'btn btn-cyan'
