.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.referral_codes.index.h1')

      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =#render partial: 'management_consoles/referrals_nav'

      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .table-box
            .table-responsive
              %table.table.sorted_table
                %thead
                  %tr
                    %th=t('views.referral_codes.index.code')
                    %th=t('views.referral_codes.index.email')
                    %th=t('views.referral_codes.index.trial_referred_signups')
                    %th=t('views.referral_codes.index.subscription_referred_signups')
                    %th=t('views.referral_codes.index.total_referred_signups')
                    %th
                %tbody
                  -@referral_codes.each do |referral_code|
                    %tr{id: referral_code.id}
                      %td=referral_code.code
                      %td=referral_code.user.email
                      %td=referral_code.try(:trial_referred_signups).try(:count)
                      %td=referral_code.try(:subscription_referred_signups).try(:count)
                      %td=referral_code.try(:referred_signups).try(:count)
                      %td
                        =link_to t('views.general.view'), referral_code_url(referral_code), class: 'btn btn-small btn-purple'

              =will_paginate @referral_codes, renderer: BootstrapPagination::Rails