.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            ='Referral Code: '
            =@referral_code.code
          %p
            ='Referrer User: '
            =@referral_code.user.email

      .row.l-margin-top.l-margin-bottom
        .col-sm-6
          =link_to t('views.subject_courses.course_modules_order.return'), referral_codes_url, class: 'btn btn-red'
        .col-sm-6
          .pull-right
            =link_to 'CSV Download', export_referred_signups_path(format: :xls, id: @referral_code.id), class: 'btn btn-cyan'
        .col-md-12.l-margin-top-big
          .table-box
            .table-responsive
              %table.table.sorted_table
                %thead
                  %tr
                    %th Referral Users
                    %th Creation Date
                    %th Country
                    %th Subscription
                    %th Referral URL
                %tbody
                  -@referral_code.referred_signups.each do |referral|
                    %tr
                      %td
                        =referral.user.email
                      %td
                        =humanize_datetime(referral.created_at)
                      %td
                        =referral.user.try(:country).try(:name)
                      %td
                        =tick_or_cross(referral.subscription_id)
                      %td
                        =referral.referrer_url
