=form_for(@subject_course_category, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @subject_course_category, message: nil}
  .row
    .col-md-8.col-md-offset-2
      =f.label :name, t('views.subject_course_categories.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.subject_course_categories.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      %br/
      =f.label :payment_type, t('views.subject_course_categories.form.payment_type'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.select :payment_type, SubjectCourseCategory::PAYMENT_TYPES, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}

      %br/
      .form-group
        .col-sm-8.col-sm-offset-4
          .checkbox
            %label
              =f.check_box :active
              =t('views.currencies.form.active')

  .row
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), subject_course_categories_path, class: 'btn btn-cyan'
