.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.subject_course_categories.index.h1')
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .no-image-box-item.table-box
            .table-responsive
              =will_paginate @subject_course_categories, renderer: BootstrapPagination::Rails
              %table.table.sorted_table{style: 'font-size: 18px;'}
                %thead
                  %tr
                    %th=t('views.subject_course_categories.form.name')
                    %th=t('views.subject_course_categories.form.active')
                    %th=t('views.subject_course_categories.form.payment_type')
                    %th
                    %th
                %tbody
                  -@subject_course_categories.each do |category|
                    %tr
                      %td=category.name
                      %td=tick_or_cross(category.active)
                      %td=category.payment_type
                      %td
                        =link_to t('views.general.view'), subject_course_category_url(category), class: 'btn btn-purple btn-small'
                        =link_to t('views.general.edit'), edit_subject_course_category_url(category), class: 'btn btn-cyan btn-small'
                        -if category.destroyable?
                          =link_to t('views.general.delete'), category, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'

      .row
        =link_to t('views.general.new'), new_subject_course_category_url, class: 'btn btn-red', title: t('views.general.new_tooltip')
