=form_for(@course_module, builder: DanFormBuilder, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =f.hidden_field :sorting_order
  .well.well-sm
    =render partial: '/layouts/error_messages', locals: {thing: @course_module, message: nil}
    .form-group
      =f.label :institution_id, t('views.course_modules.form.institution_id'), class: 'control-label col-sm-4'
      .col-sm-8
        =f.collection_select :institution_id, @institutions, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
    .form-group
      =f.label :qualification_id, t('views.course_modules.form.qualification_id'), class: 'control-label col-sm-4'
      .col-sm-8
        =f.collection_related_select :qualification_id, @qualifications, :id, :name, :institution_id, :institution_id, {include_blank: t('views.general.select')}, {class: 'form-control'}
    .form-group
      =f.label :exam_level_id, t('views.course_modules.form.exam_level_id'), class: 'control-label col-sm-4'
      .col-sm-8
        =f.collection_related_select :exam_level_id, @exam_levels, :id, :name, :qualification_id, :qualification_id, {include_blank: t('views.general.select')}, {class: 'form-control'}
    -if f.object.exam_level.enable_exam_sections
      .form-group
        =f.label :exam_section_id, t('views.course_modules.form.exam_section_id'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.collection_related_select :exam_section_id, @exam_sections, :id, :name, :exam_level_id, :exam_level_id, {include_blank: t('views.general.select')}, {class: 'form-control'}
    .form-group
      =f.label :name, t('views.course_modules.form.name'), class: 'control-label col-sm-4'
      .col-sm-8
        =f.text_field :name, placeholder: t('views.course_modules.form.name_placeholder'), class: 'form-control update-my-url'
    .form-group
      =f.label :name_url, t('views.course_modules.form.name_url'), class: 'control-label col-sm-4'
      .col-sm-8
        =f.text_field :name_url, placeholder: t('views.course_modules.form.name_url_placeholder'), class: 'form-control'
    .form-group
      =f.label :description, t('views.course_modules.form.description'), class: 'control-label col-sm-4'
      .col-sm-8
        =f.text_area :description, placeholder: t('views.course_modules.form.description_placeholder'), rows: 4, class: 'form-control'
    .form-group
      =f.label :tutor_id, t('views.course_modules.form.tutor_id'), class: 'control-label col-sm-4'
      .col-sm-8
        =f.collection_select :tutor_id, @tutors, :id, :full_name, {include_blank: t('views.general.select')}, {class: 'form-control'}
    .form-group
      .col-sm-8.col-sm-offset-4
        .checkbox
          %label
            =f.check_box :active
            =t('views.course_modules.form.active')
  %p
    =f.submit t('views.general.save'), class: 'btn btn-success'
    =t('views.general.or')
    =link_to t('views.general.cancel'), course_module_special_link(@course_module)
