=form_for(@course_module, builder: DanFormBuilder, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-6
      =render partial: '/layouts/error_messages', locals: {thing: @course_module, message: nil}
      =f.hidden_field :sorting_order
      =f.hidden_field :subject_course_id
      =f.hidden_field :tutor_id
      =f.label :name, t('views.course_modules.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.course_modules.form.name_placeholder'), class: 'form-control update-my-url', style: 'border-radius: 6px;'
      %br/
      =f.label :name_url, t('views.course_modules.form.name_url'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name_url, placeholder: t('views.course_modules.form.name_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
    .col-md-6
      =f.label :description, t('views.course_modules.form.description'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_area :description, placeholder: t('views.course_modules.form.description_placeholder'), rows: 5, class: 'form-control', style: 'border-radius: 6px;'
      %br/
      %br/
      .col-sm-11.col-sm-offset-1
        .checkbox
          %label
            =f.check_box :active
            =t('views.course_modules.form.active')
  %br/
  %br/
  .row
    .col-md-12
      =f.submit t('views.general.save'), class: 'btn btn-red'
      =link_to t('views.general.cancel'), course_module_special_link(@course_module), class: 'btn btn-cyan'
