=form_for(@course_module, builder: DanFormBuilder, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-6
      =render partial: '/layouts/error_messages', locals: {thing: @course_module, message: nil}
      =#f.hidden_field :sorting_order
      =f.hidden_field :subject_course_id
      =f.hidden_field :tutor_id
      =f.hidden_field :name_url
      -if current_user.admin? || current_user.content_manager?
        =f.label :subject_course_id, t('views.course_modules.form.subject_course_id'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.collection_select :subject_course_id, @subject_courses, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
        %br/
        =f.label :tutor_id, t('views.course_modules.form.tutor_id'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.collection_select :tutor_id, @tutors, :id, :full_name, {include_blank: t('views.general.select')}, {class: 'form-control'}
        %br/
      =f.label :name, t('views.course_modules.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.course_modules.form.name_placeholder'), class: 'form-control update-my-url', style: 'border-radius: 6px;'
      %br/
      =f.label :sorting_order, t('views.course_modules.form.sorting_order'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :sorting_order, placeholder: t('views.course_modules.form.sorting_order'), class: 'form-control', style: 'border-radius: 6px;'
      %br/
      %br/
      .col-sm-11.col-sm-offset-1
        .checkbox
          %label
            =f.check_box :active
            =t('views.course_modules.form.active')

    .col-md-6
      =f.label :description, t('views.course_modules.form.description'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_area :description, placeholder: t('views.course_modules.form.description_placeholder'), rows: 5, class: 'form-control', style: 'border-radius: 6px;'

  %br/
  %br/
  %br/
  %br/
  .row
    .col-md-12
      =f.submit t('views.general.save'), class: 'btn btn-red'
      =link_to t('views.general.cancel'), course_module_special_link(@course_module), class: 'btn btn-cyan'
