.row
  .col-sm-12
    .page-header
      %h1
        =t('views.course_modules.index.h1')
      =render partial: 'shared/horizontal_hierarchy'
.row
  .col-sm-9
    -if @course_module
      =render partial: 'course_modules/show'
    -else
      .well.well-sm.text-center
        %h2=t('views.course_modules.index.h1')
        %p=t('views.course_modules.show.click_a_module')