.row
  .col-sm-12
    .page-header
      %h1
        =t('views.course_modules.index.h1')
.row
  .col-sm-3
    =render partial: 'course_modules/side_nav'
  .col-sm-9
    -if @course_module
      =render partial: 'course_modules/show'