.container
  %header.management-console-section
    %h1
      =@course.name
    %p.p-hero.px-lg-8
      ='Reorder Course Sections'

  %section.pb-7
    .row
      .col-sm-12
        .box-item.table-box
          .table-responsive
            %table.table.sorted_table{style: 'font-size: 18px;', data: {destination: course_sections_url}}
              %thead
                %tr
                  %th='Course Section'
                  %th='Active'
                  %th
              %tbody
                -@course.course_sections.all_in_order.each do |course_section|
                  %tr{id: course_section.id, data: {parent: @course.id}}
                    %td=course_section.name
                    %td=tick_or_cross(course_section.active)
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}


    .row.pt-4
      .col-md-12
        =link_to 'Return', course_url(@course), class: 'btn btn-secondary'
