.container
  %header.management-console-section
    %h1
      =t('views.levels.index.h1')

  %section.pb-7
    =render partial: 'management_consoles/course_content_nav'
    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              =link_to t('views.levels.index.add_course'), new_admin_level_url, class: 'btn btn-primary btn-sm', title: t('views.general.new_tooltip')
            .col-sm
              =form_tag(admin_levels_url, method: :get, role: 'form', class: 'form-horizontal') do
                =select_tag :group_id, options_for_select(Group.all.collect {|p| [ p.name, p.id ] }, params[:group_id]), {include_blank: 'All', class: 'custom-select', onchange: 'this.form.submit(); return false;'}

            .col-sm
              .search-container
                =form_tag(admin_levels_url, method: :get, role: 'form', id: 'search-form', class: 'form-inline') do
                  =text_field_tag :search, params[:search], class: 'form-control', placeholder: t('views.general.search')
                  %button{type: "submit"}
                    %i{:role => "img", class: 'budicon-search-list'}

          .table-responsive.pt-4
            %table.table.sorted_table{data: {destination: admin_levels_url}}
              %thead
                %tr
                  %th Name
                  %th Group
                  %th Active
                  %th
                  %th
              %tbody
                -@levels.each do |level|
                  %tr{id: level.id}
                    %td=level.name
                    %td=level.group.name
                    %td=tick_or_cross(level.active)
                    %td=link_to t('views.general.show'), admin_level_url(level), class: 'btn btn-xs btn-secondary'
                    %td
                      %button.btn.btn-primary.btn-xs.dropdown-toggle{type:'button', 'data-toggle':'dropdown', 'aria-haspopup':'true', 'aria-expanded': 'false'}
                        Edit
                      .dropdown-menu
                        =link_to t('views.general.edit'), edit_admin_level_url(level), class: 'dropdown-item'
                        -if level.destroyable?
                          =link_to t('views.general.delete'), admin_level_url(level), method: :delete, data: {confirm: t('views.general.delete_confirmation')}, class: 'dropdown-item', style: 'color: #dc3545;'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}


:javascript
  $(document).ready(function() {
    $("#search").on('blur', function() {
      $(this).parents('form').submit();
    });
  });
