.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.corporate_requests.show.h1')
            \#
            =@corporate_request.id
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .no-image-box-item.table-box
            .table-responsive
              %table.table.table-bordered.l-margin-top
                %tr
                  %td.col-sm-4=t('views.corporate_requests.form.name')
                  %td.col-sm-8=@corporate_request.name
                %tr
                  %td.col-sm-4=t('views.corporate_requests.form.title')
                  %td.col-sm-8=@corporate_request.title
                %tr
                  %td.col-sm-4=t('views.corporate_requests.form.company')
                  %td.col-sm-8=@corporate_request.company
                %tr
                  %td.col-sm-4=t('views.corporate_requests.form.email')
                  %td.col-sm-8=@corporate_request.email
                %tr
                  %td.col-sm-4=t('views.corporate_requests.form.phone_number')
                  %td.col-sm-8=@corporate_request.phone_number
                %tr
                  %td.col-sm-4=t('views.corporate_requests.form.website')
                  %td.col-sm-8=@corporate_request.website
                %tr
                  %td.col-sm-4=t('views.corporate_requests.form.personal_message')
                  %td.col-sm-8=@corporate_request.personal_message
              %p
                =link_to t('views.general.back'), corporate_requests_url
                |
                =link_to t('views.general.edit'), edit_corporate_request_url(id: @corporate_request.id), title: t('views.general.edit_tooltip')
