-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Thanks for contacting us!
        .col-md-8.col-md-offset-2.l-margin-bottom-6x
          .col-md-8.col-md-offset-2.l-margin-top.text-center
            =image_tag('https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/sendmailimage.png', class: 'l-margin-bottom-big')
        .col-md-8.col-md-offset-2.l-margin-top.text-center
          %h6{style: ' letter-spacing: 0.5px;'}
            We'll get back to you as soon as possible