%table.table.table-striped.table-bordered
  %thead
    %tr
      -if current_user.admin?
        %th
          =t('views.invoices.form.user_id')
          %br/
          =t('views.invoices.form.corporate_customer_id')
      %th=t('views.users.form.created_at')
      %th=t('views.invoices.form.subscription_id')
      -if current_user.corporate_customer?
        %th=t('views.invoices.form.number_of_users')
        %th.text-right=t('views.invoices.form.unit_price_ex_vat')
      %th.text-right=t('views.invoices.form.line_total_inc_vat')
      %th=t('views.invoices.form.status')
  %tbody
    -@invoices.each do |invoice|
      %tr{id: invoice.id}
        -if current_user.admin?
          %td
            =link_to(invoice.user.full_name, invoice.user, title: t('views.general.view_tooltip'))
            %br/
            =link_to(invoice.corporate_customer.try(:name), invoice, title: t('views.general.view_tooltip'))
        %td=link_to(invoice.subscription.name, invoice, title: t('views.general.tooltips.click_to_view'))
        %td=link_to(invoice.created_at.to_s(:standard), invoice, title: t('views.general.tooltips.click_to_view'))
        -if current_user.corporate_customer?
          %td=link_to(invoice.number_of_users, invoice, title: t('views.general.view_tooltip'))
          %td.text-right=link_to(number_in_local_currency(invoice.unit_price_ex_vat, invoice.currency_id), invoice, title: t('views.general.view_tooltip'))
        %td.text-right=link_to(number_in_local_currency(invoice.line_total_inc_vat, invoice.currency_id), invoice, title: t('views.general.view_tooltip'))
        %td=link_to(invoice.status, invoice, title: t('views.general.view_tooltip'))
