%main
  %article.dashboard.bg-gray5
    .container
      %header
        %h1.h1-hero.pt-5
          Invoices
      %section.pb-md-6.pt-4
        .row.row-md
          .col-sm-12
            -if @invoices.any?
              %article.card
                .card-body
                  %h2 All Your Invoices
                  .table-responsive
                    %table.table
                      %thead
                        %tr
                          %th Reference N.
                          %th Date Created
                          %th Amount Charged
                          %th Type
                          %th Status
                          %th PDF
                      %tbody
                        -@invoices.each do |invoice|
                          %tr
                            %td=invoice.id
                            %td=humanize_datetime(invoice.created_at)
                            %td=number_in_local_currency(invoice.total, invoice.currency_id)
                            %td=invoice_type(invoice)
                            %td
                              %span{class: invoice.status == 'Paid' ? 'text-success' : 'text-danger'}
                                =invoice.status
                            %td
                              =link_to subscription_invoices_url(invoice.id, format: 'pdf'), target: '_blank' do
                                .btn.btn-link.btn-xs
                                  View
            -else
              .row.row-lg
                .col-sm
                  .buy-products
                    %h2 No Invoices Yet
                    %p Once you start a subscription, all your invoices will be available here to view.
