.row
  .col-sm-12
    .page-header
      %h1=t('views.invoices.index.h1')
.row
  .col-sm-12
    =will_paginate @invoices, renderer: BootstrapPagination::Rails
    =render partial: 'invoices/index', locals: {f: nil}
-#
