=render partial: 'layouts/external_navbar'
%main
  .container-bg.home-hero-alt-5
    .container
      %article.home-hero.home-hero-basic-login
        .row.justify-content-between
          .col-sm-12.col-xl-5
            %header.home-hero-header

              -if @home_page.header_h1 && !@home_page.header_h1.empty?
                %h1.h1-hero.text-white.mb-5
                  =@home_page.header_h1
              -else
                %h1.h1-hero.text-white.mb-5
                  The smarter way to study.

              -if @home_page.header_paragraph && !@home_page.header_paragraph.empty?
                %p.text-white.mb-5.pr-xl-4
                  =@home_page.header_paragraph
              -else
                %p.text-white.mb-5.pr-xl-4
                  Get everything you need to pass your ACCA exam in one place! See why over 100,000 students have saved money and time by switching to studying online with learnsignal.

              -if @home_page.header_h3 && !@home_page.header_h3.empty?
                %h3.text-white.pr-xl-4
                  =@home_page.header_h3
              -else
                %h3.text-white.pr-xl-4
                  No credit card required.


          -if @home_page.registration_form || @home_page.login_form
            .col-xl-6
              =render partial: 'registration_login_form'


  =render partial: 'usage_numbers_section'

  .container
    %article.py-5
      %header.pb-sm-4.pb-md-5
        .row.row-lg
          .col-12.col-lg-6
            %blockquote.ml-lg-3.mr-lg-3
              %p.text-gray2
                "I passed my final exam advanced performance management. I found the learnsignal system and content very useful and more up-to-date than previous providers. I would recommend learnsignal to anyone studying ACCA."
              %footer
                %cite.font-weight-semi-bold.text-gray2
                  Peter Curtis, United Kingdom

          .col-12.col-lg-6
            -if @home_page.video_guid && !@home_page.video_guid.empty?
              .video-iframe-wrap
                %iframe{src: "https://player.vimeo.com/video/#{@home_page.video_guid}", frameborder: '0', allowfullscreen: true, mozallowfullscreen: true, webkitallowfullscreen: true}
            -else
              =image_tag('testimonial-img.jpg', class: 'mb-5 mb-lg-0', alt: 'Girl at the laptop')




  =render partial: 'usp_section'

  .container
    %article.py-5
      %header.text-center.pb-sm-4.pb-md-5
        %h2.h1-mega
          ="Explore our #{@group.name} courses"
        %p.p-hero.px-lg-6
          =@group.description

      .row.row-lg
        -@group.subject_courses.all_active.all_in_order.each do |course|
          .col-sm
            =link_to library_special_link(course), class: 'card card-horizontal flex-row card-mint' do
              .card-header.d-flex.justify-content-center.align-items-center
                %i{"aria-label" => course.icon_label, :role => "img", class: course.icon_label ? course.icon_label : 'budicon-office-bag-c', style: "color: #{course.highlight_colour};"}

              .card-body.d-flex.flex-column.justify-content-center
                %small.card-category.mb-2{style: "color: #{course.highlight_colour};"}
                  =course.category_label
                %h5.card-title.mb-1
                  %span.mr-1
                    =course.name

  -if @home_page.student_testimonials.any?
    =render partial: 'student_testimonials', locals: {home_page: @home_page}

  -if @home_page.blog_posts.any?
    =render partial: 'blog_posts_section', locals: {home_page: @home_page}

  =render partial: 'customer_support_section'





:javascript

  $(window).scroll(function() {
    var scroll = $(window).scrollTop();

    if (scroll >= 1) {
        //clearHeader, not clearheader - caps H
        $(".header").addClass("sticky-nav-border");
    } else if (scroll <= 1) {
      $(".header").removeClass("sticky-nav-border");
    }
  });