=render partial: 'layouts/navbar'

%main
  .container-bg.home-hero-alt-bg.bg-careers
    .container-md
      %article.home-hero
        %header.home-hero-header
          .row
            .col-xl-12.text-center.pb-3
              %h1.h1-mega.text-white.pt-5.pb-5
                We are hiring!
              %p.p-hero.px-lg-6.text-white
                Learnsignal is a fast growing online education business looking to improve the way people learn through combining the best teaching methods with the best technological tools.

  .container-bg
    .container
      %article.text-gray3.text-center.py-4.py-sm-4
        %header
          .row
            .col-xl-12.text-center
              %p.p-hero.px-lg-6
                Online education is an industry where an individual’s contribution can affect the future career of thousands of people.
              %p.p-hero.px-lg-6
                We are looking for hardworking people who want to have a big impact, people who don’t accept the status quo and are constantly searching for ways to improve the world around them.

          .py-5
            =link_to 'https://learnsignaleducation.bamboohr.com/jobs/', class: 'btn btn-primary btn-lg' do
              Take a look at our open roles

  =render partial: 'library/user_form_modal', locals: { ticket_type: 'Contact Us', form_id: 'contact-form-modal' }
  .container-bg.bg-gray5
    .container
      %article.text-center.py-6.py-lg-7
        %header
          %h2.h1.mb-4.px-4
            Find out more about us!
          .container-md
            %p.px-4.px-sm-0
              If you have any questions of concerns about enrolling in our online learning programme then we're here for you and we'd love to help
        .py-4.d-flex.justify-content-center
          - %w(Conor_CHD_5350.jpg Alan_CHD_5507.jpg Philip_CHD_5494.jpg).sample(3).each do |image|
            =image_tag(image, class: 'img-thumbnail img-thumbnail-sm m-1 m-sm-2', alt: "Contact person profile image")
        .py-3
          .btn.btn-primary.btn-lg{'data-target' => '#contact-form-modal', 'data-toggle' => 'modal', :href => '#'}
            Get in touch
