.landing
  =render partial: 'layouts/external_banner'
  #wrapper
    -#loading
    %header#header
      =render 'layouts/landing_navbar'

    %section#coming_soon.diag-r-down
      .tmain
        .tbase
          .container
            .row
              .col-md-10{style: 'margin-top: 60px;'}
                %h1.title1
                  ='Passing Your ACCA Exams Just Got Easier'
                %h2.subtitle
                  ='Eliminate your exam fears. Start practising your CBE’s with LearnSignal now.'

                .lsbtn-base
                  -if current_user
                    =link_to new_subscription_url, class: 'lsbtn' do
                      ='Get full access'
                      %i.fa.fa-chevron-right
                  -else
                    =link_to new_student_url, class: 'lsbtn' do
                      ='Get free course access'
                      %i.fa.fa-chevron-right


              .col-md-2
                .approved
                  =image_tag('acca_approved.png')





    %section#points.l-margin-top
      .container
        .row
          .col-md-10.col-md-offset-1
            %h2.title1
              ='Eliminate your fear of ACCA exams'


            .container-fluid.l-margin-bottom-huge
              #vimeo_player.vimeo-player

            .l-margin-top-huge
              %ul
                %li{style: 'line-height: 1.2em;'}
                  ='Unlimited constructed response CBE practice. Do as many questions as you need at '
                  %span{style: 'font-weight: bold;'}
                    ='no extra cost.'
                %li{style: 'line-height: 1.2em;'}
                  ='Busy at work? '
                  %span{style: 'font-weight: bold;'}
                    ='Short on time?'
                  ='Save your answers and come back to them later.'
                %li{style: 'line-height: 1.2em;'}
                  ='Review your answers with your tutor 24 hours a day.'
                %li{style: 'line-height: 1.2em;'}
                  ='Short on time? Save your answers and finish them later.'
                %li{style: 'line-height: 1.2em;'}
                  %span{style: 'font-weight: bold;'}
                    ='Easy to use. '
                  ='Just log in and get started.'





    %section#what{style: 'background: #F5F5F7;'}
      .container
        %h2.title1 Frequently Asked Questions
        %ul
          %li
            .item
              .img
                =image_tag('what1.png')
              .desc
                %span{style: 'font-weight: bold;'}
                  ='How much do the CBE’s cost?'
                ='They are completely free for LearnSignal students.'
          %li
            .item
              .img
                =image_tag('what2.png')
              .desc
                %span{style: 'font-weight: bold;'}
                  ='How many times can I use the CBE’s?'
                ='As many times as you like - there’s no limit.'
          %li
            .item
              .img
                =image_tag('what3.png')
              .desc
                %span{style: 'font-weight: bold;'}
                  ='Where are the CBE’s?'
                ='Simply log into LearnSignal and go to the Question Bank on your course page.'
          %li
            .item
              .img
                =image_tag('what4.png')
              .desc
                %span{style: 'font-weight: bold;'}
                  ='Can I use the CBE’s for my Strategic Professional exams?'
                ='Yes. You can go back to them any time to revise your assumed knowledge and increase your chances of passing.'

        .obs-nocc{style: 'margin-bottom: 10px;'}
          Eliminate your fear of your ACCA exams - get started now!
        .lsbtn-base
          -if current_user
            =link_to 'Get full access now', new_subscription_url, class: 'lsbtn'
          -else
            =link_to 'Start Free Trial', new_student_url, class: 'lsbtn'





=render partial: 'footer_pages/contact_us_form_modal'

:javascript

  var options = {
    id: "281947132",
    webkitAllowFullScreen: true,
    mozallowfullscreen: true,
    allowFullScreen: true
  };

  var player = new Vimeo.Player('vimeo_player', options);
