.container
    %article.py-5
        %header.pb-sm-4.pb-md-5
            %h2.h1-mega.text-center
                Approved Accounting & Finance Tuition Providers
                %p.text-gray2.pt-3.text-center.partner-logo-subtitle
                    Approved ACCA, CIMA & AAT Tuition Partners. Since becoming approved providers we have continued to challenge the traditional way of learning and grown our student base across 130 countries.

            .row.row-lg
                .col-12.col-lg-4
                    .text-center
                        =image_tag('learning-partner-badge.png', alt: 'ACCA Logo')
                .col-12.col-lg-4
                    .text-center.pt-7
                        =image_tag('CIMA_Registered_Tuition_Provider_RGB.png', alt: 'CIMA Logo')
                .col-12.col-lg-4
                    .text-center.pt-7
                        =image_tag('AAT_Approved.png', alt: 'AAT Logo', class: 'logo3')