%header.header
  %nav.navbar.navbar-light.navbar-expand-lg.navbar-lg
    .container.animate.fade-in-up
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-haspopup" => "true", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-bar.frst
        %span.navbar-toggler-bar.scnd

      =link_to home_url, class: 'navbar-brand logo' do
        =image_tag('Learnsignal-Logo.svg', class: 'logo-img')

      #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav.align-items-lg-center
          -if current_user
            %li.nav-item
            =link_to student_dashboard_url, class: 'nav-link' do
              %span Dashboard
          %li.nav-item
            =link_to library_url, class: 'nav-link' do
              %span Courses
          %li.nav-item
            =link_to new_student_url, class: 'nav-link' do
              %span Register
          %li.nav-item
            =link_to sign_in_url, class: 'nav-link navbar-login' do
              %span Login

%main
  .container-bg.home-hero-alt-bg{style: 'min-height: 0;'}
    .container
      %article.home-hero.home-hero-alt
        .row
          .col-md-10.offset-1
            %header.podcast-hero-header
              %h1.h1-hero.mb-3.text-white.text-center
                ='Forget The Numbers: The Student Accounting Show'
              %p.p-hero.px-lg-8.text-white.text-center
                Sometimes to keep going you need to stop, listen and start again.


  %section#podcast
    .container-md
      .col-sm-12.py-3
        %p
          Tune in to our weekly podcast show featuring advice, motivation and the tools you need to succeed in your exam or career goals. And don't forget to subscribe, rate and review us on Apple Podcast, Spotify or whichever player you prefer.
      .col-sm-12.p-4
        %script{src: 'https://www.buzzsprout.com/172305.js?player=large&artist=LearnSignal', type: 'text/javascript', charset: 'utf-8'}

