=render partial: 'layouts/navbar'
%main
  .container-bg.home-hero-alt-bg.podcast{style: 'min-height: 0;'}
    .container
      %article.home-hero.home-hero-alt
        .row
          .col-md-10.offset-1
            %header.podcast-hero-header
              %h1.h1-hero.mb-3.text-white.text-center
                ='Forget The Numbers: The Student Accounting Show'


  %section#podcast
    .container-md.pb-4
      .col-sm-12.py-3
        %p
          Tune in to our weekly podcast show featuring advice, motivation and the tools you need to succeed in your exam or career goals. And don't forget to subscribe, rate and review us on
          =link_to 'https://podcasts.apple.com/ie/podcast/forget-the-numbers-the-student-accounting-show/id1406751620', target: '_blank' do
            Apple Podcast
          ,
          =link_to 'https://open.spotify.com/show/72hR3tuWmntqQjQLhSloDz?si=EdDsSh_mSQCwyCw3f6qHog', target: '_blank' do
            Spotify
          =' or whichever player you prefer.'
      .col-sm-12.p-4
        %script{src: 'https://www.buzzsprout.com/172305.js?player=large&artist=LearnSignal', type: 'text/javascript', charset: 'utf-8'}
      .col-sm-12.p-4
        %script{src: "https://www.buzzsprout.com/627232.js?player=large", type: "text/javascript", charset: "utf-8"}


  -if @home_page.blog_posts.any?
    =render partial: 'blog_posts_section', locals: {home_page: @home_page}


-# :javascript

-#   $(window).scroll(function() {
-#     var scroll = $(window).scrollTop();

-#     if (scroll >= 1) {
-#         //clearHeader, not clearheader - caps H
-#         $(".header").addClass("sticky-nav-border");
-#     } else if (scroll <= 1) {
-#       $(".header").removeClass("sticky-nav-border");
-#     }
-#   });