%header.header.sticky-top
  %nav.navbar.navbar-light.navbar-expand-lg.navbar-lg
    .container.animate.fade-in-up
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-haspopup" => "true", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-bar.frst
        %span.navbar-toggler-bar.scnd

      =link_to home_url, class: 'navbar-brand logo' do
        =image_tag('Learnsignal-Logo.svg', class: 'logo-img')

      #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav.align-items-lg-center
          -if current_user
            %li.nav-item
            =link_to student_dashboard_url, class: 'nav-link' do
              %span Dashboard
          %li.nav-item
            =link_to library_url, class: 'nav-link' do
              %span Courses
          %li.nav-item
            =link_to new_student_url, class: 'nav-link' do
              %span Register
          %li.nav-item
            =link_to sign_in_url, class: 'nav-link navbar-login' do
              %span Login

%main
  .container-bg.home-hero-alt-bg.podcast{style: 'min-height: 0;'}
    .container
      %article.home-hero.home-hero-alt
        .row
          .col-md-10.offset-1
            %header.podcast-hero-header
              %h1.h1-hero.mb-3.text-white.text-center
                ='Forget The Numbers: The Student Accounting Show'


  %section#podcast
    .container-md.pb-4
      .col-sm-12.py-3
        %p
          Tune in to our weekly podcast show featuring advice, motivation and the tools you need to succeed in your exam or career goals. And don't forget to subscribe, rate and review us on
          =link_to 'https://podcasts.apple.com/ie/podcast/forget-the-numbers-the-student-accounting-show/id1406751620', target: '_blank' do
            Apple Podcast
          ,
          =link_to 'https://open.spotify.com/show/72hR3tuWmntqQjQLhSloDz?si=EdDsSh_mSQCwyCw3f6qHog', target: '_blank' do
            Spotify
          =' or whichever player you prefer.'
      .col-sm-12.p-4
        %script{src: 'https://www.buzzsprout.com/172305.js?player=large&artist=LearnSignal', type: 'text/javascript', charset: 'utf-8'}


  %section#blog-posts
    .container-bg.bg-gray5
      .container
        %article.py-5
          %header.text-center.pb-sm-4.pb-md-5
            %h2.h1-mega Explore our blog
            %p.p-hero.px-lg-6
              ACCA, accounting and financial industry blog articles with top tips and insights to help you pass your ACCA exams and build a rewarding career in finance.
          .row.row-lg
            -colours = %w[#fd5c63 #30aabc #f0ca28 #775ead #00b67b]
            -@home_page.blog_posts.each_with_index do |blog_post, count|
              .col-lg-4
                %article
                  =link_to blog_post.url, class: 'card card-primary card-pink blog-article', target: '_blank' do

                    =image_tag(blog_post.image.url, class: 'card-img-top', alt: blog_post.title, style: "border-bottom-color: #{colours[count]};")
                    .card-body.text-center.condense
                      %h2.h5.card-title
                        =blog_post.title
                      %p
                        =blog_post.description


:javascript

  $(window).scroll(function() {
    var scroll = $(window).scrollTop();

    if (scroll >= 1) {
        //clearHeader, not clearheader - caps H
        $(".header").addClass("sticky-nav-border");
    } else if (scroll <= 1) {
      $(".header").removeClass("sticky-nav-border");
    }
  });