=form_for @user, url: create_student_url, html: {style: 'min-height: 600px;'} do |f|
  =f.hidden_field :locale, value: (params[:locale] || 'en')
  =f.hidden_field :terms_and_conditions, id: 'hidden_term_and_conditions'
  =f.hidden_field :communication_approval, id: 'hidden_communication_approval'
  =f.hidden_field :home_page_id, value: @home_page&.id
  -if @exam_body
    =f.hidden_field :preferred_exam_body_id, id: 'hidden_preferred_exam_body_id', value: @exam_body.id

  .bg-white.p-3.px-sm-5.pt-sm-4
    .py-3
      %p
        -if @home_page
          -if @home_page.registration_form && @home_page&.registration_form_heading.present?
            =@home_page.registration_form_heading
        -else
          -if @plan && @plan&.registration_form_heading.present?
            =@plan.registration_form_heading
          -elsif !@plan && @product
            =''
          -elsif !@plan && !@product && @exam_body&.registration_form_heading.present?
            =@exam_body.registration_form_heading
          -else
            ='Get started with our free Basic Plan to explore our innovative learning platform and access selected course content.'

    =render partial: 'layouts/error_messages', locals: {thing: @user, message: t('views.home_pages.sign_up_form.error_panel_caption')}
    %fieldset.pb-3
      %legend.sr-only Registration Details
      .row
        .col-md-6
          .form-group
            %label.sr-only{:for => "first-name"} First Name
            =f.text_field :first_name, placeholder: 'Enter your first name', class: 'form-control', required: true
        .col-md-6
          .form-group
            %label.sr-only{:for => "last-name"} Last Name
            =f.text_field :last_name, placeholder: 'Enter your last name', class: 'form-control', required: true
      .row
        -if @home_page&.custom_file_name == 'bootcamp.html.haml'
          .col-md-6
            .form-group
              %label.sr-only{:for => "email-address"} Your email address
              =f.email_field :email, placeholder: 'Enter your email', class: 'form-control', required: true
          .col-md-6
            .form-group
              %label.sr-only{:for => "course_id"} Course Selection
              .input-group.input-group-lg
                =select_tag "course_id", options_from_collection_for_select(@home_page.group.courses.all_standard.all_active.all_in_order, "id", "name"), include_blank: 'Course Selection', class: 'form-control custom-select', id: 'course_id', required: true

        -elsif !@home_page && !@exam_body
          .col-md-6
            .form-group
              %label.sr-only{:for => "email-address"} Your email address
              =f.email_field :email, placeholder: 'Enter your email', class: 'form-control', required: true
          .col-md-6
            .form-group
              =f.label :preferred_exam_body_id, t('views.users.form.exam_body'), class: 'sr-only'
              .input-group.input-group-lg
                =f.collection_select :preferred_exam_body_id, ExamBody.all_active.all_in_order, :id, :name, {include_blank: t('views.users.form.exam_body')}, {class: 'form-control custom-select', id: 'user_exam_body', required: true}

        -else
          .col-md-12
            .form-group
              %label.sr-only{:for => "email-address"} Your email address
              =f.email_field :email, placeholder: 'Enter your email', class: 'form-control', required: true


      .row
        .col-md-6
          .form-group
            %label.sr-only{:for => "create-pwd"} Create a password
            =f.password_field :password, placeholder: t('views.users.form.create_password'), class: 'form-control', required: true
        .col-md-6
          .form-group
            %label.sr-only{:for => "confirm-pwd"} Confirm your password
            =f.password_field :password_confirmation, placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control', id: 'user_password_confirmation', required: true

    %fieldset
      %legend.sr-only Terms and Conditions checkboxes

      .custom-control.custom-checkbox.mb-3
        %input{type: "checkbox", class: "custom-control-input", id: "terms_and_conditions", required: true}
        %label{class: "custom-control-label", for: "terms_and_conditions"}
          I agree to learnsignal's
          =link_to 'terms and conditions', terms_and_conditions_url, target: '_blank'

      .custom-control.custom-checkbox.mb-3
        %input{type: "checkbox", class: "custom-control-input", id: "communication_approval", required: true}
        %label{class: "custom-control-label", for: "communication_approval"}
          I agree to receive information from learnsignal about offers, events and competitions by email and text. I agree to learnsignal’s Privacy Policy and understand I can unsubscribe at any time.

      -unless @home_page
        %p.pt-2
          ="We're committed to your privacy. The information you provide is used to contact you about relevant content,
                       products, and services. You may unsubscribe from these communications at any time. For more information,
                        check out our"
          =link_to 'Privacy Policy.', privacy_policy_url, target: '_blank'

    %p.pt-2
      =recaptcha_tags

    .d-flex.justify-content-between.align-items-center.pt-4
      = hidden_field_tag :hutk
      = hidden_field_tag :page_uri
      = hidden_field_tag :page_name
      = hidden_field_tag :hs_form_id, Rails.application.credentials[Rails.env.to_sym][:hubspot][:form_api][:registration_form]
      -if local_assigns.has_key?(:btn)
        =f.submit btn, class: 'btn btn-primary btn-sm', id: 'signUp'
      -else
        =f.submit 'Register Now', class: 'btn btn-primary btn-sm', id: 'signUp'
      .sk-circle
        .sk-circle1.sk-child
        .sk-circle2.sk-child
        .sk-circle3.sk-child
        .sk-circle4.sk-child
        .sk-circle5.sk-child
        .sk-circle6.sk-child
        .sk-circle7.sk-child
        .sk-circle8.sk-child
        .sk-circle9.sk-child
        .sk-circle10.sk-child
        .sk-circle11.sk-child
        .sk-circle12.sk-child

      .logo-acca#sign-up-partner-logo
        -if @home_page
          -if @home_page&.logo_image.present?
            =image_tag(@home_page.logo_image, alt: 'Logo')
        -elsif @exam_body&.logo_image.present?
          =image_tag(@exam_body.logo_image, alt: 'Logo')



:javascript

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  $(document).ready(function(){
    document.getElementById("hutk").value = getCookie("hubspotutk");
    document.getElementById("page_uri").value = document.URL;
    document.getElementById("page_name").value = document.title;
    var img = $('#sign-up-partner-logo');
    var width = img.width();
    var height = img.height();
    if(width > height){
      img.removeClass('logo-acca');
      img.addClass('logo-acca-landscape');
    }
  });

  $(".sk-circle").hide();
  $("#new_user").submit(function(ev) {
    document.getElementById("hutk").value = getCookie("hubspotutk");
    ev.preventDefault();
    $(".sk-circle").show();
    $("#signUp").hide();
    this.submit();
  });

  $('input[type="checkbox"]').on('change', function() {
    if($('#terms_and_conditions').prop('checked') == true) {
      $("#hidden_term_and_conditions").val('true');
    } else if($('#terms_and_conditions').prop('checked') == false) {
      $("#hidden_term_and_conditions").val('false');
    }
  });

  $('input[type="checkbox"]').on('change', function() {
    if($('#communication_approval').prop('checked') == true) {
      $("#hidden_communication_approval").val('true');
      gtag('event', 'agree_to_communication', {'event_category': 'pre-registration', 'event_label': 'register'});
    } else if($('#communication_approval').prop('checked') == false) {
      $("#hidden_communication_approval").val('false');
    }
  });
