.container-bg.bg-navy
  .container
    %article.text-gray3.text-center.py-6.py-sm-7
      %header.pb-3
        %h2.h1-mega.text-white.px-5.px-sm-6 Discover the smarter way to study
        %p.p-hero Learnsignal uses a unique method of learning to provide an easier, more enjoyable and more effective way to learn.
      .px-4.px-lg-4
        .row.row-lg
          .col-sm-6.col-md-4.col-lg-2
            .pb-4.d-flex.flex-md-column.align-items-center
              .mr-4.mb-md-4.mx-md-0
                %i.budicon-happy-chat{"aria-hidden" => "true"}
              %p.m-0.text-left.text-md-center 24/7 tutor support
          .col-sm-6.col-md-4.col-lg-2
            .pb-4.d-flex.flex-md-column.align-items-center
              .mr-4.mb-md-4.mx-md-0
                %i.budicon-card-slides{"aria-hidden" => "true"}
              %p.m-0.text-left.text-md-center Topic-by-topic video lectures
          .col-sm-6.col-md-4.col-lg-2
            .pb-4.d-flex.flex-md-column.align-items-center
              .mr-4.mb-md-4.mx-md-0
                %i.budicon-doc-marker{"aria-hidden" => "true"}
              %p.m-0.text-left.text-md-center Expert notes & corrected questions
          .col-sm-6.col-md-4.col-lg-2
            .pb-4.d-flex.flex-md-column.align-items-center
              .mr-4.mb-md-4.mx-md-0
                %i.budicon-desktop-smartphone{"aria-hidden" => "true"}
              %p.m-0.text-left.text-md-center Weekly webinars & podcasts
          .col-sm-6.col-md-4.col-lg-2
            .pb-4.d-flex.flex-md-column.align-items-center
              .mr-4.mb-md-4.mx-md-0
                %i.budicon-headline{"aria-hidden" => "true"}
              %p.m-0.text-left.text-md-center Mock exams
          .col-sm-6.col-md-4.col-lg-2
            .pb-4.d-flex.flex-md-column.align-items-center
              .mr-4.mb-md-4.mx-md-0
                %i.budicon-events{"aria-hidden" => "true"}
              %p.m-0.text-left.text-md-center Exam Bootcamp
