%header.header
  %nav.navbar.navbar-light.navbar-expand-lg.navbar-lg
    .container.animate.fade-in-up
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-haspopup" => "true", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-bar.frst
        %span.navbar-toggler-bar.scnd

      =link_to home_url, class: 'navbar-brand logo' do
        =image_tag('Learnsignal-Logo.svg', class: 'logo-img')

      #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav.align-items-lg-center
          %li.nav-item
            =link_to library_url, class: 'nav-link' do
              %span Courses
          %li.nav-item
            =link_to new_student_url, class: 'nav-link' do
              %span Register
          %li.nav-item
            =link_to sign_in_url, class: 'nav-link navbar-login' do
              %span Login

%main
  .container.home-hero-container
    %article.home-hero
      .row.no-gutters
        .col-xl-4
          %header.home-hero-header.pb-2
            <h1 class="h1-hero">the smarter<br>way to study<span class="text-mint">.</span></h1>
            %p.p-hero Designed by experts and delivered online so that you can study on a schedule that suits your needs.
        .col-xl-8
          %aside.home-hero-aside.py-2.py-sm-0
            .home-hero-img-wrap
              .circle-top-wrap
                %svg{:fill => "none", :viewbox => "0 0 237 237", :xmlns => "http://www.w3.org/2000/svg"}
                  %path.turquoise-oval{:d => "M118.5 237C183.946 237 237 183.946 237 118.5C237 53.0543 183.946 0 118.5 0C53.0543 0 0 53.0543 0 118.5C0 183.946 53.0543 237 118.5 237Z", :fill => "#30AABC", :opacity => "0.1"}
              .circle-bottom-wrap
                %svg{:fill => "none", :viewbox => "0 0 312 312", :xmlns => "http://www.w3.org/2000/svg"}
                  %path.yellow-oval{:d => "M156 312C242.156 312 312 242.156 312 156C312 69.8436 242.156 1.52588e-05 156 1.52588e-05C69.8436 1.52588e-05 0 69.8436 0 156C0 242.156 69.8436 312 156 312Z", :fill => "#F0CA28", :opacity => "0.1"}

              -if @home_page && @home_page.video_guid && !@home_page.video_guid.blank?
                .laptop-wrapper
                  %iframe{width: '560', height: '315', src: "https://player.vimeo.com/video/#{@home_page.video_guid}", frameborder: '0', allowfullscreen: true}
              -else
                =image_tag('laptop-with-lms-2.png', class: 'px-md-5 px-xl-0', alt: 'Laptop with Learn Signal page open')


      .home-hero-cta-section.pt-4.pt-sm-5.py-xl-0
        .pb-3
          =link_to new_student_url, class: 'btn btn-primary btn-lg' do
            Join for
            %span.text-uppercase free
            today!

        %small No credit card required. Set-up takes one minute

  .container
    %article.py-5
      %header.text-center.pb-sm-4.pb-md-5
        %h2.h1-mega Explore our courses
        %p.p-hero.px-lg-6
          Discover our professional courses designed by experts and delivered online so that you can study on a schedule that suits your needs.
      .row.row-lg
        -@groups.each do |group|
          .col-lg
            %article.card.card-primary.card-pink
              =image_tag(group.image.url, class: 'card-img-top', alt: 'People in front of the blackboard', style: "border-bottom-color: #{group.background_colour};")
              .card-body.text-center
                %h2.h1.card-title
                  =group.name
                %p
                  =group.description
                .mt-auto
                  =link_to 'Browse Courses', library_special_link(group), class: 'btn btn-secondary btn-sm'

  .container-bg.bg-navy
    .container
      %article.text-gray3.text-center.py-6.py-sm-7
        %header.pb-3
          %h2.h1-mega.text-white.px-5.px-sm-6 Discover the smarter way to study
          %p.p-hero Learnsignal uses a unique method of learning to provide an easier, more enjoyable and more effective way to learn.
        .px-4.px-lg-8
          .row.row-lg
            .col-md-3
              .pb-4.d-flex.flex-md-column.align-items-center
                .mr-4.mb-md-4.mx-md-0
                  %i.budicon-desktop-smartphone{"aria-hidden" => "true"}
                %p.m-0.text-left.text-md-center Access anytime, anywhere
            .col-md-3
              .pb-4.d-flex.flex-md-column.align-items-center
                .mr-4.mb-md-4.mx-md-0
                  %i.budicon-card-slides{"aria-hidden" => "true"}
                %p.m-0.text-left.text-md-center Topic-by-topic online lectures
            .col-md-3
              .pb-4.d-flex.flex-md-column.align-items-center
                .mr-4.mb-md-4.mx-md-0
                  %i.budicon-doc-marker{"aria-hidden" => "true"}
                %p.m-0.text-left.text-md-center Expert notes and corrected questions
            .col-md-3
              .pb-4.d-flex.flex-md-column.align-items-center
                .mr-4.mb-md-4.mx-md-0
                  %i.budicon-happy-chat{"aria-hidden" => "true"}
                %p.m-0.text-left.text-md-center Tutor support 24 hours a day, 7 days a week

  .container
    %article.py-3.py-6.text-center.text-lg-left
      %header.sr-only
        %h2 Testimonial
      .row.row-lg
        .col-lg-5
          =image_tag('testimonial-img.jpg', class: 'mb-5 mb-lg-0', alt: 'Girl at the laptop')
        .col-lg-7
          .d-flex.h-100.align-items-center
            %blockquote.mb-0.ml-lg-6.mr-lg-6
              %p.text-gray2
                "The good thing about learnsignal was the way the lecturers went through question papers. It helped me so much with the technique that I had lacked in my previous paper."
              %footer
                %cite.font-weight-semi-bold.text-gray2
                  Rebecca Nagujja, Ireland
  .container-bg.bg-gray5
    .container-sm
      %article.text-center.py-6.py-lg-7
        %header
          %h2.h1.mb-4.px-4 We're here to guide you through.
          %p.px-4.px-sm-0 We are 100% dedicated to helping you achieve your study goals. Get in touch if you have any questions about our courses.
        .py-4.d-flex.justify-content-center
          - %w(Conor_CHD_5350.jpg Alan_CHD_5507.jpg Cliodhna_CHD_5369.jpg Philip_CHD_5494.jpg Kate_CHD_5387.jpg).sample(3).each do |image|
            =image_tag(image, class: 'img-thumbnail img-thumbnail-sm m-1 m-sm-2', alt: "Contact person profile image")

        .py-3
          %a.btn.btn-primary.btn-lg{"data-target" => "#contact-us-modal", "data-toggle" => "modal", :href => "#"}
            Chat with our experts


=render partial: 'footer_pages/contact_us_form_modal'