%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          ='Get Started'

      %section.pb-md-6.pb-5
        .row.row-lg
          .col-lg-8.offset-lg-2.col-xs-offset-0
            .d-flex.flex-column.justify-content-center
              =render partial: 'new_student_form'
