#student-sign-up
  =form_for @user, url: student_sign_ups_url, html: {class: 'form-horizontal', role: 'form'} do |f|
    =f.hidden_field :locale, value: (params[:locale] || 'en')
    =f.hidden_field :country_id, value: @user.country_id
    .row
      .sign-up-form
        .col-sm-10.col-sm-offset-1
          .well.sign-up-well.text-center
            .row
              .col-sm-6.col-sm-offset-3
                .panel.panel-default.sign-up-heading
                  %h1=t('views.student_sign_ups.new.h1')
            %p.lead
              .row
                .col-sm-6.col-sm-offset-3
                  -if @custom_headings[:sub_head].blank?
                    %h3.no-top-gap=t('views.student_sign_ups.new.list.one')
                    %h3.no-top-gap=t('views.student_sign_ups.new.list.two')
                    %h3.no-top-gap=t('views.student_sign_ups.new.list.three')
                  -else
                    %h3.no-top-gap=@custom_headings[:sub_head]
            %hr/

            .text-left=render partial: 'layouts/error_messages', locals: {thing: @user, message: t('views.student_sign_ups.form.error_panel_caption')}

            %h2.text-center{style: 'margin-bottom: 18px'}
              =t('views.student_sign_ups.new.h2.subscription')
            .row
              -@subscription_plans.each do |plan|
                .col-sm-4.currency.subscription-outer-panel{class: plan.currency.iso_code + (@user.country.try(:currency_id) == plan.currency_id ? '' : ' hide'), id: "sub-#{plan.currency.iso_code}-#{plan.payment_frequency_in_months}", onclick: 'choosePlan(this); return false;', data: {plan_id: plan.id}}
                  .panel.subscription-panel{class: plan.id == @user.subscriptions.first.subscription_plan_id ? 'active' : ''}
                    .panel-heading
                      %p.text-center=t("views.student_sign_ups.form.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")

                    .panel-body.text-center
                      %h2.no-top-gap=plan.currency.format_number(plan.price)
                      -plan.description.lines[1..2].each do |line|
                        %p=line

            =f.fields_for :subscriptions do |sub|
              =sub.hidden_field :subscription_plan_id
              =sub.hidden_field :stripe_token

          .well.sign-up-well
            %h2.text-center.no-top-gap=t('views.users.show.tabs.personal_details')
            %hr/
            .form-group{style: 'padding-top: 20px'}
              .col-sm-5.col-sm-offset-1.form-spacing
                =f.text_field :first_name, placeholder: t('views.users.form.first_name'), required: true, class: 'form-control'
              .col-sm-5
                =f.text_field :last_name, placeholder: t('views.users.form.last_name'), class: 'form-control'
            .form-group
              .col-sm-10.col-sm-offset-1
                =f.email_field :email, placeholder: t('views.users.form.email'), class: 'form-control', required: true
            .form-group
              .col-sm-5.col-sm-offset-1.form-spacing
                =f.password_field :password, placeholder: t('views.users.form.password'), class: 'form-control', required: true
              .col-sm-5
                =f.password_field :password_confirmation, placeholder: t('views.student_sign_ups.form.retype_it'), class: 'form-control', required: true


          .well.sign-up-well
            %h2.text-center{style: 'margin-bottom: 18px'}
              =t('views.student_sign_ups.new.h2.payment')
            %hr/
            %p.text-center=t('views.student_sign_ups.form.you_wont_be_charged')

            =render partial: 'subscription_payment_cards/form', locals: {f: f}
            .row
              .col-sm-6.col-sm-offset-3.text-center
                .col-sm-6
                  =link_to image_tag('stripe-logo-outline.png', style: 'margin: 10px 0 0 0;', alt: t('views.student_sign_ups.form.stripe_com_logo')), 'https://stripe.com/', class: 'img img-responsive', target: '_blank'
                .col-sm-6
                  %p{style: 'padding-top: 4px;'}
                    .glyphicon.glyphicon-lock
                    =t('views.student_sign_ups.form.secure_server')


      .row
        .col-sm-2.col-sm-offset-5.text-center
          =f.submit t('views.student_sign_ups.form.submit'), class: 'btn btn-lg btn-ls-default sign-up-btn'


:javascript

  var countries = #{@countries.map {|c| [c.id, c.currency.iso_code]} };

  function clearPlans() {
    $('.subscription-panel').removeClass('active');
    $('#user_subscriptions_attributes_0_subscription_plan_id').val();
  }

  function choosePlan(theThing) {
    clearPlans();
    $(theThing).find('.subscription-panel').addClass('active');
    $('#user_subscriptions_attributes_0_subscription_plan_id').val( $(theThing).attr('data-plan-id') );
  }

  function showPlans() {
    var country_id = $('#user_country_id').val();
    var currency = 'EUR';
    $('.currency').addClass('hide');
    for (var i=0; i < countries.length; i++) {
      if (countries[i][0] == country_id) {
        currency = countries[i][1];
      }
    }
    $('.' + currency).removeClass('hide');
    $('#user_subscriptions_attributes_0_subscription_plan_id').val(
      $('.' + currency).find('.active').first().parent().attr('data-plan-id')
    );
  }

  $(document).on('ready', function() {
    showPlans();
  })
