.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom#thank-you-message
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Thanks for Signing Up
        .col-md-10.col-md-offset-1.l-margin-bottom-6x
          .corporate-box-item
            .container-fluid
              .email-pic-padding
                .row
                  .col-sm-6.col-sm-offset-4
                    .pull-left
                      =image_tag('https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/sendmailimage.png', class: 'email-pic')
                    .pull-left{style: 'margin-left: 40px; padding-top: 25px;'}
                      %h4.h3.text-left
                        Email Re-sent


            .row
              .col-md-12
                %p.text-center{style: 'text-align: center;  letter-spacing: 0.5px;'}
                  ="If you don't receive your verification email in the next 5 minutes please click on the speech bubble in the bottom right of your screen to talk with us directly."

-#TODO FAQ will be added here when static page changes are done