%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          Thank you for registering

      %section.pb-md-6.pb-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item
              .row.justify-content-center
                .col-xs-12
                  %h4.pt-4.text-center
                    Verify Your Email Address

                  %p.text-center
                    Click on the email we just sent you to verify your email address.

              .row.justify-content-center.py-4
                .col-xs-6
                  %i{"aria-label" => 'Icon', :role => "img", class: 'budicon-email-alert custom-email-alert'}
                .col-xs-6
                  .email-alert-text
                    %p Check your inbox now

:javascript

  dataLayer.push({'event':'registration', 'user_id':"#{flash[:datalayer_id]}", 'user_plan':'Basic Plan', 'plan_type':"#{flash[:datalayer_body]}"});