.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom#thank-you-message
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Thanks for Signing Up
        .col-md-10.col-md-offset-1.l-margin-bottom-6x
          .box-item
            .row
              .col-sm-6.col-sm-offset-3
                =image_tag('https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/sendmailimage.png', class: 'email-pic')
            .row
              .col-sm-6.col-sm-offset-3
                %h4.h3.text-center
                  Verify Your Email Address


            .row.l-margin-top
              .col-sm-10.col-sm-offset-1.text-center
                %p{style: 'text-align: center;  letter-spacing: 0.5px;'}
                  ="To complete your registration we need to verify your email address. To do this click on the verification email we just sent to #{@user.email}."

                -if @user && @user.email_verification_code
                  %p{style: 'text-align: center;  letter-spacing: 0.5px;'}
                    ="Didn't get the email? Please check your spam folder or "
                    =link_to 'click here', resend_verification_mail_url(@user.email_verification_code), method: :post
                    =" to resend it."




        .col-md-12.l-margin-bottom-6x
          %hr/
          =render partial: 'layouts/faq'

