%h3=t('views.course_module_jumbo_quiz.show.h1')
.well.well-sm
  -if @course_module.course_module_jumbo_quiz
    -jumbo_quiz = @course_module.course_module_jumbo_quiz
    %table.table.table-bordered
      %tbody
        %tr
          %th=t('views.course_module_jumbo_quiz.form.name')
          %td=jumbo_quiz.name
        %tr
          %th=t('views.course_module_jumbo_quiz.form.minimum_question_count_per_quiz')
          %td=jumbo_quiz.minimum_question_count_per_quiz
        %tr
          %th=t('views.course_module_jumbo_quiz.form.maximum_question_count_per_quiz')
          %td=jumbo_quiz.maximum_question_count_per_quiz
        %tr
          %th=t('views.course_module_jumbo_quiz.form.total_number_of_questions')
          %td=jumbo_quiz.total_number_of_questions
        %tr
          %th='Active'
          %td=jumbo_quiz.active
    %p=link_to t('views.general.edit'), edit_course_module_jumbo_quiz_url(jumbo_quiz), class: 'btn btn-info'
  -else
    %p=t('views.course_module_jumbo_quiz.show.no_jumbo_quizzes_yet')
    =link_to t('views.general.new'), new_course_module_jumbo_quiz_url(cm_id: @course_module.id), class: 'btn btn-success'