.hero-acca
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .header{role: 'banner'}
    .l-wrap
      .container-fluid
        %nav.navbar.navbar-default.navbar-transparent#navbar{role: 'navigation'}
          .navbar-header
            %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_url do
              =image_tag('ls-logo-red.svg', class: 'logo')
          #myNavbar.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to 'Why Learn Signal', why_learn_signal_url
              %li
                %a{href: 'http://blog.learnsignal.com/', target: '_blank'}
                  ='Blog'
              %li
                =link_to 'Pricing', pricing_url
              %li
                =link_to 'Library', subscription_groups_url
              %li
                =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}

  .hero-inner#sign-up
    .l-wrap-medium
      .container-fluid
        .row
          .col-sm-6.col-md-8.col-lg-8
            %p.h5.h-white.l-margin-bottom-huge
              Prepare for your ACCA exams with an online course
            %h1.h1.bold.h-white.h-separator.h-separator-left.l-margin-bottom-big
              Make studying for your ACCA exams easier, cheaper, and more efficient

            %p.h7
              ="Subscription for only #{number_in_local_currency_no_precision(@subscription_plan.price, @currency_id)} per Month."
              ='Start your 7-Day Free Trial'

          .col-sm-6.col-md-4.col-lg-4#sign-up-form
            =render partial: 'sign_up_form'

.business
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
              Features to support your ACCA study
        .row
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('phone-icon.png', class: 'features-img', alt: 'acca-anytime-anywhere-mobile-icon')
              Anywhere, Anytime, Any Device
            %p.p
              Study for your specific topics anytime, anywhere, on any device
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('acca-coins.png', class: 'features-img', alt: 'acca-depth-of-content-icon')
              ="Only #{number_in_local_currency_no_precision(@subscription_plan.price, @currency_id)} per Month"
            %p.p
              ="Access everything for #{number_in_local_currency_no_precision(@subscription_plan.price, @currency_id)} per month"
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('network-icon.png', class: 'features-img', alt: 'acca-expert-author-network-icon')
              Expert ACCA Tutors
            %p.p
              Designed and Developed by ACCA tutors

        .row.l-margin-top
          .col-sm-4.col-sm-offset-2
            %h3.l-margin-bottom-big
              =image_tag('video_player_3.png', class: 'video_player-img', alt: 'acca-anytime-anywhere-mobile-icon')
              Video
            .col-sm-10.col-sm-offset-1
              %p.p
                Tuition, Testing, Solutions to Past Exam Questions
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('laptop_2.png', class: 'laptop-img', alt: 'acca-depth-of-content-icon')
              F1 to P7
            .col-sm-10.col-sm-offset-1
              %p.p
                Everything you need to pass your ACCA exams


.l-section.is-bg-asphalt
  .l-wrap
    .container-fluid

      .course-list-wrap
        .row
          .col-md-8.col-md-offset-2
            %script{:async => "", :src => "//fast.wistia.com/embed/medias/z4hab7r6pp.jsonp"}
            %script{:async => "", :src => "//fast.wistia.com/assets/external/E-v1.js"}
            .wistia_responsive_padding{:style => "padding:56.25% 0 0 0;position:relative;"}
              .wistia_responsive_wrapper{:style => "height:100%;left:0;position:absolute;top:0;width:100%;"}
                .wistia_embed.wistia_async_z4hab7r6pp{:class => "videoFoam=true", :style => "height:100%;width:100%"}

.start-trial
  %a.btn-block.btn-block-red{href: new_student_url}
    .l-wrap
      .l-section-small
        .container-fluid
          .col-sm-12
            %p.h5.text-center
              Become a member
            %p.h2.text-center
              Start your 7-day free trial
              %span.ico-arrow-right-r

