.container
  %header.management-console-section
    %h1
      =@user.full_name
    %p.p-hero.px-lg-8
      ='Visit'
      \#
      =@visit.id

  %section.pb-4
    =render partial: 'users/user_tabs'
    .row.pt-4
      .col-sm-12
        .box-item

          .row
            .col-sm-4
              .h3
                Visit ID
              .h6
                =@visit.id
            .col-sm-4
              .h3
                Visitor ID
              .h6
                =@visit.visitor_id
            .col-sm-4
              .h3
                IP Address
              .h6
                =@visit.ip
            .col-sm-4
              .h3
                Agent
              .h6
                =@visit.user_agent
            .col-sm-4
              .h3
                Referer
              .h6
                =@visit.referrer
            .col-sm-4
              .h3
                Landing Page
              .h6
                =@visit.landing_page
            .col-sm-4
              .h3
                Referring Domain
              .h6
                =@visit.referring_domain
            .col-sm-4
              .h3
                Referring Domain
              .h6
                =@visit.referring_domain
            .col-sm-4
              .h3
                Search Keyword
              .h6
                =@visit.search_keyword
            .col-sm-4
              .h3
                Browser
              .h6
                =@visit.browser
            .col-sm-4
              .h3
                OS
              .h6
                =@visit.os
            .col-sm-4
              .h3
                Device
              .h6
                =@visit.device_type

            .col-sm-4
              .h3
                UTM Source
              .h6
                =@visit.utm_source
            .col-sm-4
              .h3
                UTM Medium
              .h6
                =@visit.utm_medium
            .col-sm-4
              .h3
                UTM Term
              .h6
                =@visit.utm_term
            .col-sm-4
              .h3
                UTM Content
              .h6
                =@visit.utm_content
            .col-sm-4
              .h3
                UTM Campaign
              .h6=@visit.utm_campaign


    .row
      .col-md-12
        .box-item.table-box
          .col-sm-12
            %h2
              Events
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th
                      Name
                    %th
                      Time
                    %th


                %tbody
                  -@visit.events.all_in_order.each do |event|
                    %tr
                      %td=event.name
                      %td=event.time
                      %td
                        -if event.name == 'Page View'
                          =event.properties.symbolize_keys[:url]
