#wrapper
  .hidden-xs
    =render partial: 'layouts/management_side_navbar'

  .main-content

    .l-section-small.is-bg-asphalt
      .l-wrap
        .container-fluid
          .row.l-margin-bottom
            .col-md-12.text-center
              %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
                ='Visit'
                \#
                =@visit.id

          .row.l-margin-top.l-margin-bottom
            .col-md-12
              =render partial: 'user_management/user_tabs'

          .row.l-margin-top.l-margin-bottom
            .col-md-12.l-margin-top-big
              .table-box
                .table-responsive
                  %table.table.table-bordered.l-margin-top
                    %tr
                      %th=t('views.visits.index.id')
                      %td=@visit.id
                    %tr
                      %th=t('views.visits.index.visitor_id')
                      %td=@visit.visitor_id
                    %tr
                      %th=t('views.visits.index.ip')
                      %td=@visit.ip
                    %tr
                      %th=t('views.visits.index.user_agent')
                      %td=@visit.user_agent
                    %tr
                      %th=t('views.visits.index.referrer')
                      %td=@visit.referrer
                    %tr
                      %th=t('views.visits.index.landing_page')
                      %td=@visit.landing_page
                    %tr
                      %th=t('views.visits.index.user_id')
                      %td=@visit.user_id
                    %tr
                      %th=t('views.visits.index.referring_domain')
                      %td=@visit.referring_domain
                    %tr
                      %th=t('views.visits.index.search_keyword')
                      %td=@visit.search_keyword
                    %tr
                      %th=t('views.visits.index.browser')
                      %td=@visit.browser
                    %tr
                      %th=t('views.visits.index.os')
                      %td=@visit.os
                    %tr
                      %th=t('views.visits.index.device_type')
                      %td=@visit.device_type
                    %tr
                      %th=t('views.visits.index.screen_height')
                      %td=@visit.screen_height
                    %tr
                      %th=t('views.visits.index.screen_width')
                      %td=@visit.screen_width
                    %tr
                      %th=t('views.visits.index.country')
                      %td=@visit.country
                    %tr
                      %th=t('views.visits.index.region')
                      %td=@visit.region
                    %tr
                      %th=t('views.visits.index.city')
                      %td=@visit.city
                    %tr
                      %th=t('views.visits.index.utm_source')
                      %td.col-sm-8=@visit.utm_source
                    %tr
                      %th=t('views.visits.index.utm_medium')
                      %td.col-sm-8=@visit.utm_medium
                    %tr
                      %th=t('views.visits.index.utm_term')
                      %td.col-sm-8=@visit.utm_term
                    %tr
                      %th=t('views.visits.index.utm_content')
                      %td.col-sm-8=@visit.utm_content
                    %tr
                      %th=t('views.visits.index.utm_medium')
                      %td.col-sm-8=@visit.utm_campaign
                    %tr
                      %th=t('views.visits.index.started_at')
                      %td.col-sm-8=humanize_datetime(@visit.started_at)
                  %p
                    =link_to t('views.general.back'), user_visits_url(@user)
