#wrapper
  .hidden-xs
    =render partial: 'layouts/corporate_side_bar'

  .main-content
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
      .container-fluid.l-padding-side-3x
        .row.l-margin-bottom.l-margin-top
          .col-md-6.col-sm-6.col-xs-6
            %h1.h-separator.h-separator-left{style: 'letter-spacing:1.5px;'}
              Managers
          .col-md-6.col-sm-6.col-xs-6.l-margin-bottom.l-margin-top.text-right
            =link_to t('views.general.add_manager'), new_corporate_manager_url, class: 'btn btn-red l-padding-side-3x text-bold', title: t('views.general.new_tooltip')
        .row.l-margin-top.l-margin-bottom
          .col-md-4.col-sm-4.l-margin-top
            =form_tag(corporate_managers_url, method: :get, role: 'form', class: 'form-inline input-group-lg') do
              .form-group.input-group.input-group-lg
                =text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: t('views.general.search')
                .input-group-addon{style: 'background-color: #EE5457; color: #fff;'}
                  %span.glyphicon.glyphicon-search

          .col-md-12.l-margin-top-big
            .corporate-box-item.table-box
              .table-responsive
                %table.table{style: 'font-size: 18px;'}
                  %thead
                    %tr
                      %th Name
                      %th Email
                      %th Active
                      %th Edit
                  %tbody
                    -@corporate_managers.each do |corporate_student|
                      %tr{id: corporate_student.id}
                        %td
                          =corporate_student.full_name
                        %td
                          =corporate_student.email
                        %td
                          =tick_or_cross(corporate_student.active)
                        %td
                          =link_to t('views.general.edit_user'), edit_corporate_manager_url(corporate_student), class: 'btn btn-small btn-purple'




  =render partial: 'layouts/footer'

:javascript
  $(document).ready(function() {
    $("#search_term").on('blur', function() {
      $(this).parents('form').submit();
    });

    $("#corporate_group").on('change', function() {
      $(this).parents('form').submit();
    });
  });
