#wrapper
  .hidden-xs
    #sidebar-wrapper.text-center
      %ul.sidebar-nav
        %li.first-li
          =link_to t('views.corporate_customers.show.overview'), corporate_customer_url(current_user.corporate_customer)
        %li
          =link_to t('views.corporate_students.index.corp_h1'), corporate_students_url
        %li
          =link_to t('views.corporate_groups.index.corp_h1'), corporate_groups_url
        %li
          =link_to t('views.subject_courses.index.h1'), subject_courses_url
        %li
          =link_to t('views.groups.index.h1'), groups_url
        %li
          =link_to t('views.users.show.h1'), account_url
        %li.current-page
          =link_to t('views.corporate_students.index.corp_managers'), corporate_managers_url

  .main-content.margin-top
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .l-section-corp-managers.is-bg-asphalt.corporate-padding
      .container-fluid.l-padding-side-3x
        .row.l-margin-bottom.l-margin-top
          .col-md-6.col-sm-6.col-xs-6
            %h1.h-separator.h-separator-left
              Managers
          .col-md-6.col-sm-6.col-xs-6.l-margin-bottom.l-margin-top.text-right
            =link_to t('views.general.add_manager'), new_corporate_manager_url, class: 'btn btn-red l-padding-side-3x text-bold', title: t('views.general.new_tooltip')
        .row.l-margin-top.l-margin-bottom
          .col-md-4.col-sm-4.l-margin-top
            =form_tag(corporate_managers_url, method: :get, role: 'form', class: 'form-inline input-group-lg') do
              .form-group.input-group.input-group-lg
                =text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: t('views.general.search')
                .input-group-addon{style: 'background-color: #EE5457; color: #fff;'}
                  %span.glyphicon.glyphicon-search

          .col-md-12.l-margin-top-big
            .corporate-box-item.table-box
              .table-responsive
                %table.table{style: 'font-size: 18px;'}
                  %thead
                    %tr
                      %th.p Name
                      %th.p Email
                      %th.p Active
                      %th.p Edit
                  %tbody
                    -@corporate_managers.each do |corporate_student|
                      %tr{id: corporate_student.id}
                        %td.p
                          =corporate_student.full_name
                        %td.p
                          =corporate_student.email
                        %td
                          =tick_or_cross(corporate_student.active)
                        %td
                          =link_to t('views.general.edit_user'), edit_corporate_manager_url(corporate_student), class: 'btn btn-small btn-purple'




  =render partial: 'layouts/corporate_footer'

:javascript
  $(document).ready(function() {
    $("#search_term").on('blur', function() {
      $(this).parents('form').submit();
    });

    $("#corporate_group").on('change', function() {
      $(this).parents('form').submit();
    });
  });
