files:
  # If this file is edited, it must be removed from EC2 instance prior to deploy.
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_asset_compilation.sh" :
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      source /root/.bash_profile
      cd $EB_APP_STAGING_DIR; bundle exec rake assets:precompile
      chown -R webapp:webapp $EB_APP_STAGING_DIR
