packages: 
  yum: 
    newrelic-sysmond: [] 
  rpm: 
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands: 
  "01": 
    command: nrsysmond-config --set license_key=8ba3f452798d4ac04c584daa76aa1ec612f4b922
  "02": 
    command: echo hostname=Learnsignal-ElasticBeanstalk-test >> /etc/newrelic/nrsysmond.cfg 
  "03": 
    command: /etc/init.d/newrelic-sysmond start
