.row
  .col-sm-12
    .well.well-sm
      .form-group
        .col-sm-1
          .label.label-primary
            =['A', 'B', 'C', 'D'][qa.options[:child_index]]
        =label_tag :text_content, t('views.quiz_answer.form.answer_text'), class: 'control-label col-sm-1'
        .col-sm-10{class: "answer_contents_#{qa.options[:child_index]}"}
          =qa.fields_for :quiz_contents do |c|
            .answer_content_block
              =c.hidden_field :_destroy, value: false, class: 'destroy'
              =c.hidden_field :id, class: 'the_id'
              =c.hidden_field :sorting_order, value: (c.options[:child_index] * 100), class: 'sorting_order'
              =c.text_area :text_content, placeholder: t('views.quiz_answer.form.answer_content_placeholder'), class: 'form-control', rows: 6
              .btn-group{role: 'group', aria: {label: 'add and remove buttons'}}
                =link_to '#', class: 'btn btn-default', onclick: "addAnswerContent($(this)); return false;" do
                  %span.glyphicon.glyphicon-plus
                =link_to '#', class: 'btn btn-default', onclick: "removeContent($(this)); return false;" do
                  %span.glyphicon.glyphicon-minus
      .form-group
        =qa.label :wrong_answer_video_id, t('views.quiz_answer.form.wrong_answer_video_id'), class: 'control-label col-sm-2'
        .col-sm-10
          =qa.collection_select :wrong_answer_video_id, @cme_videos, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}

