%p=sanitize t('views.quiz_questions.form.mathjax_prompt')
=form_for @quiz_question, html: { class: 'form-horizontal', role: 'form', multipart: true } do |f|
  =f.hidden_field :course_module_element_quiz_id
  .row
    =render partial: 'layouts/error_messages', locals: {thing: @quiz_question, message: nil}
    .col-sm-12
      %h2 Question
      .well.well-sm
        .form-group
          =label_tag :text_content, t('views.quiz_questions.form.question_text'), class: 'control-label col-sm-2'
          .col-sm-10.question_contents
            =f.fields_for :quiz_contents do |c|
              .question_content_block
                =render partial: 'quiz_contents/fields_for', locals: {qc: c, the_type: 'question'}

        .form-group
          =label_tag :quiz_question_quiz_solutions_attributes_0_text_content, t('views.quiz_questions.form.solution_to_the_question'), class: 'control-label col-sm-2'
          .col-sm-10.solution_contents
            =f.fields_for :quiz_solutions do |solution|
              .solution_content_block
                =render partial: 'quiz_contents/fields_for', locals: {qc: solution, the_type: 'solution'}

        .form-group
          =f.label :difficulty_level, class: 'control-label col-sm-2'
          .col-sm-10
            =f.select :difficulty_level, ApplicationController::DIFFICULTY_LEVEL_NAMES, {include_blank: t('views.general.select')}, {class: 'form-control'}

  %h2=t('views.quiz_questions.form.answers')
  =f.fields_for :quiz_answers do |qa|
    =render partial: 'quiz_questions/answers_form', locals: {qa: qa}

  %p
    =f.submit t('views.general.save'), class: 'btn btn-success'
    =t('views.general.or')
    -if @quiz_question.id.nil?
      =link_to t('views.general.cancel'), course_modules_url
    -else
      =link_to t('views.general.cancel'), edit_course_module_element_url(@quiz_question.course_module_element_quiz.course_module_element_id)

:javascript

  function addQuizContent(me, parent_type) {
    if (parent_type == 'question') {
      var parentName = 'content';
    } else if (parent_type == 'solution') {
      var parentName = 'solution';
    }
    var theTime = (new Date).getTime();
    var theClone = me.parent().parent().clone();
    if (parent_type == 'question' || parent_type == 'solution') {
      var position = $('.' + parent_type + '_contents').children().index(me.parent().parent());
    } else {
      var answerNumber = theClone.find('textarea').attr('id').split('_')[5];
      var position = $('.answer_contents_' + answerNumber).children().index(me.parent().parent());
    }
    if (parent_type == 'question' || parent_type == 'solution') {
      theClone.find('textarea').attr('id', 'quiz_question_quiz_' + parentName + 's_attributes_' + theTime + '_text_content');
      theClone.find('textarea').attr('name', 'quiz_question[quiz_' + parentName + 's_attributes][' + theTime + '][text_content]');
      theClone.find('.sorting_order').attr('id', 'quiz_question_quiz_' + parentName + 's_attributes_' + theTime + '_sorting_order');
      theClone.find('.sorting_order').attr('name', 'quiz_question[quiz_' + parentName + 's_attributes][' + theTime + '][sorting_order]');
      theClone.find('.destroy').attr('id', 'quiz_question_quiz_' + parentName + 's_attributes_' + theTime + '__destroy');
      theClone.find('.destroy').attr('name', 'quiz_question[quiz_' + parentName + 's_attributes][' + theTime + '][_destroy]');
      theClone.find('.the_id').attr('id', 'quiz_question_quiz_' + parentName + 's_attributes_' + theTime + '_id');
      theClone.find('.the_id').attr('name', 'quiz_question[quiz_' + parentName + 's_attributes][' + theTime + '][id]');
    } else {
      theClone.find('textarea').attr('id', 'quiz_question_quiz_answers_attributes_' + answerNumber + '_quiz_contents_attributes_' + theTime + '_text_content');
      theClone.find('textarea').attr('name', 'quiz_question[quiz_answers_attributes][' + answerNumber + '][quiz_contents_attributes][' + theTime + '][text_content]');
      theClone.find('.sorting_order').attr('id', 'quiz_question_quiz_answers_attributes_' + answerNumber + '_quiz_contents_attributes_' + theTime + '_sorting_order');
      theClone.find('.sorting_order').attr('name', 'quiz_question[quiz_answers_attributes][' + answerNumber + '][quiz_contents_attributes][' + theTime + '][sorting_order]');
      theClone.find('.destroy').attr('id', 'quiz_question_quiz_answers_attributes_' + answerNumber + '_quiz_contents_attributes_' + theTime + '__destroy');
      theClone.find('.destroy').attr('name', 'quiz_question[quiz_answers_attributes][' + answerNumber + '][quiz_contents_attributes][' + theTime + '][_destroy]');
      theClone.find('.the_id').attr('id', 'quiz_question_quiz_answers_attributes_' + answerNumber + '_quiz_contents_attributes_' + theTime + '_id');
      theClone.find('.the_id').attr('name', 'quiz_question[quiz_answers_attributes][' + answerNumber + '][quiz_contents_attributes][' + theTime + '][id]');
      theClone.find('.quiz_content_image').attr('id', 'quiz_question_quiz_answers_attributes_' + answerNumber + '_quiz_contents_attributes_' + theTime + '_image');
      theClone.find('.quiz_content_image').attr('name', 'quiz_question[quiz_answers_attributes][' + answerNumber + '][quiz_contents_attributes][' + theTime + '][image]');
    }
    theClone.find('textarea').val('').show();
    theClone.find('.sorting_order').val(parseInt(theClone.find('.sorting_order').val()) + 10);
    theClone.find('.the_id').val('');
    theClone.find('.content_type_radios').each(function(counter){
      console.log(counter);
      var temp_array = theClone.find('.content_type_radios').eq(counter).attr('id').split('_');
      var temp_array2 = theClone.find('.content_type_radios').eq(counter).attr('name').split('][');
      if (parent_type == 'question' || parent_type == 'solution') {
        temp_array[5] = theTime;
        temp_array2[1] = theTime;
      } else {
        temp_array[9] = theTime;
        temp_array2[3] = theTime;
      }
      theClone.find('.content_type_radios').eq(counter).attr('id', temp_array.join('_'));
      theClone.find('.content_type_radio_labels').eq(counter).attr('for', temp_array.join('_'));
      theClone.find('.content_type_radios').eq(counter).attr('name', temp_array2.join(']['));
    })
    theClone.find('.content_type_radios').prop('checked', false);
    theClone.find('.content_type_radios').eq(0).prop('checked', true);
    theClone.find('.thumbnail').remove();
    theClone.find('.quiz_content_image').hide();
    theClone.find('.content_type_radios').on('click', function() {
      monitorRadioButtons(this);
    })
    if (parent_type == 'question' || parent_type == 'solution') {
      $('.' + parent_type + '_contents .' + parent_type + '_content_block:nth-child(' + (position + 1) + ')').after(theClone);
      $('.' + parent_type + '_content_block').each(function(counter) {
       $(this).find('.sorting_order').val(counter * 100);
      })
    } else {
      $('.answer_contents_' + answerNumber + ' .answer_content_block:nth-child(' + (position + 1) + ')').after(theClone);
      $('.answer_contents_' + answerNumber + ' .answer_content_block').each(function(counter) {
        $(this).find('.sorting_order').val(counter * 100);
      })
    }
  }

  // Delete from the database also !!
  function removeContent(me) {
    if (me.parent().parent().parent().children().length == 1 ) {
      alert('Sorry, you cannot delete the last text block');
    } else {
      if (confirm('Are you sure?')) {
        if (parseInt(me.parent().parent().find('.the_id').val()) > 0 ) {
          me.parent().parent().hide();
          me.parent().parent().find('.destroy').val('1')
        } else {
          me.parent().parent().remove();
        }
      }
    }
  }

  function monitorRadioButtons(theButton) {
    if ($(theButton).val() == 'image') {
      $(theButton).parent().parent().find('.quiz_content_image').show();
      $(theButton).parent().parent().find('.thumbnail').show();
      $(theButton).parent().parent().find('textarea').hide();
    } else {
      $(theButton).parent().parent().find('.quiz_content_image').hide();
      $(theButton).parent().parent().find('.thumbnail').hide();
      $(theButton).parent().parent().find('textarea').show();
    }
  }

  $(document).on('ready page:load', function() {
      $('.content_type_radios').on('click', function() {
        monitorRadioButtons(this);
      })
  })
