.question{style: hide_me ? 'display: none;' : '', id: "question_#{question.difficulty_level}_#{question.id}"}
  .row
    .col-sm-12
      -question.quiz_contents.each do |qc|
        -if qc.content_type == 'image'
          =image_tag qc.image.url, class: 'col-sm-12'
        -elsif qc.content_type == 'text'
          %p=sanitizer qc.text_content
        -elsif qc.content_type == 'mathjax'
          %p.mathjax=sanitizer qc.text_content
      %h2=t('views.quiz_questions.show.choose_an_answer')
  -question.quiz_answers.each_with_index do |qa, counter|
    .row
      .col-sm-2
        .well.well-sm.text-center
          =('A'..'Z').to_a[counter]
      .col-sm-10
        -qa.quiz_contents.each do |qc|
          -if qc.content_type == 'image'
            =image_tag qc.image.url, class: 'col-sm-12'
          -elsif qc.content_type == 'text'
            %p=qc.text_content
          -elsif qc.content_type == 'mathjax'
            %p.mathjax=qc.text_content
