.question{style: hide_me ? 'display: none;' : '', id: "question_#{question.id}"}
  .l-margin-bottom
    -if question.custom_styles
      =render partial: 'quiz_contents/index', locals: {contents: question.quiz_contents}
    -else
      %h4=render partial: 'quiz_contents/index', locals: {contents: question.quiz_contents}

  .panel.panel-default.border-same-backcolor.answerpanel
    .list-group
      -answers = question.quiz_answers.sample(question.quiz_answers.size)
      -answers.each_with_index do |qa, counter|
        .list-group-item.quiz-answer.quiz-answer-clickable{onclick: "logAnswer(#{question.id},#{qa.id}, [#{answers.map(&:id)}]); return false;", style: 'cursor:pointer'}
          .container-fluid
            .row
              .col-md-1
                %h2=('A'..'Z').to_a[counter]
              .col-md-11
                -if question.custom_styles
                  =render partial: 'quiz_contents/index', locals: {contents: qa.quiz_contents}
                -else
                  %p=render partial: 'quiz_contents/index', locals: {contents: qa.quiz_contents}

  %small
    %small.text-muted
      QID:
      =question.id