#wrapper
  .hidden-xs
    =render partial: 'layouts/management_side_navbar'

  .main-content

    .l-section-small.is-bg-asphalt
      .l-wrap
        .container-fluid
          .row.l-margin-bottom
            .col-md-12.text-center
              %h1.l-margin-bottom.l-margin-top.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
                =t('views.quiz_questions.new.h1')
          =render partial: 'form'