=form_for(@user_group, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-6
      =render partial: '/layouts/error_messages', locals: {thing: @user_group, message: nil}
      =f.label :name, t('views.user_groups.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.user_groups.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
      %br/
      %br/
      =f.label :description, t('views.user_groups.form.description'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_area :description, placeholder: t('views.user_groups.form.description_placeholder'), rows: 4, class: 'form-control', style: 'border-radius: 6px;'
    .col-md-6
      .col-md-6
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :individual_student
                =t('views.user_groups.form.individual_student')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :product_student
                =t('views.user_groups.form.product_student')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :tutor
                =t('views.user_groups.form.tutor')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :content_manager
                =t('views.user_groups.form.content_manager')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :blogger
                =t('views.user_groups.form.blogger')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :corporate_customer
                =t('views.user_groups.form.corporate_customer')
      .col-md-6
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :site_admin
                =t('views.user_groups.form.site_admin')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :forum_manager
                =t('views.user_groups.form.forum_manager')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :subscription_required_at_sign_up
                =t('views.user_groups.form.subscription_required_at_sign_up')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :subscription_required_to_see_content
                =t('views.user_groups.form.subscription_required_to_see_content')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :product_required_to_see_content
                =t('views.user_groups.form.product_required_to_see_content')
  .row.l-margin-top-big
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), user_groups_path, class: 'btn btn-cyan'
