.row
  .col-sm-12
    .page-header
      %h1=t('views.user_groups.index.h1')
.row
  .col-sm-12
    =will_paginate @user_groups, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered
      %tr
        %th=t('views.user_groups.form.name')
        %th=t('views.user_groups.form.description')
        %th=t('views.user_groups.form.individual_student')
        %th=t('views.user_groups.form.tutor')
        %th=t('views.user_groups.form.content_manager')
        %th=t('views.user_groups.form.blogger')
        %th=t('views.user_groups.form.corporate_customer')
        %th=t('views.user_groups.form.site_admin')
        %th=t('views.user_groups.form.forum_manager')
        %th=t('views.user_groups.form.subscription_required_at_sign_up')
        %th=t('views.user_groups.form.subscription_required_to_see_content')
        %th
      -@user_groups.each do |user_group|
        %tr
          %td=link_to(user_group.name, user_group, title: t('views.general.view_tooltip'))
          %td=link_to(user_group.description, user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.individual_student), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.tutor), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.content_manager), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.blogger), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.corporate_customer), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.site_admin), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.forum_manager), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.subscription_required_at_sign_up), user_group, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user_group.subscription_required_to_see_content), user_group, title: t('views.general.view_tooltip'))
          %td
            -#=link_to t('views.general.view'), user_group
            =link_to t('views.general.edit'), edit_user_group_url(user_group), class: 'btn btn-info btn-xs'
            -if user_group.destroyable?
              =link_to t('views.general.delete'), user_group, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
.row
  .col-sm-12
    =link_to t('views.general.new'), new_user_group_url, class: 'btn btn-success', title: t('views.general.new_tooltip')

