.l-section-small.is-bg-asphalt
  .l-wrap-large
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.user_groups.index.h1')

      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'management_consoles/user_management_nav'

      .row
        .col-sm-12.l-margin-top.l-margin-bottom
          .table-box
            .l-margin-bottom
              =link_to 'New User Group', new_user_group_url, class: 'btn btn-primary btn-small'

            .table-responsive
              =will_paginate @user_groups, renderer: BootstrapPagination::Rails
              %table.table
                %thead
                  %tr
                    %th=t('views.user_groups.form.name')
                    %th
                    %th='User Count'
                    %th='Student Users'
                    %th='Trial/Subscription Required'
                    %th
                %tbody
                  -@user_groups.each do |user_group|
                    %tr
                      %td=user_group.name
                      %td
                      %td=user_group.users.count
                      %td=tick_or_cross(user_group.student_user)
                      %td=tick_or_cross(user_group.trial_or_sub_required)
                      %td
                        .pull-right
                          =link_to t('views.general.show'), user_group_url(user_group), class: 'btn btn-secondary btn-small'
                          =link_to t('views.general.edit'), edit_user_group_url(user_group), class: 'btn btn-primary btn-small'
                          -if user_group.destroyable?
                            =link_to t('views.general.delete'), user_group, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'

