#console-wrapper
  .hidden-xs
    =render partial: 'layouts/management_side_navbar'

  .main-content

    .l-section-small.is-bg-asphalt
      .l-wrap
        .container-fluid
          .row.l-margin-bottom
            .col-md-12.text-center
              %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
                =t('views.user_groups.show.h1')
                \#
                =@user_group.id
          .row.l-margin-top.l-margin-bottom
            .col-md-12.l-margin-top-big
              .table-box
                .table-responsive
                  %table.table.table-bordered.l-margin-top
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.name')
                      %td.col-sm-8=@user_group.name
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.description')
                      %td.col-sm-8=@user_group.description
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.student_user')
                      %td.col-sm-8=tick_or_cross(@user_group.student_user)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.blocked_user')
                      %td.col-sm-8=tick_or_cross(@user_group.blocked_user)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.trial_or_sub_required')
                      %td.col-sm-8=tick_or_cross(@user_group.trial_or_sub_required)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.system_requirements_access')
                      %td.col-sm-8=tick_or_cross(@user_group.system_requirements_access)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.content_management_access')
                      %td.col-sm-8=tick_or_cross(@user_group.content_management_access)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.stripe_management_access')
                      %td.col-sm-8=tick_or_cross(@user_group.stripe_management_access)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.user_management_access')
                      %td.col-sm-8=tick_or_cross(@user_group.user_management_access)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.developer_access')
                      %td.col-sm-8=tick_or_cross(@user_group.developer_access)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.home_pages_access')
                      %td.col-sm-8=tick_or_cross(@user_group.home_pages_access)
                    %tr
                      %td.col-sm-4=t('views.user_groups.form.user_group_management_access')
                      %td.col-sm-8=tick_or_cross(@user_group.user_group_management_access)
                    %tr
                      %td.col-sm-4=t('views.user_groups.show.users')
                      %td.col-sm-8
                        -if @user_group.users.count > 0 && @user_group.users.count < 50
                          -@user_group.users.each do |user|
                            =link_to user.full_name, user
                            %br/
                        -else
                          =link_to users_url, title: t('views.general.tooltips.click_to_view') do
                            =@user_group.users.count
                            =t('views.users.index.h1').downcase
                  %p
                    =link_to sanitize('&larr; ' + t('views.user_groups.index.h1')), user_groups_url
                    |
                    =link_to t('views.general.edit'), edit_user_group_url(id: @user_group.id), title: t('views.general.edit_tooltip')
