.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.user_groups.show.h1')
            \#
            =@user_group.id
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .no-image-box-item.table-box
            .table-responsive
              %table.table.table-bordered.l-margin-top
                %tr
                  %td.col-sm-4=t('views.user_groups.form.name')
                  %td.col-sm-8=@user_group.name
                %tr
                  %td.col-sm-4=t('views.user_groups.form.description')
                  %td.col-sm-8=@user_group.description
                %tr
                  %td.col-sm-4=t('views.user_groups.form.individual_student')
                  %td.col-sm-8=tick_or_cross(@user_group.individual_student)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.tutor')
                  %td.col-sm-8=tick_or_cross(@user_group.tutor)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.content_manager')
                  %td.col-sm-8=tick_or_cross(@user_group.content_manager)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.blogger')
                  %td.col-sm-8=tick_or_cross(@user_group.blogger)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.corporate_customer')
                  %td.col-sm-8=tick_or_cross(@user_group.corporate_customer)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.site_admin')
                  %td.col-sm-8=tick_or_cross(@user_group.site_admin)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.forum_manager')
                  %td.col-sm-8=tick_or_cross(@user_group.forum_manager)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.subscription_required_at_sign_up')
                  %td.col-sm-8=tick_or_cross(@user_group.subscription_required_at_sign_up)
                %tr
                  %td.col-sm-4=t('views.user_groups.form.subscription_required_to_see_content')
                  %td.col-sm-8=tick_or_cross(@user_group.subscription_required_to_see_content)
                %tr
                  %td.col-sm-4=t('views.user_groups.show.users')
                  %td.col-sm-8
                    -if @user_group.users.count > 0 && @user_group.users.count < 50
                      -@user_group.users.each do |user|
                        =link_to user.full_name, user
                        %br/
                    -else
                      =link_to users_url, title: t('views.general.tooltips.click_to_view') do
                        =@user_group.users.count
                        =t('views.users.index.h1').downcase
              %p
                =link_to sanitize('&larr; ' + t('views.user_groups.index.h1')), user_groups_url
                |
                =link_to t('views.general.edit'), edit_user_group_url(id: @user_group.id), title: t('views.general.edit_tooltip')
