@import "breakpoints";
.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  -webkit-transition: all .15s ease-in-out 0s;
  -o-transition: all .15s ease-in-out 0s;
  transition: all .15s ease-in-out 0s;
  max-width: 100%;
  padding-top: -webkit-calc(.4rem + .1rem);
  padding-top: calc(.4rem + .1rem);
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (prefers-reduced-motion:reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }
}
@media (min-width:576px) {
  .btn {
    font-size: 1rem
  }
}
.btn:focus,
.btn:hover {
  text-decoration: none
}
.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,0,.25);
  box-shadow: 0 0 0 .2rem rgba(0,0,0,.25)
}
.btn.disabled,
.btn:disabled {
  opacity: .65
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-icon {
  border:none;
}
.btn.dropdown-toggle {
  padding-right: -webkit-calc(1rem - .4rem);
  padding-right: calc(1rem - .4rem)
}
@media (min-width:576px) {
  .btn.dropdown-toggle {
    padding-right: -webkit-calc(2.6rem - .4rem);
    padding-right: calc(2.6rem - .4rem)
  }
}


.btn.btn-primary {
  color: #fff;
  background-color: #00b67b;
  border-color: #00b67b;
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: #00855a;
  border-color: #00855a
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
  box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
}
.btn.btn-primary.active,
.btn.btn-primary:active {
  color: #fff;
  background-color: #008e60;
  border-color: #008e60;
}
.btn.btn-primary.focus:hover,
.btn.btn-primary:focus:hover {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
  box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
}
.btn.btn-primary.disabled,
.btn.btn-primary:disabled {
  color: #fff;
  background-color: #00b67b;
  border-color: #00b67b
}
.btn.btn-primary:not(:disabled):not(.disabled).active,
.btn.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #008e60;
  border-color: #008e60;
}
.btn.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
  box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: #05865c;
  border-color: #05865c;
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff
}




.btn.btn-secondary {
  background-color: #ECFDF5;
  border-color: #00b67b;
  color: #00b67b
}
.btn.btn-secondary:hover {
  color: #fff;
  background-color: #00b67b;
  border-color: #00b67b
}
.btn.btn-secondary.focus,
.btn.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
  box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
}
.btn.btn-secondary.focus:hover,
.btn.btn-secondary:focus:hover {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
  box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
}
.btn.btn-secondary.disabled,
.btn.btn-secondary:disabled {
  color: #657685;
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  cursor: not-allowed;
  &:hover {
    color: #657685;
  }
}
.btn.btn-secondary:not(:disabled):not(.disabled).active,
.btn.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #008e60;
  border-color: #008e60
}
.btn.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn.btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
  box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
}
.btn.btn-secondary:hover {
  color: #fff
}
.btn.btn-secondary.active,
.btn.btn-secondary:active {
  color: #fff
}
.btn.btn-secondary.focus,
.btn.btn-secondary:focus {
  color: #00b67b
}
.btn.btn-secondary.focus:hover,
.btn.btn-secondary:focus:hover {
  color: #fff
}

.btn.btn-outline {
  font-size: 16px;
  font-weight: 600;
  background-color: #FFF;
  border-color: #D9D9D9;
  color: rgba(0, 0, 0, 0.65);
}
.btn.btn-outline:hover {
  border-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.9);
}
.btn.btn-outline.focus,
.btn.btn-outline:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,0,.1);
  box-shadow: 0 0 0 .2rem rgba(0,0,0,.1)
}


.btn.btn-danger {
  background-color: transparent;
  border-color: #dc3545;
  color: #dc3545
}
.btn.btn-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}
.btn.btn-danger.focus,
.btn.btn-danger:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5)
}
.btn.btn-danger.focus:hover,
.btn.btn-danger:focus:hover {
  -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5)
}
.btn.btn-danger.disabled,
.btn.btn-danger:disabled {
  color: #fff;
  background-color: transparent;
  border-color: #dc3545
}
.btn.btn-danger:not(:disabled):not(.disabled).active,
.btn.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}
.btn.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn.btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5)
}
.btn.btn-danger:hover {
  color: #fff
}
.btn.btn-danger.active,
.btn.btn-danger:active {
  color: #fff
}
.btn.btn-danger.focus,
.btn.btn-danger:focus {
  color: #dc3545
}
.btn.btn-danger.focus:hover,
.btn.btn-danger:focus:hover {
  color: #fff
}


.btn.btn-warning {
  background-color: transparent;
  border-color: #fd7e14;
  color: #fd7e14
}
.btn.btn-warning:hover {
  color: #fff;
  background-color: #fd7e14;
  border-color: #fd7e14
}
.btn.btn-warning.focus,
.btn.btn-warning:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(253, 126, 20, 0.5);
  box-shadow: 0 0 0 .2rem rgba(253, 126, 20, 0.5)
}
.btn.btn-warning.focus:hover,
.btn.btn-warning:focus:hover {
  -webkit-box-shadow: 0 0 0 .2rem rgba(253, 126, 20, 0.5);
  box-shadow: 0 0 0 .2rem rgba(253, 126, 20, 0.5)
}
.btn.btn-warning.disabled,
.btn.btn-warning:disabled {
  color: #fff;
  background-color: transparent;
  border-color: #fd7e14
}
.btn.btn-warning:not(:disabled):not(.disabled).active,
.btn.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn.btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #fd7e14;
  border-color: #fd7e14
}
.btn.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn.btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(253, 126, 20, 0.5);
  box-shadow: 0 0 0 .2rem rgba(253, 126, 20, 0.5)
}
.btn.btn-warning:hover {
  color: #fff
}
.btn.btn-warning.active,
.btn.btn-warning:active {
  color: #fff
}
.btn.btn-warning.focus,
.btn.btn-warning:focus {
  color: #fd7e14
}
.btn.btn-warning.focus:hover,
.btn.btn-warning:focus:hover {
  color: #fff
}



.btn.btn-link {
  font-weight: 400;
  color: #00b67b;
  background-color: transparent
}
.btn.btn-link:hover {
  color: #00b67b;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent
}
.btn.btn-link.focus,
.btn.btn-link:focus {
  text-decoration: underline;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}
.btn.btn-link.disabled,
.btn.btn-link:disabled {
  color: #6c757d;
  pointer-events: none
}

.btn.btn-text {
  padding: 0;
  font-weight: 400;
  color: #657786;
  background-color: transparent;
  border: 0 none;
  position: relative;
}
.btn.btn-text:hover {
  color: #000032
}
.btn.btn-text.focus,
.btn.btn-text:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}
.btn.btn-text.focus:hover,
.btn.btn-text:focus:hover {
  -webkit-box-shadow: none;
  box-shadow: none
}




.btn.btn-collapse {
  padding-right: -webkit-calc(24px + .5rem + 1rem);
  padding-right: calc(24px + .5rem + 1rem);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  @include if-device(phone) {
    padding-left: 0.75rem;
    padding-right: 2.25rem;
  }
}
.btn.btn-collapse::after {
  position: absolute;
  right: 1rem;
  @include if-device(phone) {
    right: 0.5rem;
  }
}
.btn.btn-collapse::after {
  content: '\e313';
  width: auto;
  height: auto;
  margin-left: .1rem;
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
  border: 0 none
}
.btn.btn-collapse[aria-expanded=true]::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg)
}
.btn.btn-collapse[aria-expanded=false]::after {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0)
}
.btn-group-lg > .btn,
.btn.btn-lg {
  padding: .4rem 1rem;
  font-size: .875rem;
  line-height: 1.5;
  padding-top: -webkit-calc(.4rem + .1rem);
  padding-top: calc(.4rem + .1rem)
}
@media (min-width:576px) {
  .btn-group-lg > .btn,
  .btn.btn-lg {
    padding: 0.5rem 1.5rem;
  }
}
.btn-group-lg > .btn.dropdown-toggle,
.btn.btn-lg.dropdown-toggle {
  padding-right: -webkit-calc(1rem - .4rem);
  padding-right: calc(1rem - .4rem)
}
@media (min-width:576px) {
  .btn-group-lg > .btn.dropdown-toggle,
  .btn.btn-lg.dropdown-toggle {
    padding-right: -webkit-calc(1.25rem - .4rem);
    padding-right: calc(1.25rem - .4rem)
  }
}
.btn-group-lg > .btn.btn-lg-arrow-left,
.btn.btn-lg.btn-lg-arrow-left {
  position: relative;
  padding-left: -webkit-calc(18px + 9px + 1rem);
  padding-left: calc(18px + 9px + 1rem)
}
.btn-group-lg > .btn.btn-lg-arrow-left::after,
.btn.btn-lg.btn-lg-arrow-left::after {
  position: absolute;
  left: 1rem;
  top: .25rem;
  content: '\e5c4';
  font-family: 'Material Icons';
  font-size: 18px
}
@media (min-width:576px) {
  .btn-group-lg > .btn.btn-lg-arrow-left::after,
  .btn.btn-lg.btn-lg-arrow-left::after {
    top: 1rem;
  }
}
.btn-group-lg > .btn.btn-lg-arrow-left:hover::after,
.btn.btn-lg.btn-lg-arrow-left:hover::after {
  left: 1rem;
}
.btn-group-lg > .btn.btn-lg-arrow-right,
.btn.btn-lg.btn-lg-arrow-right {
  position: relative;
}
.btn-group-lg > .btn.btn-lg-arrow-right::after,
.btn.btn-lg.btn-lg-arrow-right::after {
  position: absolute;
  right: 1rem;
  top: .25rem;
  content: '\e5c8';
  font-family: 'Material Icons';
  font-size: 18px
}
@media (min-width:576px) {
  .btn-group-lg > .btn.btn-lg-arrow-right::after,
  .btn.btn-lg.btn-lg-arrow-right::after {
    top: .55rem
  }
}
.btn-group-lg > .btn.btn-lg-arrow-right:hover::after,
.btn.btn-lg.btn-lg-arrow-right:hover::after {
  right: 1rem;
}
.btn-group-lg > .btn,
.btn.btn-lg {
  padding: 1rem 2rem;
  font-size: 1rem;
}
.btn-group-lg > .btn.dropdown-toggle,
.btn.btn-lg.dropdown-toggle {
  padding-right: -webkit-calc(1.25rem - .4rem);
  padding-right: calc(1.25rem - .4rem)
}
@media (min-width:576px) {
  .btn-group-lg > .btn.dropdown-toggle,
  .btn.btn-lg.dropdown-toggle {
    padding-right: -webkit-calc(2.6rem - .4rem);
    padding-right: calc(2.6rem - .4rem)
  }
}

.btn-dark{
  background-color: #000;
  color: #FFF;
  &:hover, &:active, &:focus {
    background-color: #3c3b3b;
    color: #FFF;
  }

}
.btn.btn-xs {
  padding: .2rem 1rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0;
}

.btn.full-width {
  width: 100%;
}

.btn-center-align {
  margin:0 auto;
}
.verification-btn {
  background-color: #111827;
  border-color: #111827;
  color: #FFF;
  &:hover {
    background-color:#374151;
    color: #FFF;
    text-decoration: none;
  }
}