.row
  .col-sm-12
    .page-header
      %h1=t('views.qualifications.index.h1')
      =render partial: 'shared/horizontal_hierarchy'

-if @institutions.length > 1
  =render partial: 'shared/filter_panel', locals: {controller_name: 'qualifications', parameters: [{name: :institution_url, collection: @institutions, show_attr: :name, value_attr: 'name_url'}]}

.row
  .col-sm-12
    =will_paginate @qualifications, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered.sorted_table{data: {destination: qualifications_url}}
      %thead
        %tr
          %th=t('views.qualifications.form.name')
          %th=t('views.exam_levels.index.h1')
          %th=t('views.qualifications.form.active')
          %th=t('views.qualifications.form.cpd_hours_required_per_year')
          %th
          %th
      -#tracker = nil
      %tbody
        -@qualifications.each do |qualification|
          -#unless qualification.institution_id == tracker
            -tracker = qualification.institution_id
            %tr
              %td{colspan: 5}
                .h3=link_to(qualification.institution.name, qualification.institution, title: t('views.general.view_tooltip'))
                =link_to t('views.general.new'), new_qualification_url(institution_id: qualification.institution_id), class: 'btn btn-success btn-xs'
          %tr{id: qualification.id}
            %td=link_to(qualification.name, qualification, title: t('views.general.view_tooltip'))
            %td
              -qualification.exam_levels.each do |level|
                =link_to level.name, level
                %br/
            %td=link_to(tick_or_cross(qualification.active), qualification, title: t('views.general.view_tooltip'))
            %td=link_to(qualification.cpd_hours_required_per_year, qualification, title: t('views.general.view_tooltip'))
            %td
              =link_to t('views.general.edit'), edit_qualification_url(qualification), class: 'btn btn-info btn-xs'
              -if qualification.destroyable?
                =link_to t('views.general.delete'), qualification, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
            %td
              %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

.row
  .col-sm-12
    =link_to t('views.general.new'), new_qualification_url(institution_id: @institution.try(:id)), class: 'btn btn-success', title: t('views.general.new_tooltip')
