.row
  .col-sm-12
    .page-header
      %h1
        =@qualification.name
      =render partial: 'shared/horizontal_hierarchy'
.row
  .col-sm-6
    %table.table.table-bordered
      %h3
        =t('views.general.links')
      %tr
        %td.col-sm-4=t('views.exam_levels.index.h1')
        %td.col-sm-8
          -@qualification.exam_levels.each do |level|
            =link_to level.name, level
            %br
          =link_to t('views.general.new'), new_exam_level_url(qualification_id: @qualification.id), class: 'btn btn-xs btn-success'
  .col-sm-6
    %table.table.table-bordered
      %h3
        =t('views.general.details')
      %tr
        %td.col-sm-4=t('views.qualifications.form.institution_id')
        %td.col-sm-8=link_to @qualification.institution.name, @qualification.institution
      %tr
        %td.col-sm-4=t('views.qualifications.form.name')
        %td.col-sm-8=@qualification.name
      %tr
        %td.col-sm-4=t('views.qualifications.form.name_url')
        %td.col-sm-8=@qualification.name_url
      %tr
        %td.col-sm-4=t('views.qualifications.form.active')
        %td.col-sm-8=tick_or_cross(@qualification.active)
      %tr
        %td.col-sm-4=t('views.qualifications.form.cpd_hours_required_per_year')
        %td.col-sm-8=@qualification.cpd_hours_required_per_year
  %p
    =link_to sanitize('&larr; ' + t('views.qualifications.index.h1')), qualifications_url
    |
    =link_to t('views.general.edit'), edit_qualification_url(id: @qualification.id), title: t('views.general.edit_tooltip')
