=form_for(@exam_body, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    =render partial: '/layouts/error_messages', locals: {thing: @exam_body, message: nil}
    .row
      .col-sm-12
        .row
          .col-sm-6
            =f.label :name, t('views.exam_bodies.form.name')
            .input-group.input-group-lg
              =f.text_field :name, placeholder: t('views.exam_bodies.form.name_placeholder'), class: 'form-control', autofocus: true

          .col-sm-6
            =f.label :url, t('views.exam_bodies.form.url')
            .input-group.input-group-lg
              =f.text_field :url, placeholder: t('views.exam_bodies.form.url_placeholder'), class: 'form-control'

        .row.mt-5
          .col-sm-6
            .form-group
              .col-sm-8.col-sm-offset-4
                .checkbox
                  %label
                    =f.check_box :active
                    =t('views.exam_bodies.form.active')
          .col-sm-6
            .form-group
              .col-sm-8.col-sm-offset-4
                .checkbox
                  %label
                    =f.check_box :has_sittings
                    =t('views.exam_bodies.form.has_sittings')

    .row.pt-5
      .col-sm-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), exam_bodies_path, class: 'btn btn-secondary'
