=form_for(@exam_body, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    =render partial: '/layouts/error_messages', locals: {thing: @exam_body, message: nil}
    .row
      .col-sm-12
        .row
          .col-sm-6
            .form-group
              =f.label :name, t('views.exam_bodies.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.exam_bodies.form.name_placeholder'), class: 'form-control', autofocus: true

            .row.pt-4.m-3
              .col-sm-6.my-3
                .checkbox
                  %label
                    =f.check_box :active
                    =t('views.exam_bodies.form.active')
              .col-sm-6.my-3
                .checkbox
                  %label
                    =f.check_box :has_sittings
                    =t('views.exam_bodies.form.has_sittings')
              .col-sm-6.my-3
                .checkbox
                  %label
                    =f.check_box :has_products
                    =t('views.exam_bodies.form.has_products')
              .col-sm-6.my-3
                .checkbox
                  %label
                    =f.check_box :emit_certificate
                    =t('views.exam_bodies.form.emit_certificate')
          .col-sm-6
            .form-group
              =f.label :landing_page_h1, t('views.exam_bodies.form.landing_page_h1')
              .input-group.input-group-lg
                =f.text_field :landing_page_h1, placeholder: t('views.exam_bodies.form.landing_page_h1_placeholder'), class: 'form-control'
            .form-group
              =f.label :landing_page_paragraph, t('views.exam_bodies.form.landing_page_paragraph')
              .input-group.input-group-lg
                =f.text_area :landing_page_paragraph, placeholder: t('views.exam_bodies.form.landing_page_paragraph_placeholder'), class: 'form-control'

    .row
      .col-sm-12.mt-5
        %h4.text-center='Pricing, Subscription Payment & Products Page Attributes'
        %hr
        .row
          .col-sm-6
            .form-group
              =f.label :pricing_heading, t('views.exam_bodies.form.pricing_heading')
              .input-group.input-group-lg
                =f.text_field :pricing_heading, placeholder: t('views.exam_bodies.form.pricing_heading_placeholder'), class: 'form-control'
            .form-group
              =f.label :pricing_subheading, t('views.exam_bodies.form.pricing_subheading')
              .input-group.input-group-lg
                =f.text_field :pricing_subheading, placeholder: t('views.exam_bodies.form.pricing_subheading_placeholder'), class: 'form-control'
            .form-group
              =f.label :pricing_seo_title, t('views.exam_bodies.form.pricing_seo_title')
              .input-group.input-group-lg
                =f.text_field :pricing_seo_title, placeholder: t('views.exam_bodies.form.pricing_seo_title_placeholder'), class: 'form-control'
            .form-group
              =f.label :pricing_seo_description, t('views.exam_bodies.form.pricing_seo_description')
              .input-group.input-group-lg
                =f.text_field :pricing_seo_description, placeholder: t('views.exam_bodies.form.pricing_seo_description_placeholder'), class: 'form-control'
            .form-group
              =f.label :subscription_page_subheading_text, t('views.exam_bodies.form.subscription_page_subheading_text')
              .input-group.input-group-lg
                =f.text_field :subscription_page_subheading_text, placeholder: t('views.exam_bodies.form.subscription_page_subheading_text_placeholder'), class: 'form-control'
            .form-group
              =f.label :preferred_payment_frequency, t('views.exam_bodies.form.preferred_payment_frequency')
              .input-group.input-group-lg
                =f.select :preferred_payment_frequency, options_for_select([1, 3, 12,], selected: f.object.preferred_payment_frequency),
                 {include_blank: t('views.general.select')}, class: 'form-control custom-select'

          .col-sm-6
            .form-group
              =f.label :products_heading, t('views.exam_bodies.form.products_heading')
              .input-group.input-group-lg
                =f.text_field :products_heading, placeholder: t('views.exam_bodies.form.products_heading_placeholder'), class: 'form-control'
            .form-group
              =f.label :products_subheading, t('views.exam_bodies.form.products_subheading')
              .input-group.input-group-lg
                =f.text_area :products_subheading, placeholder: t('views.exam_bodies.form.products_subheading_placeholder'), class: 'form-control'
            .form-group
              =f.label :products_seo_title, t('views.exam_bodies.form.products_seo_title')
              .input-group.input-group-lg
                =f.text_field :products_seo_title, placeholder: t('views.exam_bodies.form.products_seo_title_placeholder'), class: 'form-control'
            .form-group
              =f.label :products_seo_description, t('views.exam_bodies.form.products_seo_description')
              .input-group.input-group-lg
                =f.text_area :products_seo_description, placeholder: t('views.exam_bodies.form.products_seo_description_placeholder'), class: 'form-control'


    .row
      .col-sm-12.mt-5
        %h4.text-center='Landing Page Attributes'
        %hr
        .row
          .col-sm-6
            .form-group
              =f.label :registration_form_heading, t('views.exam_bodies.form.registration_form_heading')
              .input-group.input-group-lg
                =f.text_field :registration_form_heading, placeholder: t('views.exam_bodies.form.registration_form_heading_placeholder'), class: 'form-control'
            .form-group
              =f.label :logo_image, t('views.exam_bodies.form.logo_image')
              .input-group.input-group-lg
                =f.select :logo_image, ExamBody::LOGO_IMAGES, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}
          .col-sm-6
            .form-group
              =f.label :login_form_heading, t('views.exam_bodies.form.login_form_heading')
              .input-group.input-group-lg
                =f.text_field :login_form_heading, placeholder: t('views.exam_bodies.form.login_form_heading_placeholder'), class: 'form-control'

    .row
      .col-sm-12.mt-5
        %h4.text-center='Constructed Response Attributes'
        %hr
        .row
          .col-sm-12
            =f.label :constructed_response_intro_heading, t('views.exam_bodies.form.constructed_response_intro_heading')
            .input-group.input-group-lg
              =f.text_field :constructed_response_intro_heading, placeholder: t('views.exam_bodies.form.constructed_response_intro_heading_placeholder'), class: 'form-control'

        .row.pt-5
          .col-sm-12
            =f.label :constructed_response_intro_text, t('views.exam_bodies.form.constructed_response_intro_text')
            .input-group.input-group-lg
              =f.text_area :constructed_response_intro_text, as: :summernote, placeholder: t('views.exam_bodies.form.constructed_response_intro_text'), rows: 5, class: 'form-control', id: 'editor'

    .row.pt-5
      .col-sm-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), exam_bodies_path, class: 'btn btn-secondary'


:javascript

  $('#editor').summernote({
    disableDragAndDrop: true,
    height: 150
  });
