.l-section-small.is-bg-asphalt
  .l-wrap-large
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.exam_bodies.index.h1')

      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'management_consoles/system_requirements_nav'


      .row
        .col-sm-12
          .box-item.table-box
            .row.l-margin-bottom
              =link_to 'New Exam Body', new_exam_body_url, class: 'btn btn-primary btn-small'

            .table-responsive
              %table.table.sorted_table{style: 'font-size: 18px;'}
                %thead
                  %tr
                    %th=t('views.exam_bodies.form.name')
                    %th=t('views.exam_bodies.form.url')
                    %th
                    %th
                %tbody
                  -@exam_bodies.each do |exam_body|
                    %tr{id: exam_body.id}
                      %td=exam_body.name
                      %td=exam_body.url
                      %td
                        =link_to t('views.general.view'), exam_body_url(exam_body), class: 'btn btn-secondary btn-small'
                        =link_to t('views.general.edit'), edit_exam_body_url(exam_body), class: 'btn btn-primary btn-small'
                        -if exam_body.destroyable?
                          =link_to t('views.general.delete'), exam_body, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary-reverse btn-small'

