-# This view will a basic landing page filled with info on hte course from the DB, shown if no custom partial file is found

.hero-acca
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  =render partial: 'layouts/transparent_navbar'
  .hero-inner#sign-up
    .l-wrap-medium
      .container-fluid
        .row
          .col-sm-6
            %h1.h1.bold.h-white.h-separator.h-separator-left.l-margin-bottom-big
              =@course.name
            %p.h5.h-white.l-margin-bottom-huge
              =@course.short_description

          .col-sm-6
            -if current_user
              =link_to users_new_order_url(@course.name_url), class: 'btn btn-red btn-wide btn-lg-text', style: 'line-height: 60px' do
                Purchase Now


            -else
              =link_to new_product_user_url(@course.name_url), class: 'btn btn-red btn-wide btn-lg-text', style: 'line-height: 60px' do
                Purchase Now




.business
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
              Features
        .row
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('phone-icon.png', class: 'features-img', alt: 'anytime-anywhere-mobile-icon')
              Anywhere, Anytime
            %p.p
              Learn the skills you need anytime, anywhere, on any device.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('magnifiying-glass-icon.png', class: 'features-img', alt: 'depth-of-content-icon')
              Depth of Content
            %p.p
              Access a library of business-focused courses taught by expert tutors.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('network-icon.png', class: 'features-img', alt: 'expert-author-network-icon')
              Expert Author Network
            %p.p
              Learn from the best with training designed and developed by industry experts.
