-# This view will display info on all current Product Category Subject Courses

=render partial: 'layouts/navbar'
.margin-top

.l-section-library.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-12.text-center.l-margin-bottom
          %h1.h1.h-separator.h-separator-center.l-margin-bottom
            Browse Courses

  .l-wrap.l-margin-top
    .container-fluid
      .course-list-wrap
        .row
          -@courses.each do |course|
            .col-sm-6.col-md-4
              =link_to course.home_page.public_url, class: 'card card-course' do
                .card-outer
                  .card-inner
                    %h3.h3.card-title.l-margin-bottom
                      =course.try(:name)
                    %p.card-desc
                      =course.try(:short_description).truncate(185)
                  .card-info
                    .col-md-6.col-xs-6
                      -if course.try(:live_date)
                        .days-left
                          .h8.text-center
                            =humanize_datetime(course.live_date)
                    .col-md-6.col-xs-6
                      -if course.total_video_duration.to_i > 0
                        %h6.pull-right
                          =simple_time(course.total_video_duration)

                .card-label
                  .row
                    .col-md-12.col-xs-12
                      .col-md-6.col-xs-6
                        %h6
                          =t('views.general.browse')
                      .col-md-6.col-xs-6.text-right




.business
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
              Features
        .row
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('phone-icon.png', class: 'features-img', alt: 'anytime-anywhere-mobile-icon')
              Anywhere, Anytime
            %p.p
              Learn the skills you need anytime, anywhere, on any device.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('magnifiying-glass-icon.png', class: 'features-img', alt: 'depth-of-content-icon')
              Depth of Content
            %p.p
              Access a library of business-focused courses taught by expert tutors.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('network-icon.png', class: 'features-img', alt: 'expert-author-network-icon')
              Expert Author Network
            %p.p
              Learn from the best with training designed and developed by industry experts.
