.row
  .col-sm-8.col-sm-offset-2
    =form_for(@currency, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @currency, message: nil}
        .form-group
          =f.label :iso_code, t('views.currencies.form.iso_code'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :iso_code, placeholder: t('views.currencies.form.iso_code_placeholder'), class: 'form-control', autofocus: true
        .form-group
          =f.label :name, t('views.currencies.form.name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :name, placeholder: t('views.currencies.form.name_placeholder'), class: 'form-control'
        .form-group
          =f.label :leading_symbol, t('views.currencies.form.leading_symbol'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :leading_symbol, placeholder: t('views.currencies.form.leading_symbol_placeholder'), class: 'form-control'
        .form-group
          =f.label :trailing_symbol, t('views.currencies.form.trailing_symbol'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :trailing_symbol, placeholder: t('views.currencies.form.trailing_symbol_placeholder'), class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :active
                =t('views.currencies.form.active')
      =f.hidden_field :sorting_order
      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), currencies_path
