.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.currencies.index.h1')
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .no-image-box-item.table-box
            .table-responsive
              =will_paginate @currencies, renderer: BootstrapPagination::Rails
              %table.table.table-bordered.sorted_table{data: {destination: currencies_url}}
                %thead
                  %tr
                    %th=t('views.currencies.form.iso_code')
                    %th=t('views.currencies.form.name')
                    %th=t('views.currencies.form.leading_symbol')
                    %th=t('views.currencies.form.trailing_symbol')
                    %th=t('views.currencies.form.active')
                    %th
                    %th
                %tbody
                  -@currencies.each do |currency|
                    %tr{id: currency.id}
                      %td=currency.iso_code
                      %td=currency.name
                      %td=currency.leading_symbol
                      %td=currency.trailing_symbol
                      %td=tick_or_cross(currency)
                      %td
                        =link_to t('views.general.show'), currency_url(currency), class: 'btn btn-cyan btn-small'
                        =link_to t('views.general.edit'), edit_currency_url(currency), class: 'btn btn-cyan btn-small'
                        -if currency.destroyable?
                          =link_to t('views.general.delete'), currency, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'
                      %td
                        %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

      .row
        =link_to t('views.general.new'), new_currency_url, class: 'btn btn-red', title: t('views.general.new_tooltip')
