%table.table{style: 'font-size: 18px;'}
  %thead
    %tr
      %th
        =t('views.invoices.form.date')
      %th
        =t('views.invoices.form.line_total_inc_vat')
      %th{colspan: 2}
        =t('views.invoices.form.status')

  %tbody
    -@invoices.each do |invoice|
      %tr
        %td
          -if invoice.issued_at
            =humanize_datetime(invoice.issued_at)
        %td
          =number_in_local_currency(invoice.total, invoice.currency)
        %td
          =invoice.status
        %td
          .pull-right
            =link_to pdf_invoice_path(invoice.id, format: 'pdf'), target: '_blank' do
              .btn.btn-primary.btn-xs
                PDF
            =link_to invoice_path(invoice.id), style: 'padding-left: 5px;' do
              .btn.btn-secondary.btn-xs
                View
