%main
  %article.dashboard.bg-gray5
    .container
      %header
        %h1.h2-hero.pt-5
          ="#{params[:type].capitalize} Cancellation of #{@subscription.user.name} subscription"

      %section.pb-md-6.pt-4
        .form-box
          .row
            .col-sm-12
              %p.h6
                Why are you canceling this subscription?

              =form_for @subscription, url: @url, method: :post do |f|
                =f.hidden_field(:cancelled_by_id, value: current_user.id)
                =f.hidden_field(:cancelling_subscription, value: true)
                =f.hidden_field(:cancellation_reason, value: "Admin(#{current_user.email}) canceled it.")

                .row
                  .col-sm-6
                    .form-group
                      =f.label :cancellation_note, 'Cancellation note:', class: 'block-label h4'
                      #cancellation-note-error
                      =f.text_area :cancellation_note, :rows => 4, class: 'form-control'


                .row.mt-4
                  .col-sm-4
                    =link_to 'Return', subscription_management_url(@subscription), class: 'btn btn-danger btn-sm'
                  .col-sm-4
                    =f.submit 'Cancel Subscription', id: 'confirm_cancellation_button', class: 'btn btn-primary btn-sm', data: { disable_with: false }