.container
  %header.management-console-section
    %h1
      =@subscription.user.full_name
    %p.p-hero.px-lg-8
      ='Subscription ID:'
      =@subscription.id

  %section.pb-7
    =render partial: 'users/user_tabs'

    .row
      .col-sm-12
        .box-item
          .row
            .col-sm-9
              .row.pt-3
                .col-sm-4
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.subscription_status')
                  .h6
                    =@subscription.state.camelcase

                .col-sm-4
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.subscription_created')
                  .h6
                    =humanize_datetime(@subscription.created_at)

                .col-sm-4
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.subscription_plan')
                  .h6
                    =@subscription.subscription_plan.name

              .row.pt-3
                .col-sm-4
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.billing_interval')
                  .h6
                    =t("views.general.payment_frequency_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")

                .col-sm-4
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.last_billing_date')
                  .h6
                    -if @subscription.invoices.any?
                      =humanize_datetime(@subscription.invoices.last.created_at)
                    -else
                      ='------'

                .col-sm-4
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.next_billing_date')
                  .h6
                    =humanize_stripe_date(@subscription.next_renewal_date)

              .row.pt-3
                -if @subscription.stripe?
                  .col-sm-4
                    .h3
                      =t('views.users.user_subscription_status.subscription_info.stripe_sub_guid')
                    .h6
                      =@subscription.stripe_guid
                -else
                  .col-sm-4
                    .h3
                      =t('views.users.user_subscription_status.subscription_info.paypal_sub_guid')
                    .h6
                      =@subscription.paypal_subscription_guid
                .col-sm-4
                  .h3
                    Subscription Status
                  .h6
                    =@subscription.state.to_s.capitalize


                .col-sm-4
                  -if @subscription.canceled_pending_status?
                    .h3
                      =t('views.users.user_subscription_status.subscription_info.subscription_ending')
                    .h6

                      =humanize_stripe_date(@subscription.next_renewal_date)
                  -elsif @subscription.canceled_status?
                    .h3
                      =t('views.users.user_subscription_status.subscription_info.subscription_ended')
                    .h6
                      =humanize_stripe_date(@subscription.next_renewal_date)


            .col-sm-3
              -if %w(active errored).include?(@subscription.state)
                =link_to subscription_management_admin_cancellations_path(@subscription.id, type: :standard), data: {confirm: 'Are you sure you want to cancel subscription?'} do
                  .btn.btn-primary.mb-3#admin-cancel-subscription
                    =t('views.users.user_subscription_status.subscription_info.cancel_at_billing_end')

              -if %w(active pending_cancellation errored past_due).include?(@subscription.state)
                =link_to subscription_management_admin_cancellations_path(@subscription.id, type: :immediate), data: {confirm: 'Are you sure you want to immediately cancel this subscription?'} do
                  .btn.btn-secondary.mb-3#admin-cancel-immediately
                    =t('views.users.user_subscription_status.subscription_info.cancel_immediately')

              -if @subscription.canceled_pending_status?
                =link_to t('views.users.show.un_cancel_subscription.button_call_to_action'), subscription_management_un_cancel_subscription_url(@subscription.id), method: :put, class: 'btn btn-primary mb-3', data: {confirm: 'Are you sure you want to Un-Cancel this subscription?'}

              -elsif @subscription.canceled_status?
                =link_to t('views.users.show.un_cancel_subscription.reactivate_sub'), subscription_management_reactivate_subscription_url(@subscription.id), method: :put, class: 'btn btn-primary mb-3', data: {confirm: "Are you sure you want to Reactivate this subscription? The student will be charged immediately and subscribed to the #{@subscription.subscription_plan.currency.format_number(@subscription.subscription_plan.price)} - #{@subscription.subscription_plan.name} Plan"}



    .row.pt-3
      .col-sm-12
        .box-item.table-box#invoices-panel.l-margin-bottom-huge
          %h2
            =t('views.users.user_subscription_status.subscription_info.invoices')
          .table-responsive
            -@invoices = @subscription.invoices.all_in_order
            =render partial: 'subscription_management/invoices'
