.container
  %header.management-console-section
    %h1
      =t('views.exercises.admin.index.h1') + " #{@user&.name}"

  %section.pb-7

    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              .search-container.mb-3.float-right
                =form_tag(admin_search_exercises_url(user_id: @user&.id), role: 'form', class: 'form-inline') do
                  =select_tag :state, options_for_select([['Submitted', 'submitted'], ['Correcting', 'correcting'], ['Returned', 'returned'], ['Pending', 'pending'], ['All', 'all']], @filters['state']), class: 'form-control custom-select filter mr-3'
                  =select_tag :product, options_from_collection_for_select(Product.all_active, 'id', 'name', @filters['product']), prompt: 'All Products', class: 'form-control custom-select filter mr-3'
                  =select_tag :corrector, options_from_collection_for_select(UserGroup.where(exercise_corrections_access: true).first.users, 'id', 'name', @filters['corrector']), prompt: 'All Correctors', class: 'form-control custom-select filter mr-3'
                  =text_field_tag :search, @filters['search'], class: 'form-control', placeholder: 'Search term'
                  %button{type: "submit", class: 'ml-3'}
                    %i{:role => "img", class: 'budicon-search-list'}

          .table-responsive.pt-4
            =will_paginate @exercises, renderer: PostLinkPaginationHelper::LinkRenderer, action: 'search_exercises',
                           post_params: { search: @filters['search'], corrector: @filters['corrector'], product: @filters['product'], state: @filters['state'] }
            %table.table
              %thead
                %tr
                  %th=t('views.exercises.admin.index.name')
                  %th=t('views.exercises.admin.index.email')
                  %th=t('views.exercises.admin.index.product')
                  %th=t('views.exercises.admin.index.state')
                  %th=t('views.exercises.admin.index.due_on')
                  %th=t('views.exercises.admin.index.corrected_on')
                  %th=t('views.exercises.admin.index.returned_on')
                  %th
              %tbody
                -@exercises.each do |exercise|
                  %tr
                    %td=exercise.user.name
                    %td=exercise.user.email
                    %td=exercise.product.name
                    %td=exercise.state
                    %td=exercise.submitted_on ? (exercise.submitted_on + 3.days)&.strftime('%d/%m/%y %H:%m') : '-'
                    %td=exercise.corrected_on&.strftime('%d/%m/%y %H:%m')
                    %td=exercise.returned_on&.strftime('%d/%m/%y %H:%m')
                    %td
                      =link_to t('views.general.edit'), edit_admin_exercise_path(exercise), class: 'btn btn-primary btn-xs'
                      =link_to t('views.general.view'), admin_exercise_path(exercise), class: 'btn btn-secondary btn-xs'
                      -if exercise.corrector_id.present?
                        %span= "Claimed By (#{exercise.corrector.name})"
                      -else
                        =link_to 'Claim', admin_exercise_path(exercise, exercise: { corrector_id: current_user.id }), method: :patch, class: 'btn btn-secondary btn-xs'
          .row
            .col-sm
              .search-container
                -if @user
                  =link_to "Assign New Exercise to #{@user.name}", new_admin_user_exercise_path(@user)
                -else
                  =link_to 'Generate Daily Summary', generate_daily_summary_admin_exercises_path
