.container
  %header.management-console-section
    %h1
      =t('views.exercises.admin.index.h1') + " #{@user&.name}"

  %section.pb-7

    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              .search-container.mb-3.float-right
                =form_tag(admin_search_exercises_url, role: 'form', class: 'form-inline') do
                  =hidden_field_tag :user_id, @user&.id
                  =hidden_field_tag :sort_by, params[:sort_by]
                  =hidden_field_tag :sort_direction, params[:sort_direction]
                  =select_tag :state, options_for_select([['Submitted', 'submitted'], ['Correcting', 'correcting'], ['Returned', 'returned'], ['Pending', 'pending'], ['All', 'all']], @filters['state']), class: 'form-control custom-select filter mr-3'
                  =select_tag :product, options_from_collection_for_select(Product.all_active, 'id', 'name', @filters['product']), prompt: 'All Products', class: 'form-control custom-select filter mr-3'
                  =select_tag :corrector, options_from_collection_for_select(User.joins(:user_group).where(user_groups: { exercise_corrections_access: true }), 'id', 'name', @filters['corrector']), prompt: 'All Correctors', class: 'form-control custom-select filter mr-3'
                  =select_tag :sort_by, options_for_select([['Due On','due_on'], ['Corrected On','corrected_on'], ['Returned On','returned_on']], params[:sort_by]), class: 'form-control custom-select filter mr-3'
                  =select_tag :sort_direction, options_for_select([['Descending', :desc], ['Ascending', :asc]], params[:sort_direction]), class: 'form-control custom-select filter mr-3'
                  =text_field_tag :search, @filters['search'], class: 'form-control', placeholder: 'Search term'
                  %button{type: "submit", class: 'ml-3'}
                    %i{:role => "img", class: 'budicon-search-list'}

          .table-responsive.pt-4
            =will_paginate @exercises, renderer: PostLinkPaginationHelper::LinkRenderer, action: 'search_exercises',
                           post_params: { search: @filters['search'], corrector: @filters['corrector'], product: @filters['product'], state: @filters['state'] }
            %table.table
              %thead
                %tr
                  %th=t('views.exercises.admin.index.name')
                  %th=t('views.exercises.admin.index.email')
                  %th=t('views.exercises.admin.index.product')
                  %th=t('views.exercises.admin.index.state')
                  %th=t('views.exercises.admin.index.due_on')
                  %th=t('views.exercises.admin.index.corrected_on')
                  %th=t('views.exercises.admin.index.returned_on')
                  %th
              %tbody
                -@exercises.each do |exercise|
                  %tr
                    %td=exercise.user.name
                    %td=exercise.user.email
                    %td=exercise.product.name
                    %td=exercise.state
                    %td=exercise_due_date(exercise)
                    %td=exercise.corrected_on&.strftime('%d/%m/%y %H:%m')
                    %td=exercise.returned_on&.strftime('%d/%m/%y %H:%m')
                    %td
                      -if exercise.product.cbe?
                        =link_to t('views.general.view'), correct_cbe_admin_exercise_path(exercise.id), class: 'btn btn-secondary btn-xs'
                      -else
                        =link_to t('views.general.edit'), edit_admin_exercise_path(exercise), class: 'btn btn-primary btn-xs'
                        =link_to t('views.general.view'), admin_exercise_path(exercise), class: 'btn btn-secondary btn-xs'
                      -if exercise.corrector_id.present?
                        %span= "Claimed By (#{exercise.corrector.name})"
                      -else
                        =link_to 'Claim', admin_exercise_path(exercise, exercise: { corrector_id: current_user.id }), method: :patch, class: 'btn btn-secondary btn-xs'

          .row
            .col-sm
              -if @user
                =link_to "Assign Exercise to  #{@user.name}", new_admin_user_exercise_path(@user), class: 'btn btn-primary'
              -else
                =link_to 'Generate Daily Summary', generate_daily_summary_admin_exercises_path, class: 'btn btn-primary'
                =link_to '#', {"data-target" => "#csv-upload-modal", "data-toggle" => "modal", :href => "#"} do
                  .btn.btn-primary.btn-sm
                    Bulk Assign Exercises

=render partial: 'csv_import_modal'
