.container
  %header.management-console-section
    %h1
      View Exercise

  %section.pb-3
    .row
      .col-sm-12
        .card
          =@exercise.state
          =link_to 'Download Submission', @exercise.submission.url, class: 'btn btn-primary', target: '_blank'
          -if @exercise.correction.present?
            =link_to 'Download Correction', @exercise.correction.url, class: 'btn btn-primary', target: '_blank'

    .row
      .col-sm-12
        -if !@exercise.correction.present?
          =link_to 'Correct', edit_admin_exercise_path(@exercise), class: 'btn btn-primary'
        =link_to 'Back', admin_exercises_path, class: 'btn btn-secondary'