%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3
          -if @response[:status] == :ok
            Check Your Email
          -else
            Please check your information and try again.


      %section.pb-md-6.pb-5
        .forgot-password-section.mb-7
          .form-box.text-center
            %p.p-hero.px-lg-8
              =@response[:json][:message]
