.l-section-small.is-bg-asphalt
  .l-wrap
    .container
      .row
        .col-lg-10.col-lg-offset-1
          %h1.h1-mega.mb-4.mb-sm-3.text-center
            Reset password

      .row.l-margin-top.l-margin-bottom-huge
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .box-item.form-box
            %p
              Check your mailbox for further instructions. If you don't receive an email within a couple of minutes, check your spam folder.

