%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3
          Check Your Email


      %section.pb-md-6.pb-5
        .forgot-password-section.mb-7
          .form-box.text-center
            %p.p-hero.px-lg-8
              If you don't receive an email within a couple of minutes, check your spam folder.

