%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-hero.mb-3
          =t('views.user_passwords.edit.h1')
        %p.p-hero.px-lg-8
          =t('views.user_passwords.edit.paragraph_1')

      %section.pb-md-6.pb-5
        .forgot-password-section
          .form-box
            =form_tag(user_password_url(id: @user.password_reset_token), {method: :put, class: 'py-3 mr-5 ml-5', role: 'form'}) do
              .row
                .col-sm-12
                  .form-group
                    =label_tag :password, t('views.users.form.password'), class: 'control-label'
                    =password_field_tag :password, nil, placeholder: t('views.users.form.password_placeholder'), class: 'form-control'
                .col-sm-12
                  .form-group
                    =label_tag :password_confirmation, t('views.users.form.password_confirmation'), class: 'control-label'
                    =password_field_tag :password_confirmation, nil,  placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control'


              .pt-3
                =submit_tag t('views.general.save'), class: 'btn btn-primary btn-sm'
