.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.user_passwords.edit.h1')
        .col-md-8.col-md-offset-2.l-margin-bottom-6x
          .col-md-8.col-md-offset-2.l-margin-top-small
            %p
              =t('views.user_passwords.edit.paragraph_1')
          =form_tag(user_password_url(id: @user.password_reset_token), {method: :put, class: 'form-horizontal', role: 'form'}) do
            .col-md-8.col-md-offset-2.l-margin-top-small
              =label_tag :password, t('views.users.form.password'), class: 'control-label'
              %br/
              =password_field_tag :password, nil, placeholder: t('views.users.form.password_placeholder'), class: 'form-control'
            .col-md-8.col-md-offset-2.l-margin-top-small
              =label_tag :password_confirmation, t('views.users.form.password_confirmation'), class: 'control-label'
              %br/
              =password_field_tag :password_confirmation, nil,  placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control'
              %br/
            .col-md-8.col-md-offset-2.l-margin-top-big
              =submit_tag t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x'
