%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          =t('views.user_passwords.new.h1')
        %p.p-hero.px-lg-8
          =t('views.user_passwords.new.paragraph_1')


      %section.pb-md-6.pb-5
        .forgot-password-section
          .form-box
            =form_tag(user_passwords_url, {class: 'py-3', role: 'form'}) do
              .row
                .col-sm-12
                  .form-group
                    =label_tag :email, t('views.user_passwords.new.email')
                    =email_field_tag :email_address, nil, placeholder: t('views.user_passwords.new.email_placeholder'), class: 'form-control', id: '#email-field'


              .pt-3
                =submit_tag t('views.user_passwords.new.submit'), class: 'btn btn-primary btn-sm'

