%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          =t('views.user_passwords.set_password.h2')
        %p
          =t('views.user_passwords.set_password.paragraph_1')

      %section.pb-md-6.pb-5
        .forgot-password-section
          .form-box
            =form_tag(user_create_password_url(id: @user.password_reset_token), {method: :put, class: 'py-3', role: 'form'}) do
              =hidden_field(:hidden, :terms_and_conditions)
              =hidden_field(:hidden, :communication_approval)
              .row
                .col-sm-6
                  .form-group
                    =label_tag :password, t('views.users.form.password')
                    =password_field_tag :password, nil, placeholder: t('views.users.form.password_placeholder'), class: 'form-control'

                .col-sm-6
                  .form-group
                    =label_tag :password_confirmation, t('views.users.form.password_confirmation')
                    =password_field_tag :password_confirmation, nil,  placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control'

                .col-sm-12
                  .form-group
                    %label.check.communication_approval
                      %input{type: 'checkbox', id: 'communication_approval', required: true}
                        ='I agree to receiving communication from learnsignal, you can unsubscribe at any time'

                .col-sm-12
                  .form-group
                    %label.check.terms_and_conditions
                      %input{type: 'checkbox', id: 'terms_and_conditions', required: true}
                        ='I agree to learnsignal'
                        =link_to 'Terms & Conditions', terms_and_conditions_url, target: '_blank'


              .pt-3
                =submit_tag t('views.general.save'), class: 'btn btn-primary'



:javascript


  $('input[type="checkbox"]').on('change', function() {
    if($('#terms_and_conditions').prop('checked') == true) {
      $("#hidden_terms_and_conditions").val('true');
    } else if($('#terms_and_conditions').prop('checked') == false) {
      $("#hidden_terms_and_conditions").val('false');
    }
  });

  $('input[type="checkbox"]').on('change', function() {
    if($('#communication_approval').prop('checked') == true) {
      $("#hidden_communication_approval").val('true');
    } else if($('#communication_approval').prop('checked') == false) {
      $("#hidden_communication_approval").val('false');
    }
  });
