.l-section-small.is-bg-asphalt#setpassword
  .l-wrap
    .container
      .row
        .col-lg-10.col-lg-offset-1
          %h1.h1.h-separator.h-separator-center.text-center.l-margin-bottom
            =t('views.user_passwords.set_password.h2')
          %p.h5.text-center.l-margin-bottom-big
            =t('views.user_passwords.set_password.paragraph_1')

      .row.l-margin-top
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .l-margin-top.form
            =form_tag(user_create_password_url(id: @user.password_reset_token), {method: :put, class: 'form-horizontal', role: 'form'}) do
              =hidden_field(:hidden, :terms_and_conditions)
              =hidden_field(:hidden, :communication_approval)


              .col-sm-6
                =label_tag :password, t('views.users.form.password'), class: 'control-label'
                %br/
                =password_field_tag :password, nil, placeholder: t('views.users.form.password_placeholder'), class: 'form-control', required: true
              .col-sm-6
                =label_tag :password_confirmation, t('views.users.form.password_confirmation'), class: 'control-label'
                %br/
                =password_field_tag :password_confirmation, nil,  placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control', required: true
                %br/

              .col-sm-12
                .col-sm-12
                  .form-group.l-margin-top
                    %label.check
                      %input{type: 'checkbox', id: 'communication_approval', required: true}
                        %span
                          %i.fa.fa-check
                        %span
                          ='I agree to receiving communication from LearnSignal, you can unsubscribe at any time'

                .col-sm-12
                  .form-group.l-margin-top
                    %label.check
                      %input{type: 'checkbox', id: 'terms_and_conditions', required: true}
                        %span
                          %i.fa.fa-check
                        ='I Agree to LearnSignal'
                        =link_to 'Terms & Conditions', terms_and_conditions_url, target: '_blank'


              .col-sm-12.l-margin-top
                =submit_tag t('views.general.save'), class: 'btn btn-red btn-wide'



:javascript


  $('input[type="checkbox"]').on('change', function() {
    if($('#terms_and_conditions').prop('checked') == true) {
      $("#hidden_terms_and_conditions").val('true');
    } else if($('#terms_and_conditions').prop('checked') == false) {
      $("#hidden_terms_and_conditions").val('false');
    }
  });

  $('input[type="checkbox"]').on('change', function() {
    if($('#communication_approval').prop('checked') == true) {
      $("#hidden_communication_approval").val('true');
    } else if($('#communication_approval').prop('checked') == false) {
      $("#hidden_communication_approval").val('false');
    }
  });
