.row
  .col-sm-8.col-sm-offset-2
    =form_for(@user_activity_log, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @user_activity_log, message: nil}
        .form-group
          =f.label :session_guid, t('views.user_activity_logs.form.session_guid'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :session_guid, placeholder: t('views.user_activity_logs.form.session_guid_placeholder'), class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :signed_in
                =t('views.user_activity_logs.form.signed_in')
        .form-group
          =f.label :original_uri, t('views.user_activity_logs.form.original_uri'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :original_uri, placeholder: t('views.user_activity_logs.form.original_uri_placeholder'), class: 'form-control'
        .form-group
          =f.label :controller_name, t('views.user_activity_logs.form.controller_name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :controller_name, placeholder: t('views.user_activity_logs.form.controller_name_placeholder'), class: 'form-control'
        .form-group
          =f.label :action_name, t('views.user_activity_logs.form.action_name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :action_name, placeholder: t('views.user_activity_logs.form.action_name_placeholder'), class: 'form-control'
        .form-group
          =f.label :params, t('views.user_activity_logs.form.params'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_area :params, placeholder: t('views.user_activity_logs.form.params_placeholder'), rows: 4, class: 'form-control'
        .form-group
          =f.label :alert_level, t('views.user_activity_logs.form.alert_level'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.select :alert_level, options_for_select(UserActivityLog::ALERT_LEVELS.map.with_index {|x,i| [x.capitalize, i]}, f.object.alert_level), {}, {class: 'form-control'}

      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), user_activity_logs_path
