.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        .row.l-margin-bottom
          .col-md-12.text-center
            %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
              =@user.full_name
        .row.l-margin-top.l-margin-bottom
          .col-md-12
            =render partial: 'user_tabs'


        .row.l-margin-top.l-margin-bottom
          .col-md-12.l-margin-top-big
            .corporate-box-item
              .col-sm-10.l-margin-top
                .col-sm-6
                  .h3
                    Email
                  .h6
                    =@user.email

                .col-sm-6
                  .h3
                    ="D.O.B"
                  .h6
                    =@user.date_of_birth || '--------'

              .col-sm-2.l-margin-top
                =link_to 'Edit Details', edit_user_url(@user), class: 'btn btn-red'


              .col-sm-10.l-margin-top-big
                .col-sm-6
                  .h3
                    First Name
                  .h6
                    =@user.first_name

                .col-sm-6
                  .h3
                    Last Name
                  .h6
                    =@user.last_name


        .row.l-margin-top.l-margin-bottom
          .col-md-12.l-margin-top-big
            .corporate-box-item
              .col-sm-12.l-margin-top-big
                .col-sm-6
                  .h3
                    Country
                  .h6
                    -if @user.country
                      =@user.country.name
                    -else
                      ='-------'

                .col-sm-6
                  .h3
                    Last IP Address
                  .h6
                    =@user.last_login_ip.to_s

              .col-sm-12.l-margin-top-big
                .col-sm-6
                  .h3
                    User Group
                  .h6
                    =@user.user_group.name

                .col-sm-6
                  .h3
                    Stripe Customer ID
                  .h6
                    =@user.stripe_customer_id


              .col-sm-12.l-margin-top-big
                .col-sm-6
                  .h3
                    Account Created
                  .h6
                    =humanize_datetime(@user.created_at)

                .col-sm-6
                  .h3
                    Topic Interest
                  .h6
                    =@user.topic_interest



              .col-sm-12.l-margin-top-big
                .col-sm-6
                  .h3
                    Student Type
                  .h6
                    -if @user.student_user_type
                      =@user.student_user_type.name
                    -else
                      ='------'
