.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        .row.l-margin-bottom
          .col-md-12.text-center
            %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
              =@user.full_name
        .row.l-margin-top.l-margin-bottom
          .col-md-12
            =render partial: 'user_tabs'

        .row.l-margin-top.l-margin-bottom
          .col-md-12
            .corporate-box-item.table-box
              %h3.h-dark
                Courses
              %table.table{style: 'font-size: 18px;'}
                %thead
                  %tr
                    %th
                      =t('views.subject_courses.form.name')
                    %th
                      =t('views.subject_courses.form.active')
                    %th
                      =t('views.subject_courses.form.live')
                    %th
                %tbody
                  -@subject_courses.each do |course|
                    %tr
                      %td
                        =course.name
                      %td
                        =tick_or_cross(course.active)
                      %td
                        =tick_or_cross(course.live)
                      %td
                        =link_to course_special_link(course) do
                          .btn.btn-purple.btn-small.pull-right
                            View
