
=f.fields_for :course_module_element_flash_card_pack do |pack|
  .form-group
    =pack.label :background_color, t('views.course_module_element_flash_card_packs.form.background_color'), class: 'control-label col-sm-4'
    .col-sm-8
      =pack.color_field :background_color, placeholder: t('views.course_module_element_flash_card_packs.form.background_color_placeholder'), required: true, class: 'form-control'
  .form-group
    =pack.label :foreground_color, t('views.course_module_element_flash_card_packs.form.foreground_color'), class: 'control-label col-sm-4'
    .col-sm-8
      =pack.color_field :foreground_color, placeholder: t('views.course_module_element_flash_card_packs.form.foreground_color_placeholder'), required: true, class: 'form-control'
