-# call using
  =render partial: 'show_stack_heading', locals: {the_title: 'Something", the_color: "#abcdef",show_back_btn: true}

.row
  .col-sm-1
    -if show_back_btn
      =link_to '#', class: 'previous-card-button' do
        .h2{style: "color: #{the_color};"}
          %span.glyphicon.glyphicon-circle-arrow-left
  .col-sm-10.text-center
    %h2=the_title
%hr/
