.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Exam Sittings', exam_sittings_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Enrolments', enrollments_management_url
