.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Edit Enrolment

      =form_for(@enrollment, url: enrollment_management_url, html: {class: 'form-horizontal', role: 'form'}) do |f|
        .col-sm-10.col-sm-offset-2.l-margin-bottom
          .row
            .col-sm-6
              =f.label :exam_sitting_id, t('views.enrollments.form.exam_sitting_id'), class: 'control-label'
              .input-group.input-group-lg.full-width
                =f.collection_select :exam_sitting_id, @exam_sittings, :id, :formatted_date, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;', id: 'exam_sitting_select'}
              %br/

            .col-sm-6
              #custom_exam_date
                =f.label :exam_date, t('views.enrollments.form.computer_based_exam_date'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :exam_date, placeholder: 'Select Date ', class: 'form-control', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'exam_date_timepicker'


        .col-sm-10.col-sm-offset-2.l-margin-bottom
          .row
            .col-sm-6
              .form-group.l-margin-top
                .col-sm-11.col-sm-offset-1
                  %label.check
                    =f.check_box :active
                    =t('views.enrollments.admin_form.active')
            .col-sm-6
              .form-group.l-margin-top
                .col-sm-11.col-sm-offset-1
                  %label.check
                    =f.check_box :expired
                    =t('views.enrollments.admin_form.expired')
            .col-sm-6
              .form-group.l-margin-top
                .col-sm-11.col-sm-offset-1
                  %label.check
                    =f.check_box :notifications
                    =t('views.enrollments.admin_form.notifications')


          .row.l-margin-top-huge
            .col-sm-12
              =f.submit t('views.general.save'), class: 'btn btn-red', id: 'enroll_now'
              =link_to t('views.general.cancel'), account_url, anchor: :enrollments, class: 'btn btn-cyan'









:javascript
  $( document ).ready(function() {
    if ($('#exam_sitting_select option:selected').text() == 'Computer Based Exam') {
      $("#custom_exam_date").show();
    } else {
      $("#custom_exam_date").hide();
    }
  });

  $('#exam_sitting_select').change(function () {
    if ($('#exam_sitting_select option:selected').text() == 'Computer Based Exam') {
      $("#custom_exam_date").show();
      $('#enroll_now').attr('disabled', true);
    } else if ($('#exam_sitting_select option:selected').text() == 'Select...') {
      $("#custom_exam_date").hide();
      $('#enroll_now').attr('disabled', true);
      ($('#exam_date_timepicker').val(''))
    } else {
      $("#custom_exam_date").hide();
      $('#enroll_now').attr('disabled', false);
      ($('#exam_date_timepicker').val(''))
    }
  });

  $('#exam_date_timepicker').focusout(function(){
    if ($('#exam_date_timepicker').val().length !=0) {
      $('#enroll_now').attr('disabled', false);
    } else if ($('#exam_date_timepicker').val().length == 0) {
      $('#enroll_now').attr('disabled', true);
    }
  });


  $(function () {
    $('#exam_date_timepicker').datetimepicker();
      format: 'DD/MM/YYYY'
  });

