.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            ='Enrolments'

      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'enrollment_management/enrollment_management_navbar'

      .row.l-margin-top.l-margin-bottom
        .col-sm-6
          .col-sm-10
            .form-group.input-group.input-group-lg
              =text_field_tag :search, params[:search], class: 'form-control', placeholder: t('views.general.search')
              .input-group-addon{style: 'background-color: #EE5457; color: #fff;'}
                %span.glyphicon.glyphicon-search


        .col-sm-6
          =form_tag(enrollments_management_url, method: :get, role: 'form', class: 'form-horizontal') do
            .col-sm-10.col-sm-offset-2
              .input-group.input-group-lg.full-width
                =collection_select(:exam_sitting, :id, ExamSitting.all_active.all_in_order, :id, :name, {include_blank: 'Exam Sitting Filter'}, {class: 'form-control', onchange: 'this.form.submit(); return false;'})


      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .table-box
            .table-responsive
              %table.table.sorted_table
                %thead
                  %tr
                    %th Name
                    %th Sitting
                    %th Expired
                    %th
                    %th
                %tbody
                  -@enrollments.each do |enrollment|
                    %tr
                      %td
                        =enrollment.user.full_name
                      %td
                        =enrollment.try(:exam_sitting).try(:name)
                      %td
                        =tick_or_cross(enrollment.expired)
                      %td
                        =link_to t('views.general.view'), '#', class: 'btn btn-small btn-purple'
