.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            ="Enrolment ID:#{@enrollment.id}"



        .row.l-margin-top.l-margin-bottom-huge
          .col-md-12
            .box-item
              .col-sm-10.l-margin-top
                .col-sm-6
                  .h3
                    User
                  .h6
                    =@enrollment.user.full_name
                  .h6
                    =@enrollment.user.email

                .col-sm-6
                  .h3
                    Course
                  .h6
                    =@enrollment.subject_course.name

              .col-sm-2.l-margin-top
                =link_to 'Edit Details', edit_enrollment_management_url(@enrollment), class: 'btn btn-red'


              .col-sm-10.l-margin-top-big
                .col-sm-6
                  .h3
                    Exam Date (Sitting)
                  .h6
                    =exam_sitting_date(@enrollment.exam_date) if @enrollment.exam_date

                .col-sm-6
                  .h3
                    Exam Body
                  .h6
                    =@enrollment.exam_body.name

              .col-sm-2.l-margin-top
                =link_to 'CSV - Excel', '#', class: 'btn btn-cyan'



        -if @enrollment.subject_course_user_log
          .row.l-margin-top.l-margin-bottom
            -@enrollment.subject_course_user_log.student_exam_tracks.each do |set|
              .col-md-12
                .table-box
                  %h4
                    =set.course_module.name
                  .table-responsive
                    %table.table.sorted_table
                      %thead
                        %tr
                          %th Element
                          %th Completed
                          %th Type
                          %th Latest Attempt
                          %th Score
                          %th Seconds
                          %th Date
                      %tbody
                        -set.course_module_element_user_logs.each do |log|
                          %tr
                            %td
                              =log.course_module_element.name
                            %td
                              =tick_or_cross(log.element_completed)
                            %td
                              =log.is_video ? 'Video' : 'Quiz'
                            %td
                              =tick_or_cross(log.latest_attempt)
                            %td
                              =log.quiz_score_actual
                            %td
                              =log.seconds_watched
                            %td
                              =humanize_datetime(log.created_at)


