#wrapper
  .hidden-xs
    =render partial: 'layouts/corporate_side_bar'
  .main-content.margin-top
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .l-section-corporate.is-bg-asphalt
      .l-wrap
        .container-fluid
          .row.l-margin-bottom
            .col-md-12.text-center
              %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
                ="#{current_user.corporate_customer.organisation_name} Subject Areas"
              %p.h6
                Subject Areas allow managers to bring together a collection of courses they have internally created so that users can easily find them.  Different areas of training can be separated out such as Sales from Health & Safety.
        .col-md-12.l-margin-top-big
          .corporate-box-item.table-box{data: {destination: groups_url}}
            .table-responsive
              %table.table.sorted_table{style: 'font-size: 18px;'}
                %thead
                  %tr
                    %th.p=t('views.groups.form.name')
                    %th.p=t('views.groups.form.active')
                    %th
                %tbody
                  -@groups.each do |group|
                    %tr{id: group.id}
                      %td.p=group.name
                      %td=tick_or_cross(group.active)
                      %td
                        =link_to t('views.general.edit'), edit_group_url(group), class: 'btn btn-cyan btn-small'
                        =link_to t('views.general.edit_courses'),group_edit_courses_url(group_id: group.id), class: 'btn btn-purple btn-small'
                        -if group.destroyable?
                          =link_to t('views.general.delete'), group, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'


        .row
          =link_to t('views.general.new'), new_group_url, class: 'btn btn-red', title: t('views.general.new_tooltip')
  =render partial: 'layouts/corporate_footer'