.pt-4
  .text-center
    %h3='Levels'
  =f.fields_for :levels do |level|
    .box-item.form-box
      -if level.object.new_record?
        %h4
          New Level
      -else
        %h4
          Edit Level

      .row
        .col-sm-6
          .form-group
            =level.label :name, t('views.groups.form.levels.name')
            .input-group.input-group-lg
              =level.text_field :name, placeholder: t('views.groups.form.levels.name_placeholder'), class: 'form-control'
          .form-group
            =level.label :name_url, t('views.groups.form.levels.name_url')
            .input-group.input-group-lg
              =level.text_field :name_url, placeholder: t('views.groups.form.levels.name_url_placeholder'), class: 'form-control'

          .form-group
            =level.label :onboarding_course_heading, t('views.groups.form.levels.onboarding_course_heading')
            .input-group.input-group-lg
              =level.text_field :onboarding_course_heading, placeholder: t('views.groups.form.levels.onboarding_course_heading_placeholder'), class: 'form-control'

          .form-group
            =level.label :onboarding_course_subheading, t('views.groups.form.levels.onboarding_course_subheading')
            .input-group.input-group-lg
              =level.text_area :onboarding_course_subheading, placeholder: t('views.groups.form.levels.onboarding_course_subheading_placeholder'), class: 'form-control'

          %br/
          .checkbox
            %label
              =level.check_box :active
              Active

        .col-sm-6
          .form-group
            =level.label :highlight_colour, t('views.groups.form.levels.highlight_colour')
            .input-group.input-group-lg
              =level.select :highlight_colour, options_for_select([%w[Red #fd5c63], %w[Blue #30aabc], %w[Yellow #f0ca28],
                 %w[Purple #775ead], %w[Green #00b67b]],
                  selected: level.object.highlight_colour),
                   {include_blank: t('views.general.select')}, class: 'form-control custom-select'
          .form-group
            =level.label :icon_label, t('views.groups.form.levels.icon_label')
            .input-group.input-group-lg
              =level.text_field :icon_label, placeholder: t('views.groups.form.levels.icon_label_placeholder'), class: 'form-control'



          -if !level.object.new_record?
            %br/
            .checkbox
              %label
                =level.check_box :_destroy
                Delete Level