=form_for(@group, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    =render partial: '/layouts/error_messages', locals: {thing: @group, message: nil}
    .row
      .col-sm-6
        .form-group
          =f.label :name, t('views.groups.form.name')
          .input-group.input-group-lg
            =f.text_field :name, placeholder: t('views.groups.form.name_placeholder'), class: 'form-control update-my-url'

        .form-group
          =f.label :name_url, t('views.groups.form.name_url')
          .input-group.input-group-lg
            =f.text_field :name_url, placeholder: t('views.groups.form.name_url_placeholder'), class: 'form-control'
        .form-group
          =f.label :exam_body_id, t('views.groups.form.exam_body')
          .input-group.input-group-lg
            =f.collection_select :exam_body_id, ExamBody.all_in_order, :id, :name, {include_blank: t('views.general.select')}, class: 'form-control custom-select'

        .form-group
          =f.label :category_id, t('views.groups.form.category')
          .input-group.input-group-lg
            =f.collection_select :category_id, Category.all, :id, :name, {include_blank: t('views.general.select')}, class: 'form-control custom-select'

        -# TODO(giordano): update and show sub categories if the categoy choosen by user has valid values.
        .form-group
          =f.label :sub_category_id, t('views.groups.form.sub_category')
          .input-group.input-group-lg
            =f.collection_select :sub_category_id, SubCategory.all, :id, :name, {include_blank: t('views.general.select')}, class: 'form-control custom-select'

        .form-group.pt-3
          .checkbox
            %label
              =f.check_box :active
              =t('views.groups.form.active')

        .form-group.pt-3
          .checkbox
            %label
              =f.check_box :tab_view
              =t('views.groups.form.tab_view')
        .form-group
          =f.label :disclaimer, t('views.groups.form.disclaimer')
          .input-group.input-group-lg
            =f.text_area :disclaimer, as: :summernote, placeholder: t('views.groups.form.disclaimer_placeholder'), rows: 10, class: 'form-control', id: 'editor'

      .col-sm-6
        .form-group
          =f.label :description, t('views.groups.form.description')
          .input-group.input-group-lg
            =f.text_area :description, rows: 5, placeholder: t('views.groups.form.description_placeholder'),class: 'form-control'

        .form-group
          =f.label :short_description, t('views.groups.form.short_description')
          .input-group.input-group-lg
            =f.text_field :short_description, placeholder: t('views.groups.form.short_description_placeholder'), class: 'form-control'

        .form-group
          =f.label :seo_title, t('views.groups.form.seo_title')
          .input-group.input-group-lg
            =f.text_field :seo_title, placeholder: t('views.groups.form.seo_title_placeholder'), class: 'form-control'

        .form-group
          =f.label :seo_description, t('views.groups.form.seo_description')
          .input-group.input-group-lg
            =f.text_field :seo_description, placeholder: t('views.groups.form.seo_description_placeholder'), class: 'form-control'

        .form-group
          =f.label :onboarding_level_heading, t('views.groups.form.onboarding_level_heading')
          .input-group.input-group-lg
            =f.text_field :onboarding_level_heading, placeholder: t('views.groups.form.onboarding_level_heading_placeholder'), class: 'form-control'

        .form-group
          =f.label :onboarding_level_subheading, t('views.groups.form.onboarding_level_subheading')
          .input-group.input-group-lg
            =f.text_area :onboarding_level_subheading, placeholder: t('views.groups.form.onboarding_level_subheading_placeholder'), class: 'form-control'

        .form-group
          =f.label :background_colour, t('views.groups.form.background_colour')
          .input-group.input-group-lg
            =f.select :background_colour, options_for_select([%w[Red #fd5c63], %w[Blue #30aabc], %w[Yellow #f0ca28],
             %w[Purple #775ead], %w[Green #00b67b]],
              selected: f.object.background_colour),
               {include_blank: t('views.general.select')}, class: 'form-control custom-select'


    .row.pt-6
      .col-sm-6
        %p Icon
        -if @group.image.present?
          =image_tag @group.image.url, class: 'md-image'

        =f.file_field :image

      .col-sm-6
        .image-label
          Background Image
        -if @group.image.present?
          =image_tag @group.background_image.url, class: 'md-image'
        %br/
        =f.file_field :background_image

  .row.pt-4
    .col-sm-12
      =f.submit t('views.general.save'), class: 'btn btn-primary'
      =link_to t('views.general.cancel'), groups_path, class: 'btn btn-secondary'

:javascript

  $('#editor').summernote({
    disableDragAndDrop: true,
    height: 300
  });
