.l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
  .container-fluid.l-padding-side-3x
    .row.l-margin-bottom.l-margin-top
      .col-md-12.col-sm-12.col-xs-12.text-center
        %h1.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
          =@group.name
      .col-md-12.l-margin-top-big
        .corporate-box-item.table-box
          .table-responsive
            %table.table.sorted_table{data: {destination: subject_courses_url}, style: 'font-size: 18px;'}
              %thead
                %tr
                  %th=t('views.groups.form.name')
                  %th=t('views.groups.form.active')
                  %th Live
                  %th Wistia ID
                  %th Tutor
                  %th
                  %th
                  %th
              %tbody
                -@courses.all_in_order.each do |subject_course|
                  %tr{id: subject_course.id}
                    %td=subject_course.name
                    %td=tick_or_cross(subject_course.active)
                    -if current_user.corporate_customer? && current_user.tutor?
                      %td=tick_or_cross(subject_course.restricted)
                    -else
                      %td=tick_or_cross(subject_course.live)
                      %td=subject_course.wistia_guid
                    -if current_user.admin? || current_user.content_manager?
                      %td=subject_course.tutor.full_name
                    %td
                      =link_to t('views.general.edit'), edit_subject_course_url(subject_course), class: 'btn btn-small btn-purple'
                      -if subject_course.destroyable?
                        =link_to t('views.general.delete'), subject_course, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'
                    %td
                      =link_to t('views.subject_courses.index.edit_content'), subject_course_url(subject_course), class: 'btn btn-small btn-red'
                    -if current_user.admin? || current_user.content_manager?
                      %td
                        %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}
