.container
  %header.management-console-section
    %h1
      =t('views.groups.index.h1')

  %section.pb-7
    =render partial: 'management_consoles/course_content_nav'
    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm-12
              =link_to 'New Group', new_group_url, class: 'btn btn-primary btn-sm'

          .table-responsive.pt-4
            %table.table.sorted_table{data: {destination: groups_url}}
              %thead
                %tr
                  %th=t('views.groups.form.name')
                  %th=t('views.groups.form.active')
                  %th=t('views.groups.form.course_count')
                  %th
                  %th
                  %th
                  %th
              %tbody
                -@groups.all_in_order.each do |group|
                  %tr{id: group.id}
                    %td=group.name
                    %td=tick_or_cross(group.active)
                    %td=group.courses.count
                    %td=link_to t('views.general.edit'), edit_group_url(group), class: 'btn btn-primary btn-xs'
                    %td=link_to t('views.general.show'), group, class: 'btn btn-secondary btn-xs'
                    %td
                      -if group.destroyable?
                        =link_to t('views.general.delete'), group, method: :delete, data: {confirm: t('views.general.delete_confirmation')}, class: 'btn btn-secondary-reverse btn-xs'

                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}
