.container
  %header.management-console-section
    %h1
      =@group.name

  %section.pb-3
    .row
      .col-sm-12
        =link_to 'Groups', groups_url, class: 'btn btn-primary btn-sm btn-sm-arrow-left'
        .box-item.table-box
          .table-responsive
            %table.table.sorted_table{data: {destination: admin_levels_url}}
              %thead
                %tr
                  %th=t('views.groups.form.name')
                  %th=t('views.groups.form.active')
                  %th
                  %th
                  %th
              %tbody
                -@group.levels.all_in_order.each do |level|
                  %tr{id: level.id}
                    %td=level.name
                    %td=tick_or_cross(level.active)
                    %td
                      =link_to t('views.general.edit'), edit_admin_level_url(level), class: 'btn btn-xs btn-primary'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}
