.container
  %header.management-console-section
    %h1
      =@group.name

  %section.pb-3
    .row
      .col-sm-12
        .box-item.table-box
          .table-responsive
            %table.table.sorted_table{data: {destination: subject_courses_url}}
              %thead
                %tr
                  %th=t('views.groups.form.name')
                  %th=t('views.groups.form.active')
                  %th
                  %th
                  %th
              %tbody
                -@courses.all_in_order.each do |subject_course|
                  %tr{id: subject_course.id}
                    %td=subject_course.name
                    %td=tick_or_cross(subject_course.active)
                    %td
                      =link_to t('views.general.edit'), edit_subject_course_url(subject_course), class: 'btn btn-xs btn-primary'
                      -if subject_course.destroyable?
                        =link_to t('views.general.delete'), subject_course, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary btn-xs'
                    %td
                      =link_to t('views.subject_courses.index.edit_content'), subject_course_url(subject_course), class: 'btn btn-xs btn-secondary'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}
