.l-section-small.is-bg-asphalt
  .l-wrap-medium
    .container-fluid
      .row
        .col-md-12
          %h1.h1.h-separator.h-separator-left
            =@group.name
          %h6
            =@group.description.to_s.truncate(200)
.l-section-small.is-bg-asphalt
  .l-wrap-medium
    .container-fluid
      .course-list-wrap
        .row
          -if current_user
            -@courses.each do |course|
              -log = @logs.where(subject_course_id: course.id).first
              .col-sm-6.col-md-4
                =link_to library_special_link(course), class: 'box box-course' do
                  .box-inner
                    %h3.h4.box-title
                      =course.try(:name)
                    %p.box-desc
                    -total_lesson = course.cme_count
                    -complete_lesson = log.try(:count_of_cmes_completed) || 0
                    -complete_percent = log.try(:percentage_complete)
                    %p.l-margin-bottom #{complete_lesson} out of #{total_lesson} lessons completed
                    .progress.l-margin-top-big
                      .progress-bar.cyanbar{'role'=>'progressbar', 'aria-valuenow'=> "#{complete_percent}", 'aria-minvalue'=>'0', 'aria-maxvalue'=>'100', 'style'=>"width: #{complete_percent}% ;" }
                  .box-label
                    =t('views.general.browse')
          -else
            -@courses.each do |course|
              .col-sm-6.col-md-4
                =link_to library_special_link(course), class: 'box box-course' do
                  .box-inner{style: 'height: 163px'}
                    %h3.h4.box-title
                      =course.try(:name)
                    %p.box-desc
                      -if course.try(:short_description)
                        =course.try(:short_description).truncate(100)
                      -else
                        =course.try(:description).truncate(60)
                  .box-label
                    =t('views.general.browse')


-if current_user && (current_user.corporate_customer?)
  =render partial: 'layouts/new_footer'