.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
          %h1.h1.h-separator.h-separator-center.text-center.l-margin-bottom-big
            =@group.name
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .course-list-wrap
        .row
          -@courses.all_in_order.each do |course|
            .col-sm-6.col-md-4
              =link_to library_special_link(course), class: 'box box-course' do
                .box-inner
                  %h3.h4.box-title
                    =course.try(:name)
                  %p.box-desc
                    -if course.short_description
                      =course.try(:short_description).to_s.truncate(30)
                    -else
                      =course.description.to_s.truncate(15)
                .box-label
                  -if course.live
                    -if course.number_complete_by_user_or_guid(current_user.try(:id), current_session_guid) >= 1
                      =t('views.course_module_elements.show.continue')
                    -else
                      =t('views.general.start')
                  -else
                    Get Early Access

-if current_user && (current_user.corporate_customer?)
  =render partial: 'layouts/new_footer'