=form_for(@user, url: change_password_url, method: :post, html: {class: 'form-horizontal', role: 'form'}) do |f|

  .modal.fade#change_password_modal{tabindex: '-1',  role: 'dialog',  aria: {labelledby: 'changePasswordLabel', hidden: 'true'}}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span{aria: {hidden: 'true'}} &times;
            %span.sr-only=t('views.general.close')
          %h4.modal-title#changePasswordLabel=t('views.users.show.change_your_password.h4')

        .modal-body
          .form-group
            =f.label :current_password, t('views.users.form.current_password'), class: 'control-label col-sm-4'
            .col-sm-8
              =f.password_field :current_password, placeholder: t('views.users.form.current_password_placeholder'), class: 'form-control'
          .form-group
            =f.label :password, t('views.users.form.password'), class: 'control-label col-sm-4'
            .col-sm-8
              =f.password_field :password, placeholder: t('views.users.form.password_placeholder'), class: 'form-control'
          .form-group
            =f.label :password_confirmation, t('views.users.form.password_confirmation'), class: 'control-label col-sm-4'
            .col-sm-8
              =f.password_field :password_confirmation, placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control'

        .modal-footer
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}=t('views.general.close')
          =f.submit t('views.general.save'), class: 'btn btn-success'
