.modal.fade{ id: 'csv-upload-modal', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'csvUploadModal', 'aria-hidden': 'true' }
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      %button.btn.btn-text.modal-close.p-0{ 'data-dismiss' => 'modal' }
        %span.sr-only Close Modal
        %i.material-icons{ 'aria-hidden' => 'true' } close

      .modal-header
        %h3.mb-3{id: 'csvUploadModal'}
          Upload CSV File

      .modal-body
        =form_tag(preview_csv_upload_path, authenticity_token: true, id: 'csv_upload_modal_form',
         role: 'form', multipart: true, data: { type: 'csv' }, class: 'form-horizontal') do
          .row
            .col-sm-12
              %h4
                =t('views.dashboard.admin.csv_upload_modal.h1')
              %ul
                %li
                  The file must be in CSV format (.csv). It must have 3 columns in each row.
                %li
                  The first column is for Email.
                %li
                  The second column is for First Name.
                %li
                  The third column is for Last Name.
                %li
                  The fourth column is for Preferred Exam Body.

          .row.pt-3
            .col-sm-12
              %label.control-label{for: :upload}
                =t('views.dashboard.admin.csv_upload_modal.file')
              .input-group.input-group-lg.pb-4
                =file_field_tag :upload, class: 'form-control'

        .modal-footer
          %button{ type: 'button', class: 'btn btn-primary', id: 'users_csv_upload'}
            =t('views.general.upload')
          %button{ type: 'button', class: 'btn btn-secondary', data: { dismiss: 'modal' } }
            =t('views.general.cancel')


:javascript
  $(document).ready(function(){
    $('#users_csv_upload').click(function() {
      $('#csv_upload_modal_form').submit();
    });
  });
