.col-md-12
  .corporate-box-item.table-box

    %table.table{style: 'font-size: 18px;'}
      %thead
        %tr
          %th
            =t('views.subject_course_user_log.show.course')
          %th
            =t('views.enrollments.show.started_at')
          %th

      %tbody
        -@enrollments.each do |enrollment|
          %tr
            %td
              =enrollment.subject_course.name.to_s.truncate(20)
            %td
              =humanize_datetime(enrollment.created_at)
            %td
              -if enrollment.active
                =link_to pause_enrollment_url(enrollment) do
                  .btn.btn-purple.btn-small.pull-right
                    Pause Enrollment

              =link_to activate_enrollment_url(enrollment) do
                .btn.btn-purple.btn-small.pull-right
                  Reactivate Enrollment

