.row
  .col-sm-8.col-sm-offset-2
    =form_for(@user, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}
        .form-group
          =f.label :email, t('views.users.form.email'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :email, placeholder: t('views.users.form.email_placeholder'), class: 'form-control', autofocus: true
        .form-group
          =f.label :first_name, t('views.users.form.first_name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :first_name, placeholder: t('views.users.form.first_name_placeholder'), class: 'form-control'
        .form-group
          =f.label :last_name, t('views.users.form.last_name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :last_name, placeholder: t('views.users.form.last_name_placeholder'), class: 'form-control'
        .form-group
          =f.label :crypted_password, t('views.users.form.crypted_password'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :crypted_password, placeholder: t('views.users.form.crypted_password_placeholder'), class: 'form-control'
        .form-group
          =f.label :password_salt, t('views.users.form.password_salt'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :password_salt, placeholder: t('views.users.form.password_salt_placeholder'), class: 'form-control'
        .form-group
          =f.label :persistence_token, t('views.users.form.persistence_token'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :persistence_token, placeholder: t('views.users.form.persistence_token_placeholder'), class: 'form-control'
        .form-group
          =f.label :perishable_token, t('views.users.form.perishable_token'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :perishable_token, placeholder: t('views.users.form.perishable_token_placeholder'), class: 'form-control'
        .form-group
          =f.label :single_access_token, t('views.users.form.single_access_token'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :single_access_token, placeholder: t('views.users.form.single_access_token_placeholder'), class: 'form-control'
        .form-group
          =f.label :login_count, t('views.users.form.login_count'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :login_count, placeholder: t('views.users.form.login_count_placeholder'), class: 'form-control'
        .form-group
          =f.label :failed_login_count, t('views.users.form.failed_login_count'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :failed_login_count, placeholder: t('views.users.form.failed_login_count_placeholder'), class: 'form-control'
        .form-group
          =f.label :last_request_at, t('views.users.form.last_request_at'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :last_request_at, placeholder: t('views.users.form.last_request_at_placeholder'), class: 'form-control'
        .form-group
          =f.label :current_login_at, t('views.users.form.current_login_at'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :current_login_at, placeholder: t('views.users.form.current_login_at_placeholder'), class: 'form-control'
        .form-group
          =f.label :last_login_at, t('views.users.form.last_login_at'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :last_login_at, placeholder: t('views.users.form.last_login_at_placeholder'), class: 'form-control'
        .form-group
          =f.label :current_login_ip, t('views.users.form.current_login_ip'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :current_login_ip, placeholder: t('views.users.form.current_login_ip_placeholder'), class: 'form-control'
        .form-group
          =f.label :last_login_ip, t('views.users.form.last_login_ip'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :last_login_ip, placeholder: t('views.users.form.last_login_ip_placeholder'), class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :active
                =t('views.users.form.active')
        .form-group
          =f.label :user_group_id, t('views.users.form.user_group_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :user_group_id, @user_groups, :id, :name, {prompt: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :password_reset_requested_at, t('views.users.form.password_reset_requested_at'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :password_reset_requested_at, placeholder: t('views.users.form.password_reset_requested_at_placeholder'), class: 'form-control'
        .form-group
          =f.label :password_reset_token, t('views.users.form.password_reset_token'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :password_reset_token, placeholder: t('views.users.form.password_reset_token_placeholder'), class: 'form-control'
        .form-group
          =f.label :password_reset_at, t('views.users.form.password_reset_at'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :password_reset_at, placeholder: t('views.users.form.password_reset_at_placeholder'), class: 'form-control'
        .form-group
          =f.label :stripe_customer_id, t('views.users.form.stripe_customer_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :stripe_customer_id, @stripe_customers, :id, :name, {prompt: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :corporate_customer_id, t('views.users.form.corporate_customer_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :corporate_customer_id, @corporate_customers, :id, :name, {prompt: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :corporate_customer_user_group_id, t('views.users.form.corporate_customer_user_group_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :corporate_customer_user_group_id, @corporate_customer_user_groups, :id, :name, {prompt: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :operational_email_frequency, t('views.users.form.operational_email_frequency'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :operational_email_frequency, placeholder: t('views.users.form.operational_email_frequency_placeholder'), class: 'form-control'
        .form-group
          =f.label :study_plan_notifications_email_frequency, t('views.users.form.study_plan_notifications_email_frequency'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :study_plan_notifications_email_frequency, placeholder: t('views.users.form.study_plan_notifications_email_frequency_placeholder'), class: 'form-control'
        .form-group
          =f.label :falling_behind_email_alert_frequency, t('views.users.form.falling_behind_email_alert_frequency'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :falling_behind_email_alert_frequency, placeholder: t('views.users.form.falling_behind_email_alert_frequency_placeholder'), class: 'form-control'
        .form-group
          =f.label :marketing_email_frequency, t('views.users.form.marketing_email_frequency'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :marketing_email_frequency, placeholder: t('views.users.form.marketing_email_frequency_placeholder'), class: 'form-control'
        .form-group
          =f.label :marketing_email_permission_given_at, t('views.users.form.marketing_email_permission_given_at'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :marketing_email_permission_given_at, placeholder: t('views.users.form.marketing_email_permission_given_at_placeholder'), class: 'form-control'
        .form-group
          =f.label :blog_notification_email_frequency, t('views.users.form.blog_notification_email_frequency'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :blog_notification_email_frequency, placeholder: t('views.users.form.blog_notification_email_frequency_placeholder'), class: 'form-control'
        .form-group
          =f.label :forum_notification_email_frequency, t('views.users.form.forum_notification_email_frequency'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :forum_notification_email_frequency, placeholder: t('views.users.form.forum_notification_email_frequency_placeholder'), class: 'form-control'
      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), users_path
