.box-item
  =form_for(@user, html: {class: 'form-horizontal', role: 'form', multipart: true}) do |f|
    =render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}

    .row.pt-4
      .col-sm-6
        .form-group
          =f.label :email, t('views.users.form.email')
          .input-group.input-group-lg
            =f.text_field :email, placeholder: t('views.users.form.email_placeholder'), class: 'form-control'
      .col-sm-6
        .form-group
          =f.label :user_group_id, t('views.users.form.user_group_id')
          .input-group.input-group-lg
            =f.collection_select :user_group_id, @user_groups, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}
    .row
      .col-sm-6
        .form-group
          =f.label :first_name, t('views.users.form.first_name')
          .input-group.input-group-lg
            =f.text_field :first_name, placeholder: t('views.users.form.first_name_placeholder'), class: 'form-control'
      .col-sm-6
        .form-group
          =f.label :last_name, t('views.users.form.last_name')
          .input-group.input-group-lg
            =f.text_field :last_name, placeholder: t('views.users.form.last_name_placeholder'), class: 'form-control'
    .row
      .col-sm-6
        .form-group
          =f.label :preferred_exam_body_id, t('views.users.form.preferred_exam_body_id')
          .input-group.input-group-lg
            =f.collection_select :preferred_exam_body_id, ExamBody.all_in_order, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}
      .col-sm-6
        .form-group
          =f.label :date_of_birth, t('views.users.form.date_of_birth')
          .input-group.input-group-lg
            =f.text_field :date_of_birth, placeholder: t('views.users.form.date_of_birth_placeholder'), class: 'form-control', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'
    
    .row
      .col-sm-6
        .form-group
          =f.label :currency
          .input-group.input-group-lg
            =f.collection_select :currency_id, Currency.all, :id, :name, {}, {class: 'form-control custom-select', disabled: @user.currency_locked? }


    #tutor-info.pt-4
      %hr/
      %h2='Tutor Info'
      .row
        .col-sm-6
          =f.label :profile_image, t('views.users.form.profile_image'), class: 'text-danger'
          -if f.object.profile_image.present?
            =image_tag f.object.profile_image.url, class: 'img-responsive'
            %br/
            Upload a replacement if you wish
            %br/
          .input-group.input-group-lg
            =f.file_field :profile_image, class: 'form-control'
        .col-sm-6
          =f.label :name_url, t('views.users.form.name_url'), class: 'text-danger'
          .input-group.input-group-lg
            =f.text_field :name_url, class: 'form-control', placeholder: t('views.users.form.name_url_placeholder')
      .row.pt-6
        .col-sm-12
          =f.label :description, t('views.users.form.description')
          =f.text_area :description, 'data-provider': :summernote, id: 'editor'


    .row.pt-4
      .col-md-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), users_url, class: 'btn btn-secondary'


:javascript
  $(function () {
    $('#datetimepicker').datetimepicker();
      format: 'DD/MM/YYYY'
  });

  $('#editor').summernote({
    disableDragAndDrop: true,
    height: 150
  });

  function toggleTutorDetails() {
    if($( "#user_user_group_id option:selected" ).text() == 'tutor'){
      $('#tutor-info').show();
    } else {
      $('#tutor-info').hide();
    }
  }

  $('#user_user_group_id').change(function(){
    toggleTutorDetails()
  });

  $(document).one('ready', function () {
    toggleTutorDetails()
  });
