.box-item
  =form_for(@user, html: {class: 'form-horizontal', role: 'form', multipart: true}) do |f|
    =render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}

    .row.pt-4
      .col-sm-6
        .form-group
          =f.label :email, t('views.users.form.email')
          .input-group.input-group-lg
            =f.text_field :email, placeholder: t('views.users.form.email_placeholder'), class: 'form-control'
      .col-sm-6
        .form-group
          =f.label :user_group_id, t('views.users.form.user_group_id')
          .input-group.input-group-lg
            =f.collection_select :user_group_id, @user_groups, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}

      .col-sm-6
        .form-group
          =f.label :first_name, t('views.users.form.first_name')
          .input-group.input-group-lg
            =f.text_field :first_name, placeholder: t('views.users.form.first_name_placeholder'), class: 'form-control'
      .col-sm-6
        .form-group
          =f.label :last_name, t('views.users.form.last_name')
          .input-group.input-group-lg
            =f.text_field :last_name, placeholder: t('views.users.form.last_name_placeholder'), class: 'form-control'
      .col-sm-6
        .form-group
          =f.label :date_of_birth, t('views.users.form.date_of_birth')
          .input-group.input-group-lg
            =f.text_field :date_of_birth, placeholder: t('views.users.form.date_of_birth_placeholder'), class: 'form-control', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'



    .row.pt-5
      %h2='Tutor Info'
      .row
        .col-sm-12
          =f.label :description, t('views.users.form.description')
          =f.text_area :description, 'data-provider': :summernote, id: 'editor'
      .row
        .col-sm.pt-4
          =f.label :profile_image, t('views.users.form.profile_image')
          -if f.object.profile_image.present?
            =image_tag f.object.profile_image.url, class: 'img-responsive'
            %br/
            Upload a replacement if you wish
            %br/
          .input-group.input-group-lg
            =f.file_field :profile_image, class: 'form-control'
        .col-sm.pt-4
          =f.label :name_url, t('views.users.form.name_url')
          .input-group.input-group-lg
            =f.text_field :name_url, class: 'form-control'


    .row.pt-4
      .col-md-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), users_url, class: 'btn btn-secondary'


:javascript
  $(function () {
    $('#datetimepicker').datetimepicker();
      format: 'DD/MM/YYYY'
  });
  $('#editor').summernote({
    disableDragAndDrop: true,
    height: 150
  });
