%h2.h2.l-margin-bottom.text-center
  =t('views.subscription_payment_cards.index.h1')
.col-md-6.l-margin-top-big
  -@subscription_payment_cards.each do |card|
    .corporate-box-item.l-margin-bottom-big
      .col-sm-6
        %h4
          =t('views.subscription_payment_cards.index.h4')
        %p
          Ending In:
          &nbsp;
          XXXX
          =card.last_4
        %p
          Expiry Date:
          &nbsp;
          =card.expiry_month
          &#45;
          =card.expiry_year
      .col-sm-6
        -if !card.status == 'expired'
          .btn.btn-cyan.l-margin-bottom.l-margin-top-big.full-width{style: 'cursor: default;'}
            Card Expired
        -else
          -if card.is_default_card?
            .btn.btn-green.btn-secondary.l-margin-bottom.l-margin-top-big.full-width{style: 'cursor: default;'}
              Active Card
          -else
            =link_to t('views.users.show.use_this_card'), subscription_payment_card_path(id: card.id, subscription_payment_card: {make_default_card: true}), method: :put, class: 'btn btn-cyan l-margin-bottom l-margin-top-big full-width'

.col-md-6.l-margin-top-big.text-center
  =link_to t('views.users.show.new_card'), '#', data: {toggle: 'modal', target: '#new-subscription-payment-card-modal'}, class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'

