=form_for(Subscription.new(user_id: @user.id), method: :post, html: {class: 'form-horizontal', role: 'form', id: 're-subscribe-form'}) do |f|
  =f.hidden_field :subscription_plan_id, value: @current_subscription.reactivation_options.first.id
  =f.hidden_field :user_id, value: @user.id

  .modal.fade#re-subscribe-modal{tabindex: '-1',  role: 'dialog',  aria: {labelledby: 'reeSubscribeLabel', hidden: 'true'}}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span{aria: {hidden: 'true'}} &times;
            %span.sr-only=t('views.general.close')
          %h4.modal-title#reSubscribeLabel=t('views.users.show.re_subscribe_plan')

        .modal-body
          .row
            .col-sm-10.col-sm-offset-1
              .row
              -@current_subscription.reactivation_options.each do|plan|
                .subscription-panel.well.well-sm.text-center{class: "col-sm-#{12 / @current_subscription.reactivation_options.size} #{@current_subscription.reactivation_options.first.id == plan.id ? 'active' : ''}", id: "subscription-panel-#{plan.id}", data: {plan: plan.id}, onclick: "$('#subscription_subscription_plan_id').val($(this).data('plan') ); $('.subscription-panel').removeClass('active'); $(this).addClass('active');"}
                  %h4=t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                  %p
                    =plan.name
                    %br/
                    -plan.description_without_trial.lines.each do |line|
                      =line
                      %br/

        .modal-footer
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}=t('views.general.cancel')
          =f.submit t('views.users.show.upgrade_now'), id: 'reactivate-submit', class: 'btn btn-success'
