=form_for(Subscription.new(user_id: @user.id), method: :post, html: {class: 'form-horizontal', role: 'form', id: 're-subscribe-form'}) do |f|
  =f.hidden_field :subscription_plan_id, value: @current_subscription.reactivation_options.first.id
  =f.hidden_field :user_id, value: @user.id

  .modal.fade#re-subscribe-modal{tabindex: '-1',  role: 'dialog',  aria: {labelledby: 'reeSubscribeLabel', hidden: 'true'}}
    .modal-dialog
      .modal-content.is-bg-asphalt.l-padding-side-15
        .container-fluid
          .modal-header
            .row
              .col-md-12.l-margin-top
                %button{type: 'button', class: 'close', "data-dismiss": 'modal', "aria-label": 'Close', style: 'font-size: 30px'} &times;
                %h2.modal-title#reSubscribeLabel{style: 'width: 95%'}
                  =t('views.users.show.re_subscribe_plan')
                %hr/
            .row.l-margin-top
              .col-md-12
                -@current_subscription.reactivation_options.each do|plan|
                  .subscription-panel.well.well-sm.text-center{class: "col-sm-#{12 / @current_subscription.reactivation_options.size} #{@current_subscription.reactivation_options.first.id == plan.id ? 'selected' : ''}", id: "subscription-panel-#{plan.id}", data: {plan: plan.id}, onclick: "$('#subscription_subscription_plan_id').val($(this).data('plan') ); $('.subscription-panel').removeClass('selected'); $(this).addClass('selected');"}
                    %h4=t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                    %p
                      =plan.name
                      %br/
                      -plan.description_without_trial.lines.each do |line|
                        =line
                        %br/

          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}=t('views.general.cancel')
          =f.submit t('views.users.show.upgrade_now'), id: 'reactivate-submit', class: 'btn btn-red l-margin-top-big l-margin-bottom-big'
