.rows
  .col-sm-8.col-sm-offset-2
    %h2="#{t('views.users.show.tabs.referral_code')}: #{@user.referral_code.code}"
    .well.well-sm
      .row
        .col-sm-10
          %p=t('views.users.show.number_of_referred_users_last_month')
        .col-sm-2
          %p.pull-right
            =@user.referral_code.payed_referred_signups.last_month.count

      .row
        .col-sm-10
          %p=t('views.users.show.number_of_referred_users_this_month')
        .col-sm-2
          %p.pull-right
            =@user.referral_code.payed_referred_signups.this_month.count

  .container-fluid
    .row.l-margin-bottom#thank-you-message
      .col-md-12.text-center
        %h2.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
          Invite friends to LearnSignal and get a discount off your subscription enrollment
      .col-md-10.col-md-offset-1.l-margin-bottom-6x
        .corporate-box-item
          .row
            .col-md-12
              %p.text-center{style: 'text-align: center;  letter-spacing: 0.5px;'}
                Refer 5 new paying users to LearnSignal each month, we will give you a months free subscription.
              .form-group
                =form_tag(referral_codes_path, authenticity_token: true, id: 'referral-code-form', role: 'form',  data: {type: 'json'}, class: 'form-horizontal', remote: true) do
                  .row
                    .col-sm-10.col-sm-offset-1
                      =text_field_tag :code, @user.referral_code ? referral_code_sharing_url(@user.referral_code) : '', class: 'form-control', readonly: true
                    %br/
                    .col-sm-4
                      %a.btn
                        =t('views.referral_codes.modal.copy')
                    .col-sm-4
                      %a.btn.btn-secondary{ href: "#"}
                        =t('views.referral_codes.modal.share')
                    .col-sm-4
                      %a.btn{href: "#"}
                        =t('views.referral_codes.modal.tweet')

