.margin-top
-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-section-profile.is-bg-asphalt
  .l-wrap
    .container-fluid

      .tabs.account-tabs
        %ul
          %li
            %a.active{href: '#personal-details', role: 'tab', data: {toggle: 'tab'}}
              =t('views.users.show.tabs.personal_details')
          -if @current_subscription
            %li
              %a{href: '#subscriptions', role: 'tab', data: {toggle: 'tab'}}
                =t('views.users.show.tabs.subscriptions')
          -if @valid_order
            %li
              %a{href: '#orders', role: 'tab', data: {toggle: 'tab'}}
                =t('views.users.show.tabs.orders')
          -if @subscription_payment_cards.any?
            %li
              %a{href: '#payment-details', role: 'tab', data: {toggle: 'tab'}}
                =t('views.users.show.tabs.payments')

          %li
            %a{href: '#completion-certs', role: 'tab', data: {toggle: 'tab'}}
              =t('views.users.show.tabs.certificates')


        .account-tab-content
          .tab.account-tab#personal-details
            =render partial: 'users/form_student_personal_details'


          -if @current_subscription
            .tab.account-tab#subscriptions

              -#=render partial: 'subscriptions/account_info'


              .col-md-12
                .corporate-box-item.table-box#invoices-panel.l-margin-bottom-huge
                  %h2.l-margin-bottom-big.text-center
                    =t('views.users.show.your_invoices')
                  .table-responsive
                    -@invoices = @user.invoices.paginate(page: 1, per_page: 50).where('sub_total > 0').all_in_order
                    =render partial: 'invoices/index'

          -if @valid_order
            .tab.account-tab#orders

              =render partial: 'orders/account_info'

          -if @subscription_payment_cards.any?
            .tab.account-tab#payment-details
              =render partial: 'users/payment_details'

          .tab.account-tab#completion-certs
            =render partial: 'users/completion_certificates'










  -if @user.id == current_user.id
    =render partial: 'users/change_password'

:javascript

  $(document).ready(function(){

    // Tabs
    $('.tabs').tabs();

  });
