-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.users.show.h1')
      .row.l-margin-bottom
        .col-md-12{role: 'tablist'}
          .signal-tabs
            %a{href: '#personal-details', aria: {controls: 'in-progress'}, role: 'tab', data: {toggle: 'tab'}}
              =t('views.users.show.tabs.personal_details')
            -if @current_subscription && !@current_subscription.free_trial?
              %a{href: '#subscriptions', aria: {controls: 'completed'}, role: 'tab', data: {toggle: 'tab'}}
                =t('views.users.show.tabs.subscriptions')
              %a{href: '#payment-details', aria: {controls: 'completed'}, role: 'tab', data: {toggle: 'tab'}}
                =t('views.users.show.tabs.payments')
            %a{href: '#referral-details', aria: {controls: 'completed'}, role: 'tab', data: {toggle: 'tab'}}
              =t('views.users.show.tabs.referral_code')

      .row
        .l-margin-top-big
          .l-margin-bottom
            =form_for(@user, html: {class: 'form-horizontal', role: 'form'}) do |f|
              .tab-content
                .tab-pane.fade.in.active#personal-details{role: 'tabpanel'}
                  .row
                    .col-md-8.col-md-offset-2{style: 'padding-bottom: 50px;'}
                      =render partial: 'users/form_personal_details', locals: {f: f}
                -if @current_subscription
                  .tab-pane.fade#subscriptions{role: 'tabpanel'}
                    .row
                      .col-md-12
                        %h2.h2.l-margin-bottom.text-center
                          =t('views.users.show.your_subscription')

                        -if @current_subscription && !@current_subscription.free_trial?
                          .row
                            .col-sm-10.col-sm-offset-1.l-margin-top-big.l-margin-bottom-big
                              .col-sm-6
                                .row.l-margin-bottom-big{style: 'margin-left: 10px;'}
                                  %h4
                                    ="Memeber since: "
                                    &nbsp;
                                    =humanize_datetime(@user.created_at)
                                  %br/
                                  %h4
                                    -last_invoice = @user.invoices.all_in_order.last
                                    -if last_invoice
                                      ="Last Payment: "
                                      &nbsp;
                                      =number_in_local_currency(last_invoice.total, last_invoice.currency_id)
                                      =" on "
                                      =humanize_datetime(last_invoice.created_at)
                                  %br/
                                  %h4
                                    =t('views.users.show.your_next_payment_will_be_on')
                                    &nbsp;
                                    =@current_subscription.next_renewal_date
                                  %br/
                                  %h4
                                    ="Billing Interval: "
                                    &nbsp;
                                    =t("views.general.payment_frequency_in_months.a#{@current_subscription.subscription_plan.payment_frequency_in_months}")

                                  -#unless @current_subscription.current_status == 'active'
                                  %br/
                                  %h4
                                    -if @current_subscription.current_status == 'canceled'
                                      =t('views.users.show.your_plan_expired_on')
                                    -elsif @current_subscription.current_status == 'canceled-pending'
                                      =t('views.users.show.your_plan_will_expire_on')
                                      &nbsp;
                                      =@current_subscription.next_renewal_date.to_s + '.'

                              .col-sm-6
                                -if @current_subscription.current_status == 'canceled'
                                  %h3=t('views.users.show.reactivate_subscription.h3')
                                  =link_to t('views.users.show.reactivate_subscription.button_call_to_action'), '#', class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top', data: {toggle: 'modal', target: '#re-subscribe-modal'}
                                -elsif @current_subscription.current_status == 'canceled-pending'
                                  %h3=t('views.users.show.un_cancel_subscription.h3')
                                  =link_to t('views.users.show.un_cancel_subscription.button_call_to_action'), subscription_url(id: @current_subscription.id, subscription: {subscription_plan_id: 123}), method: :put, class: 'btn btn-red l-margin-top'


                                -else
                                  .row
                                    .col-sm-10.col-md-offset-2
                                      =link_to t('views.users.show.change_subscription_plan'), account_change_plan_url, class: 'btn btn-purple  l-margin-bottom'
                                      %a{href: '#payment-details', aria: {controls: 'completed'}, role: 'tab', class: 'btn btn-cyan l-margin-bottom', data: {toggle: 'tab'}}=t('views.users.show.add_new_card')
                                      -if @current_subscription.current_status == 'active'
                                        =link_to t('views.users.show.cancel_your_subscription_plan'), @current_subscription, method: :delete, data: {confirm: t('views.users.show.confirm_immediate_deletion') + "#{@current_subscription.next_renewal_date.to_s}"}, class: 'btn btn-red l-margin-bottom'
                                      -elsif !@current_subscription.current_status.include?('canceled')
                                        =link_to t('views.users.show.cancel_your_subscription_plan'), @current_subscription, method: :delete, data: {confirm: t('views.users.show.confirm_immediate_deletion') + "#{@current_subscription.next_renewal_date.to_s}"}


                    .row
                      .col-md-12
                        .corporate-box-item.table-box#invoices-panel.l-margin-bottom-huge
                          %h2.l-margin-bottom-big.text-center
                            =t('views.users.show.your_invoices')
                          .table-responsive
                            -@invoices = @user.invoices.paginate(page: 1, per_page: 50).where('sub_total > 0').all_in_order
                            =render partial: 'invoices/index'
                .tab-pane.fade#payment-details{role: 'tabpanel'}
                  .row
                    .col-md-12{style: 'padding-bottom: 50px;'}
                      =render partial: 'users/payment_details', locals: {f: f}


                .tab-pane.fade#referral-details{role: 'tabpanel'}
                  .row
                    .col-md-12{style: 'padding-bottom: 50px;'}
                      =render partial: 'users/referral_data', locals: {f: f}

  -if @user.id == current_user.id
    =render partial: 'users/change_password'

  -if @current_subscription
    -if @current_subscription.current_status.include?('cancel')
      =render partial: 'users/re_subscribe'
    =render partial: 'subscription_payment_cards/modal'

  -if current_user.corporate_customer?
    =render partial: 'users/company'


  =render partial: 'layouts/new_footer'
  :javascript
    $(document).on('ready', function() {
      var stripped_url = document.location.toString().split("#");
      if (stripped_url.length > 1) {
        $("a[href='#" + stripped_url[1]+"']").first().tab('show');
      }
      $('.signal-tabs a:first').addClass('underline').siblings().removeClass('underline');
    })
    $('.signal-tabs a').on('click', function(){
      $(this).addClass('underline').siblings().removeClass('underline');
    });

