.margin-top
-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-section-profile.is-bg-asphalt
  .l-wrap
    .container-fluid
      .col-sm-6
        %h1.h1.h-separator.h-separator-left.l-margin-bottom
          Account Info
      .col-sm-6
        -unless current_user.discourse_user
          .pull-right
            =link_to user_create_discourse_user_path, method: :post, class: 'btn btn-cyan' do
              Join Our Community

      .tabs
        .col-sm-8
          .account-tab-content
            .tab.account-tab#personal-details
              =render partial: 'users/form_student_personal_details'


            -if @current_subscription
              .tab.account-tab#subscriptions

                =render partial: 'subscription_info'


                .col-md-12
                  .corporate-box-item.table-box#invoices-panel.l-margin-bottom-huge
                    %h2.l-margin-bottom-big.text-center
                      =t('views.users.show.your_invoices')
                    .table-responsive
                      -@invoices = @user.invoices.paginate(page: 1, per_page: 50).where('sub_total > 0').all_in_order
                      =render partial: 'invoices/index'

            -if @valid_order
              .tab.account-tab#orders

                =render partial: 'orders/account_info'

            -if @subscription_payment_cards.any?
              .tab.account-tab#payment-details
                =render partial: 'users/payment_details'

            .tab.account-tab#completion-certs
              =render partial: 'users/completion_certificates'

            .tab.account-tab#enrollments
              =render partial: 'users/enrollments'

            -if @sitting_courses.any?
              .tab.account-tab#exam_sittings
                =render partial: 'exam_sittings/show'


        .col-sm-4
          .account-tabs
            %ul
              %li
                %a.active{href: '#personal-details', role: 'tab', data: {toggle: 'tab'}}
                  =t('views.users.show.tabs.personal_details')
              -if @current_subscription
                %li
                  %a{href: '#subscriptions', role: 'tab', data: {toggle: 'tab'}}
                    =t('views.users.show.tabs.subscriptions')
              -if @valid_order
                %li
                  %a{href: '#orders', role: 'tab', data: {toggle: 'tab'}}
                    =t('views.users.show.tabs.orders')
              -if @subscription_payment_cards.any?
                %li
                  %a{href: '#payment-details', role: 'tab', data: {toggle: 'tab'}}
                    =t('views.users.show.tabs.payments')
              %li
                %a{href: '#completion-certs', role: 'tab', data: {toggle: 'tab'}}
                  =t('views.users.show.tabs.certificates')
              %li
                %a{href: '#enrollments', role: 'tab', data: {toggle: 'tab'}}
                  =t('views.users.show.tabs.enrollments')
              -if @sitting_courses.any?
                %li
                  %a{href: '#exam_sittings', role: 'tab', data: {toggle: 'tab'}}
                    =t('views.users.show.tabs.exam_sittings')







  =render partial: 'subscription_payment_cards/modal'
  -if @user.id == current_user.id
    =render partial: 'users/change_password'




:javascript

  $(document).ready(function(){

    // Tabs
    $('.tabs').tabs();


    hash = window.location.hash;
    elements = $('a[href="' + hash + '"]');
    if (elements.length === 0) {
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content
    } else {
        elements.click();
    }

  });
