.admin-nav
  %ul.user-nav-block
    %li
      =link_to 'Account', user_url(@user)
    %li
      =link_to 'Personal', user_personal_url(@user)
    -if @user.tutor_user?
      %li
        =link_to 'Courses', user_courses_url(@user)
    -elsif @user.subscription_user?
      %li
        =link_to 'Subscriptions', user_subscription_url(@user)
    %li
      =link_to 'Purchases', user_orders_url(@user)
    %li
      =link_to 'Enrolments', user_enrollments_url(@user)

