.margin-top
-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-section-profile.is-bg-asphalt
  .l-wrap
    .container-fluid
      .col-sm-12
        %h1.h1.h-separator.h-separator-left.l-margin-bottom
          Account Details

      .col-md-12.l-margin-top-big{role: 'tablist'}
        .signal-tabs
          %a{href: '#personal-details', role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
            =t('views.users.show.tabs.personal_details')

          %a{href: '#subscriptions', role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
            =t('views.users.show.tabs.subscriptions')

          -if @subscription_payment_cards.any?
            %a{href: '#payment-details', role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
              =t('views.users.show.tabs.payments')

          -if @valid_order.any?
            %a{href: '#orders', role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
              =t('views.users.show.tabs.orders')

          %a{href: '#enrollments', role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
            =t('views.users.show.tabs.enrollments')

          %a{href: '#completion-certs', role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
            =t('views.users.show.tabs.certificates')



      .tab-content
        .tab-pane.fade.in.active#personal-details{role: 'tabpanel'}
          .col-md-12
            .content-box.content-box-outer.l-margin-bottom-huge
              .content-box-inner
                =render partial: 'users/user_account/personal_info'

        .tab-pane.fade#subscriptions{role: 'tabpanel'}
          .col-md-12
            .content-box.content-box-outer.l-margin-bottom-huge
              .content-box-inner
                =render partial: 'users/user_account/subscription_info'


        -if @subscription_payment_cards.any?
          .tab-pane.fade#payment-details{role: 'tabpanel'}
            .col-md-12
              .content-box.content-box-outer.l-margin-bottom-huge
                .content-box-inner
                  =render partial: 'users/user_account/payment_details'


        -if @valid_order.any?
          .tab-pane.fade#orders{role: 'tabpanel'}
            .col-md-12
              .content-box.content-box-outer.l-margin-bottom-huge
                .content-box-inner
                  =render partial: 'orders/account_info'

        .tab-pane.fade#enrollments{role: 'tabpanel'}
          .col-md-12
            .content-box.content-box-outer.l-margin-bottom-huge
              .content-box-inner
                =render partial: 'users/user_account/enrollments'

        .tab-pane.fade#completion-certs{role: 'tabpanel'}
          .col-md-12
            .content-box.content-box-outer.l-margin-bottom-huge
              .content-box-inner
                =render partial: 'users/user_account/completion_certificates'







=render partial: 'shared/activate_tab'
=render partial: 'subscription_payment_cards/modal'
-if @user.id == current_user.id
  =render partial: 'users/user_forms/change_password'
