.row
  .col-sm-12
    .page-header
      %h1=t('views.users.index.h1')

.well.well-sm
  .row
    .col-sm-6
      =form_tag(users_url, method: :get, role: 'form', class: 'form-inline') do
        .form-group
          %label.sr-only{for: 'search_term'} Search box
          .input-group
            =text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: t('views.general.search'), onblur: 'this.form.submit(); return false;'
            .input-group-addon
              %span.glyphicon.glyphicon-search
        .form-group
          =label_tag :sort_by, t('views.countries.form.sorting_order')
          =select_tag :sort_by, options_for_select(@sort_choices, params[:sort_by].to_s), class: 'form-control', onchange: 'this.form.submit(); return false;'
    .col-sm-6.user-pagination.text-right
      =will_paginate @users, renderer: BootstrapPagination::Rails

.row
  .col-sm-12
    %table.table.table-striped.table-bordered
      %tr
        %th
          =t('views.users.form.full_name')
          %br/
          =t('views.users.form.email')
        %th=t('views.users.form.active')
        %th=t('views.users.form.password_reset_requested_at')
        %th=t('views.users.form.password_reset_at')
        %th=t('views.users.form.stripe_customer_id')
        %th=t('views.users.form.corporate_customer_id')
        %th
      -user_group_id_tracker = nil
      -@users.each do |user|
        -if (params[:sort_by].to_s.blank? || params[:sort_by].to_s == 'user_group') && user.user_group_id != user_group_id_tracker
          -user_group_id_tracker = user.user_group_id
          %tr
            %td{colspan: 8}
              -if user.user_group
                .h2=link_to user.user_group.name, user.user_group
              -else
                .h2=t('views.general.missing_data_error')
        %tr
          %td
            =link_to(user.full_name, user, title: t('views.general.view_tooltip'))
            %br/
            =link_to(user.email, user, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(user.active), user, title: t('views.general.view_tooltip'))
          %td=link_to(user.password_reset_requested_at.to_s, user, title: t('views.general.view_tooltip'))
          %td
            -if user.password_reset_at
              =link_to(user.password_reset_at.to_s(:standard), user, title: t('views.general.view_tooltip'))
          %td
            -if user.stripe_customer_id
              =link_to(user.stripe_customer_id, user, title: t('views.general.view_tooltip'))
          %td=link_to(user.corporate_customer.try(:organisation_name), user, title: t('views.general.view_tooltip')) if user.corporate_customer_id

          %td
            =link_to t('views.general.edit'), edit_user_url(user), class: 'btn btn-info btn-xs'
            -if user.destroyable?
              =link_to t('views.general.delete'), user, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
.row
  .col-sm-12
    =link_to t('views.general.new'), new_user_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
