.container
  %header.management-console-section
    %h1
      Users

  %section.pb-3
    =render partial: 'management_consoles/user_management_nav'
    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              =link_to '#', {"data-target" => "#csv-upload-modal", "data-toggle" => "modal", :href => "#"} do
                .btn.btn-primary.btn-sm
                  Bulk Invite New Users
            .col-sm
              =link_to 'Invite New user', new_user_url, class: 'btn btn-primary btn-sm'
            .col-sm
              .search-container
                =form_tag(search_users_url, role: 'form', class: 'form-inline') do
                  =text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: t('views.general.search')
                  %button{type: "submit"}
                    %i{:role => "img", class: 'budicon-search-list'}


          .table-responsive.pt-5
            %table.table{style: 'font-size: 18px;'}
              %thead
                %tr
                  %th=t('views.users.form.full_name')
                  %th=t('views.users.form.email')
                  %th=t('views.users.form.subscription_status')
                  %th
                  %th
              %tbody
                -@users.each do |user|
                  %tr
                    %td=user.full_name
                    %td=user.email
                    %td=user.user_account_status
                    %td
                      =link_to t('views.general.view'), user_url(user), class: 'btn btn-secondary btn-xs'
                    %td
                      =link_to t('views.general.edit'), edit_user_url(user), class: 'btn btn-primary btn-xs'

            .col-sm-10.user-pagination
              =will_paginate @users, renderer: BootstrapPagination::Rails


=render partial: 'users/csv_import_modal'
