.container
  %header.management-console-section
    %h1
      Users

  %section.pb-3
    =render partial: 'management_consoles/user_management_nav'
    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              =link_to '#', {"data-target" => "#csv-upload-modal", "data-toggle" => "modal", :href => "#"} do
                .btn.btn-primary.btn-sm
                  Bulk Invite New Users
            .col-sm
              =link_to 'Invite New user', new_user_url, class: 'btn btn-primary btn-sm'
            .col-sm
              .search-container
                =form_tag(search_users_url, method: :get, role: 'form', class: 'form-inline', remote: true) do
                  =text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: t('views.general.search')
                  %button{type: "submit"}
                    %i{:role => "img", class: 'budicon-search-list'}

          .table-responsive.pt-5{ id: :users_list }
            =render partial: 'users/users_list'


=render partial: 'users/csv_import_modal'
