.top-content.external_layout
  .l-wrap-product-user
    .container
      .row
        .col-md-6
          =link_to root_url do
            =image_tag 'ls-logo-red.svg', class: 'secondary-logo'
        .col-md-6

      .row.l-margin-top-huge
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'
        .col-md-12
          .col-md-4.l-margin-top
            .course-side-info
              %h2
                =@course.name
              %p
                =@course.short_description
              %hr/
              %p.h3
                ='Total: '
                =number_in_local_currency(@product.price, @product.currency_id)

          .col-md-8
            .new-product-user-form.l-margin-top
              =form_for @user, url: create_product_user_url do |f|
                =render partial: 'layouts/error_messages', locals: {thing: @user, message: t('views.home_pages.sign_up_form.error_panel_caption')}
                =f.hidden_field :locale, value: (params[:locale] || 'en')
                =f.hidden_field :subject_course_id, value: @course.id
                .row
                  .col-md-12
                    .col-sm-6
                      .form-group
                        =f.label :first_name, t('views.users.form.first_name'), class: 'control-label'
                        =f.text_field :first_name, autofocus: true, required: true, class: 'form-control', id: 'first_name'
                    .col-sm-6
                      .form-group
                        =f.label :last_name, t('views.users.form.last_name'), class: 'control-label'
                        =f.text_field :last_name, class: 'form-control', id: 'last_name'
                    .col-sm-12
                      .form-group
                        =f.label :email, t('views.users.form.email'), class: 'control-label'
                        =f.email_field :email, class: 'form-control', required: true, id: 'email'
                    .col-sm-12
                      .form-group
                        =f.label :password, t('views.users.form.password'), class: 'control-label'
                        =f.password_field :password, required: true, class: 'form-control', id: 'password'
                    .col-sm-12.l-margin-top
                      =f.submit t('views.general.create_account'), class: 'btn btn-red btn-wide btn-lg-text signUp'