.hero-sign-up
  =render partial: 'layouts/transparent_navbar'

  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %p.h5.h-white.text-center
              Full access &middot; Cancel any time
            %h1.h1.h-white.h-separator.h-separator-center.text-center
              Upgrade your membership

#upgrade-subscription
  =form_for @user, url: user_upgrade_from_free_trial_url(@user.id), html: {role: 'form'} do |f|
    =f.hidden_field :country_id, value: @country.id
    =render partial: 'layouts/error_messages', locals: {thing: @user, message: t('views.users.upgrade_subscription.error_panel_caption')}
    .l-wrap
      .l-section
        .container-fluid
          .row
            .col-sm-12
              %h2.h3.text-center
                %span.number
                  1
                Choose a plan
          .row
            .plans
              -@subscription_plans.each do |plan|
                .col-sm-4
                  .plan{class: plan_interval(plan.payment_frequency_in_months)}
                    .currency{class: plan.currency.iso_code, id: "sub-#{plan.currency.iso_code}-#{plan.payment_frequency_in_months}", data: {plan_id: plan.id}}
                      -if plan.payment_frequency_in_months == 3
                        .plan-popular
                          %h3.h4.plan-title{class: 'color: #1c2324;'}
                            Most Popular
                      .plan-header
                        %h3.h4.plan-title
                          =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                      .plan-inner
                        %h4.h3.plan-price
                          =plan.currency.format_number(plan.price)
                        %br/
                        %p.plan-text
                          =plan.unlimited_access
                        %p.plan-text
                          &middot;
                        %p.plan-text
                          =plan.cancel_anytime
                      %label.plan-option
                        %input{id: 'chk-plan-' + plan.id.to_s, type: 'radio', class: 'option'}
                        Choose this plan

              =f.fields_for :subscriptions do |sub|
                =sub.hidden_field :subscription_plan_id
                =sub.hidden_field :stripe_token

    .l-section.is-bg-asphalt
      .l-wrap
        .container-fluid
          .row
            .col-sm-12.col-md-6.col-md-offset-3
              %h2.h3.text-center
                %span.number
                  2
                Payment details
          =render partial: 'subscription_payment_cards/form', locals: {f: f}

:javascript

  var countries = #{@countries.map {|c| [c.id, c.currency.iso_code]} };

  function choosePlan(theThing) {
    $('.option[type="radio"]:checked').prop('checked', false);
    $(theThing).find('.option[type="radio"]').prop('checked', true);
    $('#user_subscriptions_attributes_0_subscription_plan_id')
      .val($(theThing).parent().attr('data-plan-id'));
  }

  function showPlans() {
    var country_id = $('#user_country_id').val();
    var currency = 'EUR';
    $('.currency').addClass('hide');
    for (var i = 0; i < countries.length; i++) {
      if (countries[i][0] == country_id) {
        currency = countries[i][1];
      }
    }
    choosePlan($('.' + currency).removeClass('hide').find('.plan-option')[0]);
  }

  $(document).on('ready', function() {
    showPlans();
    $('.option').bind('click', function(event) {
      event.stopPropagation();
      choosePlan(this.parentElement);
    });

    $(".plan-option").bind('click', function(event) {
      event.preventDefault();
      choosePlan(this);
    });
  })
