.margin-top.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom#thank-you-message
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Thanks for upgrading your subscription!
        .col-md-8.col-md-offset-2.l-margin-bottom-6x
          .col-md-8.col-md-offset-2.l-margin-top.text-center
            =image_tag('https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/sendmailimage.png', class: 'l-margin-bottom-big')
            %p{style: 'letter-spacing: 0.5px;'}
              ="An email containing your first invoice will be sent to #{current_user.email}"
          .col-md-10.col-md-offset-1.l-margin-top.text-center
            %p.h3.h-separator.h-separator-center{style: 'text-align: center;  letter-spacing: 0.5px;'}
              ="You are now subscribed to our #{t("views.general.payment_frequency_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")} plan. Visit the"
              =link_to 'account page', account_url(anchor: 'subscriptions')
              ="to view your subscription details."
            %p.h3.l-margin-top-big{style: 'text-align: center;  letter-spacing: 0.5px;'}
              =link_to 'Or return to our courses.', library_url
