.l-section.is-bg-asphalt{style: 'padding-bottom: 0px;'}
  .l-wrap
    .container-fluid
      .profile-single
        .row
          .pull-left
            = image_tag @tutor.profile_image.url, class: 'profile-pic profile-pic-big'
          .pull-left{style: 'margin-left: 40px;'}
            %h1.h1.h-separator.h-separator-left.text-left.l-margin-bottom-big
              =@tutor.full_name
            -if @tutor.qualifications
              %h4
                =@tutor.qualifications

        .row.l-margin-top
          .col-sm-10.col-md-offset-1
            .profile-text
              %p
                =@tutor.try(:first_description).html_safe
              %p
                =@tutor.try(:second_description).html_safe
              -#if @tutor.personal_url
                %p
                  %a{href: "#{@tutor.personal_url}", target: "_blank"} See #{@tutor.first_name.pluralize} other work
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-12.text-center
          -if @courses.present?
            %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
              ="Courses by #{@tutor.first_name}"
            .course-list-wrap
              .row
                -@courses.each do |course|
                  .col-sm-6.col-md-4
                    =link_to library_course_url(course.name_url), class: 'box box-course' do
                      .box-inner
                        %h3.h4.box-title
                          =course.try(:name)
                        %p.box-desc
                          -if course.short_description
                            =course.try(:short_description).to_s.truncate(30)
                          -else
                            =course.parent.try(:name)
                      .box-label
                        =t('views.general.browse')


=render partial: 'layouts/new_footer'