.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom#thank-you-message
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Thanks for reactivating your membership!
        .col-md-10.col-md-offset-1.l-margin-bottom-6x
          .corporate-box-item
            .container-fluid
              .row
                .col-sm-6.col-sm-offset-3
                  .text-center
                    %h4.h3.l-margin-bottom
                      Your account is now active
                    %p.p
                      ="You have been resubscribed to the #{t("views.general.payment_frequency_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")} plan. Please visit your"
                      =link_to 'account page', account_url(anchor: 'subscriptions')
                      ="to view your subscription details."


      .text-center.l-margin-top-huge.l-margin-bottom-huge
        %h2
          Resume your learning
      .container-fluid.l-margin-bottom-huge
        .course-list-wrap
          .row
            -if @subject_course_user_logs.any?
              -@subject_course_user_logs.each do |log|
                -if log.subject_course
                  .col-sm-6.col-md-4
                    =link_to library_special_link(log.subject_course), class: 'box box-course' do
                      .box-inner
                        .l-margin-top-xl
                          %h2{style: 'margin-bottom: 5px;'}
                            =log.subject_course.try(:name)
                          %p.p
                            -if log.subject_course.short_description
                              =log.subject_course.try(:short_description).to_s.truncate(30)
                            -else
                              =log.subject_course.description.to_s.truncate(30)
                      .box-label
                        =t('views.general.continue')

            -else
              -@groups.each do |group|
                -if group.active_children.any?
                  .col-sm-6.col-md-4.l-margin-bottom-big.l-margin-top
                    =link_to library_special_link(group), class: 'box box-course' do
                      .image{style: "background: url(#{group.image.url}) repeat-x 50% 0; background-size: contain;"}
                      .box-inner
                        .l-margin-top-xl
                          %h2{style: 'margin-bottom: 5px;'}
                            =group.name
                          %p.p
                            =group.description

                      .box-label
                        %h6.h-white{style: 'margin-top: 0px; margin-bottom: 0px;'}
                          Browse Courses
