.row
  .col-sm-12
    .page-header
      %h1
        =t('views.users.show.h1')
        \#
        =@user.id
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %td.col-sm-4 Email
        %td.col-sm-8=@user.email
      %tr
        %td.col-sm-4 First name
        %td.col-sm-8=@user.first_name
      %tr
        %td.col-sm-4 Last name
        %td.col-sm-8=@user.last_name
      %tr
        %td.col-sm-4 Crypted password
        %td.col-sm-8=@user.crypted_password
      %tr
        %td.col-sm-4 Password salt
        %td.col-sm-8=@user.password_salt
      %tr
        %td.col-sm-4 Persistence token
        %td.col-sm-8=@user.persistence_token
      %tr
        %td.col-sm-4 Perishable token
        %td.col-sm-8=@user.perishable_token
      %tr
        %td.col-sm-4 Single access token
        %td.col-sm-8=@user.single_access_token
      %tr
        %td.col-sm-4 Login count
        %td.col-sm-8=@user.login_count
      %tr
        %td.col-sm-4 Failed login count
        %td.col-sm-8=@user.failed_login_count
      %tr
        %td.col-sm-4 Last request at
        %td.col-sm-8=@user.last_request_at.to_s(:standard)
      %tr
        %td.col-sm-4 Current login at
        %td.col-sm-8=@user.current_login_at.to_s(:standard)
      %tr
        %td.col-sm-4 Last login at
        %td.col-sm-8=@user.last_login_at.to_s(:standard)
      %tr
        %td.col-sm-4 Current login ip
        %td.col-sm-8=@user.current_login_ip
      %tr
        %td.col-sm-4 Last login ip
        %td.col-sm-8=@user.last_login_ip
      %tr
        %td.col-sm-4 Active
        %td.col-sm-8=tick_or_cross(@user.active)
      %tr
        %td.col-sm-4 User group
        %td.col-sm-8=@user.user_group.name
      %tr
        %td.col-sm-4 Password reset requested at
        %td.col-sm-8=@user.password_reset_requested_at.to_s(:standard)
      %tr
        %td.col-sm-4 Password reset token
        %td.col-sm-8=@user.password_reset_token
      %tr
        %td.col-sm-4 Password reset at
        %td.col-sm-8=@user.password_reset_at.to_s(:standard)
      %tr
        %td.col-sm-4 Stripe customer
        %td.col-sm-8=@user.stripe_customer.name
      %tr
        %td.col-sm-4 Corporate customer
        %td.col-sm-8=@user.corporate_customer.name
      %tr
        %td.col-sm-4 Corporate customer user group
        %td.col-sm-8=@user.corporate_customer_user_group.name
      %tr
        %td.col-sm-4 Operational email frequency
        %td.col-sm-8=@user.operational_email_frequency
      %tr
        %td.col-sm-4 Study plan notifications email frequency
        %td.col-sm-8=@user.study_plan_notifications_email_frequency
      %tr
        %td.col-sm-4 Falling behind email alert frequency
        %td.col-sm-8=@user.falling_behind_email_alert_frequency
      %tr
        %td.col-sm-4 Marketing email frequency
        %td.col-sm-8=@user.marketing_email_frequency
      %tr
        %td.col-sm-4 Marketing email permission given at
        %td.col-sm-8=@user.marketing_email_permission_given_at.to_s(:standard)
      %tr
        %td.col-sm-4 Blog notification email frequency
        %td.col-sm-8=@user.blog_notification_email_frequency
      %tr
        %td.col-sm-4 Forum notification email frequency
        %td.col-sm-8=@user.forum_notification_email_frequency
    %p
      =link_to t('views.general.back'), users_url
      |
      =link_to t('views.general.edit'), edit_user_url(id: @user.id), title: t('views.general.edit_tooltip')
