.row
  .col-sm-12
    .page-header
      %h1
        =t('views.users.show.h1')
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.users.form.email')
        %td.col-sm-8=@user.email
      %tr
        %td.col-sm-4=t('views.users.form.full_name')
        %td.col-sm-8=@user.full_name
      -if @user.address.to_s.length > 1
        %tr
          %td.col-sm-4=t('views.users.form.address')
          %td.col-sm-8=@user.address
      %tr
        %td.col-sm-4=t('views.users.form.country_id')
        %td.col-sm-8=@user.country.try(:name)
      -if current_user.admin?
        %tr
          %td.col-sm-4=t('views.users.form.guid')
          %td.col-sm-8=@user.guid
        %tr
          %td.col-sm-4=t('views.users.form.login_count')
          %td.col-sm-8=@user.login_count
        %tr
          %td.col-sm-4=t('views.users.form.failed_login_count')
          %td.col-sm-8=@user.failed_login_count
        %tr
          %td.col-sm-4=t('views.users.form.last_request_at')
          %td.col-sm-8
            -if @user.last_request_at
              =@user.last_request_at.to_s(:standard)
        %tr
          %td.col-sm-4=t('views.users.form.current_login_at')
          %td.col-sm-8
            -if @user.current_login_at
              =@user.current_login_at.to_s(:standard)
        %tr
          %td.col-sm-4=t('views.users.form.last_login_at')
          %td.col-sm-8
            -if @user.last_login_at
              =@user.last_login_at.to_s(:standard)
        %tr
          %td.col-sm-4=t('views.users.form.current_login_ip')
          %td.col-sm-8=@user.current_login_ip
        %tr
          %td.col-sm-4=t('views.users.form.last_login_ip')
          %td.col-sm-8=@user.last_login_ip
        %tr
          %td.col-sm-4=t('views.users.form.active')
          %td.col-sm-8=tick_or_cross(@user.active)
        %tr
          %td.col-sm-4=t('views.users.form.user_group_id')
          %td.col-sm-8=link_to @user.user_group.name, @user.user_group
        %tr
          %td.col-sm-4=t('views.users.form.password_reset_requested_at')
          %td.col-sm-8
            -if @user.password_reset_requested_at
              =@user.password_reset_requested_at.to_s(:standard)
        %tr
          %td.col-sm-4=t('views.users.form.password_reset_at')
          %td.col-sm-8
            -if @user.password_reset_at
              =@user.password_reset_at.to_s(:standard)
        %tr
          %td.col-sm-4=t('views.users.form.stripe_customer_id')
          %td.col-sm-8=@user.stripe_customer_id

      -if @user.corporate_customer_id
        %tr
          %td.col-sm-4=t('views.users.form.corporate_customer_id')
          %td.col-sm-8=# todo @user.corporate_customer.try(:name)
      -if @user.corporate_customer_user_group_id
        %tr
          %td.col-sm-4=t('views.users.form.corporate_customer_user_group_id')
          %td.col-sm-8=# todo @user.corporate_customer_user_group.try(:name)
      %tr
        %td.col-sm-4=t('views.users.form.operational_email_frequency')
        %td.col-sm-8=@user.operational_email_frequency
      %tr
        %td.col-sm-4=t('views.users.form.study_plan_notifications_email_frequency')
        %td.col-sm-8=@user.study_plan_notifications_email_frequency
      %tr
        %td.col-sm-4=t('views.users.form.falling_behind_email_alert_frequency')
        %td.col-sm-8=@user.falling_behind_email_alert_frequency
      %tr
        %td.col-sm-4=t('views.users.form.marketing_email_frequency')
        %td.col-sm-8=@user.marketing_email_frequency
      %tr
        %td.col-sm-4=t('views.users.form.marketing_email_permission_given_at')
        %td.col-sm-8
          -if @user.marketing_email_permission_given_at
            =@user.marketing_email_permission_given_at.to_s(:standard)
      %tr
        %td.col-sm-4=t('views.users.form.blog_notification_email_frequency')
        %td.col-sm-8=@user.blog_notification_email_frequency
      %tr
        %td.col-sm-4=t('views.users.form.forum_notification_email_frequency')
        %td.col-sm-8=@user.forum_notification_email_frequency

    %p
      =link_to sanitize('&larr; ' + t('views.users.index.h1')), users_url
      |
      =link_to(I18n.t('views.general.edit'), edit_user_url(@user), title: t('views.general.edit_tooltip'))
      -if @user.id == current_user.id
        |
        =link_to(t('views.users.show.change_your_password.link'), '#', data: {toggle: 'modal', target: '#change_password_modal'})

-if @user.id == current_user.id
  =render partial: 'users/change_password'
