.container
  %header.management-console-section
    %h1
      =@user.full_name
    %p.p-hero.px-lg-8
      =@user.email

  %section.pb-4
    =render partial: 'user_tabs'
    .row.pt-4
      .col-sm-12
        .box-item{style: 'margin-bottom: 10px;'}
          .row
            .col-sm-9
              .row
                .col-sm-4
                  .stats-box
                    .stats-box-inner
                      .p
                        =humanize_datetime(@user.created_at)
                      .h3
                        Account Created
                .col-sm-4
                  .stats-box
                    .stats-box-inner
                      .p
                        =@user_sessions_count
                      .h3
                        Sessions
                .col-sm-4
                  .stats-box
                    .stats-box-inner
                      .p
                        -if @user.current_login_at
                          =humanize_datetime(@user.current_login_at)
                        -else
                          ='-'
                      .h3
                        Last Active

                .col-sm-4
                  .stats-box
                    .stats-box-inner
                      .p
                        =@user.user_group.name
                      .h3
                        User Group


                .col-sm-4
                  .stats-box
                    .stats-box-inner
                      .p
                        -if @user.course_step_logs.any?
                          =humanize_datetime(@user.course_step_logs.last.created_at)
                        -else
                          ='Never'
                      .h3
                        Last Studied





            .col-sm-3.pt-3
              =link_to 'Edit User', edit_user_url(@user), class: 'btn btn-primary full-width', style: 'margin-bottom: 10px;'
              -if !@user.email_verified && @user.email_verification_code
                =link_to 'Resend Verification Email', resend_verification_mail_url(@user.email_verification_code), method: :post, class: 'btn btn-secondary full-width', style: 'margin-bottom: 10px;'
              -if @user.destroyable?
                =link_to 'Delete User', user_url(@user), method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-primary full-width', style: 'margin-bottom: 10px;'
              -if @user.email_verified && @user.password_reset_requested_at && @user.password_reset_token
                =link_to 'Resend PW Reset Email', manager_resend_url(@user), method: :post, class: 'btn btn-secondary-reverse full-width'

    .row
      .col-sm-12
        .box-item
          .row
            .col-sm-9
              .h3='Subscription Access'
              .row
                -ExamBody.all_active.all_in_order.each do |body|
                  .col-sm-4
                    .stats-box
                      .stats-box-inner
                        .h3
                          =body.name
                        .p
                          -if @user.active_subscription_for_exam_body?(body.id)
                            =@user.active_subscriptions_for_exam_body(body.id).last.state
                          -elsif @user.lifetime_subscriber?(body.group.id)
                            ='LifeTime'
                          -elsif @user.program_access?(body.group.id)
                            ='Professional Diploma'
                          -else
                            ='Basic'
