.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =@user.full_name
      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'user_tabs'

      .row.l-margin-top.l-margin-bottom
        .col-sm-12
          .box-item
            .col-md-9.col-sm-12.col-xs-12
              .col-md-4.col-sm-6.col-xs-12
                .stats-box
                  .stats-box-inner
                    .h3
                      =@user_sessions_count
                    .h6
                      Sessions

              .col-md-4.col-sm-6.col-xs-12
                .stats-box
                  .stats-box-inner
                    .h3
                      =@enrollments.count
                    .h6
                      Enrollments

              .col-md-4.col-sm-6.col-xs-12
                .stats-box
                  .stats-box-inner
                    .h3
                      -if @user.student_access && @user.student_access.trial_started_date
                        =humanize_datetime(@user.student_access.trial_started_date)
                    .h6
                      Signed Up

              .col-md-4.col-sm-6.col-xs-12
                .stats-box
                  .stats-box-inner
                    .h3
                      -if @user.last_login_at
                        =humanize_datetime(@user.last_login_at)
                      -else
                        ='-'
                    .h6
                      Last Active


              .col-md-4.col-sm-6.col-xs-12
                .stats-box
                  .stats-box-inner
                    .h3
                      =@user.id
                    .h6
                      User ID

              .col-md-4.col-sm-6.col-xs-12
                .stats-box
                  .stats-box-inner
                    .h3
                      -if @user.enrollments.any?
                        =@user.enrollments.first.student_number
                      -else
                        ='-'
                    .h6
                      Student Number



            .col-md-3.col-sm-12.col-xs-12
              .col-sm-12.l-margin-top-small
                -if !@user.email_verified && @user.email_verification_code
                  =link_to 'Resend Verification Email', admin_resend_verification_mail_url(@user.email_verification_code), class: 'btn btn-purple full-width'
                -if @user.visits.any?
                  =link_to 'User Visits', user_visits_url(@user), class: 'btn btn-purple full-width'
                -if @user.destroyable?
                  =link_to 'Delete User', user_url(@user), method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red full-width'



      -if @user.trial_user?
        .row.l-margin-top.l-margin-bottom
          .col-sm-12
            .box-item
              .col-sm-12
                .col-md-4
                  .h3
                    =t('views.users.user_subscription_status.trial_info.trial_started_date')
                  .h6
                    -if @user.student_access.trial_started_date
                      =humanize_datetime(@user.student_access.trial_started_date)
                    -else
                      ='-----'
                .col-md-4
                  .h3
                    =t('views.users.user_subscription_status.trial_info.content_access')
                  .h6
                    =@user.student_access.content_access

                .col-md-4.text-center
                  -if @user.student_user? && @user.trial_or_sub_user?
                    =link_to 'Edit Details', edit_student_user_management_url(@user), class: 'btn btn-red'
                  -else
                    =link_to 'Edit Details', edit_user_url(@user), class: 'btn btn-red'


              .col-sm-12.l-margin-top-big
                .col-md-4
                  .h3
                    =t('views.users.user_subscription_status.trial_info.trial_days_limit')
                  .h6
                    =@user.student_access.trial_days_limit

                .col-md-4
                  -if @user.student_access.trial_ended_date
                    .h3
                      =t('views.users.user_subscription_status.trial_info.trial_ended_date')
                    .h6
                      -if @user.student_access && @user.student_access.trial_ended_date
                        =humanize_datetime(@user.student_access.trial_ended_date)
                  -elsif !@user.student_access.trial_ended_date && @user.student_access.trial_ending_at_date
                    .h3
                      =t('views.users.user_subscription_status.trial_info.trial_ending_at_date')
                    .h6
                      -if @user.student_access && @user.student_access.trial_ending_at_date
                        =humanize_datetime(@user.student_access.trial_ending_at_date)


              .col-sm-12.l-margin-top-big
                .col-md-4
                  .h3
                    =t('views.users.user_subscription_status.trial_info.trial_seconds_limit')
                  .h6
                    =@user.student_access.trial_seconds_limit

                .col-md-4
                  .h3
                    =t('views.users.user_subscription_status.trial_info.content_seconds_consumed')
                  .h6
                    =@user.student_access.content_seconds_consumed

                .col-md-4



      -elsif @user.subscriptions.any?
        .row.l-margin-top.l-margin-bottom
          .col-md-12
            .box-item
              .col-sm-12.l-margin-top
                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.subscription_status')
                  .h6
                    -if @subscription.current_status
                      =@subscription.current_status.camelcase

                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.subscription_created')
                  .h6
                    -if @subscription.created_at
                      =humanize_datetime(@subscription.created_at)


                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.subscription_plan')
                  .h6
                    -if @subscription.subscription_plan
                      =@subscription.subscription_plan.name



                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.billing_interval')
                  .h6
                    =t("views.general.payment_frequency_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")

                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.last_billing_date')
                  .h6
                    -if @invoices.any? && @subscription.invoices.any? && @subscription.invoices.last && @subscription.invoices.last.created_at
                      =humanize_datetime(@subscription.invoices.last.created_at)
                    -else
                      ='------'

                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.next_billing_date')
                  .h6
                    =@subscription.next_renewal_date


                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.stripe_sub_guid')
                  .h6
                    =@subscription.stripe_guid

                .col-sm-4.col-xs-6.l-margin-top
                  .h3
                    =t('views.users.user_subscription_status.subscription_info.stripe_sub_status')
                  .h6
                    -if @subscription.current_status
                      =@subscription.current_status.to_s.capitalize


                .col-sm-4.col-xs-6.l-margin-top
                  -if @default_card
                    .h3
                      =t('views.users.user_subscription_status.subscription_info.valid_payment_card')
                    .h6
                      =@default_card.status ? 'True' : 'False'
                .col-sm-6
                  -if @subscription.canceled_pending_status?
                    .h3
                      =t('views.users.user_subscription_status.subscription_info.subscription_ending')
                    .h6

                      -if @subscription.next_renewal_date
                        =@subscription.next_renewal_date.to_s
                  -elsif @subscription.canceled_status?
                    .h3
                      =t('views.users.user_subscription_status.subscription_info.subscription_ended')
                    .h6
                      -if @subscription.next_renewal_date
                        =@subscription.next_renewal_date.to_s


