.container
  %header.management-console-section
    %h1
      =@user.full_name
    %p.p-hero.px-lg-8
      =@user.email

  %section.pb-7
    =render partial: 'user_tabs'
    .row
      .col-sm-12
        .box-item.table-box#admin-user-subscription
          %h3.h-dark
            Subscriptions
          .table-responsive
            %table.table
              %thead
                %tr
                  %th
                    Sub ID
                  %th
                    Sub Plan
                  %th
                    Created At
                  %th
                    Status
                  %th
                    Provider
                  %th
                    Revenue
                  %th

              %tbody
                -@subscriptions.each do |subscription|
                  %tr
                    %td
                      =subscription.id
                    %td
                      =subscription.subscription_plan.name
                    %td
                      =humanize_datetime(subscription.created_at)
                    %td
                      =subscription.state.camelcase
                    %td
                      =subscription.stripe? ? 'Stripe' : 'PayPal'
                    %td
                      =number_in_local_currency(subscription.total_revenue, subscription.subscription_plan.currency)
                    %td
                      =link_to subscription_management_url(subscription) do
                        .btn.btn-secondary.btn-xs
                          View

    .row
      .col-md-12
        .box-item.table-box
          .col-sm-12
            %h2
              Subscription Payment Cards
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th
                      Ending In
                    %th
                      Expiration
                    %th
                      Stripe ID
                    %th
                      Status
                    %th
                      Default

                %tbody
                  -@subscription_payment_cards.each do |card|
                    %tr
                      %td
                        =card.last_4
                      %td
                        =card.expiry_month
                        &#45;
                        =card.expiry_year
                      %td
                        =card.stripe_card_guid
                      %td
                        =card.status

                      %td
                        =tick_or_cross(card.is_default_card?)

    .row
      .col-md-12
        .box-item.table-box#invoices-panel
          .col-sm-12
            %h2
              =t('views.users.user_subscription_status.subscription_info.invoices')
            .table-responsive
              =render partial: 'subscription_management/invoices'
