.container
  %header.management-console-section
    %h1
      =@user.full_name
    %p.p-hero.px-lg-8
      =@user.email

  %section.pb-7
    =render partial: 'user_tabs'

    .row
      .col-md-12
        .box-item.table-box
          %h3.h-dark
            Mock Exams
          %table.table
            %thead
              %tr
                %th
                  =t('views.mock_exams.form.name')
                %th
                  =t('views.invoices.form.date')
                %th
                  =t('views.invoices.form.status')
                %th
                  =t('views.invoices.form.line_total_inc_vat')
                %th
            %tbody
              -@orders.each do |order|
                %tr
                  %td
                    -if order.product && order.product.mock_exam
                      =order.product.mock_exam.name.to_s.truncate(20)
                  %td
                    =humanize_datetime(order.created_at)
                  %td
                    =order.stripe_status.to_s.capitalize
                  %td
                    =number_in_local_currency(order.product.price, order.product.currency_id)
                  %td
                    =link_to order.product.mock_exam.file.url, target: '_blank' do
                      .btn.btn-secondary.btn-xs
                        View
