.container
  %header.management-console-section
    %h1
      =@user.full_name
    %p.p-hero.px-lg-8
      =@user.email

  %section.pb-7
    =render partial: 'user_tabs'
    .row
      .col-sm-12
        .box-item
          .row
            .col-sm-10
              .row
                .col-sm-6
                  .h3
                    Email
                  .h6
                    =@user.email

                .col-sm-6
                  .h3
                    ="D.O.B"
                  .h6
                    =@user.date_of_birth || '--------'

                .col-sm-6
                  .h3
                    First Name
                  .h6
                    =@user.first_name

                .col-sm-6
                  .h3
                    Last Name
                  .h6
                    =@user.last_name

                .col-sm-6
                  .h3
                    Preferred Exam Body
                  .h6
                    =@user&.preferred_exam_body&.name

                .col-sm-6
                  .h3
                    Video Player
                  .h6
                    =@user.video_player.camelcase

            .col-sm-2
              =link_to 'Edit Details', edit_user_url(@user), class: 'btn btn-primary'


        .box-item

          .row
            .col-sm-6
              .h3
                Country
              .h6
                -if @user.country
                  =@user.country.name
                -else
                  ='-------'

            .col-sm-6
              .h3
                Currency
              .h6
                =@user&.currency&.name

            .col-sm-6
              .h3
                User Group
              .h6
                =@user.user_group.name

            .col-sm-6
              .h3
                Stripe Customer ID
              .h6
                =@user.stripe_customer_id

            .col-sm-6
              .h3
                Account Created
              .h6
                =humanize_datetime(@user.created_at)

            .col-sm-6
              .h3
                Account Verified
              .h6
                -if @user.email_verified
                  =humanize_datetime(@user.email_verified_at)


