.container
  %header.management-console-section
    %h1
      =@user.full_name
    %p.p-hero.px-lg-8
      =@user.email

  %section.pb-7
    =render partial: 'user_tabs'

    .row
      .col-sm-12
        .box-item.table-box
          =link_to "#{@user.first_name}'s Exercises", admin_user_exercises_path(@user), class: 'btn btn-primary'

    .row
      .col-sm-12
        .box-item.table-box
          %h3.h-dark
            Product Orders
          %table.table
            %thead
              %tr
                %th
                  =t('views.mock_exams.form.name')
                %th
                  =t('views.invoices.form.date')
                %th
                  Payment
                %th
                  =t('views.invoices.form.line_total_inc_vat')
                %th
                  Active
                %th
            %tbody
              -@orders.each do |order|
                %tr
                  %td
                    =order.product.name_by_type
                  %td
                    =humanize_datetime(order.created_at)
                  %td
                    =order.stripe? ? 'Stripe' : 'PayPal'
                  %td
                    =number_in_local_currency(order.product.price, order.product.currency)
                  %td
                    - if order.state == 'cancelled'
                      =tick_or_cross(false)
                    - else
                      =tick_or_cross(true)
                  %td
                    .pull-right
                    -if order.product && order.product.mock_exam
                      =link_to order.product.mock_exam.file.url, target: '_blank' do
                        .btn.btn-primary.btn-xs
                          PDF
                    =link_to order_management_url(order.id), style: 'padding-left: 5px;' do
                      .btn.btn-secondary.btn-xs
                        View

    .row
      .col-md-12
        .box-item.table-box#invoices-panel
          .col-sm-12
            %h2
              =t('views.users.user_subscription_status.subscription_info.invoices')
            .table-responsive
              =render partial: 'subscription_management/invoices'
