.course-info {
  .tutor-header {
    color: #424366;
    font-weight: 500;
    font-size: 1.1875rem;
    line-height: 1.2rem;
    margin-top: 0;
  }

  .profile-item {

  }

  .profile-item:hover .profile-name {
    color: #05a4af;
    text-decoration: none!important;
  }

  .img-thumbnail-wrap {
    padding: 0;
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden
  }

  .profile-name {
    font-weight: 500;
    color: #424366;
    text-decoration: none;
  }
  .profile-title {
    font-weight: 500;
    color: #7f8599;
    font-size: 0.75rem;
    line-height: 14px;
    text-transform: uppercase;
  }

}

#course-graph-section {
  //.progress {
    //position: relative;
    //margin-top: 1rem;
    //margin-bottom: 1rem;
    //overflow: unset
  //}
  //.progress::after {
    //content: '';
    //position: absolute;
    //right: 0;
    //top: -3px;
    //display: block;
    //height: 8px;
    //width: 8px;
    //border-radius: 50%;
    //background-color: #e6eaf2
  //}
  //.progress::before {
    //content: '';
    //position: absolute;
    //left: 0;
    //top: -3px;
    //display: block;
    //height: 8px;
    //width: 8px;
    //border-radius: 50%;
    //background-color: #e6eaf2
  //}
  //.progress-bar {
    //height: 8px;
    //margin-top: -webkit-calc((2px - 8px)/ 2);
    //margin-top: calc((2px - 8px)/ 2);
    //border-radius: 30px;
    //z-index: 99
  //}
}

.courses-nav {

  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }
  .nav-link {
    display: block;
    padding: .25rem .25rem
  }
  .nav-link:focus,
  .nav-link:hover {
    text-decoration: none;
    background: #fff;
  }
  .nav-link.disabled {
    color: #6c757d
  }
  .nav-tabs {
    border-bottom: 3px solid transparent
  }
  .nav-tabs .nav-item {
    margin-bottom: -3px
  }
  .nav-tabs .nav-link {
    border: 3px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }
  .nav-tabs .nav-link:focus,
  .nav-tabs .nav-link:hover {
    border-color: #424366
  }
  .nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #424366;
    background-color: transparent;
    border-color: #424366
  }

  .nav-link {
    font-size: .9375rem;
    color: #e6eaf2
  }
  .nav-link:focus,
  .nav-link:hover {
    color: #fff
  }
  .nav-tabs {
    display: block;
    border-bottom: 0 none
  }
  .nav-tabs .nav-item {
    display: block;
    margin-bottom: 0;
    margin-right: .25rem
  }
  @media (min-width: 576px) {
    .nav-tabs .nav-item {
      display: inline-block
    }
  }
  .nav-tabs .nav-item:last-child {
    margin-right: 0
  }
  .nav-tabs .nav-link {
    padding: .3rem .7rem;
    font-size: .9rem;
    font-weight: 500;
    color: #7f8599;
    border: 0 none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #e6eaf2;
    -webkit-transition: all .15s ease-in 0s;
    -o-transition: all .15s ease-in 0s;
    transition: all .15s ease-in 0s
  }

  @media (min-width: 576px) {
    .nav-tabs .nav-link {
      border-color: transparent;
      border-bottom-width: 3px;
      padding: .4rem .9rem;
      font-size: 1rem
    }
  }
  .nav-tabs .nav-link.locked {
    position: relative;
    padding-left: 2.5rem;
    pointer-events: none
  }
  .nav-tabs .nav-link.locked::before {
    position: absolute;
    left: .6rem;
    top: -1px;
    content: '\e899';
    font-family: 'Material Icons';
    font-size: 20px;
    color: #b4bbd4
  }
  @media (min-width: 576px) {
    .nav-tabs .nav-link.locked::before {
      font-size: 24px
    }
  }
  .nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
  }
  .nav-tabs .nav-link:hover {
    color: #424366
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #424366;
    cursor: pointer;
  }
}


#tab-area {

  .tab-content {
    padding-bottom: 1rem
  }
  .tab-content > .tab-pane {
    display: none
  }
  .tab-content > .active {
    display: block
  }

  .card {
    padding: 1rem;
    border: 0 none;
    -webkit-box-shadow: 0 0 19px #d5dbe5;
    box-shadow: 0 0 19px #d5dbe5;
    -webkit-transition: all .15s ease-in 0s;
    -o-transition: all .15s ease-in 0s;
    transition: all .15s ease-in 0s
  }
  @media (min-width:576px) {
    .card {
      padding: 1.75rem 1.9rem 2rem 1.9rem
    }
  }
  .card.card-link {
    padding: 1.75rem
  }
  @media (min-width:576px) {
    .card.card-link {
      padding: 2.25rem
    }
  }
  .card.card-link:hover {
    text-decoration: none
  }
  .card.card-link:hover .btn-link {
    color: #05a4af
  }
  .card.card-link:hover .btn-link::after {
    right: -.3rem
  }
  .card.card-link.card-link-alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    padding: 1rem 1.5rem;
    padding-right: 3rem;
    border: 1px solid transparent;
    -webkit-transition: all .15s ease-in 0s;
    -o-transition: all .15s ease-in 0s;
    transition: all .15s ease-in 0s
  }
  .card.card-link.card-link-alt:hover {
    border-color: #b4bbd4
  }
  .card.card-link.card-link-alt.locked .icon-custom-xl {
    color: #b4bbd4
  }
  .card.card-link.card-link-alt .card-link-alt-img {
    width: 40px;
    min-width: 40px
  }
  @media (min-width:576px) {
    .card.card-link.card-link-alt .card-link-alt-img {
      width: 66px;
      min-width: 66px
    }
  }
  .card.card-link + .card-link {
    margin-left: 0
  }
  .card.card-course {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    border: 1px solid transparent;
  }
  .card.card-course {
    .btn {
      padding: .7rem;
    }
  }
  .card.card-course:hover {
    border-color: #b4bbd4
  }
  .card.card-course:hover .btn-collapse::after {
    color: #424366
  }
  .card.card-course .card-course-inner {
    padding-left: -webkit-calc(36px + .75rem - 1.25rem + 10px);
    padding-left: calc(36px + .75rem - 1.25rem + 10px);
    padding-right: 1.25rem
  }

  .course-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #424366
  }
  @media (min-width: 576px) {
    .course-item {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap
    }
  }
  .course-item.course-item-static {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 1.5rem;
    color: #7f8599;
    border-top: 1px solid #e6eaf2
  }
  .course-item.completed .icon-custom {
    color: #05a4af;
    background-color: #def9fa
  }
  .course-item.failed .icon-custom {
    color: #f34664;
    background-color: #ffe5e8
  }
  .course-item .course-item-icon {
    width: -webkit-calc(36px + .5rem);
    width: calc(36px + .5rem);
    min-width: -webkit-calc(36px + .5rem);
    min-width: calc(36px + .5rem);
    margin-bottom: .5rem
  }
  @media (min-width: 576px) {
    .course-item .course-item-icon {
      width: auto;
      min-width: auto;
      margin-bottom: 0
    }
  }
  .course-item .course-item-icon .icon-custom {
    margin-right: .5rem
  }
  @media (min-width: 576px) {
    .course-item .course-item-icon .icon-custom {
      margin-right: 1rem
    }
  }
  @media (max-width: 575.98px) {
    .course-item .course-item-icon .icon-custom {
      width: 32px;
      min-width: 32px;
      max-width: 32px;
      height: 32px;
      min-height: 32px;
    }
  }
  .course-item .course-item-title {
    width: -webkit-calc(100% - (36px + .5rem));
    width: calc(100% - (36px + .5rem));
    min-width: -webkit-calc(100% - (36px + .5rem));
    min-width: calc(100% - (36px + .5rem));
    margin-bottom: .5rem;
    font-size: .9rem;
    text-align: left;
    -webkit-transition: all .15s linear 0s;
    -o-transition: all .15s linear 0s;
    transition: all .15s linear 0s
  }
  @media (min-width: 576px) {
    .course-item .course-item-title {
      width: auto;
      min-width: auto;
      margin-bottom: 0;
      padding-right: 3rem;
      font-size: 1rem
    }
  }
  .course-item .course-item-tag {
    margin-left: -webkit-calc(36px + .5rem);
    margin-left: calc(36px + .5rem)
  }
  @media (min-width: 576px) {
    .course-item .course-item-tag {
      margin-left: auto
    }
  }
  .course-item .course-item-tag .course-tag {
    white-space: nowrap;
    border-radius: 2px
  }
  .course-item-link {
    width: 100%
  }
  .course-item-link:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .course-item-link:hover .course-item-title {
    color: #424366;
    text-decoration: none;
  }
}
.tutor-contact {
  margin-left: 35px;
}
.link-purple-turquoise {
  color: #424366
}
.link-purple-turquoise:hover {
  text-decoration: none;
  color: #05a4af!important
}

.modal-dialog {
  margin-top: .75rem
}
@media (min-width:576px) {
  .modal-dialog {
    margin-top: 2rem
  }
}
@media (min-width:992px) {
  .modal-dialog {
    margin-top: 9rem
  }
}
.modal-content {
  position: relative;
  padding: 2rem 1rem;
  padding-top: 2.5rem;
  -webkit-box-shadow: 0 0 19px #434a6e;
  box-shadow: 0 0 19px #434a6e
}
@media (min-width:576px) {
  .modal-content {
    padding: 2rem
  }
}
.modal-close {
  position: absolute;
  top: .1rem;
  right: -.5rem
}
@media (min-width:576px) {
  .modal-close {
    top: .25rem
  }
}
.modal-close:hover {
  color: #7f8599
}
.modal-close:hover .material-icons {
  -webkit-transition: all .15s linear 0s;
  -o-transition: all .15s linear 0s;
  transition: all .15s linear 0s;
  color: #424366
}
.modal-header {
  border-bottom: 0;
}
.modal-footer {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-top: 0;
}

.preview-notice {
  border: 2px solid #05a4af;
  border-radius: 4px;
  h4 {
    padding: 10px;
    margin-bottom: 0;
  }
}