.course-section-tabs {
  padding: 12px 0 14px 0;

  a {
    color: #6E6D75;
    letter-spacing: .1rem;
    @include font-size(1.4);
    @include breakpoint(md-min) {
      @include font-size(1.8);
    }
    text-decoration: initial;
  }
  font-weight: bold;
}
.course-section-tabs .underline {
  background: lighten(#3D3D5B, 65%);
  border-bottom: 5px solid;
  box-sizing: content-box;
  color: #3D3D5B;
}

.course-section-tab {
  background: #fff;
  padding: 10px 40px;
  display: inherit;
  @include breakpoint(sm-min) {
    display: inline;

  }

}

.content-box {
  display: block;
  background: #EFF3F6;
  position: relative;

  a {
    text-decoration: none;
  }
}
.content-box-outer {
  min-height: 300px;
}
.content-box-inner {
  padding: 40px 10px;
}
.course-product-box {
  display: inline-block;
  background: #fff;
  color: #ef475d;
  font-weight: 500;
  margin: 12px 12px 12px 0;
  width: 100%;
  a {
    color: #fff;
    text-decoration: none;
  }
  @include border-radius(4px);
  @include transition(box-shadow .1s ease);
  &:hover, &:active {
    text-decoration: none;
    color: #fff;
    background: darken(#ef475d, 15%);
    cursor: pointer;
  }
}
.course-product-box-inner {
  padding: 10px 20px;

  .product-box-label {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    font-size: 16px;

  }

  .product-box-icon {
    display: inline-block;

    img {
      max-height: 50px;
    }
  }

}

.course-resource-box {
  display: inline-block;
  background: #fff;
  color: #ef475d;
  font-weight: 500;
  margin: 12px 12px 12px 0;
  width: 100%;
  a {
    color: #fff;
    text-decoration: none;
  }
  @include border-radius(4px);
  @include transition(box-shadow .1s ease);
  &:hover, &:active {
    text-decoration: none;
    color: #fff;
    background: darken(#ef475d, 15%);
    cursor: pointer;
  }

}
.course-resource-box-inner {
  padding: 10px 20px;


  .resource-box-label {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    font-size: 16px;

  }

  .resource-box-icon {
    display: inline-block;
    position: absolute;
    right: 30px;


    .glyphicon {

    }
  }

}
