.nav-header.header-dark
  -if @external_banner
    .notice.external-banner.text-center{style: "background-color: #{@external_banner.background_colour};"}
      =@external_banner.text_content.html_safe

  .l-wrap
    .container-fluid
      %nav.navbar.navbar-default

        %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        =link_to '#' do
          =image_tag('ls-logo-white.svg', class: 'logo')

        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to 'Blog', 'https://blog.learnsignal.com/', target: '_blank'
            %li
              =link_to 'Pricing', '#'
            %li
              =link_to 'Courses', '#'
            %li
              =link_to 'Sign In', '#', {class: 'sign-in-link'}
