.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =@external_banner.name



      .row.l-margin-top.l-margin-bottom
        .col-sm-8.col-sm-offset-2
          %h3
            ='Standard Navbar'
          =render partial: 'nav_preview'


      .row.l-margin-top-huge
        .col-sm-8.col-sm-offset-2
          %h3
            ='Transparent Navbar'

          -if @banner
            .notice.external-banner.text-center{style: "background-color: #{@banner.background_colour};"}
              =@banner.text_content.html_safe
          .hero-library
            .l-wrap-small
              =render partial: 'layouts/transparent_navbar'
              .l-section-footer-pages
                .container-fluid
                  .row
                    .col-md-6.col-md-offset-3
                      %h1.h1.h-white.h-separator.h-separator-center.text-center
                        Contact Us








      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          =link_to t('views.general.back'), external_banners_url, class: 'btn btn-red'
