.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.external_banners.show.h1')
            \#
            =@external_banner.id
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .table-box
            .table-responsive
              %table.table.table-bordered.l-margin-top
                %tr
                  %td.col-sm-4=t('views.external_banners.form.name')
                  %td.col-sm-8=@external_banner.name
                %tr
                  %td.col-sm-4=t('views.external_banners.form.sorting_order')
                  %td.col-sm-8=@external_banner.sorting_order
                %tr
                  %td.col-sm-4=t('views.external_banners.form.active')
                  %td.col-sm-8=tick_or_cross(@external_banner.active)
                %tr
                  %td.col-sm-4=t('views.external_banners.form.background_colour')
                  %td.col-sm-8=@external_banner.background_colour
                %tr
                  %td.col-sm-4=t('views.external_banners.form.text_content')
                  %td.col-sm-8=@external_banner.text_content
              %p
                =link_to t('views.general.back'), external_banners_url
                |
                =link_to t('views.general.edit'), edit_external_banner_url(id: @external_banner.id), title: t('views.general.edit_tooltip')
