.container
  %header.management-console-section
    %h1
      -if @course_step.is_video
        =t('views.course_steps.edit.video')
      -elsif @course_step.is_quiz
        =t('views.course_steps.edit.quiz')
      -else
        =t('views.course_steps.edit.h1')

  %section.pb-7
    =render partial: 'form'
