.container
  %header.management-console-section
    %h1
      -if @course_step.is_video
        =t('views.course_steps.new.video')
      -elsif @course_step.is_quiz
        =t('views.course_steps.new.quiz')
      -elsif @course_step.is_note
        =t('views.course_steps.new.note')
      -elsif @course_step.is_practice_question
        =t('views.course_steps.new.practice_question')
      -elsif @course_step.is_constructed_response
        =t('views.course_steps.new.constructed_response')
      -else
        =t('views.course_steps.new.h1')

  %section.pb-7
    =render partial: 'form'
