=form_for(@coupon, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-sm-12
      =render partial: '/layouts/error_messages', locals: {thing: @coupon, message: nil}
      .col-sm-6
        .l-margin-top
        =f.label :name, t('views.coupons.form.name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :name, placeholder: t('views.coupons.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
        %br/
        =f.label :code, t('views.coupons.form.code'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :code, placeholder: t('views.coupons.form.code_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
        %br/


      .col-sm-6
        %h4.text-center.underline{style: 'padding-bottom: 1px;'}
          ='Optional Expiration Limits'
        =f.label :max_redemptions, t('views.coupons.form.max_redemptions'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :max_redemptions, placeholder: t('views.coupons.form.max_redemptions_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :redeem_by, t('views.coupons.form.redeem_by'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :redeem_by, placeholder: t('views.exam_sittings.form.date_placeholder'), class: 'form-control', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, style: 'border-radius: 6px;', id: 'datetimepicker'

    .col-sm-12
      %hr/
      %h4.text-center.underline
        ='Either Amount or Percent Off'

      .col-sm-6

        =f.label :amount_off, t('views.coupons.form.amount_off'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :amount_off, placeholder: t('views.coupons.form.amount_off_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        #currency_select
          =f.label :currency_id, t('views.coupons.form.currency_id'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.collection_select :currency_id, @currencies, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
          %br/

      .col-sm-6

        =f.label :percent_off, t('views.coupons.form.percent_off'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :percent_off, placeholder: t('views.coupons.form.percent_off_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/


    .col-sm-12
      %hr/
      .col-sm-6
        =f.label :duration, t('views.coupons.form.duration'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.select :duration, Coupon::DURATIONS, {include_blank: t('views.general.select')}, {class: 'form-control'}
        %br/
      .col-sm-6
        #duration_in_months_date
          =f.label :duration_in_months, t('views.coupons.form.duration_in_months'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :duration_in_months, placeholder: t('views.coupons.form.duration_in_months_placeholder'), class: 'form-control', style: 'border-radius: 6px;'





      .row
        .col-sm-12.l-margin-top-big
          =f.submit t('views.general.save'), class: 'btn btn-red'
          =link_to t('views.general.cancel'), coupons_path, class: 'btn btn-cyan'


:javascript

  $(function () {
    $('#datetimepicker').datetimepicker();
      format: 'DD/MM/YYYY'
  });

  var amountOff = $('#coupon_amount_off');
  var couponDuration = $('select[name="coupon[duration]"]');

  $( document ).ready(function() {
    $("#currency_select").hide();
    $("#duration_in_months_date").hide();



    if (couponDuration.val() == 'repeating') {
      $("#duration_in_months_date").show();
    } else {
      $("#duration_in_months_date").hide();
      $("#coupon_duration_in_months").val('');
    }

    if(amountOff.val()){
      $("#currency_select").show();
    } else {
      $("#currency_select").hide();
      $("#coupon_currency_id").val('');
    }

  });

  // Hide and show the Currency dropdown depending on AmountOff field having a value

  $('#coupon_amount_off').on('input',function(e) {
    if(amountOff.val()){
      $("#currency_select").show();
    } else {
      $("#currency_select").hide();
      $("#coupon_currency_id").val('');
    }
  });


  $('select[name="coupon[duration]"]').change(function () {
    if (couponDuration.val() == 'repeating') {
      $("#duration_in_months_date").show();
    } else {
      $("#duration_in_months_date").hide();
      $("#coupon_duration_in_months").val('');
    }
  });
