.container
  %header.management-console-section
    %h1
      =t('views.coupons.index.h1')
  %section.pb-7
    =render partial: 'management_consoles/subscriptions_nav'
    .row
      .col-sm-12
        .box-item.table-box
          .row
            =link_to 'New Coupon', new_coupon_url, class: 'btn btn-primary btn-xs'

          .table-responsive.pt-4
            %table.table
              %thead
                %tr
                  %th=t('views.coupons.index.name')
                  %th=t('views.coupons.index.code')
                  %th=t('views.coupons.index.active')
                  %th=t('views.coupons.index.currency_id')
                  %th{ colspan: 3 }
              %tbody
                -@coupons.each do |coupon|
                  %tr
                    %td=coupon.name
                    %td=coupon.code
                    %td=tick_or_cross(coupon.active)
                    %td=coupon.currency_id ? coupon.currency.leading_symbol : ''
                    %td
                      =link_to t('views.general.view'), coupon_path(coupon), class: 'btn btn-primary btn-xs'
                      =link_to t('views.general.edit'), edit_coupon_path(coupon), class: 'btn btn-primary btn-xs'

            =will_paginate @coupons, renderer: BootstrapPagination::Rails
