.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.coupons.show.h1')
            \#
            =@coupon.id
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .table-box
            .table-responsive
              %table.table.table-bordered.l-margin-top
                %tr
                  %td.col-sm-4=t('views.coupons.form.name')
                  %td.col-sm-8=@coupon.name
                %tr
                  %td.col-sm-4=t('views.coupons.form.code')
                  %td.col-sm-8=@coupon.code
                %tr
                  %td.col-sm-4=t('views.coupons.form.currency_id')
                  %td.col-sm-8=@coupon.currency.name
                %tr
                  %td.col-sm-4=t('views.coupons.form.active')
                  %td.col-sm-8=tick_or_cross(@coupon.active)
                %tr
                  %td.col-sm-4=t('views.coupons.form.amount_off')
                  %td.col-sm-8=@coupon.amount_off
                %tr
                  %td.col-sm-4=t('views.coupons.form.duration')
                  %td.col-sm-8=@coupon.duration
                %tr
                  %td.col-sm-4=t('views.coupons.form.duration_in_months')
                  %td.col-sm-8=@coupon.duration_in_months
                %tr
                  %td.col-sm-4=t('views.coupons.form.max_redemptions')
                  %td.col-sm-8=@coupon.max_redemptions
                %tr
                  %td.col-sm-4=t('views.coupons.form.percent_off')
                  %td.col-sm-8=@coupon.percent_off
                %tr
                  %td.col-sm-4=t('views.coupons.form.redeem_by')
                  %td.col-sm-8=@coupon.redeem_by
                %tr
                  %td.col-sm-4=t('views.coupons.index.times_redeemed')
                  %td.col-sm-8=@coupon.times_redeemed
              %p
                =link_to t('views.general.back'), coupons_url
                |
                =link_to t('views.general.edit'), edit_coupon_url(id: @coupon.id), title: t('views.general.edit_tooltip')
