:javascript

  $(document).on('ready', function() {
    var stripped_url = document.location.toString().split("#");
    if (stripped_url.length > 1) {
      $("a[href='#" + stripped_url[1]+"']").first().tab('show');
    }
  })

  $('.signal-tabs a').on('click', function(){
    $(this).addClass('underline').siblings().removeClass('underline');
  });
