:javascript


  $('.signal-tabs a').on('click', function(){
    $(this).addClass('underline').siblings().removeClass('underline');
  });


  $(document).ready(function(){

    hash = window.location.hash;
    elements = $('a[href="' + hash + '"]');
    if (elements.length === 0) {
        $(".signal-tabs a:first").addClass("active").show();
        $(".signal-tabs a:first").click();
    } else {
        elements.click();
    }

  });