-# Call this file as follows
  =render partial: 'shared/breadcrumbs', locals: {the_thing: @institution, use_breadcrumb: true}

%div{class: use_breadcrumb ? 'row' : ''}
  %div{class: use_breadcrumb ? 'breadcrumb' : 'well well-sm'}
    %small.text-muted
      -#=t('views.shared.breadcrumbs.you_are_here')
      =link_to t('views.general.home'), library_url
      -breadcrumb_builder(the_thing).each do |crumb|
        &gt;
        =link_to crumb.name, library_special_link(crumb)

