-# Call this file with the following
  =render partial: 'shared/static_progress_bar', locals: {percent: 25, value_now: 10, value_max: 40}

.progress
  .progress-bar{role: 'progressbar', aria: {valuenow: value_now, valuemin: 0, valuemax: value_max}, style: "width: #{percent}%; min-width: 10%;"}
    %span.sr-only
      =percent
      \% Complete
    =value_now
    \/
    =value_max
