=render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}
=f.label :first_name, t('views.users.form.first_name')
%br/
.input-group.input-group-lg.full-width
  =f.text_field :first_name, placeholder: t('views.users.form.first_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
%br/
=f.label :last_name, t('views.users.form.last_name')
.input-group.input-group-lg.full-width
  =f.text_field :last_name, placeholder: t('views.users.form.last_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
%br/
=f.label :email, t('views.users.form.email')
.input-group.input-group-lg.full-width
  =f.text_field :email, placeholder: t('views.users.form.email_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
%br/
=f.label :address, t('views.users.form.address')
.input-group.input-group-lg.full-width
  =f.text_area :address, placeholder: t('views.users.form.address_placeholder'), class: 'form-control', style: 'border-radius: 6px;', rows: 4

