.schedule-margin-top.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.tutor_applications.index.h1')
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .no-image-box-item.table-box
            .table-responsive
              =will_paginate @tutor_applications, renderer: BootstrapPagination::Rails
              %table.table.table-bordered
                %thead
                  %tr
                    %th=t('views.tutor_applications.form.first_name')
                    %th=t('views.tutor_applications.form.last_name')
                    %th=t('views.tutor_applications.form.email')
                    %th=t('views.tutor_applications.form.info')
                    %th=t('views.tutor_applications.form.description')
                    %th

                %tbody
                  -@tutor_applications.each do |tutor_application|
                    %tr{id: tutor_application.id}
                      %td=tutor_application.first_name
                      %td=tutor_application.last_name
                      %td=tutor_application.email
                      %td=tutor_application.info
                      %td=tutor_application.description
                      %td
                        =link_to t('views.general.show'), tutor_application_url(tutor_application), class: 'btn btn-cyan btn-small'
                        =link_to t('views.general.edit'), edit_tutor_application_url(tutor_application), class: 'btn btn-cyan btn-small'
                        -if tutor_application.destroyable?
                          =link_to t('views.general.delete'), tutor_application, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'
