.container
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .row
    .col-sm-12
      .page-header
        %h1=t('views.tutor_applications.index.h1')
  .row
    .col-sm-12
      =will_paginate @tutor_applications, renderer: BootstrapPagination::Rails
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th=t('views.tutor_applications.form.first_name')
            %th=t('views.tutor_applications.form.last_name')
            %th=t('views.tutor_applications.form.email')
            %th=t('views.tutor_applications.form.info')
            %th=t('views.tutor_applications.form.description')
            %th

        %tbody
          -@tutor_applications.each do |tutor_application|
            %tr{id: tutor_application.id}
              %td=link_to(tutor_application.first_name, tutor_application, title: t('views.general.view_tooltip'))
              %td=link_to(tutor_application.last_name, tutor_application, title: t('views.general.view_tooltip'))
              %td=link_to(tutor_application.email, tutor_application, title: t('views.general.view_tooltip'))
              %td=link_to(tutor_application.info, tutor_application, title: t('views.general.view_tooltip'))
              %td=link_to(tutor_application.description, tutor_application, title: t('views.general.view_tooltip'))
              %td
                -if tutor_application.destroyable?
                  =link_to t('views.general.delete'), tutor_application, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
