.hero-library
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              Teach
            %p.h5.h-white.text-center
              Your skills, our platform

-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.is-bg-asphalt
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-md-10.col-md-offset-1
            %p
              As a dedicated training resource we are always on the lookout for talent. If you possess the required qualifications along with extensive experience in finance, IT or business, and are passionate about teaching, we’d love to hear from you.
            %p
              LearnSignal is an evolving company and is looking to expand its services, so if you are a specialist in a certain subject or area and think you could add value to our course curriculum, we are open to proposals. In return, we’ll provide you and your course with exposure to individuals and businesses who are actively seeking professional development. It’s a win win.
            %p
              Use the contact form below and one of our team will get in touch with you to discuss further teaching opportunities with LearnSignal.
            %hr/

            -if flash[:success] || flash[:error] || flash[:warning]
              =render partial: 'layouts/flash_messages'

            =render partial: 'tutor_applications/form'
