.container
  .row
    .col-sm-12
      .page-header
        %h1
          =t('views.tutor_applications.show.h1')
          \#
          =@tutor_application.id
  .row
    .col-sm-12
      %table.table.table-bordered
        %tr
          %td.col-sm-4=t('views.tutor_applications.form.first_name')
          %td.col-sm-8=@tutor_application.first_name
        %tr
          %td.col-sm-4=t('views.tutor_applications.form.last_name')
          %td.col-sm-8=@tutor_application.last_name
        %tr
          %td.col-sm-4=t('views.tutor_applications.form.email')
          %td.col-sm-8=@tutor_application.email
        %tr
          %td.col-sm-4=t('views.tutor_applications.form.info')
          %td.col-sm-8=@tutor_application.info
        %tr
          %td.col-sm-4=t('views.tutor_applications.form.description')
          %td.col-sm-8=@tutor_application.description
      -if current_user && current_user.admin?
        %p
          =link_to t('views.general.back'), tutor_applications_url
          |
          =link_to t('views.general.edit'), edit_tutor_application_url(id: @tutor_application.id), title: t('views.general.edit_tooltip')
