.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom#thank-you-message
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Verification Complete
        .col-md-10.col-md-offset-1.l-margin-bottom-6x
          .box-item
            .row
              .col-sm-6.col-sm-offset-3
                .text-center
                  %h4.h3.l-margin-bottom
                    Your account is now active
                  %p.p
                    ="Your Trial is valid until #{humanize_date_and_month(current_user.student_access.trial_ending_at_date)} or when you reach #{(current_user.student_access.trial_seconds_limit/60).to_s} minutes of course content"


      .l-margin-top-huge
        .col-md-10.col-md-offset-1
          .video
            %h2.text-center
              Welcome to LearnSignal
            .play
              #vimeo-player.vimeo-player



.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid

      .row.l-margin-top
        .l-margin-top-huge.l-margin-bottom-huge
          %h2.text-center
            ='What courses are you interested in ?'

        .container-fluid.l-margin-bottom-huge
          .course-list-wrap
            -if @groups
              -@groups.each do |group|
                .row
                  -group.active_children.all_in_order.each do |course|
                    .col-sm-6.col-md-4
                      =link_to library_special_link(course), class: 'box box-course' do
                        .box-inner
                          .l-margin-top-xl
                            %h2{style: 'margin-bottom: 5px;'}
                              =course.try(:name)
                            %p.p
                              -if course.short_description
                                =course.try(:short_description).to_s.truncate(30)
                              -else
                                =course.description.to_s.truncate(30)
                        .box-label
                          =t('views.general.start')



:javascript

  var player = new Vimeo.Player('vimeo-player', {id: '250621170'});
