#enrollment_user_details_modal {
  .modal-content {
    background-color: #FFF;
  }
  .form-group-expandable {
    margin-bottom: 1.5rem;
    background-color: #FFF;
    transition: all 0.15s ease-in-out 0s;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 12px;
  }
  .form-details {
    display: none;
    padding: .5em .75em 1.5em .75em
  }
  @media (min-width:576px) {
    .form-details {
      padding: .5em 1.5em 1.5em 1.5em
    }
  }
  .form-details .input-group {
    display: block
  }
  @media (min-width:576px) {
    .form-details .input-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex
    }
  }


  .p, p {
    font-size: .875rem;
    margin-bottom: .65rem;
  }


  .custom-control {
    padding-left: 0
  }
  .custom-control.custom-checkbox .custom-control-input,
  .custom-control.custom-radio .custom-control-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0
  }
  .custom-control.custom-checkbox .custom-control-input + .custom-control-label,
  .custom-control.custom-radio .custom-control-input + .custom-control-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 1em .75em;
    cursor: pointer;
    -webkit-transition: all .15s linear 0s;
    -o-transition: all .15s linear 0s;
    transition: all .15s linear 0s
  }
  .custom-control.custom-checkbox .custom-control-input + .custom-control-label::after,
  .custom-control.custom-checkbox .custom-control-input + .custom-control-label::before,
  .custom-control.custom-radio .custom-control-input + .custom-control-label::after,
  .custom-control.custom-radio .custom-control-input + .custom-control-label::before {
    display: none
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input + .custom-control-label,
    .custom-control.custom-radio .custom-control-input + .custom-control-label {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 1em 1.5em
    }
  }
  .custom-control.custom-checkbox .custom-control-input + .custom-control-label > .custom-label-info,
  .custom-control.custom-radio .custom-control-input + .custom-control-label > .custom-label-info {
    width: 85%;
    overflow: hidden
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input + .custom-control-label > .custom-label-info,
    .custom-control.custom-radio .custom-control-input + .custom-control-label > .custom-label-info {
      width: 85%
    }
  }
  @media (max-width:575.98px) {
    .custom-control.custom-checkbox .custom-control-input + .custom-control-label > .custom-label-info .h3,
    .custom-control.custom-checkbox .custom-control-input + .custom-control-label > .custom-label-info h3,
    .custom-control.custom-radio .custom-control-input + .custom-control-label > .custom-label-info .h3,
    .custom-control.custom-radio .custom-control-input + .custom-control-label > .custom-label-info h3 {
      font-size: 1em
    }
  }
  .custom-control.custom-checkbox .custom-control-input + .custom-control-label > .custom-label-info > *,
  .custom-control.custom-radio .custom-control-input + .custom-control-label > .custom-label-info > * {
    white-space: nowrap;
    text-overflow: ellipsis
  }
  .custom-control.custom-checkbox .custom-control-input + .custom-control-label > .custom-check,
  .custom-control.custom-radio .custom-control-input + .custom-control-label > .custom-check {
    position: relative;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: 1px solid #7f8599;
    border-radius: 2px;
    -webkit-transition: all .1s linear 0s;
    -o-transition: all .1s linear 0s;
    transition: all .1s linear 0s
  }
  .custom-control.custom-checkbox .custom-control-input + .custom-control-label:hover > .custom-check,
  .custom-control.custom-radio .custom-control-input + .custom-control-label:hover > .custom-check {
    border-color: #00b67B
  }
  .custom-control.custom-checkbox .custom-control-input.style-checkbox + label > .custom-check,
  .custom-control.custom-radio .custom-control-input.style-checkbox + label > .custom-check {
    border-radius: 2px
  }
  .custom-control.custom-checkbox .custom-control-input.style-checkbox + label > .custom-check:after,
  .custom-control.custom-radio .custom-control-input.style-checkbox + label > .custom-check:after {
    display: none;
    position: absolute;
    top: -4px;
    left: 0;
    content: '\e5ca';
    font-family: 'Material Icons';
    font-size: 17px;
    color: #424366
  }
  .custom-control.custom-checkbox .custom-control-input.style-radio + label > .custom-check,
  .custom-control.custom-radio .custom-control-input.style-radio + label > .custom-check {
    border-radius: 50%
  }
  .custom-control.custom-checkbox .custom-control-input.style-radio + label > .custom-check::after,
  .custom-control.custom-radio .custom-control-input.style-radio + label > .custom-check::after {
    display: none;
    position: absolute;
    top: 7px;
    left: 7px;
    content: '';
    width: 3px;
    height: 3px;
    background-color: #424366;
    border-radius: 50%
  }
  .custom-control.custom-checkbox .custom-control-input:checked + label > .custom-check,
  .custom-control.custom-radio .custom-control-input:checked + label > .custom-check {
    border: 1px solid #00b67B
  }
  .custom-control.custom-checkbox .custom-control-input:checked + label > .custom-check::after,
  .custom-control.custom-radio .custom-control-input:checked + label > .custom-check::after {
    display: inline-block
  }
  .custom-control.custom-checkbox .custom-control-input[disabled] + label > .custom-check,
  .custom-control.custom-radio .custom-control-input[disabled] + label > .custom-check {
    background-color: #b4bbd4
  }
  .custom-control.custom-checkbox .custom-control-input.is-valid ~ .custom-control-label,
  .custom-control.custom-checkbox .custom-control-input:valid ~ .custom-control-label,
  .custom-control.custom-radio .custom-control-input.is-valid ~ .custom-control-label,
  .custom-control.custom-radio .custom-control-input:valid ~ .custom-control-label {
    color: #7f8599
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card + label {
    padding: .75em 1em;
    border: 1px solid transparent;
    border-radius: 0
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label,
    .custom-control.custom-radio .custom-control-input.custom-control-input-card + label {
      padding: 1em 1.6em
    }
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label span,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card + label span {
    display: block;
    .p {
      color: #7f8599;
    }
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label > .custom-label-info,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card + label > .custom-label-info {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label > .custom-label-info,
    .custom-control.custom-radio .custom-control-input.custom-control-input-card + label > .custom-label-info {
      width: 37.5%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column
    }
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label > .custom-label-info .discount,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card + label > .custom-label-info .discount {
    font-weight: normal;
    font-size: .8125em;
    color: #f0ca28
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label > .custom-label-info .discount,
    .custom-control.custom-radio .custom-control-input.custom-control-input-card + label > .custom-label-info .discount {
      font-size: 1em
    }
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label > .custom-label-amount,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card + label > .custom-label-amount {
    font-weight: normal;
    width: 85%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label > .custom-label-amount,
    .custom-control.custom-radio .custom-control-input.custom-control-input-card + label > .custom-label-amount {
      width: 47.5%
    }
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label:hover,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card + label:hover {
    border-color: #b4bbd4
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card + label:hover > .custom-check,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card + label:hover > .custom-check {
    border-color: #7f8599
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card:checked + label,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card:checked + label {
    background-color: #fff;
    border-color: transparent
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card:checked + label > .custom-check,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card:checked + label > .custom-check {
    border-color: #00b67B
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card.alt + label > .custom-label-info,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card.alt + label > .custom-label-info {
    width: 100%
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input.custom-control-input-card.alt + label > .custom-label-info,
    .custom-control.custom-radio .custom-control-input.custom-control-input-card.alt + label > .custom-label-info {
      width: 25%
    }
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card.alt + label > .custom-label-amount,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card.alt + label > .custom-label-amount {
    width: 100%
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input.custom-control-input-card.alt + label > .custom-label-amount,
    .custom-control.custom-radio .custom-control-input.custom-control-input-card.alt + label > .custom-label-amount {
      width: 40%
    }
  }
  .custom-control.custom-checkbox .custom-control-input.custom-control-input-card.alt + label > .custom-label-period,
  .custom-control.custom-radio .custom-control-input.custom-control-input-card.alt + label > .custom-label-period {
    width: 75%
  }
  @media (min-width:576px) {
    .custom-control.custom-checkbox .custom-control-input.custom-control-input-card.alt + label > .custom-label-period,
    .custom-control.custom-radio .custom-control-input.custom-control-input-card.alt + label > .custom-label-period {
      width: 20%
    }
  }

  .input-group :first-child.sr-only + * {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
  }

  .custom-control.custom-control-simple {
    margin-bottom: 1.75rem
  }
  label.custom-control-label {
    padding: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .custom-control.custom-control-simple .custom-control-input + .custom-control-label {
    padding: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .custom-control.custom-control-simple .custom-control-input + .custom-control-label .custom-check {
    margin-top: -1px;
    margin-right: 1rem;
    border-color: #b4bbd4
  }
  .custom-control.custom-control-simple .custom-control-input + .custom-control-label .custom-label {
    color: #424366
  }


  #enrollment_form fieldset {
    .custom-select {
      display: inline-block;
      width: 100%;
      height: -webkit-calc(2.25rem + 2px);
      height: calc(2.25rem + 2px);
      padding: .375rem 1.75rem .375rem .75rem;
      line-height: 1.5;
      color: #000032;
      vertical-align: middle;
      background: #f5f8fa url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
      -webkit-background-size: 8px 10px;
      background-size: 8px 10px;
      border: 1px solid #e1e8ed;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none
    }
    .custom-select:focus {
      border-color: #aab8c2;
      outline: 0;
      -webkit-box-shadow: 0 0 0 .2rem rgba(170,184,194,.5);
      box-shadow: 0 0 0 .2rem rgba(170,184,194,.5)
    }
    .custom-select:focus::-ms-value {
      color: #000032;
      background-color: #f5f8fa
    }

    .custom-control {
      position: relative;
      display: block;
      min-height: 1.5rem;
      padding-left: 2rem
    }
    .custom-control-inline {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 1rem
    }
    .custom-control-input {
      position: absolute;
      z-index: -1;
      opacity: 0
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      color: #fff;
      background-color: #7f8599
    }
    .custom-control-input:focus ~ .custom-control-label::before {
      -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 .2rem rgba(127,133,153,.25);
      box-shadow: 0 0 0 1px #fff,0 0 0 .2rem rgba(127,133,153,.25)
    }
    .custom-control-input:active ~ .custom-control-label::before {
      color: #fff;
      background-color: #e2e4e8
    }
    .custom-control-input:disabled ~ .custom-control-label {
      color: #6c757d
    }
    .custom-control-input:disabled ~ .custom-control-label::before {
      background-color: #e9ecef
    }

    .custom-control.custom-checkbox .custom-control-input + .custom-control-label,
    .custom-control.custom-radio .custom-control-input + .custom-control-label {
      margin-bottom: 0;
      padding: 0
    }

    .custom-control-label {
      position: relative;
      margin-bottom: 0
    }
    .custom-control-label::before {
      position: absolute;
      top: .0625rem;
      left: -2rem;
      display: block;
      width: 1.375rem;
      height: 1.375rem;
      pointer-events: none;
      content: "";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #fff
    }
    .custom-control-label::after {
      position: absolute;
      top: .0625rem;
      left: -2rem;
      display: block;
      width: 1.375rem;
      height: 1.375rem;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: 50% 50%;
      background-size: 50% 50%
    }
    .custom-checkbox .custom-control-label::before {
      border-radius: 0
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #fff
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4.60994 7.89L1.49994 4.78L0.439941 5.84L4.60994 10L13.5599 1.05L12.4999 0L4.60994 7.89Z" fill="%23000032"/%3E%3C/svg%3E')
    }
    .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
      background-color: #00b67b
    }
    .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23000032' d='M0 2h4'/%3E%3C/svg%3E")
    }
    .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
      background-color: rgba(0,182,123,.5)
    }
    .custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
      background-color: rgba(0,182,123,.5)
    }
    .custom-radio .custom-control-label::before {
      border-radius: 50%
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #00b67b
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E")
    }
    .custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
      background-color: rgba(127,133,153,.5)
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      border-color: #000032
    }
    .custom-control-input:not(:checked) ~ .custom-control-label:hover::before {
      border-color: #000032
    }
    .custom-control-input:focus ~ .custom-control-label::before {
      -webkit-box-shadow: none;
      box-shadow: none
    }
    .custom-control-label {
      font-weight: 400;
      cursor: pointer
    }
    .custom-control-label::before {
      top: -.1rem;
      border: 1px solid #aab8c2
    }
    @media (min-width:576px) {
      .custom-control-label::before {
        top: .0625rem
      }
    }
    .custom-checkbox .custom-control-label::after {
      -webkit-background-size: .9rem .9rem;
      background-size: .9rem
    }

  }

}