.row.l-margin-top.l-margin-bottom
  .col-md-12.l-margin-top
    =form_for(@subject_course, html: {class: 'form-horizontal', role: 'form'}) do |f|
      =render partial: '/layouts/error_messages', locals: {thing: @subject_course, message: nil}
      .row
        .col-md-6
          =f.label :name, t('views.subject_courses.form.name'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :name, placeholder: t('views.subject_courses.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
          %br/
          =f.label :name_url, t('views.subject_courses.form.name_url'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :name_url, placeholder: t('views.subject_courses.form.name_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
          -if current_user.admin? || current_user.content_manager?
            %br/
            =f.label :tutor_id, t('views.subject_courses.form.tutor_id'), class: 'control-label'
            .input-group.input-group-lg.full-width
              =f.collection_select :tutor_id, @tutors, :id, :full_name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px'}
          %br/
          =f.label :wistia_guid, t('views.subject_courses.form.wistia_guid'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :wistia_guid, placeholder: t('views.subject_courses.form.wistia_guid_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
          %br/
          -if current_user.admin? || current_user.content_manager?
            %br/
            .checkbox
              %label
                =f.check_box :active
                =t('views.subject_courses.form.active')
            %br/
          %br/
          .checkbox
            %label
              =f.check_box :live
              =t('views.subject_courses.form.live')
        .col-md-6
          =f.label :description, t('views.subject_courses.form.description'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_area :description, placeholder: t('views.subject_courses.form.description_placeholder'), rows: 5, class: 'form-control', style: 'border-radius: 6px;'
          %br/
          =f.label :short_description, t('views.subject_courses.form.short_description'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :short_description, placeholder: t('views.subject_courses.form.short_description_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
          %br/
          =f.label :mailchimp_guid, t('views.subject_courses.form.mailchimp_guid'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :mailchimp_guid, placeholder: t('views.subject_courses.form.mailchimp_guid_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
          %br/
          =f.label :default_number_of_possible_exam_answers, t('views.subject_courses.form.default_number_of_possible_exam_answers'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.select :default_number_of_possible_exam_answers, options_for_select((2..5).to_a, f.object.default_number_of_possible_exam_answers), {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
            %p.help-block=t('views.exam_levels.form.default_number_of_possible_exam_answers_help_text')
          =f.label :forum_url, t('views.subject_courses.form.forum_url'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :forum_url, placeholder: t('views.subject_courses.form.forum_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

      .row
        =f.submit t('views.general.save'), class: 'btn btn-red'
        =link_to t('views.general.cancel'), subject_courses_path, class: 'btn btn-cyan l-margin-right-big l-padding-side-3x'
