.l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
  .container-fluid.l-padding-side-3x
    .row.l-margin-bottom.l-margin-top
      .col-md-12.text-center
        %h1.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
          ="Tutors of #{@subject_course.name}"

    .row.l-margin-top.l-margin-bottom
      .col-md-10.col-md-offset-1.l-margin-top
        .table-box
          =form_for(@subject_course, url: { action: :update_tutors }, html: {class: 'form-horizontal', role: 'form', id: 'course-tutors-form'}) do |f|
            .col-sm-12.l-margin-top-big
              .col-sm-6
                %table
                  %thead
                  %tbody
                    -@first_tutors.each do |tutor|
                      %tr
                        %td= tutor.full_name
                        %td{style: 'width: 5%;'}
                          =check_box_tag "subject_course[user_ids][]", tutor.id, @subject_course.users.include?(tutor)
              .col-sm-6
                %table
                  %thead
                  %tbody
                    -@second_tutors.each do |tutor|
                      %tr
                        %td= tutor.full_name
                        %td{style: 'width: 5%;'}
                          =check_box_tag "subject_course[user_ids][]", tutor.id, @subject_course.users.include?(tutor)

            .row
              .col-sm-12.l-margin-top-big
                =f.submit t('views.general.save'), class: 'btn btn-red'
                =link_to t('views.general.cancel'), subject_courses_url, class: 'btn btn-cyan'

