.container
  %header.management-console-section
    %h1
      Courses

  %section.pb-7
    =render partial: 'management_consoles/course_content_nav'
    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              =link_to t('views.subject_courses.index.add_course'), new_subject_course_url, class: 'btn btn-primary btn-sm', title: t('views.general.new_tooltip')
            .col-sm
              =form_tag(subject_courses_url, method: :get, role: 'form', class: 'form-horizontal') do
                =select_tag :group_id, options_for_select(Group.all.collect {|p| [ p.name, p.id ] }, params[:group_id]), {include_blank: 'All', class: 'custom-select', onchange: 'this.form.submit(); return false;'}

            .col-sm
              .search-container
                =form_tag(subject_courses_url, method: :get, role: 'form', id: 'search-form', class: 'form-inline') do
                  =text_field_tag :search, params[:search], class: 'form-control', placeholder: t('views.general.search')
                  %button{type: "submit"}
                    %i{:role => "img", class: 'budicon-search-list'}

          .table-responsive.pt-4
            %table.table.sorted_table
              %thead
                %tr
                  %th Name
                  %th Active
                  %th Preview
                  %th
                  %th
                  %th
                  %th
                  %th
              %tbody
                -@subject_courses.each do |subject_course|
                  %tr
                    %td=subject_course.name
                    %td=tick_or_cross(subject_course.active)
                    %td=tick_or_cross(subject_course.preview)
                    %td
                      =link_to t('views.general.edit'), edit_subject_course_url(subject_course), class: 'btn btn-xs btn-primary'
                    %td
                      =link_to t('views.general.show'), subject_course_url(subject_course), class: 'btn btn-xs btn-secondary'
                    -if subject_course.destroyable?
                      %td
                        =link_to t('views.general.delete'), subject_course, method: :delete, data: {confirm: t('views.general.delete_confirmation')}, class: 'btn btn-xs btn-danger'
                    %td
                      =link_to 'CSV', export_course_log_data_path(id: subject_course.id, format: :xls), class: 'btn btn-xs btn-secondary'
                    %td





:javascript
  $(document).ready(function() {
    $("#search").on('blur', function() {
      $(this).parents('form').submit();
    });

  });
