.row
  .col-sm-12
    .page-header
      %h1=t('views.subject_courses.index.h1')
.row
  .col-sm-12
    =will_paginate @subject_courses, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered.sorted_table{data: {destination: subject_courses_url}}
      %thead
        %tr
          %th=t('views.subject_courses.form.name')
          %th=t('views.subject_courses.form.active')
          %th=t('views.subject_courses.form.live')
          %th=t('views.subject_courses.form.wistia_guid')
          %th=t('views.subject_courses.form.tutor_id')
          %th=t('views.subject_courses.form.mailchimp_guid')
          %th
          %th
      %tbody
        -@subject_courses.each do |subject_course|
          %tr{id: subject_course.id}
            %td=link_to(subject_course.name, subject_course, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(subject_course.active), subject_course, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(subject_course.live), subject_course, title: t('views.general.view_tooltip'))
            %td=link_to(subject_course.wistia_guid, subject_course, title: t('views.general.view_tooltip'))
            %td=link_to(subject_course.tutor.full_name, subject_course, title: t('views.general.view_tooltip'))
            %td=link_to(subject_course.mailchimp_guid, subject_course, title: t('views.general.view_tooltip'))
            %td
              -#=link_to t('views.general.view'), subject_course
              =link_to t('views.general.edit'), edit_subject_course_url(subject_course), class: 'btn btn-info btn-xs'
              -if subject_course.destroyable?
                =link_to t('views.general.delete'), subject_course, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
            -if current_user.admin? || current_user.content_manager?
              %td
                %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

.row
  .col-sm-12
    =link_to t('views.general.new'), new_subject_course_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
