.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =@subject_course.name
        -if @subject_course.course_sections.count < 1
          .row.l-margin-top.l-margin-bottom
            .col-md-10.col-md-offset-1
              %p.h6.text-center
                Please create a Course Module to begin.  A course module will hold a collection of Videos and Quizzes under the same topic.  Each topic should have a separate Module.  The name of the Module should reflect the topic.
          .row.l-margin-top-big.text-center
            =#link_to t('views.course_modules.new.h1'), course_module_special_link(@subject_course), class: 'btn btn-red'
            =link_to 'New Course Section (tab)', new_course_section_url(@subject_course.id), class: 'btn btn-red'
        -else
          .pull-right
            =link_to 'Trial Content', subject_course_trial_content_url(@subject_course), class: 'btn btn-green'
            =link_to t('views.subject_course_resources.show.h2'), course_resources_url(@subject_course), class: 'btn btn-purple'
            =link_to 'New Course Section (tab)', new_course_section_url(@subject_course.id), class: 'btn btn-red'
        .row.l-margin-top.l-margin-bottom
          .col-md-12.l-margin-top
            .ol.sortable-area
              -@subject_course.course_sections.all_in_order.each do |course_section|
                .li.l-margin-bottom-big
                  .table-box
                    .table-responsive
                      .col-md-9.l-margin-bottom
                        %h2=course_section.name.to_s.truncate(50)
                      .col-md-3
                        .pull-right
                          =tick_or_cross(course_section.active)

                      %table.table.sorted_table{data: {destination: course_modules_url}, id: course_section.id}
                        %thead
                          %tr
                            %th Name
                            %th Active
                            %th Lessons
                            %th
                            %th
                            %th
                        %tbody
                          -course_section.course_modules.all_in_order.each do |course_module|
                            %tr{id: course_module.id, data: {parent: course_section.id, destination: course_module_url}}
                              %td
                                =course_module.name.to_s
                              %td
                                =tick_or_cross(course_module.active)
                              %td
                                =course_module.cme_count
                              %td
                                =link_to t('views.general.edit'), edit_course_module_url(@subject_course.id, course_section.id, course_module.id), class: 'btn btn-small btn-cyan'
                                =link_to 'Edit Content', show_course_module_url(@subject_course.id, course_section.id, course_module.id), class: 'btn btn-small btn-purple'
                                -if course_module.destroyable?
                                  =link_to t('views.general.delete'), course_module, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'
                              %td
                                %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}


                      .col-md-6
                        =link_to 'New Course Module', new_course_module_url(@subject_course.id, course_section.id), class: 'btn btn-purple'
                      .col-md-6
                        .pull-right
                          =link_to t('views.course_sections.edit.h1'), edit_course_section_url(course_section), class: 'btn btn-purple'
                          =link_to I18n.t('views.course_sections.index.delete'), course_section, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red'

