.container
  %header.management-console-section
    %h1
      =@subject_course.name
      =t('views.subject_course_resources.index.h1')

  %section.pb-7
    .row
      .col-sm-12
        =link_to 'New Course Resource', new_course_resources_url(@subject_course), class: 'btn btn-primary'

    .row
      .col-sm-12
        .box-item.table-box
          .table-responsive
            %table.table.sorted_table{style: 'font-size: 18px;', data: {destination: subject_course_resources_url}}
              %thead
                %tr
                  %th=t('views.subject_course_resources.form.name')
                  %th=t('views.subject_course_resources.form.subject_course_id')
                  %th='Active'
                  %th
                  %th
                  %th
                  %th
              %tbody
                -@subject_course_resources.each do |subject_course_resource|
                  %tr{id: subject_course_resource.id}
                    %td=subject_course_resource.name
                    %td=subject_course_resource.subject_course.name
                    %td=tick_or_cross(subject_course_resource.active)
                    -unless subject_course_resource.active
                      %td
                        =link_to 'Activate', new_content_activation_url(type: subject_course_resource.class, id: subject_course_resource.id), class: 'btn btn-green btn-xs'

                    %td
                      =link_to t('views.general.edit'), edit_subject_course_resource_url(subject_course_resource), class: 'btn btn-primary btn-xs'
                    %td
                      -if subject_course_resource.external_url.blank?
                        =link_to t('views.general.show'), subject_course_resource.file_upload.url, target: '_blank', class: 'btn btn-secondary btn-xs'
                      -else
                        =link_to t('views.general.show'), subject_course_resource.external_url, target: '_blank', class: 'btn btn-secondary btn-xs'
                    %td
                      -if subject_course_resource.destroyable?
                        =link_to t('views.general.delete'), subject_course_resource, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary-reverse btn-xs'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}


      .row
        .col-sm-12
          =link_to 'Return', subject_course_url(@subject_course), class: 'btn btn-secondary', title: t('views.general.new_tooltip')

