.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Courses', admin_courses_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Groups', groups_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Mock Exams', mock_exams_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'CBEs', admin_cbes_url
