.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Categories', admin_categories_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Sub Categories', admin_sub_categories_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Courses', admin_courses_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Groups', groups_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Levels', admin_levels_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Key Areas', admin_key_areas_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Mock Exams', mock_exams_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'CBEs', admin_cbes_url
