.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Courses', subject_courses_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Groups', groups_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Exam Sittings', exam_sittings_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Mock Exams', mock_exams_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'White Papers', white_papers_url
