.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'FAQs', public_resources_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Landing Pages', home_pages_url
    %li{style: 'margin-left: 4%; margin-right: 4%;'}
      =link_to 'Banners', external_banners_url
