.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'FAQs', public_resources_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Landing Pages', home_pages_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Banners', external_banners_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'White Papers', white_papers_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'White Paper Requests', white_paper_requests_url
