.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 2.5%; margin-right: 2.5%;'}
      =link_to 'Sub Plans', subscription_plans_url
    %li{style: 'margin-left: 2.5%; margin-right: 2.5%;'}
      =link_to 'Subscriptions', all_subscriptions_url
    %li{style: 'margin-left: 2.5%; margin-right: 2.5%;'}
      =link_to 'Sub Plan Categories', subscription_plan_categories_url
    %li{style: 'margin-left: 2.5%; margin-right: 2.5%;'}
      =link_to 'Products', products_url
    %li{style: 'margin-left: 2.5%; margin-right: 2.5%;'}
      =link_to 'Orders', orders_url
    %li{style: 'margin-left: 2.5%; margin-right: 2.5%;'}
      =link_to 'Coupons', coupons_url
