.admin-nav
  %ul.admin-nav-block
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Landing Pages', system_requirements_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Exam Bodies', exam_bodies_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Currencies', currencies_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Countries', countries_url
    %li{style: 'margin-left: 3%; margin-right: 3%;'}
      =link_to 'Vat Codes', vat_codes_url
