.admin-nav
  %ul.admin-nav-block
    %li
      =link_to 'Users', users_url
    -if current_user.user_group_management_access?
      %li
        =link_to 'User Groups', user_groups_url
    %li
      =link_to 'User Visits', visits_all_index_url