.container
  %header.management-console-section
    %h1
      Conversion Rates
    %p.p-hero.px-lg-8
      Number of Verified Members / Number of Verified Leads

  %section.pb-3
    %nav.graph-nav
      %ul.nav.nav-tabs{id: 'graphTabs', role: 'tablist'}
        %li.nav-item
          %a#tab-2018.nav-link{"aria-controls" => "2018", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tab-1", :role => "tab"}
            2018
        %li.nav-item
          %a#tab-2019.nav-link{"aria-controls" => "2019", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tab-2", :role => "tab"}
            2019
        %li.nav-item
          %a#tab-2020.nav-link.active{"aria-controls" => "2020", "aria-selected" => "true", "data-toggle" => "tab", :href => "#tab-3", :role => "tab"}
            2020


    #graphTabsContent.tab-content
      .tab-pane{id: 'tab-1', class: "", "aria-labelledby" => 'tab-2018', :role => 'tabpanel'}
        .box-item
          %h3 2018
          .row
            .col-sm-12
              .row
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @january_users18.count.to_f
                        - members = @january_users18.paid_that_month(Date.new(2018, 1)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        January
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @february_users18.count.to_f
                        - members = @february_users18.paid_that_month(Date.new(2018, 2)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        February
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @march_users18.count.to_f
                        - members = @march_users18.paid_that_month(Date.new(2018, 3)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        March
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @april_users18.count.to_f
                        - members = @april_users18.paid_that_month(Date.new(2018, 4)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        April
              .row
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @may_users18.count.to_f
                        - members = @may_users18.paid_that_month(Date.new(2018, 5)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        May
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @june_users18.count.to_f
                        - members = @june_users18.paid_that_month(Date.new(2018, 6)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        June
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @july_users18.count.to_f
                        - members = @july_users18.paid_that_month(Date.new(2018, 7)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        July

                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @august_users18.count.to_f
                        - members = @august_users18.paid_that_month(Date.new(2018, 8)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        August
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @september_users18.count.to_f
                        - members = @september_users18.paid_that_month(Date.new(2018, 9)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        September
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @october_users18.count.to_f
                        - members = @october_users18.paid_that_month(Date.new(2018, 10)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        October
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @november_users18.count.to_f
                        - members = @november_users18.paid_that_month(Date.new(2018, 11)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        November
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @december_users18.count.to_f
                        - members = @december_users18.paid_that_month(Date.new(2018, 12)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        December



      .tab-pane{id: 'tab-2', class: "", "aria-labelledby" => 'tab-2019', :role => 'tabpanel'}
        .box-item
          %h3 2019
          .row
            .col-sm-12
              .row
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @january_users19.count.to_f
                        - members = @january_users19.paid_that_month(Date.new(2019, 1)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        January
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @february_users19.count.to_f
                        - members = @february_users19.paid_that_month(Date.new(2019, 2)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        February
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @march_users19.count.to_f
                        - members = @march_users19.paid_that_month(Date.new(2019, 3)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        March
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @april_users19.count.to_f
                        - members = @april_users19.paid_that_month(Date.new(2019, 4)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        April
              .row
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @may_users19.count.to_f
                        - members = @may_users19.paid_that_month(Date.new(2019, 5)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        May
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @june_users19.count.to_f
                        - members = @june_users19.paid_that_month(Date.new(2019, 6)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        June
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @july_users19.count.to_f
                        - members = @july_users19.paid_that_month(Date.new(2019, 7)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        July

                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @august_users19.count.to_f
                        - members = @august_users19.paid_that_month(Date.new(2019, 8)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        August
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @september_users19.count.to_f
                        - members = @september_users19.paid_that_month(Date.new(2019, 9)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        September
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @october_users19.count.to_f
                        - members = @october_users19.paid_that_month(Date.new(2019, 10)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        October
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @november_users19.count.to_f
                        - members = @november_users19.paid_that_month(Date.new(2019, 11)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        November
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @december_users19.count.to_f
                        - members = @december_users19.paid_that_month(Date.new(2019, 12)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        December

      .tab-pane{id: 'tab-3', class: 'active show ', "aria-labelledby" => 'tab-2020', :role => 'tabpanel'}
        .box-item
          %h3 2020
          .row
            .col-sm-12
              .row
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @january_users.count.to_f
                        - members = @january_users.paid_that_month(Date.new(2020, 1)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        January
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @february_users.count.to_f
                        - members = @february_users.paid_that_month(Date.new(2020, 2)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        February
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @march_users.count.to_f
                        - members = @march_users.paid_that_month(Date.new(2020, 3)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        March
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @april_users.count.to_f
                        - members = @april_users.paid_that_month(Date.new(2020, 4)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        April
              .row
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @may_users.count.to_f
                        - members = @may_users.paid_that_month(Date.new(2020, 5)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        May
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @june_users.count.to_f
                        - members = @june_users.paid_that_month(Date.new(2020, 6)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        June
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @july_users.count.to_f
                        - members = @july_users.paid_that_month(Date.new(2020, 7)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        July

                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @august_users.count.to_f
                        - members = @august_users.paid_that_month(Date.new(2020, 8)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        August
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @september_users.count.to_f
                        - members = @september_users.paid_that_month(Date.new(2020, 9)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        September
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @october_users.count.to_f
                        - members = @october_users.paid_that_month(Date.new(2020, 10)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        October
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @november_users.count.to_f
                        - members = @november_users.paid_that_month(Date.new(2020, 11)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        November
                .col-sm-3
                  .stats-box
                    .stats-box-inner
                      .h3
                        - leads = @december_users.count.to_f
                        - members = @december_users.paid_that_month(Date.new(2020, 12)).count.to_f
                        =((members/leads) * 100).round(2).to_s + '%'
                      .p
                        December
