.container
  %header.management-console-section
    %h1
      Management Console

  %section.pb-3
    .box-item
      %canvas#myChart{:height => "200", :width => "400"}


:javascript
  var ctx = document.getElementById('myChart').getContext('2d');

  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Active', 'Paused', 'Pending-Cancel', 'Cancelled'],
          datasets: [{
              label: 'Fake Data For Now!',
              data: [212, 319, 443, 555],
              backgroundColor: [
                  '#00b67b',
                  '#000032',
                  '#f0ca28',
                  '#775ead',
              ]
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });