.container
  %header.management-console-section
    %h1
      =t('views.faq_sections.index.h1')

  %section.pb-7
    =render partial: 'management_consoles/public_resources_nav'

    .row
      .col-sm-12
        .row.pt-4
          .col-sm
            =link_to 'New FAQ Section', new_faq_section_url, class: 'btn btn-primary btn-xs'
          .col-sm
            =link_to 'Reorder FAQ Sections', faq_sections_url, class: 'btn btn-secondary btn-xs'

        .ol.sortable-area
          -@faq_sections.all_in_order.each do |faq_section|
            .li.l-margin-bottom-big
              .box-item.table-box
                .table-responsive
                  .col-md-9.l-margin-bottom
                    %h2=faq_section.name
                  .col-md-3
                    .pull-right
                      =tick_or_cross(faq_section.active)

                  %table.table.sorted_table{data: {destination: faqs_url}, id: faq_section.id}
                    %thead
                      %tr
                        %th=t('views.faq_sections.form.name')
                        %th=t('views.faq_sections.form.active')
                        %th
                        %th
                    %tbody
                      -faq_section.faqs.all_in_order.each do |faq|
                        %tr{id: faq.id, data: {parent: faq_section.id, destination: faqs_url}}
                          %td=faq.name
                          %td=tick_or_cross(faq.active)
                          %td
                            =link_to t('views.general.edit'), edit_faq_url(faq), class: 'btn btn-primary btn-xs'
                            -if faq.destroyable?
                              =link_to t('views.general.delete'), faq, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary btn-xs'
                          %td
                            %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

                  =link_to t('views.faqs.new.h1'), new_faq_url(faq_section_id: faq_section.id), class: 'btn btn-primary'
                  =link_to t('views.faq_sections.edit.h1'), edit_faq_section_url(faq_section), class: 'btn btn-secondary'
                  -if faq_section.destroyable?
                    =link_to I18n.t('views.faq_sections.index.delete'), faq_section, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary'

