.l-section-small.is-bg-asphalt
  .l-wrap-large
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.home_pages.index.h1')

      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'system_requirements_nav'

      .row
        .col-sm-12
          .box-item.table-box
            .row.l-margin-bottom
              =link_to 'New Landing Page', new_home_page_url, class: 'btn btn-primary btn-small'

            .table-responsive
              %table.table.sorted_table{style: 'font-size: 18px;'}
                %thead
                  %tr
                    %th=t('views.home_pages.form.name')
                    %th=t('views.home_pages.form.public_url')
                    %th=t('views.home_pages.form.blog_posts')
                    %th
                %tbody
                  -@home_pages.each do |home_page|
                    %tr
                      %td=home_page.name
                      %td=home_page.public_url
                      %td
                        -if home_page.blog_posts.any?
                          =home_page.blog_posts.count
                      %td
                        =link_to t('views.general.edit'), edit_home_page_url(home_page), class: 'btn btn-primary btn-small'
                        -if home_page.destroyable?
                          =link_to t('views.general.delete'), home_page, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary-reverse btn-small'
              =will_paginate @home_pages, renderer: BootstrapPagination::Rails

