#cbes-new-view
  %cbes-new-view
= javascript_pack_tag 'cbes/new'


%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3
          CBE
        %p.p-hero.px-lg-6
          {{ message }}

      %section.pb-md-6.pb-5
        .row
          .col-sm-12
            .panel-body.no-top-padding
              %p
                Please read these terms and conditions very carefully before using learnsignal. Visiting or registering with learnsignal indicates that you accept these terms and conditions. If you do not accept these terms and conditions, please do not register for or participate in any learnsignal programmes.
              %h2
                Introduction

:javascript
  import Hello from './components/Hello'
  export default {
    name: 'vue-app',
    message: 'Hello Vue',
    components: {
      Hello
    },
     data: function () {
    return {
       createdCBE: [],
       message: "tatartas"
  }




