#cbes-new-view
  %cbes-new-view
= javascript_pack_tag 'cbes/new'


.container
  #app
    %p {{message}}
    %input{"v-model" => "message"}

:javascript
  import Hello from './components/Hello'
  export default {
    name: 'app',
    components: {
      Hello
    },
     data: function () {
    return {
       createdCBE: [],
       message: "tatartas"
  }




