<div class="container">
  <header class="management-console-section">
    <h1>
      <%= t('views.countries.index.h1') %>
    </h1>
  </header>
  <section class="pb-7">
    <%= render partial: 'management_consoles/system_requirements_nav' %>
    <div class="row">
      <div class="col-sm-12"></div>
    </div>
  </section>
</div>