=form_for(@order, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =f.hidden_field :stripe_token
  .row
    .col-md-12
    =render partial: '/layouts/error_messages', locals: {thing: @order, message: nil}
      .form-group
        =f.label :subject_course_id, 'Course', class: 'control-label col-sm-4'
        .col-sm-8
          =f.collection_select :subject_course_id, @courses, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
      .form-group
        =f.fields_for :order_items do |item|
          =item.hidden_field :quantity, value: 1


    .row.l-margin-top-big
      =f.submit t('views.general.save'), class: 'btn btn-red'
      =t('views.general.or')
      =link_to t('views.general.cancel'), orders_path, class: 'btn btn-cyan'
