.col-sm-12{style: 'padding-left: 0;'}
  .payment-errors
    .col-sm-10
      .form-group.cc
        %label
          Credit or debit card
        .clearfix
          #card-element

          #card-errors{role: 'alert'}

      .form-group.l-margin-top
        %label.check
          %input{type: "checkbox", id: 'terms_and_conditions', required: true}
            %span
              %i.fa.fa-check
            =t('views.general.terms_and_conditions')

      .form-group.l-margin-top
        .tot-get
          .price
            %span.total Total:
            %span.value
              =number_in_local_currency(@product.price, @product.currency_id)
          %div.l-margin-top
            = f.button :submit, class: 'lsbtn', id: 'card_submit' do
              %i.fa.fa-lock
              ='Purchase Mock Exam'

            .sk-circle{style: 'margin-right: 50px; margin-left: 50px;'}
              .sk-circle1.sk-child
              .sk-circle2.sk-child
              .sk-circle3.sk-child
              .sk-circle4.sk-child
              .sk-circle5.sk-child
              .sk-circle6.sk-child
              .sk-circle7.sk-child
              .sk-circle8.sk-child
              .sk-circle9.sk-child
              .sk-circle10.sk-child
              .sk-circle11.sk-child
              .sk-circle12.sk-child




:javascript

  $(".sk-circle").hide();
  $('input[type="checkbox"]').on('change', function() {
    if($('#terms_and_conditions').prop('checked') == true) {
      $("#hidden_term_and_conditions").val('true');
    } else if($('#terms_and_conditions').prop('checked') == false) {
      $("#hidden_term_and_conditions").val('false');
    }
  });

  var stripe = Stripe('#{ENV['learnsignal_v3_stripe_public_key']}');
  var elements = stripe.elements();
  var card = elements.create('card', {hidePostalCode: true,});
  card.mount('#card-element');

  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('orders-form');
    $('#order_stripe_token').val(token.id);

    // Submit the form
    form.submit();
    $('#card_submit').hide();
    $(".sk-circle").show();

  }

  function createToken() {
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  };


  // Create a token when the form is submitted.
  var form = document.getElementById('orders-form');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    createToken();
  });

