.payment-details.pay-pal
  .row
    .col-sm-6.mb-2.mt-sm-4
      %h4.m-0
        Total:
        %span.value#paypal-total-value
          =number_in_local_currency(@order.product.price, @order.product.currency)

    .col-sm-6.mb-2.mt-sm-4.text-center
      = f.button :submit, class: 'btn btn-img mb-4', id: 'paypal_submit' do
        =image_tag('checkout-logo-large.png', :alt => "PayPal Button")

      .spinner-border.text-success.spinning-loading{:role => "status"}
        %span.sr-only Loading...

