.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.orders.index.h1')
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .no-image-box-item.table-box
            .table-responsive
              =will_paginate @orders, renderer: BootstrapPagination::Rails
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th=t('views.orders.form.product_id')
                    %th=t('views.orders.form.subject_course_id')
                    %th=t('views.orders.form.user_id')
                    %th=t('views.orders.form.stripe_guid')
                    %th=t('views.orders.form.stripe_customer_id')
                    %th=t('views.orders.form.live_mode')
                    %th=t('views.orders.form.current_status')
                    %th=t('views.orders.form.coupon_code')
                    %th
                    %th
                %tbody
                  -@orders.each do |order|
                    %tr{id: order.id}
                      %td=link_to(order.product.name, order, title: t('views.general.view_tooltip'))
                      %td=link_to(order.subject_course.name, order, title: t('views.general.view_tooltip'))
                      %td=link_to(order.user.name, order, title: t('views.general.view_tooltip'))
                      %td=link_to(order.stripe_guid, order, title: t('views.general.view_tooltip'))
                      %td=link_to(order.stripe_customer.name, order, title: t('views.general.view_tooltip'))
                      %td=link_to(tick_or_cross(order.live_mode), order, title: t('views.general.view_tooltip'))
                      %td=link_to(order.current_status, order, title: t('views.general.view_tooltip'))
                      %td=link_to(order.coupon_code, order, title: t('views.general.view_tooltip'))
                      %td
                        -#=link_to t('views.general.view'), order
                        =link_to t('views.general.edit'), edit_order_url(order), class: 'btn btn-info btn-xs'
                        -if order.destroyable?
                          =link_to t('views.general.delete'), order, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
                      %td
                        %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

      .row
        .col-sm-12
          =link_to t('views.general.new'), new_order_url, class: 'btn btn-red', title: t('views.general.new_tooltip')
