.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.orders.index.h1')

      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'management_consoles/subscriptions_nav'

      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top
          .table-box
            .table-responsive
              =will_paginate @orders, renderer: BootstrapPagination::Rails
              %table.table.sorted_table{style: 'font-size: 18px;', data: {destination: white_papers_url}}
                %thead
                  %tr
                    %th=t('views.orders.index.product_id')
                    %th=t('views.orders.index.user_id')
                    %th=t('views.orders.index.current_status')
                    %th
                %tbody
                  -@orders.each do |order|
                    %tr{id: order.id}
                      %td=order.product.try(:name)
                      %td=order.user.full_name
                      %td=order.current_status
                      %td
                        =link_to 'Order', order, class: 'btn btn-red btn-small'
                        =link_to 'Product', order.product, class: 'btn btn-cyan btn-small'
                        =link_to t('views.orders.index.user_id'), user_url(order.user_id), class: 'btn btn-purple btn-small'

