.bg-asphalt
  -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
  .container
    %article.hero
      %h1.h1-mega.mb-3 
        =@mock_exam.name
      %h5.text-red Purchase Process
  .container
    %form.payment
      .row.row-lg.justify-content-center
        .col-xl-4.mb-5.mb-xl-0
          %fieldset.text-center
            %h3.mb-3 
              =@mock_exam.name
            %p.h4.mb-3.text-torquoise
              Total:
              %span
                =number_in_local_currency(@product.price, @product.currency_id)
            .mb-4
              =image_tag 'ico-exam-2.svg', alt: 'Exam'
            .px-4
              %p.text-left Get started on your ACCA journey in less than 5 minutes. Passing your exam is worth it.
        .col-xl-6.mb-5
          %fieldset.card
            %p.h2.mb-2 Choose a way to pay

