.margin-top
=form_for(@order, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =f.hidden_field :stripe_token
  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        .row.l-margin-bottom
          .col-md-12.text-center
            %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
              =t('views.orders.new.h1')


          .col-md-12
            =render partial: '/layouts/error_messages', locals: {thing: @order, message: nil}
            .form-group
              =f.label :subject_course_id, 'Course', class: 'control-label col-sm-4'
              .col-sm-8
                =f.collection_select :subject_course_id, @courses, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}


    .l-section.is-bg-asphalt
      .l-wrap
        .container-fluid
          .row
            .col-sm-12.col-md-6.col-md-offset-3.payment-heading
              %h2.h3.text-center
                %span.number
                  2
                Payment details
          =render partial: 'order_card_form', locals: {f: f}

        .container-fluid
          .col-md-12
            .col-md-4.col-sm-offset-4.text-center
              .spinner
                .bounce1
                .bounce2
                .bounce3


    .row.l-margin-top-big
      =f.submit t('views.general.save'), class: 'btn btn-red'
      =t('views.general.or')
      =link_to t('views.general.cancel'), orders_path, class: 'btn btn-cyan'

