%main
  %article.bg-gray5
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .container
      %header.hero-section
        %h1.h2-hero.mb-2
          Purchase Complete

      %section.pb-md-6.pb-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item.text-center
              %p
                ="Your payment receipt will be sent to #{current_user.email}"

              =link_to student_dashboard_url do
                .btn.btn-primary
                  ="Continue Your #{current_user.preferred_exam_body.name} Studies"
