.modal.fade{id: 'account-required', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'accountRequired', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %span
          Close
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header
        %h3.text-red{id: 'accountRequired'}
          Account Required

      .modal-body
        %p.font-weight-medium.mb-4.text-purple
          Sorry! A valid account is required to access that content
        %p.mb-4.text-purple
          Sign Up or Sign In

      .modal-footer
        =link_to 'Sign In', sign_in_url, class: 'btn btn-primary', title: 'Sign In'
        =link_to 'Sign Up Now', new_student_url, class: 'btn btn-primary', title: 'Sign Up'

