.remodal{"data-remodal-id" => "account-issue-restriction"}

  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12
        %h2
          ='Account Issue'

    .row
      .col-sm-12
        .col-sm-12.l-margin-top-big
          %p
            ="Sorry there seems to be an issue with your account. Please check you account details are correct. Or contact us for support."


    %br/
    .col-sm-12#actions_btns
      .col-sm-6
        =link_to 'Contact Us', contact_url, class: 'btn btn-red'
      .col-sm-6
        =link_to t('views.users.show.h1'), account_url, class: 'btn btn-red'

