.modal.fade{id: 'account-required', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'accountRequired', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header.mb-3
        %h3.text-red{id: 'accountRequired'}
          Account Required

      .modal-body
        %p.font-weight-medium.mb-4.text-purple
          A valid account is required to access that content. Register today for our basic plan. No credit card required.
        %p.mb-5.text-purple
          If you already have an account log in now.

      .modal-footer
        =link_to 'Register Now', subscription_checkout_special_link(@group.exam_body_id), class: 'btn btn-primary', title: 'Register Now'
        =link_to 'Log In', sign_in_url, class: 'btn btn-primary', title: 'Log In'

