.row
  .resources-inner
    -if @products.any?
      %p.h4
        Mock Exams
      %ul
        -@products.each do |product|
          -if @course.preview
            %li
              =link_to '#', class: 'resource-box resource-box-inner full-width' do
                .col-xs-10
                  =product.mock_exam.name
                .col-xs-2
                  .glyphicon.glyphicon-download{style: 'top: 3px;'}

          -else
            -if current_user
              %li
                =link_to new_order_url(product), class: 'resource-box resource-box-inner full-width' do
                  .col-xs-10
                    =product.mock_exam.name
                  .col-xs-2
                    .glyphicon.glyphicon-download{style: 'top: 3px;'}
            -else
              %li
                =link_to new_student_url, class: 'resource-box resource-box-inner full-width' do
                  .col-xs-10
                    =product.mock_exam.name
                  .col-xs-2
                    .glyphicon.glyphicon-download{style: 'top: 3px;'}

  .resources-inner
    -if @subject_course_resources
      %p.h4
        Course Resources
      %ul
        -@subject_course_resources.each do |resource|
          -if current_user
            -if current_user.permission_to_see_content(nil, resource.id)
              %li
                =link_to resource.external_url.blank? ? resource.file_upload.url : resource.external_url, class: 'resource-box resource-box-inner full-width', target: '_blank' do
                  .col-xs-10
                    =resource.name
                  .col-xs-2
                    .glyphicon.glyphicon-download{style: 'top: 3px;'}

            -else
              %li
                =link_to '#access-denied-modal', class: 'resource-box resource-box-inner full-width' do
                  .col-xs-10
                    =resource.name
                  .col-xs-2
                    .glyphicon.glyphicon-download{style: 'top: 3px;'}
          -else
            %li
              =link_to new_student_url, class: 'resource-box resource-box-inner full-width' do
                .col-xs-10
                  =resource.name
                .col-xs-2
                  .glyphicon.glyphicon-download{style: 'top: 3px;'}
