.l-margin-top-big
  %p.h4.l-margin-bottom.l-margin-top
    Contact Tutor
  -if current_user
    -if current_user && current_user.permission_to_see_content(@course)
      %a{data: {remodal: {target: 'tutor-contact-modal'}}, class: 'btn btn-orange btn-wide'}
        Ask The Tutor
    -else
      %a{data: {remodal: {target: 'access-denied-modal'}}, class: 'btn btn-orange btn-wide'}
        Ask The Tutor
  -else
    =link_to new_student_url, class: 'btn btn-orange btn-wide' do
      Ask The Tutor


  -if @course.mock_exams.any?
    %p.h4.l-margin-bottom.l-margin-top-huge
      Mock Exams
    %ul.course-resources
      -@products.each do |product|
        -if current_user
          %li
            =link_to new_order_url(product) do
              .btn.btn-secondary.btn-red.btn-list
                =product.mock_exam.name
        -else
          %li
            =link_to new_student_url do
              .btn.btn-secondary.btn-red.btn-list
                =product.mock_exam.name

  -if @subject_course_resources
    %p.h4.l-margin-bottom.l-margin-top-huge
      Course Resources
    %ul.course-resources
      -@subject_course_resources.each do |resource|
        -if current_user
          -if current_user && current_user.permission_to_see_content(@course)
            %li
              =link_to resource.file_upload.url, target: '_blank' do
                .btn.btn-secondary.btn-red.btn-list
                  =resource.name
          -else
            %li
              %a{data: {remodal: {target: 'access-denied-modal'}}, class: 'btn btn-secondary btn-red btn-list'}
                =resource.name
        -else
          %li
            =link_to new_student_url do
              .btn.btn-secondary.btn-red.btn-list
                =resource.name

