.row.l-margin-top
  .col-md-6
    %p.h4.l-margin-top
      ='About this Course'
    %p
      =@course.description.to_s.html_safe
    -if @course.external_url_name && @course.external_url && !@course.external_url_name.empty?
      %p
        =link_to @course.external_url, target: '_blank' do
          =@course.external_url_name

  .col-md-6
    -if @course.tutor.try(:profile_image_file_name)
      %p.h4.l-margin-bottom.l-margin-top
        =t('views.general.course_tutor')
      .tutor-header
        %p.h6
          =@course.tutor.full_name
        =link_to profile_url(@course.tutor) do
          =image_tag @course.tutor.profile_image.url, class: 'profile-pic profile-pic-small pull-right'
        %p
          =@course.tutor.try(:first_description).truncate(225).try(:html_safe)
    -else
      %p.h4.l-margin-bottom
        =t('views.general.course_tutor')
      .tutor-header
        %p.h6
          =@course.tutor.full_name
