=form_for(@enrollment, url: create_enrollment_url, html: {class: 'form-horizontal', role: 'form'}) do |f|

  .modal.fade#enrollmentModal{tabindex:'-1', role:'dialog', 'aria-labelledby':'enrollmentModalLabel'}
    .modal-dialog
      .modal-content.is-bg-asphalt.l-padding-side-15
        .container-fluid
          .modal-header
            .row
              .col-md-12
                %button{type: "button", class: 'close', "data-dismiss": 'modal', "aria-label": 'Close', style: 'font-size: 30px'} &times;
                %h2.modal-title{style: 'width: 95%'}
                  ="Enroll in #{@course.try(:name)}"
            .row
              .col-sm-12.l-margin-top
                %p
                  ='Have you registered to take this exam with'
                  =@course.exam_body.name
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  %label
                    %input{type: "checkbox", class: 'radio', value: 1, name: 'registered'}
                      Yes
                  &nbsp;
                  &nbsp;
                  %label
                    %input{type: "checkbox", class: 'radio', value: 1, name: 'not_registered'}
                      No



              .col-sm-12
                =f.label :student_number, t('views.enrollments.form.student_number'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :student_number, placeholder: t('views.enrollments.form.student_number_placeholder'), value: nil, class: 'form-control', style: 'border-radius: 6px;'

                %br/
                %hr/


          .l-margin-top.l-margin-bottom.pull-right
            =f.submit 'Start Course', class: 'btn btn-cyan'



:javascript
  $('input[type="checkbox"]').on('change', function() {
    $('input[type="checkbox"]').not(this).prop('checked', false);
  });
