=form_for(@enrollment, url: create_enrollment_url, html: {class: 'form-horizontal', role: 'form'}) do |f|

  .modal.fade#enrollmentModal{tabindex:'-1', role:'dialog', 'aria-labelledby':'enrollmentModalLabel'}
    .modal-dialog
      .modal-content.is-bg-asphalt.l-padding-side-15
        .container-fluid
          .modal-header
            .row
              .col-md-12
                %button{type: "button", class: 'close', "data-dismiss": 'modal', "aria-label": 'Close', style: 'font-size: 30px'} &times;
                %h2.modal-title{style: 'width: 95%'}
                  ="Enroll in #{@course.try(:name)}"
            .row
              .col-sm-12.l-margin-top
                %p
                  ='Have you registered to take this exam with'
                  =@course.exam_body.name
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  %label
                    %input{type: "checkbox", class: 'radio', value: 1, name: 'registered'}
                      Yes
                  &nbsp;
                  &nbsp;
                  %label
                    %input{type: "checkbox", class: 'radio', value: 1, name: 'not_registered'}
                      No

              .col-sm-12
                .col-sm-6
                  =f.label :student_number, t('views.enrollments.form.student_number'), class: 'control-label'
                  .input-group.input-group-lg.full-width
                    =f.text_field :student_number, placeholder: t('views.enrollments.form.student_number_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

                  %br/
                .col-sm-6
                  -unless current_user.date_of_birth
                    .col-sm-12
                      %label{class: 'control-label'}
                        =t('views.users.form.date_of_birth')
                      .input-group.input-group-lg.full-width
                        %input{type: "text", placeholder: 'Select Date ', class: 'form-control', name: 'date_of_birth', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker1'}


              .col-sm-12
                .col-sm-6
                  =f.label :exam_date, t('views.enrollments.form.exam_date'), class: 'control-label'
                  .input-group.input-group-lg.full-width
                    =f.collection_select :exam_date, @exam_sittings, :date, :date, {prompt: t('views.general.select'), include_blank: 'Online Exam'}, {class: 'form-control', style: 'border-radius: 6px;'}

                .col-sm-6
                  %label{class: 'control-label'}
                    ='Enter Online Exam Date'
                  .input-group.input-group-lg.full-width
                    %input{type: "text", placeholder: 'Select Date ', class: 'form-control', name: 'custom_exam_date', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker2'}


                %br/
                %hr/


          .l-margin-top.l-margin-bottom.pull-right
            =f.submit 'Enroll Now', class: 'btn btn-cyan'



:javascript
  $('input[type="checkbox"]').on('change', function() {
    $('input[type="checkbox"]').not(this).prop('checked', false);
  });

  $(function () {
    $('#datetimepicker1').datetimepicker();
      format: 'DD/MM/YYYY'
  });
    $(function () {
    $('#datetimepicker2').datetimepicker();
      format: 'DD/MM/YYYY'
  });