.remodal{"data-remodal-id" => "enrollment-modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12.l-margin-bottom
        %h3
          ="Welcome to the #{@course.try(:name)}."
        %h3
          ='To continue your studies please Enrol.'

      #enrollment_form
        =form_for(@new_enrollment, html: {class: 'form-horizontal', role: 'form', name: 'enrollment_modal_form'}) do |f|
          =f.hidden_field :subject_course_id, value: @course.id
          =f.hidden_field :subject_course_user_log_id, value: nil, id: 'hidden_scul_id'

          -if @course.computer_based && @computer_exam_sitting
            =f.hidden_field :exam_sitting_id, value: @computer_exam_sitting.id
            .row.l-margin-top.text-left
              .col-sm-6#custom_exam_date
                =f.label :exam_date, t('views.enrollments.form.computer_based_exam_date'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :exam_date, placeholder: 'Select Date ', class: 'form-control', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'exam_date_timepicker'

          -else
            .row.l-margin-top.text-left
              .col-sm-12
                .col-sm-6
                  =f.label :exam_sitting_id, t('views.enrollments.form.exam_sitting_id'), class: 'control-label'
                  .input-group.input-group-lg.full-width
                    =f.collection_select :exam_sitting_id, @exam_sittings, :id, :formatted_date, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;', id: 'exam_sitting_select'}





          -if @active_enrollment && @active_enrollment.expired
            %br/
            .col-sm-12
              .col-sm-10
                .l-margin-top-big
                  %label.check
                    %input{type: "checkbox", id: 'use_old_log'}
                      %span
                        %i.fa.fa-check
                      ='Keep progress from previous Enrolment'

          .col-sm-12.l-margin-top
            %p.p
              ="Enrolment is a requirement of the #{@course.exam_body.name}, it also allows us to better support and help you for your exam."


          %br/
          .col-sm-12#actions_btns
            .col-sm-4.col-sm-offset-8
              #enroll_now
                =submit_tag 'Enrol Now', class: 'btn btn-cyan', id: 'enroll_submit_button'


-if @course.computer_based && @computer_exam_sitting

  :javascript
    $( document ).ready(function() {
      $('#enroll_submit_button').attr('disabled', true);
    });
    $('#exam_date_timepicker').focusout(function(){
      if ($('#exam_date_timepicker').val().length !=0) {
        $('#enroll_submit_button').attr('disabled', false);
      } else if ($('#exam_date_timepicker').val().length == 0) {
        $('#enroll_submit_button').attr('disabled', true);
      }
    });

-else
  :javascript
    $( document ).ready(function() {
      $('#enroll_submit_button').attr('disabled', true);
    });
    $('#exam_sitting_select').change(function () {
      if ($('#exam_sitting_select option:selected').text() == 'Select...') {
        $('#enroll_submit_button').attr('disabled', true);
      } else {
        $('#enroll_submit_button').attr('disabled', false);
      }
    });


:javascript

  // JS to submit form when modal confirmation btn is clicked
  $(document).on('confirmation', '.remodal', function () {
    $("#enrollment_form").hide();
    document.forms['enrollment_modal_form'].submit();
  });



  // Date Picker
  $(function () {
    $('#exam_date_timepicker').datetimepicker();
      format: 'DD/MM/YYYY'
  });

-if @active_enrollment && @active_enrollment.expired

  :javascript
    // Set the hidden field value if checkbox is selected
    var scul_id = #{@active_enrollment.subject_course_user_log_id}
    $('input[type="checkbox"]').on('change', function() {
      if($('#use_old_log').prop('checked') == true) {
        $("#hidden_scul_id").val(scul_id);
      } else if($('#use_old_log').prop('checked') == false) {
        $("#hidden_scul_id").val('nil');
      }
    });
