.row
  .col-xl-8
    .pb-2
      %p.mb-4
        =@course.description.to_s.html_safe
  .col-xl-4
    -if @course.course_tutor_details.any?
      %aside.pb-5.pb-xl-3
        %h4.text-gray2 Course Tutors
        -@course_tutor_details.each do |course_tutor|
          %div
            =link_to profile_url(course_tutor.user.name_url), class: 'profile-item link-alt d-inline-flex align-items-center mb-3' do
              .mr-3
                =image_tag course_tutor.user.profile_image.url, class: 'img-thumbnail img-thumbnail-xs', alt: 'Tutor Profile Image'
              %div
                %p.profile-name.font-weight-medium.mb-0
                  =course_tutor.user.full_name.to_s
                %small.text-gray2
                  =course_tutor.title

