.remodal{"data-remodal-id" => "enrollment-modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12
        %h3
          ="Welcome to the #{@course.try(:name)}."
        %h3
          ='To continue your studies please enrol.'

  =render partial: 'layouts/enrollment_form'
