.remodal{"data-remodal-id" => "modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      %h2
        ="Enroll in #{@course.try(:name)}"
  =form_for(@enrollment, url: create_enrollment_url, html: {class: 'form-horizontal', role: 'form', name: 'enrollment_modal_form'}) do |f|
    .row.l-margin-top
      .col-sm-12.l-margin-top.text-left
        .col-sm-8
          -name = @course.exam_body.name
          %p
            ='Have you registered to take this exam with'
            =name << '?'

        .col-sm-4
          .col-sm-12
            .inline-field
              %label{style: 'padding-right: 10px;'}
                %input{type: "checkbox", class: 'radio', value: 1, name: 'registered', id: 'registered_selection'}
                  Yes

              %label{style: 'padding-left: 10px;'}
                %input{type: "checkbox", class: 'radio', value: 1, name: 'not_registered'}
                  No

    .row#enrollment_form.text-left
      .col-sm-12.l-margin-top
        .col-sm-6
          =f.label :student_number, t('views.enrollments.form.student_number'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :student_number, placeholder: t('views.enrollments.form.student_number_placeholder'), class: 'form-control', style: 'border-radius: 6px;', id: 'student_number'

          %br/
        .col-sm-6
          -unless current_user.date_of_birth
            .col-sm-12
              %label{class: 'control-label'}
                =t('views.users.form.date_of_birth')
              .input-group.input-group-lg.full-width
                %input{type: "text", placeholder: 'Select Date ', class: 'form-control', name: 'date_of_birth', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker1'}


      .col-sm-12
        .col-sm-6
          =f.label :exam_date, t('views.enrollments.form.exam_date'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.collection_select :exam_date, @exam_sittings, :date, :date, {prompt: t('views.general.select'), include_blank: 'Online Exam'}, {class: 'form-control', style: 'border-radius: 6px;', name: 'exam_date'}

        .col-sm-6#custom_exam_date
          %label{class: 'control-label'}
            ='Enter Online Exam Date'
          .input-group.input-group-lg.full-width
            %input{type: "text", placeholder: 'Select Date ', class: 'form-control', name: 'custom_exam_date', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker2'}



    .row#registration_info.text-left
      .col-sm-12
        .col-sm-12.l-margin-top-big
          %p
            Not an ACCA member ? You can register for the exam
            =@course.external_url_name
            =link_to url_for(@course.external_url), target: '_blank' do
              Here
          %p
            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.


    %br/
    .col-sm-12#actions_btns
      .col-sm-4.col-sm-offset-8
        .btn.btn-cyan#enroll_now{"data-remodal-action" => "confirm"}
          Enroll Now




:javascript

  // Hide specific sections on page load
  $( document ).ready(function() {
    $("#registration_info").hide();
    $("#enrollment_form").hide();
    $("#actions_btns").hide();
    $("#enroll_now").attr("disabled", true);
    $("#custom_exam_date").hide();
  });

  // Hide and show the form or info section depending on which checkbox is selected
  $('input[type="checkbox"]').on('change', function() {
    $('input[type="checkbox"]').not(this).prop('checked', false);
    if(document.getElementById('registered_selection').checked) {
      $("#enrollment_form").show();
      $("#registration_info").hide();
      $("#enroll_now").text('Enroll Now');
      $("#enroll_now").attr("disabled", true);
      $('#student_number').keyup(function(){
        if($(this).val().length !=0)
            $('#enroll_now').attr('disabled', false);
        else
            $('#enroll_now').attr('disabled',true);
      })
    } else {
      $("#registration_info").show();
      $("#enrollment_form").hide();
      $("#enroll_now").text('Enroll Anyway');
      $("#enroll_now").attr("disabled", false);
    }
    $("#actions_btns").show();
  });

  // Reveal the custom_exam_date field only if correct value is selected in the exam_date dropdown
  $('select[name="exam_date"]').change(function () {
    if ((this).selectedIndex == 1) {
      $("#custom_exam_date").show();
    } else {
      $("#custom_exam_date").hide();
    }
  });

  // JS to submit form when modal confirmation btn is clicked
  $(document).on('confirmation', '.remodal', function () {
    document.forms['enrollment_modal_form'].submit();
  });

  $(document).on('closing', '.remodal', function () {
    $('input[type="checkbox"]').prop('checked', false);
    $("#enrollment_form").hide();
    $("#registration_info").hide();
  });



  // Both Date Pickers
  $(function () {
    $('#datetimepicker1').datetimepicker();
      format: 'DD/MM/YYYY'
  });
  $(function () {
    $('#datetimepicker2').datetimepicker();
      format: 'DD/MM/YYYY'
  });
