.row.l-margin-top
  .col-md-6
    %p.h4.l-margin-top
      ='About this Course'
    %p
      =@course.description.to_s.html_safe

  -if @course.course_tutor_details.any?
    .col-md-6
      %p.h4.l-margin-bottom.l-margin-top
        =t('views.general.course_tutors')
      .col-sm-12
        -@course_tutor_details.each do |course_tutor|
          .col-xs-6.l-margin-bottom
            .tutor-header.text-center
              .profile-pic
                =link_to profile_url(course_tutor.user) do
                  =image_tag course_tutor.user.profile_image.url, class: 'profile-pic-small'


              =link_to profile_url(course_tutor.user), style: 'text-decoration: none;' do
                .h6
                  =course_tutor.user.full_name
                .h5
                  =course_tutor.title
