.enrollment-form-cover
  .card.card-library
    .card-library-outer-cover
      .card-inner
        .col-sm-8.col-xs-12
          %h3.h3.card-title.l-margin-bottom
            =@course.name
        .col-sm-4.col-xs-12.text-center


          %a.enrollmentModal{href: '#', data: {toggle: 'modal', target: '#enrollmentModal'}, class: 'btn btn-cyan btn-wide'}
            Enroll
