.modal.fade{id: 'pricing-modal', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'pricingModal', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content.pricing
      %button.btn.btn-icon.modal-close{"data-dismiss" => "modal"}
        %span.sr-only Close Modal
        %i.material-icons{"aria-hidden" => "true"} close
      .modal-header.mb-1
        %h4{id: 'pricingOptions'}
          ✨ PREMIUM PLANS

      .modal-body
        .row#product_purchase{style: 'max-width: 720px; margin: 0 auto;'}
          - if @course_product
            .form-group.w-100
              .custom-control.custom-radio.subscriptionPageWrapper-customRadio
                %input.custom-control-input.custom-control-input-card.style-radio{:type => "radio", :checked => true}
                %label.custom-control-label.justify-content-start
                  .d-flex.py-0.w-100
                    .d-flex.flex-column.justify-content-between.align-items-start{style: 'width: 60% !important;'}
                      %div.h4.m-0.text-black
                        =@course_product.name_by_type
                      %div.m-0.text-gray1
                        ="One-time Payment"
                    .d-flex.flex-column.justify-content-center.align-items-end{style: 'width: 40% !important;'}
                      %div.h4.m-0.text-black
                        %span.subscriptionPageWrapper-priceValue{style: 'color: #00b67b;'}
                          =number_in_local_currency(@course_product.price, @course_product.currency)
                      %div.h5.m-0.text-gray1
                        -if @course_product.savings_label.present?
                          %span.discount{style: 'font-size: 12px;background-color: #FCD34D;padding: 2px 6px;border-radius: 4px;'}
                            =@course_product.savings_label
                    .d-flex.flex-column.justify-content-center.align-items-end{style: 'width: 25% !important;'}  
                      =link_to 'Purchase', product_link(@course_product, current_user, params[:login]), class: 'btn btn-dark btn-sm sub-pricing-btn'


          -@subscription_plans.each do |plan|
            .form-group.w-100
              .custom-control.custom-radio.subscriptionPageWrapper-customRadio
                %input.custom-control-input.custom-control-input-card.style-radio{:type => "radio", :checked => true}
                %label.custom-control-label.justify-content-start
                  .d-flex.py-0.w-100
                    .d-flex.flex-column.justify-content-between.align-items-start{style: 'width: 60% !important;'}
                      %div.h4.m-0.text-black
                        =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                      %div.m-0.text-gray1
                        ="Recurring Payment. Cancel Anytime"
                    .d-flex.flex-column.justify-content-center.align-items-end{style: 'width: 40% !important;'}
                      %div.h4.m-0.text-black
                        %span.subscriptionPageWrapper-priceValue{style: 'color: #00b67b;'}
                          =plan.currency.format_number(plan.price)
                      %div.h5.m-0.text-gray1
                        -if !plan.savings_label.blank?
                          %span.discount{style: 'font-size: 12px;background-color: #FCD34D;padding: 2px 6px;border-radius: 4px;'}
                            =plan.savings_label
                    .d-flex.flex-column.justify-content-center.align-items-end{style: 'width: 25% !important;'}  
                      = link_to 'Subscribe', subscription_checkout_special_link(plan.exam_body_id, plan.guid, params[:login]), class: 'btn btn-dark btn-sm sub-pricing-btn'


          -if @lifetime_product
            .form-group.w-100
              .custom-control.custom-radio.subscriptionPageWrapper-customRadio
                %input.custom-control-input.custom-control-input-card.style-radio{:type => "radio", :checked => true}
                %label.custom-control-label.justify-content-start
                  .d-flex.py-0.w-100
                    .d-flex.flex-column.justify-content-between.align-items-start{style: 'width: 60% !important;'}
                      %div.h4.m-0.text-black
                        =@lifetime_product.name_by_type
                      %div.m-0.text-gray1
                        One-time Payment
                    .d-flex.flex-column.justify-content-center.align-items-end{style: 'width: 40% !important;'}
                      %div.h4.m-0.text-black
                        %span.subscriptionPageWrapper-priceValue{style: 'color: #00b67b;'}
                          =number_in_local_currency(@lifetime_product.price, @lifetime_product.currency)
                      %div.h5.m-0.text-gray1
                        -if @lifetime_product.savings_label.present?
                          %span.discount{style: 'font-size: 12px;background-color: #FCD34D;padding: 2px 6px;border-radius: 4px;'}
                            =@lifetime_product.savings_label
                    .d-flex.flex-column.justify-content-center.align-items-end{style: 'width: 25% !important;'}  
                      =link_to 'Purchase', product_link(@lifetime_product, current_user, params[:login]), class: 'btn btn-dark btn-sm sub-pricing-btn'
