.row
  %hr/
  -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
    .col-sm-10.col-sm-offset-1
      .panel.panel-list
        -#if child.class == CourseModule
          =link_to library_special_link(child), class: 'panel-body panel-title col-sm-12 hidden-xs panel-text' do
            .col-xs-10.a-tag
              =child.name
            .col-xs-2.progress-circle.pull-right
              %p.text-center
                ='15%'
          =link_to library_special_link(child), class: 'panel-body panel-title col-sm-12 panel-text visible-xs' do
            =child.name
        -#else
        =link_to library_special_link(child), class: 'panel-body panel-title col-sm-12 hidden-xs' do
          =child.name
          .pull-right
            -if child.class == CourseModule
              -#.badge=child.percentage_complete_by_user_or_guid(current_user.try(:id), current_session_guid).round(0).to_s + '%'
              -if child.active_children.all_videos.count > 1
                =(child.active_children.all_videos.count).to_s + (' Videos')
              -elsif child.active_children.all_videos.count == 1
                =(child.active_children.all_videos.count).to_s + (' Video')

              -if child.active_children.all_quizzes.count > 1
                |
                =(child.active_children.all_quizzes.count).to_s + (' MCQs')
              -elsif child.active_children.all_quizzes.count == 1
                |
                =(child.active_children.all_quizzes.count).to_s + (' MCQ')
              -else
            -else
              .glyphicon.glyphicon-menu-right

        =link_to library_special_link(child), class: 'panel-body panel-title col-sm-12 visible-xs' do
          =child.name
          -if child.class == CourseModule
            -#.badge=child.percentage_complete_by_user_or_guid(current_user.try(:id), current_session_guid).round(0).to_s + '%'
            %hr/
            -if child.active_children.all_videos.count > 1
              =(child.active_children.all_videos.count).to_s + (' Videos')
            -elsif child.active_children.all_videos.count == 1
              =(child.active_children.all_videos.count).to_s + (' Video')
            -else

            -if child.active_children.all_quizzes.count > 1
              |
              =(child.active_children.all_quizzes.count).to_s + (' MCQs')
            -elsif child.active_children.all_quizzes.count == 1
              |
              =(child.active_children.all_quizzes.count).to_s + (' MCQ')
          -else
            .glyphicon.glyphicon-menu-right
