-total_lessons = @course_log.course.completion_cme_count
-completed_lessons = @course_log.try(:count_of_cmes_completed) || 0
-complete_percent = @course_log.try(:percentage_complete)

.courseProgressWrapper
  .courseProgressWrapper-progress
    %h4.sr-only Course Progress
    %div
      .progress
        .progress-bar{role: "progressbar", 'aria-valuenow': complete_percent, 'aria-valuemin': "0", 'aria-valuemax': '100', style: "width: #{complete_percent}%"}

  .courseProgressWrapper-percent
    %small.text-gray2.mb-3
      %span.current-step-indicator=complete_percent.to_s << '%'
      Complete
