-if user && @course_product && !user.can_view_content?(@group.exam_body_id, @group.id, @course.id)
  .upgradeNudgeMini.mb-4
    .upgradeNudgeMini-title
      .upgradeNudgeMini-titleText
        Upgrade to unlock the complete syllabus
    .upgradeNudgeMini-action
      %a#enrol-top{data: {target: '#pricing-modal', toggle: 'modal'}, href: '#', class: 'btn btn-primary'}
        View Subscription Plans
-elsif user && !user.can_view_content?(@group.exam_body_id, @group.id, @course.id)
  .upgradeNudgeMini.mb-4
    .upgradeNudgeMini-title
      .upgradeNudgeMini-titleText
        Upgrade to unlock the complete syllabus
    .upgradeNudgeMini-action
      =link_to pricing_url(@group.name_url), class: 'btn btn-primary upgrade' do
        View Subscription Plans
-elsif !user
  .upgradeNudgeMini.mb-4
    .upgradeNudgeMini-icon
      📨
    .upgradeNudgeMini-title
      .upgradeNudgeMini-titleText
        ="Kickstart your #{@group.name} preparation today!"
    .upgradeNudgeMini-action
      =link_to new_student_url, class: 'btn btn-primary upgrade', onclick: "gtag('event', 'clicks_register_now', {'event_category': 'pre-registration', 'event_label': '#{@course.name}'});" do
        Register Now
