-if user && @course_product && !user.can_view_content?(@group.exam_body_id, @group.id, @course.id)
  .upgradeNudgeMini
    .upgradeNudgeMini-title
      Upgrade subscription to unlock full syllabus
    .upgradeNudgeMini-desc
      Make getting your CPD credits easy this year. Get instant and flexible access to over 100 certified CPD courses designed for accountants.
    .upgradeNudgeMini-action
      %a#enrol-top{data: {target: '#pricing-modal', toggle: 'modal'}, href: '#', class: 'btn btn-primary'}
        ='Upgrade Now'
-elsif user && !user.can_view_content?(@group.exam_body_id, @group.id, @course.id)
  .upgradeNudgeMini
    .upgradeNudgeMini-title
      Upgrade subscription to unlock full syllabus
    .upgradeNudgeMini-desc
      Make getting your CPD credits easy this year. Get instant and flexible access to over 100 certified CPD courses designed for accountants.
    .upgradeNudgeMini-action
      =link_to pricing_url(@group.name_url), class: 'btn btn-primary upgrade' do
        Upgrade Now
-elsif !user
  .upgradeNudgeMini
    .upgradeNudgeMini-title
      Upgrade subscription to unlock full syllabus
    .upgradeNudgeMini-desc
      Make getting your CPD credits easy this year. Get instant and flexible access to over 100 certified CPD courses designed for accountants.
    .upgradeNudgeMini-action
      =link_to new_student_url, class: 'btn btn-primary upgrade', onclick: "gtag('event', 'clicks_register_now', {'event_category': 'pre-registration', 'event_label': '#{@course.name}'});" do
        Register Now

