-if user && @course_product && !user.can_view_content?(@group.exam_body_id, @group.id, @course.id)
  %a#enrol-top{data: {target: '#pricing-modal', toggle: 'modal'}, href: '#', class: 'btn btn-primary'}
    ='Upgrade Now'
-elsif user && !user.can_view_content?(@group.exam_body_id, @group.id, @course.id)
  = link_to pricing_url(@group.name_url), class: 'btn btn-primary upgrade' do
    Upgrade Now
-elsif !user
  =link_to new_student_url, class: 'btn btn-primary upgrade', onclick: "gtag('event', 'clicks_register_now', {'event_category': 'pre-registration', 'event_label': '#{@course.name}'});" do
    Register Now
