.panel-group#accordion
  %ul.course-topics-list
    -@revision_course_modules.each_with_index do |child, counter|
      %li{role: 'tab', data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_revision_#{counter}"}
        .box-item.lib-panel#headingOne{ aria: {expand: true, controls: "collapse_revision_#{counter}"}, style: "background-color: #{child.try(:highlight_colour)}"}
          .box-topic-item
            =truncate(child.name, length: 50)
          .time.hidden-xs
            -if child.quiz_count.to_i > 0
              -if child.quiz_count.to_i == 1
                =child.quiz_count.to_s + ' ' + t('views.library.show.mcq')
              -elsif child.quiz_count.to_i > 1
                =child.quiz_count.to_s + ' ' + t('views.library.show.mcqs')
              -if child.video_count > 0
                |
                -if child.video_count == 1
                  =child.video_count.to_s + ' ' + t('views.library.show.video')
                -elsif child.video_count > 1
                  =child.video_count.to_s + ' ' + t('views.library.show.number_of_videos')


      .panel-collapse.collapse.list-group.l-margin-bottom{id: "collapse_revision_#{counter}", class: (child.id == @child_id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'} }
        -child.children.all_in_order.all_active.each do |grandchild|

          -if current_user
            -if current_user.permission_to_see_content(@course)
              =link_to course_special_link(grandchild), class: 'list-group-item link-purple box-topic-item' do
                =render partial: 'panel_content', locals: {grandchild: grandchild}
            -else
              -if @course.subscription?
                =link_to user_new_subscription_url(current_user), class: 'list-group-item link-purple box-topic-item' do
                  =render partial: 'panel_content', locals: {grandchild: grandchild}

              -elsif @course.product?
                =link_to users_new_order_url(@course.name_url), class: 'list-group-item link-purple box-topic-item' do
                  =render partial: 'panel_content', locals: {grandchild: grandchild}

          -else
            -if @course.subscription?
              =link_to new_student_url, class: 'list-group-item link-purple box-topic-item' do
                =render partial: 'panel_content', locals: {grandchild: grandchild}

            -elsif @course.product?
              =link_to users_new_order_url(@course.name_url), class: 'list-group-item link-purple box-topic-item' do
                =render partial: 'panel_content', locals: {grandchild: grandchild}

