#sidebar-wrapper-student.text-center
  #sidebar
    #menu
      .menu-title
        %div
          %h3.sidebar-title{data: {course: @course.name, module: @course_lesson.name}}
            = link_to @course.name, navigation_special_link(@course_step), title: @course.name
            = succeed @course_lesson.name do
              %i.material-icons.color-shade{"aria-label" => "failed", :role => "img", :style => "position: relative;top: 6px;"} arrow_right
        #step-block
          -@course_lesson.active_children.each_with_index  do |step, index|
            - permission = step.available_to_user(current_user, @valid_subscription, @course_log)
            - if step.course_lesson.free || permission[:view]
              =link_to course_special_link(step, @course_log) do
                .step{data: {course_step: step.name}, :class => sidepanel_border_radius(@course_step_index,index,@course_lesson.active_children.length.to_i) }
                  .step-part
                    %div
                      %i.material-icons.icon-bg-round{"aria-label" => "failed", :role => "img", :style => "background-color: #000032;\n    color: #ffffff;\n    padding: 0em 0.4em 1.2em 0em;\n    border-radius: 5px;\n    width: 100%;"}
                        -if @course_log
                          %span{class: @course_log && @course_log.course_step_logs && @course_log.course_step_logs.map(&:course_step_id).include?(step.id) ? (@course_log.course_step_logs.all_completed.map(&:course_step_id).include?(step.id) ? 'small-dot' : 'small-dot-alt') : 'small-dot-neutral'}
                        -else
                          %span.small-dot-neutral
                        -if step.is_video?
                          ondemand_video
                        -elsif step.is_quiz?
                          playlist_add_check
                        -elsif step.is_note?
                          insert_drive_file
                        -elsif step.is_practice_question?
                          dynamic_form
                        -elsif step.is_constructed_response?
                          sticky_note_2
                        -else
                          insert_drive_file
                    %h3.step-part-content
                      =step.name
                  .color-shade.step-part-font
                    -unless step.estimated_time_in_seconds.nil? || step.estimated_time_in_seconds == 0
                      =seconds_to_time(step.estimated_time_in_seconds)

            - elsif !permission[:view] && permission[:reason] == 'invalid-subscription'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

            - elsif !permission[:view] && permission[:reason] == 'related-lesson-restriction'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

      %p.sidebar-step-title#sidebar-steps-count
        =@course_step_index
        of
        =@course_lesson.active_children.count
        Steps
  #sidebar-bottom-menu
    .bottom-menu
      -if @course_lesson.next_module
        =link_to course_special_link(@course_lesson&.next_module&.first_active_cme), class: 'btn btn-secondary btn-sm btn-sm-arrow-right mb-3 mb-sm-0', data: {module: @course_lesson&.next_module&.name} do
          Next Module

#sidebar-wrapper-student-responsive.text-center
  #sidebar
    #menu
      .menu-title
        %div
          %h3.sidebar-title{data: {course: @course.name, module: @course_lesson.name}}
            = link_to @course.name, navigation_special_link(@course_step), title: @course.name
            = succeed @course_lesson.name do
              %i.material-icons.color-shade{"aria-label" => "failed", :role => "img", :style => "position: relative;top: 6px;"} arrow_right
        #step-block.step-block-column
          -@course_lesson.active_children.each_with_index  do |step, index|
            - permission = step.available_to_user(current_user, @valid_subscription, @course_log)
            - if step.course_lesson.free || permission[:view]
              =link_to course_special_link(step, @course_log) do
                .step{data: {course_step: step.name}, class: sidepanel_border_radius(@course_step_index,index,@course_lesson.active_children.length.to_i) }
                  .step-part
                    %div
                      %i.material-icons.icon-bg-round{"aria-label" => "failed", :role => "img", :style => "background-color: #000032;\n    color: #ffffff;\n    padding: 0em 0.4em 1.2em 0em;\n    border-radius: 5px;\n    width: 100%;"}
                        -if @course_log
                          %span{class: @course_log && @course_log.course_step_logs && @course_log.course_step_logs.map(&:course_step_id).include?(step.id) ? (@course_log.course_step_logs.all_completed.map(&:course_step_id).include?(step.id) ? 'small-dot' : 'small-dot-alt') : 'small-dot-neutral'}
                        -else
                          %span.small-dot-neutral
                        -if step.is_video?
                          ondemand_video
                        -elsif step.is_quiz?
                          playlist_add_check
                        -elsif step.is_note?
                          insert_drive_file
                        -elsif step.is_practice_question?
                          dynamic_form
                        -elsif step.is_constructed_response?
                          sticky_note_2
                        -else
                          insert_drive_file
                    %h3.step-part-content
                      =step.name
                  .color-shade.step-part-font
                    -unless step.estimated_time_in_seconds.nil? || step.estimated_time_in_seconds == 0
                      =seconds_to_time(step.estimated_time_in_seconds)

            - elsif !permission[:view] && permission[:reason] == 'invalid-subscription'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

            - elsif !permission[:view] && permission[:reason] == 'related-lesson-restriction'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

      #sidebar-bottom-menu
        %p.sidebar-step-title
          =@course_step_index
          of
          =@course_lesson.active_children.count
          Steps
        .bottom-menu
          =link_to navigation_special_link(@course_step), class: 'btn btn-secondary btn-sm btn-sm-arrow-right mb-3 mb-sm-0', data: {module: @course_lesson&.next_module&.name} do
            Next Module

