#sidebar-wrapper-student.text-center
  #sidebar
    #menu
      .sidebar-back-btn
        .i.material-icons{:style => "font-size:16px; margin-right:6px;"} arrow_back
        = link_to 'Back to Course', navigation_special_link(@course_step)
      .menu-title
        %div
          %div.sidebar-title-course
            = link_to @course.name, navigation_special_link(@course_step), title: @course.name
          %div.sidebar-title-lesson
            =@course_lesson.name
          -# %h3.sidebar-title{data: {destination_url: navigation_special_link(@course_step), exit_type: 'Breadcrumbs',
          -#  step_id: @course_step.id, step_name: @course_step.name, module_id: @course_lesson.id, module_name: @course_lesson.name, course_id: @course.id,
          -#    course_name: @course.name, section_id: @course_lesson&.course_section_id, section_name: @course_lesson&.course_section&.name,
          -#     exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name,
          -#       preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name,
          -#    banner: @banner.present?.to_s, onboarding: current_user&.analytics_onboarding_valid?.to_s}}
          -#   = link_to @course.name, navigation_special_link(@course_step), title: @course.name
          -#   = succeed @course_lesson.name do
          -#     %i.material-icons.color-shade{"aria-label" => "failed", :role => "img", :style => "position: relative;top: 6px;"} arrow_right
          
        %div.lesson-title
          Lessons (
          =@course_lesson.active_children.count
          )
        #step-block
          -@course_lesson.active_children.each_with_index  do |step, index|
            - permission = step.available_to_user(current_user, @valid_subscription, @course_log)
            - if step.course_lesson.free || permission[:view]
              =link_to course_special_link(step, @course_log) do
                .step{data: {course_step: step.name}, :class => sidepanel_border_radius(@course_step_index,index,@course_lesson.active_children.length.to_i) }
                  .step-part
                    %div{:style => "height:20px;"}
                      %i.material-icons.icon-bg-round.side-nav-material-icons
                        -if @course_log
                          -# %span{class: @course_log && @course_log.course_step_logs && @course_log.course_step_logs.map(&:course_step_id).include?(step.id) ? (@course_log.course_step_logs.all_completed.map(&:course_step_id).include?(step.id) ? 'small-dot' : 'small-dot-alt') : 'small-dot-neutral'}
                          -# %span{class: @course_log && @course_log.course_step_logs && @course_log.course_step_logs.map(&:course_step_id).include?(step.id) ? (@course_log.course_step_logs.all_completed.map(&:course_step_id).include?(step.id) ? 'small-dot' : '') : ''}
                          -if @course_log.course_step_logs.all_completed.map(&:course_step_id).include?(step.id)
                            %span.green-check-iconWrapper
                              %i.material-icons.icon-bg-round.green-check{"aria-label" => "", :role => "img"}
                                check
                        -else
                          %span.small-dot-neutral
                        -if step.is_video?
                          smart_display
                        -elsif step.is_quiz?
                          quiz
                        -elsif step.is_note?
                          file_present
                        -elsif step.is_practice_question?
                          dynamic_form
                        -elsif step.is_constructed_response?
                          sticky_note_2
                        -else
                          file_present
                    %div.step-part-content
                      =step.name
                  .color-shade.step-part-font
                    -unless step.estimated_time_in_seconds.nil? || step.estimated_time_in_seconds == 0
                      =seconds_to_time(step.estimated_time_in_seconds) 
                      m

            - elsif !permission[:view] && permission[:reason] == 'invalid-subscription'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

            - elsif !permission[:view] && permission[:reason] == 'related-lesson-restriction'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

      -# %p.sidebar-step-title#sidebar-steps-count
      -#   =@course_step_index
      -#   of
      -#   =@course_lesson.active_children.count
      -#   Steps
  #sidebar-bottom-menu
    .bottom-menu
      -if @course_lesson.next_module
        =link_to course_special_link(@course_lesson&.next_module&.first_active_cme), class: 'btn btn-primary btn-lg btn-lg-arrow-right mb-3 mb-sm-0 w-100 font-weight-bold', data: {destination_url: course_special_link(@course_lesson&.next_module&.first_active_cme), type: 'Next Module'} do
          Next Module

#sidebar-wrapper-student-responsive.text-center
  #sidebar
    #menu
      .menu-title
        %div
          %h3.sidebar-title{data: {destination_url: navigation_special_link(@course_step), exit_type: 'Breadcrumbs'}}
            = link_to @course.name, navigation_special_link(@course_step), title: @course.name
            = succeed @course_lesson.name do
              %i.material-icons.color-shade{"aria-label" => "failed", :role => "img", :style => "position: relative;top: 6px;"} arrow_right
        #step-block.step-block-column
          -@course_lesson.active_children.each_with_index  do |step, index|
            - permission = step.available_to_user(current_user, @valid_subscription, @course_log)
            - if step.course_lesson.free || permission[:view]
              =link_to course_special_link(step, @course_log) do
                .step{data: {course_step: step.name}, class: sidepanel_border_radius(@course_step_index,index,@course_lesson.active_children.length.to_i) }
                  .step-part
                    %div
                      %i.material-icons.icon-bg-round.side-nav-material-icons
                        -if @course_log
                          -# %span{class: @course_log && @course_log.course_step_logs && @course_log.course_step_logs.map(&:course_step_id).include?(step.id) ? (@course_log.course_step_logs.all_completed.map(&:course_step_id).include?(step.id) ? 'small-dot' : 'small-dot-alt') : 'small-dot-neutral'}
                          -if @course_log.course_step_logs.all_completed.map(&:course_step_id).include?(step.id)
                            %span.green-check-iconWrapper
                              %i.material-icons.icon-bg-round.green-check{"aria-label" => "", :role => "img"}
                                check
                        -else
                          %span.small-dot-neutral
                        -if step.is_video?
                          smart_display
                        -elsif step.is_quiz?
                          quiz
                        -elsif step.is_note?
                          file_present
                        -elsif step.is_practice_question?
                          dynamic_form
                        -elsif step.is_constructed_response?
                          sticky_note_2
                        -else
                          file_present
                    %div.step-part-content
                      =step.name
                  .color-shade.step-part-font
                    -unless step.estimated_time_in_seconds.nil? || step.estimated_time_in_seconds == 0
                      =seconds_to_time(step.estimated_time_in_seconds)

            - elsif !permission[:view] && permission[:reason] == 'invalid-subscription'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

            - elsif !permission[:view] && permission[:reason] == 'related-lesson-restriction'
              =render partial: 'courses/navigation_restriction_link.html.haml', locals: {reason: permission[:reason], step: step, step_index: @course_step_index, index: index}

      #sidebar-bottom-menu
        -# %p.sidebar-step-title
        -#   =@course_step_index
        -#   of
        -#   =@course_lesson.active_children.count
        -#   Steps
        .bottom-menu
          -if @course_lesson.next_module
            =link_to course_special_link(@course_lesson&.next_module&.first_active_cme), class: 'btn btn-secondary btn-sm btn-sm-arrow-right mb-3 mb-sm-0', data: {destination_url: navigation_special_link(@course_step), type: 'Next Module'} do
              Next Module

:javascript
  $(document).ready(function(){

   setTimeout(function(){
     if (screen.width <= 768) {
      var divA = document.getElementById('course-right-show-elem-notes').offsetHeight;
      var divB = document.getElementById('sidebar-wrapper-student-responsive').offsetHeight;
      document.getElementById('console-wrapper-sidebar').style.height = String(divA + divB) + 'px'
     }
    }, 100);
  });