.row
  %hr/
  -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
    %div{class: (@hierarchy_item.children.all_active.count > 1 ? 'col-sm-6' : 'col-sm-6 col-sm-offset-3')}
      .panel.panel-default
        =link_to library_special_link(child), class: ('panel-heading clickable-panel ' + child.try(:text_colour_class)), style: 'background-color: #' + (child.try(:background_colour_code) || 'e15258') do
          .subject-headings.text-center
            =child.short_name
        .panel-body
          %p=child.description
