.modal.fade{id: 'invalid-subscription', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'invalidSubscription', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header.mb-3
        %h3.text-red{id: 'invalidSubscription'}
          Valid Subscription Required

      .modal-body
        %p.mb-4
          A valid account is required to access that content. Subscribe to a payment plan to access all course materials. Cancel anytime.
        %p.mb-4
          ="Get unlimited access to all #{@group.name} courses."

      .modal-footer
        =link_to 'Get Unlimited Access', subscription_checkout_special_link(@group.exam_body_id), class: 'btn btn-primary', title: 'Get Unlimited Access'

