.modal.fade{id: 'invalid-subscription', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'invalidSubscription', 'aria-hidden': 'true'}
  .modal-dialog.upgrade-modal{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons{'aria-hidden': 'true'}
          close
      %h3.text-red{id: 'invalidSubscription'}
        Unlock the
        %span full experience
        by getting your subcription today.
      .upgradeIllustration
        =image_tag('illustrations/upgrade-illustration-v1@2x.png', alt: 'upgrade')


        - if current_user&.subscription_action_required?
          %h5.text-warning
            ='There seems to be problem with your existing subscription. You should resolve this issue first or you may be double charged.'
            =link_to 'Resolve Issue!', account_url(anchor: 'account-info')

      .modal-footer
        =link_to 'View Subscription Plans', pricing_url(@group.name_url), class: 'btn btn-dark upgrade-btn', title: 'Get Unlimited Access'
