.col-lg-12.col-xl-12
  =link_to '#', class: 'card flex-md-row', style: 'margin-bottom: 1rem;', data: { toggle: 'tooltip', placement: 'right', animation: 'true', delay: { "show": 300, "hide": 100 }}, title: "" do
    .card-body.d-flex.flex-column.justify-content-center
      %div.libraryGroupWrapper-list-courseInfo
        %div.libraryGroupWrapper-list-courseIcon{style: "border-color: ; background-color: ;"}
          %i{ :role => "img", class: 'budicon-office-bag-c', style: "color: #FFF;"}
        %div
          %div.courseName
            No result matchs with the selected filters.
