.modal.fade{id: 'trial-restriction', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'trialAccessRestricted', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %span
          Close
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header
        %h3.text-red{id: 'trialAccessRestricted'}
          Trial Access Restricted

      .modal-body
        %p.font-weight-medium.mb-4.text-purple
          Sorry! That content is not available on a trial account.
        %p.mb-4.text-purple
          Upgrade your account to get full access

      .modal-footer
        =link_to 'Upgrade', new_subscription_url, class: 'btn btn-primary', title: 'Upgrade your account'

