.remodal{"data-remodal-id" => "user-exam-body-modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12.l-margin-bottom
        %h3
          ="#{@course.exam_body.name} Details Required"
        %p
          ="The ACCA require that we record your Student Number and DOB for their identification purposes."
      =render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}

      =form_for(@user, url: update_exam_body_user_details_url, html: {class: 'form-horizontal', role: 'form', name: 'user_modal_form'}) do |f|
        .row.l-margin-top.text-left
          .col-sm-12
            .col-sm-6
              =f.label :student_number, "#{@course.exam_body.name} Student Number", class: 'control-label'
              .input-group.input-group-lg.full-width
                =f.text_field :student_number, placeholder: t('views.users.form.student_number_placeholder'), class: 'form-control', style: 'border-radius: 6px;', required: true

            .col-sm-6
              =f.label :date_of_birth, t('views.users.form.date_of_birth'), class: 'control-label'
              .input-group.input-group-lg.full-width
                =f.date_field :date_of_birth, placeholder: t('views.users.form.date_of_birth_placeholder'), class: 'form-control', style: 'border-radius: 6px;', required: true




        %br/
        .col-sm-12#actions_btns
          .col-sm-4.col-sm-offset-8
            #submit
              =submit_tag 'Submit', class: 'btn btn-cyan'



:javascript

  $(document).on('confirmation', '.remodal', function () {
    document.forms['user_modal_form'].submit();
  });

