.modal.fade{id: form_id, tabindex: '-1', role: 'dialog', 'aria-labelledby': 'user_form', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-text.modal-close.p-0{"data-dismiss" => "modal"}
        %span.sr-only Close Modal
        %i.material-icons{"aria-hidden" => "true"} close

      .modal-header
        %h3.mb-3{id: 'user_form'}
          =ticket_type

      .modal-body
        =form_tag(user_contact_form_path, {class: 'form py-2', role: 'form', name: 'user_contact_form'}) do
          =hidden_field_tag :type, ticket_type
          .row
            .col-sm-6
              .form-group
                =label_tag :full_name, 'Name'
                =text_field_tag :full_name, nil, class: 'form-control', placeholder: 'Enter your full name'

            .col-sm-6
              .form-group
                =label_tag :email, 'Email'
                =email_field_tag :email_address, nil, class: 'form-control', placeholder: 'Enter your Email'

            .col-sm-12
              .form-group
                =label_tag :question, 'Question'
                =text_area_tag :question, nil, rows: 3, class: 'form-control', placeholder: 'Please outline your question'
          .pt-2
            =submit_tag 'Submit', class: 'btn btn-primary btn-sm'
