.modal.fade{id: 'verification-required', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'verificationRequired', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header
        %h3.text-red{id: 'verificationRequired'}
          Email Verification Required

      .modal-body
        %p.mb-4
          To access this content you will need to verify your email address.
        %p.mb-4
          Check your inbox for your learnsignal verification email now.

      .modal-footer

