.modal.fade{id: 'verification-required', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'verificationRequired', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header
        %h3.text-red{id: 'verificationRequired'}
          Email Verification Required

      .modal-body
        %p.mb-4
          =verify_email_message(current_user.verify_remain_days)
        %p.mb-4
          =link_to resend_verification_mail_url(current_user.email_verification_code), method: :post, class: 'btn btn-secondary verification-btn btn-sm mb-3 mb-sm-0' do
            ='Resend Verification Email'

      .modal-footer

:javascript
  $(document).ready(function(){
      $('#verification-required').modal('show');
  });
