.modal.fade{id: 'verification-required', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'verificationRequired', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header
        %h3.text-red{id: 'verificationRequired'}
          Email Verification Required

      .modal-body
        %p.font-weight-medium.mb-4.text-purple
          We need you to verify you email address
        %p.mb-4.text-purple
          Click on the email we just sent you to verify your email address.


      .modal-footer

