.modal.fade{id: 'welcome-video-modal', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'welcomeVideoModal', 'aria-hidden': 'true'}
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header.mb-3
        %h3{id: 'welcomeVideoModal'}
          =@welcome_video&.name
      .modal-body
        #video-player-window
          .loading-dots
            .loading-dots--dot
            .loading-dots--dot.load-dots-mg
            .loading-dots--dot.load-dots-mg
          =render partial: 'courses/video_player', locals: { cme: @welcome_video, responsive: true, autoPlay: true }

-if @welcome_video.course_video.vimeo_guid && current_user.video_player && current_user.country&.iso_code != 'CN'
  :javascript
    let playedFired = false;
    let completedUpdateFired = false;

    let welcomeOnLoad = function(data) {
      updateHubSpotContact({'onboarding_course': "#{@course.name}", 'welcome_video': 'Not Started'})
    };

    let welcomeOnPlay = function(data) {
      if (playedFired === false) {
        playedFired = true;
        updateHubSpotContact({'welcome_video': 'Started'})
      }
    };

    let welcomeOnUpdate = function(data) {
      // trigger completed if video time was more than 50%
      if (data.percent >= 0.50 && completedUpdateFired === false) {
        completedUpdateFired = true;
        updateHubSpotContact({'welcome_video': 'Completed'})
      }
    };

    let welcomeOnEnd = function(data) {
      updateHubSpotContact({'welcome_video': 'Completed'})
    };


    function updateHubSpotContact(properties) {
      console.log(properties)
      $.ajax({
        url: "#{user_update_hubspot_path(current_user.id)}",
        method: 'post',
        data: JSON.stringify({'custom_data': properties } ),
        contentType: 'application/json',
        success: function(data,status,xhr){
          console.log(xhr)
        },
        error: function(xhr,status,error){
          console.log(xhr);
        }
      });
    }

    $(document).ready(function(){
      $('#welcome-video-modal').modal('show');
    });

    $('#welcome-video-modal').on('hidden.bs.modal', function (e) {
      player.pause()
    })

    player.on('bufferstart', welcomeOnLoad)
    player.on('timeupdate', welcomeOnUpdate);
    player.on('play', welcomeOnPlay);
    player.on('ended', welcomeOnEnd);

-elsif cme.course_video.dacast_id
  :javascript
    $(document).ready(function(){
      $('#welcome-video-modal').modal('show');
      updateHubSpotContact({'onboarding_course': "#{@course.name}", 'welcome_video': 'Not Started'})
    });

    $('#welcome-video-modal').on('hidden.bs.modal', function (e) {
      myPlayer.pause();
    })

    function updateHubSpotContact(properties) {
      console.log(properties)
      $.ajax({
        url: "#{user_update_hubspot_path(current_user.id)}",
        method: 'post',
        data: JSON.stringify({'custom_data': properties } ),
        contentType: 'application/json',
        success: function(data,status,xhr){
          console.log(xhr)
        },
        error: function(xhr,status,error){
          console.log(xhr);
        }
      });
    }

    myPlayer.onPlay(function(){
      updateHubSpotContact({'welcome_video': 'Started'})
    });

    myPlayer.onComplete(function(){
      updateHubSpotContact({'welcome_video': 'Completed'})
    });
