.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-library.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-4.col-md-4
          .l-margin-bottom
            =link_to library_special_link(@course.parent), class: 'btn btn-red btn-secondary' do
              .fa.fa-arrow-left
              =@course.parent.name

      -if current_user
        -if @course.subscription
          =render partial: 'layouts/content_notice', locals: {course: @course}

        -if @course.enrolled_user_ids.include?(current_user.id)
          =render partial: 'enrollment_info'

        -else
          -#Needs to be hidden and revealed upon clicking of ENROLL NOW BTN
          =render partial: 'enrollment_form'


      -else
        =render partial: 'layouts/content_notice', locals: {course: @course}
        %h1.h1.h-separator.h-separator-left
          =@course.name
        =render partial: 'course_info'


      .row
        .col-md-8.l-margin-top-big

          -if @course.tuition_children? || @course.test_children? || @course.revision_children?
            -if @course.tuition_children?
              -# First Section for Course Modules for Tuition
              %p.h4.l-margin-bottom
                =t('views.general.course_tuition')
              =render partial: 'library/tuition'

            -if @course.test_children?
              -# Second Section for Course Modules for Test
              %br/
              %p.h4.l-margin-bottom
                =t('views.general.course_test')
              =render partial: 'library/test'

            -if @course.revision_children?
              -# Third Section for Course Modules for Revision
              %br/
              %p.h4.l-margin-bottom
                =t('views.general.course_revision')
              =render partial: 'library/revision'

          -else
            -# Third Section for Course Modules for Revision
            %br/
            %p.h4.l-margin-bottom
              =t('views.general.course_content')
            =render partial: 'library/all_content'


          -# Fourth Section for Final Quiz and Certificate
          -if current_user && @course.certificate
            %br/
            %p.h4.l-margin-bottom
              =t('views.general.final_exam')
            -if @course.question_bank && @course.question_bank.active?
              -if @question_bank_passed
                -if current_user
                  =link_to course_question_bank_url(@course.name_url, @course.question_bank.id), class: 'final-quiz-box-item lib-panel', style: 'text-decoration: none;' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      .question-bank-passed
                        %i.glyphicon.glyphicon-ok-circle{style: 'font-size: large'}
                        Passed
                -else
                  =link_to new_student_url, class: 'list-group-item link-purple box-topic-item' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      .question-bank-passed
                        %i.glyphicon.glyphicon-ok-circle{style: 'font-size: large'}
                        Passed
                -if @subject_course_user_log.completed
                  %hr/
                  -if current_user
                    =link_to completion_certs_url(@cert.id, format: 'pdf'), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                      .box-topic-item
                        Click here to download your completion certificate
                  -else
                    =link_to completion_certs_url(@cert.id, format: 'pdf'), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                      .box-topic-item
                        Click here to download your completion certificate
              -else
                -if current_user
                  =link_to course_question_bank_url(@course.name_url, @course.question_bank.id), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      =@course.question_bank.number_of_questions.to_s + ' Questions'
                -else
                  =link_to new_student_url, class: 'list-group-item link-purple box-topic-item' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      =@course.question_bank.number_of_questions.to_s + ' Questions'
            -else
              -if @subject_course_user_log && @subject_course_user_log.completed
                %hr/
                =link_to completion_certs_url(@cert.id, format: 'pdf'), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                  .box-topic-item
                    Click here to download your completion certificate




        .col-md-4
          .l-margin-top-big
            -if @course_resources
              -if @course_resources.count >= 1
                %p.h4.l-margin-bottom
                  ='Course Resources'
                -@course_resources.each do |r|
                  %ul.course-resources
                    -if !current_user
                      =r.name
                    -elsif current_user && (current_user.free_member? || current_user.expired_free_member? || current_user.canceled_member?)
                      =r.name
                    -else
                      %li
                        -if r.web_url && r.web_url.length > 0
                          =link_to r.web_url, target: '_blank' do
                            .btn.btn-secondary.btn-red.btn-list
                              =r.name
                        -else
                          =link_to r.upload.url, target: '_blank' do
                            .btn.btn-secondary.btn-red.btn-list
                              =r.name


      -if current_user && @course.enrolled_user_ids.include?(current_user.id)
        .l-margin-top-huge
          =render partial: 'course_info'


-if current_user && !current_corporate && @subject_course_user_log && @subject_course_user_log.completed && @course.hotjar_guid

  :javascript
    hj('trigger', "#{@course.hotjar_guid}");
