.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-sm-6
          .l-margin-bottom
            -if @course.parent
              =link_to library_special_link(@course.parent), class: 'btn btn-red btn-secondary' do
                .fa.fa-arrow-left
                =@course.parent.name


      -if current_user
        =render partial: 'layouts/content_notice', locals: {course: @course}

        -if @course.enrolled_user_ids.include?(current_user.id)
          =render partial: 'enrollment_info'
        -else
          -if current_user && current_user.permission_to_see_content(@course)
            =render partial: 'enrollment_form'
            =render partial: 'course_enrollment_modal' if @course.exam_body && @course.exam_sitting

            -#if current_user.subject_course_user_log_course_ids.include?(@course.id)
              =render partial: 'layouts/enrollment_notice', locals: {course: @course}
          -else
            %h3.h3.card-title.l-margin-bottom
              =@course.name
          .l-margin-top-huge
            =render partial: 'course_info'

      -else
        .notice.warning
          .p
            .fa.fa-info-circle.icon
            A Valid Account is required to access this content.
            &#160;
            =link_to new_student_url do
              Claim your Free Trial?
        %h1.h1.h-separator.h-separator-left
          =@course.name
        =render partial: 'course_info'


      .row
        .col-md-8.l-margin-top-big

          -if @course.tuition_children? || @course.test_children? || @course.revision_children?
            -if @course.tuition_children?
              -# First Section for Course Modules for Tuition
              %p.h4.l-margin-bottom
                =t('views.general.course_tuition')
              =render partial: 'library/tuition'

            -if @course.test_children?
              -# Second Section for Course Modules for Test
              %br/
              %p.h4.l-margin-bottom
                =t('views.general.course_test')
              =render partial: 'library/test'

            -if @course.revision_children?
              -# Third Section for Course Modules for Revision
              %br/
              %p.h4.l-margin-bottom
                =t('views.general.course_revision')
              =render partial: 'library/revision'

          -else
            -# Third Section for Course Modules for Revision
            %br/
            %p.h4.l-margin-bottom
              =t('views.general.course_content')
            =render partial: 'library/all_content'




        .col-md-4
          .l-margin-top-big
            -#if current_user
              %p.h4.l-margin-bottom.l-margin-top
                Contact Tutor
              %a{data: {remodal: {target: 'tutor-contact-modal'}}, class: 'btn btn-orange btn-wide'}
                Ask The Tutor

            -if current_user && @course.mock_exams.any?
              %p.h4.l-margin-bottom.l-margin-top-huge
                Mock Exams
              %ul.course-resources
                -@products.each do |product|
                  %li
                    =link_to new_order_url(product) do
                      .btn.btn-secondary.btn-red.btn-list
                        =product.mock_exam.name

            -if current_user && @subject_course_resources && @subject_course_resources.any?
              %p.h4.l-margin-bottom.l-margin-top-huge
                Course Resources
              %ul.course-resources
                -@subject_course_resources.each do |resource|
                  %li
                    =link_to resource.file_upload.url, target: '_blank' do
                      .btn.btn-secondary.btn-red.btn-list
                        =resource.name


      -if current_user && @course.enrolled_user_ids.include?(current_user.id)
        .l-margin-top-huge
          =render partial: 'course_info'

-#=render partial: 'courses/tutor_contact'
=render partial: 'courses/access_denied_modal'
:javascript

  $('.lib-panel').click(function(){
    if($(this).is('.radius')){$(this).removeClass('radius'); return;}
    $(this).addClass('radius').siblings().removeClass('radius');
  });
