.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-library.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-6
          .l-margin-bottom
            =link_to library_special_link(@course.parent), class: 'btn btn-red btn-secondary' do
              .fa.fa-arrow-left
              =@course.parent.name


      -if current_user && !current_user.corporate_user?
        -if @course.subscription
          =render partial: 'layouts/content_notice', locals: {course: @course}


        -if @course.enrolled_user_ids.include?(current_user.id)
          =render partial: 'enrollment_info'
        -else
          -if current_user.permission_to_see_content(@course)
            =render partial: 'enrollment_form'
            =render partial: 'course_enrollment_modal' if @course.exam_body

            -if current_user.subject_course_user_log_course_ids.include?(@course.id)
              =render partial: 'layouts/enrollment_notice', locals: {course: @course}


          -else
            %h3.h3.card-title.l-margin-bottom
              =@course.name
          .l-margin-top-huge
            =render partial: 'course_info'



      -elsif current_user && current_user.corporate_user?
        =render partial: 'corporate_enrollment_form'

      -else
        =render partial: 'layouts/content_notice', locals: {course: @course}
        %h1.h1.h-separator.h-separator-left
          =@course.name
        =render partial: 'course_info'


      .row
        .col-md-8.l-margin-top-big

          -if @course.tuition_children? || @course.test_children? || @course.revision_children?
            -if @course.tuition_children?
              -# First Section for Course Modules for Tuition
              %p.h4.l-margin-bottom
                =t('views.general.course_tuition')
              =render partial: 'library/tuition'

            -if @course.test_children?
              -# Second Section for Course Modules for Test
              %br/
              %p.h4.l-margin-bottom
                =t('views.general.course_test')
              =render partial: 'library/test'

            -if @course.revision_children?
              -# Third Section for Course Modules for Revision
              %br/
              %p.h4.l-margin-bottom
                =t('views.general.course_revision')
              =render partial: 'library/revision'

          -else
            -# Third Section for Course Modules for Revision
            %br/
            %p.h4.l-margin-bottom
              =t('views.general.course_content')
            =render partial: 'library/all_content'


          -# Fourth Section for Final Quiz and Certificate
          -if current_user && @course.certificate && current_user.permission_to_see_content(@course)
            %br/
            %p.h4.l-margin-bottom
              =t('views.general.final_exam')
            -if @course.question_bank && @course.question_bank.active?
              -if @question_bank_passed
                -if current_user
                  =link_to course_question_bank_url(@course.name_url, @course.question_bank.id), class: 'final-quiz-box-item lib-panel', style: 'text-decoration: none;' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      .question-bank-passed
                        %i.glyphicon.glyphicon-ok-circle{style: 'font-size: large'}
                        Passed
                -else
                  =link_to new_student_url, class: 'list-group-item link-purple box-topic-item' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      .question-bank-passed
                        %i.glyphicon.glyphicon-ok-circle{style: 'font-size: large'}
                        Passed
                -if @subject_course_user_log.completed
                  %hr/
                  -if current_user
                    =link_to completion_certs_url(@cert.id, format: 'pdf'), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                      .box-topic-item
                        Click here to download your completion certificate
                  -else
                    =link_to completion_certs_url(@cert.id, format: 'pdf'), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                      .box-topic-item
                        Click here to download your completion certificate
              -else
                -if current_user
                  =link_to course_question_bank_url(@course.name_url, @course.question_bank.id), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      =@course.question_bank.number_of_questions.to_s + ' Questions'
                -else
                  =link_to new_student_url, class: 'list-group-item link-purple box-topic-item' do
                    .box-topic-item
                      =@course.question_bank.name
                    .time.hidden-xs
                      =@course.question_bank.number_of_questions.to_s + ' Questions'
            -else
              -if @subject_course_user_log && @subject_course_user_log.completed
                %hr/
                =link_to completion_certs_url(@cert.id, format: 'pdf'), class: 'cert-box-item lib-panel', style: 'text-decoration: none;' do
                  .box-topic-item
                    Click here to download your completion certificate




        .col-md-4
          .l-margin-top-big
            -if current_user && @course.mock_exam
              %p.h4.l-margin-bottom.l-margin-top-huge
                Mock Exam
              %ul.course-resources
                %li
                  =link_to mock_exam_url(@course.mock_exam) do
                    .btn.btn-secondary.btn-red.btn-list
                      =@course.mock_exam.name


      -if current_user && @course.enrolled_user_ids.include?(current_user.id)
        .l-margin-top-huge
          =render partial: 'course_info'


-if current_user && !current_corporate && @subject_course_user_log && @subject_course_user_log.completed && @course.hotjar_guid

  :javascript
    hj('trigger', "#{@course.hotjar_guid}");
