%main
  %article.libraryMainWrapper.bg-gray5
    %header.libraryMainWrapper-hero
      .container.libraryMainWrapper-heroInfoWrapper
        .heroTitle
          Explore our courses
        %p.heroDesc
          Discover our professional courses designed by experts and delivered online so that you can study on a schedule that suits your needs.

    %section.pb-md-6.container
      %h2.sr-only List of courses
      .row.justify-content-center
        -@groups.each do |group|
          .col-md-6.col-lg-4
            =link_to library_special_link(group), class: 'libraryMainWrapper-card' do
              .cardImage
                =image_tag(group.image.url, class: 'card-img-top', alt: 'People in front of the blackboard', style: "border-bottom-color: #{group.background_colour};")
              .card-body.text-left
                .card-examLogo
                  - if group.name == 'ACCA'
                    =image_tag('learning-partner-badge.png', alt: 'ACCA Logo')
                  - if group.name == 'CIMA'
                    =image_tag('cima-logo-square.png', alt: 'CIMA Logo')
                  - if group.name == 'FRM'
                    =image_tag('FRM_logo.png', alt: 'FRM Logo')
                  - if group.name == 'AAT'
                    =image_tag('AAT_Approved.png', alt: 'AAT Logo')
                %div.card-title
                  =group.name
                %p.card-desc
                  =group.description
                .mt-auto.text-right
                  .btn.btn-secondary.btn-sm
                    Browse Courses


  -unless current_user
    =render partial: 'student_sign_ups/usp_section'
    -if @home_page&.student_testimonials.any?
      .bg-gray5
        =render partial: 'student_sign_ups/student_testimonials', locals: {home_page: @home_page}
