=render partial: 'layouts/new_navbar'

.hero-library
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-separator.h-separator-center.text-center.l-margin-bottom-big.is-text-white
              Learn Signal Library
            %form.form-horizontal
              .row
                .col-sm-12
                  .input-group
                    %input.form-control{:placeholder => "Search our library", :type => "text"}
                      %span.input-group-btn
                        %button.btn.btn-red{:type => "button"} Search

.l-section.is-bg-asphalt
  .l-wrap
    .container-fluid
      .course-list-wrap
        .row
          -@levels_and_sections.each do |course|
            .col-sm-6.col-md-4
              =link_to library_special_link(course), class: 'box box-course' do
                .box-inner
                  %h3.h4.box-title
                    =course.name
                  %p.box-desc
                    =course.parent.name
                .box-label
                  -if current_user
                    Continue
                  -else
                    Start

=render partial: 'layouts/new_footer'

