%main
  %article.library.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3 Learn anytime, anywhere
        %p.p-hero.px-lg-8 Learn anytime, anywhere from our library of business-focused courses taught by expert tutors
      %section.pb-md-6
        %h2.sr-only List of courses
        .row.row-lg
          -@groups.each do |group|
            .col-lg-4
              %article.card.card-primary.card-pink
                =image_tag(group.image.url, class: 'card-img-top', alt: 'People in front of the blackboard', style: "border-bottom-color: #{group.background_colour};")
                .card-body.text-center
                  %h2.h1.card-title
                    =group.name
                  %p
                    =group.description
                  .mt-auto
                    =link_to 'Browse Courses', library_special_link(group), class: 'btn btn-secondary btn-sm'


-#.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.h1.h-separator.h-separator-center.l-margin-bottom-big
            Learn anytime, anywhere
          %p.h5.l-margin-bottom-big
            Learn anytime, anywhere from our library of business-focused courses taught by expert tutors

      .row.l-margin-top-huge.l-margin-bottom-huge
        -@groups.each do |group|
          .col-sm-6.col-md-4.l-margin-bottom-big.l-margin-top

            =link_to library_special_link(group), class: 'box box-course' do
              .image{style: "background: url(#{group.image.url}) repeat-x 50% 0; background-size: contain;"}
              .box-inner
                .l-margin-top-xl
                  %h2{style: 'margin-bottom: 5px;'}
                    =group.name
                  %p.p
                    =group.description

              .box-label
                %h6.h-white{style: 'margin-top: 0px; margin-bottom: 0px;'}
                  Browse Courses
