%br/
%h1='Course Library'
%hr/
%br/
.row
  .col-sm-12
    -@levels_and_sections.each do |e|
      .col-sm-3
        =link_to library_special_link(e) do
          .panel.panel-default
            .panel-body
              =e.name


=render partial: 'layouts/new_footer'