%main
  %article.library.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3 Explore our courses
        %p.p-hero.px-lg-6 Discover our professional courses designed by experts and delivered online so that you can study on a schedule that suits your needs.

      %section.pb-md-6
        %h2.sr-only List of courses
        .row.justify-content-center
          -@groups.each do |group|
            .col-lg-4
              %article.card.card-primary.card-pink
                =image_tag(group.image.url, class: 'card-img-top', alt: 'People in front of the blackboard', style: "border-bottom-color: #{group.background_colour};")
                .card-body.text-center
                  %h2.h1.card-title
                    =group.name
                  %p
                    =group.description
                  .mt-auto
                    =link_to 'Browse Courses', library_special_link(group), class: 'btn btn-secondary btn-sm'




  -unless current_user
    =render partial: 'student_sign_ups/usp_section'
    -if @home_page&.student_testimonials.any?
      .bg-gray5
        =render partial: 'student_sign_ups/student_testimonials', locals: {home_page: @home_page}
