.hero-library
  =render partial: 'layouts/transparent_navbar'
  .l-section-small
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-separator.h-separator-center.text-center.l-margin-bottom-big.is-text-white
              Learn anytime, anywhere
            %p.h5.h-white.text-center.l-margin-bottom-big8
              Learn anytime, anywhere from our library of business-focused courses taught by expert tutors

.l-section.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-top-big.l-margin-bottom-huge
        -@groups.each do |group|
          .col-md-6.l-margin-top
            =link_to library_special_link(group), class: 'box box-course', style: '' do
              .box-inner
                %h3.h4.box-title
                  =group.try(:name)
                .box-pic
                  =image_tag group.image.url
              .box-label
                =t('views.general.browse')



=render partial: 'layouts/new_footer'

