=render partial: 'layouts/new_navbar'

.l-section-small.is-bg-asphalt.is-bg-white-to-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-12.text-center
          %h1.h1.l-margin-bottom-big.text-center.h-separator.h-separator-center
            =@course.try(:name)
          -if @course.number_complete_by_user_or_guid(current_user.try(:id), current_session_guid) >= 1
            =link_to course_special_link(@next_element) do
              .btn.btn-red
                =t('views.library.index.continue_course')
          -else
            =link_to course_special_link(@course.first_active_cme) do
              .btn.btn-red
                =t('views.library.index.start_course')

.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-12.col-md-8
          .panel-group#accordion{ role: 'tablist', aria: {multiselectable: true} }
            %ul.course-topics-list
              -@course.children.all_active.all_in_order.each_with_index do |child, counter|
                %li{role: 'tab', data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}"}
                  .box-item.lib-panel#headingOne{ aria: {expand: true, controls: "collapse_#{counter}"} }
                    .box-topic-item
                      =truncate(child.name, length: 70)
                    .time.hidden-xs
                      -if child.number_of_questions.to_i > 0
                        -if child.number_of_questions.to_i == 1
                          =child.number_of_questions.to_s + ' ' + t('views.library.show.question')
                        -elsif child.number_of_questions.to_i > 1
                          =child.number_of_questions.to_s + ' ' + t('views.library.show.questions')
                        |
                      -if child.video_duration > 0
                        =humanize_time(child.video_duration)
                      -else
                        =humanize_time(child.estimated_time_in_seconds)

                .panel-collapse.collapse.list-group.l-margin-bottom{id: "collapse_#{counter}", class: (child.id == @child_id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'} }
                  -child.children.all_in_order.all_active.each do |grandchild|
                    =link_to course_special_link(grandchild), class: 'list-group-item link-purple box-topic-item' do
                      .row
                        .col-xs-12.col-sm-8
                          =grandchild.name
                        .col-xs-12.col-sm-4
                          .side-meta
                            -if grandchild.is_video
                              -if grandchild.try(:duration) > 0
                                =humanize_time(grandchild.duration)
                              -else
                                =humanize_time(grandchild.try(:estimated_time_in_seconds))

                            -elsif grandchild.is_quiz
                              =grandchild.number_of_questions.to_s + ' ' + t('views.library.show.questions')
                            -else
                              ='Flash Card'
                  -if child.course_module_jumbo_quiz && child.course_module_jumbo_quiz.active
                    =link_to course_special_link(child.course_module_jumbo_quiz), class: 'list-group-item link-purple box-topic-item' do
                      .row
                        .col-xs-12.col-sm-8
                          =child.course_module_jumbo_quiz.name
                        .col-xs-12.col-sm-4
                          .side-meta
                            =child.course_module_jumbo_quiz.total_number_of_questions.to_s + ' ' + t('views.library.show.questions')



        .col-sm-12.col-md-4.l-margin-bottom-huge
          %h3
            =t('views.subject_courses.show.description')
          %p
            =@course.try(:description)
          %h3.l-margin-top-big
            =t('views.subject_courses.show.info')
          %ul.lined-list
            %li.lined-list-item
              =t('views.general.duration')
              =humanize_time(@duration)
            %li.lined-list-item
              =t('views.general.updated_at')
              =humanize_datetime(@course.updated_at)
            -if @course.try(:tutor_id)
              -if @course.tutor.profile_image_file_name
                %br/
                =t('views.general.author')
                =@course.tutor.try(:full_name)
                %br/
                .col-md-6{style: 'padding-left: 0;'}
                  =link_to profile_url(@course.tutor), class: 'box'  do
                    .box-pic
                      =image_tag @course.tutor.profile_image.url, class: 'profile-pic', style: 'margin-bottom: 10px;'

              -else
                %li.lined-list-item
                  =t('views.general.author')
                  =@course.tutor.try(:full_name)
            -else
              ='Learn Signal'


          -#if @course.class == ExamSection
            =link_to t('views.library.show.new_question_bank'), new_section_question_bank_path, class: 'btn btn-cyan l-margin-top-big l-margin-bottom-big'
          -#else
            =link_to t('views.library.show.new_question_bank'), new_level_question_bank_path, class: 'btn btn-cyan l-margin-top-big l-margin-bottom-big'

  =render partial: 'layouts/new_footer'