=render partial: 'layouts/new_navbar'

.l-section-small.is-bg-asphalt.is-bg-white-to-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-12.text-center
          %h1.h1.l-margin-bottom-big.text-center.h-separator.h-separator-center
            =@course.try(:name)
          -if @course.number_complete_by_user_or_guid(current_user.try(:id), current_session_guid) >= 1
            =link_to course_special_link(@next_element) do
              .btn.btn-red
                =t('views.library.index.continue_course')
          -else
            =link_to course_special_link(@course.first_active_cme) do
              .btn.btn-red
                =t('views.library.index.start_course')

.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-12.col-md-8
          .panel-group#accordion{ role: 'tablist', aria: {multiselectable: true} }
            %ul.course-topics-list
              -@course.children.all_active.all_in_order.each_with_index do |child, counter|
                %li{role: 'tab', data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}"}
                  .box-item.lib-panel#headingOne{ aria: {expand: true, controls: "collapse_#{counter}"} }
                    .box-topic-item
                      =child.try(:name)
                    .time
                      -if child.number_of_questions.to_i > 0
                        =child.number_of_questions.to_s + ' ' + t('views.library.show.questions')
                        |
                      =child.children.all_videos.count.to_s + ' ' + t('views.library.show.number_of_videos')

                .panel-collapse.collapse.list-group.l-margin-bottom{id: "collapse_#{counter}", class: (child.id == @child_id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'} }
                  -child.children.all_in_order.all_active.each do |grandchild|
                    =link_to course_special_link(grandchild), class: 'list-group-item link-purple box-topic-item' do
                      .row
                        .col-xs-12.col-sm-8
                          =grandchild.name
                        .col-xs-12.col-sm-4
                          .side-meta
                            -if grandchild.is_video
                              =seconds_to_time(grandchild.estimated_time_in_seconds)
                            -elsif grandchild.is_quiz
                              =grandchild.number_of_questions.to_s + ' ' + t('views.library.show.questions')
                            -else
                              ='Flash Card'
                  -if child.course_module_jumbo_quiz && child.course_module_jumbo_quiz.active
                    =link_to course_special_link(child.course_module_jumbo_quiz), class: 'list-group-item link-purple box-topic-item' do
                      .row
                        .col-xs-12.col-sm-8
                          =child.course_module_jumbo_quiz.name
                        .col-xs-12.col-sm-4
                          .side-meta
                            =child.course_module_jumbo_quiz.total_number_of_questions.to_s + ' ' + t('views.library.show.questions')



        .col-sm-12.col-md-4
          %h3
            Description
          %p
            =@course.try(:description)
          %h3.l-margin-top-big
            More info
          %ul.lined-list
            %li
              =t('views.general.duration')
              =humanize_time(@course.try(:duration).to_i)
            %li
              =t('views.general.updated_at')
              =humanize_datetime(@course.updated_at)
            %li
              =t('views.general.author')
              -if @course.try(:tutor_id)
                =@course.tutor.try(:full_name)
              -else
                ='Learn Signal'
            -if @course.forum_url
              =link_to "Discuss #{@course.name} in the Forum", @course.forum_url, target: '_blank'
          -#if @course.class == ExamSection
            =link_to t('views.library.show.new_question_bank'), new_section_question_bank_path, class: 'btn btn-cyan l-margin-top-big l-margin-bottom-big'
          -#else
            =link_to t('views.library.show.new_question_bank'), new_level_question_bank_path, class: 'btn btn-cyan l-margin-top-big l-margin-bottom-big'

  =render partial: 'layouts/new_footer'