=render partial: 'layouts/new_navbar'

.l-section-small.is-bg-asphalt.is-bg-white-to-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-12.text-center
          %h1.h1.l-margin-bottom-big.text-center.h-separator.h-separator-center
            =@course.try(:name)
          =link_to course_special_link(@course.first_active_cme) do
            .btn.btn-red
              Start course

.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-12.col-md-8
          .panel-group#accordion{ role: 'tablist', aria: {multiselectable: true} }
            %ul.course-topics-list
              -@course.children.all_active.all_in_order.each_with_index do |child, counter|
                %li{role: 'tab', data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}"}
                  .box-item#headingOne{ aria: {expand: true, controls: "collapse_#{counter}"} }
                    .box-topic-item
                      =child.try(:name)
                    .time
                      =seconds_to_time(child.estimated_time_in_seconds)
                .panel-collapse.collapse.list-group.l-margin-bottom{id: "collapse_#{counter}", class: (child.id == @child_id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'} }
                  -child.children.all_in_order.all_active.each do |grandchild|
                    =link_to course_special_link(grandchild), class: 'list-group-item link-purple box-topic-item' do
                      .row
                        .col-xs-12.col-sm-8
                          =grandchild.name
                        .col-xs-12.col-sm-4
                          .side-meta
                            -if grandchild.is_video
                              =seconds_to_time(grandchild.estimated_time_in_seconds)
                            -elsif grandchild.is_quiz
                              =grandchild.course_module_element_quiz.number_of_questions.to_s + ' ' + t('views.library.show.questions')
                            -else
                              ='Flash Card'
                  -if child.course_module_jumbo_quiz && child.course_module_jumbo_quiz.active
                    =link_to course_special_link(child.course_module_jumbo_quiz), class: 'list-group-item link-purple box-topic-item' do
                      .row
                        .col-xs-12.col-sm-8
                          =child.course_module_jumbo_quiz.name
                        .col-xs-12.col-sm-4
                          .side-meta
                            =child.course_module_jumbo_quiz.total_number_of_questions.to_s + ' ' + t('views.library.show.questions')


        -#%ul.course-topics-list
          -#  -@course.children.all_active.all_in_order.each_with_index do |child|
          -#    %li
          -#      =link_to course_special_link(child.first_active_cme), class: 'box-item' do
          -#        .box-topic-item
          -#          =child.name
          -#        .time
          -#          -if child.class == ExamSection
          -#            =seconds_to_time(child.duration.to_i)
          -#          -elsif child.class == CourseModule
          -#            =seconds_to_time(child.estimated_time_in_seconds)



        .col-sm-12.col-md-4
          %h3
            Description
          %p
            =@course.try(:description)
          %h3.l-margin-top-big
            More info
          %ul.lined-list
            %li
              =t('views.general.duration')
              =humanize_time(@course.try(:duration).to_i)
            %li
              =t('views.general.updated_at')
              =humanize_datetime(@course.updated_at)
            %li
              =t('views.general.author')
              -if @course.try(:tutor_id)
                =@course.tutor.try(:full_name)
              -else
                ='Learn Signal'
          =#link_to t('views.library.show.new_question_bank'), new_question_bank_path, class: 'btn btn-cyan l-margin-top-big l-margin-bottom-big'

  =render partial: 'layouts/new_footer'