.hero-upcoming
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap-small
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              =@course.try(:name)
            %p.h5.h-white.text-center.l-margin-bottom-big
              =#@course.try(:short_description)
              This course is not live yet. Please provided your email below to be notified when it is released.
            #response
            =form_tag('/subscribe', method: 'post', id: 'mailchimpform', remote: 'true') do
              .form-horizontal
                .row
                  .col-sm-12
                    .input-group
                      =hidden_field_tag(:list_id, "#{@course.try(:mailchimp_guid)}")
                      =email_field(:email, :address, {id: 'email', placeholder: 'Register for notifications', class: 'form-control', style: 'border-bottom-left-radius: 4px; border-top-left-radius: 4px;'})
                      %span.input-group-btn
                        =submit_tag 'Register', class: 'btn btn-red', name: nil





.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-top-big
        .col-md-12
          .col-md-6
            %p.h4.l-margin-top
              ='About this Course'
            %p
              =@course.description.to_s.html_safe
          .col-md-6
            .course-info
              -if @course.tutor.try(:profile_image_file_name)
                %p.h4.l-margin-bottom.l-margin-top
                  =t('views.general.course_tutor')
                .tutor-header
                  %p.h6
                    =@course.tutor.full_name
                  =link_to profile_url(@course.tutor) do
                    =image_tag @course.tutor.profile_image.url, class: 'profile-pic profile-pic-small pull-right'
                  %p
                    =@course.tutor.try(:first_description).truncate(225).try(:html_safe)
                  .days-left.l-margin-top-big
                    .h8.text-center
                      =humanize_datetime(@course.created_at)

              -else
                %p.h4.l-margin-bottom
                  =t('views.general.course_tutor')
                .tutor-header
                  %p.h6
                    =@course.tutor.full_name
                  -if @course.tutor.first_description
                    %p
                      =@course.tutor.first_description.truncate(225).html_safe
                  .days-left.l-margin-top-big
                    .h8.text-center
                      =humanize_datetime(@course.created_at)

      .row
        .col-md-12
          .col-md-8.l-margin-top-big
            %p.h4.l-margin-bottom
              =t('views.general.course_content')
          .col-md-12.l-margin-top-big.l-margin-bottom
            %ul.course-topics-list
              -if @course.children.count > 0
                -@course.children.all_active.all_in_order.each do |child|
                  %li
                    .box-item.upcoming
                      =child.try(:name)



=render partial: 'layouts/new_footer'