.hero-upcoming
  .header{role: 'banner'}
    .l-wrap
      .container-fluid
        %nav.navbar.navbar-default.navbar-transparent
          .navbar-header
            %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_url do
              =image_tag('ls-logo-red.svg', class: 'logo')
          #myNavbar.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to 'Browse Courses', library_url
              %li
                =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}

  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom-big
              =@course.name
            %form.form-horizontal
              .row
                .col-sm-12
                  .input-group
                    %input.form-control{:placeholder => "Enter your email address", :type => "text"}
                      %span.input-group-btn
                        %button.btn.btn-red{:type => "button"} Subscribe
.l-asphalt
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-sm-12.col-md-8
            %ul.course-topics-list
              -if @course.children.count > 0
                -@course.children.all_active.all_in_order.each do |child|
                  %li
                    .box-item.upcoming
                      =child.name

          .col-sm-12.col-md-4
            %h3
              =t('views.exam_levels.form.description')
            %p
              -if @course.try(:description)
                =@course.try(:description)
              -else
                =@course.parent.try(:description)
            %h3.l-margin-top-big
              =t('views.general.author')
            %p
              -if @course.tutor
                =@course.tutor.try(:name)
              -else
                ='Learn Signal'
