=render partial: 'shared/breadcrumbs', locals: {the_thing: @hierarchy_item, use_breadcrumb: true}

.row
  .col-sm-12
    %h1
      -if @hierarchy_item.class == SubjectArea
        =t('views.library.show.h1')
      -else
        =@hierarchy_item.try(:name)
    %hr/
    -unless @hierarchy_item.parent.nil?
      =link_to course_special_link(@hierarchy_item.parent,'backwards') do
        &larr;
        =t('views.general.back')

.row
  %div{class: (@subject_areas.length > 1 ? 'col-sm-6' : 'col-sm-9')}
    .panel-group#accordion{role: 'tablist', aria: {multiselectable: true }}
      -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child, counter|
        .panel.panel-default
          .panel-heading#headingOne{role: 'tab'}
            %h4.panel-title
              %a{data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}", aria: {expanded: true, controls: "collapse_#{counter}"}}
                =child.name
              =link_to library_special_link(child) do
                %span.glyphicon.glyphicon-expand
              .pull-right
                =completion_label(child)
            .text-muted
              =pluralize((child.children.all_active.size + (child.try(:course_module_jumbo_quiz) ? 1 : 0)), t('views.library.show.item'))
          .panel-collapse.collapse{id: "collapse_#{counter}", class: (counter == 0 ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'}}
            .list-group
              -if @hierarchy_item.children.all_active.count > 0
                -child.children.all_active.all_in_order.each do |grand_child|
                  .list-group-item
                    .row
                      .col-sm-8
                        =completion_circle(grand_child)
                        =link_to grand_child.name, library_special_link(grand_child)
                        -if grand_child.class == CourseModuleElement
                          -if grand_child.is_video
                            %span.glyphicon.glyphicon-play
                          -else
                            %span.glyphicon.glyphicon-check
                      .col-sm-4
                        .text-right
                          -if grand_child.class == CourseModuleElement
                            -if grand_child.is_video
                              =t('views.library.show.video')
                              =seconds_to_time(grand_child.estimated_time_in_seconds)
                            -else
                              =grand_child.course_module_element_quiz.number_of_questions
                              =t('views.library.show.questions')
                          -elsif grand_child.children.all_active.any? || grand_child.try(:course_module_jumbo_quiz)
                            =pluralize(grand_child.children.all_active.count + (grand_child.try(:course_module_jumbo_quiz) ? 1 : 0), t("views.library.show.#{grand_child.children.first.class.name.underscore.gsub('nil_class','course_module_element')}"))
                -if child.class == CourseModule && child.course_module_jumbo_quiz
                  .list-group-item
                    .row
                      .col-sm-8
                        =completion_circle(child.course_module_jumbo_quiz)
                        =link_to child.course_module_jumbo_quiz.name, course_special_link(child.course_module_jumbo_quiz)
                      .col-sm-4
                        .text-right=t('views.library.show.jumbo_quiz')

  .col-sm-3
    .well.well-sm.text-center
      %h3 Lorem ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Incididunt ut labore et dolore magna aliqua.
      %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  -if @subject_areas.size > 1
    .col-sm-3
      %h3.no-top-gap=t('views.subject_areas.index.h1')
      .well.well-sm#subject-area-panel
        %ul.nav.nav-pills.nav-stacked
          -@subject_areas.all_active.all_in_order.each do |subject_area|
            %li{role: 'presentation', class: (@subject_area.id == subject_area.id ? 'active' : '')}
              =link_to subject_area.name, library_special_link(subject_area)
