%br/
.row
  .col-sm-6.col-sm-offset-3
    .text-center
      .h1{style: 'margin: 60px 20px;'}= @hierarchy_item.name
      -if @hierarchy_item.children.first.class == CourseModule
        .row
          .col-sm-10.col-sm-offset-1
            =render partial: 'shared/static_progress_bar', locals: {percent: '40', value_now: 4, value_max: 10}
            =link_to t('views.course_module_elements.show.continue'), '#', class: 'btn btn-success btn-lg'

.row
  -unless @hierarchy_item.parent.nil?
    .btn.btn-default
      =link_to course_special_link(@hierarchy_item.parent, 'backwards') do
        &larr;
        =t('views.general.back')

-if @hierarchy_item.class == SubjectArea
  .row
    %hr/
    -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
      .col-sm-6
        .panel.panel-default
          -if child.name == 'Association of Certified Chartered Accountants'
            =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel-1' do
              =child.short_name
          -elsif child.name == 'CFA Institute'
            =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel-2' do
              =child.short_name
          .panel-body
            %p=child.description

-elsif @hierarchy_item.class == Institution
  .row
    %hr/
    -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
      .col-sm-6
        .panel.panel-default
          -if child.name == 'ACCA Fundamental'
            =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel-3' do
              =child.name
          -elsif child.name == 'ACCA Professional'
            =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel-4' do
              =child.name
          .panel-body
            %p='stuff'


-else
  .row
    %hr/
    -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
      .col-sm-10.col-sm-offset-1
        .panel.panel-default
          -if child.class == CourseModule
            .panel-body.library-panel
              .panel-title
                .col-xs-8.panel-text
                  =link_to child.name, library_special_link(child)
                  =#@total_cmes
                .label.label-default.pull-right.library-label
                  = '15%'
          -else
            .panel-body
              .panel-title
                .col-xs-8
                  =link_to child.name, library_special_link(child)