-first_set = @incomplete_student_exam_tracks.first

.row
  .col-sm-12
    .col-sm-8.col-sm-offset-2.text-center
      -if @hierarchy_item.class == SubjectArea
        .library-image.hidden-xs
          =image_tag 'https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/Welcome02.png', size: '260x260'
      -else
        .library-heading.text-center
          %h1=@hierarchy_item.name

      -if @hierarchy_item.children.first.class == CourseModule
        .row
          .col-sm-10.col-sm-offset-1
            -if Rails.env.development?
              %p={percent: @hierarchy_item.percentage_complete_by_user_or_guid(current_user.try(:id), current_session_guid), value_now: @hierarchy_item.number_complete_by_user_or_guid(current_user.try(:id), current_session_guid), value_max: @hierarchy_item.cme_count}.inspect
            =render partial: 'shared/static_progress_bar', locals: {percent: @hierarchy_item.percentage_complete_by_user_or_guid(current_user.try(:id), current_session_guid), value_now: @hierarchy_item.number_complete_by_user_or_guid(current_user.try(:id), current_session_guid), value_max: @hierarchy_item.cme_count}
      -if @hierarchy_item.class == ExamLevel || @hierarchy_item.class == ExamSection
        .text-center
        -if @hierarchy_item.number_complete_by_user_or_guid(current_user.try(:id), current_session_guid) >= 1
          =link_to t('views.course_module_elements.show.continue'), course_special_link(first_set.latest_course_module_element.next_element), class: 'btn btn-lg btn-ls-default'
        -else
          =link_to t('views.general.start'), course_special_link(@hierarchy_item.course_modules.all_active.all_in_order.first), class: 'btn btn-lg btn-ls-default'

.row
  -unless @hierarchy_item.parent.nil?
    =link_to course_special_link(@hierarchy_item.parent, 'backwards'), class: 'btn btn-back' do
      %span.glyphicon.glyphicon-menu-left
      =t('views.general.back')

-if @hierarchy_item.class == SubjectArea
  =render 'subject_area_panels'

-else
  =render 'library/progress_panels'
