=render partial: 'shared/breadcrumbs'

.row
  .col-sm-12
    %h1
      -if @hierarchy_item.class == SubjectArea
        =t('views.library.show.h1')
      -else
        =@hierarchy_item.try(:name)
    %hr/
-if @subject_areas.size > 1
  .row
    .col-sm-12
      %p=t('views.subject_areas.index.h1')
      %ul.nav.nav-pills
        -@subject_areas.each do |subject_area|
          %li{role: 'presentation', class: (@subject_area.id == subject_area.id ? 'active' : '')}
            =link_to subject_area.name, library_special_link(subject_area)
      %hr/

.row
  .col-sm-12
    .panel-group#accordion{role: 'tablist', aria: {multiselectable: true }}
      -@hierarchy_item.children.each_with_index do |children, counter|
        .panel.panel-default
          .panel-heading#headingOne{role: 'tab'}
            %h4.panel-title
              %a{data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}", aria: {expanded: true, controls: "collapse_#{counter}"}}
                =children.name

          .panel-collapse.collapse{id: "collapse_#{counter}", class: (children.id == @hierarchy_item.id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'}}
            .panel-body
              -if @hierarchy_item.children.count > 0
                -@hierarchy_item.children.each do |grand_children|
                  %p=link_to grand_children.name, library_special_link(children)
