%br/
-first_set = @incomplete_student_exam_tracks.first

.row
  .col-sm-12
    .col-sm-8.col-sm-offset-2.text-center
      -if @hierarchy_item.class == SubjectArea
        .library-image.hidden-xs
          =image_tag 'https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/Welcome02.png', size: '260x260'
      -else
        .h1.library-heading.text-center
          =@hierarchy_item.name

      -#if @hierarchy_item.children.first.class == CourseModule
        .row
          .col-sm-10.col-sm-offset-1
            =render partial: 'shared/static_progress_bar', locals: {percent: '40', value_now: 4, value_max: 10}
      -#Todo 'Continue/Start' button
        -if @hierarchy_item.class == ExamLevel || ExamSection
          .text-center
            =link_to t('views.course_module_elements.show.continue'), course_special_link(first_set.latest_course_module_element.next_element), class: 'btn btn-success btn-lg btn-ls-default'

        -#if @hierarchy_item == first_set.course_module.parent.parent || first_set.course_module.parent

.row
  -unless @hierarchy_item.parent.nil?
    =link_to course_special_link(@hierarchy_item.parent, 'backwards'), class: 'btn btn-back' do
      %span.glyphicon.glyphicon-menu-left
      =t('views.general.back')

-if @hierarchy_item.class == SubjectArea
  =render 'subject_area_panels'

-else
  =render 'library/progress_panels'


  -#elsif @hierarchy_item.class == Institution
    .row
      %hr/
      -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
        .col-sm-6
          .panel.panel-default
            -if child.name == 'ACCA Fundamental'
              =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel c' do
                =child.name
            -elsif child.name == 'ACCA Professional'
              =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel d' do
                =child.name
            .panel-body
              %p='stuff'