%br/
.row
  .col-sm-6.col-sm-offset-3
    .text-center
      .h1{style: 'margin: 60px 20px;'}= @hierarchy_item.name
      -if @hierarchy_item.children.first.class == CourseModule
        .row
          .col-sm-10.col-sm-offset-1
            =render partial: 'shared/static_progress_bar', locals: {percent: '40', value_now: 4, value_max: 10}
          =link_to t('views.course_module_elements.show.continue'), '#', class: 'btn btn-success btn-lg'

.row
  -unless @hierarchy_item.parent.nil?
    .btn.btn-default
      =link_to course_special_link(@hierarchy_item.parent,'backwards') do
        &larr;
        =t('views.general.back')

.row
  %hr/
  -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
    .col-sm-10.col-sm-offset-1
      .panel.panel-default
        .panel-body.library-panel
          .panel-title
            .list-inline
              .col-xs-8.panel-text
                =link_to child.name, library_special_link(child)
              -if child.class == CourseModule
                .label.label-default.pull-right
                  = '15%'