=render partial: 'shared/breadcrumbs'

.row
  .col-sm-12
    %h1
      =@exam_section.try(:name) || @exam_level.try(:name) || @qualification.try(:name) || @institution.try(:name) || t('views.library.show.h1')
    %hr/

.row
  .col-sm-12

    -@hierarchy_item.children.each do |child|
      %p=link_to child.name, library_special_link(child)
