%br/
.row
  .col-sm-6.col-sm-offset-3
    .text-center
      .h1{style: 'margin: 60px 20px;'}= @hierarchy_item.name
      -if @hierarchy_item.children.first.class == CourseModule
        .row
          .col-sm-10.col-sm-offset-1
            =render partial: 'shared/static_progress_bar', locals: {percent: '40', value_now: 4, value_max: 10}
            =link_to t('views.course_module_elements.show.continue'), '#', class: 'btn btn-lg btn-color'


.row
  -unless @hierarchy_item.parent.nil?
    =link_to course_special_link(@hierarchy_item.parent, 'backwards'), class: 'btn btn-default btn-ls-default' do
      .glyphicon.glyphicon-menu-left
      =#t('views.general.back')

-if @hierarchy_item.class == SubjectArea
  =render 'subject_area_panels'

-else
  =render 'library/progress_panels'


  -#elsif @hierarchy_item.class == Institution
    .row
      %hr/
      -@hierarchy_item.children.all_active.all_in_order.each_with_index do |child|
        .col-sm-6
          .panel.panel-default
            -if child.name == 'ACCA Fundamental'
              =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel c' do
                =child.name
            -elsif child.name == 'ACCA Professional'
              =link_to library_special_link(child), class: 'panel-heading panel-title clickable-panel d' do
                =child.name
            .panel-body
              %p='stuff'