.home_page_layout
  %header.acca-header.hidden-xs
    .l-wrap-acca
      .row.heading-logos
        .col-sm-6
          =link_to home_url do
            =image_tag('ls-logo-red.svg', alt: 'LearnSignal Logo', class: 'acca-logo')
        .col-sm-6
          =image_tag('ALP_LOGO_GOLD_REVERSED.png', alt: 'ACCA Gold Learning Provider', class: 'acca-gold-logo')

      .row.heading-text
        .col-sm-12
          %h1.h1.h1-landing-page.h-white.l-margin-bottom-big
            Want to sail through your ACCA Ireland exams?
          %p.h7.h7-landing-page.h-white
            Get access to our 24/7, 365 ACCA courses, delivered by experts, on any device.
          %p.h7.h-white.l-margin-bottom-huge
            You can study with us, an approved ACCA learning provider from as little as #{number_in_local_currency_no_precision(@subscription_plan.price, @currency_id)}.

      .row.heading-action.text-center
        =link_to 'Start Free 7-Day Trial', new_student_url, class: 'btn btn-red'

  %header.acca-header.visible-xs
    .l-wrap-acca
      .row.heading-logos
        .col-xs-12.text-center
          =link_to home_url do
            =image_tag('ls-logo-red.svg', alt: 'LearnSignal Logo', class: 'acca-logo-xs')

      .row.heading-text
        .col-sm-12
          %h1.h1.h1-landing-page.h-white.l-margin-bottom-big
            Want to sail through your ACCA Ireland exams?
          %p.h7.h7-landing-page-xs.h-white
            Get access to our 24/7, 365 ACCA courses, delivered by experts, on any device.
          %p.h7.h-white.l-margin-bottom
            You can study with us, an approved ACCA learning provider from as little as #{number_in_local_currency_no_precision(@subscription_plan.price, @currency_id)}.

      .row.heading-action-xs.text-center
        =link_to 'Start Free 7-Day Trial', new_student_url, class: 'btn btn-red btn-big'
      .row.heading-action-xs.text-center
        .col-xs-12
          =image_tag('ALP_LOGO_GOLD_REVERSED.png', alt: 'ACCA Gold Learning Provider', class: 'acca-gold-logo-xs')


.acca-business
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h1.h1-landing-page.l-margin-bottom-big
              What you get from us
        .hidden-xs
          .row.l-margin-bottom-huge
            .col-sm-3.l-margin-bottom-huge
              %h3.l-margin-bottom-big
                =image_tag('landing-icon-1.png', class: 'features-img', alt: 'acca-approved-courses-icon')
              %p.p
                Courses from an ACCA approved learning provider
            .col-sm-3
              %h3.l-margin-bottom-big
                =image_tag('landing-icon-2.png', class: 'features-img', alt: 'tools-to-achieve-your-goals-icon')
              %p.p
                The tools to achieve your 50% pass rate from experts
            .col-sm-3
              %h3.l-margin-bottom-big
                =image_tag('landing-icon-3.png', class: 'features-img', alt: 'learn-on-any-device-24/7-icon')
              %p.p
                24/7, 365 online learning with any device
            .col-sm-3
              %h3.l-margin-bottom-big
                =image_tag('landing-icon-4.png', class: 'features-img', alt: 'acca-online-lectures-icon')
              %p.p
                ="Access online lectures, MCQ's & past papers"

          .row.text-center.l-margin-top-huge.l-margin-bottom-huge
            =link_to 'Get Started', new_student_url, class: 'btn btn-red '

        .visible-xs
          .row.l-margin-bottom-huge
            .row
              .col-xs-6.l-margin-bottom-huge
                %h3.l-margin-bottom-big
                  =image_tag('landing-icon-1.png', class: 'features-img', alt: 'acca-approved-courses-icon')
                %p.p
                  Courses from an ACCA approved learning provider
              .col-xs-6
                %h3.l-margin-bottom-big
                  =image_tag('landing-icon-2.png', class: 'features-img', alt: 'tools-to-achieve-your-goals-icon')
                %p.p
                  The tools to achieve your 50% pass rate from experts
            .row
              .col-xs-6
                %h3.l-margin-bottom-big
                  =image_tag('landing-icon-3.png', class: 'features-img', alt: 'learn-on-any-device-24/7-icon')
                %p.p
                  24/7, 365 online learning with any device
              .col-xs-6
                %h3.l-margin-bottom-big
                  =image_tag('landing-icon-4.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p
                  ="Access online lectures, MCQ's & past papers"

          .row.text-center.l-margin-top-huge.l-margin-bottom-huge
            =link_to 'Get Started', new_student_url, class: 'btn btn-red btn-big'


%section#trusted
  .trusted-bg-image
    .l-wrap-acca
      .l-section
        .container-fluid
          .row
            .col-sm-12
              %h2.h1.h1-landing-page.h-white.l-margin-bottom-big.l-margin-top-huge
                Trusted by learners all over the world.
            .col-sm-10.col-sm-offset-1
              %p.h7.h-white.l-margin-bottom-huge
                The days of in-person training have become impractical. Issues with memory retention, data overload and poor quality trainers have made in-person training ineffective. That’s why we’ve created our adaptive learning platform, so you can access your learning anywhere and anytime that you need it.

          .row.l-margin-bottom-huge.l-margin-top-huge
            .col-sm-12
              =link_to 'try us out for free', new_student_url, class: 'btn btn-red'


  .l-wrap-acca
    .l-section
      .container-fluid
        .row.hidden-xs
          .row
            .col-sm-12
              %h2.h1.h1-landing-page.h-white.l-margin-bottom-big
                Explore our ACCA courses
            .col-sm-12
              .col-sm-2.col-sm-offset-1
                %h3.l-margin-bottom-big
                  =image_tag('f1-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Accountant in Business
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('f2-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Management Accounting
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('f3-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Financial Accounting

              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('f4-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Corporate & Business
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('f5-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Performance Management

            .col-sm-12
              .col-sm-2.col-sm-offset-1
                %h3.l-margin-bottom-big
                  =image_tag('f6-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Taxation
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('f7-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Financial Reporting
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('f8-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Audit & Assurance

              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('f9-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Financial Management
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('p1-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Governance, Risk and Ethics

            .col-sm-12
              .col-sm-2.col-sm-offset-1
                %h3.l-margin-bottom-big
                  =image_tag('p2-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Corporate Reporting
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('p3-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Business Analysis
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('p4-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                %p.p.white
                  Advanced Financial Management

              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('p5-icon.png', class: 'features-img', alt: 'acca-advanced-performance-management-icon')
                %p.p.white
                  Advanced Performance Management
              .col-sm-2
                %h3.l-margin-bottom-big
                  =image_tag('p7-icon.png', class: 'features-img', alt: 'acca-advanced-audit-icon')
                %p.p.white
                  Advanced Audit and Assurance

          .row.text-center.l-margin-top-huge
            =link_to 'Get Started', new_student_url, class: 'btn btn-red '


        .row.visible-xs
          .row
            .col-sm-12
              %h2.h1.h1-landing-page.h-white.l-margin-bottom-big
                Explore our ACCA courses
            .col-sm-12
              .row
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f1-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Accountant in Business
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f2-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Management Accounting

              .row
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f3-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Financial Accounting

                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f4-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Corporate & Business

              .row
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f5-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Performance Management

                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f6-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Taxation


              .row
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f7-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Financial Reporting
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f8-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Audit & Assurance

              .row
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('f9-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Financial Management
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('p1-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Governance, Risk and Ethics

              .row
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('p2-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Corporate Reporting
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('p3-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Business Analysis


              .row
                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('p4-icon.png', class: 'features-img', alt: 'acca-online-lectures-icon')
                  %p.p.white
                    Advanced Financial Management

                .col-xs-6
                  %h3.l-margin-bottom-big
                    =image_tag('p5-icon.png', class: 'features-img', alt: 'acca-advanced-performance-management-icon')
                  %p.p.white
                    Advanced Performance Management

              .row
                .col-xs-12
                  %h3.l-margin-bottom-big
                    =image_tag('p7-icon.png', class: 'features-img', alt: 'acca-advanced-audit-icon')
                  %p.p.white
                    Advanced Audit and Assurance

          .row.text-center.l-margin-top-huge
            =link_to 'Get Started', new_student_url, class: 'btn btn-red btn-big'



-if @student_subscription_plans.any?
  %section#investing
    .l-wrap-acca
      .l-section
        .container-fluid
          .row
            .col-sm-12
              %h2.h1.h1-landing-page.l-margin-bottom-big
                Investing in you.
              .col-sm-10.col-sm-offset-1
                %p
                  You can gain access to our body of ACCA accounting expert tutors from as little as #{number_in_local_currency_no_precision(@subscription_plan.price, @currency_id)}.
                %p.l-margin-bottom-huge
                  We also offer a selection of payment plans to suit you and your study needs.



          -@student_subscription_plans.each do |plan|
            .col-sm-4
              .sub{class: sub_interval_alt(plan.payment_frequency_in_months)}
                .currency
                  .sub-inner
                    %h3.h4.sub-title{class: sub_interval_color(plan.payment_frequency_in_months)}
                      =t("views.general.pay_frequency_in_months.a#{plan.payment_frequency_in_months}")

                    %p.sub-text{class: sub_interval_color(plan.payment_frequency_in_months)}
                      =plan.unlimited_access
                    %p.sub-text{class: sub_interval_color(plan.payment_frequency_in_months)}
                      =plan.cancel_anytime

                    %h4.h3.sub-price{class: sub_interval_color(plan.payment_frequency_in_months)}
                      =plan.currency.format_number(plan.price)
              =link_to 'Get Started', new_student_url, class: sub_interval_btn_color(plan.payment_frequency_in_months)


%section#prefer
  .l-wrap-acca
    .l-section
      .container-fluid
        .row.l-margin-top-huge
          .col-sm-12.l-margin-top-huge
            %h2.h1.h1-landing-page.h-white.l-margin-bottom-big
              Prefer to try us out first?
          .col-sm-10.col-sm-offset-1
            %p.h7.h-white.l-margin-bottom-huge
              No problem! We’re so confident you’ll love our training, we want to give you access to 200 minutes of completely FREE online revision. No credit card details are required, and if you feel our courses aren’t a good fit for you, you’ve no obligation to sign up for an unlimited access plan. So why not give it a try and sign up for your 7-day trial below?
        .row
          .col-sm-12
            =link_to 'Start Free 7-Day Trial', new_student_url, class: 'btn btn-red'
