=f.fields_for :blog_posts do |blog_post|
  .box-item.form-box
    -if blog_post.object.new_record?
      %h4
        New Blog Post
    -else
      %h4
        Edit Blog Post

    .row
      .col-sm-6
        .form-group
          =blog_post.label :title, t('views.blog_posts.form.title')
          .input-group.input-group-lg
            =blog_post.text_field :title, placeholder: t('views.blog_posts.form.title_placeholder'), class: 'form-control'

        .form-group
          =blog_post.label :description, t('views.blog_posts.form.description')
          .input-group.input-group-lg
            =blog_post.text_area :description, placeholder: t('views.blog_posts.form.description_placeholder'), class: 'form-control'

        -if !blog_post.object.new_record? && blog_post.object.destroyable?
          %br/
          %br/
          .checkbox
            %label
              =blog_post.check_box :_destroy
              Remove Blog Post



      .col-sm-6
        =blog_post.label :url, t('views.blog_posts.form.url')
        .input-group.input-group-lg
          =blog_post.text_field :url, placeholder: t('views.blog_posts.form.url_placeholder'), class: 'form-control'
        %br

        =blog_post.label :upload, t('views.blog_posts.form.image')
        -if blog_post.object.image.present?
          .form-control-static
            =image_tag blog_post.object.image.url, class: 'md-image'

          .input-group.input-group-lg
            =blog_post.label :image, t('views.blog_posts.form.replace')
            =blog_post.file_field :image, class: 'form-control'

        -else
          .input-group.input-group-lg
            =blog_post.file_field :image, class: 'form-control'

