.row
  .col-sm-8.col-sm-offset-2
    =form_for(@home_page, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @home_page, message: nil}
        .form-group
          =f.label :seo_title, t('views.home_pages.form.seo_title'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :seo_title, placeholder: t('views.home_pages.form.seo_title_placeholder'), class: 'form-control', autofocus: true
        .form-group
          =f.label :seo_description, t('views.home_pages.form.seo_description'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :seo_description, placeholder: t('views.home_pages.form.seo_description_placeholder'), class: 'form-control'
        .form-group
          =f.label :subscription_plan_category_id, t('views.home_pages.form.subscription_plan_category_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :subscription_plan_category_id, @subscription_plan_categories, :id, :full_name, {include_blank: t('views.general.none')}, {class: 'form-control'}
        .form-group
          =f.label :public_url, t('views.home_pages.form.public_url'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :public_url, placeholder: t('views.home_pages.form.public_url_placeholder'), class: 'form-control'

      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), home_pages_path
