=form_for(@home_page, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-8.col-md-offset-2
      =render partial: '/layouts/error_messages', locals: {thing: @home_page, message: nil}
      =f.label :seo_title, t('views.home_pages.form.seo_title'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :seo_title, placeholder: t('views.home_pages.form.seo_title_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
      %br/
      =f.label :seo_description, t('views.home_pages.form.seo_description'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :seo_description, placeholder: t('views.home_pages.form.seo_description_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      %br/
      =f.label :subscription_plan_category_id, t('views.home_pages.form.subscription_plan_category_id'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.collection_select :subscription_plan_category_id, @subscription_plan_categories, :id, :full_name, {include_blank: t('views.general.none')}, {class: 'form-control', style: 'border-radius: 6px;'}
      %br/
      =f.label :public_url, t('views.home_pages.form.public_url'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :public_url, placeholder: t('views.home_pages.form.public_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

  .row.l-margin-top-big
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), home_pages_path, class: 'btn btn-cyan'
