=form_for(@home_page, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    .row
      .col-sm-12
        =render partial: '/layouts/error_messages', locals: {thing: @home_page, message: nil}
        .row
          .col-sm-6
            .form-group
              =f.label :name, t('views.home_pages.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.home_pages.form.name_placeholder'), class: 'form-control'
            .form-group
              =f.label :seo_title, t('views.home_pages.form.seo_title')
              .input-group.input-group-lg
                =f.text_field :seo_title, placeholder: t('views.home_pages.form.seo_title_placeholder'), class: 'form-control'
            .form-group
              =f.label :seo_description, t('views.home_pages.form.seo_description')
              .input-group.input-group-lg
                =f.text_field :seo_description, placeholder: t('views.home_pages.form.seo_description_placeholder'), class: 'form-control'
            .form-group
              =f.label :logo_image, t('views.home_pages.form.logo_image')
              .input-group.input-group-lg
                =f.select :logo_image, HomePage::LOGO_IMAGES, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}
            .form-group.pt-5
              .row
                .col
                  .checkbox
                    %label
                      =f.check_box :form_section
                      =t('views.home_pages.form.form_section')
                .col
                  .checkbox
                    %label
                      =f.check_box :pricing_section
                      =t('views.home_pages.form.pricing_section')
                .col
                  .checkbox
                    %label
                      =f.check_box :footer_link
                      ='Footer Link'
                .col
                  .checkbox
                    %label
                      =f.check_box :seo_no_index
                      ='No Index'


          .col-sm-6
            -unless @home_page.home
              .form-group
                =f.label :public_url, t('views.home_pages.form.public_url')
                .input-group.input-group-lg
                  =f.text_field :public_url, placeholder: t('views.home_pages.form.public_url_placeholder'), class: 'form-control'
              .form-group
                =f.label :custom_file_name, t('views.home_pages.form.custom_file_name')
                .input-group.input-group-lg
                  =f.text_field :custom_file_name, placeholder: t('views.home_pages.form.custom_file_name_placeholder'), class: 'form-control'

            .form-group
              =f.label :group_id, t('views.home_pages.form.group_id')
              .input-group.input-group-lg
                =f.collection_select :group_id, @groups, :id, :name, {include_blank: t('views.general.none')}, {class: 'form-control custom-select'}

            -#.form-group
              =f.label :subject_course_id, t('views.home_pages.form.subject_course_id')
              .input-group.input-group-lg
                =f.collection_select :subject_course_id, @subject_courses, :id, :name, {include_blank: t('views.general.none')}, {class: 'form-control custom-select'}

            .form-group
              =f.label :subscription_plan_category_id, t('views.home_pages.form.subscription_plan_category_id')
              .input-group.input-group-lg
                =f.collection_select :subscription_plan_category_id, @subscription_plan_categories, :id, :name, {include_blank: t('views.general.none')}, {class: 'form-control custom-select'}


            .form-group
              =f.label :mailchimp_list_guid, t('views.home_pages.form.mailchimp_list_guid')
              .input-group.input-group-lg
                =f.text_field :mailchimp_list_guid, placeholder: t('views.home_pages.form.mailchimp_list_guid_placeholder'), class: 'form-control'



  .row.pt-4
    .col-sm-12
      =f.submit t('views.general.save'), class: 'btn btn-primary'
      =link_to t('views.general.cancel'), home_pages_path, class: 'btn btn-secondary'
