.hero-acca
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .header{role: 'banner'}
    .l-wrap
      .container-fluid
        %nav.navbar.navbar-default.navbar-transparent#navbar{role: 'navigation'}
          .navbar-header
            %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_url do
              =image_tag('ls-logo-red.svg', class: 'logo')
          #myNavbar.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to 'Why Learn Signal', why_learn_signal_url
              %li
                =link_to 'Pricing', pricing_url
              %li
                =link_to 'Courses', library_url
              %li
                =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}

  .l-section#sign-up
    .l-wrap
      .container-fluid
        .row
          .col-sm-6.col-md-8.col-lg-6
            %p.h5.h-white
              Prepare for your ACCA exams with a quick revision course
            %h1.h1.h-white.h-separator.h-separator-left.l-margin-bottom-big
              A revision of the essentials & Qbank to keep you focused
          .col-sm-6.col-md-4.col-lg-4.col-lg-offset-2
            %p.h5.h-white.l-margin-bottom
              ='Sign Up for your 7-day free trial'
            =render partial: 'sign_up_form'

.l-section
  .l-wrap
    .container-fluid
      .row
        .col-sm-12
          %h2.h5.text-center
            The most concise and advanced study material all in one place
          %h3.h2.h-center.h-separator.h-separator-center.l-margin-bottom-big.text-center
            Revision courses to help you pass
      .row
        .col-sm-4
          %h3.h4.text-center
            Practice
          %p.p.text-center
            Understand and grasp the difficult topics for all the knowledge you need to pass.
        .col-sm-4
          %h3.h4.text-center
            Learn
          %p.p.text-center
            Prepare with challenging questions to ensure you’re ready for your exam day.
        .col-sm-4
          %h3.h4.text-center
            Support
          %p.p.text-center
            Get help from a community of your peers, as well as our team of dedicated tutors.

.l-section.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-12
          %h2.h5.text-center
            Only £25 per month
          %h3.h2.text-center.h-separator.h-separator-center.l-margin-bottom-big
            Access all Available Courses
          %h4.h3.course-group-title.text-center
            Fundamentals knowledge
      .course-list-wrap
        .row
          .col-sm-6.col-md-4.col-md-offset-2
            =link_to library_url, class: 'box' do
              .box-inner
                %h3.h4.box-title
                  F1 Accounting In Business
                %p.box-desc
                  Now available
              .box-label
                7-day free trial
          .col-sm-6.col-md-4
            =link_to library_url, class: 'box' do
              .box-inner
                %h3.h4.box-title
                  F2 Management Accounting
                %p.box-desc
                  Now available
              .box-label
                7-day free trial

.testimonials.testimonials-alt
  .l-wrap
    .l-section
      .testimonial
        .container-fluid
          .row
            .col-sm-12
              %h2.h5.text-center
                Testimonials
              %p.h2.text-center.h-separator.h-separator-center
                What your peers are saying
          .row
            .col-sm-12.col-md-6.col-md-offset-3
              .testimonial
                .testimonial-pic-wrap
                  =image_tag('testimonial-mike-pic.jpg', class: 'testimonial-pic')
                %p.p
                  When I signed up for Level I, I had 85 days to put in the 300 hours of studying while working full time. I had just finished my undergrad in Math and even though I had no finance background, I was confident that I could handle the material.
                %p.p
                  The challenge would be covering everything and having enough time to do mock exams. Learn Signal was the perfect solution.

                %p.p
                  The videos were quick, very well presented and contained only the essential information. The tests at the end of each section were helpful at highlighting gaps in my knowledge. I'm not sure I would have finished the material in time and passed the exam had I not used Learn Signal.
                %p.p
                  %strong.testimonial-sig
                    Mike Sinclair
                  %br/
                  Risk Analyst Architect

.start-trial
  %a.btn-block.btn-block-red{href: '#sign-up'}
    .l-wrap
      .l-section-small
        .container-fluid
          .col-sm-12
            %p.h5
              Become a member
            %p.h2
              %span.ico-arrow-right-r
                Start your 7-day free trial &rarr;

:javascript
    var nav = responsiveNav(".nav-collapse");

  // Smooth scroll to top
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash,
      $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 500, 'swing', function () {
        window.location.hash = target;
      });
    });
  });
