.course-acca
  .header{:role => "banner"}
    .l-wrap
      .container-fluid
        %nav.navbar-main{:role => "navigation"}
          =link_to root_url do
            =image_tag('ls-logo-red.svg', class: 'logo')
          %ul.nav-main.nav-collapse
            %li
              =link_to 'Browse Courses', library_url
            %li
              =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}
  .course-inner
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %p.h5.h-white.text-center
              Prepare for your ACCA exams with a quick revision course
            %h1.h1.h-white.h-separator.h-separator-center.text-center
              A revision of the essentials & Qbank to keep you focused
            =link_to 'Start your free trial', student_sign_up_url, class: 'btn btn-red'
.course-intro
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h5
              The most consise and advanced study material all in one place
            %h3.h2.h-center.h-separator.h-separator-center
              Revision courses to help you pass
        .row
          .col-sm-4
            %h3.h4
              Practice
            %p.p
              Understand and grasp the difficult topics for all the knowledge you need to pass.
          .col-sm-4
            %h3.h4
              Learn
            %p.p
              Prepare with challenging questions to ensure you’re ready for your exam day.
          .col-sm-4
            %h3.h4
              Support
            %p.p
              Get help from a community of your peers, as well as our team of dedicated tutors.
.course-list
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h5.text-center
              Only £25 per month
            %h3.h2.text-center.h-separator.h-separator-center
              Access all Available Courses

            %h4.h3.course-group-title.text-center
              Fundamentals knowledge
        .course-list-wrap
          .row
            .col-sm-6.col-md-4.col-md-offset-2
              =link_to library_special_link(@acca_level_1), class: 'box' do
                .box-inner
                  %h3.h4.box-title
                    F1 Accounting In Business
                  %p.box-desc
                    Now available
                .box-label
                  7-day free trial
            .col-sm-6.col-md-4
              =link_to library_special_link(@acca_level_2), class: 'box' do
                .box-inner
                  %h3.h4.box-title
                    F2 Management Accounting
                  %p.box-desc
                    Now available
                .box-label
                  7-day free trial

.testimonials.testimonials-alt
  .l-wrap
    .l-section
      .testimonial
        .container-fluid
          .row
            .col-sm-12
              %h2.h5.text-center
                Testimonials
              %p.h2.text-center.h-separator.h-separator-center
                What your peers are saying
          .row
            .col-sm-12.col-md-6.col-md-offset-3
              .testimonial
                .testimonial-pic-wrap
                  =image_tag('mike-testimonial-pic.jpg', class: 'testimonial-pic')
                %p.p
                  When I signed up for Level I, I had 85 days to put in the 300 hours of studying while working full time. I had just finished my undergrad in Math and even though I had no finance background, I was confident that I could handle the material.
                %p.p
                  The challenge would be covering everything and having enough time to do mock exams. Learn Signal was the perfect solution.

                %p.p
                  The videos were quick, very well presented and contained only the essential information. The tests at the end of each section were helpful at highlighting gaps in my knowledge. I'm not sure I would have finished the material in time and passed the exam had I not used Learn Signal.
                %p.p
                  %strong.testimonial-sig
                    Mike Sinclair
                  %br/
                  Risk Analyst Architect

.start-trial
  =link_to student_sign_up_url do
    .start-trial-wrap
      .l-wrap
        .container-fluid
          %p.h5
            Become a member
          %p.h2
            Start your 7-day free trial &rarr;

:javascript
    var nav = responsiveNav(".nav-collapse");
      