.hero-acca
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .header{role: 'banner'}
    .l-wrap
      .container-fluid
        %nav.navbar.navbar-default.navbar-transparent#navbar{role: 'navigation'}
          .navbar-header
            %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_url do
              =image_tag('ls-logo-red.svg', class: 'logo')
          #myNavbar.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to 'Business', business_url
              %li
                =link_to 'Why Learn Signal', why_learn_signal_url
              %li
                =link_to 'Pricing', pricing_url
              %li
                =link_to 'Courses', library_url
              %li
                =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}
              %li
                %a.signupModal{href: '#', class: 'sign-up-link', data: {toggle: 'modal', target: '#signupModal'}}Sign Up

  .hero-inner#sign-up
    .l-wrap-medium
      .container-fluid
        .row
          .col-sm-6.col-md-8.col-lg-8
            %p.h5.h-white.l-margin-bottom-huge
              Prepare for your ACCA exams with an online revision course
            %h1.h1.bold.h-white.h-separator.h-separator-left.l-margin-bottom-big
              Study for your ACCA exams online for a small monthly subscription
            -country_count = '83 Countries'

            %p.h7
              ="Learners in "
              =link_to country_count, '#', class: 'no-link-style'
              ="are using our platform to progress their careers"

          .col-sm-6.col-md-4.col-lg-4#sign-up-form
            %p.h5.h-white.l-margin-bottom
              ='Sign Up for your 7-day free trial'
            =render partial: 'sign_up_form'

.business
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
              Features to support your ACCA study
        .row
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('phone-icon.png', class: 'features-img', alt: 'anytime-anywhere-mobile-icon')
              Anywhere, Anytime
            %p.p
              Study for your specific topics anytime, anywhere, on any device.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('acca-coins.png', class: 'features-img', alt: 'depth-of-content-icon')
              Small Monthly Subscription
            %p.p
              Our subscription model offers you more flexibility than fixed price providers.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('network-icon.png', class: 'features-img', alt: 'expert-author-network-icon')
              Expert Author Network
            %p.p
              Learn from the best with training designed and developed by industry experts.


.l-section.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-sm-12
          %h3.h2.text-center.h-separator.h-separator-center.l-margin-bottom-big
            Access all ACCA Courses
      .course-list-wrap
        .row
          .col-sm-12.col-md-12
            -@group4.try(:active_children).all_in_order.each do |course|
              .col-md-4.l-margin-top
                =link_to library_special_link(course), class: 'library-box-item panel text-center' do
                  .panel-icon.icon-big
                    %i.glyphicon.glyphicon-arrow-right
                  .l-margin-bottom.l-margin-top{style: 'min-height: 110px'}
                    %h3.text-bold
                      =course.name
                    %p.l-margin-bottom-big
                      Now available
                  .box-label
                    Browse



.start-trial
  %a.btn-block.btn-block-red{href: '#sign-up'}
    .l-wrap
      .l-section-small
        .container-fluid
          .col-sm-12
            %p.h5.text-center
              Become a member
            %p.h2.text-center
              Start your 7-day free trial
              %span.ico-arrow-right-r

:javascript
    var nav = responsiveNav(".nav-collapse");

  // Smooth scroll to top
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash,
      $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 500, 'swing', function () {
        window.location.hash = target;
      });
    });
  });
