.hero-cfa
  .header{role: 'banner'}
    .l-wrap
      .container-fluid
        %nav.navbar.navbar-default.navbar-transparent#navbar{role: 'navigation'}
          .navbar-header
            %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_url do
              =image_tag('ls-logo-red.svg', class: 'logo')
          #myNavbar.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to 'Browse Courses', library_url
              %li
                =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}

  .l-section#sign-up
    .l-wrap
      .container-fluid
        .row
          .col-sm-6.col-md-8.col-lg-6
            %p.h5.h-white
              Practice is key to passing the CFA exams
            %h1.h1.h-white.h-separator.h-separator-left.l-margin-bottom-big
              Take the quick prep course for the CFA level 1
          .col-sm-6.col-md-4.col-lg-4.col-lg-offset-2
            =render partial: 'sign_up_form'

.l-section
  .l-wrap
    .container-fluid
      .row
        .col-sm-12
          %h2.h5.text-center
            Work through our extensive question bank with summary videos to fill in the gaps
          %h3.h2.h-center.h-separator.h-separator-center.l-margin-bottom-big.text-center
            Qbank of 1500 exam quality questions with solutions
      .row
        .col-sm-4
          %h3.h4.text-center
            Practice
          %p.p.text-center
            Prepare with 1500 exam standard questions and worked solutions.
        .col-sm-4
          %h3.h4.text-center
            Learn
          %p.p.text-center
            Over 140 summary videos to understand the difficult topics.
        .col-sm-4
          %h3.h4.text-center
            Support
          %p.p.text-center
            Get help from our team of dedicated tutors whenever you get stuck.

.l-section.is-bg-asphalt
  .l-wrap
    .container-fluid
      .course-list-wrap
        .row
          .col-sm-6.col-md-4
            =link_to library_special_link(@cfa_level_1), class: 'box box-course' do
              .box-inner
                %h3.h4.box-title
                  CFA Level 1
                %p.box-desc
                  £25/Month
              .box-label
                7-day free trial
          .col-sm-6.col-md-4
            %a.box.box-course
              .box-inner
                %h3.h4.box-title.is-text-disabled
                  CFA Level 2
                %p.box-desc
                  Coming soon...
              .box-label
                Get early access
          .col-sm-6.col-md-4
            %a.box.box-course
              .box-inner
                %h3.h4.box-title.is-text-disabled
                  CFA Level 2
                %p.box-desc
                  Coming soon...
              .box-label
                Get early access
.testimonials.testimonials-alt
  .l-wrap
    .l-section
      .testimonial
        .container-fluid
          .row
            .col-sm-12
              %h2.h5.text-center
                Testimonials
              %p.h2.text-center.h-separator.h-separator-center
                What your peers are saying
          .row
            .col-sm-12.col-md-6.col-md-offset-3
              .testimonial
                .testimonial-pic-wrap
                  =image_tag('mike-testimonial-pic.jpg', class: 'testimonial-pic')
                %p.p
                  When I signed up for Level I, I had 85 days to put in the 300 hours of studying while working full time. I had just finished my undergrad in Math and even though I had no finance background, I was confident that I could handle the material.
                %p.p
                  The challenge would be covering everything and having enough time to do mock exams. Learn Signal was the perfect solution.

                %p.p
                  The videos were quick, very well presented and contained only the essential information. The tests at the end of each section were helpful at highlighting gaps in my knowledge. I'm not sure I would have finished the material in time and passed the exam had I not used Learn Signal.
                %p.p
                  %strong.testimonial-sig
                    Mike Sinclair
                  %br/
                  Risk Analyst Architect

.start-trial
  %a.btn-block.btn-block-red{href: '#sign-up'}
    .l-wrap
      .l-section-small
        .container-fluid
          .col-sm-12
            %p.h5.text-center
              Become a member
            %p.h2.text-center
              Start your 7-day free trial &rarr;


:javascript
    var nav = responsiveNav(".nav-collapse");

  // Smooth scroll to top
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash,
      $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 500, 'swing', function () {
        window.location.hash = target;
      });
    });
  });
