.home_page_layout
  %header.why-background
    .l-wrap-home
      =render partial: 'layouts/transparent_navbar'

      .cfa#sign-up
        .row
          .col-sm-6.col-md-8.col-lg-8
            %p.h5.h-white.l-margin-bottom-huge
              Prepare for your finance exams with an online courses
            %h1.h1.bold.h-white.h-separator.h-separator-left.l-margin-bottom-big
              Professional Finance courses

            %p.h7
              Our subscription model provides unlimited access to all subscription content for a small monthly subscription

          -unless current_user
            .col-sm-6.col-md-4.col-lg-4#sign-up-form
              =render partial: 'sign_up_form'


  %section#diploma_courses
    .l-wrap-home
      .col-sm-12.text-center.l-margin-bottom-big
        %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
          Subscription Content

        -@groups.all_in_order.each do |group|
          .col-sm-6
            =link_to library_special_link(group), style: 'text-decoration: none;' do
              .group-panel
                .group-panel-inner
                  .col-sm-4.hidden-xs
                    -if group.image_file_name
                      =image_tag group.image.url, class: 'group-image'

                  .col-sm-8.col-xs-12
                    %h3.l-margin-top
                      =group.name
                .group-panel-label
                  .label-text{style: 'text-decoration: none;'}
                    View Courses
  %section#subscribe
    .l-wrap-home


  %section#advance_career
    .l-wrap-home
      %h2 Advance your career
      %p LearnSignal gives you access to world class training and certifications.
      %ul
        %li
          .ac_title_bl
            =image_tag('24h.png', alt: '24h')
            %p Flexible study options
          %p Whether you are studying at home, or on a tablet on your way to work, you can enjoy 24-hour access to video lectures, slide presentations, practical exercises, quizzes and a supportive student network. Never fear missing a class again.

        %li
          .ac_title_bl
            =image_tag('world.png', alt: 'world')
            %p.two_strings
              World Leading
              %br Education
          %p LearnSignal is a global business school created by top accountancy tutors. Our courses are recognised by accreditation bodies all over the world.

        %li
          .ac_title_bl
            =image_tag('tallent.png', alt: 'tallent')
            %p.two_strings
              Designed and Taught
              %br by the Best
          %p We have brought together the world's top accountancy tutors and the world's leading instructional designers to bring you one of the highest quality online course available anywhere in the world.
        %li
          .ac_title_bl
            =image_tag('global.png', alt: 'global')
            %p.two_strings
              Be Part of Global
              %br Student Body
          %p Our courses are taught in over 100 countries around the world. Our tutors are globally recognised as some of the best accountancy trainers in the world!

        =link_to new_student_url, class: 'enroll_now' do
          7 Day Free Trial?






  %section#study_online
    .l-wrap-home
      .so_descrip
        %h2 Study online with LearnSignal
        .option
          %p.key Study Time:
          %p.value
            Over 100 hrs
        .option
          %p.key Assessment:
          %p.value Online Exam
        .option
          %p.key Resources:
          %p.value Video lectures, slide presentations, practical exercises
        .option
          %p.key Payment Options:
          %p.value
            ='7-day Free Trial with 200 minutes of content'

        =link_to new_student_url, class: 'enroll_now' do
          Claim your Free Trial?

      =image_tag('iphone.png', alt: 'iphone', class: 'phone-image hidden-xs hidden-sm')



  %section#subscribe
    .l-wrap-home
      %h2.h-white Subscribe to our newsletter
      #response
        =form_tag('/home_page_subscribe', method: 'post', id: 'mailchimpform', remote: 'true') do
          =email_field(:email, :address, {id: 'email', placeholder: 'Type your email...'})
          %button{:type => "submit"}

        %p
          By providing us your email, you agree to the terms of our
          =link_to privacy_policy_url do
            Privacy Policy
          and
          =link_to terms_and_conditions_url do
            Terms of Service



  %section#help
    .l-wrap-home
      %h2
        How can we
        %br help you today?

      .help_descr
        =image_tag('call_us_icon.png', alt: 'call_us_icon')
        .help_cont
          %h4 Speak to one of our educational consultants

          %p If you have any queries or specific requests regarding LearnSignal’s online training faculty, get in touch with us, and a member of our team will contact you as soon as possible.


          =link_to contact_url, class: 'enroll_now' do
            contact us now!
