-if @first_element && File.exists?(Rails.root.join('app', 'views', 'home_pages', 'subscription_pages', "_#{@first_element}.html.haml"))
  =render partial: "home_pages/subscription_pages/#{@first_element}"
-else
  =render partial: 'home_pages/subscription_pages/default'

