#wrapper
  #loading
  %header#header
    =render 'layouts/transparent_navbar'

  %section#free.diag-r-down
    .tmain
      .tbase
        .container
          .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
              %h1.title1
                Give yourself your best chance of passing your ACCA first time.

              =render partial: 'sign_up_form'

            .col-lg-2.col-md-1
              .approved
                =image_tag('acca_approved.png')


  %section#explore
    .container
      %h1.title1
        Explore our ACCA courses
      %h2.subtitle
        Taking your accounting skills to the next level.
      .row
        -@group.active_children.all_in_order.each do |course|
          .col-md-4.col-sm-6
            =link_to library_special_link(course) do
              .course
                .tmain
                  .tbase
                    =course.name
                .bg{style: "background: url(#{course.background_image.url});"}


      .lsbtn-base
        =link_to 'Get started', new_student_url, class: 'lsbtn'




  %section#what.diag-l-up
    .container
      %h1.title1
        What you get from us
      %ul
        %li
          .item
            .img
              =image_tag('what1.png')
            .desc Access anytime, anywhere.
        %li
          .item
            .img
              =image_tag('what2.png')
            .desc Topic-by-topic, bite-size lectures.
        %li
          .item
            .img
              =image_tag('what3.png')
            .desc Notes, MCQs and corrected mock exams.
        %li
          .item
            .img
              =image_tag('what4.png')
            .desc Tutor support
      .lsbtn-base
        =link_to 'Try us out for free', new_student_url, class: 'lsbtn'
      .obs-nocc No credit card details needed!



  %section#reviews
    =render partial: 'layouts/image_slider'


  %section#homeblog
    .container
      %h1.title1 Get free advice and tips
      -if @home_page && @home_page.blog_posts
        .posts
          .row
            -@home_page.blog_posts.each do |blog_post|
              .col-md-4.col-sm-6
                .post
                  .photo
                    =link_to blog_post.url, target: '_blank' do
                      =image_tag(blog_post.image.url)

                  .cat
                    =link_to blog_post.url, target: '_blank' do
                      .hu
                        Blog
                  .title
                    =link_to blog_post.url, target: '_blank' do
                      .hu
                        =blog_post.title
                  .excerpt
                    =link_to blog_post.url, target: '_blank' do
                      .hu
                        =blog_post.description


      .posts
        .row
          .col-sm-6
            .post
              .cat
                %a.hu{:href => "#"} Community
              .title
                %a.hu{:href => "#"} How long take does it take to complete ACCA home study?
              %ul.stats
                %li
                  %span
                    =image_tag('icon_post_views.png')
                  %span 102 views
                %li
                  %span
                    =image_tag('icon_post_comments.png')
                  %span 2 comments
          .col-sm-6
            .post
              .cat
                %a.hu{:href => "#"} Community
              .title
                %a.hu{:href => "#"} Relevant reading before ACCA P7 - Advanced Audit and Assurance
              %ul.stats
                %li
                  %span
                    =image_tag('icon_post_views.png')
                  %span 102 views
                %li
                  %span
                    =image_tag('icon_post_comments.png')
                  %span 2 comments


  %section#subscribe.diag-l-up.bg-gradient1
    .container
      %h1.title1 Get fortnightly ACCA insider knowledge
      %h2.subtitle Direct to your inbox.
      #response
        =form_tag('/home_page_subscribe', method: 'post', id: 'mailchimpform', remote: 'true') do
          .row
            .col-md-4.col-md-offset-1.col-sm-6
              .form-group
                =text_field(:first_name, :address, {id: 'email', placeholder: 'Your first name', class: 'form-control'})
            .col-md-4.col-sm-6
              .form-group
                =email_field(:email, :address, {id: 'email', placeholder: 'Your email address', class: 'form-control'})
            .col-md-2.col-md-offset-0.col-sm-4.col-sm-offset-4
              .form-group
                %button.lsbtn.s{:type => "submit"} Subscribe
      .sep
      .row
        .col-lg-4.col-lg-offset-2.col-md-5.col-md-offset-1.col-sm-6
          %a.lsbtn.v2{href: 'http://blog.learnsignal.com/', target: '_blank'} Visit our blog
        .col-lg-4.col-md-5.col-sm-6
          %a.lsbtn.v2{href: 'https://community.learnsignal.com/', target: '_blank'} Visit the community


  %section#tips
    .container
      %h1.title1 Get Jamie’s 3 free tips on passing your ACCA.
      .video
        .play
          %a.lb-video{:href => "https://www.youtube.com/watch?v=9bZkp7q19f0"}
            .tmain
              .tbase
                .playbtn
                  %i.fa.fa-play
                  %span Play
            .img{:style => "background-image:url(assets/video.jpg);"}
        .about Meet course tutor Jamie. He’s helped learners all over the world pass their ACCA.




  %section#whenever.bg-gradient1
    .container
      .devices
        %img{:src => "img/devices.png"}/
      %h1.title1 Study whenever and wherever you want
      %h2.subtitle With 24/7, 365 learning on any device, the days of inflexible classroom study are over.
      .lsbtn-base
        =link_to 'Get free course access', new_student_url, class: 'lsbtn'
      .obs-nocc No credit card details needed!


  %section#plans
    .container
      %h1.title1 Only pay for the access you need.
      %h2.subtitle2 After your 45 minutes of free access, you can pick which plan suits you best.
      %ul.plans.clearfix
        -@subscription_plans.each do |plan|
          %li.plan{class: plan_interval(plan.payment_frequency_in_months)}
            .base
              .topbox
                -if plan.payment_frequency_in_months == 3
                  %span Our most popular payment plan
              .box
                .name
                  =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                %ul.details.fa-ul
                  %li
                    %i.fa-li.fa.fa-check
                    Get unlimited access
                  %li
                    %i.fa-li.fa.fa-check
                    Cancel anytime
                  %li
                    %i.fa-li.fa.fa-check
                    =t("views.general.subscription_ideal_line.a#{plan.payment_frequency_in_months}")
                    -#%li
                      %i.fa-li.fa.fa-check
                      -# TODO Add plans free mock exams count here
                      =#'corrected mock exams'

                .price
                  =plan.currency.format_number(plan.price)

                -unless plan.payment_frequency_in_months == 1
                  -# TODO change this display actual discount and saving values
                  .promo
                    .line1
                      18% OFF
                    .line2
                      Save €25

              .lsbtn-base
                =link_to new_student_url do
                  .lsbtn
                    Get Started For Free




  %section#cancel.bg-gradient1
    .container
      %h1.title1
        %span
          And don’t forget,
          %strong
            you can cancel anytime.
      %h1.title1
        %span
          No lengthy commitments or obligations.
          %br/

  %section#through
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          %h1.title1 We’re here to guide you through.
          %h2.subtitle All the team here at LearnSignal are 100% dedicated to helping you pass your ACCA exams first time around. If you have any questions or concerns about enrolling in our online learning programme then we’re here for you, and we’d love to help.
          .lsbtn-base
            =link_to 'Chat our experts', contact_url, class: 'lsbtn v3'



-#%footer#footer
  .container
    .row
      .col-md-3
        .logo
          %a{:href => "#"}
            %img{:src => "img/logo.png"}/
        .col-md-2.col-sm-3.col-xs-6
          %ul.fmenu
            %li
              %a{:href => "#"} Acca
            %li
              %a{:href => "#"} Acca Info
        .col-md-2.col-sm-3.col-xs-6
          %ul.fmenu
            %li
              %a{:href => "#"} blog
            %li
              %a{:href => "#"} community
            %li
              %a{:href => "#"} lecturers
            %li
              %a{:href => "#"} media
        .clearfix.visible-xs-block
        .col-md-2.col-sm-3.col-xs-6
          %ul.fmenu
            %li
              %a{:href => "#"} contact
            %li
              %a{:href => "#"} careers
            %li
              %a{:href => "#"} privacy policy
            %li
              %a{:href => "#"} terms  conditions
        .col-md-2.col-sm-3.col-xs-6
          %ul.fmenu
            %li follow us
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook.fa-fw
                facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter.fa-fw
                twitter
        .clearfix.visible-sm-block.visible-xs-block
        .col-md-1
          %a.chat{:href => "#"}
            %img{:src => "img/chat.png"}/
