.home_page_layout
  %header.home-background
    .l-wrap-home
      =render partial: 'layouts/transparent_navbar'

      .home.text-center
        %h2.h-white
          The First Ever On-Demand training library for business professionals
        %ul
          %li
            %p study online
          %li
            %p
              Anywhere
          %li
            %p
              Anytime



  %section#advance_career{style: 'padding: 40px 0 40px 0;'}
    .l-wrap-home
      %h2 Advance your career
      %p LearnSignal gives you access to world class training and certifications.
      %ul
        %li
          .ac_title_bl
            =image_tag('24h.png', alt: '24h')
            %p Flexible study options
          %p Whether you are studying at home, or on a tablet on your way to work, you can enjoy 24-hour access to video lectures, slide presentations, practical exercises, quizzes and a supportive student network. Never fear missing a class again.

        %li
          .ac_title_bl
            =image_tag('world.png', alt: 'world')
            %p.two_strings
              World Leading
              %br Education
          %p LearnSignal is a global business school created by top accountancy tutors. Our courses are recognised by accreditation bodies all over the world.

        %li
          .ac_title_bl
            =image_tag('tallent.png', alt: 'tallent')
            %p.two_strings
              Designed and Taught
              %br by the Best
          %p We have brought together the world's top accountancy tutors and the world's leading instructional designers to bring you one of the highest quality online course available anywhere in the world.
        %li
          .ac_title_bl
            =image_tag('global.png', alt: 'global')
            %p.two_strings
              Be Part of Global
              %br Student Body
          %p Our courses are taught in over 100 countries around the world. Our tutors are globally recognised as some of the best accountancy trainers in the world!



  %section#diploma_courses
    .l-wrap-home
      .col-sm-12.text-center
        %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
          Diploma Courses

        -@product_courses.all_in_order.each do |course|
          .col-sm-12
            .course-panel.course-panel-inner
              .col-sm-2.hidden-xs
                =image_tag('certificate.png', alt: 'certificate', class: 'cert-image')
              .col-sm-10
                %h3
                  =course.name
                %p.p.hidden-xs
                  =course.short_description.truncate(150)
              .col-sm-2
              .col-sm-10
                =link_to library_special_link(course), class: 'btn btn-cyan l-margin-top' do
                  Course Info



  %section#subscribe
    .l-wrap-home


  %section#home_info
    .l-wrap-home
      .col-sm-12.text-center

        %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
          Subscription Courses

        -@groups.all_in_order.each do |group|
          .col-sm-6
            =link_to library_special_link(group), class: 'course-panel course-panel-inner group-inner' do
              %h3.h2.course-panel-title.text-center
                =group.name
              %p.p.course-panel-desc
                =group.description.truncate(150)



  %section#subscribe
    .l-wrap-home
      %h2.h-white Subscribe to our newsletter
      #response
        =form_tag('/home_page_subscribe', method: 'post', id: 'mailchimpform', remote: 'true') do
          =email_field(:email, :address, {id: 'email', placeholder: 'Type your email...'})
          %button{:type => "submit"}

        %p
          By providing us your email, you agree to the terms of our
          =link_to privacy_policy_url do
            Privacy Policy
          and
          =link_to terms_and_conditions_url do
            Terms of Service



  %section#help
    .l-wrap-home
      %h2
        How can we
        %br help you today?

      .help_descr
        =image_tag('call_us_icon.png', alt: 'call_us_icon')
        .help_cont
          %h4 Speak to one of our educational consultants

          %p If you have any queries or specific requests regarding LearnSignal’s online training faculty, get in touch with us, and a member of our team will contact you as soon as possible.


          =link_to contact_url, class: 'enroll_now' do
            contact us now!


