.home_page_layout
  %header
    .l-wrap-home
      =render partial: 'layouts/transparent_navbar'

      .home
        %h2.h-white
          The First Ever On-Demand training library for business professionals
        %ul
          %li
            %p study online
          %li
            %p
              Anywhere
          %li
            %p
              Anytime

  %section#home_info
    .l-wrap-home
      .col-sm-12.text-center
        %h2.l-margin-bottom-big
          Diploma Courses

        -@product_courses.each do |course|
          .col-sm-6
            =link_to library_special_link(course) do
              .course-panel
                .course-panel-inner
                  %h3.course-panel-title
                    =course.name
                  %p.course-panel-desc.hidden-xs
                    =course.short_description


  %section#subscribe
    .l-wrap-home


  %section#home_info
    .l-wrap-home
      .col-sm-12.text-center
        %h2.l-margin-bottom-big.l-margin-top
          Subscription Courses

        -@groups.each do |group|
          .col-sm-6
            =link_to library_special_link(group) do
              .group-panel
                .group-panel-inner
                  %h3.group-panel-title
                    =group.name


