.home_page_layout
  %header
    .l-wrap-home
      =render partial: 'layouts/transparent_navbar'

      .home
        %h2.h-white
          The First Ever On-Demand training library for business professionals
        %ul
          %li
            %p study online
          %li
            %p
              Anywhere
          %li
            %p
              Anytime


  .business
    .l-wrap-home
      .l-section-small
        .row
          .col-sm-12
            %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
              Features
        .row
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('phone-icon.png', class: 'features-img', alt: 'anytime-anywhere-mobile-icon')
              Anywhere, Anytime
            %p.p
              Learn the skills you need anytime, anywhere, on any device.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('magnifiying-glass-icon.png', class: 'features-img', alt: 'depth-of-content-icon')
              Depth of Content
            %p.p
              Access a library of business-focused courses taught by expert tutors.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('network-icon.png', class: 'features-img', alt: 'expert-author-network-icon')
              Expert Author Network
            %p.p
              Learn from the best with training designed and developed by industry experts.

  %section#subscribe
    .l-wrap-home


  %section#advance_career{style: 'padding: 40px 0 40px 0;'}
    .l-wrap-home
      %h2 Advance your career in Accounting
      %p LearnSignal gives you access to world class training and certifications.
      %ul
        %li
          .ac_title_bl
            =image_tag('24h.png', alt: '24h')
            %p Flexible study options
          %p Whether you are studying at home, or on a tablet on your way to work, you can enjoy 24-hour access to video lectures, slide presentations, practical exercises, quizzes and a supportive student network. Never fear missing a class again.

        %li
          .ac_title_bl
            =image_tag('world.png', alt: 'world')
            %p.two_strings
              World Leading
              %br Education
          %p LearnSignal is a global business school created by top accountancy tutors. Our courses are recognised by accreditation bodies all over the world.

        %li
          .ac_title_bl
            =image_tag('tallent.png', alt: 'tallent')
            %p.two_strings
              Designed and Taught
              %br by the Best
          %p We have brought together the world's top accountancy tutors and the world's leading instructional designers to bring you one of the highest quality online course available anywhere in the world.
        %li
          .ac_title_bl
            =image_tag('global.png', alt: 'global')
            %p.two_strings
              Be Part of Global
              %br Student Body
          %p Our courses are taught in over 100 countries around the world. Our tutors are globally recognised as some of the best accountancy trainers in the world!


  %section#subscribe
    .l-wrap-home


  %section#home_info
    .l-wrap-home
      .col-sm-12.text-center
        %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
          Diploma Courses

        -@product_courses.each do |course|
          .col-sm-6
            =link_to library_special_link(course), class: 'course-panel course-panel-inner' do
              %h3.course-panel-title
                =course.name
              %p.course-panel-desc.hidden-xs
                =course.short_description


  %section#subscribe
    .l-wrap-home


  %section#home_info
    .l-wrap-home
      .col-sm-12.text-center

        %h2.h2.upcase.h-center.h-separator.h-separator-center.l-margin-bottom-big
          Subscription Courses

        -@groups.each do |group|
          .col-sm-6
            =link_to library_special_link(group) do
              .group-panel
                .group-panel-inner
                  %h3.group-panel-title
                    =group.name


