.container
  %header.management-console-section
    %h1
      =t('views.home_pages.index.h1')

  %section.pb-7
    =render partial: 'management_consoles/public_resources_nav'

    .row
      .col-sm-12
        .box-item.table-box
          .row
            =link_to 'New Landing Page', new_home_page_url, class: 'btn btn-primary btn-xs'

          .table-responsive.pt-4
            %table.table.sorted_table
              %thead
                %tr
                  %th=t('views.home_pages.form.name')
                  %th=t('views.home_pages.form.public_url')
                  %th=t('views.home_pages.form.blog_posts')
                  %th
              %tbody
                -@home_pages.each do |home_page|
                  %tr
                    %td=home_page.name
                    %td=home_page.public_url
                    %td
                      -if home_page.blog_posts.any?
                        =home_page.blog_posts.count
                    %td
                      =link_to t('views.general.edit'), edit_home_page_url(home_page), class: 'btn btn-primary btn-xs'
                      -if home_page.destroyable?
                        =link_to t('views.general.delete'), home_page, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary btn-xs'

            =will_paginate @home_pages, renderer: BootstrapPagination::Rails

