.hero-home
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .header{role: 'banner'}
    .l-wrap
      .container-fluid
        %nav.navbar.navbar-default.navbar-transparent#navbar{role: 'navigation'}
          .navbar-header
            %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_url do
              =image_tag('ls-logo-red.svg', class: 'logo')
          #myNavbar.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to 'Business', business_url
              %li
                =link_to 'Why Learn Signal', why_learn_signal_url
              %li
                =link_to 'Pricing', pricing_url
              %li
                =link_to 'Courses', library_url
              %li
                =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}

  .hero-inner#sign-up
    .l-wrap-medium
      .container-fluid
        .row
          .col-sm-6.col-md-8.col-lg-8
            %p.h5.h-white
              Anywhere, Anytime
            %h1.h1.bold.h-white.h-separator.h-separator-left.l-margin-bottom-big
              The First Ever On-Demand training library for business professionals
            -country_count = '83 Countries'

            %p.h7
              ="Students in "
              =link_to country_count, '#', class: 'no-link-style'
              ="are using our platform to progress their careers."
          .col-sm-6.col-md-4.col-lg-4
            %p.h5.h-white.l-margin-bottom
              ='Sign Up for your 7-day free trial'
            =render partial: 'sign_up_form'


.course-types
  .l-wrap-big
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h2.h-center.h-separator.h-separator-center.h-white.l-margin-bottom-big
              Browse Courses
        .row
          .col-sm-4
            =link_to library_special_link(@group1) do
              .home-image-1
                .hero-inner-wide
                  %h3.h-white.l-margin-bottom-big{style: 'padding-top: 120px; text-transform: uppercase;'}
                    Professional Qualifications
                  %p.p{style: 'padding-top: 50px; color: #fff;'}
                    Revision courses for ACCA, CFA and FRM professional exams.
          .col-sm-4
            =link_to library_special_link(@group2) do
              .home-image-2
                .hero-inner-wide
                  %h3.h-white.l-margin-bottom-big{style: 'padding-top: 120px; text-transform: uppercase;'}
                    IT Operations
                  %p.p{style: 'padding-top: 50px; color: #fff;'}
                    Develop your skills in Excel, Access and Tableau.
          .col-sm-4
            =link_to library_special_link(@group3) do
              .home-image-3
                .hero-inner-wide
                  %h3.h-white.l-margin-bottom-big{style: 'padding-top: 120px; text-transform: uppercase;'}
                    Business Professionals
                  %p.p{style: 'padding-top: 50px; color: #fff;'}
                    Learn fundamental business skills, from business analysis, project management, critical thinking and problem solving.

.business
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h2.h-center.h-separator.h-separator-center.l-margin-bottom-big
              For Individuals
        .row
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('phone-icon.png', class: 'features-img')
              Anywhere, Anytime
            %p.p
              Learn the skills you need anytime, anywhere, on any device.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('magnifiying-glass-icon.png', class: 'features-img')
              Depth of Content
            %p.p
              Access a library of business-focused courses taught by expert tutors.
          .col-sm-4
            %h3.l-margin-bottom-big
              =image_tag('network-icon.png', class: 'features-img')
              Expert Author Network
            %p.p
              Learn from the best with training designed and developed by industry experts.

.features.is-bg-asphalt
  .l-wrap-big
    .l-section
      .container-fluid
        .row
          .col-sm-12
            %h2.h2.h-center.h-separator.h-separator-center
              What's New
        .row
          .col-sm-4
            .hero-inner-wide
              %h3.h4.l-margin-bottom-big
                %a{href: 'http://blog.learnsignal.com/on-demand/maximise-employee-memory-retention-with-on-demand-training', target: '_blank'}
                  .blog-image-1

                  %br/
                  ='Maximise employee memory retention with on-demand training'
          .col-sm-4
            .hero-inner-wide
              %h3.h4.l-margin-bottom-big
                %a{href: 'http://blog.learnsignal.com/on-demand/meeting-millennials-needs-with-on-demand-learning', target: '_blank'}
                  .blog-image-2

                  %br/
                  ='Meeting millennials’ needs with on-demand learning'
          .col-sm-4
            .hero-inner-wide
              %h3.h4.l-margin-bottom-big
                %a{href: 'http://blog.learnsignal.com/on-demand/can-e-learning-really-improve-employee-retention', target: '_blank'}
                  .blog-image-3

                  %br/
                  ='Can e-learning really improve employee retention?'

.testimonials
  .l-wrap
    .l-section
      .testimonial
        .container-fluid
          .row
            .col-sm-12
              %h2.h5.text-center
                Testimonials
              %p.h2.text-center.h-separator.h-separator-center
                What your peers are saying
          .row
            .col-sm-6.col-sm-offset-3
              .testimonial
                .testimonial-pic-wrap
                  =image_tag('mike-testimonial-pic.jpg', class: 'testimonial-pic')
                %p.p
                  When I signed up for Level I, I had 85 days to put in the 300 hours of studying while working full time. I had just finished my undergrad in Math and even though I had no finance background, I was confident that I could handle the material.
                %p.p
                  The challenge would be covering everything and having enough time to do mock exams. Learn Signal was the perfect solution.

                %p.p
                  The videos were quick, very well presented and contained only the essential information. The tests at the end of each section were helpful at highlighting gaps in my knowledge. I'm not sure I would have finished the material in time and passed the exam had I not used Learn Signal.
                %p.p
                  %strong.testimonial-sig
                    Mike Sinclair
                  %br/
                  Risk Analyst Architect

.start-trial
  %a.btn-block.btn-block-red{href: '#sign-up'}
    .l-wrap
      .l-section-small
        .container-fluid
          .col-sm-12
            %p.h5.text-center
              Become a member
            %p.h2.text-center
              Start your 7-day free trial
              %span.ico-arrow-right-r

:javascript
    var nav = responsiveNav(".nav-collapse");

  // Smooth scroll to top
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash,
      $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 500, 'swing', function () {
        window.location.hash = target;
      });
    });
  });
