.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Edit Enrolment

      #enrollment_form
        =form_for(@enrollment, html: {class: 'form-horizontal', role: 'form'}) do |f|
          .col-sm-12.l-margin-bottom
            .row
              .col-sm-6.col-sm-offset-3
                =f.label :exam_date, t('views.enrollments.form.exam_date'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.collection_select :exam_date, @exam_sittings, :date, :formatted_date, {prompt: t('views.general.select'), include_blank: 'Online Exam'}, {class: 'form-control', style: 'border-radius: 6px;', name: 'exam_date'}
                %br/

                #custom_exam_date
                  %label{class: 'control-label'}
                    ='Enter Online Exam Date'
                  .input-group.input-group-lg.full-width
                    %input{type: "text", placeholder: 'Select Date ', value: @enrollment.exam_date, class: 'form-control', name: 'custom_exam_date', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'}

                %br/
                .form-group
                  .col-sm-12
                    %label.check
                      =f.check_box :notifications
                      %span
                        %i.fa.fa-check
                      =t('views.enrollments.form.notifications')


            .row.l-margin-top-huge
              .col-sm-6.col-sm-offset-3
                =f.submit t('views.general.save'), class: 'btn btn-red', id: 'enroll_now'
                =link_to t('views.general.cancel'), account_url, anchor: :enrollments, class: 'btn btn-cyan'



:javascript
  $( document ).ready(function() {
    if ($('select[name="exam_date"]').val() == '') {
      $("#custom_exam_date").show();
    } else {
      $("#custom_exam_date").hide();
    }
  });
  // Reveal the custom_exam_date field only if correct value is selected in the exam_date dropdown
  $('select[name="exam_date"]').change(function () {
    if ($('select[name="exam_date"]').val() == '') {
      $("#custom_exam_date").show();
    } else if ($('select[name="exam_date"]').val() != '') {
      $("#custom_exam_date").hide();
    } else {
      $("#custom_exam_date").hide();
    }
  });
  $(function () {
    $('#datetimepicker').datetimepicker();
      format: 'DD/MM/YYYY'
  });


