.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Edit Enrollment

      -if @enrollment.registered
        =form_for(@enrollment, html: {class: 'form-horizontal', role: 'form'}) do |f|
          .col-sm-12
            .row
              .col-sm-8.col-sm-offset-2
                =f.label :student_number, "Enter your #{@exam_body.name} Student Number", class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :student_number, placeholder: t('views.enrollments.form.student_number_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                %br/

                =f.label :exam_date, t('views.enrollments.form.exam_date'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.collection_select :exam_date, @exam_sittings, :date, :formatted_date, {prompt: t('views.general.select'), include_blank: 'Online Exam'}, {class: 'form-control', style: 'border-radius: 6px;', name: 'exam_date'}
                %br/

                #custom_exam_date
                  %label{class: 'control-label'}
                    ='Enter Online Exam Date'
                  .input-group.input-group-lg.full-width
                    %input{type: "text", placeholder: 'Select Date ', value: @enrollment.exam_date, class: 'form-control', name: 'custom_exam_date', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'}

          %br/
          .row
            =f.submit t('views.general.save'), class: 'btn btn-red', id: 'enroll_now'
            =link_to t('views.general.cancel'), account_url, anchor: :enrollments, class: 'btn btn-cyan'


      -else
        =form_for(@enrollment, html: {class: 'form-horizontal', role: 'form'}) do |f|
          .col-sm-12
            .row
              .col-sm-8.col-sm-offset-2
                -question = @exam_body.name.to_s + '?'
                %label
                  ='Have you registered with the'
                  =question
                  =f.check_box :registered

                %br/
                %br/
                =f.label :student_number, "Enter your #{@exam_body.name} Student Number", class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :student_number, placeholder: t('views.enrollments.form.student_number_placeholder'), class: 'form-control', style: 'border-radius: 6px;', id: 'student_number'

                %br/
                =f.label :exam_date, t('views.enrollments.form.exam_date'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.collection_select :exam_date, @exam_sittings, :date, :date, {prompt: t('views.general.select'), include_blank: 'Online Exam'}, {class: 'form-control', style: 'border-radius: 6px;', name: 'exam_date'}

                %br/
                #custom_exam_date
                  %label{class: 'control-label'}
                    ='Enter Online Exam Date'
                  .input-group.input-group-lg.full-width
                    %input{type: "text", placeholder: 'Select Date ', value: f.object.exam_date, class: 'form-control', name: 'custom_exam_date', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'}


          %br/
          .row
            =f.submit t('views.general.save'), class: 'btn btn-red', id: 'enroll_now'
            =link_to t('views.general.cancel'), account_url, anchor: :enrollments, class: 'btn btn-cyan'

-if @enrollment.registered
  :javascript
    $( document ).ready(function() {
      if ($('select[name="exam_date"]').val() == '') {
        $("#custom_exam_date").show();
      } else {
        $("#custom_exam_date").hide();
      }
    });
    // Reveal the custom_exam_date field only if correct value is selected in the exam_date dropdown
    $('select[name="exam_date"]').change(function () {
      if ($('select[name="exam_date"]').val() == '') {
        $("#custom_exam_date").show();
      } else if ($('select[name="exam_date"]').val() != '') {
        $("#custom_exam_date").hide();
      } else {
        $("#custom_exam_date").hide();
      }
    });
    $(function () {
      $('#datetimepicker').datetimepicker();
        format: 'DD/MM/YYYY'
    });


-else
  :javascript
    $( document ).ready(function() {
      if ($('select[name="exam_date"]').val() == '') {
        $("#custom_exam_date").show();
      } else {
        $("#custom_exam_date").hide();
      }
    });
    // Reveal the custom_exam_date field only if correct value is selected in the exam_date dropdown
    $('select[name="exam_date"]').change(function () {
      if ($('select[name="exam_date"]').val() == '') {
        $("#custom_exam_date").show();
      } else if ($('select[name="exam_date"]').val() != '') {
        $("#custom_exam_date").hide();
      } else {
        $("#custom_exam_date").hide();
      }
    });
    $(function () {
      $('#datetimepicker').datetimepicker();
        format: 'DD/MM/YYYY'
    });


