.container
  %header.management-console-section
    %h1
      =t('views.home_pages.index.h1')

  %section.pb-3
    =render partial: 'management_consoles/system_requirements_nav'

  %section.pb-7
    .row
      .col-sm-12
        .box-item.table-box
          %ul.list-group
            -@system.settings.each do |setting, value|
              %li.list-group-item.d-flex.justify-content-between.align-items-center
                =setting.humanize
                %label.switch
                  %input{ type: 'checkbox', checked: value.to_bool, 'data-field-name': "settings[#{setting}]"}
                  %span.slider.round

    .row.col-sm-12
      =form_for([:admin, @system]) do |f|
        -@system.settings.each do |setting, value|
          =hidden_field_tag("settings[#{setting}]", value.to_bool, id: "settings[#{setting}]")
        =f.submit 'Save', class: 'btn btn-primary',
                  data: { confirm: 'Are you sure do you wanna save these settings?' }

:javascript
  document.addEventListener('DOMContentLoaded', (event) => {
    var inputs = document.querySelectorAll("input[type='checkbox']");

    for(var i = 0; i < inputs.length; i++) {
      inputs[i].addEventListener("change", function(){
        document.getElementById(this.dataset.fieldName).value = this.checked;
      });
    }
  });
