.row
  .col-sm-8.col-sm-offset-2
    =form_for(@exam_level, html: {class: 'form-horizontal', role: 'form'}) do |f|
      =f.hidden_field :sorting_order
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @exam_level, message: nil}
        .form-group
          =f.label :qualification_id, t('views.exam_levels.form.qualification_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :qualification_id, @qualifications, :id, :full_name, {include_blank: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :name, t('views.exam_levels.form.name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :name, placeholder: t('views.exam_levels.form.name_placeholder'), class: 'form-control update-my-url', autofocus: true
        .form-group
          =f.label :name_url, t('views.exam_levels.form.name_url'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :name_url, placeholder: t('views.exam_levels.form.name_url_placeholder'), class: 'form-control'
        .form-group
          =f.label :default_number_of_possible_exam_answers, t('views.exam_levels.form.default_number_of_possible_exam_answers'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.select :default_number_of_possible_exam_answers, options_for_select((2..5).to_a, f.object.default_number_of_possible_exam_answers), {include_blank: t('views.general.select')}, {class: 'form-control'}
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :is_cpd
                =t('views.exam_levels.form.is_cpd')
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :active
                =t('views.exam_levels.form.active')

      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), exam_levels_path
