.row
  .col-sm-12
    .page-header
      %h1=t('views.exam_levels.index.h1')
.row
  .col-sm-12
    =will_paginate @exam_levels, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered.sorted_table
      %thead
        %tr
          %th=t('views.exam_levels.form.name')
          %th=t('views.exam_levels.form.name_url')
          %th=t('views.exam_levels.form.is_cpd')
          %th=t('views.exam_levels.form.active')
          %th=t('views.exam_levels.form.best_possible_first_attempt_score')
          %th
      %tbody
        -tracker = nil
        -@exam_levels.each do |exam_level|
          -unless tracker == exam_level.qualification_id
            -tracker = exam_level.qualification_id
            %tr
              %td{colspan: 10}
                %h2=link_to exam_level.qualification.name, exam_level.qualification
                =link_to t('views.exam_levels.index.new'), new_exam_level_url(qualification_id: exam_level.qualification_id), class: 'btn btn-xs btn-success'
          %tr{id: exam_level.id}
            %td=link_to(exam_level.name, exam_level, title: t('views.general.view_tooltip'))
            %td=link_to(exam_level.name_url, exam_level, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(exam_level.is_cpd), exam_level, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(exam_level.active), exam_level, title: t('views.general.view_tooltip'))
            %td=link_to(exam_level.best_possible_first_attempt_score, exam_level, title: t('views.general.view_tooltip'))
            %td
              =link_to t('views.general.edit'), edit_exam_level_url(exam_level), class: 'btn btn-info btn-xs'
              -if exam_level.destroyable?
                =link_to t('views.general.delete'), exam_level, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'

-#.row
  .col-sm-12
    =link_to t('views.general.new'), new_exam_level_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
