.row
  .col-sm-12
    .page-header
      %h1
        =@exam_level.name
      =render partial: 'shared/horizontal_hierarchy'

.row
  .col-sm-6
    %table.table.table-bordered
      %h3
        =t('views.general.links')
      -if @exam_level.enable_exam_sections
        %tr
          %td.col-sm-4=t('views.exam_sections.index.h1')
          %td.col-sm-8
            -@exam_level.exam_sections.each do |exam_section|
              =link_to exam_section.name, exam_section
              %br/
            =link_to t('views.general.new'), new_exam_section_url(exam_level_id: @exam_level.id), class: 'btn btn-xs btn-success'
      %tr
        %td.col-sm-4=t('views.course_modules.index.h1')
        %td.col-sm-8
          -@exam_level.course_modules.each do |course_module|
            =link_to course_module.name, course_modules_for_qualification_exam_level_exam_section_and_name_url(qualification_url: course_module.qualification.name_url, exam_level_url: course_module.exam_level.name_url, exam_section_url: course_module.exam_section.try(:name_url) || 'all', course_module_url: course_module.name_url)
            %br/
          =link_to t('views.general.new'), new_course_module_url(exam_level_url: @exam_level.name_url), class: 'btn btn-xs btn-success'
  .col-sm-6
    %table.table.table-bordered
      %h3
        =t('views.general.details')
      %tr
        %td.col-sm-4=t('views.exam_levels.form.qualification_id')
        %td.col-sm-8=link_to @exam_level.qualification.name, @exam_level.qualification
      %tr
        %td.col-sm-4=t('views.exam_levels.form.name')
        %td.col-sm-8=@exam_level.name
      %tr
        %td.col-sm-4=t('views.exam_levels.form.name_url')
        %td.col-sm-8=@exam_level.name_url
      %tr
        %td.col-sm-4=t('views.exam_levels.form.default_number_of_possible_exam_answers')
        %td.col-sm-8=@exam_level.default_number_of_possible_exam_answers
      %tr
        %td.col-sm-4=t('views.exam_levels.form.is_cpd')
        %td.col-sm-8=tick_or_cross @exam_level.is_cpd
      %tr
        %td.col-sm-4=t('views.exam_levels.form.seo_description')
        %td.col-sm-8=@exam_level.seo_description
      %tr
        %td.col-sm-4=t('views.exam_levels.form.seo_no_index')
        %td.col-sm-8=tick_or_cross @exam_level.seo_no_index
      %tr
        %td.col-sm-4=t('views.exam_levels.form.active')
        %td.col-sm-8=tick_or_cross @exam_level.active
      %tr
        %td.col-sm-4=t('views.exam_levels.form.best_possible_first_attempt_score')
        %td.col-sm-8=@exam_level.best_possible_first_attempt_score
      %tr
        %td.col-sm-4=t('views.exam_levels.index.exam_sections')
        %td.col-sm-8=tick_or_cross @exam_level.enable_exam_sections

  %p
    =link_to sanitize('&larr; ' + t('views.exam_levels.index.h1')), exam_levels_url
    |
    =link_to t('views.general.edit'), edit_exam_level_url(id: @exam_level.id), title: t('views.general.edit_tooltip')
