.top-content.corporate_layout
  .corporate-heading
    =render partial: 'layouts/corporate_logo'
  .l-wrap-corporate
    .row
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      .col-sm-6.col-sm-offset-3.l-margin-top
        %h3.l-margin-bottom.text-center
          ="Verify you belong to #{current_corporate.try(:organisation_name)}"
        .login-form.l-margin-top-big
          =form_tag('/corporate_verification', method: 'post') do
            .row
              .col-md-12
                .col-md-12
                  .form-group
                    =label_tag(:user_name, 'Username', class: 'control-label')
                    =text_field_tag(:user_name, '', class: 'form-control input-group input-group-lg full-width', style: 'border-radius: 6px;')
                    %br/
                  .form-group
                    =label_tag(:passcode, 'Password', class: 'control-label')
                    =password_field_tag(:passcode, '', class: 'form-control input-group input-group-lg full-width', style: 'border-radius: 6px;')
                    %br/
                    %br/
                    =submit_tag 'Enter', class: 'btn btn-red btn-wide btn-lg-text'
                  .text-center
                    =link_to 'Already have an account? Sign In Here', sign_in_url, {class: ''}
