.corporate_layout.top-content
  .corporate-heading
    =render partial: 'layouts/corporate_logo'
  .l-wrap-corp-home
    .row.l-margin-top.l-margin-bottom
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      .col-sm-6.col-sm-offset-3.l-margin-top
        %h3.l-margin-bottom-huge.text-center.corp-text
          ='Please enter your details below'

        .login-form
          =form_for(@corporate_student, url: new_corporate_user_url(@corporate_student), method: 'post', html: {role: 'form'}) do |f|
            =render partial: '/layouts/error_messages', locals: {thing: @corporate_student, message: nil}
            .row
              .col-md-12
                .col-sm-6
                  .form-group
                    =f.label :first_name, t('views.corporate_students.form.first_name'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.text_field :first_name,  class: 'form-control', style: 'border-radius: 6px;', required: true
                .col-sm-6
                  .form-group
                    =f.label :last_name, t('views.corporate_students.form.last_name'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                    =f.text_field :last_name,  class: 'form-control', style: 'border-radius: 6px;', required: true
                .col-sm-12
                  .form-group
                    =f.label :email, t('views.corporate_students.form.email'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.text_field :email,  class: 'form-control', style: 'border-radius: 6px;', required: true
                .col-sm-6
                  .form-group
                    =f.label :password, t('views.corporate_students.form.password'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.password_field :password, class: 'form-control', required: true, style: 'border-radius: 6px;'
                .col-sm-6
                  .form-group
                    =f.label :employee_guid, t('views.corporate_students.form.employee_guid'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.text_field :employee_guid,  class: 'form-control', style: 'border-radius: 6px;'

                .col-sm-12.l-margin-bottom.l-margin-top
                  =f.submit t('views.general.create_account'), class: 'btn btn-red btn-wide btn-lg-text'
                  .text-center.l-margin-top
                    =link_to 'Already have an account? Sign In Here', sign_in_url

