.l-section-small.is-bg-asphalt
  .container-fluid
    .row.l-margin-bottom.l-margin-top
      .col-md-12.text-center
        = image_tag @corporate_with_subdomain.logo.url
    .row.l-margin-top.l-margin-bottom
      .col-md-12.l-margin-top
        .table-box
          =form_for(@corporate_student, url: new_corporate_user_url(@corporate_student), method: 'post', html: {class: 'form-horizontal', role: 'form'}) do |f|
            =render partial: '/layouts/error_messages', locals: {thing: @corporate_student, message: nil}
            .row
              .col-md-4.col-md-offset-4
                =f.label :first_name, t('views.corporate_students.form.first_name'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :first_name,  class: 'form-control', style: 'border-radius: 6px;'
                %br/
                =f.label :last_name, t('views.corporate_students.form.last_name'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :last_name,  class: 'form-control', style: 'border-radius: 6px;'
                %br/
                =f.label :email, t('views.corporate_students.form.email'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :email,  class: 'form-control', style: 'border-radius: 6px;'
                %br/
                =f.label :password, t('views.corporate_students.form.password'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.password_field :password, class: 'form-control', required: true, style: 'border-radius: 6px;'
                %br/
                =f.label :password_confirmation, t('views.corporate_students.form.password_confirmation'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.password_field :password_confirmation, class: 'form-control', required: true, style: 'border-radius: 6px;'
                %br/
                =f.label :employee_guid, t('views.corporate_students.form.employee_guid'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :employee_guid,  class: 'form-control', style: 'border-radius: 6px;'
                %br/
                %br/
                =f.submit t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
                =link_to t('views.general.cancel'), corporate_students_path, class: 'btn btn-cyan l-margin-right-big l-padding-side-3x l-margin-top'
