-# Landing Page when a subdomain is present

.corporate_layout.top-content
  .l-wrap-corporate
    .container
      .row
        =render partial: 'layouts/corporate_logo'
      .row
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'
        .col-sm-6.col-sm-offset-3.text-center.l-margin-bottom-big
          %h3.h-white
            ='Please Login or Create an account'
        .col-sm-6.col-sm-offset-3.text-center.l-margin-bottom-big.l-margin-top-big
          =link_to 'Login', sign_in_url, class: 'btn btn-red btn-wide btn-lg-text btn-secondary', style: 'line-height: 60px'
        .col-sm-6.col-sm-offset-3.text-center.l-margin-bottom-big.l-margin-top-big
          =link_to 'Create Account', corporate_login_url, class: 'btn btn-green btn-wide btn-lg-text btn-secondary', style: 'line-height: 60px'
