-# VueJS include
= javascript_pack_tag 'exercise'
.card.mb-5
  .card-body
    .row
      -if question_kind == 'open'
        #open-answers-component{ data: { answer_type: 'TextEditor', content: question.answers.first.content['text'] } }
      -else
        #open-answers-component{ data: { answer_type: 'Spreadsheet',
                                               answer_id: question.answers.first.id,
                                               cbe_id: question.user_log.cbe_id,
                                               cbe_user_log_id: question.cbe_user_log_id } }

.h6.text-gray2
  Educator Section
.card.mb-5
  .card-body
    =form_with(url: cbe_user_question_update_admin_exercise_path(id: question.user_log.exercise_id, question_id: question.id), html: {class: 'form-horizontal', role: 'form'}) do
      .row.pt-5
        .col-sm-12
          .form-group
            .input-group.input-group-lg
              =label_tag :score, 'Score'
              =text_field_tag(:score, question.score)
      .row.pt-5
        .col-sm-12
          .form-group
            .input-group.input-group-lg
              =label_tag :educator_comment, 'Comment'
              =text_area_tag(:educator_comment, question.educator_comment, id: "#{question.id}-editor", as: 'summernote')
      .row.pt-5
        .col-sm-6
          =submit_tag("Update", class: 'btn btn-primary')
          %div{:id => "#{question.id}-response"}


:javascript
  $("##{question.id}-editor").summernote({
    disableDragAndDrop: true,
    height: 150
  });
