.container
  %header.management-console-section
    %h1
      =@order.user.full_name
    %p.p-hero.px-lg-8
      ='Order ID:'
      =@order.id

  %section.pb-7
    =render partial: 'users/user_tabs'

    .row
      .col-sm-12
        .box-item
          .row
            .col-sm-9
              .row.pt-3
                .col-sm-4
                  .h3
                    Order Status
                  .h6
                    =@order.state
                .col-sm-4
                  .h3
                    Order Created
                  .h6
                    =humanize_datetime(@order.created_at)
                .col-sm-4
                  .h3
                    Coupon Code
                  .h6
                    =@order.coupon_code
              .row.pt-3
                .col-sm-4
                  .h3
                    Product Name
                  .h6
                    =@product.name
                .col-sm-4
                  .h3
                    Product Type
                  .h6
                    =@product.product_type
                .col-sm-4
                  .h3
                    Product Price
                  .h6
                    =number_in_local_currency(@product.price, @product.currency)
              .row.pt-3
                .col-sm-4
                  .h3
                    Payment
                  .h6
                    =@order.stripe? ? 'Stripe' : 'PayPal'
                -if order_cancelled_status?(@order)
                  .col-sm-4
                    .h3
                      Cancelled by
                    .h6
                      =@admin_user&.email
            .col-sm-3
              -if order_cancelled_status?(@order)
                =link_to 'Reactivate Order', order_management_un_cancel_order_url(@order.id), method: :put, class: 'btn btn-primary mb-3', data: {confirm: 'Are you sure you want to reactivate this order?'}
              - else
                .btn.btn-primary.mb-3{data: {target: '#confirm-order-cancellation-modal', toggle: 'modal', href: '#'}}
                  Cancel Order

=render partial: 'confirm_cancellation_modal'