-# =render partial: 'course_module_element_quizzes/fields_for_standard_question', locals: {f: f, question: question, parent: flash_quiz, mode: 'flash'}
  - mode can be 'flash' or 'full'

-#.question-box-item.question{id: question.object.id.nil? ? 'the_new_question' : ('question_' + question.object.id.to_s)}
  .row
    %div{class: mode == 'full' ? 'col-sm-12' : 'col-sm-6'}
      %h3.no-top-gap=question.object.id.nil? ? t('views.course_module_element_quizzes.form.h3.question_new') : t('views.course_module_element_quizzes.form.h3.question_number') + question.object.id.to_s
    -unless mode == 'full'
      .col-sm-6.text-right
        =link_to t('views.flash_quizzes.form.add_extra_answer'), '#', class: 'btn btn-small btn-cyan addExtraFlashQuizAnswer'
        =link_to t('views.general.delete'), '#', class: 'btn btn-small btn-red deleteFlashQuizQuestion'

  .row
    .col-sm-4
      .form-group
        .col-sm-12
          =question.hidden_field :course_module_element_quiz_id, class: 'flash_quiz_field'
          =question.hidden_field :flash_quiz_id, class: 'flash_quiz_field'
          =question.hidden_field :id, class: 'question_id flash_quiz_field'
          =question.hidden_field :_destroy, value: false, class: 'destroy_field flash_quiz_field'
          =question.fields_for :quiz_contents do |content|
            =content.hidden_field :id, class: 'qc-id flash_quiz_field'
            =content.hidden_field :sorting_order, class: 'qc-sorting-order flash_quiz_field'
            =content.hidden_field :content_type, class: 'content-type flash_quiz_field'
            .quiz-question
              =content.text_area :text_content, placeholder: t('views.quiz_questions.form.text_content_placeholder'), class: 'form-control flash_quiz_field', rows: 7
            %br/
          -if mode == 'full'
            =question.fields_for :quiz_solutions do |solution|
              =solution.hidden_field :sorting_order, class: 'flash_quiz_field'
              =solution.text_area :text_content, placeholder: t('views.quiz_questions.form.solution_to_the_question_placeholder'), class: 'form-control flash_quiz_field', rows: 7
      -if mode == 'full'
        .form-group
          =question.label :difficulty_level, t('views.quiz_questions.form.difficulty_level'), class: 'col-sm-12 pull-left'
          .col-sm-12
            =question.select :difficulty_level, ApplicationController::DIFFICULTY_LEVEL_NAMES, {include_blank: t('views.general.select')}, {class: 'difficulty-level form-control'}
      -else
        =question.hidden_field :difficulty_level, value: ApplicationController::DIFFICULTY_LEVEL_NAMES.first, class: 'difficulty-level flash_quiz_field'
    .col-sm-8
      -counter = 0
      =question.fields_for :quiz_answers do |answer|
        .row.quiz_answer
          .col-sm-5
            .row
              .col-sm-1
                =@letters[counter]
              .col-sm-10
                =answer.hidden_field :wrong_answer_video_id, class: 'related_video flash_quiz_field'
                =answer.hidden_field :id, class: 'answer-id flash_quiz_field'
                =answer.hidden_field :_destroy, class: 'answer-destroy flash_quiz_field'
                =answer.fields_for :quiz_contents do |content|
                  =content.hidden_field :id, class: 'answer-qc-id flash_quiz_field'
                  =content.hidden_field :sorting_order, class: 'answer-sorting-order flash_quiz_field'
                  =content.hidden_field :content_type, class: 'answer-content-type flash_quiz_field'
                  .form-group
                    .col-sm-12.quiz-answer-text
                      =content.text_area :text_content, placeholder: t('views.quiz_answer.form.answer_content_placeholder'), class: 'form-control flash_quiz_field', rows: 3
          .col-sm-2.text-left
            .form-group#degree-of-wrongness
              =answer.select :degree_of_wrongness, QuizAnswer::WRONGNESS, {include_blank: t('views.general.select')}, {onchange: "if ($(this).val() == 'correct') { $(this).parent().parent().parent().find('.wrong-answer-explanation').hide(); } else {  $(this).parent().parent().parent().find('.wrong-answer-explanation').show(); }", class: 'form-control flash_quiz_field'}
            =link_to 'Delete' ,'#', class: 'btn btn-red btn-small deleteFlashAnswer'
          .col-sm-5
            .form-group
              .col-sm-12
                -if mode == 'full'
                  =answer.text_area :wrong_answer_explanation_text, placeholder: t('views.quiz_answer.form.answer_solution_content_placeholder'), class: 'form-control wrong-answer-explanation', style: (answer.object.degree_of_wrongness == 'correct' ? 'display: none;' : ''), rows: 3
        -counter += 1

      -if mode == 'full'
        .row
          .col-sm-1
            =label_tag :video, t('views.course_module_element_quizzes.form.video'), class: 'control-label'
          .col-sm-5
            =select_tag :video, options_for_select(@related_cmes.map {|x| [x.name, x.id]}, question.object.quiz_answers.first.try(:wrong_answer_video_id)), {class: 'form-control', include_blank: t('views.general.select'), onchange: "$(this).parent().parent().parent().find('.related_video').val($(this).val()); return false;"}
          .col-sm-6.text-right
            -if parent.object.id.nil?
              -# new parent
              =f.submit t('views.course_module_element_quizzes.form.preview_button'), class: 'btn btn-cyan'
              =f.submit t('views.course_module_element_quizzes.form.advanced_setup_link'), class: 'btn btn-cyan'
            -elsif question.object.id.nil?
              -# new question
              =f.submit t('views.course_module_element_quizzes.form.preview_button'), class: 'btn btn-cyan'
              =link_to t('views.course_module_element_quizzes.form.advanced_setup_link'), new_quiz_question_url(cme_quiz_id: parent.object.id), class: 'btn btn-cyan'
            -else
              -# edit question of existing quiz
              =link_to t('views.course_module_element_quizzes.form.preview_button'), question.object, class: 'btn btn-cyan'
              =link_to t('views.course_module_element_quizzes.form.advanced_setup_link'), edit_quiz_question_url(id: question.object.id, cme_quiz_id: parent.object.id), class: 'btn btn-cyan'
            -if question.object.id.nil?
              =link_to t('views.general.delete'), '#', onclick: "if(confirm('" +t('views.general.delete_confirmation') + "')) {$('#the_new_question').remove()}; return false;", class: 'btn btn-red'
            -elsif question.object.destroyable?
              =link_to t('views.general.delete'), question.object, method: :delete, data: {confirm: t('views.general.delete_confirmation')}, class: 'btn btn-red'



.question-box-item.question{id: question.object.id.nil? ? 'the_new_question' : ('question_' + question.object.id.to_s)}
  .row
    %h3.no-top-gap=question.object.id.nil? ? t('views.course_module_element_quizzes.form.h3.question_new') : t('views.course_module_element_quizzes.form.h3.question_number') + question.object.id.to_s
    .col-sm-4
      .form-group
        .col-sm-12
          =question.hidden_field :course_module_element_quiz_id
          =question.hidden_field :id, class: 'question_id'
          =question.hidden_field :_destroy, value: false, class: 'destroy_field'
          =question.hidden_field :difficulty_level, value: ApplicationController::DIFFICULTY_LEVEL_NAMES.first, class: 'difficulty-level'
          =question.fields_for :quiz_contents do |content|
            =content.hidden_field :id, class: 'qc-id'
            =content.hidden_field :sorting_order, class: 'qc-sorting-order'
            =content.hidden_field :content_type, class: 'content-type'
            .quiz-question
              =content.text_area :text_content, placeholder: t('views.quiz_questions.form.text_content_placeholder'), class: 'form-control', rows: 8
            %br/
          -if mode == 'full'
            =question.fields_for :quiz_solutions do |solution|
              =solution.hidden_field :sorting_order, class: 'flash_quiz_field'
              =solution.text_area :text_content, placeholder: t('views.quiz_questions.form.solution_to_the_question_placeholder'), class: 'form-control flash_quiz_field', rows: 7
    .col-sm-8
      -counter = 0
      =question.fields_for :quiz_answers do |answer|
        .row.quiz_answer
          .col-sm-8
            .row
              .col-sm-1
                =@letters[counter]
              .col-sm-10
                =answer.hidden_field :wrong_answer_video_id, class: 'related_video'
                =answer.hidden_field :id, class: 'answer-id'
                =answer.hidden_field :_destroy, class: 'answer-destroy'
                =answer.fields_for :quiz_contents do |content|
                  =content.hidden_field :id, class: 'answer-qc-id'
                  =content.hidden_field :sorting_order, class: 'answer-sorting-order'
                  =content.hidden_field :content_type, class: 'answer-content-type'
                  .form-group
                    .col-sm-12.quiz-answer-text
                      =content.text_area :text_content, placeholder: t('views.quiz_answer.form.answer_content_placeholder'), class: 'form-control flash_quiz_field', rows: 3
          .col-sm-4.text-left
            .form-group
              =answer.select :degree_of_wrongness, QuizAnswer::WRONGNESS, {include_blank: t('views.general.select')}, class: 'form-control'
            =link_to t('views.general.delete_answer') ,'#', class: 'btn btn-red btn-small deleteFlashAnswer'
        -counter += 1

  .row
    -if question.object.id.nil?
      =link_to t('views.general.delete_block'), '#', onclick: "if(confirm('" +t('views.general.delete_confirmation') + "')) {$('#the_new_question').remove()}; return false;", class: 'btn btn-cyan'
    -elsif question.object.destroyable?
      =link_to t('views.general.delete_block'), question.object, method: :delete, data: {confirm: t('views.general.delete_confirmation')}, class: 'btn btn-cyan'