=f.fields_for :course_module_element_quiz do |cme_quiz|
  =cme_quiz.hidden_field :question_selection_strategy, value: CourseModuleElementQuiz::STRATEGIES.first
  =cme_quiz.label :number_of_questions, t('views.course_module_element_quizzes.form.number_of_questions'), class: 'control-label'
  .input-group.input-group-lg.full-width
    =cme_quiz.select :number_of_questions, options_for_select([3, 5, 10, 15, 20, 25, 30], cme_quiz.object.number_of_questions || 20), {}, {class: 'form-control', style: 'border-radius: 6px;'}
