=f.fields_for :course_module_element_quiz do |cme_quiz|
  .form-group
    =cme_quiz.label :time_limit_seconds, t('views.course_module_element_quizzes.form.time_limit_seconds'), class: 'control-label col-sm-4'
    .col-sm-8
      =cme_quiz.text_field :time_limit_seconds, placeholder: t('views.course_module_element_quizzes.form.time_limit_seconds_placeholder'), class: 'form-control'
  .form-group
    =cme_quiz.label :number_of_questions, t('views.course_module_element_quizzes.form.number_of_questions'), class: 'control-label col-sm-4'
    .col-sm-8
      =cme_quiz.select :number_of_questions, options_for_select([5, 10, 15, 20, 25, 30], 20), {}, {class: 'form-control'}
  -#.form-group
    =cme_quiz.label :question_selection_strategy, t('views.course_module_element_quizzes.form.question_selection_strategy'), class: 'control-label col-sm-4'
    .col-sm-8
      =cme_quiz.select :question_selection_strategy, placeholder: t('views.course_module_element_quizzes.form.question_selection_strategy_placeholder'), class: 'form-control'
  .form-group
    =cme_quiz.label :best_possible_score_first_attempt, t('views.course_module_element_quizzes.form.best_possible_score_first_attempt'), class: 'control-label col-sm-4'
    .col-sm-8
      .form-control-static=cme_quiz.object.best_possible_score_first_attempt || '--'
  .form-group
    =cme_quiz.label :best_possible_score_retry, t('views.course_module_element_quizzes.form.best_possible_score_retry'), class: 'control-label col-sm-4'
    .col-sm-8
      .form-control-static=cme_quiz.object.best_possible_score_retry || '--'
  .form-group
    =f.label :related_video_id, t('views.course_module_elements.form.tutor_id'), class: 'control-label col-sm-4'
    .col-sm-8
      =f.collection_select :related_video_id, @related_cmes, :id, :name, {prompt: t('views.general.select')}, {class: 'form-control'}
