.container
  %header.management-console-section
    %h1
      ="Create New Activation Worker"

  %section.pb-7                 
    .col-md-12
      =form_tag(content_activations_url, method: 'post') do
        =hidden_field_tag :id, params[:id]
        =hidden_field_tag :type, params[:type]
        .row.l-margin-top
          .form-group
            .row.l-margin-top.col-md-offset-10
              .col-md-16.col-md-offset-10
              %label
                ='Select a valid Date & Time'                    
                %span.custom-date-select.input-group.input-group-lg                                                         
                  =date_select :activation_date, :date, class: 'form-control custom-select'
                .row.l-margin-top
                  .col-md-8.col-md-offset-2.text-center
                    %button{:type => "submit", class: 'btn btn-red'} Save

        




:javascript

  $(document).ready(function(){
    $("#dateTimePicker").kendoDateTimePicker({
      format: "dd/MM/yyyy HH:mm:ss"
    });
  });
