.container
  %header.management-console-section
    %h1
      Create New Activation Worker

  %section.pb-7
    .col-md-12
      =form_tag(content_activations_url, method: 'post', class: 'form-inline') do
        .box-item.form-box.mb-7
          =hidden_field_tag :id, params[:id]
          =hidden_field_tag :type, params[:type]
          .row
            .col-sm
              .search-container
                #datetimepicker1.input-group.date
                  =text_field_tag :activation_date, params[:activation_date], class: 'form-control', id: 'datetimepicker', placeholder: 'Select date and time.'
                  %button.btn.btn-primary{ type: 'submit'}=t('views.general.save')

:javascript
  $('#datetimepicker').datetimepicker({
    sideBySide: true,
    format: 'DD-MM-YYYY HH:mm'
  });


