.row
  .col-sm-8.col-sm-offset-2
    =form_for(@vat_code, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @vat_code, message: nil}
        .form-group
          =f.label :country_id, t('views.vat_codes.form.country_id'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.collection_select :country_id, @countries, :id, :name, {prompt: t('views.general.select')}, {class: 'form-control'}
        .form-group
          =f.label :name, t('views.vat_codes.form.name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :name, placeholder: t('views.vat_codes.form.name_placeholder'), class: 'form-control'
        .form-group
          =f.label :label, t('views.vat_codes.form.label'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :label, placeholder: t('views.vat_codes.form.label_placeholder'), class: 'form-control'
        .form-group
          =f.label :wiki_url, t('views.vat_codes.form.wiki_url'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :wiki_url, placeholder: t('views.vat_codes.form.wiki_url_placeholder'), class: 'form-control'

      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), vat_codes_path
