=form_for(@vat_code, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    .row
      .col-sm-12
        =render partial: '/layouts/error_messages', locals: {thing: @vat_code, message: nil}
        =f.hidden_field :country_id, value: 1

        .row
          .col-sm-6
            .form-group
              =f.label :country_id, t('views.vat_codes.form.country_id')
              .input-group.input-group-lg
                =f.collection_select :country_id, @countries, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}

            .form-group
              =f.label :name, t('views.vat_codes.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.vat_codes.form.name_placeholder'), class: 'form-control'

          .col-sm-6
            .form-group
              =f.label :label, t('views.vat_codes.form.label')
              .input-group.input-group-lg
                =f.text_field :label, placeholder: t('views.vat_codes.form.label_placeholder'), class: 'form-control'

        .row.pt-4
          .col-sm-12
            -#if f.object.id.nil?
            =f.fields_for :vat_rates do |rate|
              .form-group
                =rate.label :percentage_rate, t('views.vat_rates.form.percentage_rate')
                .input-group.input-group-lg
                  =rate.text_field :percentage_rate, placeholder: t('views.vat_rates.form.percentage_rate_placeholder'), class: 'form-control'
              .form-group
                =rate.label :effective_from, t('views.vat_rates.form.effective_from')
                .input-group.input-group-lg
                  =rate.text_field :effective_from, placeholder: t('views.vat_rates.form.effective_from_placeholder'), class: 'form-control date', data: {'date-format' => 'YYYY-MM-DD'}, id: 'datetimepicker1'


    .row.pt-4
      .col-md-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), vat_codes_path, class: 'btn btn-secondary'


:javascript

  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
