.row
  .col-sm-12
    .page-header
      %h1=t('views.vat_codes.index.h1')
.row
  .col-sm-12
    =will_paginate @vat_codes, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th=t('views.vat_codes.form.country_id')
          %th=t('views.vat_codes.form.name')
          %th=t('views.vat_codes.form.label')
          %th=t('views.vat_codes.form.wiki_url')
          %th
      %tbody
        -@vat_codes.each do |vat_code|
          %tr{id: vat_code.id}
            %td=link_to(vat_code.country.name, vat_code, title: t('views.general.view_tooltip'))
            %td=link_to(vat_code.name, vat_code, title: t('views.general.view_tooltip'))
            %td=link_to(vat_code.label, vat_code, title: t('views.general.view_tooltip'))
            %td=link_to(vat_code.wiki_url, vat_code, title: t('views.general.view_tooltip'))
            %td
              -#=link_to t('views.general.view'), vat_code
              =link_to t('views.general.edit'), edit_vat_code_url(vat_code), class: 'btn btn-info btn-xs'
              -if vat_code.destroyable?
                =link_to t('views.general.delete'), vat_code, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'

.row
  .col-sm-12
    =link_to t('views.general.new'), new_vat_code_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
