.row
  .col-sm-12
    .page-header
      %h1
        =t('views.vat_codes.show.h1')
        \#
        =@vat_code.id
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.vat_codes.form.country_id')
        %td.col-sm-8=@vat_code.country.name
      %tr
        %td.col-sm-4=t('views.vat_codes.form.name')
        %td.col-sm-8=@vat_code.name
      %tr
        %td.col-sm-4=t('views.vat_codes.form.label')
        %td.col-sm-8=@vat_code.label
      %tr
        %td.col-sm-4=t('views.vat_codes.form.wiki_url')
        %td.col-sm-8=@vat_code.wiki_url
    %p
      =link_to t('views.general.back'), vat_codes_url
      |
      =link_to t('views.general.edit'), edit_vat_code_url(id: @vat_code.id), title: t('views.general.edit_tooltip')
