.l-section-small.is-bg-asphalt.is-bg-white-to-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
          %h1.h1.h-separator.h-separator-center.text-center
            Lecturer profiles
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      =render partial: 'tutors'

