.header.header-dark{:role => "banner"}
  .l-wrap
    .container-fluid
      %nav.navbar-main.navbar-small{:role => "navigation"}
        =link_to root_url do
          =image_tag('ls-logo-red.svg', class: 'logo')
        %ul.nav-main.nav-collapse
          %li
            =link_to 'Browse Courses', library_url
          %li
            =link_to 'Sign Up', student_sign_up_url
          %li
            =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}
.ls
  .l-wrap
    .l-section-small
      .container-fluid
        .profile-single
          .row
            .col-md-6.col-md-offset-3
              %h1.h1.h-separator.h-separator-center.text-center
                Liam Doran
              %h4.text-center.l-margin-bottom-big
                FCCA, MBS (Finance)
          .row
            .col-sm-12.col-md-6.col-md-offset-3

              =image_tag('https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/liam-d.jpg', class: 'profile-pic profile-pic-big', alt: 'Liam Doran')
              .profile-text
                %p
                  Liam is the Joint Head of the Accountancy School at Independent Colleges. He was previously a senior lecturer with Griffith College specialising in the areas of Financial Accounting and Financial Management for ACCA, CPA, CIMA and ACA. He is an immensely confident and popular lecturer.
                %p
                  ACCA Subjects – P2 and P4.

.l-asphalt
  .l-wrap
    .l-section-small
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h2.h2.h-separator.h-separator-center.text-center
              More lecturer profiles
        .row
          .col-sm-6.col-md-3.col-lg-3
            %a.box.box-profile{:href => "profile-dave-odonoghue.html"}
              .box-inner
                %img.profile-pic{:alt => "Dave O’Donoghue", :src => "assets/img/dave-d.jpg"}
                %h3.h4.box-title
                  Dave O’Donoghue
          .col-sm-6.col-md-3.col-lg-3
            %a.box.box-profile{:href => "profile-john-owens.html"}
              .box-inner
                %img.profile-pic{:alt => "John Owens", :src => "assets/img/john-o.jpg"}
                %h3.h4.box-title
                  John Owens
          .col-sm-6.col-md-3.col-lg-3
            %a.box.box-profile{:href => "profile-chris-ahlstrand.html"}
              .box-inner
                %img.profile-pic{:alt => "Chris Ahlstrand", :src => "assets/img/chris-a.jpg"}
                %h3.h4.box-title
                  Chris Ahlstrand
          .col-sm-6.col-md-3.col-lg-3
            %a.box.box-profile{:href => "#"}
              .box-inner
                %img.profile-pic{:alt => "Tim Briden", :src => "assets/img/profile-pic-placeholder.jpg"}
                %h3.h4.box-title
                  Tim Briden
        .row.l-margin-bottom-big
          .col-sm-6.col-md-3.col-lg-3
            %a.box.box-profile{:href => "profile-sara-khan.html"}
              .box-inner
                %img.profile-pic{:alt => "Sana Khan", :src => "assets/img/sana-k.jpg"}
                %h3.h4.box-title
                  Sana Khan
          .col-sm-6.col-md-3.col-lg-3
            %a.box.box-profile{:href => "#"}
              .box-inner
                %img.profile-pic{:alt => "David Kiely", :src => "assets/img/profile-pic-placeholder.jpg"}
                %h3.h4.box-title
                  David Kiely

.foot
  .l-wrap
    .container-fluid
      %ul.foot-nav
        %li
          %a{:href => "#"}
            About Us
        %li
          %a{:href => "#"}
            Jobs
        %li
          %a{:href => "#"}
            Terms & Conditions
      %p.foot-copyright
        &copy; 2014 &mdash; 2015 Learn Signal

:javascript
    var nav = responsiveNav(".nav-collapse");
