.header.header-dark{:role => "banner"}
  .l-wrap
    .container-fluid
      %nav.navbar-main.navbar-small{:role => "navigation"}
        =link_to root_url do
          =image_tag('ls-logo-red.svg', class: 'logo')
        %ul.nav-main.nav-collapse
          %li
            =link_to 'Browse Courses', library_url
          %li
            =link_to 'Sign Up', student_sign_up_url
          %li
            =link_to 'Sign In', sign_in_url, {class: 'sign-in-link'}
.ls
  .l-wrap
    .l-section-small
      .container-fluid
        .profile-single
          .row
            .col-md-6.col-md-offset-3
              %h1.h1.h-separator.h-separator-center.text-center
                Sana Khan
          .row
            .col-sm-12.col-md-6.col-md-offset-3

              =image_tag('https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/sana-k.jpg', class: 'profile-pic profile-pic-big', alt: 'Sana Khan')
              .profile-text
                %p
                  Sana Khan is an experienced lawyer (qualified Barrister-at-Law) and lecturer in law. Her practice as a barrister included advising a wide range of public and private organisations. She has presented papers both nationally and internationally on the developments of governance standards throughout a number of industries. She lectures in a variety of subject matters including corporate governance, anti-money laundering, data protection and CSR. Currently working as a Legal Counsel with First Names Group, Sana holds the statutory roles of Compliance Officer, Deputy Money Laundering Reporting Officer, and Data Protection Officer. Working with law firms and large international companies, she has gained industry knowledge and insight into legal practice, fiduciary services, corporate governance, corporate social responsibility, risk, compliance and data protection from national and international perspectives.
.l-asphalt
  .l-wrap
    .l-section-small
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h2.h2.h-separator.h-separator-center.text-center
              More lecturer profiles
        =render partial: 'tutors'

:javascript
    var nav = responsiveNav(".nav-collapse");
