.row
  .col-sm-12
    .page-header
      %h1=t('views.exam_sections.index.h1')
      =render partial: 'shared/horizontal_hierarchy'

-if @exam_levels.length > 1
  =render partial: 'shared/filter_panel', locals: {controller_name: 'exam_sections', parameters: [{name: :exam_level_url, collection: @exam_levels, show_attr: :name, value_attr: 'name_url'}]}

.row
  .col-sm-12
    =will_paginate @exam_sections, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered.sorted_table{data: {destination: exam_sections_url}}
      %thead
        %tr
          %th=t('views.exam_sections.form.name')
          %th=t('views.exam_sections.form.name_url')
          %th=t('views.exam_sections.form.exam_level_id')
          %th
          %th
      %tbody
        -#tracker = nil
        -@exam_sections.each do |exam_section|
          -#unless tracker == exam_section.exam_level_id
            -tracker = exam_section.exam_level_id
            %tr
              %td{colspan: 4}
                .h3=link_to(exam_section.exam_level.full_name, exam_section.exam_level)
                =link_to t('views.general.new'), new_exam_section_url(exam_level_id: exam_section.exam_level_id), class: 'btn btn-success btn-xs'
          %tr{id: exam_section.id}
            %td=link_to(exam_section.name, exam_section, title: t('views.general.view_tooltip'))
            %td=link_to(exam_section.name_url, exam_section, title: t('views.general.view_tooltip'))
            %td=link_to(tick_or_cross(exam_section.active), exam_section, title: t('views.general.view_tooltip'))
            %td
              -if (exam_section.parent.tutor_id == current_user.id) || current_user.admin? || current_user.content_manager?
                =link_to t('views.general.edit'), edit_exam_section_url(exam_section), class: 'btn btn-info btn-xs'
              -if exam_section.destroyable?
                =link_to t('views.general.delete'), exam_section, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
            -if @exam_level.tutor_id == current_user.id
              %td
                %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}
-if @exam_level.tutor_id == current_user.id || current_user.admin? || current_user.content_manager?
  .row
    .col-sm-12
      =link_to t('views.general.new'), new_exam_section_url(exam_level_id: @exam_level.try(:id)), class: 'btn btn-success', title: t('views.general.new_tooltip')
