.row
  .col-sm-12
    .page-header
      %h1
        =t('views.exam_sections.show.h1')
        \#
        =@exam_section.id
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.exam_sections.form.name')
        %td.col-sm-8=@exam_section.name
      %tr
        %td.col-sm-4=t('views.exam_sections.form.name_url')
        %td.col-sm-8=@exam_section.name_url
      %tr
        %td.col-sm-4=t('views.exam_sections.form.exam_level_id')
        %td.col-sm-8=@exam_section.exam_level.name
      %tr
        %td.col-sm-4=t('views.exam_sections.form.active')
        %td.col-sm-8=tick_or_cross(@exam_section.active)
      %tr
        %td.col-sm-4=t('views.exam_sections.form.sorting_order')
        %td.col-sm-8=@exam_section.sorting_order
      %tr
        %td.col-sm-4=t('views.exam_sections.form.best_possible_first_attempt_score')
        %td.col-sm-8=@exam_section.best_possible_first_attempt_score
    %p
      =link_to t('views.general.back'), exam_sections_url
      |
      =link_to t('views.general.edit'), edit_exam_section_url(id: @exam_section.id), title: t('views.general.edit_tooltip')
