.modal.fade{id: 'confirm-pause-modal', tabindex: '-1', role: 'dialog', 'aria-labelledby': 'confirmPauseModal', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      %button.btn.btn-icon.modal-close{'data-dismiss': 'modal'}
        %i.material-icons.ml-1{'aria-hidden': 'true'}
          close
      .modal-header
        %h3{id: 'confirmPauseModal'}
          ='PAUSE ACCOUNT'

      .modal-body
        .row
          .col-sm-12
            %p
              We understand that students sometimes take a break between exams. That’s why we’ve set up the pause function.
            %p
              Your billing will be paused, then when you resume your subscription, you’ll secure your current low price when you return to study for your next exam.

      .pt-2.d-flex.flex-wrap.flex-sm-nowrap.justify-content-between
        =link_to '#', method: :post, id: 'confirmPauseLink' do
          .btn.btn-primary.btn-sm
            =t('views.users.show.confirm_subscription_pause')


