.form-group
  .custom-control.custom-radio
    %input.custom-control-input.custom-control-input-card.style-checkbox{:id => subscription.subscription_plan.interval_name.downcase, :name => "plans", :type => "radio", :data => {:price => subscription.subscription_plan.price, :frequency => subscription.subscription_plan.payment_frequency_in_months}, :value => subscription.subscription_plan.id, :checked => true}
    %label.custom-control-label{:for => subscription.subscription_plan.interval_name.downcase}
      %span.custom-label-info
        %span.h4.m-0
          %span
            =subscription.subscription_plan.interval_name
        - if subscription.subscription_plan.monthly_percentage_off.present? && subscription.subscription_plan.monthly_percentage_off > 0
          %span.discount
            Save over
            %span.text-with-bg.bg-yellow2
              ="#{subscription.subscription_plan.monthly_percentage_off}%"

      %span.custom-label-amount
        %span.text-purple5.text-xl
          =subscription.subscription_plan.currency.format_number(subscription.subscription_plan.price)
        %span.p
          ="Billed every #{subscription.subscription_plan.payment_frequency_in_months > 1 ? pluralize(subscription.subscription_plan.payment_frequency_in_months, 'month') : 'month'}"
      %span.custom-check
        / custom checkbox

#all-plans
  -(plans.where(id: (plans.ids - [subscription.subscription_plan.id]))).each do |plan|
    .form-group
      .custom-control.custom-radio
        %input.custom-control-input.custom-control-input-card.style-checkbox{:id => plan.interval_name.downcase, :name => "plans", :type => "radio", :data => {:price => plan.price, :frequency => plan.payment_frequency_in_months}, :value => plan.id, :checked => ("checked" if subscription.subscription_plan_id == plan.id)}
        %label.custom-control-label{:for => plan.interval_name.downcase}
          %span.custom-label-info
            %span.h3.m-0
              %span
                =plan.interval_name
            - if plan.monthly_percentage_off.present? && plan.monthly_percentage_off > 0
              %span.discount
                Save over
                %span.text-with-bg.bg-yellow2
                  ="#{plan.monthly_percentage_off}%"

          %span.custom-label-amount
            %span.text-purple5.text-xl
              =plan.currency.format_number(plan.price)
            %span.p
              ="Billed every #{plan.payment_frequency_in_months > 1 ? pluralize(plan.payment_frequency_in_months, 'month') : 'month'}"
          %span.custom-check
            / custom checkbox

#info-text
  - if @yearly_plan && @yearly_plan.previous_plan_price.present? && @yearly_plan.previous_plan_price > 0
    %p.mb-2.price
      -#%span
        25%
      ='Currently we are offering a discount off the Annual Plan. Original Price '
      %span
        =@yearly_plan.currency.format_number(@yearly_plan.previous_plan_price)

  %p.mb-2
    %span.font-weight-medium Note:
    You are subscribing to a recurring payment which will continue until you cancel your subscription. You can cancel your subscription at anytime.

%a.text-purple5.js-show-more-plans{:id => 'show_all_plans', :href => "#all-plans", :data => {toggle: 'collapse'}, 'aria-expanded' => false, 'aria-controls' => 'all-plans', style: 'text-decoration: none;'} Show all Plans

:javascript

  $(document).on('ready', function() {
    $('#show_all_plans').on('click', function() {
      $('#all-plans').slideDown();
      $(this).hide();
    });
  })