=render 'layouts/navbar'
.upgrade
  #wrapper
    -#loading


    %section#free
      .tmain
        .tbase
          .container
            .row
              .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                #countdown
                  %h4 Time left in FREE trial:
                  .timer{"data-date" => timer_datetime(@user.created_at + 7.days)}
                  -#.timer{"data-date" => "2017/10/10 12:34:56"}
            .row
              .col-md-10.col-md-offset-1
                %h1.title1
                  Get unlimited access today.
                %h2.subtitle
                  Thank you so much for trialling LearnSignal, we hope you found it valuable.
                  %br
                  Now just imagine how much easier it could be to pass your ACCA exams with all this support and expertise at your fingertips. We’d love to see you inside!
      .go-down
        %a.anchor{:href => "#plans"}
          %i.fa.fa-angle-down
      .bottom-arrow


    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    #upgrade-subscription
      =form_for @user, url: user_create_subscription_url(@user.id), html: { id: 'upgrade-form', role: 'form'} do |f|
        =f.hidden_field :country_id, value: @country.id
        =render partial: 'layouts/error_messages', locals: {thing: @user, message: t('views.users.upgrade_subscription.error_panel_caption')}


        =f.fields_for :subscriptions do |sub|
          =sub.hidden_field :subscription_plan_id
          =sub.hidden_field :stripe_token
          =sub.hidden_field :terms_and_conditions, id: 'hidden_term_and_conditions'
          -if params[:coupon]
            =hidden_field_tag :hidden_coupon_code


        %section#plans
          .container
            %h1.title1
              Some great savings can be made.
            %h2.subtitle1
              Pick which plan suits you best.

            %ul.plans.clearfix
              -@subscription_plans.each do |plan|
                %li.plan{class: plan_interval(plan.payment_frequency_in_months), id: "sub-#{plan.currency.iso_code}-#{plan.payment_frequency_in_months}", data: {plan_id: plan.id, price: plan.currency.format_number(plan.price), interval: plan.payment_frequency_in_months}}
                  .base
                    .topbox
                      -if plan.payment_frequency_in_months == 3
                        %span Our most popular payment plan
                    .box
                      .name
                        =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")
                      %ul.details.fa-ul
                        %li
                          %i.fa-li.fa.fa-check
                          Get unlimited access
                        %li
                          %i.fa-li.fa.fa-check
                          Cancel anytime
                        %li
                          %i.fa-li.fa.fa-check
                          =t("views.general.subscription_ideal_line.a#{plan.payment_frequency_in_months}")
                        -#%li
                          %i.fa-li.fa.fa-check
                          -# TODO Add plans free mock exams count here
                          =#'corrected mock exams'

                      .price
                        =plan.currency.format_number(plan.price)
                      -#unless plan.payment_frequency_in_months == 1
                        -# TODO change this display actual discount and saving values
                        .promo
                          .line1
                            18% OFF
                          .line2
                            Save €25
                    .lsbtn-base
                      -#%a.lsbtn{:href => "#"}
                        %i.fa.fa-check
                        Choose this plan
                      -# TODO change this to have no tick and then tick if selected
                      %label.lsbtn.plan-option
                        %input{id: 'chk-plan-' + plan.id.to_s, type: 'radio', class: 'option'}
                        Choose this plan




        %section#cancel.bg-gradient1
          .container
            %h1.title1
              %span
                And don’t forget,
                %strong
                  you can cancel anytime.
            %h1.title1
              %span
                No lengthy commitments or obligations.
                %br/


        %section#simply
          .container
            .row
              .col-lg-10.col-lg-offset-1
                %h1.title1
                  Simply enter your payment details.
                %h2.subtitle1
                  And you can continue your studying straight away, without wasting a moment.

            .row
              .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
                =render partial: 'subscription_payment_cards/form', locals: {f: f}




    -#%section#reviews2
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            %h1.title1 What others are saying.
            %p.subtitle1 If you need any more reasons to unlock full access to the course, hear why LearnSignal is trusted by learners all over the world.
        .row.reviews
          .col-md-5.col-md-offset-1.col-sm-6
            .box
              .review Videos are short, so easy to dip in and out when you are on the go and have a spare minute. Worth paying monthly fee, it makes the whole learning process much less daunting.
              .name Patti Mary
          .col-md-5.col-sm-6
            .box
              .review The good thing about Learn-signal was the way the lecturers went thru questions papers. It helped me so much with the technique that i had lacked in my previous paper.
              .name Rebecca Nagujja
        .row.review1
          .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            .review
              %span.q.q1
              Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
              %span.q.q2
            .name Billy Oliver. Quebec, Canada



    -#%section#community
      .top-arrow
      .container
        .inner
          %h1.title1 Community copy goes here
          %h2.subtitle1 Lorem ipsum dolor sit amet conquat verunt fictae, fabulae poetae a fando nomina lorem ipsum dolor amet.




:javascript

  // UnChecks radio buttons except the one that was clicked.
  // Finds the id value of the sub plan that the radio button belongs to.
  // Sets the hidden field subscription_plan_id to that id.
  function choosePlan(theThing) {
    $('.option[type="radio"]:checked').prop('checked', false);
    $(theThing).find('.option[type="radio"]').prop('checked', true);
    $('#user_subscriptions_attributes_0_subscription_plan_id').val($(theThing).parent().parent().parent().attr('data-plan-id'));
    $('#total-value').text($(theThing).parent().parent().parent().attr('data-price'));
    //$('#next-payment-date').text($(theThing).parent().parent().parent().attr('data-interval'));
  }

  $(document).on('ready', function() {
    choosePlan($('.plan-option')[1]);
    $('.option').bind('click', function(event) {
      event.stopPropagation();
      choosePlan(this.parentElement);
    });

    $(".plan-option").bind('click', function(event) {
      event.preventDefault();
      choosePlan(this);
    });
    $(".sk-circle").hide();
  })
