-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom#thank-you-message
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.subscriptions.upgrade_complete.h1')
        .col-md-8.col-md-offset-2.l-margin-bottom-6x
          .box-item
            .col-md-8.col-md-offset-2.l-margin-top.text-center
              %p
                =#"You have subscribed to the #{@subscription.subscription_plan.label} Subscription Plan"
                ="You have subscribed to the #{t("views.general.subscription_label_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")}."
              %p
                ="An email containing your first invoice will be sent to #{current_user.email}"

            .col-md-10.col-md-offset-1.l-margin-top.text-center
              %p{style: 'letter-spacing: 0.5px;'}
                ='Visit your'
                =link_to 'account page', account_url(anchor: 'subscriptions')
                ='to view your subscription details.'

          %br/
          .l-margin-top
            =link_to student_dashboard_url do
              .btn.btn-red.btn-wide
                ='Continue Learning'
