%main
  %article.bg-gray5
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .container
      %header.hero-section.hero-section-external
        %h1.h1-mega
          =t('views.subscriptions.upgrade_complete.h1')

      %section.pb-md-6.pb-5
        .row.justify-content-center
          .col-xs-12.col-sm-8
            .box-item.text-center
              -if current_user.non_verified_user?
                %h3.text-warning
                  Your email requires verification. You will be unable to access content until you verify your email

              %p
                ="You have subscribed to the #{t("views.general.subscription_label_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")}."
              %p
                ="An email containing your first invoice will be sent to #{current_user.email}"

              %p
                ='Visit your'
                =link_to 'account page', account_url(anchor: 'subscriptions')
                ='to view your subscription details.'

              =link_to student_dashboard_url do
                .btn.btn-primary
                  ='Continue Learning'

