-if current_user.corporate_customer?
  #wrapper
    .hidden-xs
      =render partial: 'layouts/corporate_side_bar'

    .main-content
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      .l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
        .container-fluid.l-padding-side-3x
          .row.l-margin-bottom.l-margin-top
            .col-md-6.col-sm-6.col-xs-6
              %h1.h-separator.h-separator-left{style: 'letter-spacing:1.5px;'}
                =t('views.corporate_groups.index.h1')
            .col-md-6.col-sm-6.col-xs-6.l-margin-bottom.l-margin-top.text-right
              =link_to t('views.general.add_group'), new_corporate_group_url, class: 'btn btn-red l-padding-side-3x text-bold', title: t('views.general.new_tooltip')
          .row
            .col-md-9
              %p.h6
                Managers can create teams of users.  After a team has been created Managers can assign compulsory content and restrict other content that team members can access.

            .col-md-12.l-margin-top-big.l-margin-bottom-6x
              .corporate-box-item.table-box
                .table-responsive
                  %table.table{style: 'font-size: 18px;'}
                    %thead
                      %tr
                        %th
                          =t('views.corporate_groups.show.h1')
                        %th No. of Users
                        %th Edit Members
                        %th
                    %tbody
                      -@corporate_groups.each do |corporate_group|
                        %tr
                          %td
                            =corporate_group.name
                          %td
                            =corporate_group.users.count
                          %td
                            =link_to t('views.general.show'), corporate_group_url(corporate_group), class: 'btn btn-small btn-purple'
                            =link_to t('views.general.edit_group'), edit_corporate_group_url(corporate_group), class: 'btn btn-small btn-purple'
                            =link_to t('views.corporate_groups.index.members'),
                corporate_group_edit_members_url(corporate_group_id: corporate_group.id), class: 'btn btn-small btn-purple'
                            -if corporate_group.destroyable?
                              =link_to t('views.general.delete'), corporate_group,
                  method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-small btn-purple'
    =render partial: 'layouts/new_footer'
-else
  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        .row.l-margin-bottom
          .col-md-12.text-center
            %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
              Groups
          .col-md-12.l-margin-top-big.l-margin-bottom-6x
            -@corporate_customers.each do |cc|
              .corporate-box-item.table-box
                .table-responsive
                  %h2=cc.organisation_name
                  %table.table{style: 'font-size: 18px;'}
                    %thead
                      %tr
                        %th
                          =t('views.corporate_groups.show.h1')
                        %th No. of Users
                        %th Edit Members
                        %th
                    %tbody
                      -cc.corporate_groups.all_in_order.each do |corporate_group|
                        %tr
                          %td
                            =corporate_group.name
                          %td
                            =corporate_group.users.count
                          %td
                            =link_to t('views.general.edit_group'), edit_corporate_group_url(corporate_group), class: 'btn btn-small btn-purple'
                            =link_to t('views.corporate_groups.index.members'),
                    corporate_group_edit_members_url(corporate_group_id: corporate_group.id), class: 'btn btn-small btn-purple'
                            -if corporate_group.destroyable?
                              =link_to t('views.general.delete'), corporate_group,
                      method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-small btn-purple'

        .row
          =link_to t('views.general.add_group'), new_corporate_group_url, class: 'btn btn-red l-padding-side-3x text-bold', title: t('views.general.new_tooltip')


    =render partial: 'layouts/new_footer'