=form_for(@mock_exam, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @mock_exam, message: nil}
  .row
    .col-md-8.col-md-offset-2
      =f.label :name, t('views.mock_exams.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.mock_exams.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      %br/
      =f.label :subject_course_id, t('views.mock_exams.form.subject_course_id'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.collection_select :subject_course_id, @subject_courses, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
      %br/
      =f.label :product_id, t('views.mock_exams.form.product_id'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.collection_select :product_id, @products, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
      %br/

    .col-md-8.col-md-offset-2
      =f.label :file, t('views.mock_exams.form.file'), class: 'control-label'
      -if f.object.file
        =image_tag f.object.file.url, class: 'img-responsive'
        %br/
        Upload a replacement if you wish
        %br/
      =f.file_field :file, class: 'form-control'

  .row
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), mock_exams_path, class: 'btn btn-cyan'
