.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =@mock_exam.name
      .row.l-margin-top.l-margin-bottom
        .col-md-4.l-margin-top
          .box-inner
            =link_to  @mock_exam.file_file_name, @mock_exam.file.url, target: '_blank'
