.modal.fade#new-upload-modal{tabindex: -1, role: 'dialog', aria: {labelledby: 'uploadModalLabel', hidden: true} }
  =form_tag(preview_csv_corporate_students_path, authenticity_token: true, id: 'preview_csv_corporate_students_form', role: 'form', multipart: true, data: {type: 'csv'}, class: 'form-horizontal') do
    .modal-dialog
      .modal-content.is-bg-asphalt.l-padding-side-15
        .container-fluid
          .modal-header
            .row
              .col-md-12.l-margin-top
                %button{type: 'button', class: 'close', data: {dismiss: 'modal'}}
                  %span{aria: {hidden: true}} &times
                  %span{class: 'sr-only'}=t('views.general.close')
                %h4.modal-title#uploadmodallabel=t('views.marketing_tokens.modal.h1')
            .row.l-margin-top
              .col-md-12
                %p
                  The file must be in CSV format (.csv). It must have 3 columns only in each row.
                %p
                  The first column is for Email.
                %p
                  The second column is for First Name.
                %p
                  The third column is for Last Name.
                %label.control-label{for: :upload}=t('views.marketing_tokens.modal.file')
                .input-group.input-group-lg.full-width
                  =file_field_tag :upload, class: 'form-control', style: 'border-radius: 6px;', required: true
                %br/

            %button{type: 'button', class: 'btn btn-cyan', data: {dismiss: 'modal'}}
              =t('views.general.cancel')
            =submit_tag t('views.general.upload'), class: 'btn btn-red'
