#wrapper
  .hidden-xs
    =render partial: 'layouts/corporate_side_bar'

  .main-content.margin-top
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .l-section-corp-students.is-bg-asphalt.corporate-padding
      .container-fluid.l-padding-side-3x
        .row.l-margin-bottom.l-margin-top
          .col-md-6.col-sm-6.col-xs-6
            %h1.h-separator.h-separator-left
              =@corporate_student.new_record? ? 'New User' : 'Edit User'
        .row.l-margin-top.l-margin-bottom
          .col-md-12.l-margin-top
            .table-box
              =form_for(:corporate_student,
                url: @corporate_student.new_record? ? corporate_students_path : corporate_student_path(@corporate_student),
                method: @corporate_student.new_record? ? 'POST' : 'PATCH',
                html: {class: 'form-horizontal', role: 'form'}) do |f|
                =render partial: '/layouts/error_messages', locals: {thing: @corporate_student, message: nil}
                .row
                  .col-md-6
                    =f.label :first_name, t('views.corporate_students.form.first_name'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.text_field :first_name, placeholder: t('views.corporate_students.form.first_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                  .col-md-6
                    =f.label :last_name, t('views.corporate_students.form.last_name'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.text_field :last_name, placeholder: t('views.corporate_students.form.last_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                %br/
                .row
                  .col-md-6
                    =f.label :email, t('views.corporate_students.form.email'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.text_field :email, placeholder: t('views.corporate_students.form.email_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                  .col-md-6
                    =f.label :employee_guid, t('views.corporate_students.form.employee_guid'), class: 'control-label'
                    .input-group.input-group-lg.full-width
                      =f.text_field :employee_guid, placeholder: t('views.corporate_students.form.employee_guid_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                %br/
                - if @corporate_groups
                  .form-group{style: 'margin-left: 0px; font-size: 1.6rem;'}
                    %table.col-sm-6
                      %thead
                        %tr
                          %th{style: 'width: 90%;'}= t('views.corporate_students.form.corporate_group_name')
                          %th
                      %tbody
                        - @corporate_groups.each do |cg|
                          %tr
                            %td= cg.name
                            %td= check_box_tag "corporate_student[corporate_group_ids][]", cg.id, @corporate_student.corporate_groups.include?(cg)

                .row
                  =f.submit t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
                  =link_to t('views.general.cancel'), corporate_students_path, class: 'btn btn-cyan l-margin-right-big l-padding-side-3x l-margin-top'
    =render partial: 'layouts/corporate_footer'
