-if current_user.corporate_customer?
  =render partial: 'corporate_students/form'
-else
  .row
    .margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
    .col-sm-12
      .page-header
        %h1=t('views.corporate_students.edit.h1')
  =render partial: 'form'
