.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center
            =t('models.users.import_csv')
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .col-sm-12
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th
                    Email
                  %th
                    First name
                  %th
                    last Name
              %tbody
                -@corporate_students.each do |user|
                  %tr{id: user.id}
                    %td=user.email
                    %td=user.first_name
                    %td=user.last_name

    .row
      =link_to t('views.corporate_students.index.corp_h1'), corporate_students_url, class: 'btn btn-cyan'
=render partial: 'layouts/footer'