.row
  .col-sm-12
    .page-header
      %h1=t('views.corporate_students.index.h1')
      %h4=current_user.corporate_customer.organisation_name if current_user.corporate_customer?

.well.well-sm
  .row
    .col-sm-6
      =form_tag(corporate_students_url, method: :get, role: 'form', class: 'form-inline') do
        .form-group
          %label.sr-only{for: 'search_term'} Search box
          .input-group
            =text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: t('views.general.search')
            .input-group-addon
              %span.glyphicon.glyphicon-search
        .form-group
          =label_tag :corporate_group, t('views.corporate_students.form.corporate_group_name')
          =select_tag :corporate_group,
          options_for_select(@corporate_groups.map {|cg| [cg.name, cg.id]},
          params[:corporate_group].to_s), class: 'form-control', include_blank: true
    .col-sm-6.user-pagination.text-right
      =will_paginate @corporate_students, renderer: BootstrapPagination::Rails

.row
  .col-sm-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
            =t('views.corporate_students.form.full_name')
            %br/
            =t('views.corporate_students.form.email')
          %th=t('views.corporate_students.form.corporate_group_name')
          %th=t('views.corporate_students.form.active')
          %th=t('views.corporate_students.form.employee_guid')
          %th
      %tbody
        -@corporate_students.each do |corporate_student|
          %tr{id: corporate_student.id}
            %td
              =link_to(corporate_student.full_name, edit_corporate_student_url(corporate_student), title: t('views.general.view_tooltip'))
              %br/
              =link_to(corporate_student.email, edit_corporate_student_url(corporate_student), title: t('views.general.view_tooltip'))
            %td
              =corporate_student.corporate_groups.map(&:name).join("<br>").html_safe
            %td=link_to(tick_or_cross(corporate_student.active), corporate_student, title: t('views.general.view_tooltip'))
            %td=link_to(corporate_student.employee_guid || '', edit_corporate_student_url(corporate_student), title: t('views.general.view_tooltip'))
            %td
              =link_to t('views.general.edit'), edit_corporate_student_url(corporate_student), class: 'btn btn-info btn-xs'

.row
  .col-sm-12
    =link_to t('views.general.new'), new_corporate_student_url, class: 'btn btn-success', title: t('views.general.new_tooltip')

:javascript
  $(document).ready(function() {
    $("#search_term").on('blur', function() {
      $(this).parents('form').submit();
    });

    $("#corporate_group").on('change', function() {
      $(this).parents('form').submit();
    });
  });
