#wrapper
  .hidden-xs
    =render partial: 'layouts/corporate_side_bar'

  .main-content.margin-top
    -if flash[:success] || flash[:error] || flash[:warning]
      =render partial: 'layouts/flash_messages'
    .l-section-small.is-bg-asphalt{style: 'padding-left: 30px; padding-right: 30px;'}
      .container-fluid.l-padding-side-3x
        .row.l-margin-bottom.l-margin-top
          .col-md-6.col-sm-6.col-xs-6
            %h1.h-separator.h-separator-left{style: 'letter-spacing:1.5px;'}
              =@corporate_student.full_name

        .row.l-margin-top.l-margin-bottom
          .col-md-12.l-margin-top-big
            .corporate-box-item.table-box
              .table-responsive
                %table.table{style: 'font-size: 18px;'}
                  %thead
                    .col-md-10.l-margin-bottom
                      %h2
                        ='Compulsory Courses'
                    %tr
                      %th
                        Course
                      %th
                        Videos Watched
                      %th
                        Questions Correct
                      %th
                        Completed
                      %th
                  %tbody
                    -@compulsory_course_logs.all_in_order.each do |log|
                      %tr
                        %td
                          =log.subject_course.name
                        %td
                          =log.try(:count_of_videos_taken)
                          &#47;
                          =log.subject_course.video_count.to_i
                        %td
                          =log.count_of_questions_correct
                          &#47;
                          =log.count_of_questions_taken
                        %td
                          =tick_or_cross(log.completed)

            .corporate-box-item.table-box
              .table-responsive
                %table.table{style: 'font-size: 18px;'}
                  %thead
                    .col-md-10.l-margin-bottom
                      %h2
                        ='Other Courses'
                    %tr
                      %th
                        Course
                      %th
                        Videos Watched
                      %th
                        Questions Correct
                      %th
                        Completed
                      %th
                  %tbody
                    -@other_course_logs.all_in_order.each do |log|
                      %tr
                        %td
                          =log.subject_course.name
                        %td
                          =log.try(:count_of_videos_taken)
                          &#47;
                          =log.subject_course.video_count.to_i
                        %td
                          =log.count_of_questions_correct
                          &#47;
                          =log.count_of_questions_taken
                        %td
                          =tick_or_cross(log.completed)

        .row
          =link_to t('views.corporate_students.index.h1'), corporate_students_url, class: 'btn btn-cyan'
          =link_to t('views.general.edit_user'), edit_corporate_student_url(id: @corporate_student.id), class: 'btn btn-red'

  =render partial: 'layouts/footer'