.box-item.question{id: question.object.id.nil? ? 'the_new_question' : ('question_' + question.object.id.to_s)}
  .row
    .col-sm-12
      %h3.l-margin-bottom
        =question.object.id.nil? ? t('views.course_quizzes.form.h3.question_new') : t('views.course_quizzes.form.h3.question_number') + question.object.id.to_s
      .col-sm-12
        .row
          .col-sm-4
            .form-group
              =question.hidden_field :course_quiz_id
              =question.hidden_field :id, class: 'question_id'
              =question.hidden_field :_destroy, value: false, class: 'destroy_field'
              =question.fields_for :quiz_contents do |content|
                =content.hidden_field :id, class: 'qc-id'
                =content.hidden_field :sorting_order, class: 'qc-sorting-order'
                .quiz-question
                  =content.text_area :text_content, placeholder: t('views.quiz_questions.form.text_content_placeholder'), class: 'form-control', rows: 8
                %br/
              -if mode == 'full'
                =question.fields_for :quiz_solutions do |solution|
                  =solution.hidden_field :sorting_order, class: 'flash_quiz_field'
                  =solution.text_area :text_content, placeholder: t('views.quiz_questions.form.solution_to_the_question_placeholder'), class: 'form-control flash_quiz_field', rows: 7

          .col-sm-8
            -counter = 0
            -answers = question.object.quiz_answers.sort_by(&:id)
            =question.fields_for :quiz_answers, answers do |answer|
              .row.quiz_answer
                .col-sm-8
                  .row
                    .col-sm-1
                      =@letters[counter]
                    .col-sm-10
                      =answer.hidden_field :id, class: 'answer-id'
                      =answer.hidden_field :_destroy, class: 'answer-destroy'
                      =answer.fields_for :quiz_contents do |content|
                        =content.hidden_field :id, class: 'answer-qc-id'
                        =content.hidden_field :sorting_order, class: 'answer-sorting-order'
                        .form-group
                          .col-sm-12.quiz-answer-text
                            =content.text_area :text_content, placeholder: t('views.quiz_answer.form.answer_content_placeholder'), class: 'form-control flash_quiz_field', rows: 3
                .col-sm-4.text-left
                  .form-group
                    .input-group.input-group-lg
                      =answer.select :degree_of_wrongness, QuizAnswer::WRONGNESS, {include_blank: t('views.general.select')}, class: 'form-control custom-select'
                  =link_to t('views.general.delete_answer') ,'#', class: 'btn btn-primary btn-xs deleteFlashAnswer'
              -counter += 1

  .row.pt-5
    .col-sm-12
      .row
        .col-sm-6
          .form-group
            .checkbox
              %label
                =question.check_box :custom_styles
                =t('views.quiz_questions.form.custom_styles')

        .col-sm-6
          -if parent.object.id.nil?
            -# new parent
            =f.submit t('views.course_quizzes.form.advanced_setup_link'), class: 'btn btn-secondary'
            =f.submit t('views.course_quizzes.form.preview_button'), class: 'btn btn-primary'
          -elsif question.object.id.nil?
            -# new question
            =link_to t('views.course_quizzes.form.advanced_setup_link'), new_quiz_question_url(quiz_step_id: parent.object.id), class: 'btn btn-secondary'
            =f.submit t('views.course_quizzes.form.preview_button'), class: 'btn btn-primary'
          -else
            -# edit question of existing quiz
            =link_to t('views.course_quizzes.form.advanced_setup_link'), edit_quiz_question_url(id: question.object.id, quiz_step_id: parent.object.id), class: 'btn btn-secondary'
            =link_to t('views.course_quizzes.form.preview_button'), question.object, class: 'btn btn-primary'
          -if question.object.id.nil?
            =link_to t('views.general.delete'), '#', onclick: "if(confirm('" +t('views.general.delete_confirmation') + "')) {$('#the_new_question').remove()}; return false;", class: 'btn btn-danger'
          -elsif question.object.destroyable?
            =link_to t('views.general.delete'), question.object, method: :delete, data: {confirm: t('views.general.delete_confirmation')}, class: 'btn btn-danger'
