=render partial: 'layouts/navbar'
.row
  .col-sm-8.col-sm-offset-2
    %img{src: '/assets/images/404_V2.png', class: 'img-responsive'}
.row
  .col-sm-12.text-center.l-margin-bottom-huge{style: 'color: #d64147;'}
    %h1 Sorry, we couldn't find what you are looking for
    %p
      We missed the mark!
      but don't worry. We're working on fixing this link.
  .container.l-margin-top-huge
    .row
      .col-md-12.text-center.l-margin-bottom-huge
        =link_to 'Visit our home page', root_url, class: 'btn btn-purple'
        =link_to 'Visit our Library page', library_url, class: 'btn btn-cyan'
        =link_to 'Visit our pricing page', pricing_url, class: 'btn btn-red'

=render partial: 'layouts/footer'