.col-md-10.col-md-offset-1.l-margin-top-huge
  %h2
    Students’ FAQs
  .col-sm-6.l-margin-bottom-big.l-margin-top
    .faq-box
      .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
        .faq-title.h6
          When will ACCA introduce four exam sessions per year?

        .faq-answer.closed
          We are pleased to say that from March 2016 we are running four exam sessions a year at all our listed exam centres across all markets.

        .faq-answer-expanded.hidden
          %p
            We are pleased to say that from March 2016 we are running four exam sessions a year at all our listed exam centres across all markets.

    .faq-box
      .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
        .faq-title.h6
          What exams will be available at each session?

        .faq-answer.closed
          All exams presently offered in paper-based format will be available during the June and December exam sessions. During the March and September exam sessions no FIA, IFRS, F1–F3 and limited variants will be available. Remember, the majority of these exams are available as on-demand computer based exams, which offer even greater flexibility and convenience. We will also be reducing the timetable from eight days to five days so we can publish exam results sooner.



        .faq-answer-expanded.hidden
          %p
            All exams presently offered in paper-based format will be available during the June and December exam sessions. During the March and September exam sessions no FIA, IFRS, F1–F3 and limited variants will be available.
          %p
            Remember, the majority of these exams are available as on-demand computer based exams, which offer even greater flexibility and convenience.
          %p
            We will also be reducing the timetable from eight days to five days so we can publish exam results sooner.









  .col-sm-6.l-margin-bottom-big.l-margin-top
    .faq-box
      .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
        .faq-title.h6
          Why is ACCA introducing four exam sessions a year?

        .faq-answer.closed
          We are increasing the flexibility and choice of when you can sit exams because current students told us this is what they wanted. Increasing the number of exam sessions available gives you more choice when it comes to fitting exams around your life and working through the qualification at a pace that suits you. You'll have a better chance of success by spreading your studies over the additional sessions, potentially allowing you to study for additional exams each year and providing the opportunity to take resits earlier.

        .faq-answer-expanded.hidden
          %p
            We are increasing the flexibility and choice of when you can sit exams because current students told us this is what they wanted.
          %p
            Increasing the number of exam sessions available gives you more choice when it comes to fitting exams around your life and working through the qualification at a pace that suits you.
          %p
            You'll have a better chance of success by spreading your studies over the additional sessions, potentially allowing you to study for additional exams each year and providing the opportunity to take resits earlier.

    .faq-box
      .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
        .faq-title.h6
          This means I can now enter for two exam sessions at the same time. Why should I do this and how does it affect the progression rules?

        .faq-answer.closed
          You can now be entered for two consecutive exam sessions at the same time, meaning you can take advantage of the cheapest exam fees for both sessions and be able to plan your studies in advance.

        .faq-answer-expanded.hidden
          %p
            You can now be entered for two consecutive exam sessions at the same time, meaning you can take advantage of the cheapest exam fees for both sessions and be able to plan your studies in advance.
          %p
            Increasing the number of exam sessions available gives you more choice when it comes to fitting exams around your life and working through the qualification at a pace that suits you.
          %p
            You'll have a better chance of success by spreading your studies over the additional sessions, potentially allowing you to study for additional exams each year and providing the opportunity to take resits earlier.

