.remodal{"data-remodal-id" => "complaints-modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12
        %h2
          Complaints Process

  .row.l-margin-top
    .col-sm-12.l-margin-top.text-left
      =form_tag(complaints_intercom_url, {class: 'form', role: 'form', name: 'complaints_intercom_form'}) do
        .col-md-12
          .col-md-6
            =label_tag :full_name, 'Name'
            =text_field_tag :full_name, nil, class: 'form-control', placeholder: 'Full Name', required: true
            %br/
          .col-md-6
            =label_tag :email, 'Email'
            =email_field_tag :email_address, nil, class: 'form-control', placeholder: 'Email Address', required: true

          .col-md-12
            =label_tag :body, 'Please Describe Your Issue'
            =text_area_tag :body, nil, class: 'form-control', placeholder: 'Please describe your issue', required: true

        .col-sm-12.l-margin-top
          .col-sm-12
            =submit_tag 'Submit', class: 'btn btn-red l-margin-right-big l-padding-side-3x'

:javascript

  $(document).on('confirmation', '.remodal', function () {
    document.forms['complaints_intercom_form'].submit();
  });
