.side-bar
  %ul.nav.nav-stacked.lined-list
    =link_to jobs_url, role: 'presentation' do
      %h3.lined-list-item.footer-nav
        .border
          Jobs
    =link_to new_tutor_application_url, role: 'presentation' do
      %h3.lined-list-item.footer-nav
        .border
          Teach
    =link_to about_url, role: 'presentation' do
      %h3.lined-list-item.footer-nav
        .border
          About Us
    =link_to terms_and_conditions_url, role: 'presentation' do
      %h3.lined-list-item.footer-nav
        .border
          Terms & Conditions
