.hero-acca
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              About Us
            %p.h5.h-white.text-center.l-margin-bottom-big
              Some inside information about the company
.l-asphalt
  .l-section
    .container-fluid
      .row
        .col-sm-3
          =render partial: 'footer_pages/side_nav'

        .col-sm-9
          .panel-body.no-top-padding
            %h2
              Our Mission
            %p
              Our mission is to bring better business education to people around the world in order to help them achieve their goals of becoming great at their job.
            %h2
              What We Do
            %p
              Learn Signal is an online college for business students that teaches through engaging content. Each course is built using a combination of interactive content, quizzes and high quality educational videos. Learn Signal pairs experienced instructors with meticulously produced, high-quality content.
            %h2
              Why We're Here
            %p
              Online coding schools have become the standard, with many people learning the skills they need to get the careers they want, but traditional educational content courses are still costly, time consuming and not developed to be flexible to the needs of the student. This has left room for new approaches to this type of education.
            %p
              In our opinion, professional education offers it's students a great opportunity to progress in their careers, but the method used to teach this content is out of sync with the way the modern student learns. Learn Signal has created a new way to deliver this valuable content.



=render partial: 'layouts/new_footer'