%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3
          ACCA Information

      %section.pb-md-5.pb-4
        .row
          .col-sm-12
            %p
              ACCA (Association of Chartered Certified Accountants) is the global professional accounting body offering the Chartered Certified Accountant qualification (ACCA). The ACCA website
              %a{href: 'https://www.accaglobal.com', target: '_blank'}
                ="(www.accaglobal.com)"
              is the main ACCA exams resource with all the important information you need to know in order to pass the exams. It has the most up-to-date information and we highly recommend that you use it as your main resource during your studies.
            %p
              This guideline provides information on exams, EPSM and PER and links to key ACCA resources to help you get your ACCA qualification.

            %h4.pt-2
              How does the ACCA Qualification work?
            %p
              Students’ progress through three elements of the ACCA Qualification on their journey to ACCA membership, these are:
            %ul.list
              %li
                ACCA Exams
              %li
                An Ethics and Professional Skills module
              %li
                A Professional Experience Requirement

  %article.bg-white
    .container
      %section.pb-md-5.pb-4
        .row
          .col-sm-12.pt-5
            %h2
              ACCA Exams

            %h3.pt-2
              Applied Knowledge
            %p
              The Applied Knowledge exams provides students with a broad introduction to the world of finance and develop your essential understanding and techniques in accounting. These exams are:
            %ul.list
              %li
                Accountant in Business (AB)
              %li
                Management Accounting (MA)
              %li
                Financial Accounting (FA)



            %h3.mt-5
              Applied Skills
            %p
              The Applied Skills exams build on existing knowledge and understanding and develop strong, broad and practical finance skills required of future strategic professional accountant in any sector or industry. These exams are:
            %ul.list
              %li
                Corporate and Business Law (LW)
              %li
                Performance Management (PM)
              %li
                Taxation (TX)
              %li
                Financial Reporting (FR)
              %li
                Audit and Assurance (AA)
              %li
                Financial Management (FM)


            %h3.mt-5
              Strategic Professional
            %p
              The Strategic Professional exams prepare students for future leadership positions. They develop the strategic vision using your unique blend of technical, ethical and professional skills. And you can specialise in areas that best suit your career ambitions. Students must complete both Essentials exams and choose two of the Options.  These exams are:

            %h4.mt-5
              Essentials

            %ul.list
              %li
                Strategic Business Leader (SBL)
              %li
                Strategic Business Reporting (SBR)

            %h4.mt-5
              Options

            %ul.list
              %li
                Advanced Financial Management (AFM)
              %li
                Advanced Performance Management (APM)
              %li
                Advanced Taxation (ATX)
              %li
                Advanced Audit and Assurance (AAA)



            %h3.mt-5
              Ethics and Professional Skills Module
            %p
              Students are required to complete our Ethics and Professional Skills module which develops in students the complete range of skills that employers told us they need. By introducing students to the full spectrum of advanced ethical and professional skills and exposing them to realistic business situations, our students are ready to shine with recruiters and be really credible in the workplace.

            %p
              Find out more about the EPSM Module here:
              %a{href: 'https://www.accaglobal.com/ie/en/student/ethics.html', target: '_blank'}
                ="www.accaglobal.com/ie/en/student/ethics"




            %h3.mt-5
              Professional Experience Requirement
            %p
              Being a confident, inspiring and trusted professional comes with experience so to qualify as an ACCA member students must complete 36 months’ relevant work experience and achieve 9 performance objectives.Your time in a relevant role and performance objectives need to be signed off by your practical experience supervisor. This practical experience requirement lets students put their knowledge learnt through their students into practise, all in a supported and practical environment.

            %p
              Find out more about PER here:
              %a{href: 'https://www.accaglobal.com/ie/en/student/practical-experience.html', target: '_blank'}
                ="www.accaglobal.com/ie/en/student/practical-experience"

  %article.bg-gray5
    .container
      %section.pb-md-5.pb-4
        .row
          .col-sm-12.pt-5
            %h2
              ACCA Global

            %p
              To find out more about important dates, fees, exam exemptions and any other information relating to your ACCA application and exams go to:
              %a{href: 'https://www.accaglobal.com/ie/en/student/getting-started/acca-qualification-structure.html#exams', target: '_blank'}
                ="www.accaglobal.com/ie/en/student/getting-started/acca-qualification-structure"

            %p
              For additional help and support from ACCA go to:
              %a{href: 'https://www.accaglobal.com/ie/en/help.html', target: '_blank'}
                ="www.accaglobal.com/ie/en/help"


            %h3.mt-5
              ACCA Connect Contact Information
            %p
              ACCA Connect
            %p
              110 Queen Street
            %p
              Glasgow G1 3BX
            %p
              United Kingdom
            %p
              T: +44 (0)141 582 2000
            %p
              E: info@accaglobal.com



