.hero-library
  .l-wrap-home
    =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-8.col-md-offset-2
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              ACCA Student Support Guidelines
            %p.h5.h-white.text-center
              ACCA at LearnSignal

-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.is-bg-asphalt
  .l-wrap
    .l-section-small
      .container-fluid
        .row
          .col-md-10.col-md-offset-1.l-margin-top-big
            %p
              ACCA (Association of Chartered Certified Accountants) is the global professional accounting body offering the Chartered Certified Accountant qualification (ACCA). The ACCA website
              %a{href: 'https://www.accaglobal.com', target: '_blank'}
                ="(www.accaglobal.com)"
              is the main ACCA exams resource with all the important information you need to know in order to pass the exams. It has the most up-to-date information and we highly recommend that you use it as your main resource during your studies.
            %p
              In this guideline, we will provide a quick overview about the ACCA exams, ACCA progression rules, exam entry, exemptions and ethics module with direct links to more detailed information on the ACCA website.

