.home_page_layout
  %header.business-background
    .l-wrap-home
      =render partial: 'layouts/transparent_navbar'
      .home
        %h2.h-white
          Unleash your team’s potential

        %p.h7
          ANYWHERE, ANYTIME
        %p.h7
          Give your staff access to a library of on-demand courses. Taught by experts.


        %br/
        %br/
        .col-sm-6{style: 'padding-left: 0px;'}
          %a.contactModal{href: '#', data: {toggle: 'modal', target: '#contactModal'}, class: 'btn btn-red btn-wide'}
            ='Start Free Trial'

  %section#advance_career{style: 'padding: 40px 0 40px 0;'}
    .l-wrap-home
      .row
        .col-sm-12
          %h2.h-separator.h-separator-center.l-margin-bottom-big
            For Business
      .row
        .col-sm-4
          %h3.l-margin-bottom-big
            =image_tag('ipad-icon.png', class: 'features-img', alt: 'reporting-analytics-icon')
            Reporting & Analytics
          %p.p
            Clear overview of your team's learning performance.
        .col-sm-4
          %h3.l-margin-bottom-big
            =image_tag('graph-icon.png', class: 'padded-features-img', alt: 'learning-paths-icon')
            Learning Paths
          %p.p
            Keep your staff focused with customized learning paths.
        .col-sm-4
          %h3.l-margin-bottom-big
            =image_tag('network-icon.png', class: 'features-img', alt: 'expert-author-network-icon')
            Expert Author Network
          %p.p
            Learn from the best with training designed and developed by industry experts.


  %section#home_info
    .l-wrap-home
      .row
        .col-sm-12.text-center
          %h2.h-separator.h-separator-center.l-margin-bottom-big
            Browse Courses
      .row
        .col-md-12
          -@groups.all_in_order.each do |group|
            .col-sm-6
              =link_to library_special_link(group), class: 'course-panel course-panel-inner group-inner' do
                %h3.h2.course-panel-title.text-center
                  =group.name
                %p.p.course-panel-desc
                  =group.description.truncate(150)


.start-trial
  %a.btn-block.btn-block-red{href: '#', data: {toggle: 'modal', target: '#contactModal'}}
    .l-wrap
      .l-section-small
        .container-fluid
          .col-sm-12
            %p.h5.text-center
              Become a member
            %p.h2.text-center
              Start Your Free Business Account
              %span.ico-arrow-right-r

=render partial: 'layouts/contact_modal'