.hero-upcoming
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              Careers
.is-bg-asphalt
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-md-10.col-md-offset-1
            %h2.text-center.l-margin-bottom
              Join our team
            %p
              Here at LearnSignal, we like proactive innovators who produce great work and play an impactful role in interesting projects. Our passion is to make education a better experience for individuals and businesses, and we are looking for individuals with the same mindset.
            %p
              We are a small team of passionate people working in a challenging environment. Everyone makes an impact. Everyone has the opportunity to showcase their talent. We like to practice what we preach. We're always learning and expanding our knowledge. If there’s something you want to learn or a course you want to take, we have you covered. We work in a beautiful office in the centre of Dublin, and we’re flexible with hours worked in the office.

=render partial: 'layouts/new_footer'