-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-mega
          Contact Us


      %section.pb-md-6.pb-5
        .row
          .col-sm-12.col-md-6
            %h4
              Contact Us
            %p
              Below are collection of Frequently Asked Questions.  Please have a look at these before submitting your question.  Also you could check the LearnSignal Community for further discussions on a variety of topics, including exam related and platform related questions.

            %p
              If you couldn’t find the answer to your question in either of these places, we would love to help.  Please click on the button below and one of the members of our support team will be in touch with you shortly.

            .mt-4
              %a.btn.btn-secondary.btn-sm.mb-5{"data-target" => "#contact-us-modal", "data-toggle" => "modal", :href => "#"}
                Contact Us

          .col-sm-12.col-md-6
            %h4
              Complaints
            %p
              LearnSignal is committed to providing a high-quality service.  If anything is wrong, we would like to hear from you.  Any complaints that you have should be made as soon as they occur so that we may correct the problem with minimum interference to your study.
            %p
              After you have completed the form below, you should receive immediate confirmation of your submission.  You should expect an individual response within 48 hours.  After this, all communication will be replied to within five days until the issue is resolved.  Should you encounter any problem with this process, you can email unresolved@learnsignal.com.  Please include a copy of any previous correspondence.

            .mt-4
              %a.btn.btn-secondary.btn-sm.mb-5{"data-target" => "#complaints-modal", "data-toggle" => "modal", :href => "#"}
                Complaints Process



=render partial: 'complaints_form_modal'
=render partial: 'contact_us_form_modal'

