-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-mega
          Get In Touch
        %p
          Contact us if you have any queries about our online learning courses or let us know if you have any specific feedback or complaints.


      %section.pb-md-6.pb-5
        .row
          .col-sm-12.col-md-6
            %h4
              Contact Us
            %p
              Learnsignal are proud to offer a range of professional courses designed by experts and delivered online so that you can study on a schedule that suits your needs. To learn more about our courses register for a free basic plan or sign-up for an unlimited access payment plan and start learning straight-away.
            %p
              If you are already a learnsignal member or have any specific questions about our service you can take a look at our Frequently Asked Questions section. If you don't find the answer you're looking we would love to help. Click the Contact Us button below, let us know your question and one of the members of our support team will be in touch with you shortly.

            .mt-4
              %a.btn.btn-secondary.btn-sm.mb-5{"data-target" => "#contact-us-modal", "data-toggle" => "modal", :href => "#"}
                Contact Us

          .col-sm-12.col-md-6
            %h4
              Complaints Process
            %p
              Learnsignal is committed to providing a high-quality service. If anything is wrong, we would like to hear from you as soon as possible so that we can correct the problem with minimum interference to your study.
            %p
              After you have completed the form below, you will receive a confirmation email. You can expect an individual response within 48 hours. Following this, all communication will be replied to within five days until the issue is resolved. Should you encounter any problem you can email unresolved@learnsignal.com. Please include a copy of any previous correspondence.

            .mt-4
              %a.btn.btn-secondary.btn-sm.mb-5{"data-target" => "#complaints-modal", "data-toggle" => "modal", :href => "#"}
                Complaints Form



=render partial: 'complaints_form_modal'
=render partial: 'contact_us_form_modal'

