.hero-acca
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center
              Contact
.is-bg-asphalt
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-md-10.col-md-offset-1
            %h2.text-center.l-margin-bottom
              Keep in touch
            %p
              If you have any queries or specific requests regarding LearnSignal’s online training faculty, get in touch with us, and a member of our team will contact you as soon as possible.
            %br/
            %h4.text-center.l-margin-top
              =mail_to 'team@learnsignal.com', 'CONTACT US', subject: 'Contact Page Info'
            %hr/
            %h4.text-center.l-margin-top-big
              Sign up for the LearnSignal newsletter
            %br/
            .col-md-8.col-md-offset-2
              #response
              =form_tag('/info_subscribe', method: 'post', id: 'mailchimpform', remote: 'true') do
                .form-horizontal
                  .row
                    .col-sm-12
                      .input-group
                        =hidden_field_tag(:list_id, 'a716c282e2')
                        =email_field(:email, :address, {id: 'email', placeholder: 'Enter your email', class: 'form-control', style: 'border-bottom-left-radius: 4px; border-top-left-radius: 4px;'})
                        %span.input-group-btn
                          =submit_tag 'Sign Up', class: 'btn btn-red', name: nil
