.hero-library
  .l-wrap-small
    =render partial: 'layouts/transparent_navbar'
    .l-section-footer-pages
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center
              Contact Us

.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-12
          .col-md-6.l-margin-top
            %h4
              Complaints
            %p
              LearnSignal is committed to providing a high-quality service.  If anything is wrong, we would like to hear from you.  Any complaints that you have should be made as soon as they occur so that we may correct the problem with minimum interference to your study.
            %p
              After you have completed the form below, you should receive immediate confirmation of your submission.  You should expect an individual response within 48 hours.  After this, all communication will be replied to within five days until the issue is resolved.  Should you encounter any problem with this process, you can email unresolved@learnsignal.com.  Please include a copy of any previous correspondence.

            .visible-xs.visible-sm.l-margin-bottom-big
              %a{data: {remodal: {target: 'complaints-modal'}}, class: 'btn btn-cyan btn-wide'}
                Complaints Process

          .col-md-6.l-margin-top
            %h4
              Contact Us
            %p
              Below are collection of Frequently Asked Questions.  Please have a look at these before submitting your question.  Also you could check the LearnSignal Community for further discussions on a variety of topics, including exam related and platform related questions.

            %p
              If you couldn’t find the answer to your question in either of these places, we would love to help.  Please click on the button below and one of the members of our support team will be in touch with you shortly.
            .visible-xs.visible-sm.l-margin-bottom-big
              %a{data: {remodal: {target: 'contact-us-modal'}}, class: 'btn btn-purple btn-wide'}
                Contact Us


        .col-md-12.hidden-xs.hidden-sm
          .col-md-6.l-margin-top
            %a{data: {remodal: {target: 'complaints-modal'}}, class: 'btn btn-cyan btn-wide'}
              Complaints Process

          .col-md-6.l-margin-top
            %a{data: {remodal: {target: 'contact-us-modal'}}, class: 'btn btn-purple btn-wide'}
              Contact Us

        .col-md-12.l-margin-top-huge
          %hr/
          %h2.text-center
            FAQ
          .col-sm-6.l-margin-bottom-big.l-margin-top
            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  When you register for LearnSignal does this fee cover access to all the papers?

                .faq-answer.closed
                  Yes, your membership fee gives you unlimited access to all the papers on the platform. You will have access to videos covering all the concepts in each of the papers, quizzes that will help ensure you understand these concepts and revision videos to make sure you are ready to approach the exam correctly on the day.

                .faq-answer-expanded.hidden
                  %p
                    Yes, your membership fee gives you unlimited access to all the papers on the platform. You will have access to videos covering all the concepts in each of the papers, quizzes that will help ensure you understand these concepts and revision videos to make sure you are ready to approach the exam correctly on the day.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  Are all your tutors experts?

                .faq-answer.closed
                  Yes, all of our tutors have met the necessary requirements to teach their course. Each tutor goes through a rigorous interview process, where they are assessed by an ACCA & an instructional designer to ensure they meet our high expectations.

                .faq-answer-expanded.hidden
                  %p
                    Yes, all of our tutors have met the necessary requirements to teach their course. Each tutor goes through a rigorous interview process, where they are assessed by an ACCA & an instructional designer to ensure they meet our high expectations.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  How can I have access to all the courses for this small monthly subscription, is something missing?

                .faq-answer.closed
                  You might think that something is missing or how could they offer these courses for this small fee. The answer is that we do not have any of the legacy cost such as building which helps us save money and pass these saving onto our students! We only spend money on making sure our students get the best quality education they possible.

                .faq-answer-expanded.hidden
                  %p
                    You might think that something is missing or how could they offer these courses for this small fee. The answer is that we do not have any of the legacy cost such as building which helps us save money and pass these saving onto our students! We only spend money on making sure our students get the best quality education they possible.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  How do I recommend new ideas?

                .faq-answer.closed
                  At this time you can email us at help@learnsignal.com with the subject line "New Suggestion". We review all emails and make note each month of what our students are looking for us to create. This helps shape our decisions about content and features in the near future!

                .faq-answer-expanded.hidden
                  %p
                    At this time you can email us at help@learnsignal.com with the subject line "New Suggestion". We review all emails and make note each month of what our students are looking for us to create. This helps shape our decisions about content and features in the near future!

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  Are there any entry requirements for the ACCA qualification?

                .faq-answer.closed
                  The minimum entry requirements for school leavers wishing to take their ACCA qualification are two A Levels and three GCSEs, or equivalent, in five separate subjects. One of these five must be English and/or Mathematics.
                  If you don’t meet the ACCA minimum entry requirements, you can enrol to study one of the Foundations in Accountancy (FIA) awards first. Completion of the FIA Diploma will allow you to progress on to the main ACCA qualification at F4.

                .faq-answer-expanded.hidden
                  %p
                    The minimum entry requirements for school leavers wishing to take their ACCA qualification are two A Levels and three GCSEs, or equivalent, in five separate subjects. One of these five must be English and/or Mathematics.
                  %p
                    If you don’t meet the ACCA minimum entry requirements, you can enrol to study one of the Foundations in Accountancy (FIA) awards first. Completion of the FIA Diploma will allow you to progress on to the main ACCA qualification at F4.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  How long does it take to complete the ACCA qualification?

                .faq-answer.closed
                  Everyone moves through the ACCA exams at their own pace. You have up to ten years to complete your exams. Typically students will take around three years when studying on a full-time basis, and three to four when studying part-time!

                .faq-answer-expanded.hidden
                  %p
                    Everyone moves through the ACCA exams at their own pace. You have up to ten years to complete your exams. Typically students will take around three years when studying on a full-time basis, and three to four when studying part-time!

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  What are the progression rules for ACCA papers?

                .faq-answer.closed
                  You can sit a maximum of four papers in one examination session.
                  You are required to study each module in order. However, you can vary the order you attempt the papers within each module.
                  You can attempt examinations from different modules in the same sitting if your status allows. However you must enter for outstanding papers in your current module if you wish to enter to sit papers in the next module.

                .faq-answer-expanded.hidden
                  %p
                    You can sit a maximum of four papers in one examination session.
                  %p
                    You are required to study each module in order. However, you can vary the order you attempt the papers within each module.
                  %p
                    You can attempt examinations from different modules in the same sitting if your status allows. However you must enter for outstanding papers in your current module if you wish to enter to sit papers in the next module.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  How much do the ACCA exams cost?

                .faq-answer.closed
                  The prices vary per paper and are dependent on when you book. View the exam booking dates and fees.

                .faq-answer-expanded.hidden
                  %p
                    The prices vary per paper and are dependent on when you book. View the exam booking dates and fees.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  What other qualifications can I get along the way to becoming ACCA qualified?

                .faq-answer.closed
                  There are 2 other ACCA qualifications from the ACCA which you can achieve:
                  Diploma
                  After completion of F1-F3 and completion of a free ACCA online module 'Foundations in Professionalism' you will receive the Diploma in Accounting and Business (QCF Level 4)
                  Advanced Diploma
                  After completion of F4-P7 and completion of a free ACCA online module 'Professional Ethics' you will receive the Advanced Diploma in Accounting and Business
                  Other qualifications
                  The ACCA have a partnership with Oxford Brookes university to offer a BSc in Applied Accounting to ACCA students. You need to have to opted into the BSc when you joined ACCA as a student. You will be eligible to complete the BSc at the same time as being eligible for the Advanced Diploma (after completion of F1-F9 and the Professional Ethics module). You can find out more here.

                .faq-answer-expanded.hidden
                  %p
                    There are 2 other ACCA qualifications from the ACCA which you can achieve:
                  %h5
                    Diploma
                  %p
                    After completion of F1-F3 and completion of a free ACCA online module 'Foundations in Professionalism' you will receive the Diploma in Accounting and Business (QCF Level 4)
                  %h5
                    Advanced Diploma
                  %p
                    After completion of F4-P7 and completion of a free ACCA online module 'Professional Ethics' you will receive the Advanced Diploma in Accounting and Business
                  %h5
                    Other qualifications
                  %p
                    The ACCA have a partnership with Oxford Brookes university to offer a BSc in Applied Accounting to ACCA students. You need to have to opted into the BSc when you joined ACCA as a student. You will be eligible to complete the BSc at the same time as being eligible for the Advanced Diploma (after completion of F1-F9 and the Professional Ethics module). You can find out more here.


          .col-sm-6.l-margin-bottom-big.l-margin-top
            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  Do you have a free trial?

                .faq-answer.closed
                  We offer everyone a 7 day free trial! You can take advantage of it by visiting our sign-up page!

                .faq-answer-expanded.hidden
                  %p
                    We offer everyone a 7 day free trial! You can take advantage of it by visiting our sign-up page!

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  Why are the courses formatted the way they are?

                .faq-answer.closed
                  This platform and all the courses on it have been created with the modern student in mind. Our courses are broken down into their component parts to help you learn the fundamentals as quickly as possible and in a flexible way that meets a modern students needs!

                .faq-answer-expanded.hidden
                  %p
                    This platform and all the courses on it have been created with the modern student in mind. Our courses are broken down into their component parts to help you learn the fundamentals as quickly as possible and in a flexible way that meets a modern students needs!

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  Can I use an internationally accepted debit or credit card to enroll?

                .faq-answer.closed
                  Yes! We use the payment platform stripe, which means we accept all major credit cards!

                .faq-answer-expanded.hidden
                  %p
                    Yes! We use the payment platform stripe, which means we accept all major credit cards!

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  I found a bug. Where can I report that?

                .faq-answer.closed
                  In the unlikely situation you stumble across a bug, go ahead and send us an email at help@learnsignal.com with a link and a screenshot!

                .faq-answer-expanded.hidden
                  %p
                    In the unlikely situation you stumble across a bug, go ahead and send us an email at help@learnsignal.com with a link and a screenshot!

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  How can I check if I can claim exemptions from ACCA exams?

                .faq-answer.closed
                  The ACCA will determine if you are eligible to claim exemptions from any exams, however you can check yourself if you think you may be eligible by using the ACCA’s online tool.

                .faq-answer-expanded.hidden
                  %p
                    The ACCA will determine if you are eligible to claim exemptions from any exams, however you can check yourself if you think you may be eligible by using the ACCA’s online tool.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  What is the structure of the ACCA qualification?

                .faq-answer.closed
                  %p
                    Fundamentals level: Knowledge module (Papers F1, F2 & F3), Skills module (Papers F4, F5, F6, F7, F8 & F9). Professional level: Essentials module (P1, P2 & P3), Options module (P4, P5, P6, P7)*. *Only two Options papers need to be taken out of the four papers available. A total of 14 papers. (excluding exemptions) must be completed to become fully qualified. Papers F1, F2, F3 & F4 are available as Computer Based Exams on Demand. Papers F5 to P7 are available as Paper Based Exams (sat at fixed exam sittings). Some students may be exempt from studying the earlier levels depending on professional and educational background. Find out more by visiting the ACCA.

                .faq-answer-expanded.hidden
                  %p
                    Fundamentals level:
                    %ul
                      %li
                        Knowledge module (Papers F1, F2 & F3)
                      %li
                        Skills module (Papers F4, F5, F6, F7, F8 & F9)

                  %p
                    Professional level:
                    %ul
                      %li
                        Essentials module (P1, P2 & P3)
                      %li
                        Options module (P4, P5, P6, P7)*

                  %p
                    *Only two Options papers need to be taken out of the four papers available. A total of 14 papers. (excluding exemptions) must be completed to become fully qualified.
                  %p
                    Papers F1, F2, F3 & F4 are available as Computer Based Exams on Demand.
                  %p
                    Papers F5 to P7 are available as Paper Based Exams (sat at fixed exam sittings).
                  %p
                    Some students may be exempt from studying the earlier levels depending on professional and educational background. Find out more by visiting the ACCA.

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  What are the Key Dates for the ACCA qualification?

                .faq-answer.closed
                  ACCA Student registration – can be completed online throughout the year. You need to make sure that you are registered as a student before trying to enter for exams. ACCA’s exam cycles – run from 1 February to 31 July and 1 August to 30 January each year and you can take a maximum of four individual papers within any cycle. ACCA Exam Entry – there are now three entry periods: Early, Standard and Late. The later the exam entry, the higher the exam fee!

                .faq-answer-expanded.hidden
                  %p
                    ACCA Student registration – can be completed online throughout the year. You need to make sure that you are registered as a student before trying to enter for exams.
                  %p
                    ACCA’s exam cycles – run from 1 February to 31 July and 1 August to 30 January each year and you can take a maximum of four individual papers within any cycle.
                  %p
                    ACCA Exam Entry – there are now three entry periods: Early, Standard and Late. The later the exam entry, the higher the exam fee!

            .faq-box
              .faq-inner.narrow{onclick: '$(this).toggleClass("narrow"); $(this).find(".faq-answer").toggleClass("hidden"); $(this).find(".faq-answer-expanded").toggleClass("hidden");'}
                .faq-title.h6
                  How long do I have to pass all of my ACCA exams?

                .faq-answer.closed
                  Student have ten years to complete all the exams, which starts from the date you register as a student with ACCA (not the date when you start taking exams).

                .faq-answer-expanded.hidden
                  %p
                    Student have ten years to complete all the exams, which starts from the date you register as a student with ACCA (not the date when you start taking exams).










        .col-md-10.col-md-offset-1
          %hr/
          %h2.h-separator.h-separator-center.text-center
            LearnSignal Newsletter
          %h4.text-center.l-margin-top-big.l-margin-bottom
            Get fortnightly ACCA insider knowledge
          %br/
          .col-sm-12.text-center
            #response
              =form_tag('/home_page_subscribe', method: 'post', id: 'mailchimpform', remote: 'true') do
                .row
                  .col-md-4.col-md-offset-1.col-sm-6
                    .form-group
                      =text_field(:first_name, :address, {id: 'name', placeholder: 'Your first name', class: 'form-control'})
                  .col-md-4.col-sm-6
                    .form-group
                      =email_field(:email, :address, {id: 'email', placeholder: 'Your email address', class: 'form-control'})
                  .col-md-2.col-md-offset-0.col-sm-4.col-sm-offset-4
                    .form-group
                      %button.lsbtn.s{:type => "submit"} Subscribe

=render partial: 'complaints_form_modal'
=render partial: 'contact_us_form_modal'

