%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-hero.mb-3
          FAQs
        %p
          Find answers to our frequently asked questions below. If you have a question that you can't see the answer to don't hesitate to get in touch.

      %section.pb-md-6.pb-5
        .row
          .col-md-12
            =render partial: 'layouts/faq'

