%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-hero.mb-3
          FAQs

      %section.pb-md-6.pb-5
        .row
          .col-md-12
            =render partial: 'layouts/faq'

