=render partial: 'layouts/external_banner'
=render partial: 'layouts/navbar'
.bg-asphalt.fixed-header
  .container
    %article.hero.mb-5
      %h1.h1-mega Exam Preparation Products
      %h5.text-red Passing is worth it

  -if @questions.any?
    .container
      .pb-6
        %h2 Correction Packs
        .row.row-lg
          -@questions.each do |question|
            .col-xs-12.col-sm-6.col-md-4
              =link_to new_order_url(question), class: 'card card-link text-center mb-5' do
                %h4.text-ellipsis.mb-4 
                  =question.mock_exam.try(:name)
                .mb-4
                  =image_tag 'ico-questions-2.svg', alt: 'Question'
                %div
                  %span.btn.btn-link.with-arrow Buy Now

  -if @products.any?
    .container
      .pb-4
        %h2 Mock Exams
        .row.row-lg
          -@products.each do |product|
            .col-xs-12.col-sm-6.col-md-4
              =link_to new_order_url(product), class: 'card card-link text-center mb-5' do
                %h4.text-ellipsis.mb-4 
                  =product.mock_exam.try(:name)
                .mb-4
                  =image_tag 'ico-exam.svg', alt: 'Exam'
                %div
                  %span.btn.btn-link.with-arrow Buy Now