%main
  %article.bg-gray5
    .container
      %header.hero-section.hero-section-external
        %h1.h1-mega Exam Preparation Products
        %h5 Passing is worth it

      %section.pb-md-6.pb-5

        -if @questions.any?
          .container
            .pb-3
              %h2 Correction Packs
            .row.row-lg
              -@questions.each do |question|
                .col-xs-12.col-sm-6.col-md-4
                  =link_to new_order_url(question), class: 'card card-link text-center mb-5' do
                    %h4.text-ellipsis.mb-4
                      =question.mock_exam.try(:name)
                      .pt-2
                        %i.budicon-files-tick{"aria-label" => "", :role => "img"}
                      .pt-5
                        %span.btn.btn-secondary.btn-sm.btn-sm-arrow-right Buy Now


        -if @products.any?
          .container
            .pb-4
              %h2 Mock Exams
            .row.row-lg
              -@products.each do |product|
                .col-xs-12.col-sm-6.col-md-4
                  =link_to new_order_url(product), class: 'card card-link text-center mb-5' do
                    .py-4
                      %h4.text-ellipsis.mb-4
                        =product.mock_exam.try(:name)
                      .pt-2
                        %i.budicon-files-tick{"aria-label" => "", :role => "img"}
                      .pt-5
                        %span.btn.btn-secondary.btn-sm.btn-sm-arrow-right Buy Now