=render partial: 'layouts/external_banner'
.hero-library
  .l-wrap-small
    =render partial: 'layouts/transparent_navbar'
    .l-section-footer-pages
      .container-fluid
        .row
          .col-md-8.col-md-offset-2
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              ACCA LearnSignal Mock Exam
            %p.h5.h-white.text-center.l-margin-bottom-big
              Passing is worth it
-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'

-if @products.any?

  .l-section-small.is-bg-asphalt
    .l-wrap
      .container-fluid
        .col-md-12
          -@products.each do |product|
            .col-xs-12.col-sm-6.col-md-4
              =link_to new_order_url(product), class: 'product-box' do
                .product-box-title
                  =product.mock_exam.try(:name)
                .product-box-inner
                  =image_tag product.mock_exam.try(:cover_image).try(:url), class: 'media-pic'
                .product-box-label
                  ='Buy Now'

