%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3
          Privacy Policy
        %p.p-hero.px-lg-6
          Our privacy outline for LearnSignal

      %section.pb-md-6.pb-5
        .row
          .col-sm-12
            <a href="//www.iubenda.com/privacy-policy/7779613" class="iubenda-nostyle no-brand iub-body-embed iub-no-markup iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
