%main
  %article.bg-gray5.pb-7
    .container.mb-7
      %header.hero-section
        = image_tag @tutor.profile_image.url, class: 'img-thumbnail img-thumbnail-sm mb-3', alt: 'Tutor Profile Image'

        %h1.h1-mega
          =@tutor.full_name

      %section.pb-md-6.pb-5
        .row
          -if @tutor.description
            .hero-show-text-crunch
              =@tutor.description.html_safe


      -if @courses.present?
        %section
          %h2.mb-5.text-center
            ="Courses by #{@tutor.first_name}"
          .row.row-lg
            -if @courses
              -@courses.each do |course|
                .col-lg-6.col-xl-4
                  =link_to library_special_link(course), class: 'card card-horizontal flex-row card-mint p-0' do
                    .card-header.d-flex.justify-content-center.align-items-center
                      %i{"aria-label" => "Strategic Professional", :role => "img", class: course.icon_label ? course.icon_label : 'budicon-office-bag-c', style: "color: #{course.highlight_colour};"}

                    .card-body.d-flex.flex-column.justify-content-center
                      %small.card-category.mb-2{style: "color: #{course.highlight_colour};"}
                        =course.category_label
                      %h5.card-title.mb-1
                        %span.mr-1
                          =course.name
