.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-profile.is-bg-asphalt{style: 'padding-bottom: 0px;'}
  .l-wrap
    .container-fluid
      .profile-single
        .row
          .pull-left
            = image_tag @tutor.profile_image.url, class: 'profile-pic profile-pic-big'
          .pull-left{style: 'margin-left: 40px;'}
            %h1.h1.h-separator.h-separator-left.text-left.l-margin-bottom-big
              =@tutor.full_name
        .row.l-margin-top
          .col-sm-10.col-md-offset-1
            .profile-text
              -if @tutor.description
                %p
                  =@tutor.description.html_safe

.l-section-profile.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row
        .col-md-12.text-center
          -if @courses.present?
            %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
              ="Courses by #{@tutor.first_name}"
            .course-list-wrap
              .row
                -@courses.each do |course|
                  -if course.parent && course.parent.active
                    .col-sm-6.col-md-4
                      =link_to library_special_link(course), class: 'card card-course' do
                        .card-outer
                          .card-inner
                            %h3.h3.card-title.l-margin-bottom
                              =course.try(:name)
                            %p.card-desc
                              -if course.short_description
                                =course.try(:short_description).to_s.truncate(185)
                              -else
                                =course.parent.try(:name).to_s.truncate(185)
                        .card-label
                          .row
                            .col-md-12.col-xs-12
                              .col-md-6.col-xs-6
                                %h6
                                  =t('views.general.browse')
                              .col-md-6.col-xs-6.text-right
                                -if course.total_estimated_time_in_seconds && course.total_estimated_time_in_seconds > 0
                                  %h6
                                    =simple_hour_time(course.total_estimated_time_in_seconds)

