%main
  %article.bg-gray5
    .container.mb-7
      %header.hero-section.hero-section-external
        %h1.h1-mega
          Our Lecturers

      %section.pb-md-6.pb-5
        .row
          -@tutors.each do |tutor|
            .col-sm-6.col-md-4.col-lg-3
              =link_to profile_url(tutor), class: 'card text-center mb-4' do
                .py-4
                  = image_tag tutor.profile_image.url, class: 'img-thumbnail img-thumbnail-sm', alt: 'Tutor Profile Image'

                %p.h4.text-ellipsis.mb-4
                  =tutor.full_name

