.hero-sign-up
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              Terms & Conditions
            %p.h5.h-white.text-center.l-margin-bottom-big
              Our rules for using Learn Signal
.l-asphalt
  .l-section
    .container-fluid
      .row
        .col-sm-3
          =render partial: 'footer_pages/side_nav'

        .col-sm-9
          .panel-body.no-top-padding
            %p
              These terms and conditions ("Terms and Conditions") govern your use learnsignal.com ("Website") and the services offered herein (the “Services”). In these Terms and Conditions, Signal Education Limited is referred to as the “Company".
            %p
              By using this Website and its Services you will be bound by these Terms and Conditions and the Company's privacy policy which can be found at Privacy ("Privacy Policy"). If you do not agree to these Terms and Conditions and/or the Privacy Policy you should not use this Website or any Service provided via it. Use of the Company’s Website and Services (as defined below) is expressly conditioned upon your assent to all the terms and conditions of this agreement, to the exclusion of all other terms.
            %h2
              Introduction
            %p
              These terms and conditions apply to the Services available from and related to the domain and sub-domains of the Website (together with the Website, the “Services”).
            %p
              For as long as the Company continues to offer the Services, it shall provide and seek to update, improve and expand the Services. As a result, the Company allows you to access the Website as it may exist and be available on any day and it has no other obligations, except as expressly stated in these Terms and Conditions. The Company may modify, replace, refuse access to, suspend or discontinue the Website, partially or entirely, or change and modify prices for all or part of the Services in our sole discretion. All of these changes shall be effective upon their posting on our site or by direct communication to you unless otherwise noted. Your use of the Services following such posting or communication constitutes your acceptance of the terms and conditions of this Agreement as modified.
            %p
              Nothing in these Terms and Conditions is intended to, or shall be deemed to, establish any partnership or joint venture between any of the parties, constitute any party the agent of another party, nor authorise any party to make or enter into any commitments for or on behalf of any other party.
            %h2
              Your Use Of This Website
            %p
              You must not use this Website for anything that is unlawful or is prohibited by these Terms and Conditions and/or any notices elsewhere on this Website.
            %p
              To the greatest extent permitted by law, the Company will not be liable in any way for any information it provides on the Website or for any Service it provides, including, but not limited to, any errors or omissions in any content of any of the video's on the website, or any loss or damage of any kind incurred in connection with use of or exposure to any content posted, emailed, accessed, transmitted, or otherwise made available via the Services.
            %h2
              When Using This Website, You Must Not Do Any Of The Following:
            %ul
              %li
                Defame, abuse, harass, stalk, threaten or otherwise violate the rights (such as rights of privacy and publicity) of others;
              %li
                Publish, post, distribute or disseminate any defamatory, infringing, obscene, indecent, offensive or unlawful material or information;
              %li
                Upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights or have received all necessary consents;
              %li
                Upload files that contain viruses, corrupted files or any other similar software or programs that may damage the operation of another's computer;
              %li
                Impersonate any person or entity, including without limitation any employee or representative of Company; post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any other user of the Services;
              %li
                Run Maillist, Listserv, any form of auto-responder, or “spam” on the Services, or any processes that run or are activated while you are not logged on to the Website, or that otherwise interfere with the proper working of or place an unreasonable load on the Services’ infrastructure;
              %li
                Decompile, reverse engineer, or otherwise attempt to obtain the source code of the Services; delete any author attributions, legal notices or proprietary designations or labels in any file that is uploaded;
              %li
                Falsify the origin or source of software or other material contained in a file that is uploaded;advertise or offer to sell any goods or services or conduct or forward surveys, competitions, or chain letters; or
              %li
                Download any file posted by another user of this Website that you know, or reasonably should know, cannot be legally distributed in such manner.
            %h2
              It Is Important To Remember
            %p
              You will be responsible for any tax liability which might incur associated with your activity in connection with the Services.
            %p
              You represent and warrant to Company that you are of legal age to form a binding contract with the Company. You also certify that you are legally permitted to use and access the Services and take full responsibility for the selection and use of and access to the Services. This agreement is void where prohibited by law, and the right to access the Services is revoked in such jurisdictions.
            %p
              If you are registering with the Website as a business entity, you represent and warrant that you have the authority to legally bind that entity. If you are trading as a business, you must comply with and you are responsible for all laws applicable to your business.
            %p
              If you link to the Website, Company may revoke your right to so link at any time, at Company’s sole discretion. Company reserves the right to require prior written consent before linking to the Website.
            %p
              You will indemnify and hold Company, its parents, subsidiaries, affiliates, officers, and employees harmless (including, without limitation, from all damages, liabilities, settlements, costs and legal fees) from any claim or demand made by any third party due to or arising out of your access to the Services, use of the Services, your violation of these Terms and Conditions, or the infringement by you or any third party using your account of any intellectual property or other right of any person or entity.
            %h2
              Registration
            %p
              You will need to register to become a member of this Website ("Member") if you wish to access the Services via this Website, and continued membership is subject to the Company’s monthly or annual charges set out in Plans. You are free to change the membership package to which you subscribe at any time, subject to these Terms and Conditions (and in particular paragraph 4.2).
            %p
              To register to become a Member you must provide the Company with information about you via the Company's registration forms. The Company's use of this information is set out in the Company's Privacy Policy which can be found at Privacy
            %p
              You must provide true, accurate, current and complete information about yourself when completing the registration form. You must maintain and update this information and keep it true, accurate, current and complete. If any information provided by you is not, the Company has the right to cancel your membership and refuse any and all current or future use of this Website.
            %p
              Registration requires a valid email address (which will serve as your user name) and unique password. Please create a secure password: choose a password that uses a combination of letters, upper case and lower case, numbers, and symbols. For example, $Mydog2!. Avoid choosing obvious words or dates such as a nickname or your birth date. Please use maximum caution to keep your user name and password confidential and log-off from the Website when your session is complete to prevent unauthorised access to your information. If your user name or password is subject to unauthorised access, you should immediately inform the Company.
            %p
              You must not tell anyone else your user name or password. Any unauthorised use of either of them must be reported to info@learnsignal.com as soon as you are aware of such use and the Company will, as soon as reasonably possible, cancel your user name and/or password and issues new ones to you.
            %p
              The Company may, for security or other reasons, require you to change your user name and/ or password or other information which facilitates access to this Website or its Services.
            %p
              The Company reserves the right to cancel your user name and password without notice if the Company becomes aware of any breach of these Terms and Conditions by you.
            %p
              Once the Company has sent you a confirmation e-mail you will become a Member and will be able to access the Services available via the Website. You may cancel your membership at any time – see paragraph 7 for details of cancellation.
            %h2
              Charges And Payment
            %p
              Charges are linked to the membership package to which you subscribe, as set out in plans.
            %h2
              Plans
            %p
              You will be charged monthly or annually in advance until your membership is cancelled (for cancellation details see paragraph 7 below) together with additional transaction based charges. Details of charges are shown within the sign-up process, as set out in Plans.
            %p
              Charges are expressed in Euro. Any reduction in the monthly or annual membership price (for example, where you downgrade to a lower-priced package or reduce the number of users on your account) will take effect in your next membership month or year following notification. Any increase in the monthly or annual membership price (for example, where you upgrade your package or add additional users) will take effect from the date of notification (so that a pro-rata payment shall be made for the remainder of the current payment month or year, with the full monthly or annual payment to be made from the beginning of the following month, or, in the case of annual plans, year). Your membership month or year begins on the date on which you register for the Services and finishes on the day before that calendar date the following month or, in the case of annual plans, year.
            %p
              Fees for all the Services that you sign up to are payable upon registration or the relevant monthly or annual payment date. You can pay membership fees by any Mastercard or Visa credit card, or Visa Delta. Your payment details will be encrypted to minimize the possibility of unauthorised access or disclosure. At the time of registration, you will be asked to provide credit/debit card details. In the event that the Company is unable at any time to obtain payment of any charges using such credit card details, the Company may freeze your account until it has received settlement in full.
            %h2
              Dealings With Third Parties
            %p
              The Company is not an agent of any third party or any party named or linked to this Website ("Third Parties") and does not have any authority to act for such Third Parties. The Company does not control or endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such Third Parties.
            %p
              You agree that (to the maximum extent permitted by applicable law) the Company (and our officers, directors and employees) shall have no liability to you in relation to any dispute which you may have with a Third Party, without limitation one or more of your customers, and/or any other users of this Website.
            %h2
              Intellectual Property Rights
            %p
              You acknowledge and agree that all content and information, including but not limited to text, software, music, sound, photographs, graphics, video or other material (also known as “Content”) provided on the Website or through the Services, or made available to you in any way, or, presented to you by the Company, its partners or advertisers, is protected by copyrights, trademarks, service marks, and other applicable intellectual property rights. You shall abide by all copyright notices, trademark rules, information, and restrictions contained in any Content accessed through the Services, and except as expressly permitted herein, shall not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purposes whatsoever any Content or third party submissions or other proprietary rights not owned by you: (i) without the express prior written consent of the respective owners, and (ii) in any way that violates any third party right.
            %p
              You fully acknowledge and understand that by agreeing to these terms of use, you are being granted a limited licence to view the video content of the Website (in accordance with the payment plan that you have selected). For the avoidance of doubt, no rights (including intellectual property rights) of any kind in the content of the Website are transferred or granted to you. Access to the content of the Website is limited by the type of payment plan which you have agreed to. The sharing of log-in details with multiple users is strictly prohibited and each user who accesses the contents of the Website must have paid for a separate subscription governing their use.
            %h2
              Termination
            %p
              Without prejudice to any remedy that the Company may have against you, the Company may terminate or suspend with immediate effect and without notice your access to and use of this Website and your membership if it:
            %ul
              %li
                Does not receive payment of the monthly or annual subscription;
              %li
                Reasonably believes that you have breached any of these Terms and Conditions;
              %li
                Is unable to verify the accuracy or validity of any information provided by you; or
              %li
                Suspects fraudulent, abusive or illegal activity by you.
            %p
              Should you object to any of these Terms and Conditions, or any subsequent changes to them, or become dissatisfied with this Website in any way, your only recourse is to immediately discontinue to access or use this Website.
            %p
              You may cancel your membership at any time. Cancellation will take effect from the next monthly or annual payment date and you will not be entitled to a refund for any monthly or annual membership fee already paid.
            %p
              You may reduce the number of additional users attached to your account or to downgrade to a different package at any time. Such reduction will take effect from the next monthly or annual payment date and you will not be entitled to a refund for any monthly or annual fee already paid in respect of such users or enhanced package.
            %h2
              General
            %p
              Whilst the Company will try to provide you with uninterrupted access to this Website and its Services, The Company may need to withdraw, modify, discontinue or temporarily or permanently suspend one or more aspects of this Website where the Company has a legal, technical or other good reason to do so (including technical difficulties experienced by the Company or any Internet infrastructure). However, The Company will try, wherever possible, to give reasonable notice of the Company's intention to do so.
            %p
              The Company reserves the right to withhold, remove and or discard any content available as part of your account, with or without notice if deemed by the Company to be contrary to these Terms and Conditions. The Company has no obligation to store, maintain or provide you a copy of any content that you provide when using the Services.
            %p
              If the Company fails to exercise or enforce a right under the Terms and Conditions that failure shall not constitute a waiver of such right or provision.
            %p
              If any provision of these Terms and Conditions is found by a court of competent jurisdiction to be invalid, that provision shall be deemed severed and the validity and enforceability of the remaining provisions shall not be affected. The parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision.
            %p
              These Terms and Conditions shall be made subject to the laws of Ireland which shall exclusively govern the interpretation, application and effect of all permissions, exclusions, licences, policies, and conditions of use set out in this website. The Courts of Ireland shall have exclusive jurisdiction over all claims or disputes arising in relation to, out of, or in connection with, this website and its use. Both parties hereby consent to the admissibility of electronic evidence before the Courts of Ireland.
            %p
              These Terms and Conditions set out the Company's entire agreement and understanding with respect to the subject matter of these Terms and Conditions and supersedes all representations, communications and prior agreements (written or oral).
            %p
              Each party acknowledges that on entering into these Terms and Conditions, it does not rely, and has not relied, upon any representation (whether negligent or innocent), statement or warranty made or agreed to by any person (whether a party to these Terms and Conditions or not) except those expressly set out in these Terms and Conditions.
            %p
              Unless expressly provided in the Terms and Conditions no term of them is enforceable by any person who is not a party to it.
            %p.text-inline
              You must report any violations of these Terms and Conditions to:
              =mail_to 'info@learnsignal.com' do
                .strong
                  info@learnsignal.com
            %h2
              Warranty Disclaimer And Limitation Of Liability
            %p
              Company has no special relationship with or fiduciary duty to you. You acknowledge that Company has no control over, and no duty to take any action regarding: which users gain access to the Services; what Content you access via the Services; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release Company from all liability for you having acquired or not acquired Content through the Services. The Services may contain, or direct you to websites containing, information that some people may find offensive or inappropriate.
            %p.bold
              TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICES, CONTENT, WEBSITE AND ANY SOFTWARE ARE PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
            %p.bold
              IN NO EVENT SHALL COMPANY OR ITS SUPPLIERS, OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE WITH RESPECT TO THE WEBSITE OR THE SERVICES OR THE SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE PRINCIPLE (I) FOR ANY AMOUNT IN THE AGGREGATE IN EXCESS OF THE GREATER OF THE FEES PAID BY YOU FOR THE SERVICES PURCHASED THROUGH THE WEBSITE DURING THE SIX-MONTH PERIOD PRECEDING THE APPLICABLE CLAIM; (II) FOR ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER; (III) FOR DATA LOSS OR COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; OR (IV) FOR ANY MATTER BEYOND COMPANY’S REASONABLE CONTROL.
            %h2
              Amendment To These Terms And Conditions
            %p
              The Company reserves the right to amend and alter these Terms and Conditions and any content or information contained on the Website at any time. In the event these Terms and Conditions are altered the Company will post the amended Terms and Conditions on this Website. Changes will apply from the date of posting.
            %p
              If after the Terms and Conditions and/or the Privacy Policy
            %p
              Privacy have been amended or altered you do not agree to their terms, you must stop using this Website.









=render partial: 'layouts/new_footer'