.hero-library
  .l-wrap-small
    =render partial: 'layouts/transparent_navbar'
    .l-section-footer-pages
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center.l-margin-bottom
              Terms & Conditions
            %p.h5.h-white.text-center.l-margin-bottom-big
              Our rules for using Learn Signal
-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.l-asphalt
  .l-section
    .l-wrap-small
      .container-fluid
        .row
          .col-sm-12
            .panel-body.no-top-padding
              %p
                PLEASE READ VERY CAREFULLY THESE TERMS AND CONDITIONS BEFORE USING LEARNSIGNAL. VISITING OR REGISTERING WITH LEARNSIGNAL INDICATES THAT YOU ACCEPT THESE TERMS AND CONDITIONS. IF YOU DO NOT ACCEPT THESE TERMS AND CONDITIONS, PLEASE DO NOT REGISTER FOR OR PARTICIPATE IN ANY LEARNSIGNAL PROGRAMMES.
              %h2
                Introduction
              %p
                Welcome to our online site. We, the Signal Education [herein after trading as (t/a) LearnSignal] is a Company registered under the provisions of COMPANIES ACT 2014. Our Company registration number is 532673 and our registered office is at the Merrion Building, 18-20 Merrion Street Upper, Dublin 2, Ireland.
              %p
                LearnSignal provides adaptive training sessions on any device at anytime. LearnSignal and its associates provide their services to you subject to the following conditions upon which LearnSignal (“We” or “Us”), will provide service to you on LearnSignal (“the Website”). These Terms constitute a contractual agreement between you and us. By visiting, accessing, using, and/or joining (Collectively “Using”) the Website and the services thereof, you express your understanding and acceptance of these Terms. As used in this document, the terms “you” or “your” refers to you, any entity you represent, your or its representatives, successors, assigns and affiliates, and any of your or their devices.
              %p
                This document might be updated time to time and the current version will be posted on LearnSignal.
              %p
                Key Terms related to Content
              %ul
                %li
                  "Content" refers to text, any documentation, graphics, images, software, audio, video, information or other materials.
                %li
                  "LearnSignal Content" refers to all Contents LearnSignal makes available through the Site, or Services, including any Content licensed from a third party, but excluding User Content.
                %li
                  "Site Content" refers to LearnSignal Content.
                %li
                  “Services” refers to as mentioned in Scope of Service section.
                %li
                  "Member" refers to a person who is registered with LearnSignal Account registration process.
                %li
                  "Member Content" refers to all content that a Member posts, uploads, publishes, submits or transmits to be made available through the Site, Application or Services. You grant to LearnSignal a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to LearnSignal the right to sub-license these rights, and the right to bring an action for infringement of these rights.
              %p
                Certain areas of the Site (and your access to or use of certain Services or Site Content) may have different terms and conditions posted, or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms and the terms and conditions posted for a specific area of the Site, Services or Site Content, the latter terms and conditions will take precedence with respect to your use of or access to that area of the Site, Services or Site Content.

              %h4
                Additional Warranties
              %p
                You warrant to LearnSignal that:
              %ul
                %li
                  You are of sound mind, legal age and legal competence.
                %li
                  You (if not a natural person) are duly organized and validly existing under the applicable laws of the jurisdiction of its organization.
                %li
                  LearnSignal reserves the right to prevent the user from using the Services/Any Contents of our Site/User Account Activities without any prejudice at any time at its sole discretion.

              %h4
                Prerequisite Conditions for Using our Site
              %p
                Before you use or subscribe yourself into any of our programs; You need to establish the following:
              %ul
                %li
                  You must have access to a PC, Laptop or smart device.
                %li
                  A usable Broad Band Internet Connection. You ensure that your network and systems comply with the relevant specifications provided by us from time to time; and you would be solely responsible for procuring and maintaining its network connections and telecommunications links from its systems to the our data centers, and all problems, conditions, delays, delivery failures and all other loss or damage arising from or relating to the User's network connections or telecommunications links or caused by the internet.
                %li
                  Any other devices as required by certain professional bodies.
                %li
                  You shall provide us with all necessary co-operations in relation to this agreement; and all necessary access to such information as may be required by us; in order to render the Services, including but not limited to complete texts, any documentation, information and the necessary items that are not developed by us.
                %li
                  We may transfer or assign this Agreement to someone else.
                %li
                  Courses are non-transferrable between students. Therefore, you are not allowed to share any online content nor can make your password public to any third party.
                %li
                  Unless your Employer sponsors you, it is implied that this contract would be held legal between you and us.


              %h4
                Privacy
              %p
                Please review our
                =link_to 'Privacy Policy', privacy_policy_url
                which also governs our website, to understand our practices.
              %h4
                Electronic Communications
              %p
                When you visit LearnSignal or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
              %h4
                Scope of Service and our Obligations
              %ol
                %li
                  1. The Services provided by LearnSignal includes Adaptive training sessions for certain professional Courses; according to User’s needs. We source expert tutors from our network to create industry focused courses to help professionals sharpen their skills. Various study materials are supplied as per your selected course and as per your requirements. The User agrees that all right, title, and interest in the service, including subsidiary rights and the right to maintain copyright in the name of LearnSignal, is, or shall be by assignment through these terms of use.
                %li
                  2. We undertake that the Services will be performed substantially with reasonable skill and care. However, the undertaking shall not apply to the extent of any non-conformance which is caused by use of the Services contrary our instructions, or modification or alteration of the Services by any party other than LearnSignal or LearnSignal’s duly authorized contractors or staff. If the Services do not conform to the foregoing undertaking, LearnSignal will, at its expense, use all reasonable commercial endeavors to correct any such non-conformance promptly, or provide the user with an alternative means of accomplishing the desired performance. Such correction or substitution constitutes the User's sole and exclusive remedy for any breach of the undertaking.  Notwithstanding the foregoing, LearnSignal;
                  %ul
                    %li
                      does not warrant that the your use of the Services will be uninterrupted or error-free; nor that the Services, Documentation and/or the information obtained by the user through the Services will meet the User's requirement; and
                    %li
                      is not responsible for any delays, delivery failures, or any other loss or damage resulting from the transfer of data over communications networks and facilities, including the internet, and the User acknowledges that the Services and Documentation may be subject to limitations, delays and other problems inherent in the use of such communications facilities.
                    %li
                      This agreement shall not prevent LearnSignal from entering into similar agreements with third parties, or from independently developing, using, selling or licensing documentation, and/or services which are similar to those provided under this agreement.
                    %li
                      LearnSignal warrants that it has and will maintain all necessary licenses, consents, and permissions necessary for the performance of its obligations under this agreement.

              %h4
                Registration
              %ul
                %li
                  You need to register to become a member of this Website ("Member") if you wish to access the Services via this Website. Initial membership is provide as a Free Trial (“Trial Membership”), while continued membership (“Full Membership”) beyond the Trial Membership is subject to you having a valid LearnSignal subscription as set out in our Subscription Plans. You are free to change the membership package to which you subscribe at any time, subject to these Terms and Conditions.
                %li
                  To register to become a Member you must provide LearnSignal with information about you via LearnSignal's registration forms. LearnSignal's use of this information is set out in LearnSignal's Privacy Policy which can be found at Privacy Policy Page.
                %li
                  You must provide true, accurate, current and complete information about yourself when completing the registration form. You must maintain and update this information and keep it true, accurate, current and complete. If any information provided by you is not, LearnSignal has the right to cancel your membership and refuse any and all current or future use of this Website.
                %li
                  Registration requires a valid email address (which will serve as your user name) and unique password. Please create a secure password: choose a password that uses a combination of letters, upper case and lower case, numbers, and symbols. Avoid choosing obvious words or dates such as a nickname or your birth date. Please use maximum caution to keep your user name and password confidential and log-off from the Website when your session is complete to prevent unauthorized access to your information. If your user name or password is subject to unauthorized access, you should immediately inform LearnSignal.
                %li
                  You must not tell anyone else your user name or password. Any unauthorized use of either of them must be reported to info@learnsignal.com as soon as you are aware of such use and LearnSignal will, as soon as reasonably possible, cancel your user name and/or password and issues new ones to you.
                %li
                  LearnSignal may, for security or other reasons, require you to change your user name and/ or password or other information which facilitates access to this Website or its Services.
                %li
                  LearnSignal reserves the right to cancel your user name and password without notice if LearnSignal becomes aware of any breach of these Terms and Conditions by you.
                %li
                  Once you verify your email address by clicking the link in the verification email sent by LearnSignal, you will become an active Trial Member and will be able to access the Services available via the Website. Failing to verify your email address will result in an inactive account and an inability to access the Services available through the Website.
                %li
                  = "As a Trial Member you will have access to a limited amount of content. The Free Trial has two limits, once either of these limits is reached the trial will expire. Once the trial is expired you will no longer have access to the content and the Services provided by LearnSignal. The first Free Trial limit is the 7 Day Limit, 7 days after your registration for LearnSignal the free trial will expire. The second Free Trial limit is the Content Limit, this is based on the amount of content that a user consumes (watching videos or taking quizzes), when the user has reached #{(ENV['FREE_TRIAL_LIMIT_IN_SECONDS'].to_i/60).to_s} minutes of content then the trial will expire. To maintain continued access to the content and services after their trial expires users must upgrade to a Full Membership by subscribing to one of our subscription plans."

              %h4
                Managing Your Membership Account
              %ul
                %li
                  If you upgrade your account to Full Membership, by subscribing to any of our packages, you will be charged as per our payment plans together with additional transaction based charges. Details of charges are shown within the upgrade process, as set out in the Plans. Any changes to your subscription, downgrading or upgrading to alternate plans will result in associate changes in amount charged. These changes to charges will take effect on your next scheduled charge date. Fees for all the Services that you sign up to are payable upon registration or the relevant subscription billing periods. You can pay membership fees by any Mastercard or Visa credit card, or Visa Delta. Your payment details will be encrypted to minimize the possibility of unauthorized access or disclosure. At the time of upgrading, you will be asked to provide credit/debit card details. In the event that LearnSignal is unable at any time to obtain payment of any charges using such credit card details, LearnSignal may freeze your account until it has received settlement in full.
                %li
                  If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. If you are under 18, you may use our website only with involvement of a parent or guardian. LearnSignal and its associates reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion.

              %h4
                Enrolment to any Course
              %p
                To enroll for a course you need to fill the online form. After submitting the form you are formally accepting these terms of services. From time to time we may update certain course materials. During the enrolment process we will let you know when we will provide the Course to you. However, in case of force majeure if any scheduled course been delayed then we will inform you with immediate effect. You accept hereby that we may suspend any provision of a course if you fail to make the Payment in accordance with this agreement. You acknowledge the fact that it is your sole responsibility to get registered and/or become a member of the relevant professional body for your Course as required.

              %p
                By enrolling in a LearnSignal course, you hereby give LearnSignal permission to share your ACCA student number with the ACCA for the purpose of the ACCA result service.  Additionally, by enrolling in a LearnSignal course, you hereby give permission to the ACCA to share your exam results with LearnSignal. LearnSignal will not share your result with any third party.

              %h4
                Non-subscription purchases
              %p
                Non-subscription purchases include the following:
                %ul
                  %li
                    Mock Exams can be purchased on the site for one-off fees.
                  %li
                    Diplomas are single purchase non-subscription courses which the user can purchase.

              %h4
                Schedule of charges
              %ul
                %li
                  Charges are linked to the membership package to which you subscribe, as set out in plans. You can place your order for a specific Service, by using Credit Card securely.
                %li
                  All Services provided will incur a certain Subscription charges depending on your purchase. LearnSignal will continue to take monthly payment on the date of the initial payment until such time as the member cancels their subscription. When you make your initial payment you have an opportunity to review and accept the recurring fees that you will be charged.
                %li
                  You accept our certain policies in case of failed card charges. If a card fails, we try in 3 days time; if it fails again we wait another 3 days to charge it; if this third attempt fails, then we cancel the subscription. A notification email is sent each time an attempted charge fails.
                %li
                  Shall be payable in Euros, USD and GBP [Depending on your geographical location];
                %li
                  Cancellation during the period does not generate a partial refund.
                %li
                  The User is responsible for paying all fees associated with using our service and the Site and all applicable taxes.
                %li
                  You will not be entitled to a refund for any periodic fee (Monthly, Quarterly or Yearly)already paid in respect of your purchase.
                %li
                  The User hereby agrees that the prices are subject to inflation and rises in commodity prices. The client will be notified immediately of such changes in accordance with terms of this agreement.

              %h4
                Copyrights
              %p
                All content included on this site, such as texts, graphics, logos, button icons, Any Course materials as provided to you, images, and audio clips, digital downloads, data compilations, and software, is the property of LearnSignal or its content suppliers and protected by international copyright laws.  You may print or download material from this site only if:
                %ul
                  %li
                    it is for non-commercial or personal use
                  %li
                    it is not stored on any medium other than for subsequent viewing or for personal use
                  %li
                    it is not reproduced, modified, adapted or processed
                  %li
                    No part of this site may be reproduced or stored in any other website or included in any public or private electronic retrieval system or service without LearnSignal's prior written permission.

              %h4
                Trademarks
              %p
                LearnSignal trademarks and trade dress may be used but not in a way that is not LearnSignal or in any manner that is likely to cause confusion among others or in any manner that disparages or discredits LearnSignal. All other trademarks not owned by LearnSignal or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by LearnSignal or its subsidiaries.

              %h4
                Legal Complaints
              %p
                LearnSignal respects intellectual property rights. If you believe that Content on this website infringes your copyright please follow our procedures for making a Copyright infringement claim. If you have a legal complaint other than a copyright claim, please follow our procedure for making other legal complaints or email us at info@learnsignal.com.

              %h4
                Third Party Contents
              %p
                We occasionally provide third party content or link to third party websites on the Services. We do not necessarily endorse or evaluate third party content and websites, and we do not assume responsibility for third parties’ actions or omissions. Any opinions, advice, statements, services, offers, or other information or content expressed or made available by third parties, including information LearnSignals, Users, or others, are not those of LearnSignal, but are those of the respective author(s) or distributor(s). The content does not necessarily reflect the views, policies or practices of LearnSignal, or its agencies, officials or employees. You should review third parties’ terms of use and privacy policies before you use their services.

              %h4
                Confidentiality
              %ul
                %li
                  Each party may be given access to Confidential Information from the other party in order to perform its obligations under this agreement. A party's Confidential Information shall not be deemed to include information that:
                  %ul
                    %li
                      is or becomes publicly known other than through any act or omission of the receiving party;
                    %li
                      was in the other party's lawful possession before the disclosure;
                    %li
                      is lawfully disclosed to the receiving party by a third party without restriction on disclosure;
                    %li
                      is independently developed by the receiving party, which independent development can be shown by written evidence; or
                    %li
                      is required to be disclosed by law, by any court of competent jurisdiction or by any regulatory or administrative body.


                %li
                  Each party shall hold the other's Confidential Information in confidence and, unless required by law, not make the other's Confidential Information available to any third party, or use the other's Confidential Information for any purpose other than the implementation of this agreement.
                %li
                  Each party shall take all reasonable steps to ensure that the other's Confidential Information to which it has access is not disclosed or distributed by its employees or agents in violation of the terms of this agreement.
                %li
                  Neither party shall be responsible for any loss, destruction, alteration or disclosure of Confidential Information caused by any third party.
                %li
                  The User acknowledges that details of the Services, and the results of any performance tests of the Services, constitute We's Confidential Information.

              %h4
                Fair Usage policy
              %p
                The Services provided by LearnSignal have been designed to present Content in a unique format and appearance. Unless we give you permission, you agree not to access the Services using any interface other than ours. We may deny permission to link to the Services for any reason in our sole discretion, and you must be able to edit or delete promptly links that you create, upon our request.Without limiting any other provision in these Terms, you may not use the Services to do the following or assist others to do the following:

                %ul
                  %li
                    Threaten, defame, stalk, abuse, or harass other persons or engage in illegal activities;
                  %li
                    Link to the Services from a site or transmit any material that is inappropriate, profane, vulgar, offensive, false, disparaging, defamatory, obscene, illegal, sexually explicit, racist, that promotes violence, racial hatred, or terrorism, or that we deem, in our sole discretion, to be otherwise objectionable;
                  %li
                    Frame the Services, display the Services in connection with an unauthorized logo or mark, or do anything that could falsely suggest a relationship between LearnSignal and any third party or potentially deprive us of revenue (including, without limitation, revenue from advertising, branding, or promotional activities);
                  %li
                    Violate any person's or entities legal rights (including, without limitation, intellectual property, privacy, and publicity rights), transmit material that violates or circumvents such rights, or remove or alter intellectual property or other legal notices;
                  %li
                    Transmit files that contain viruses, spyware, adware, or other harmful code;
                  %li
                    Advertise or promote goods or services without our permission (including, without limitation, by sending spam);
                  %li
                    Interfere with others using the Services or otherwise disrupt the Services;
                  %li
                    Transmit, collect, or access personally identifiable information about other users without the consent of those users and CBS Interactive;
                  %li
                    Impersonate any person or entity or otherwise misrepresent your affiliation or the origin of materials you transmit; or
                  %li
                    Defeat any access controls, access any portion of the Services that we have not authorized you to access (including password-protected areas), link to password-protected areas, attempt to access or use another user’s account or information, or allow anyone else to use your account or access credentials.
                  %li
                    Sharing wrong information about you while registering to this website.


              %h4
                Risk of Loss
              %p
                LearnSignal supplies the Courses for domestic and private use only. The user shall be solely and only responsible for any risk, general or special attributable, due to the services performed by LearnSignal. The user hereby accepts any kind of material losses or detriment due to the outcome of use of this website.

              %h4
                Indemnity
              %p
                You hereby indemnify LearnSignal and undertake to keep LearnSignal indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by LearnSignal to a third party in settlement of a claim or dispute on the advice of LearnSignal's legal advisers) incurred or suffered by LearnSignal arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.


              %h4
                Limitation of Liabilities
              %p
                LearnSignal does not warrant: (1) that any information/services or any content or services contained herein will be uninterrupted; (2) that the services or the servers hosting them are free of viruses or other harmful code; or (3) that the services or information available through the services will continue to be available.

              %h4
                Applicable Law
              %p
                These Terms and Conditions shall be made subject to the laws of Ireland which shall exclusively govern the interpretation, application and effect of all permissions, exclusions, licenses, policies, and conditions of use set out in this website. The courts of Dublin; Ireland shall have exclusive jurisdiction in respect of any actions or claims under these terms of use and you hereby consent and submit to the personal jurisdiction of such courts; provided that nothing herein shall prevent the application and enforcement of mandatory and applicable law. Both parties also consent to the admissibility of electronic evidence before the Courts of Ireland.

              %h4
                Disputes
              %p
                Any dispute relating in any way to your visit to LearnSignal or any data/information collected through LearnSignal shall be submitted to confidential arbitration in Dublin; Ireland except that, to the extent you have in any manner violated or threatened to violate LearnSignal’s intellectual property rights, LearnSignal may seek injunctive or other appropriate relief in any court within Dublin, Ireland and you consent to exclusive jurisdiction and venue in such courts.

              %h4
                Termination
              %p
                Without prejudice to any remedy that the Company may have against you, the Company may terminate or suspend with immediate effect and without notice your access to and use of this Website and your membership if it:
                %ul
                  %li
                    Does not receive payment according to the subscription billing periods;
                  %li
                    Reasonably believes that you have breached any of these Terms and Conditions;
                  %li
                    Is unable to verify the accuracy or validity of any information provided by you; or
                  %li
                    Suspects fraudulent, abusive or illegal activity by you.
              %p
                Should you object to any of these Terms and Conditions, or any subsequent changes to them, or become dissatisfied with this Website in any way, your only recourse is to immediately discontinue to access or use this Website.

              %p
                You may cancel your membership at any time. Your cancellation will not take effect until the end of your current subscribed period (which may be either a yearly, quarterly or a monthly period). Cancellation will take effect from according to the subscription billing periods date and you will not be entitled to any refund for any monthly or annual membership fee already paid.

              %p
                You may reduce the number of additional users attached to your account or to downgrade to a different package at any time. Such reduction will take effect from the next monthly or annual payment date and you will not be entitled to a refund for any monthly or annual fee already paid in respect of such users or enhanced package.

              %p
                Upon Termination We shall immediately cease performing any Services and the user shall pay LearnSignal any compensation due for Services actually rendered. Termination of this Agreement by either party shall not act as a waiver of any breach of this Agreement and shall not act as a release of either party from any liability for breach of such party’s obligations under this Agreement. Neither party shall be liable to the other for damages of any kind solely as a result of terminating this Agreement in accordance with its terms, nor shall termination of this Agreement by a party be without prejudice to any other right or remedy of such party under this Agreement or applicable law.

              %p
                These terms of use are effective shall be effective on from date you first use or order any of our services using this website site and shall continue in effect until terminated by either you or us.

              %h4
                Site Policies, Modification and Severability
              %p
                These terms and the other policies posted on this website constitute the entire agreement between LearnSignal and you. We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.



            .l-margin-top-huge
              %p.text-center
                If you have any queries you can write to us at:
            .col-sm-12.text-center
              %p
                =mail_to 'info@learnsignal.com' do
                  .strong
                    info@learnsignal.com


