=render partial: 'layouts/external_banner'
.hero-library
  .l-wrap-small
    =render partial: 'layouts/transparent_navbar'
    .l-section-footer-pages
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center
              =@white_paper.name
-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'

.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-top.l-margin-bottom
        .col-md-4.l-margin-top
          %p
            =@white_paper.description.html_safe
        .col-md-4.l-margin-top
          .box-inner
            =image_tag @white_paper.cover_image.url, class: 'img-responsive'

        .col-md-4.l-margin-top
          %h3.text-center.h-separator.h-separator-center
            Download Your Free Copy
          =render partial: 'request_form'
