.hero-why-learn
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.bold.h-white.h-separator.h-separator-center.text-center.html_safe
              Why Learn<font color="#EE5457">Signal</font>
-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'
.is-bg-asphalt
  .l-wrap
    .l-section-small
      .container-fluid
        .row
          .col-md-12.text-center
            %h2.upcase.text-center.l-margin-bottom
              =image_tag('light-bulb-icon.png', class: 'features-img')
              Adaptive Learning
            %p.p.big
              The days of in-person training have become impractical. Issues with memory retention, data overload & poor quality trainers have made in-person training ineffective.
            %p.p.big
              Adaptive training is a great resource for professionals, helping to solve problems when they happen.
            %p.p.big
              With adaptive learning professionals can access courses on any device, when they need it.
            %hr/
            %h2.upcase.l-margin-bottom
              =image_tag('phone-atom.png', class: 'features-img')
              HOW WE DO IT
            %p.p.big
              We source expert tutors from our network to create industry focused courses to help professionals sharpen their skills.
            %p.p.big
              These tutors work with our instructional designers to create videos that are engaging & insightful. Each video is followed-up with a quiz that helps check your progress through each stage of your course.
            %p.p.big
              Once the videos & quizzes have been approved by both our content team & instructional designers we upload this content to our adaptive learning platform so learners can access it anywhere & anytime that they need it.
            %p.p.big
              This process is trusted by learners all over the world!

        .row
          .col-md-6.col-md-offset-3.l-margin-top-big
            =link_to 'Browse Courses', library_url, class: 'btn btn-red btn-wide'
