.hero-acca
  =render partial: 'layouts/transparent_navbar'
  .l-section
    .l-wrap
      .container-fluid
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-white.h-separator.h-separator-center.text-center
              Why Learn Signal
.is-bg-asphalt
  .l-wrap
    .l-section
      .container-fluid
        .row
          .col-md-12
            %h2.text-center.l-margin-bottom
              Learning Methodology
            %p
              LearnSignal provides highly effective online training customised to individual requirements. Our wealth of knowledge and extensive portfolio of professional courses and qualifications are flexible, cost-effective solutions to skill development for individuals or organisations.
            %p
              Using slick technology, each course is designed to maximise engagement and knowledge absorption, utilising a combination of interactive content, quizzes and high quality online tutorials and videos.
            %p
              LearnSignal pairs experienced instructors with meticulously produced, high-quality content, enabling users to learn quickly from the best in the industry.
            %hr/
            %h2.text-center.l-margin-bottom
              What We Do
            %p
              Not only do we provide a high-level range of courses and qualifications which help progress careers while saving time and money for individuals and businesses, but our sophisticated technology makes it happen quickly, easily and efficiently.
            %p
              Our modules allow for <b>continuing professional development</b> (CPD) at all levels. This means that users or businesses enrolling on courses can continue to upgrade their knowledge, skills and capabilities to remain effective and compliant.
            %p
              After completion, LearnSignal courses act as an <b>ongoing resource</b>, allowing users to revisit the information at any time, to refresh their memory on specific topics or to use course material as a point of reference.
            %p
              The LearnSignal <b>learning management system</b> (LMS) as a tool enables personalised and customised measurement of progress and evaluation of performance. Users, managers and organisations have access to realtime information on course progression and completion, providing up to the minute visibility for tracking, measuring and reporting purposes.
            %hr/
            %h2.text-center.l-margin-bottom
              Flexible and Adaptive Learning
            %p
              Anyone enrolling on a LearnSignal course can learn anywhere, anytime. There are no limitations, restrictions or deadlines, and the information and course material is always available to dip in and out of, even after the course has been completed.
            %p
              We believe that learning is an ongoing process and should be accessible for anyone, and that’s why all LearnSignal courses can be completed on any device, whether it’s a desktop, tablet or mobile.
            %p
              LearnSignal is adaptive to the ever-changing regulatory environment, and therefore all course materials always incorporate up to date regulatory and compliant material.

        .row
          .col-md-6.col-md-offset-3.l-margin-top-big
            =link_to 'Browse Courses', library_url, class: 'btn btn-red btn-wide'


=render partial: 'layouts/new_footer'