.row
  .col-sm-6.col-sm-offset-3.text-center
    .page-header
      %h1=t('views.user_password_resets.new.h1')
    %p=t('views.user_password_resets.new.paragraph_1')

=form_tag(user_password_resets_url, role: 'form') do
  .row
    .col-sm-6.col-sm-offset-3
      .well.well-sm.orange-background
        .form-group{display: 'inline-block;'}
          .col-sm-10
            =email_field_tag :email_address, nil, placeholder: t('views.users.form.email_placeholder'), class: 'form-control'
          .col-sm-2
            =submit_tag t('views.general.send'), class: 'btn btn-success'
          %br/

