.l-section-small.is-bg-asphalt
  .l-wrap
    .container
      .row
        .col-lg-10.col-lg-offset-1
          %h1.title1
            =t('views.user_password_resets.set_password.h1')

      .row.l-margin-top
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          .l-margin-top
            =form_tag(user_create_password_url(id: @user.password_reset_token), {method: :put, class: 'form-horizontal', role: 'form'}) do
              .col-sm-12
                %p
                  =t('views.user_password_resets.set_password.paragraph_1')
              .col-sm-12
                =label_tag :password, t('views.users.form.password'), class: 'control-label'
                %br/
                =password_field_tag :password, nil, placeholder: t('views.users.form.password_placeholder'), class: 'form-control'
              .col-sm-12
                =label_tag :password_confirmation, t('views.users.form.password_confirmation'), class: 'control-label'
                %br/
                =password_field_tag :password_confirmation, nil,  placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control'
                %br/
              .col-sm-12.l-margin-top-big
                =submit_tag t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x'
