=form_for(@subscription_plan_category, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    .row
      =render partial: '/layouts/error_messages', locals: {thing: @subscription_plan_category, message: nil}

      .col-sm-6
        .form-group
          =f.label :name, t('views.subscription_plan_categories.form.name')
          .input-group.input-group-lg
            =f.text_field :name, placeholder: t('views.subscription_plan_categories.form.name_placeholder'), class: 'form-control', autofocus: true

      .col-sm-6
        .form-group
          =f.label :sub_heading_text, t('views.subscription_plan_categories.form.sub_heading_text')
          .input-group.input-group-lg
            =f.text_field :sub_heading_text, placeholder: t('views.subscription_plan_categories.form.sub_heading_text_placeholder'), class: 'form-control', autofocus: true



      .col-sm-6
        .form-group
          =f.label :available_from, t('views.subscription_plan_categories.form.available_from')
          .input-group.input-group-lg
            =f.datetime_select :available_from, placeholder: t('views.subscription_plan_categories.form.available_from_placeholder'), class: 'form-control datetimepicker', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}


        .form-group
          =f.label :available_to, t('views.subscription_plan_categories.form.available_to')
          .input-group.input-group-lg
            =f.datetime_select :available_to, placeholder: t('views.subscription_plan_categories.form.available_to_placeholder'), class: 'form-control datetimepicker', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}

    .row.pt-4
      .col-sm-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), subscription_plan_categories_path, class: 'btn btn-secondary'
