.row
  .col-sm-12
    .page-header
      %h1=t('views.subscription_plan_categories.index.h1')
.row
  .col-sm-12
    =will_paginate @subscription_plan_categories, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th=t('views.subscription_plan_categories.form.name')
          %th=t('views.subscription_plan_categories.form.available_from')
          %th=t('views.subscription_plan_categories.form.available_to')
          %th=t('views.subscription_plan_categories.form.guid')
          %th
      %tbody
        -@subscription_plan_categories.each do |subscription_plan_category|
          %tr{id: subscription_plan_category.id}
            %td=link_to(subscription_plan_category.name, subscription_plan_category, title: t('views.general.view_tooltip'))
            %td=link_to(subscription_plan_category.available_from.to_s(:standard), subscription_plan_category, title: t('views.general.view_tooltip'))
            %td=link_to(subscription_plan_category.available_to.to_s(:standard), subscription_plan_category, title: t('views.general.view_tooltip'))
            %td=link_to(subscription_plan_category.guid, subscription_plan_category, title: t('views.general.view_tooltip'))
            %td
              =link_to t('views.general.edit'), edit_subscription_plan_category_url(subscription_plan_category), class: 'btn btn-info btn-xs'
              -if subscription_plan_category.destroyable?
                =link_to t('views.general.delete'), subscription_plan_category, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'

.row
  .col-sm-12
    =link_to t('views.general.new'), new_subscription_plan_category_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
