.l-section
  .l-wrap
    .container-fluid
      .profile-single
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-separator.h-separator-center.text-center.l-margin-bottom-big
              What You've Been Waiting For: Free Study Schedule
            %p.h5.h-white.text-center.l-margin-bottom-big
              Finally, lets get to the important part. As a member of the Learn Signal community you can download a free study schedule for your exams:

        .row
          .col-sm-12
            .col-sm-6
              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Fundamentals Knowledge Papers:
                  %li
                    F1 Accounting in Business:
                    %a{href: 'https://docs.google.com/spreadsheets/d/1moTihpUEev3EyPFhzDsyQVWMDj4NnQaeNmcnjvB5_lw/edit?usp=sharing', target: '_blank'}Download Spreadsheet
                  %li
                    F2 Management Accounting:
                    %a{href: 'https://docs.google.com/spreadsheets/d/19qr08GT-mzVihtlX09SFE9HXA4slR5-rVHZb2epy4T4/edit?usp=sharing', target: '_blank'}Download Spreadsheet
                  %li
                    F3 Financial Accounting:
                    %a{href: 'https://docs.google.com/spreadsheets/d/1Gc1MFmi0oLLMkksStDyryAwhfpxuJFnC9NocVO1cqRg/edit?usp=sharing', target: '_blank'}Download Spreadsheet
              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Fundamentals Skills Papers:
                  %li
                    F4 Corporate and Business Law:
                    %a{href: 'https://docs.google.com/spreadsheets/d/12su1_BxaEfyAEmiCZGrI35XwMfMctf7AsrsqxzwPa68/edit?usp=sharing', target: '_blank'}Download Spreadsheet
                  %li
                    F5 Performance Management:
                    %a{href: 'https://docs.google.com/spreadsheets/d/1UO5msCgxKHtFUd4vt8pvDV6VNxUOg5b-pncGa2HVJe8/edit?usp=sharing', target: '_blank'}Download Spreadsheet
                  %li
                    F6 Taxation:
                    %a{href: 'https://docs.google.com/spreadsheets/d/1P9qTat-DN0sG0P_beuq5xHhMF49Yp2-JO24gsW5Ytp4/edit?usp=sharing', target: '_blank'}Download Spreadsheet
                  %li
                    F7 Financial Reporting:
                    %a{href: 'https://docs.google.com/spreadsheets/d/1H9Us939v3apTPa_VACKJ-mv61aWj8RskfGySn1H3Q3E/edit?usp=sharing', target: '_blank'}Download Spreadsheet
                  %li
                    F8 Audit and Assurance:
                    %a{href: 'https://drive.google.com/open?id=1ArgOAxFYgawqkqk2iT6ibjrkWfW4nsyCgj-Ja1FYW9k', target: '_blank'}Download Spreadsheet
                  %li
                    F9 Financial Management:
                    %a{href: 'https://drive.google.com/open?id=18sCjnUQ-eUI5r22uex2YTqmX32WJ67MofYH6mWeoYzI', target: '_blank'}Download Spreadsheet
            .col-sm-6
              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Professional Essentials Papers:
                  %li
                    P1 Governance, Risk and Ethics:
                    %a{href: 'https://drive.google.com/open?id=1CGMSy7415p_D_AnyvkcvEG-joBgQmkEVLjS1Lq9CJ1Q', target: '_blank'}Download Spreadsheet
                  %li
                    P2 Corporate Reporting:
                    %a{href: 'https://drive.google.com/open?id=1r4NdAEzgZkdGQ4lTUiDdIeYrMcZwY0j3V4XdcdjWF2A', target: '_blank'}Download Spreadsheet
                  %li
                    P3 Business Analysis:
                    %a{href: 'https://drive.google.com/open?id=1euZ78Z1M--e_rdd5Gd1NO2kR7H0NPiz9UFlteCewevA', target: '_blank'}Download Spreadsheet

              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Professional Options Papers:
                  %li
                    P4 Advanced Financial Management:
                    %a{href: 'https://drive.google.com/open?id=1TjaOsycnll1qj4sDFjWr1__UeV4jE1IPW9XfCrApyWA', target: '_blank'}Download Spreadsheet
                  %li
                    P5 Advanced Performance Management:
                    %a{href: 'https://drive.google.com/open?id=1FKU2lbmxtXc32otrIuAAnHrCvcIa9cNjv4_sz4f039A', target: '_blank'}Download Spreadsheet
                  %li
                    P6 Advanced Taxation:
                    %a{href: 'https://drive.google.com/open?id=1nH-OnItODCzEWwCoNz0Nm4HSD3dwopYmXqXyGPSi7ZU', target: '_blank'}Download Spreadsheet
                  %li
                    P7 Advanced Audit and Assurance:
                    %a{href: 'https://drive.google.com/open?id=171BH0tS8qEf7BxHg8c8Ffk-QcouKo1sWio1gOdJB3Uk', target: '_blank'}Download Spreadsheet