.l-section
  .l-wrap
    .container-fluid
      .profile-single
        .row
          .col-md-6.col-md-offset-3
            %h1.h1.h-separator.h-separator-center.text-center.l-margin-bottom-big
              What You've Been Waiting For: Free Study Schedule
            %p.h5.h-white.text-center.l-margin-bottom-big
              Finally, lets get to the important part. As a member of the Learn Signal community you can download a free study schedule for your exams:

        .row
          .col-sm-12
            .col-sm-6
              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Fundamentals Knowledge Papers:
                  %li
                    F1 Accounting in Business:
                    %a{href: 'https://www.dropbox.com/s/f7whr51j33uknjw/F1.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    F2 Management Accounting:
                    %a{href: 'https://www.dropbox.com/s/p0xe14tu6aqfrdq/F2.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    F3 Financial Accounting:
                    %a{href: 'https://www.dropbox.com/s/ep8ucbfew9ce5ww/F3.xls?dl=0', target: '_blank'}Download Spreadsheet
              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Fundamentals Skills Papers:
                  %li
                    F4 Corporate and Business Law:
                    %a{href: 'https://www.dropbox.com/s/7ojshmk6ft03i7w/F4.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    F5 Performance Management:
                    %a{href: 'https://www.dropbox.com/s/duwo4ww4jb8oxxx/F5.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    F6 Taxation:
                    %a{href: 'https://www.dropbox.com/s/3403zj5zdc8elp6/F6.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    F7 Financial Reporting:
                    %a{href: 'https://www.dropbox.com/s/na344gway73acdg/F7.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    F8 Audit and Assurance:
                    %a{href: 'https://www.dropbox.com/s/h63wvg7fshk2y3o/F8.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    F9 Financial Management:
                    %a{href: 'https://www.dropbox.com/s/aly2lv9ypq37avq/F9.xls?dl=0', target: '_blank'}Download Spreadsheet
            .col-sm-6
              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Professional Essentials Papers:
                  %li
                    P1 Governance, Risk and Ethics:
                    %a{href: 'https://www.dropbox.com/s/y4e342n87w7q85i/P1.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    P2 Corporate Reporting:
                    %a{href: 'https://www.dropbox.com/s/mx0u5eknf7u79td/P2.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    P3 Business Analysis:
                    %a{href: 'https://www.dropbox.com/s/dfixx2128y0jp2z/P3.xls?dl=0', target: '_blank'}Download Spreadsheet

              .col-sm-12
                %ul
                  %h4.text-center.l-margin-top-big.l-margin-bottom
                    ACCA Professional Options Papers:
                  %li
                    P4 Advanced Financial Management:
                    %a{href: 'https://www.dropbox.com/s/vp693pm6wbrh3cj/P4.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    P5 Advanced Performance Management:
                    %a{href: 'https://www.dropbox.com/s/3vpwgniqyl5vzl7/P5.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    P6 Advanced Taxation:
                    %a{href: 'https://www.dropbox.com/s/s8g485wk5bl1yu2/P6.xls?dl=0', target: '_blank'}Download Spreadsheet
                  %li
                    P7 Advanced Audit and Assurance:
                    %a{href: 'https://www.dropbox.com/s/y63d5rj7ukf1rum/P7.xls?dl=0', target: '_blank'}Download Spreadsheet