.remodal{"data-remodal-id" => "access-denied-modal"}

  -if current_user.trial_user?
    .row
      .col-md-12
        %button.remodal-close{"data-remodal-action" => "close"}
        .col-md-12
          %h2
            ='Sorry! That content is not available on a trial account'

      .row
        .col-sm-12
          .col-sm-12.l-margin-top-big
            %p
              Upgrade your account to get full access

      %br/
      .col-sm-12#actions_btns
        .col-sm-4.col-sm-offset-4
          =link_to new_subscription_url, class: 'btn btn-red' do
            ='Upgrade Account'



  -elsif current_user
    .row
      .col-md-12
        %button.remodal-close{"data-remodal-action" => "close"}
        .col-md-12
          %h2
            ='Sorry! There is an issue with your account'

      .row
        .col-sm-12
          .col-sm-12.l-margin-top-big
            %p
              Please review your account status by following the link below.
            %p
              If you are unable to resolve the issue please contact us!


      %br/
      .col-sm-12#actions_btns
        .col-sm-6
          =link_to 'Contact Us', contact_url, class: 'btn btn-red'
        .col-sm-6
          =link_to t('views.users.show.h1'), account_url, class: 'btn btn-red'

