.calc-main#calc-main
  .calc-display
    %span 0
    .calc-rad Rad
    .calc-hold
    .calc-buttons
      .calc-info ?
      .calc-smaller >
      .calc-ln .
  .calc-left
    %div
      %div 2nd
    %div
      %div (
    %div
      %div )
    %div
      %div %
    %div
      %div 1/x
    %div
      %div
        x
        %sup 2
    %div
      %div
        x
        %sup 3
    %div
      %div
        y
        %sup x
    %div
      %div x!
    %div
      %div √
    %div
      .calc-radxy
        %sup x
        %em √
        %span y
    %div
      %div log
    %div
      %div sin
    %div
      %div cos
    %div
      %div tan
    %div
      %div ln
    %div
      %div sinh
    %div
      %div cosh
    %div
      %div tanh
    %div
      %div
        e
        %sup x
    %div
      %div Deg
    %div
      %div π
    %div
      %div EE
    %div
      %div Rand
  .calc-right
    %div
      %div mc
    %div
      %div m+
    %div
      %div m-
    %div
      %div mr
    .calc-brown
      %div AC
    .calc-brown
      %div +/–
    .calc-brown.calc-f19
      %div ÷
    .calc-brown.calc-f21
      %div ×
    .calc-black
      %div 7
    .calc-black
      %div 8
    .calc-black
      %div 9
    .calc-brown.calc-f18
      %div –
    .calc-black
      %div 4
    .calc-black
      %div 5
    .calc-black
      %div 6
    .calc-brown.calc-f18
      %div +
    .calc-black
      %div 1
    .calc-black
      %div 2
    .calc-black
      %div 3
    .calc-blank
      %textarea
    .calc-orange.calc-eq.calc-f17
      %div
        .calc-down =
    .calc-black.calc-zero
      %div
        %span 0
    .calc-black.calc-f21
      %div .



=render partial: 'courses/calculator_js'
