.col-xs-4.text-left
  =link_to course_special_link(cme.previous_element), class: 'btn btn-red text-bold' do
    .glyphicon.glyphicon-arrow-left
    =t('views.course_module_elements.show.previous_step')
.col-xs-4.text-center
  -if current_user.try(:admin?)
    =link_to t('views.general.edit'), course_module_special_link(cme), target: '_blank', class: 'btn btn-red text-bold'
.col-xs-4.text-right
  =link_to course_special_link(cme.next_element), class: 'btn btn-red text-bold' do
    =t('views.course_module_elements.show.next_step')
    .glyphicon.glyphicon-arrow-right
