.d-flex.flex-wrap.flex-sm-nowrap.justify-content-center
  .mw-0
    =link_to course_special_link(cme, @course_log), class: 'btn btn-secondary btn-sm btn-sm-arrow-left mb-3 mb-sm-0' do
      =t('views.course_steps.show.retake_quiz')
