.d-flex.flex-wrap.flex-sm-nowrap.justify-content-between
  .mw-0
    =link_to course_special_link(cme, @subject_course_user_log), class: 'btn btn-secondary btn-sm mb-3 mb-sm-0' do
      =t('views.course_module_elements.show.retake_quiz')

  .mw-0
    =link_to course_url(@course.name_url, @course_module.course_section.name_url, @course_module.name_url, cme.next_element.name_url) do
      .btn.btn-primary.btn-sm.btn-sm-arrow-right
        =t('views.course_module_elements.show.next_step')
