.box-item.question-box.border-same-backcolor.width-bigger.no-content-well#quiz-contents{style: 'min-height: 645px;'}
  %h2=@course_module_element.try(:name) || @course_module_jumbo_quiz.try(:name) || 'Custom Quiz'

  -if @course
    .l-section.is-bg-purple
      .l-wrap
        .container-fluid
          .row
            .col-md-6.col-md-offset-3
              %h2.h1.h-separator.h-separator-center.text-center.l-margin-bottom-big
                =link_to t('views.courses.content_denied.subscription'), subscription_special_link(current_user.id)

              %p.text-center{style: 'color: #fff;'}
                =t('views.courses.content_denied.subscription_required')
