#primary-mobile-nav
    %div#overlay-active-shadow
    %section.side-nav-overlay
        .side-nav-content
            .exit-btn-box
                %i#exitBtn.material-icons.exit-btn-close{"aria-label" => "failed", :role => "img", :style => "margin-left:1px"} close
            -if current_user
                -if !current_user&.preferred_exam_body_id && !current_user&.valid_subscription?
                    .nav-item-box.upgrade-btn
                        =link_to 'Upgrade Now', pricing_url
                .nav-item-box
                    =link_to 'Dashboard', student_dashboard_url
                .nav-item-box
                    =link_to 'Library', library_url

                -if current_user.non_student_user?
                    .nav-item-box
                        =link_to 'Console', management_consoles_url


                .nav-item-box
                    =link_to t('views.users.show.h1'), account_url
                .nav-item-box.logout
                    =link_to t('views.general.log_out'), sign_out_url, onclick: 'localStorage.removeItem("user-ls");'

    %header.main-header.d-flex.align-items-center
        =link_to navigation_special_link(@course_step), class: 'main-header-backBtn' do
            .i.material-icons{:style => "font-size: 20px;margin-right: 12px;margin-top: 6px;"} arrow_back
        .main-header-content
            -if @course_step
                %div.header-title-lesson
                    =@course_lesson.name


    :javascript
        const sideNavOverlay = document.querySelector(".side-nav-overlay");
        const exitBtn = document.querySelector("#exitBtn");
        const shadow = document.querySelector("#overlay-active-shadow");

        $(document).mouseup(function(e){
            var container = $("#primary-mobile-nav > section");

            // If the target of the click isn't the container
            if(!container.is(e.target) && container.has(e.target).length === 0){
                sideNavOverlay.classList.remove("overlay-active");
                shadow.style.opacity = "0";
                shadow.style.visibility = "hidden";
            }
        });

        exitBtn.onclick = () => {
            sideNavOverlay.classList.remove("overlay-active");
            shadow.style.opacity = "0";
            shadow.style.visibility = "hidden";
            shadow.style.transition = "opacity 1s";
        };
