=link_to '#', data: {target: "##{reason}", toggle: 'modal', related: step.related_course_step&.name} do
  .step{data: {course_step: step.name}, :class => sidepanel_border_radius(step_index,index,@course_lesson.active_children.length.to_i) }
    .step-part
      %div
        %i.material-icons.inner-icon-bg-round{"aria-label" => "failed", :role => "img", style: 'color: #6d5902;background-color: #f9e9af;border-radius: 100%;font-size: 20px;'}
          lock_outline
      .step-part-content
        =step.name
    .color-shade.step-part-font
      -unless step.estimated_time_in_seconds.nil? || step.estimated_time_in_seconds == 0
        =seconds_to_time(step.estimated_time_in_seconds)
