-if @course_step.course_lesson.free && !@valid_subscription
  =link_to course_special_link(@course_step.next_element), class: 'mw-0 sidebar-nav-btn-right' do
    Next Lesson (first)
    #arrow-collapse.practice-ques-next-step.i.material-icons{:style => "font-size:16px; margin-left:4px;"} arrow_forward
-elsif !@course_step.next_element && @course_lesson.next_module
  =link_to course_special_link(@course_lesson&.next_module&.first_active_cme), class: 'mw-0 sidebar-nav-btn-right' do
    Next Module (second)
    #arrow-collapse.practice-ques-next-step.i.material-icons{:style => "font-size:16px; margin-left:4px;"} arrow_forward
-elsif !@course_step.next_element && !@course_lesson.next_module
  =link_to navigation_special_link(@course_step), class: 'mw-0 sidebar-nav-btn-right' do
    Back to Course
    #arrow-collapse.practice-ques-next-step.i.material-icons{:style => "font-size:16px; margin-left:4px;"} arrow_forward
-else
  - permission = @course_step.next_element.available_to_user(current_user, @valid_subscription, @course_log)
  - if permission[:view]
    =link_to show_course_url(@course.name_url, @course_step.next_element.course_lesson.course_section.name_url, @course_step.next_element.course_lesson.name_url, @course_step.next_element.name_url), class: 'mw-0 sidebar-nav-btn-right' do
      Next Lesson (fourth)
      #arrow-collapse.practice-ques-next-step.i.material-icons{:style => "font-size:16px; margin-left:4px;"} arrow_forward
  - else
    #next-lesson-link.d-none{style: 'z-index: 1;'}
      - if permission[:reason] == 'invalid-subscription'
        =link_to '#', data: {target: "#invalid-subscription", toggle: 'modal', related: @course_step.next_element.related_course_step&.name}, class: 'mw-0 sidebar-nav-btn-right' do
          Next Lesson (fifth)
          #arrow-collapse.practice-ques-next-step.i.material-icons{:style => "font-size:16px; margin-left:4px;"} arrow_forward
      -else
        =link_to show_course_url(@course.name_url, @course_step.next_element.course_lesson.course_section.name_url, @course_step.next_element.course_lesson.name_url, @course_step.next_element.name_url), class: 'mw-0 sidebar-nav-btn-right' do
          Next Lesson (sixth)
          #arrow-collapse.practice-ques-next-step.i.material-icons{:style => "font-size:16px; margin-left:4px;"} arrow_forward
    #next-lesson-modal
      =link_to '#', data: {target: "##{permission[:reason]}", toggle: 'modal', related: @course_step.next_element.related_course_step&.name}, class: 'mw-0 sidebar-nav-btn-right' do
        Next Lesson (7th)
        #arrow-collapse.practice-ques-next-step.i.material-icons{:style => "font-size:16px; margin-left:4px;"} arrow_forward