-if @course_module_element.next_element.class.name == 'CourseModuleElement'
  - permission = @course_module_element.next_element.available_to_user(current_user, @valid_subscription, @subject_course_user_log)
  - if permission[:view]
    =link_to course_url(@course.name_url, @course_module_element.next_element.course_module.course_section.name_url, @course_module_element.next_element.course_module.name_url, @course_module_element.next_element.name_url) do
      .btn.btn-primary.btn-sm.btn-sm-arrow-right
        =t('views.course_module_elements.show.next_step')
  - else
    #next-lesson-link.d-none
      - if permission[:reason] == 'invalid-subscription'
        =link_to '#', data: {target: "#invalid-subscription", toggle: 'modal', related: @course_module_element.next_element.related_course_module_element&.name} do
          .btn.btn-primary.btn-sm.btn-sm-arrow-right
            =t('views.course_module_elements.show.next_step')
      -else
        =link_to course_url(@course.name_url, @course_module_element.next_element.course_module.course_section.name_url, @course_module_element.next_element.course_module.name_url, @course_module_element.next_element.name_url) do
          .btn.btn-primary.btn-sm.btn-sm-arrow-right
            =t('views.course_module_elements.show.next_step')
    #next-lesson-modal
      =link_to '#', data: {target: "##{permission[:reason]}", toggle: 'modal', related: @course_module_element.next_element.related_course_module_element&.name} do
        .btn.btn-primary.btn-sm.btn-sm-arrow-right
          =t('views.course_module_elements.show.next_step')

-else
  =link_to course_special_link(@course_module_element.next_element) do
    .btn.btn-primary.btn-sm.btn-sm-arrow-right
      =t('views.course_module_elements.show.completed_section')
