-if @course_step.previous_element
  -if @course_step.course_lesson.free && !@valid_subscription
    =link_to course_special_link(@course_step.previous_element), id: 'sidebar-btn-collapse-elem', class: 'mw-0 sidebar-nav-btn-lefty' do
      #arrow-collapse.i.material-icons{:style => "font-size:32px;"} keyboard_arrow_left
  -elsif @course_step.available_on_trial && !@valid_subscription
    =link_to show_course_url(@course.name_url, @course_step.previous_element.course_lesson.course_section.name_url, @course_step.previous_element.course_lesson.name_url, @course_step.previous_element.name_url), id: 'sidebar-btn-collapse-elem', class: 'mw-0 sidebar-nav-btn-lefty' do
      #arrow-collapse.i.material-icons{:style => "font-size:32px;"} keyboard_arrow_left
  -else
    - permission = @course_step.previous_element.available_to_user(current_user, @valid_subscription, @course_log)
    - if permission[:view]
      =link_to show_course_url(@course.name_url, @course_step.previous_element.course_lesson.course_section.name_url, @course_step.previous_element.course_lesson.name_url, @course_step.previous_element.name_url), id: 'sidebar-btn-collapse-elem', class: 'mw-0 sidebar-nav-btn-lefty' do
        #arrow-collapse.i.material-icons{:style => "font-size:32px;"} keyboard_arrow_left
    - else
      #next-lesson-link.d-none
        - if permission[:reason] == 'invalid-subscription'
          =link_to '#', data: {target: "#invalid-subscription", toggle: 'modal', related: @course_step.previous_element.related_course_step&.name}, id: 'sidebar-btn-collapse-elem', class: 'mw-0 sidebar-nav-btn-lefty' do
            #arrow-collapse.i.material-icons{:style => "font-size:32px;"} keyboard_arrow_left
        -else
          =link_to show_course_url(@course.name_url, @course_step.previous_element.course_lesson.course_section.name_url, @course_step.previous_element.course_lesson.name_url, @course_step.previous_element.name_url), id: 'sidebar-btn-collapse-elem', class: 'mw-0 sidebar-nav-btn-lefty' do
            #arrow-collapse.i.material-icons{:style => "font-size:32px;"} keyboard_arrow_left
      #next-lesson-modal
        =link_to '#', data: {target: "##{permission[:reason]}", toggle: 'modal', related: @course_step.previous_element.related_course_step&.name}, id: 'sidebar-btn-collapse-elem', class: 'mw-0 sidebar-nav-btn-lefty' do
          #arrow-collapse.i.material-icons{:style => "font-size:32px;"} keyboard_arrow_left
