.remodal{"data-remodal-id" => "resources-unavailable-modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12
        %h2
          ='Sorry! The course resources are not available to trial students.'

    .row
      .col-sm-12
        .col-sm-12.l-margin-top-big
          %p
            To upgrade your account to a paying subscription please follow the link below.


    %br/
    .col-sm-12#actions_btns
      .col-sm-4.col-sm-offset-4
        =link_to subscription_checkout_special_link(@group.exam_body_id), class: 'btn btn-red' do
          ='Upgrade Account'
