.row
  .col-sm-12
    .l-margin-bottom
      .tab-content
        -if @course_module_element.try(:video_resource)
          .tab-pane.fade.in.active#description{role: 'tabpanel'}
            .col-md-12
              .content-box.content-box-outer.l-margin-bottom-huge
                .content-box-inner
                  %p.big
                    -if @course_module_element.try(:description)
                      =@course_module_element.description.html_safe

          .tab-pane.fade#question{role: 'tabpanel'}
            .col-md-12
              .content-box.content-box-outer.l-margin-bottom-huge
                .content-box-inner
                  %p.big
                    =@course_module_element.video_resource.try(:question).try(:html_safe)


          .tab-pane.fade#answer{role: 'tabpanel'}
            .col-md-12
              .content-box.content-box-outer.l-margin-bottom-huge
                .content-box-inner
                  %p.big
                    =@course_module_element.video_resource.try(:answer).try(:html_safe)

          .tab-pane.fade#transcript{role: 'tabpanel'}
            .col-md-12
              .content-box.content-box-outer.l-margin-bottom-huge
                .content-box-inner
                  %p.big
                    =@course_module_element.video_resource.try(:transcript).try(:html_safe)

          .tab-pane.fade#notes{role: 'tabpanel'}
            .col-md-12
              .content-box.content-box-outer.l-margin-bottom-huge
                .content-box-inner
                  %p.big
                    =@course_module_element.video_resource.try(:notes).try(:html_safe)


          -if @course_module.discourse_topic_id
            .tab-pane.fade#community{role: 'tabpanel'}
              .col-md-12
                .content-box.content-box-outer.l-margin-bottom-huge
                  .content-box-inner
                    %div{id: 'discourse-comments'}

        -else
          -if @course_module_element.description
            .tab-pane.fade.in.active#description{role: 'tabpanel'}
              .col-md-12
                .content-box.content-box-outer.l-margin-bottom-huge
                  .content-box-inner
                    %p.big
                      -if @course_module_element.try(:description)
                        =@course_module_element.description.html_safe

          -if @course_module.discourse_topic_id
            .tab-pane.fade#community{role: 'tabpanel'}
              .col-md-12
                .content-box.content-box-outer.l-margin-bottom-huge
                  .content-box-inner
                    %div{id: 'discourse-comments'}
