.col-md-12

  %h2
    =@course_module_element.try(:name).try(:html_safe)

  -@constructed_response.scenarios.each do |scenario|
    .box-item.question-box.scenario-box
      #splitter
        .pane-content
          %p
            =scenario.text_content.try(:html_safe)

        .pane-content{style: 'padding: 6px;'}
          -scenario.scenario_questions.each do |scenario_question|
            %p
              =scenario_question.text_content.try(:html_safe)

            -scenario_question.scenario_answer_templates.each do |scenario_answer_template|
              -if scenario_answer_template.spreadsheet_editor?
                =render partial: 'courses/spread_sheet_template', locals: {spreadsheet_json: scenario_answer_template.text_content}
              -elsif scenario_answer_template.text_editor?
                =render partial: 'courses/text_editor_template', locals: {spreadsheet_json: scenario_answer_template.text_content}




:javascript


  $(document).ready(function() {

    $("#splitter").kendoSplitter({
      orientation: "horizontal",
      panes: [
        { collapsible: true, scrollable: true },
        { collapsible: true, scrollable: true }
        ]
    });


  });