.row.row-lg#show-video-window
  .col-xl-12
    #course-right-show-elem-vid.course-right-show-content
      .course-right-show-frame
        #video-player-window.video-player-window{:class => alt_video_player(current_user.video_player), data: {step_id: @course_step&.id, step_name: @course_step&.name,
         module_id: @course_lesson&.id, module_name: @course_lesson&.name, course_id: @course&.id, course_name: @course&.name, section_id: @course_lesson&.course_section_id,
          section_name: @course_lesson&.course_section&.name, exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name,
           preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: @banner.present?.to_s, auto_play: @course_lesson.free.to_s,
            onboarding: current_user&.analytics_onboarding_valid?.to_s, free_lesson: @course_lesson&.free&.to_s, step_order: @index_order, previous_completion_count: @previous_completion_count,
             video_length_in_seconds: @course_step&.estimated_time_in_seconds, video_length_in_minutes_seconds: seconds_to_time(@course_step&.estimated_time_in_seconds) }}
          =render partial: 'courses/video_player', locals: { cme: @course_step, responsive: false, autoPlay: false }

    .pt-5.pb-5

    -@course_step.course_resources.all_active.all_in_order.each do |resource|
      -if resource.external_url && resource.external_url.present?
        =link_to resource.external_url, class: 'card card-horizontal card-horizontal-sm flex-row resource-card', data: {resource_name: resource.name, course_name: @course.name, resource_type: resource.type}, target: '_blank' do
          .card-header.bg-white.d-flex.align-items-center.justify-content-center
            %i.budicon-internal-link{"aria-label" => "", :role => "img"}
          .card-body.d-flex.align-items-center.pl-1
            %h5.m-0.text-truncate.text-gray2
              =resource.name
      -else
        =link_to resource.file_upload.url, class: 'card card-horizontal card-horizontal-sm flex-row resource-card', data: {resource_name: resource.name, course_name: @course.name, resource_type: resource.type}, target: '_blank' do
          .card-header.bg-white.d-flex.align-items-center.justify-content-center
            %i.budicon-files-download{"aria-label" => "", :role => "img"}
          .card-body.d-flex.align-items-center.pl-1
            %h5.m-0.text-truncate.text-gray2
              =resource.name