.row.row-lg#practice-question-window{data: {step_id: @course_step.id, step_name: @course_step.name, module_id: @course_lesson.id, module_name: @course_lesson.name, course_id: @course.id,
             course_name: @course.name, section_id: @course_lesson&.course_section_id, section_name: @course_lesson&.course_section&.name, exam_body_id: @group.exam_body.id,
              exam_body_name: @group.exam_body.name, preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name,
               banner: @banner.present?.to_s, onboarding: current_user&.analytics_onboarding_valid?.to_s, free_lesson: @course_lesson.free.to_s, step_order: @index_order,
                previous_completion_count: @previous_completion_count, practice_question_question_count: @course_step&.course_practice_question&.questions&.count }}
  .col-xl-12
    %h1.h4
      #fade-overlay.load-overlay-blank
      #small-screen-overlay.load-overlay
        .small-screen-overlay-text
          Please use a larger screen device or landscape mode if on a tablet
          =link_to navigation_special_link(@course_step), class: 'btn btn-secondary btn-sm btn-sm-arrow-left mb-3 mb-sm-0' do
            =@course_step.course_lesson.course_section.course.name

    =# VueJS include
    =stylesheet_link_tag 'splitpanes'
    =javascript_pack_tag 'practice_question'
    #practice-question-viewer{ 'data-practice-question-id': practice_question.id, 'data-step-log-id': step_log_id, 'data-step-logs': @course_step_logs.to_json, 'data-has-valid-subscription': current_user&.valid_subscription?.to_s, 'data-is-email-verified': current_user&.email_verified.to_s, 'data-preferred-exam-body-id': current_user&.preferred_exam_body_id, 'data-course-name': @course&.name, 'data-program-name': @group&.name, 'data-module-name': @course_step&.name }

  :javascript
    collapseFunc();
    setTimeout(
      function(){
        var x = document.getElementById("fade-overlay");
        x.style.display = "none";
    }, 500);
