.row.row-lg
  .col-xl-8
    =# VueJS include
    =javascript_pack_tag 'pdf_viewer'
    #course-notes-reader{ 'data-course-id': notes.id,
                          'data-step-log-id': log.id,
                          'data-file-name': notes.name,
                          'data-file-url': notes.upload.url }

    #notes_next_lesson_navigation.hidden
      .cme-nav.box-item.question-box
        .cme-nav
          .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between
            .mw-0
            .mw-0
              =render partial: 'next_lesson_navigation'
