.row.row-lg#show-video-window
  .col-xl-12.p-0
    #course-right-show-elem-vid.course-right-show-content
      .course-right-show-frame
        .video-preloader
          .vp-spin
            %svg.vp-spin-trace{:focusable => "false", :viewbox => "0 0 50 50"}
              %circle{:cx => "50%", :cy => "50%", :r => "20"}
            %svg.vp-spin-circle{:focusable => "false", :viewbox => "0 0 50 50"}
              %circle{:cx => "50%", :cy => "50%", :r => "20"}
        #video-player-window.video-player-window{:class => alt_video_player(current_user.video_player), data: {step_id: @course_step&.id, step_name: @course_step&.name,
         module_id: @course_lesson&.id, module_name: @course_lesson&.name, course_id: @course&.id, course_name: @course&.name, section_id: @course_lesson&.course_section_id,
          section_name: @course_lesson&.course_section&.name, exam_body_id: @group&.exam_body&.id, exam_body_name: @group&.exam_body&.name,
           preferred_exam_body_id: current_user&.preferred_exam_body_id, preferred_exam_body: current_user&.preferred_exam_body&.name, banner: @banner.present?.to_s, auto_play: @course_lesson.free.to_s,
            onboarding: current_user&.analytics_onboarding_valid?.to_s, free_lesson: @course_lesson&.free&.to_s, step_order: @index_order, previous_completion_count: @previous_completion_count,
             video_length_in_seconds: @course_step&.estimated_time_in_seconds, video_length_in_minutes_seconds: seconds_to_time(@course_step&.estimated_time_in_seconds) }}
          =render partial: 'courses/video_player', locals: { cme: @course_step, responsive: false, autoPlay: false }
        .hidden.end-of-video-modal#js-end-of-video-modal
          .video-modal-actions
            -if @course_lesson.next_module
              =link_to show_course_url(@course.name_url, @course_step&.next_element&.course_lesson&.course_section&.name_url, @course_step&.next_element&.course_lesson&.name_url, @course_step&.next_element&.name_url), class: 'videoModal-next-btn btn btn-primary btn-sm btn-sm-arrow-right mb-3 mb-sm-0 w-auto font-weight-bold', data: {destination_url: show_course_url(@course.name_url, @course_step&.next_element&.course_lesson&.course_section&.name_url, @course_step&.next_element&.course_lesson&.name_url, @course_step&.next_element&.name_url), type: 'Next Module'} do
                Go to Next Lesson

    %header.course-header-mobile
      -if @course_step
        .course-title
          %div{style:"height:20px;margin-right: 8px;"}
            %i{class:"material-icons icon-bg-round side-nav-material-icons", style: "color: #888; "} smart_display
          =@course_step.name
          .color-shade.step-part-font
            -unless @course_step.estimated_time_in_seconds.nil? || @course_step.estimated_time_in_seconds == 0
              =seconds_to_time(@course_step.estimated_time_in_seconds) 
              m

    -@course_step.course_resources.all_active.all_in_order.each do |resource|
      -if resource.external_url && resource.external_url.present?
        =link_to resource.external_url, class: 'productCard', data: {resource_name: resource.name, course_name: @course.name, resource_type: resource.type}, target: '_blank' do
          .productCard-header.d-flex.align-items-center.justify-content-center
            %i.budicon-internal-link{"aria-label" => "", :role => "img"}
          .productCard-body.d-flex.align-items-center
            %div
              =resource.name
          .productCard-footer.d-flex.align-items-center.justify-content-between
            .d-flex.flex-column.align-items-start.justify-content-start
              %span{style: 'font-size: 12px;color: #9CA3AF;font-weight: 500;'} Price
              External
            .btn.btn-primary.productCard--buyBtn
              View
      -else
        =link_to resource.file_upload.url, class: 'productCard', data: {resource_name: resource.name, course_name: @course.name, resource_type: resource.type}, target: '_blank' do
          .productCard-header.d-flex.align-items-center.justify-content-center
            %i.budicon-files-download{"aria-label" => "", :role => "img"}
          .productCard-body.d-flex.align-items-center
            %div
              =resource.name
          .productCard-footer.d-flex.align-items-center.justify-content-between
            .d-flex.flex-column.align-items-start.justify-content-start
              Resource
            .btn.btn-primary.productCard--buyBtn
              View