.col-md-12
  %h2
    =@course_module_element.try(:name).try(:html_safe)

  .box-item.scenario-box
    #splitter
      .pane-content
        =@constructed_response.scenario.text_content.try(:html_safe)

      .pane-content
        -@constructed_response.scenario.scenario_questions.each do |scenario_question|
          .cr-question{id: "cr_question_#{scenario_question.id}"}

            .col-sm-12
              =scenario_question.text_content.try(:html_safe)

            -scenario_question.scenario_answer_templates.each do |scenario_answer_template|
              -if scenario_answer_template.spreadsheet_editor?
                =render partial: 'courses/spread_sheet_template', locals: {spreadsheet_json: scenario_answer_template.text_content}
              -elsif scenario_answer_template.text_editor?
                =render partial: 'courses/text_editor_template', locals: {scenario_answer_template: scenario_answer_template}


    .scenario-box-nav-footer
      ='Navigation Bar'






:javascript


  $(document).ready(function() {

    function onResize(e) {
        console.log("Resized :: Splitter <b>#" + this.element[0].id + "</b>");
        $('.cr-question').parent().width(function(i, w) { return w - 20; });
    }

    $("#splitter").kendoSplitter({
      panes: [
        { scrollable: true },
        { scrollable: true, size: "60%" }
        ],
        resize: onResize
    });
  });


    var questionsList = #{@all_question_ids},
        questionCount = $('.cr-question-heading');

    //Triggered by next navigation button
    function revealQuestion(questionNumber) {
      $('.cr-question').hide();
      $('#cr_question_' + questionsList[questionNumber - 1]).fadeIn();
    }

    $(document).on('ready page:load', function() {
      revealQuestion(1); // 1 is the first question
    });
