.box-item.question-box.border-same-backcolor.width-bigger#quiz-contents
  %h2
    =t('views.courses.show_results.h1')
    =@course_module_element_user_log.course_module_jumbo_quiz.try(:name) || @course_module_element_user_log.course_module_element.try(:name) || 'Custom Quiz'

  .btn.answer-correct.l-margin-top-big.l-margin-bottom-big{style: 'margin-bottom: 0; margin-top: 20px; '}
    Results Summary
  #results
    %h3.l-margin-top-big.l-margin-bottom-big
      Summary

    -@course_module_element_user_log.quiz_attempts.each_with_index do |attempt, counter|
      .answer.l-margin-top-small{class: attempt.correct ? 'answer-correct' : 'answer-failed', id: "#{counter}", onclick: 'showSolution.call(this); return false;'}
        %p.text-inline.text-bold Question #{counter + 1}
        %p.text-inline
          = ' - ' + t("controllers.application.difficulty_levels.name.#{attempt.try(:quiz_question).try(:difficulty_level)}")
        -#%i.glyphicon.glyphicon-ok-circle.text-inline{'style'=>'font-size: 25px; color:green; float: right'}
        %i.text-inline{style: 'font-size: 25px; float: right'}=tick_or_cross attempt.try(:correct)
        %p.l-margin-top.l-margin-bottom-small
          =truncate(attempt.try(:quiz_question).try(:quiz_contents).try(:first).try(:text_content).to_s, length: 120)


  -@course_module_element_user_log.quiz_attempts.each_with_index do |attempt, counter|
    -if attempt
      =render partial: 'courses/show_solution', locals: {attempt: attempt, counter: counter}

.box-item.question-box.border-same-backcolor.width-bigger.text-right{style: 'padding-right: 40px;'}
  -if @course_module_element_user_log.is_jumbo_quiz
    .col-xs-4.text-left
      =link_to course_special_link(@course_module), class: 'btn btn-red text-bold' do
        .glyphicon.glyphicon-arrow-left
        Restart Module
    .col-xs-4.text-center
      =link_to t('views.dashboard.index.h1'), dashboard_url, class: 'btn btn-red text-bold'
    .col-xs-4.text-right
      =link_to course_special_link(@course_module.next_module), class: 'btn btn-red text-bold' do
        Next Module
        .glyphicon.glyphicon-arrow-right

  -if @course_module_element_user_log.is_question_bank
    %hr/
    .row
      .col-sm-4.text-right
        =link_to 'Restart Quiz', course_special_link(@question_bank), class: 'btn btn-ls-default'
      .col-sm-4.text-right
        =link_to 'Return to Library', library_special_link(@question_bank.exam_level), class: 'btn btn-ls-default'


  -if @course_module_element
    .cme-nav
      =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}
:javascript

  var allSolutions = $('.all_solutions'),
      summaryButton = $('.btn.answer-correct');

  $( document ).ready(function() {
    allSolutions.hide();
    summaryButton.hide();
  });

  function showSolution() {
    var id = this.id;
    $('#results').hide();
    $("#solutions_" + id).show();
    summaryButton.show();
  }

  summaryButton.click(function() {
    allSolutions.hide();
    summaryButton.hide();
    $('#results').show();
  });

