%h3.l-margin-top-big.l-margin-bottom
  =t('views.courses.show_results.attempts_table.question')
  =counter + 1
  ='Solution'

%h4.text-bold.l-margin-bottom-big
  -if attempt.try(:quiz_question).try(:quiz_contents)
    =render partial: 'quiz_contents/index', locals: {contents: attempt.quiz_question.quiz_contents}

.panel.panel-default.border-same-backcolor
  %ul.list-group
    -correct_answer = 0; your_answer = 0
    -if attempt.try(:quiz_question).try(:quiz_answers)
      -attempt.answers.each_with_index do |qa, counter2|
        %li.list-group-item.quiz-answer-clickable
          .container-fluid
            .row
              .col-md-1
                %h2=('A'..'Z').to_a[counter2]
                -correct_answer = counter2 if qa.correct
                -your_answer = counter2 if qa.id == attempt.quiz_answer_id
              .col-md-11
                =render partial: 'quiz_contents/index', locals: {contents: qa.quiz_contents}

.answer.answer-correct.text-center.l-margin-top-big
  %p.text-inline
    Correct Answer:
    &#160;
  %p.text-inline.text-bold=(('A'..'Z').to_a[correct_answer].to_s)
  %p.text-inline
    &#160;
    &bull;
    &#160;
    =' Your Answer:'
    &#160;
  %p.text-inline.text-bold=(('A'..'Z').to_a[your_answer].to_s)

-if attempt.try(:quiz_question).try(:quiz_solutions).try(:count).to_i > 0
  %h3.l-margin-top-big.l-margin-bottom Explanation
  -if attempt.try(:quiz_question).try(:quiz_solutions)
    %p
      =render partial: 'quiz_contents/index', locals: {contents: attempt.quiz_question.quiz_solutions}