.row.row-lg
  .col-xl-8
    #video-player-window.video-player-window{data: {lesson_name: @course_step.name, course_name: @course.name}}
      =render partial: 'courses/video_player', locals: { cme: @course_step }

    .pt-5.pb-5
