.row.row-lg#notes-window{data: {lesson_name: @course_step.name, course_name: @course.name}}
  .col-xl-12
    #course-right-show-elem-notes.course-right-show-content
      .course-right-show-frame
        =# VueJS include
        =javascript_pack_tag 'pdf_viewer'
        #course-notes-reader{ 'data-course-id': notes.id,
                              'data-step-log-id': log.id,
                              'data-file-name': notes.name,
                              'data-file-download': notes.download_available.to_s,
                              'data-file-url': notes.upload.url }