.box-item.question-box.border-same-backcolor.width-bigger#quiz-contents{style: 'min-height: 645px;'}
  %h2
    =cme.name
  %div{id: 'wistia_nigctecldp',class: 'wistia_embed', style: 'height:360px;width:640px'}
    &nbsp;
  .l-margin-bottom.l-margin-top
    .pull-left
      -if !cme.description.blank?
        %h3=t('views.course_module_elements.form.description')
        .pull-left
          =sanitizer(cme.description)
      -if @course_module.try(:parent).try(:forum_url)
        %br/
        %h6
          .pull-left
            =link_to "Discuss #{cme.name} in the Forum", @course_module.parent.try(:forum_url), target: '_blank'

.box-item.question-box.border-same-backcolor.width-bigger
  .cme-nav
    =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}

-if cme.course_module_element_resources.all_in_order.count > 0
  .row
    .col-sm-12
      %h2=t('views.course_module_element_resources.index.h1')
      %ul
        -cme.course_module_element_resources.all_in_order.each do |r|
          -if r.web_url.length > 0
            %li
              =link_to r.name, r.web_url, target: '_blank'
          -else
            %li
              =link_to r.name, r.upload.url, target: '_blank'


:javascript

  wistiaEmbed = Wistia.embed("nigctecldp", {
    videoFoam: true
  });

