.panel-group#accordion{role: 'tablist', aria: {multiselectable: true }}
  -@course_module.parent.course_modules.each_with_index do |course_module, counter|
    .panel.panel-default
      .panel-heading#headingOne{role: 'tab' }
        %h4.panel-title
          %a{data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}", aria: {expanded: true, controls: "collapse_#{counter}"}}
            =course_module.name

      .panel-collapse.collapse{id: "collapse_#{counter}", class: (course_module.id == @course_module.id ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'}}
        .panel-body
          -course_module.course_module_elements.all_in_order.each do |course_module_element|
            -if course_module_element.id == @course_module_element.try(:id)
              %p
                -if course_module_element.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
                  %span.label.label-success=t('views.courses.show.done')
                %span.text-success=course_module_element.name
            -else
              %p
                -if course_module_element.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
                  %span.label.label-success=t('views.courses.show.done')
                =link_to course_module_element.name, course_special_link(course_module_element), title: t('views.courses.show.h1')
          -if course_module.course_module_jumbo_quiz
            -if course_module.course_module_jumbo_quiz.name_url == params[:course_module_element_name_url]
              -if course_module.course_module_jumbo_quiz.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
                %span.label.label-success=t('views.courses.show.done')
              =link_to course_module.course_module_jumbo_quiz.name, course_special_link(course_module.course_module_jumbo_quiz), class: 'text-success'
            -else
              %p
                -if course_module.course_module_jumbo_quiz.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
                  %span.label.label-success=t('views.courses.show.done')
                =link_to course_module.course_module_jumbo_quiz.name, course_special_link(course_module.course_module_jumbo_quiz)


