.btn.btn-default.btn-lg.wide-button
  .glyphicon.glyphicon-chevron-left
  =link_to t('views.library.show.h1'), library_special_link(@course_module.parent)
%hr/
.panel-group#accordion{role: 'tablist', aria: {multiselectable: true }}
  .panel.panel-default
    .panel-heading#headingOne{role: 'tab' }
      %h4.panel-title.text-center
        %a{data: {toggle: 'collapse', parent: '#accordion'}, href: '#collapseOne', aria: {expanded: false, controls: 'collapseOne'}}
          =@course_module.name
          .glyphicon.glyphicon-chevron-down
    .panel-collapse.collapse{id: 'collapseOne', class: '', role: 'tabpanel', aria: {labelledby: 'headingOne'}}
      .list-group
        -@course_module.course_module_elements.all_active.all_in_order.each do |course_module_element|
          .list-group-item.text-center
            -if course_module_element.id == @course_module_element.try(:id)
              %p
                %span.glyphicon.glyphicon-chevron-right.blue
                %span=course_module_element.name
            -else
              %p
                -if course_module_element.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
                  %span.glyphicon.glyphicon-ok-sign
                =link_to course_module_element.name, course_special_link(course_module_element), title: t('views.courses.show.h1')
        -if @course_module.course_module_jumbo_quiz
          .list-group-item.text-center
            -if @course_module.course_module_jumbo_quiz.name_url == params[:course_module_element_name_url]
              %span.glyphicon.glyphicon-chevron-right.blue
              -if @course_module.course_module_jumbo_quiz.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
                %span.glyphicon.glyphicon-ok-sign
              =link_to @course_module.course_module_jumbo_quiz.name, course_special_link(@course_module.course_module_jumbo_quiz)
            -else
              %p
                -if @course_module.course_module_jumbo_quiz.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
                  %span.glyphicon.glyphicon-ok-sign
                =link_to @course_module.course_module_jumbo_quiz.name, course_special_link(@course_module.course_module_jumbo_quiz)
