%br/
=link_to library_special_link(@course_module.parent), class: 'btn-ls-default btn-block btn-lg text-center' do
  .glyphicon.glyphicon-chevron-left
  =t('views.library.show.h1')

.panel-group#accordion.small-nav{role: 'tablist', aria: {multiselectable: true }}
  .panel.panel-default
    .panel-heading#headingOne{role: 'tab', data: {toggle: 'collapse', parent: '#accordion'}, href: '#collapseOne'}
      %h4.panel-title.text-center
        .row
          %p{aria: {expanded: false, controls: 'collapseOne'}}
            =@course_module.name
            .glyphicon.glyphicon-chevron-down
    .panel-collapse.collapse{id: 'collapseOne', class: '', role: 'tabpanel', aria: {labelledby: 'headingOne'}}
      .list-group
        -@course_module.course_module_elements.all_active.all_in_order.each do |course_module_element|
          -if course_module_element.id == @course_module_element.try(:id)
            .list-group-item.text-center
              .glyphicon.glyphicon-chevron-right.side-nav-chevron
              =course_module_element.name
          -else
            -if course_module_element.completed_by_user_or_guid(current_user.try(:id), current_session_guid)
              =link_to course_special_link(course_module_element), class: 'list-group-item text-center' do
                .glyphicon.glyphicon-ok-sign
                =course_module_element.name
            -else
              =link_to course_special_link(course_module_element), class: 'list-group-item text-center', title: t('views.courses.show.h1') do
                .glyphicon.glyphicon-record
                =course_module_element.name
