%p.hidden{id: 'sheet_json'}
  =spreadsheet_json

.col-md-12
  .box-item.question-box.border-same-backcolor
    #spreadsheet{style: 'width: 100%;'}

:javascript
  var templateJson = $('#sheet_json').text();
  var paredJson = JSON.parse(templateJson);

  $("#spreadsheet").kendoSpreadsheet({sheetsbar: false});

  var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");
  spreadsheet.fromJSON(paredJson);

