.answer_texteditor
  =text_area :scenario_answer_template, :text_content, id: "scenario_question_#{scenario_question.id}_answer_template_#{scenario_answer_template.id}_texteditor"



:javascript
  $(document).ready(function(){
    $("#scenario_question_#{scenario_question.id}_answer_template_#{scenario_answer_template.id}_texteditor").kendoEditor({
      encoded: false,
      tools: [
        "bold",
        "italic",
        "underline",
        "strikethrough",
        "justifyLeft",
        "justifyCenter",
        "justifyRight",
        "justifyFull",
        "insertUnorderedList",
        "insertOrderedList",
        "indent",
        "outdent",
        "subscript",
        "superscript",
        "tableWizard",
        "createTable",
        "addRowAbove",
        "addRowBelow",
        "addColumnLeft",
        "addColumnRight",
        "deleteRow",
        "deleteColumn",
        "formatting",
        "cleanFormatting"
      ]
    });


  });
