-if @vimeo_as_main
  -if cme.course_video.vimeo_guid && current_user.video_player && current_user.country&.iso_code != 'CN'
    =render partial: "courses/players/#{current_user.video_player}", locals: { cme: cme, responsive: responsive, autoPlay: autoPlay }
  -elsif cme.course_video.dacast_id
    =render partial: 'courses/players/dacast', locals: { cme: cme }
  -else
    %h2 Sorry Unknown Content Requested
    -error_message = "views/courses/_video_player - error to rendering video. CME: #{cme.inspect}.\n"
    -error_message << "User: #{current_user.id}: #{current_user.name}"
    -Rails.logger.error error_message
    -Airbrake::AirbrakeLogger.new(logger).error error_message
    -Appsignal.send_error(Exception.new(error_message))
-else
  =render partial: 'courses/players/dacast', locals: { cme: cme }
