-if cme.course_module_element_video.vimeo_guid && current_user.country&.iso_code != 'CN'
  =render partial: 'courses/players/vimeo', locals: { cme: cme }
-elsif cme.course_module_element_video.dacast_id
  =render partial: 'courses/players/dacast', locals: { cme: cme }
-else
  %h2 Sorry Unknown Content Requested
  -error_message = "views/courses/_video_player - error to rendering video. CME: #{cme.inspect}.\n"
  -error_message << "User: #{current_user.id}: #{current_user.name}"
  -Rails.logger.error error_message
  -Airbrake::AirbrakeLogger.new(logger).error error_message
