.row
  .col-sm-12
    .page-header
      %h1=@course_module_parent.name


.row
  .panel-group#accordion{role: 'tablist', aria: {multiselectable: true }}
    -@course_module.each_with_index do |course_module, counter|
      .panel.panel-default
        .panel-heading#headingOne{role: 'tab', style: 'max-height: 75px;' 'min-height: 75px;'}
          %a.panel-title
            %a{data: {toggle: 'collapse', parent: '#accordion'}, href: "#collapse_#{counter}", aria: {expanded: true, controls: "collapse_#{counter}"}}
              =course_module.name
              -if course_module.children # Todo if all cme's are completed
                .pull-right
                  %span.glyphicon.glyphicon-ok-circle
              -#elsif course_module.children.course_module_element_user_log.element_completed
                .pull-right
                  %span.glyphicon.glyphicon-unchecked
              -#else
                .pull-right
                  =course_module.children.course_module_elements_user_log.element_completed.count
                  %
              %br/
        .panel-collapse.collapse{id: "collapse_#{counter}", class: (counter == 0 ? 'in' : ''), role: 'tabpanel', aria: {labelledby: 'headingOne'}}
          .panel-body
            .list-group
              -course_module.children.all_active.all_in_order.each do |cme|
                .list-group-item
                  .row
                    .col-sm-1
                      -if cme.is_video
                        %span.glyphicon.glyphicon-facetime-video
                      -else
                        %span.glyphicon.glyphicon-question-sign
                    .col-sm-11
                      =link_to cme.name, library_special_link(cme)
      %br/