.is-bg-asphalt.l-section-extra-small
  .container-fluid{style: 'margin-bottom: 60px;'}

    .row
      -if @course_module_element && @course_module_element_user_log && (@course_module_element.active || @course_module_element_user_log.preview_mode) && @course_module_element.available_to_user(current_user.account_type, @subject_course_user_log)
        -if @course_module_element.try(:is_constructed_response)
          #constructed-response-window
            :javascript
              var crDialog = $("#constructed-response-window");
              kendo.ui.progress(crDialog, true);


            =render partial: 'courses/constructed_response'
        -else
          %h2 Sorry Unknown Content Type Requested
          -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_module_element.inspect}."
      -elsif @course_module
        .well
          %h3=t('views.general.coming_soon')
          %p=t('views.courses.show.coming_soon')





:javascript

  $(window).load(function() {
    var crDialog = $("#constructed-response-window");
    setTimeout(function(){
      kendo.ui.progress(crDialog, false);
    }, 1800);
  });

