.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid{style: 'margin-bottom: 60px;'}
      -#TODO fix this hidden sections by screen-width
      .row.l-margin-bottom-big.hidden-xs.visible-sm.visible-md.visible-lg
        .col-sm-6.col-md-4
          =link_to library_special_link(@course_module.parent) do
            .btn.btn-red.btn-secondary
              &#60;
              ="Back To #{@course_module.try(:subject_course).try(:name)}"
        .col-md-4
        .col-sm-6.col-md-4
          -if @course_module_element && @course_module_element.is_video?
            =link_to course_special_link(@course_module_element.next_element), style: 'margin-left: 10px;' do
              .btn.btn-red.btn-secondary.full-width
                =t('views.course_module_elements.show.next_step')
                &#62;

      .row.l-margin-bottom-big.visible-xs.hidden-sm
        .col-xs-12
          =link_to library_special_link(@course_module.parent) do
            .btn.btn-red.btn-secondary.full-width
              &#60;
              ="Back To #{@course_module.try(:subject_course).try(:name)}"
        .col-xs-12.l-margin-top
          -if @course_module_element && @course_module_element.is_video?
            =link_to course_special_link(@course_module_element.next_element) do
              .btn.btn-red.btn-secondary.full-width
                =t('views.course_module_elements.show.next_step')
                &#62;




      .row.l-margin-bottom-big
        -if defined?(@results)
          =render partial: 'courses/show_results', locals: {cme: @course_module_element}
        -elsif @course_module_element && paywall_checkpoint[:course_content][:view_all] == false
          =render partial: 'courses/content_denied'
        -elsif @course_module_element && @course_module_element.active && paywall_checkpoint[:course_content][:view_all] == true
          -if @course_module_element.try(:is_video)
            =render partial: 'courses/show_video', locals: {cme: @course_module_element}
          -elsif @course_module_element.try(:is_quiz)
            =render partial: 'courses/show_quiz'
          -else
            %h2 Course module element - type unknown
            -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_module_element.inspect}."
        -elsif @course_module
          .well
            %h3=t('views.general.coming_soon')
            %p=t('views.courses.show.coming_soon')




      -# Tabs for Question, Answer, Notes and Description
      -if @course_module_element.try(:is_video) && (@course_module_element.description? || @course_module_element.course_module_element_resources.count > 0 || @course_module_element.video_resource)
        .row.l-margin-top-huge
          .col-md-12{role: 'tablist'}
            .col-sm-12
              .signal-tabs
                -if @course_module_element.video_resource
                  -if @course_module_element.description?
                    %a{href: '#description', aria: {controls: 'active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.description')
                  -if @course_module_element.video_resource.question
                    %a{href: '#question', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.question')
                  -if @course_module_element.video_resource.answer
                    %a{href: '#answer', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.answer')
                  -if @course_module_element.video_resource.transcript
                    %a{href: '#transcript', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.transcript')
                  -if @course_module_element.video_resource.notes || @course_module_element.course_module_element_resources.count > 0
                    %a{href: '#notes', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.notes')
                  -if @course_module.discourse_topic_id
                    %a{href: '#community', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      Community

                -else
                  -if @course_module_element.description?
                    %a{href: '#description', aria: {controls: 'active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.description')
                  -if @course_module.discourse_topic_id
                    %a{href: '#community', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      Community


        =render partial: 'resources'


=render partial: 'shared/activate_tab'


-if @course_module.discourse_topic_id

  :javascript
    DiscourseEmbed = { discourseUrl: 'https://community.learnsignal.com/', topicId: "#{@course_module.try(:discourse_topic_id)}" };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
