%main.sidebar-right-main
  =render partial: 'mobile_nav'
  %article#sidebar-right-content.courses.bg-gray5
    .container
      %div.course-show-external-banner#courses-show-external-banner
        =render partial: 'layouts/external_banner'
      %header
        .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.py-4.py-md-5
          -if @course_step
            =render partial: 'prev_lesson_navigation'

          -if @course_step
            .pt-3.sidebar-right-title
              %h1.h3
                =@course_step.name

          .right-topbar-item.color-shade.course-nav-helpers{'data-target' => '#contact-form-modal', 'data-toggle' => 'modal', :href => '#'}
            %i.material-icons.icon-bg-round{"aria-label" => "failed", :role => "img", :title => "Contact Us"}help_outline

          -if @course_step
            =render partial: 'next_lesson_navigation'

      %section.course-content
        -if defined?(@results)
          =render partial: 'courses/show_results', locals: {cme: @course_step}
        -else
          -if @course_step.try(:is_video)
            =render partial: 'courses/show_video', locals: {cme: @course_step}
          -elsif @course_step.try(:is_quiz)
            =render partial: 'courses/show_quiz'
          -elsif @course_step.try(:is_note)
            =render partial: 'courses/show_notes', locals: { notes: @course_step.course_note, log: @course_step_log }
          -elsif @course_step.try(:is_practice_question)
            =render partial: 'courses/show_practice_question', locals: { practice_question: @course_step.course_practice_question, step_log_id:  @course_step_log.id }
          -elsif @course_step.try(:is_constructed_response)
            =render partial: 'courses/constructed_response_start'
          -else
            %h2 Course module element - type unknown
            -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_step.inspect}."

  #upgrade-subscription-modal.video-upgrade-modal-hide
    .upgrade-btn-slide
      .modal-wrapper
        .modal
          .head
            %a.btn-close.trigger{onclick: "upgradeClose()"}
              %i.fa.fa-times{"aria-hidden" => "true"}
          .content
            .good-job
              %i.fa.fa-thumbs-o-up{"aria-hidden" => "true"}
              %h1 Good Job!
              =link_to "Upgrade Now ", pricing_url(current_user&.preferred_exam_body&.group&.name_url), class: "btn btn-primary upgrade-arrow"

- if current_user
  =render partial: 'library/subscription_restriction_modal'
  =render partial: 'library/related_lesson_restriction_modal'
  =render partial: 'library/user_form_modal', locals: { ticket_type: 'Contact Us', form_id: 'contact-form-modal' }

  :javascript

    function upgradeClose() {
      console.log('Upgrade Close');
      $("#upgrade-subscription-modal").css("display", "none");
    }