%br/
.row
  .col-sm-4.visible-lg.visible-md.visible-sm
    .side-nav{style: 'overflow-y: auto;'}
      .btn.btn-default.btn-lg.wide-button
        .glyphicon.glyphicon-chevron-left
        =link_to t('views.library.show.h1'), library_special_link(@course_module.parent)
      =render partial: 'courses/new_side_nav'
  .col-sm-8
    -if defined?(@results)
      =render partial: 'courses/show_results', locals: {cme: @course_module_element}
      -if @course_module_element
        =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}
    -elsif @course_module_element
      -if @course_module_element.try(:is_video)
        =render partial: 'courses/show_video', locals: {cme: @course_module_element}
        =render partial: 'courses/cme_nav', locals: {cme: @course_module_element}
      -elsif @course_module_element.try(:is_quiz)
        =render partial: 'courses/show_quiz'
      -else
        %p course module element - type unknown
    -elsif @course_module_jumbo_quiz
      =render partial: 'courses/show_quiz'
    -elsif @course_module
      .well
        %h3=t('views.general.coming_soon')
        %p=t('views.courses.show.coming_soon')