=render partial: 'shared/breadcrumbs'

.row
  .col-sm-12
    .page-header
      %h1=@course_module.name

-if @course_module_element
  -# side_nav

  -# main feature
    %p course module element

-elsif @course_module

  %p course module
