%main
  %article.courses.bg-gray5
    .container
      %header
        .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.py-4.py-md-5
          .mw-0
            =link_to navigation_special_link(@course_module_element), class: 'btn btn-secondary btn-sm btn-sm-arrow-left mb-3 mb-sm-0' do
              =@course_module_element.course_module.course_section.subject_course.name

          -if @course_module_element && (@course_module_element.is_video? || @course_module_element.is_constructed_response?)
            .mw-0
              =render partial: 'next_lesson_navigation'

        -if @course_module_element.is_video?
          .pt-3
            %h1.h3
              =@course_module_element.name


      %section.course-content
        -if defined?(@results)
          =render partial: 'courses/show_results', locals: {cme: @course_module_element}
        -else
          -if @course_module_element.try(:is_video)
            =render partial: 'courses/show_video', locals: {cme: @course_module_element}
          -elsif @course_module_element.try(:is_quiz)
            =render partial: 'courses/show_quiz'
          -elsif @course_module_element.try(:is_constructed_response)
            =render partial: 'courses/constructed_response_start'
          -else
            %h2 Course module element - type unknown
            -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_module_element.inspect}."





- if current_user
  =render partial: 'library/subscription_restriction_modal'
  =render partial: 'library/related_lesson_restriction_modal'
