-if @course_step && @course_step_log && (@course_step.active || @course_step_log.preview_mode) && @course_step.available_to_user(current_user, @valid_subscription, @course_log)
  -if @course_step.try(:is_constructed_response)
    #constructed-response-area{data: {step_id: @course_step.id, step_name: @course_step.name, module_id: @course_lesson.id, module_name: @course_lesson.name, course_id: @course.id,
             course_name: @course.name, exam_body_id: @group.exam_body.id, exam_body_name: @group.exam_body.name, onboarding: current_user&.onboarding_process&.active&.to_s, free_lesson: @course_lesson.free.to_s,
              order: @index_order, previous_completion_count: 'tbc', cr_question_count: @course_step&.constructed_response&.scenario&.scenario_questions&.count }}
    =render partial: 'courses/constructed_response'
  -else
    %h2 Sorry Unknown Content Type Requested
    -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_step.inspect}."
-elsif @course_lesson
  .well
    %h3=t('views.general.coming_soon')
    %p=t('views.courses.show.coming_soon')





:javascript

  $(window).load(function() {
    var crDialog = $("#constructed-response-window");
    setTimeout(function(){
      kendo.ui.progress(crDialog, false);
    }, 1800);
  });

  $(document).on('ready', function() {
    constructedResponseStarted();
  });
