-if @course_step && @course_step_log && (@course_step.active || @course_step_log.preview_mode) && @course_step.available_to_user(current_user, @valid_subscription, @course_log)
  -if @course_step.try(:is_constructed_response)
    =render partial: 'courses/constructed_response'
  -else
    %h2 Sorry Unknown Content Type Requested
    -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_step.inspect}."
-elsif @course_lesson
  .well
    %h3=t('views.general.coming_soon')
    %p=t('views.courses.show.coming_soon')





:javascript

  $(window).load(function() {
    var crDialog = $("#constructed-response-window");
    setTimeout(function(){
      kendo.ui.progress(crDialog, false);
    }, 1800);
  });
