.is-bg-asphalt.l-section-small
  .l-wrap
    .container-fluid{style: 'margin-bottom: 60px;'}
      -#TODO fix this hidden sections by screen-width
      .row.l-margin-bottom.hidden-xs.visible-sm.visible-md.visible-lg
        .col-sm-6.col-md-4
          -#TODO add course_section name_url to link so as to open tab
          =link_to library_special_link(@course_module_element.course_module.course_section.subject_course) do
            .btn.btn-secondary
              &#60;
              ="Back To #{@course_module_element.course_module.course_section.subject_course.name}"
        .col-md-4
        .col-sm-6.col-md-4
          -if @course_module_element && @course_module_element.is_video?
            =link_to course_special_link(@course_module_element.next_element, @subject_course_user_log), style: 'margin-left: 10px;' do
              .btn.btn-secondary.full-width
                =t('views.course_module_elements.show.next_step')
                &#62;

      .row.l-margin-bottom.l-margin-top.visible-xs.hidden-sm
        .col-xs-12
          =link_to library_special_link(@course_module_element.course_module.course_section.subject_course) do
            .btn.btn-secondary.full-width
              &#60;
              ="Back To #{@course_module_element.course_module.course_section.subject_course.name}"
        .col-xs-12.l-margin-top
          -if @course_module_element && @course_module_element.is_video?
            =link_to course_special_link(@course_module_element.next_element, @subject_course_user_log) do
              .btn.btn-secondary.full-width
                =t('views.course_module_elements.show.next_step')
                &#62;




      .row.l-margin-bottom-big
        -if defined?(@results)
          =render partial: 'courses/show_results', locals: {cme: @course_module_element}
        -else
          -if @course_module_element.try(:is_video)
            =render partial: 'courses/show_video', locals: {cme: @course_module_element}
          -elsif @course_module_element.try(:is_quiz)
            =render partial: 'courses/show_quiz'
          -elsif @course_module_element.try(:is_constructed_response)
            =render partial: 'courses/constructed_response_start'
          -else
            %h2 Course module element - type unknown
            -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_module_element.inspect}."


      -# Tabs for Question, Answer, Notes and Description
      -if @course_module_element.try(:is_video) && (@course_module_element.description? || @course_module_element.course_module_element_resources.count > 0 || @course_module_element.video_resource)
        .row.l-margin-top-huge
          .col-md-12{role: 'tablist'}
            .col-sm-12
              .signal-tabs
                -if @course_module_element.video_resource
                  -if @course_module_element.description?
                    %a{href: '#description', aria: {controls: 'active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.description')
                  -if @course_module_element.video_resource.question
                    %a{href: '#question', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.question')
                  -if @course_module_element.video_resource.answer
                    %a{href: '#answer', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.answer')
                  -if @course_module_element.video_resource.transcript
                    %a{href: '#transcript', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.transcript')
                  -if @course_module_element.video_resource.notes || @course_module_element.course_module_element_resources.count > 0
                    %a{href: '#notes', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.notes')

                -else
                  -if @course_module_element.description?
                    %a{href: '#description', aria: {controls: 'active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.description')


        =render partial: 'resources'


=render partial: 'shared/activate_tab'
=render partial: 'layouts/intercom'
=render partial: 'courses/resources_unavailable_modal'

