.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'

-if @course_module
  .l-section-courses.is-bg-asphalt
    .l-wrap
      .container-fluid{style: 'margin-bottom: 60px;'}
        .row
          .col-sm-4.col-md-4
            =link_to library_special_link(@course_module.parent) do
              %p.text-left
                &#60;
                ="Back To #{@course_module.try(:subject_course).try(:name)}"
        =render 'side_nav_xs'
        .row
          %div
            =render 'side_nav_md'
          .col-md-8.col-sm-8{style: 'margin-bottom: 150px;'}
            -if defined?(@results)
              =render partial: 'courses/show_results', locals: {cme: @course_module_element}
            -elsif @course_module_element && paywall_checkpoint(@course_module_element.my_position_among_siblings, false)[:course_content][:view_all] == false
              =render partial: 'courses/content_denied'
            -elsif @course_module_jumbo_quiz && paywall_checkpoint(0, true)[:course_content][:view_all] == false
              =render partial: 'courses/content_denied'
            -elsif @course_module_element && @course_module_element.active
              -if @course_module_element.try(:is_video)
                =render partial: 'courses/show_video', locals: {cme: @course_module_element}
              -elsif @course_module_element.try(:is_quiz)
                =render partial: 'courses/show_quiz'
              -else
                %h2 Course module element - type unknown
                -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_module_element.inspect}."
            -elsif @course_module_jumbo_quiz
              =render partial: 'courses/show_quiz'
            -elsif @course_module
              .well
                %h3=t('views.general.coming_soon')
                %p=t('views.courses.show.coming_soon')

        -# Tabs for Question, Answer, Notes and Description
        -if @course_module_element.try(:is_video) && (@course_module_element.description? || @course_module_element.course_module_element_resources.count > 0 || @course_module_element.video_resource)
          .row.l-margin-top-big
            .col-md-12{role: 'tablist'}
              .signal-tabs
                -if @course_module_element.description?
                  %a{href: '#description', aria: {controls: 'active'}, role: 'tab', data: {toggle: 'tab'}}
                    =t('views.course_module_elements.show.tabs.description')

                -if @course_module_element.video_resource
                  -if @course_module_element.video_resource.question
                    %a{href: '#question', aria: {controls: 'in-active'}, role: 'tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.question')
                  -if @course_module_element.video_resource.answer
                    %a{href: '#answer', aria: {controls: 'in-active'}, role: 'tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.answer')
                  -if @course_module_element.video_resource.transcript
                    %a{href: '#transcript', aria: {controls: 'in-active'}, role: 'tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.transcript')
                  -if @course_module_element.video_resource.notes || @course_module_element.course_module_element_resources.count > 0
                    %a{href: '#notes', aria: {controls: 'in-active'}, role: 'tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.notes')
                -else
                  -if @course_module_element.course_module_element_resources.count > 0
                    %a{href: '#notes', aria: {controls: 'in-active'}, role: 'tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.notes')

          -if @course_module_element.try(:video_resource)
            .row
              .l-margin-top-big
                .l-margin-bottom
                  .tab-content
                    .tab-pane.fade.in.active#description{role: 'tabpanel'}
                      .col-md-12
                        .l-margin-bottom-huge
                          %p.big
                            -if @course_module_element.try(:description)
                              =@course_module_element.description.html_safe

                    .tab-pane.fade#question{role: 'tabpanel'}
                      .col-md-12
                        .l-margin-bottom-huge
                          %p.big
                            =@course_module_element.video_resource.try(:question).try(:html_safe)


                    .tab-pane.fade#answer{role: 'tabpanel'}
                      .col-md-12
                        .l-margin-bottom-huge
                          %p.big
                            =@course_module_element.video_resource.try(:answer).try(:html_safe)

                    .tab-pane.fade#transcript{role: 'tabpanel'}
                      .col-md-12
                        .l-margin-bottom-huge
                          %p.big
                            =@course_module_element.video_resource.try(:transcript).try(:html_safe)

                    .tab-pane.fade#notes{role: 'tabpanel'}
                      .col-md-12
                        .l-margin-bottom-huge
                          %p.big
                            =@course_module_element.video_resource.try(:notes).try(:html_safe)
                          %p.big
                            -@course_module_element.course_module_element_resources.each do |r|
                              -if r.web_url && r.web_url.length > 0
                                %li
                                  =link_to r.name, r.web_url, target: '_blank'
                              -else
                                %li
                                  =link_to r.name, r.upload.url, target: '_blank'
          -else
            .tab-pane.fade#notes{role: 'tabpanel'}
              .col-md-12
                .l-margin-bottom-huge
                  %p.big
                    -@course_module_element.course_module_element_resources.each do |r|
                      -if r.web_url && r.web_url.length > 0
                        %li
                          =link_to r.name, r.web_url, target: '_blank'
                      -else
                        %li
                          =link_to r.name, r.upload.url, target: '_blank'


-else
  %br/
  .row
    .col-sm-10.col-sm-offset-1.content-area
      -if defined?(@results)
        =render partial: 'courses/show_results', locals: {cme: @course_module_element}
      -elsif @question_bank && paywall_checkpoint(0, true)[:course_content][:view_all] == false
        =render partial: 'courses/content_denied'
      -elsif @question_bank
        =render partial: 'courses/show_quiz'
      -else
        %h2 Course module element - type unknown
        -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_module_element.inspect}."

=render partial: 'shared/activate_tab'
