%main
  %article.courses.bg-gray5
    .container
      %header
        .d-flex.flex-wrap.flex-sm-nowrap.justify-content-between.py-4.py-md-4
          .mw-0
            =link_to navigation_special_link(@course_module_element), class: 'btn btn-secondary btn-sm btn-sm-arrow-left mb-3 mb-sm-0' do
              =@course_module_element.course_module.course_section.subject_course.name

          -if @course_module_element && @course_module_element.is_video?
            .mw-0
              =link_to course_url(@course.name_url, @course_module.course_section.name_url, @course_module.name_url, @course_module_element.next_element.name_url) do
                .btn.btn-primary.btn-sm.btn-sm-arrow-right
                  =t('views.course_module_elements.show.next_step')

        -if @course_module_element.try(:is_video)
          .pt-3
            %h1.h3
              =@course_module_element.name


      %section.course-content
        -if defined?(@results)
          =render partial: 'courses/show_results', locals: {cme: @course_module_element}
        -else
          -if @course_module_element.try(:is_video)
            =render partial: 'courses/show_video', locals: {cme: @course_module_element}
          -elsif @course_module_element.try(:is_quiz)
            =render partial: 'courses/show_quiz'
          -elsif @course_module_element.try(:is_constructed_response)
            =render partial: 'courses/constructed_response_start'
          -else
            %h2 Course module element - type unknown
            -Rails.logger.error "views/courses/show - unknown CME type. CME: #{@course_module_element.inspect}."




      -# Tabs for Question, Answer, Notes and Description
      -#if @course_module_element.try(:is_video) && (@course_module_element.description? || @course_module_element.course_module_element_resources.count > 0 || @course_module_element.video_resource)
        .row.l-margin-top-huge
          .col-md-12{role: 'tablist'}
            .col-sm-12
              .signal-tabs
                -if @course_module_element.video_resource
                  -if @course_module_element.description?
                    %a{href: '#description', aria: {controls: 'active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.description')
                  -if @course_module_element.video_resource.question
                    %a{href: '#question', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.question')
                  -if @course_module_element.video_resource.answer
                    %a{href: '#answer', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.answer')
                  -if @course_module_element.video_resource.transcript
                    %a{href: '#transcript', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.transcript')
                  -if @course_module_element.video_resource.notes || @course_module_element.course_module_element_resources.count > 0
                    %a{href: '#notes', aria: {controls: 'in-active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.notes')

                -else
                  -if @course_module_element.description?
                    %a{href: '#description', aria: {controls: 'active'}, role: 'tab', class: 'signal-tab', data: {toggle: 'tab'}}
                      =t('views.course_module_elements.show.tabs.description')


        =render partial: 'resources'


=render partial: 'layouts/intercom'

