.row
  .col-sm-8.col-sm-offset-2
    =form_for(@marketing_category, html: {class: 'form-horizontal', role: 'form'}) do |f|
      =render partial: '/layouts/error_messages', locals: {thing: @marketing_category, message: nil}
      =f.label :name, t('views.marketing_categories.form.name'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :name, placeholder: t('views.marketing_categories.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

      .row.l-margin-top-big
        =f.submit t('views.general.save'), class: 'btn btn-red'
        =link_to t('views.general.cancel'), marketing_categories_path, class: 'btn btn-cyan'
