.row
  .col-sm-12
    .page-header
      %h1=t('views.marketing_categories.index.h1')
.row
  .col-sm-12
    =will_paginate @marketing_categories, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th=t('views.marketing_categories.form.name')
          %th
      %tbody
        -@marketing_categories.each do |marketing_category|
          %tr{id: marketing_category.id}
            %td=link_to marketing_category.name, marketing_category
            %td
              - if marketing_category.editable?
                =link_to t('views.general.edit'), edit_marketing_category_url(marketing_category), class: 'btn btn-info btn-xs'
              -if marketing_category.destroyable?
                =link_to t('views.general.delete'), marketing_category, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'

.row
  .col-sm-12
    =link_to t('views.general.new'), new_marketing_category_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
