.col-md-12
  =f.fields_for :blog_posts do |section|
    .question-box-item.l-margin-top
      .col-sm-12
        =section.label :text_content, 'Text', class: 'control-label'
        .input-group.input-group-lg.full-width
          =section.text_area :text_content, placeholder: t('views.blog_posts.form.title_placeholder'), class: 'form-control', style: 'border-radius: 6px;', as: :summernote, id: 'section_editor'
        %br
          =section.label :panel_colour, 'Panel Colour', class: 'control-label'
          .input-group.input-group-lg.full-width
            =section.color_field :panel_colour, placeholder: t('views.external_banners.form.background_colour_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

        -#if !section.object.new_record? && section.object.destroyable?
          %br/
          %br/
          .checkbox.l-margin-top
            %label
              =section.check_box :_destroy
              Remove Section


:javascript

  $('#section_editor').summernote({
    disableDragAndDrop: true,
    height: 150
  });