=form_for(@content_page, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-12
      =render partial: '/layouts/error_messages', locals: {thing: @content_page, message: nil}
      .col-md-6.l-margin-bottom
        =f.label :name, t('views.content_pages.form.name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :name, placeholder: t('views.content_pages.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
      .col-md-6.l-margin-bottom
        =f.label :public_url, t('views.content_pages.form.public_url'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :public_url, placeholder: t('views.content_pages.form.public_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      .col-md-6.l-margin-bottom
        =f.label :h1_text, t('views.content_pages.form.h1_text'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :h1_text, placeholder: t('views.content_pages.form.h1_text_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      .col-md-6.l-margin-bottom
        =f.label :h1_subtext, t('views.content_pages.form.h1_subtext'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :h1_subtext, placeholder: t('views.content_pages.form.h1_subtext_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      .col-md-6.l-margin-bottom
        =f.label :nav_type, t('views.content_pages.form.nav_type'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.select :nav_type, ContentPage::NAV_OPTIONS, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
      .col-md-6.l-margin-bottom
        =f.label :seo_title, t('views.content_pages.form.seo_title'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :seo_title, placeholder: t('views.content_pages.form.seo_title_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      .col-md-6.l-margin-bottom
        .col-sm-8.col-sm-offset-4
          %br/
          .checkbox
            %label
              =f.check_box :footer_link
              =t('views.content_pages.form.footer_link')
      .col-md-6.l-margin-bottom
        =f.label :seo_description, t('views.content_pages.form.seo_description'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_area :seo_description, placeholder: t('views.content_pages.form.seo_description_placeholder'), rows: 4, class: 'form-control', style: 'border-radius: 6px;'

      .col-md-12.l-margin-top-big
        =f.label :text_content, t('views.content_pages.form.text_content'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_area :text_content, as: :summernote, placeholder: t('views.content_pages.form.text_content_placeholder'), rows: 4, class: 'form-control', style: 'border-radius: 6px;', id: 'editor'

  .row.l-margin-top-huge
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), content_pages_path, class: 'btn btn-cyan'




:javascript

  $('#editor').summernote({
    disableDragAndDrop: true,
    height: 150
  });

