=form_for(@content_page, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    .row
      .col-sm-12
        =render partial: '/layouts/error_messages', locals: {thing: @content_page, message: nil}
        .row
          .col-sm-6
            .form-group
              =f.label :name, t('views.content_pages.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.content_pages.form.name_placeholder'), class: 'form-control', autofocus: true

            .form-group
              =f.label :public_url, t('views.content_pages.form.public_url')
              .input-group.input-group-lg
                =f.text_field :public_url, placeholder: t('views.content_pages.form.public_url_placeholder'), class: 'form-control'

            .form-group
              =f.label :h1_text, t('views.content_pages.form.h1_text')
              .input-group.input-group-lg
                =f.text_field :h1_text, placeholder: t('views.content_pages.form.h1_text_placeholder'), class: 'form-control'

            .form-group
              =f.label :h1_subtext, t('views.content_pages.form.h1_subtext')
              .input-group.input-group-lg
                =f.text_field :h1_subtext, placeholder: t('views.content_pages.form.h1_subtext_placeholder'), class: 'form-control'

          .col-sm-6
            .form-group
              =f.label :nav_type, t('views.content_pages.form.nav_type')
              .input-group.input-group-lg
                =f.select :nav_type, ContentPage::NAV_OPTIONS, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}

            .form-group
              =f.label :seo_title, t('views.content_pages.form.seo_title')
              .input-group.input-group-lg
                =f.text_field :seo_title, placeholder: t('views.content_pages.form.seo_title_placeholder'), class: 'form-control'

            .form-group
              =f.label :seo_description, t('views.content_pages.form.seo_description')
              .input-group.input-group-lg
                =f.text_area :seo_description, placeholder: t('views.content_pages.form.seo_description_placeholder'), rows: 4, class: 'form-control'


            .row.pt-4
              .col-sm
                .form-group
                  .col-sm-6
                    .checkbox
                      %label
                        =f.check_box :footer_link
                        =t('views.content_pages.form.footer_link')
              .col-sm
                .form-group
                  .col-sm-6
                    .checkbox
                      %label
                        =f.check_box :active
                        =t('views.content_pages.form.active')


        .row.pt-4
          .col-sm-12
            =f.label :text_content, t('views.content_pages.form.text_content')
            .input-group.input-group-lg
              =f.text_area :text_content, as: :summernote, placeholder: t('views.content_pages.form.text_content_placeholder'), rows: 4, class: 'form-control', id: 'editor'



  =render partial: 'fields_for_content_page_sections', locals: {f: f}

  =#render partial: 'external_banners/fields_for_banners', locals: {f: f}


  .row.pt-4
    .col-sm-12
      =f.submit t('views.general.save'), class: 'btn btn-primary'
      =link_to t('views.general.cancel'), content_pages_path, class: 'btn btn-secondary'




:javascript

  $('#editor').summernote({
    disableDragAndDrop: true,
    height: 150
  });

