-if flash[:success] || flash[:error] || flash[:warning]
  =render partial: 'layouts/flash_messages'

%main
  %article.bg-white
    .container
      %header.hero-section
        %h1.h1-mega
          =@content_page.h1_text
        %h2.h5
          =@content_page.h1_subtext


      %section.pb-md-3
        .row
          .col-sm-12
            =@content_page.text_content.html_safe

      -if @content_page.content_page_sections.any?
        %section.pb-md-6.pb-5.pt-md-6.pt-5
          .row.pt-3
            -@content_page.content_page_sections.all_in_order.each do |section|
              .col-sm-12
                =link_to library_special_link(section.course), target: '_blank', class: 'card card-horizontal flex-row card-mint p-0' do

                  .card-header.d-flex.justify-content-center.align-items-center
                    %i{"aria-label" => section.course.icon_label, :role => "img", class: section.course.icon_label ? section.course.icon_label : 'budicon-office-bag-c', style: "color: #{section.course.highlight_colour};"}

                  .card-body.d-flex.flex-column.justify-content-center
                    %p
                      =section.text_content.html_safe
