=form_for(@user, html: {class: 'form-horizontal', role: 'form', multipart: true}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}
  .row
    .col-md-12.l-margin-bottom-big
      .col-md-6
        =f.label :user_group_id, t('views.users.form.user_group_id'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.collection_select :user_group_id, @user_groups, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
        %br/
        =f.label :email, t('views.users.form.email'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :email, placeholder: t('views.users.form.email_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :first_name, t('views.users.form.first_name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :first_name, placeholder: t('views.users.form.first_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :last_name, t('views.users.form.last_name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :last_name, placeholder: t('views.users.form.last_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
      .col-md-6
        =f.label :address, t('views.users.form.address'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_area :address, placeholder: t('views.users.form.address_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

        %br/
        %br/
        %label
          =t('views.users.form.active')
          =f.check_box :active


  #corporate-fields
    %hr/
    .row
      .col-md-12.l-margin-bottom-big
        %h3.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
          Additional Corporate Info

        .col-md-6
          =f.label :corporate_customer_id, t('views.users.form.corporate_customer_id'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.collection_select :corporate_customer_id, @corporate_customers, :id, :organisation_name, {include_blank: t('views.general.select')}, {class: 'form-control'}
          %br/

        .col-md-6
          =f.label :employee_guid, t('views.users.form.employee_guid'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :employee_guid, placeholder: t('views.users.form.employee_guid_placeholder'), class: 'form-control', style: 'border-radius: 6px;'

  #tutor-fields
    %hr/
    .row
      .col-md-12
        %h3.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
          Additional Tutor Info

        .col-md-6
          =f.label :wistia_url, t('views.users.form.wistia_url'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :wistia_url, placeholder: t('views.users.form.wistia_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
          %br/
          =f.label :qualifications, t('views.users.form.qualifications'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :qualifications, placeholder: t('views.users.form.qualifications_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
          %br/
          =f.label :personal_url, t('views.users.form.personal_url'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :personal_url, placeholder: t('views.users.form.personal_url'), class: 'form-control', style: 'border-radius: 6px;'
          %br/
        .col-md-6
          .col-sm-8
            =f.label :profile_image, t('views.users.form.profile_image'), class: 'control-label'
            -if f.object.profile_image.url
              =image_tag f.object.profile_image.url, class: 'img-responsive'
              %br/
              Upload a replacement if you wish
              %br/
            =f.file_field :profile_image, class: 'form-control'

    .row
      .col-md-12
        .col-md-12
          %br/
          =f.label :first_description, t('views.subject_courses.form.description'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_area :first_description, as: :summernote, placeholder: t('views.subject_courses.form.description_placeholder'), rows: 5, class: 'form-control', style: 'border-radius: 6px;', id: 'editor'


  .row
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), users_url, class: 'btn btn-cyan'


  :javascript

    function handleUserGroupChange() {
      if ($('#user_user_group_id').val() == "#{UserGroup.where(corporate_customer: true).where(tutor: false).first.try(:id)}" ||
          $('#user_user_group_id').val() == "#{UserGroup.where(corporate_student: true).where(tutor: false).first.try(:id)}" ||
          $('#user_user_group_id').val() == "#{UserGroup.where(corporate_customer: true).where(tutor: true).first.try(:id)}") {
        $('#corporate-fields').show();
        $('#tutor-fields').hide();
      } else if ($('#user_user_group_id').val() == "#{UserGroup.where(tutor: true).where(corporate_customer: false).where(corporate_student: false).first.try(:id)}") {
        $('#tutor-fields').show();
        $('#corporate-fields').hide();
      } else {
        $('#user_corporate_customer_id option:first').attr('selected', 'selected');
        $('#corporate-fields').hide();
        $('#tutor-fields').hide();
      }
    }

    $(document).ready(function() {
      $('#tutor-fields').hide();
      $('#corporate-fields').hide();
    });

    $('#user_user_group_id').bind('change', function() {
      handleUserGroupChange();
    });

    $('#editor').summernote({
      disableDragAndDrop: true,
    });


  -unless @user.new_record?
    :javascript
      $(document).ready(function() {
        handleUserGroupChange()
      });
