=form_for(@user, html: {class: 'form-horizontal', role: 'form', multipart: true}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @user, message: nil}
  .row
    .col-md-12.l-margin-bottom-big
      .col-md-6
        =f.label :email, t('views.users.form.email'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :email, placeholder: t('views.users.form.email_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :user_group_id, t('views.users.form.user_group_id'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.collection_select :user_group_id, @user_groups, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
        %br/
        %br/
        %label
          =t('views.users.form.active')
          =f.check_box :active


      .col-md-6
        =f.label :first_name, t('views.users.form.first_name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :first_name, placeholder: t('views.users.form.first_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :last_name, t('views.users.form.last_name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :last_name, placeholder: t('views.users.form.last_name_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :date_of_birth, t('views.users.form.date_of_birth'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :date_of_birth, placeholder: t('views.users.form.date_of_birth_placeholder'), class: 'form-control', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'


  #tutor-fields
    %hr/
    .row
      .col-md-12
        %h3.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
          Additional Info Only for Tutors

        .col-md-12
          =f.label :description, t('views.users.form.description'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_area :description, as: :summernote, placeholder: t('views.users.form.description_placeholder'), class: 'form-control', style: 'border-radius: 6px;', id: 'editor'

          %br/
        .col-md-12
          .col-sm-6
          .col-sm-6
            =f.label :profile_image, t('views.users.form.profile_image'), class: 'control-label'
            -if f.object.profile_image.url
              =image_tag f.object.profile_image.url, class: 'img-responsive'
              %br/
              Upload a replacement if you wish
              %br/
            =f.file_field :profile_image, class: 'form-control'


  .row
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), users_url, class: 'btn btn-cyan'


  :javascript

    $(function () {
      $('#datetimepicker').datetimepicker();
        format: 'DD/MM/YYYY'
    });
    $('#editor').summernote({
      disableDragAndDrop: true,
      height: 150
    });
