.remodal{"data-remodal-id" => "change-password-modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12
        %h2
          =t('views.users.show.change_your_password.h4')
        %hr/

  .row.l-margin-top
    .col-sm-12.l-margin-top.text-left
      =form_for(@user, url: change_password_url, method: :post, html: {class: 'form-horizontal', role: 'form', id: 'change-password-form'}, name: 'change_password_form') do |f|

        .col-md-12
          =f.label :current_password, t('views.users.form.current_password'), class: 'control-label'
          =f.password_field :current_password, placeholder: t('views.users.form.current_password_placeholder'), class: 'form-control'
          %br/
          =f.label :password, t('views.users.form.new_password'), class: 'control-label'
          =f.password_field :password, placeholder: t('views.users.form.new_password_placeholder'), class: 'form-control', id: 'pwd'

          %br/
          =f.label :password, t('views.users.form.password_confirmation'), class: 'control-label'
          =f.password_field :password_confirmation, placeholder: t('views.users.form.password_confirmation_placeholder'), class: 'form-control'

        .col-sm-12.l-margin-top
          =f.submit t('views.general.actual_submit'), class: 'btn btn-red l-margin-right-big l-padding-side-3x'


:javascript

  $(document).on('confirmation', '.remodal', function () {
    document.forms['change_password_form'].submit();
  });
