=form_for(@country, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    =f.hidden_field :sorting_order
    =render partial: '/layouts/error_messages', locals: {thing: @country, message: nil}
    .row
      .col-sm-6
        .form-group
          =f.label :name, t('views.countries.form.name')
          .input-group.input-group-lg
            =f.text_field :name, placeholder: t('views.countries.form.name_placeholder'), class: 'form-control', autofocus: true

        .form-group
          =f.label :iso_code, t('views.countries.form.iso_code')
          .input-group.input-group-lg
            =f.text_field :iso_code, placeholder: t('views.countries.form.iso_code_placeholder'), class: 'form-control'

        .form-group
          =f.label :country_tld, t('views.countries.form.country_tld')
          .input-group.input-group-lg
            =f.text_field :country_tld, placeholder: t('views.countries.form.country_tld_placeholder'), class: 'form-control'

      .col-sm-6
        .form-group
          =f.label :currency_id, t('views.countries.form.currency_id')
          .input-group.input-group-lg
            =f.collection_select :currency_id, @currencies, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}

        .form-group
          =f.label :continent, t('views.countries.form.continent')
          .input-group.input-group-lg
            =f.select :continent, @continents, {include_blank: t('views.general.select')}, {class: 'form-control'}

        .pt-4
          .form-group
            .col-sm-8.col-sm-offset-4
              .checkbox
                %label
                  =f.check_box :in_the_eu
                  =t('views.countries.form.in_the_eu')

    .row.pt-4
      .col-sm-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), countries_path, class: 'btn btn-secondary'
