.container
  %header.management-console-section
    %h1
      =t('views.countries.index.h1')

  %section.pb-7
    =render partial: 'management_consoles/system_requirements_nav'

    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              .mb-3.float-left
                =link_to 'New Country', new_country_url, class: 'btn btn-primary btn-xs'
            .col-sm
              .search-container.mb-3.float-right
                =form_tag(search_countries_url, method: :get, role: 'form', class: 'form-inline') do
                  =text_field_tag :term, @term, class: 'form-control', placeholder: 'Search term'
                  %button{type: "submit", class: 'ml-3'}
                    %i{:role => "img", class: 'budicon-search-list'}


          .table-responsive.pt-4
            %table.table.sorted_table{data: {destination: countries_url}}
              %thead
                %tr
                  %th=t('views.countries.form.name')
                  %th=t('views.countries.form.iso_code')
                  %th=t('views.countries.form.currency_id')
                  %th
                  %th
              %tbody
                -@countries.each do |country|
                  %tr{id: country.id}
                    %td=country.name
                    %td=country.iso_code
                    %td=country.currency.name
                    %td
                      =link_to t('views.general.show'), country_url(country), class: 'btn btn-secondary btn-xs'
                      =link_to t('views.general.edit'), edit_country_url(country), class: 'btn btn-primary btn-xs'
                      -if country.destroyable?
                        =link_to t('views.general.delete'), country, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary btn-xs'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}

            =will_paginate @countries, renderer: BootstrapPagination::Rails
