.row
  .col-sm-8.col-sm-offset-2
    =form_for(@subject_area, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @subject_area, message: nil}
        .form-group
          =f.label :name, t('views.subject_areas.form.name'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :name, placeholder: t('views.subject_areas.form.name_placeholder'), class: 'form-control', autofocus: true
        .form-group
          =f.label :name_url, t('views.subject_areas.form.name_url'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :name_url, placeholder: t('views.subject_areas.form.name_url_placeholder'), class: 'form-control'
        .form-group
          =f.label :sorting_order, t('views.subject_areas.form.sorting_order'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :sorting_order, placeholder: t('views.subject_areas.form.sorting_order_placeholder'), class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :active
                =t('views.subject_areas.form.active')
      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), subject_areas_path
