.row
  .col-sm-12
    .page-header
      %h1=t('views.subject_areas.index.h1')
.row
  .col-sm-12
    =will_paginate @subject_areas, renderer: BootstrapPagination::Rails
    %table.table.table-striped.table-bordered.sorted_table
      %tr
        %th=t('views.subject_areas.form.name')
        %th=t('views.subject_areas.form.name_url')
        %th=t('views.subject_areas.form.active')
        %th
      -@subject_areas.each do |subject_area|
        %tr{id: subject_area.id}
          %td=link_to(subject_area.name, subject_area, title: t('views.general.view_tooltip'))
          %td=link_to(subject_area.name_url, subject_area, title: t('views.general.view_tooltip'))
          %td=link_to(tick_or_cross(subject_area.active), subject_area, title: t('views.general.view_tooltip'))
          %td
            -#=link_to t('views.general.view'), subject_area
            =link_to t('views.general.edit'), edit_subject_area_url(subject_area), class: 'btn btn-info btn-xs'
            -if subject_area.destroyable?
              =link_to t('views.general.delete'), subject_area, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-danger btn-xs'
.row
  .col-sm-12
    =link_to t('views.general.new'), new_subject_area_url, class: 'btn btn-success', title: t('views.general.new_tooltip')
