.row
  .col-sm-12
    .page-header
      %h1
        =@subject_area.name
      =render partial: 'shared/horizontal_hierarchy'
.row
  .col-sm-6
    %h3
      =t('views.general.links')
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.institutions.index.h1')
        %td.col-sm-8
          -@subject_area.institutions.each do |institution|
            =link_to institution.name, institution
            -if current_user.admin?
              %br/
              =link_to t('views.general.new'), new_institution_url(subject_area_id: @subject_area.id), class: 'btn btn-xs btn-success'
  .col-sm-6
    %h3
      =t('views.general.details')
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.subject_areas.form.name')
        %td.col-sm-8=@subject_area.name
      %tr
        %td.col-sm-4=t('views.subject_areas.form.name_url')
        %td.col-sm-8=@subject_area.name_url
      %tr
        %td.col-sm-4=t('views.subject_areas.form.seo_description')
        %td.col-sm-8=@subject_area.seo_description
      %tr
        %td.col-sm-4=t('views.subject_areas.form.seo_no_index')
        %td.col-sm-8=tick_or_cross(@subject_area.seo_no_index)
      %tr
        %td.col-sm-4=t('views.subject_areas.form.active')
        %td.col-sm-8=tick_or_cross(@subject_area.active)

    %p
  =link_to sanitize('&larr; ' + t('views.subject_areas.index.h1')), subject_areas_url
  -if current_user.admin?
    |
    =link_to t('views.general.edit'), edit_subject_area_url(id: @subject_area.id), title: t('views.general.edit_tooltip')
