.container
  %header.management-console-section
    %h1
      ='Reorder FAQ Sections'

  %section.pb-7
    =render partial: 'management_consoles/public_resources_nav'
    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              =link_to t('views.courses.course_lessons_order.return'), public_resources_url, class: 'btn btn-primary'


          .table-responsive.pt-4
            %table.table.sorted_table{data: {destination: faq_sections_url}}
              %thead
                %tr
                  %th Name
                  %th Active
                  %th
                  %th
              %tbody
                -@faq_sections.all_in_order.each do |faq_section|
                  %tr{id: faq_section.id}
                    %td
                      =faq_section.name
                    %td
                      =tick_or_cross(faq_section.active)
                    %td
                      =link_to t('views.general.edit'), edit_faq_section_url(faq_section.id), class: 'btn btn-xs btn-primary'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}
