.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            -if @course_module_element.is_video
              =t('views.course_module_elements.new.video')
            -elsif @course_module_element.is_quiz
              =t('views.course_module_elements.new.quiz')
            -else
              =t('views.course_module_elements.new.h1')

      =render partial: 'form'
