=form_for(@refund, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .row
    .col-md-12
    =render partial: '/layouts/error_messages', locals: {thing: @refund, message: nil}
      .form-group
        =f.label :stripe_guid, t('views.refunds.form.stripe_guid'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.text_field :stripe_guid, placeholder: t('views.refunds.form.stripe_guid_placeholder'), class: 'form-control', autofocus: true
      .form-group
        =f.label :charge_id, t('views.refunds.form.charge_id'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.collection_select :charge_id, @charges, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
      .form-group
        =f.label :stripe_charge_guid, t('views.refunds.form.stripe_charge_guid'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.text_field :stripe_charge_guid, placeholder: t('views.refunds.form.stripe_charge_guid_placeholder'), class: 'form-control'
      .form-group
        =f.label :invoice_id, t('views.refunds.form.invoice_id'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.collection_select :invoice_id, @invoices, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
      .form-group
        =f.label :subscription_id, t('views.refunds.form.subscription_id'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.collection_select :subscription_id, @subscriptions, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
      .form-group
        =f.label :manager_id, t('views.refunds.form.manager_id'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.collection_select :manager_id, @managers, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control'}
      .form-group
        =f.label :amount, t('views.refunds.form.amount'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.text_field :amount, placeholder: t('views.refunds.form.amount_placeholder'), class: 'form-control'
      .form-group
        =f.label :reason, t('views.refunds.form.reason'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.text_area :reason, placeholder: t('views.refunds.form.reason_placeholder'), rows: 4, class: 'form-control'
      .form-group
        =f.label :status, t('views.refunds.form.status'), class: 'control-label col-sm-4'
        .col-sm-8
          =f.text_field :status, placeholder: t('views.refunds.form.status_placeholder'), class: 'form-control'

      .row.l-margin-top-big
        =f.submit t('views.general.save'), class: 'btn btn-red'
        =t('views.general.or')
        =link_to t('views.general.cancel'), refunds_path, class: 'btn btn-cyan'
