.account {
    position: relative;
    &-wrapper {
      min-height: 70vh;
    }
    .h1-hero {
        font-size: 3rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
        @include if-device(phone) {
          font-size: 1rem;
          padding: 2rem 0 0 !important;
          font-size: 32px;
          font-weight: 700;
          line-height: 1.5;
          margin: 0;
        }
      }
      .nav-verification-alert-box {
        z-index: 1;
        padding: 16px 12px;
        font-size: 16px;
        font-weight: 600;
        color: #D97706;
        background-color: #FEF3C7;
        border: none;
        border-radius: 12px;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        position: relative;
        top: 10px;
        @include if-device(desktop) {
            max-width: 440px;
            margin-left: auto;
            position: absolute;
            right: 0;
            top: 3rem;
        }
        &-title {
          position: relative;
          margin-bottom: 4px;
          color: #78350F;
          span {
            z-index: 10;
            position: relative;
            padding: 0;
            font-weight: 700;;
          }
  
        }
        &-desc {
          font-size: 14px;
          color: #D97706;
        }
        .verification-btn {
          position: relative;
          width: 50%;
          color: #FFF;
          margin: 0;
          padding: 0.2rem;
          margin-bottom: 0 !important;
          margin-top: 0.5rem;
          font-size: 14px;
        }
      }
}