@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-light.eot);
  src: url(oakes-grotesk-light.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-light.woff2) format("woff2"),url(oakes-grotesk-light.woff) format("woff"),url(oakes-grotesk-light.ttf) format("truetype"),url(oakes-grotesk-light.svg#youworkforthem) format("svg");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-regular.eot);
  src: url(oakes-grotesk-regular.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-regular.woff2) format("woff2"),url(oakes-grotesk-regular.woff) format("woff"),url(oakes-grotesk-regular.ttf) format("truetype"),url(oakes-grotesk-regular.svg#youworkforthem) format("svg");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-medium.eot);
  src: url(oakes-grotesk-medium.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-medium.woff2) format("woff2"),url(oakes-grotesk-medium.woff) format("woff"),url(oakes-grotesk-medium.ttf) format("truetype"),url(oakes-grotesk-medium.svg#youworkforthem) format("svg");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-semi-bold.eot);
  src: url(oakes-grotesk-semi-bold.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-semi-bold.woff2) format("woff2"),url(oakes-grotesk-semi-bold.woff) format("woff"),url(oakes-grotesk-semi-bold.ttf) format("truetype"),url(oakes-grotesk-semi-bold.svg#youworkforthem) format("svg");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-bold.eot);
  src: url(oakes-grotesk-bold.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-bold.woff2) format("woff2"),url(oakes-grotesk-bold.woff) format("woff"),url(oakes-grotesk-bold.ttf) format("truetype"),url(oakes-grotesk-bold.svg#youworkforthem) format("svg");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-light-italic.eot);
  src: url(oakes-grotesk-light-italic.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-light-italic.woff2) format("woff2"),url(oakes-grotesk-light-italic.woff) format("woff"),url(oakes-grotesk-light-italic.ttf) format("truetype"),url(oakes-grotesk-light-italic.svg#youworkforthem) format("svg");
  font-weight: 300;
  font-style: italic
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-italic.eot);
  src: url(oakes-grotesk-italic.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-italic.woff2) format("woff2"),url(oakes-grotesk-italic.woff) format("woff"),url(oakes-grotesk-italic.ttf) format("truetype"),url(oakes-grotesk-italic.svg#youworkforthem) format("svg");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-medium-italic.eot);
  src: url(oakes-grotesk-medium-italic.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-medium-italic.woff2) format("woff2"),url(oakes-grotesk-medium-italic.woff) format("woff"),url(oakes-grotesk-medium-italic.ttf) format("truetype"),url(oakes-grotesk-medium-italic.svg#youworkforthem) format("svg");
  font-weight: 500;
  font-style: italic
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-semi-bold-italic.eot);
  src: url(oakes-grotesk-semi-bold-italic.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-semi-bold-italic.woff2) format("woff2"),url(oakes-grotesk-semi-bold-italic.woff) format("woff"),url(oakes-grotesk-semi-bold-italic.ttf) format("truetype"),url(oakes-grotesk-semi-bold-italic.svg#youworkforthem) format("svg");
  font-weight: 600;
  font-style: italic
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes-grotesk-bold-italic.eot);
  src: url(oakes-grotesk-bold-italic.eot?#iefix) format("embedded-opentype"),url(oakes-grotesk-bold-italic.woff2) format("woff2"),url(oakes-grotesk-bold-italic.woff) format("woff"),url(oakes-grotesk-bold-italic.ttf) format("truetype"),url(oakes-grotesk-bold-italic.svg#youworkforthem) format("svg");
  font-weight: 700;
  font-style: italic
}