@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_light.eot);
  src: url(oakes_grotesk_light.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_light.woff2) format("woff2"),url(oakes_grotesk_light.woff) format("woff"),url(oakes_grotesk_light.ttf) format("truetype"),url(oakes_grotesk_light.svg#youworkforthem) format("svg");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_regular.eot);
  src: url(oakes_grotesk_regular.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_regular.woff2) format("woff2"),url(oakes_grotesk_regular.woff) format("woff"),url(oakes_grotesk_regular.ttf) format("truetype"),url(oakes_grotesk_regular.svg#youworkforthem) format("svg");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_medium.eot);
  src: url(oakes_grotesk_medium.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_medium.woff2) format("woff2"),url(oakes_grotesk_medium.woff) format("woff"),url(oakes_grotesk_medium.ttf) format("truetype"),url(oakes_grotesk_medium.svg#youworkforthem) format("svg");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_semi_bold.eot);
  src: url(oakes_grotesk_semi_bold.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_semi_bold.woff2) format("woff2"),url(oakes_grotesk_semi_bold.woff) format("woff"),url(oakes_grotesk_semi_bold.ttf) format("truetype"),url(oakes_grotesk_semi_bold.svg#youworkforthem) format("svg");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_bold.eot);
  src: url(oakes_grotesk_bold.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_bold.woff2) format("woff2"),url(oakes_grotesk_bold.woff) format("woff"),url(oakes_grotesk_bold.ttf) format("truetype"),url(oakes_grotesk_bold.svg#youworkforthem) format("svg");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_light_italic.eot);
  src: url(oakes_grotesk_light_italic.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_light_italic.woff2) format("woff2"),url(oakes_grotesk_light_italic.woff) format("woff"),url(oakes_grotesk_light_italic.ttf) format("truetype"),url(oakes_grotesk_light_italic.svg#youworkforthem) format("svg");
  font-weight: 300;
  font-style: italic
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_italic.eot);
  src: url(oakes_grotesk_italic.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_italic.woff2) format("woff2"),url(oakes_grotesk_italic.woff) format("woff"),url(oakes_grotesk_italic.ttf) format("truetype"),url(oakes_grotesk_italic.svg#youworkforthem) format("svg");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_medium_italic.eot);
  src: url(oakes_grotesk_medium_italic.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_medium_italic.woff2) format("woff2"),url(oakes_grotesk_medium_italic.woff) format("woff"),url(oakes_grotesk_medium_italic.ttf) format("truetype"),url(oakes_grotesk_medium_italic.svg#youworkforthem) format("svg");
  font-weight: 500;
  font-style: italic
}
@font-face {
  font-family: OakesGrotesk;
  src: url(oakes_grotesk_semi_bold_italic.eot);
  src: url(oakes_grotesk_semi_bold_italic.eot?#iefix) format("embedded-opentype"),url(oakes_grotesk_semi_bold_italic.woff2) format("woff2"),url(oakes_grotesk_semi_bold_italic.woff) format("woff"),url(oakes_grotesk_semi_bold_italic.ttf) format("truetype"),url(oakes_grotesk_semi_bold_italic.svg#youworkforthem) format("svg");
  font-weight: 600;
  font-style: italic
}
