.foot {
  position: relative;
  margin-bottom: -50px; /* negative value of footer height */
  background: $purple-1;
  border-top: 0px solid $asphalt-1;
  padding: $gutter*1.5 0 $gutter*2 0;
  text-align: center;
  @include clearfix();
  @include font-size(1.2);
  @include breakpoint(md-min) {
    text-align: left;
    @include font-size(1.4);
  }
  .border-top {
    border-top: 10px solid $asphalt-1;
  }
}
.foot-nav {
  color: $white;
  list-style: none;
  padding: 0;
  margin: $gutter 0 0 0;
  @include font-size(1.2);
  @include breakpoint(md-min) {
    float: right;
    @include font-size(1.4);
  }
  & li {
    position: relative;
    display: inline-block;
    color: tint($purple-1, 20%);
    margin-left: $gutter/4;
    &:before {
      content: "•";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  & li:first-child {
    margin: 0;
    &:before {
      content: "";
    }
    & a {
      margin: 0;
    }
  }
  & a {
    color: $white;
    text-decoration: none;
    margin-left: $gutter/1.5;
    @include opacity(0.8);
    &:hover {
      @include opacity(1);
    }
  }
}
.foot-copyright {
  color: $white;
  margin-top: $gutter;
  @include opacity(0.8);
  @include font-size(1.2);
  @include breakpoint(md-min) {
    float: left;
    @include font-size(1.4);
  }
}