.hero-home {
  background: $purple-1 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/hero-bg.jpg") 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-1 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/hero-bg.jpg") no-repeat;
    background-size: cover;
  }
}
.hero-inner {
  padding: 8rem 0;
  @include breakpoint(md-min) {
    padding: 20rem 0;
  }
  .h1 {
    @include breakpoint(lg-min) {
      padding-right: 10%;
    }
  }
}
.hero-inner-small {
  padding: 4rem 0;
  @include breakpoint(md-min) {
    padding: 10rem 0;
  }
  .h1 {
    @include breakpoint(lg-min) {
      padding-right: 10%;
    }
  }
}
.hero-acca {
  background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-acca.jpg") 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-acca.jpg") no-repeat;
    background-size: cover;
  }
}
.hero-upcoming {
  background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-upcoming.jpg") 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-upcoming.jpg") no-repeat;
    background-size: cover;
  }
}
.hero-cfa {
  background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-cfa.jpg") 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-cfa.jpg") no-repeat;
    background-size: cover;
  }
}
.hero-sign-up {
  background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-sign-up.jpg") 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-sign-up.jpg") no-repeat;
    background-size: cover;
  }
}
.hero-library {
  background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-library.jpg") 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/bg-library.jpg") no-repeat;
    background-size: cover;
  }
}
