.hero-home {
  background: $purple-5 asset-asset-url('home-page-1003.png') 20% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 1100px;
  @include breakpoint(md-min) {
    background: $purple-5 asset-asset-url('home-page-1003.png') no-repeat;
    background-size: cover;
  }
}
.hero-inner {
  padding: 8rem 0;
  @include breakpoint(md-min) {
    padding: 20rem 0;
  }
  .h1 {
    @include breakpoint(lg-min) {
      padding-right: 10%;
    }
  }
}
.hero-inner-small {
  padding: 4rem 0;
  @include breakpoint(md-min) {
    padding: 10rem 0;
  }
  .h1 {
    @include breakpoint(lg-min) {
      padding-right: 10%;
    }
  }
}
.hero-inner-wide {
  padding: 2rem 2rem;
  @include breakpoint(md-min) {
    padding: 5rem 1rem;
  }
  .h1 {
    @include breakpoint(lg-min) {
      padding-right: 10%;
    }
  }
}
.hero-acca {
  background: $purple-2 asset-url('bg-acca.jpg') 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 asset-url('bg-acca.jpg') no-repeat;
    background-size: cover;
  }
}
.hero-business {
  background: $purple-5 asset-url('business-home-1001.png') 50% 0 no-repeat;
  color: $white;
  min-height: 1100px;
  @include breakpoint(md-min) {
    background: $purple-5 asset-url('business-home-1001.png') no-repeat;
    background-size: cover;
  }
}
.hero-upcoming {
  background: $purple-2 asset-url('bg-upcoming.jpg') 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 asset-url('bg-upcoming.jpg') no-repeat;
    background-size: cover;
  }
}
.hero-cfa {
  background: $purple-2 asset-url('bg-cfa.jpg') 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 asset-url('bg-cfa.jpg') no-repeat;
    background-size: cover;
  }
}
.hero-sign-up {
  background: $purple-2 asset-url('bg-sign-up.jpg') 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 asset-url('bg-sign-up.jpg') no-repeat;
    background-size: cover;
  }
}
.hero-library {
  background: $purple-2 asset-url('bg-library.jpg') 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $purple-2 asset-url('bg-library.jpg') no-repeat;
    background-size: cover;
  }
}
// Landing Page Images
.home-image-1 {
  background: lighten($purple-1, 5%) asset-url('professional-qualifications.png') 50% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 500px;
  @include breakpoint(md-min) {
    background: lighten($purple-1, 5%) asset-url('professional-qualifications.png') 50% 25 no-repeat;
    color: $white;
    background-size: cover;
    //min-height: 500px;
  }
}
.home-image-2 {
  background: lighten($purple-1, 5%) asset-url('it-perations.png') 50% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 500px;
  @include breakpoint(md-min) {
    background: lighten($purple-1, 5%) asset-url('it-perations.png') 50% 25 no-repeat;
    color: $white;
    background-size: cover;
    min-height: 500px;
  }
}
.home-image-3 {
  background: lighten($purple-1, 5%) asset-url('business-professionals.png') 50% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 500px;
  @include breakpoint(md-min) {
    background: lighten($purple-1, 5%) asset-url('business-professionals.png') 50% 25 no-repeat;
    color: $white;
    background-size: cover;
    min-height: 500px;
  }
}




.blog-image-1 {
  background: lighten($purple-1, 5%) asset-url('maximise-employee-memory-retention-with-on-demand-training.jpg') 50% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 250px;
  @include breakpoint(md-min) {
    background: lighten($purple-1, 5%) asset-url('maximise-employee-memory-retention-with-on-demand-training.jpg') 50% 25 no-repeat;
    color: $white;
    background-size: cover;
    min-height: 250px;
  }
}
.blog-image-2 {
  background: lighten($purple-1, 5%) asset-url('meeting-millennials-needs-with-on-demand-learning.jpg') 50% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 250px;
  @include breakpoint(md-min) {
    background: lighten($purple-1, 5%) asset-url('meeting-millennials-needs-with-on-demand-learning.jpg') 50% 25 no-repeat;
    color: $white;
    background-size: cover;
    min-height: 250px;
  }
}
.blog-image-3 {
  background: lighten($purple-1, 5%) asset-url('elearning-employee-retention.jpg') 50% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 250px;
  @include breakpoint(md-min) {
    background: lighten($purple-1, 5%) asset-url('elearning-employee-retention.jpg') 50% 25 no-repeat;
    color: $white;
    background-size: cover;
    min-height: 250px;
  }
}
