.libraryGroupWrapper {
  .libraryGroupWrapper-hero {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 96px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    padding-top: 0;
    padding-bottom: 6rem;
    margin: 0 auto;
    .libraryGroupWrapper-heroInfoWrapper {
      flex: 1 1;
      z-index: 1;
      position: relative;
      .heroTitle {
        margin-bottom: 8px;
        color: #010032;
        font-size: 48px;
        line-height: 140%;
        font-style: normal;
        font-weight: 700;
        padding-top: 3rem !important;
        @include if-device(phone) {
          font-size: 24px;
        }
      }
      .heroDesc {
        margin-bottom: 32px;
        color: #6B7280;
        font-size: 18px;
        line-height: 150%;
        max-width: 40%;
        @include if-device(phone) {
          max-width: 100%;
          font-size: 14px;
        }
      }
    }
    .libraryGroupWrapper-heroBgWrapper {
      position: absolute;
    right: 0;
    overflow: hidden;
    z-index: 0;
    width: 60%;
    object-fit: cover;
    height: 100%;
    box-shadow: inset 120px 0 50px -40px #fff;
    background-size: cover;
    @include if-device(phone) {
      display: none;
    }
      img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: contain;
      }
    }
  }
  &-list {
    column-gap: 1.5rem;
    @include if-device(phone) {
      flex-direction: column;
      padding: 0;
      padding-top: 0 !important;
      row-gap: 2rem !important;
    }
    .levels-nav {
      width: 25%;
      @include if-device(phone) {
        width: 100%;
      }
    }
    .content-section {
      width: 75%;
      @include if-device(phone) {
        width: 100%;
      }
    }
    @include if-device('desktop-tablet') {
      .nav {
        background-color: #FFF;
        border: 2px solid #F9FAFB;
        box-sizing: border-box;
        padding: 16px;
        row-gap: 12px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        .nav-item {
          text-align: left;
          .nav-link {
            padding: 0.5rem;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            border-radius: 4px;
            &.active {
              background-color: #F0FDF4;
              color: #00B67A;
            }
          }
        }
      }
    }
    @include if-device(phone) {
      .nav {
        display: flex;
        border-bottom: 0 none;
        flex-wrap: nowrap;
        overflow-x: auto;
        flex-direction: row !important;
        background-color: #FFF;
        &::-webkit-scrollbar {
          display: none;
        }
        .nav-item {
          display: block;
          margin-bottom: 0;
          margin-right: 0.25rem;
          .nav-link {
            padding: .6rem 1rem;
            padding-top: .6rem;
            font-size: 16px;
            color: #B1B1B1;
            text-transform: none;
            letter-spacing: 0;
            border: 0 none;
            font-weight: 700;
            margin: 0;
            white-space: nowrap;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-color: transparent;
            transition: all .15s ease-in-out 0s;
            &.active {
              color: #000032;
              background-color: transparent;
              border-color: #000032;
            }
          }
        }
      }
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        transition: all 0.15s ease-in-out 0s;
        border: none;
        border-radius: 6px;
        padding: 0;
        cursor: pointer;
        overflow: hidden;
        min-height: auto;
        padding: 20px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 10px rgba(0, 0, 0, 0.02);
        border-radius: 8px;
        @include if-device(phone) {
          padding: 0.75rem;
        }
        &:hover, &:focus {
          color: inherit;
          text-decoration: none;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06), 0px 1px 10px rgba(0, 0, 0, 0.02);
        }
    }
    .card-header {
        width: auto;
    }
    .card-body {
        padding: 0;
    }
    .card-footer {
        padding: 0;
    }
    &-courseInfo {
      display: flex;
      align-items: center;
      column-gap: 16px;
      @include if-device(phone) {
        column-gap: 12px;
      } 
    }
    .libraryGroupWrapper-list-courseIcon {
      border: 1px solid transparent;
      border-radius: 6px;
      width: 4px;
      height: 42px;
      padding: 7px 0;
      background-color: #bdbebf;
      display: none;
      i {
        font-size: 20px;
        display: none;
      }
  }
  .libraryGroupWrapper-list-parent {
    display: flex;
    column-gap: 4px;
    .libraryGroupWrapper-list-examName {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.25px;
      color: #828282;
    }
    .libraryGroupWrapper-list-backBtn-dot {
      font-weight: 600;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.25px;
      color: #D2D2D2;
    }
    .libraryGroupWrapper-list-levelName {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.25px;
      color: #828282;
    }
  }
  .courseArrowIcon {
    font-size: 32px;
    color: #929596;
    position: absolute;
    right: 20px;
    @include if-device(phone) {
      right: 4px;
      font-size: 24px;
    }
  }
  .courseName {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    @include if-device(phone) {
      font-size: 14px;
    }
  }
  .libraryGroupWrapper-list-progressText {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    margin-right: 24px;
    color: #979797;
  }   
}
}