.breadCrumbs {
  display: flex;
  flex-wrap: wrap !important;
  padding: 1rem 0;
  align-items: center !important;
  justify-content: space-between !important;

  @include if-device(phone) {
    padding: 1rem 0 0;
    background-color: #FFF;
  }
  
}
.navbar {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  height: 64px;
  background-color: #FFF;
  box-shadow: inset 0 -1px #e3e8ee;
  @include if-device(phone) {
    min-height: 54px;
    height: auto;
    padding: 0.5rem;
  }
}
.sticky-nav-border {
  border-bottom: 2px solid #e6ecf0;
}
@media (min-width:992px) {
  .navbar {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
@media (min-width:768px) {
  .navbar.navbar-lg {
    padding: 1.875rem 0
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
@media (min-width:992px) {
  .navbar.navbar-lg .navbar-nav .nav-item.dropdown .dropdown-menu {
    top: -webkit-calc(100% + 1.575rem);
    top: calc(100% + 1.575rem)
  }
}
.navbar > .container,
.navbar > .container-fluid {
  position: relative;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
@media (min-width:992px) {
  .navbar > .container,
  .navbar > .container-fluid {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
  }
}
@media (min-width:1200px) {
  .navbar > .container,
  .navbar > .container-fluid {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1280px;
  }
}
.navbar-nav {
  flex-direction: row;
  align-items: center !important;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width:992px) {
  .navbar-nav {
    padding-top: 0;
    padding-bottom: 0
  }
}
.navbar-nav .nav-item {
  margin-left: 0
}
@media (min-width:576px) {
  .navbar-nav .nav-item {
    margin-left: 1rem
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-item {
    margin-left: 0.4rem;
    margin-right: 0.4rem
  }
}
@media (min-width:1200px) {
  .navbar-nav .nav-item {
    margin-left: 1rem;
    margin-right: 1rem
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown {
    margin-right: 0
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown.course-dropdown {
    margin-left: 1rem;
    margin-right: 1rem
  }
}
.navbar-nav .nav-item.dropdown .dropdown-menu {
  padding: 0;
  width: 240px;
  border-radius: .375rem;
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.30) ;
}
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    top: 100%;
    padding: .5rem 0;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #00b67b;
}
.navbar-nav .nav-link.upgrade-btn {
  background-color: #f0ca26;
  border: 1px solid #f0ca26;
  border-radius: 4px;
  color: #2d2503;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
}
.navbar-nav .nav-link.console-btn {
  background-color: #cbe;
  border: 1px solid #583e8c;
  border-radius: 4px;
  color: #583e8c;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 34px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #000032;
}
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  text-transform: none
}
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  margin: 0px;
  width: 100%;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  box-sizing: border-box;
  user-select: none;
  color: rgb(23, 43, 77);
  padding: 8px 20px;
  cursor: pointer;
  font-weight: 600;
  &:hover, &:active {
    color: rgb(23, 43, 77);
    background-color: rgb(244, 245, 247);
    text-decoration: none;
  }
  &.logout {
    color: #dc3545;
    &:hover, &:active {
      background-color: rgba(220, 53, 69, 0.18);
    }
  }
}
// @media (min-width:992px) {
//   .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link {
//     padding: .25rem 1rem
//   }
// }
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle.focus,
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle.focus:hover,
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
}
.navbar-nav .nav-link {
  font-weight: 600;
}
.navbar-login {
  color: #1f2937;
  text-decoration: none;
  font-weight: 600;
  &:hover, &:focus {
    color: #1f2937;
    outline: none;
    text-decoration: none;
  }
}
.navbar-login .navbar-login-userIcon {
  display: inline-block;
  background-color: #f9fafb;
  border-radius: 100%;
  border-width: 1px;
  border-color: #f3f4f6;
  width: 2rem;
  height: 2rem;
  svg {
    padding: 1px;
  }
}
.navbar-login .navbar-login-userName {
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login {
    transition: all .15s ease-in-out 0s;
    display: inline-block;
    max-width: 100%;
    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    overflow: hidden;
    color: #1f2937;
    background-color: transparent;
    // border-color: #00b67b;
    padding: .5rem 1rem;
    font-size: .875rem;
    line-height: 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: initial;
    }
  }
}
@media screen and (min-width:992px) and (prefers-reduced-motion:reduce) {
  .navbar-nav .nav-link.navbar-login {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login:focus,
  .navbar-nav .nav-link.navbar-login:hover {
    text-decoration: none
  }
}
@media (min-width:992px) and (min-width:576px) {
  .navbar-nav .nav-link.navbar-login {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login.focus,
  .navbar-nav .nav-link.navbar-login:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.25);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.25)
  }
  .navbar-nav .nav-link.navbar-login.disabled,
  .navbar-nav .nav-link.navbar-login:disabled {
    opacity: .65
  }
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled) {
    cursor: pointer
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-nav .nav-link.navbar-login.focus,
  .navbar-nav .nav-link.navbar-login:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-nav .nav-link.navbar-login.focus:hover,
  .navbar-nav .nav-link.navbar-login:focus:hover {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-nav .nav-link.navbar-login.disabled,
  .navbar-nav .nav-link.navbar-login:disabled {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled).active,
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled):active,
  .show > .navbar-nav .nav-link.navbar-login.dropdown-toggle {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled).active:focus,
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled):active:focus,
  .show > .navbar-nav .nav-link.navbar-login.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-nav .nav-link.navbar-login:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-nav .nav-link.navbar-login.focus,
  .navbar-nav .nav-link.navbar-login:focus {
    color: #000032;
  }
}
.navbar-toggler {
  position: absolute;
  top: .5rem;
  left: 0rem;
  margin-right: auto;
  padding: .25rem 0;
  border: 0 none
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: 0
}
@media (min-width:576px) {
  .navbar-toggler {
    left: 1rem
  }
}
@media (min-width:768px) {
  .navbar-toggler {
    top: .9rem
  }
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-bar.frst {
  margin-bottom: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-bar.scnd {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.navbar-toggler .navbar-toggler-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #aab8c2;
  border: 0 none;
  -webkit-transition: all .25s linear 0s;
  -o-transition: all .25s linear 0s;
  transition: all .25s linear 0s;
  -webkit-transform-origin: 42.5% 55%;
  -ms-transform-origin: 42.5% 55%;
  -o-transform-origin: 42.5% 55%;
  transform-origin: 42.5% 55%
}
.navbar-toggler .navbar-toggler-bar.scnd {
  margin-bottom: 0
}
.navbar-light {
  background-color: #fff
}
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #00b67b
  }
}
.navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:focus,
.navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:hover {
  color: #000032
}
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link {
    color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:hover {
    background-color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link.active,
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:active {
    background-color: #fff
  }
}
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.disabled,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:disabled {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active,
  .show > .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus,
  .show > .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
}
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-item.dropdown.course-dropdown .nav-link.dropdown-toggle {
    color: #00b67b;
    background-color: #fff;
    border-color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown.course-dropdown .nav-link.dropdown-toggle:hover {
    color: #000032;
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.disabled,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:disabled {
    color: #00b67b;
    background-color: #fff;
    border-color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active,
  .show > .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle {
    color: #00b67b;
    background-color: #fff;
    border-color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus,
  .show > .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #000032;
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    color: #00b67b
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
}
.navbar-dark {
  background-color: #000032
}
.navbar-dark .navbar-nav .nav-link {
  color: #00b67b;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #000032
}
@media (min-width:992px) {
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:hover {
    background-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link.active,
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:active {
    background-color: #00b67b
  }
}
.navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle {
  text-overflow: initial
}
@media (min-width:992px) {
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #00b67b;
    color: #00b67b;
    padding: 0.5rem 1rem;
    border-radius: .25rem;
    line-height: 1.5rem;
    height: 42px;
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.disabled,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:disabled {
    color: #fff;
    background-color: transparent;
    border-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active,
  .show > .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus,
  .show > .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.active,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:active {
    color: #fff
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    color: #fff
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    color: #00b67b;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
}
.navbar-dark .navbar-nav .nav-link.focus,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #00b67b
}
.navbar-dark .navbar-nav .nav-link.focus:hover,
.navbar-dark .navbar-nav .nav-link:focus:hover {
  color: #fff
}
.navbar-dark .navbar-toggler .navbar-toggler-bar {
  background-color: #fff
}
