.navbar {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.1rem 1rem
}
@media (min-width:992px) {
  .navbar {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
@media (min-width:768px) {
  .navbar.navbar-lg {
    padding: 1.875rem 0
  }
}
@media (min-width:992px) {
  .navbar.navbar-lg .navbar-nav .nav-item.dropdown .dropdown-menu {
    top: -webkit-calc(100% + 1.575rem);
    top: calc(100% + 1.575rem)
  }
}
@media (min-width:992px) {
  .navbar.navbar-lg .navbar-nav .nav-link.navbar-login {
    padding-left: 2.6rem;
    padding-right: 2.6rem
  }
}
.navbar > .container,
.navbar > .container-fluid {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (min-width:992px) {
  .navbar > .container,
  .navbar > .container-fluid {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
.navbar-nav {
  padding-top: 1rem;
  padding-bottom: 1rem
}
@media (min-width:992px) {
  .navbar-nav {
    padding-top: 0;
    padding-bottom: 0
  }
}
.navbar-nav .nav-item {
  margin-left: 0
}
@media (min-width:576px) {
  .navbar-nav .nav-item {
    margin-left: 1rem
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-item {
    margin-left: 2rem;
    margin-right: 2rem
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown {
    margin-right: 0
  }
}
.navbar-nav .nav-item.dropdown .dropdown-menu {
  padding: 0;
  border: 0 none
}
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    top: -webkit-calc(100% + .8rem);
    top: calc(100% + .8rem);
    padding: .75rem 0;
    border-radius: 0
  }
}
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  text-transform: none
}
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link {
  padding: .4rem 0;
  color: #00b67b;
  font-weight: 400
}
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:focus,
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:hover {
  color: #fff;
  background-color: transparent
}
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link.active,
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:active {
  background-color: transparent
}
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link {
    padding: .25rem 1rem
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle.focus,
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle.focus:hover,
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-nav .nav-item.dropdown.nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
}
.navbar-nav .nav-link {
  font-weight: 500
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login {
    padding: .4rem 1.25rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0;
    -webkit-transition: all .15s ease-in-out 0s;
    -o-transition: all .15s ease-in-out 0s;
    transition: all .15s ease-in-out 0s;
    display: inline-block;
    max-width: 100%;
    padding-top: -webkit-calc(.4rem + .1rem);
    padding-top: calc(.4rem + .1rem);
    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    overflow: hidden;
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b;
    padding: .4rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0;
    padding-top: calc(.4rem + .1rem)
  }
}
@media screen and (min-width:992px) and (prefers-reduced-motion:reduce) {
  .navbar-nav .nav-link.navbar-login {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login:focus,
  .navbar-nav .nav-link.navbar-login:hover {
    text-decoration: none
  }
}
@media (min-width:992px) and (min-width:576px) {
  .navbar-nav .nav-link.navbar-login {
    padding: .65rem 2.6rem;
    padding-top: -webkit-calc(.65rem + .1rem);
    padding-top: calc(.65rem + .1rem);
    font-size: 1rem
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login.focus,
  .navbar-nav .nav-link.navbar-login:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.25);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.25)
  }
  .navbar-nav .nav-link.navbar-login.disabled,
  .navbar-nav .nav-link.navbar-login:disabled {
    opacity: .65
  }
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled) {
    cursor: pointer
  }
  .navbar-nav .nav-link.navbar-login.dropdown-toggle {
    padding-right: -webkit-calc(1rem - .4rem);
    padding-right: calc(1rem - .4rem)
  }
}
@media (min-width:992px) and (min-width:576px) {
  .navbar-nav .nav-link.navbar-login.dropdown-toggle {
    padding-right: -webkit-calc(2.6rem - .4rem);
    padding-right: calc(2.6rem - .4rem)
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-nav .nav-link.navbar-login.focus,
  .navbar-nav .nav-link.navbar-login:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-nav .nav-link.navbar-login.focus:hover,
  .navbar-nav .nav-link.navbar-login:focus:hover {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-nav .nav-link.navbar-login.disabled,
  .navbar-nav .nav-link.navbar-login:disabled {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled).active,
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled):active,
  .show > .navbar-nav .nav-link.navbar-login.dropdown-toggle {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled).active:focus,
  .navbar-nav .nav-link.navbar-login:not(:disabled):not(.disabled):active:focus,
  .show > .navbar-nav .nav-link.navbar-login.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-nav .nav-link.navbar-login:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-nav .nav-link.navbar-login.focus,
  .navbar-nav .nav-link.navbar-login:focus {
    color: #fff
  }
}
@media (min-width:992px) and (min-width:576px) {
  .navbar-nav .nav-link.navbar-login {
    padding: .65rem 1.25rem;
    padding-top: -webkit-calc(.65rem + .1rem);
    padding-top: calc(.65rem + .1rem)
  }
}
@media (min-width:992px) {
  .navbar-nav .nav-link.navbar-login.dropdown-toggle {
    padding-right: -webkit-calc(1rem - .4rem);
    padding-right: calc(1rem - .4rem)
  }
}
@media (min-width:992px) and (min-width:576px) {
  .navbar-nav .nav-link.navbar-login.dropdown-toggle {
    padding-right: -webkit-calc(1.25rem - .4rem);
    padding-right: calc(1.25rem - .4rem)
  }
}
.navbar-toggler {
  position: absolute;
  top: .5rem;
  left: 0rem;
  margin-right: auto;
  padding: .25rem 0;
  border: 0 none
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: 0
}
@media (min-width:576px) {
  .navbar-toggler {
    left: 1rem
  }
}
@media (min-width:768px) {
  .navbar-toggler {
    top: .9rem
  }
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-bar.frst {
  margin-bottom: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-bar.scnd {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.navbar-toggler .navbar-toggler-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #aab8c2;
  border: 0 none;
  -webkit-transition: all .25s linear 0s;
  -o-transition: all .25s linear 0s;
  transition: all .25s linear 0s;
  -webkit-transform-origin: 42.5% 55%;
  -ms-transform-origin: 42.5% 55%;
  -o-transform-origin: 42.5% 55%;
  transform-origin: 42.5% 55%
}
.navbar-toggler .navbar-toggler-bar.scnd {
  margin-bottom: 0
}
.navbar-light {
  background-color: #fff
}
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #00b67b
  }
}
.navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:focus,
.navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:hover {
  color: #000032
}
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link {
    color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:hover {
    background-color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link.active,
  .navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:active {
    background-color: #fff
  }
}
@media (min-width:992px) {
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.disabled,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:disabled {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active,
  .show > .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus,
  .show > .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,0,50,.5);
    box-shadow: 0 0 0 .2rem rgba(0,0,50,.5)
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff;
    background-color: #000032;
    border-color: #000032
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    color: #fff
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-light .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
}
.navbar-dark {
  background-color: #000032
}
.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #000032
}
@media (min-width:992px) {
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:hover {
    background-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link.active,
  .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.nav-link:active {
    background-color: #00b67b
  }
}
.navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle {
  text-overflow: initial
}
@media (min-width:992px) {
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #00b67b;
    color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.disabled,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:disabled {
    color: #fff;
    background-color: transparent;
    border-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active,
  .show > .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle {
    color: #fff;
    background-color: #00b67b;
    border-color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus,
  .show > .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(0,182,123,.5);
    box-shadow: 0 0 0 .2rem rgba(0,182,123,.5)
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: #fff
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.active,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:active {
    color: #fff
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    color: #00b67b
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    color: #fff
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus {
    color: #00b67b;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle.focus:hover,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus:hover {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled).active:focus,
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }
}
.navbar-dark .navbar-nav .nav-link.focus,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #00b67b
}
.navbar-dark .navbar-nav .nav-link.focus:hover,
.navbar-dark .navbar-nav .nav-link:focus:hover {
  color: #fff
}
.navbar-dark .navbar-toggler .navbar-toggler-bar {
  background-color: #fff
}