// 0. Settings
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import "mixins.scss";

$gutter: 20px;
$white: #fff;
$gray-1: #6E6D75;
$asphalt-1: #EFF3F6;
$purple-1: #3E3F5B;
$purple-2: #363651;
$red-1: #EE5457;
$cyan-1: #3EB9CE;
$yellow-1: #FAFEC0;
$green-1: #D0F6BD;

$sans-font: "proxima-nova-soft", Arial, sans-serif;

// 1. Base
html {
  background: darken($purple-1, 15%);
  .margin-top {
    margin-top: 62px;
  }
  .no-margin-top {
    margin-top: 0;
  }
}
body {
  font-family: $sans-font;
  background: $white;
  color: $gray-1;
  @include breakpoint(md-min) {
    margin: 0 auto;
    max-width: 1800px;
  }
}
a {
  color: $red-1;
  //text-decoration: underline;
  @include transition(background-color .2s ease);
  @include transition(color .2s ease);
  @include transition(border .2s ease);
}
a:hover,
a:focus {
  color: shade($cyan-1, 10%);
  text-decoration: underline;
}
a:active {
  color: $purple-1;
}
a.link-purple {
  color: $purple-1;
  &:hover {
    color: $cyan-1;
  }
}
blockquote {
  border-left: 2px solid $red-1;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  position: relative;
  margin-top: 0;
  &.h-white {
    color: $white;
  }
}
h1, .h1 {
  font-weight: normal;
  color: $purple-1;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: $gutter*2;
  margin-bottom: 0;
  line-height: 1.3;
  @include font-size(2.6);
  @include breakpoint(md-min) {
    @include font-size(3.6);
  }
}
.h1 {
  @extend .animated;
  @extend .fadeIn;
}
h2, .h2 {
  font-weight: normal;
  color: $purple-1;
  line-height: 1.2;
  @include font-size(2.6);
  @include breakpoint(md-min) {
    @include font-size(3.0);
  }
}
h3, .h3 {
  font-weight: normal;
  color: $purple-1;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 0;
  @include font-size(2.4);
}
h4, .h4 {
  color: $purple-1;
  font-weight: bold;
  @include font-size(1.6);
  @include breakpoint(md-min) {
    @include font-size(1.8);
  }
}
h5, .h5 {
  color: lighten($purple-1, 40%);
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 1.5;
  margin-top: 0;
  @include font-size(1.1);
  @include breakpoint(md-min) {
    @include font-size(1.3);
  }
}
h6, .h6 {
  font-weight: bold;
  //color: $purple-1;
  @include font-size(1.4);
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }
}
p, .p, ol, .ol, ul, .ul, address, dl {
  color: $gray-1;
  margin-bottom: $gutter;
  @include font-size(1.4);
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }
}
hr {
  border-color: lighten($purple-1, 60%);
  margin: $gutter*2 0;
}
.h-separator {
  padding-bottom: $gutter*1.5;
  //margin-bottom: $gutter*2;
  @include breakpoint(md-min) {
    //margin-bottom: $gutter*2;
  }
  &:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: $cyan-1;
    bottom: 0;
    @include border-radius(10px);
  }
  &.h-separator-left {
    &:after {
      left: 0;
    }
  }
  &.h-separator-center {
    &:after {
      left: 50%;
      margin-left: -30px;
    }
  }
}
.note {
  color: tint($gray-1, 30%);
  position: relative;
  display: block;
  padding-left: $gutter;
  &:after {
    position: absolute;
    background: url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/ico-lock.png") no-repeat 0 0;
    background-size: contain;
    top: 50%;
    margin-top: -8px;
    left: 0;
    content: "";
    height: 16px;
    width: 16px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

// 2. Layout
.l-wrap {
  @include breakpoint(sm-min) {
    padding: 0 $gutter;
  }
  margin: 0 auto;
  @include breakpoint(md-min) {
    max-width: 1200px;
  }
}
.l-section {
  padding: 5rem 0;
  @include breakpoint(md-min) {
    padding: 10rem 0;
  }
}
.l-section-small {
  padding: 3rem 0;
  @include breakpoint(md-min) {
    padding: 4rem 0;
  }
}
.l-padding-zero {
  padding: 0;
}
.l-padding-top-xl { // if header is fixed, this is required on the next element
  padding-top: $gutter*3;
}
.l-margin-bottom {
  margin-bottom: $gutter;
}
.l-margin-bottom-big {
  margin-bottom: $gutter*2;
}
.l-margin-top {
  margin-top: $gutter;
}
.l-margin-top-big {
  margin-top: $gutter*2;
}

// 3. modules

@import "nav.scss";
@import "btn.scss";
@import "hero.scss";
@import "foot.scss";
@import "testimonials.scss";
@import "plans.scss";

.course-group-title {
  margin-bottom: $gutter*2;
  @include breakpoint(sm-min) {
    margin-bottom: 0;
  }
  @include breakpoint(md-min) {
    margin-bottom: $gutter*2;
  }
}
.logo {
  padding: $gutter 0;
  float: left;
  max-width: 119px;
  @include breakpoint(sm-min) {
    max-width: 159px;
  }
}



.no-card {
  height: 40px;
  line-height: 40px;
  text-transform: none;
  padding: 0 $gutter;
  text-align: center;
  display: block;
  @include opacity(0.6);
  @include font-size(1.1);
  @include breakpoint(xs-min) {
    display: inline-block;
    @include font-size(1.2);
  }
}
form {
}
label, .label {
  font-weight: bold;
  color: $purple-1;
  cursor: pointer;
  margin-bottom: $gutter/2;
  padding: 0;
  display: inline-block;
  @include font-size(1.4);
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }
}
.option {
  margin-right: $gutter/2;
}
.form-control {
  padding: $gutter/2 $gutter/1.5;
  height: 40px;
  border: 1px solid darken($asphalt-1, 10%);
  @include font-size(1.4);
  @include box-shadow(2px, 0, 0, rgba(#000, .05));
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }
  &:focus {
    border: 1px solid darken($asphalt-1, 30%);
    border: 1px solid $purple-1;
    background: $yellow-1;
    @include box-shadow(2px, 0, 0, rgba(#000, .07));
  }
}

.features {
  text-align: center;
  background: $white;
}
.features-img {
  display: block;
  max-width: 110px;
  margin: $gutter*2 auto;
}
.profile-single {
  padding-bottom: $gutter*2;
}
.profile-text {
  margin-top: $gutter*2;
}
.profile-pic {
  display: block;
  max-width: 120px;
  margin: 0 auto $gutter auto;
  @include border-radius(100%);
  &.profile-pic-big {
    max-width: 170px;
  }
}
.start-trial {
  & a {
    text-decoration: none;
  }
  & .h5 {
    margin-bottom: $gutter/2;
    @include opacity(0.6);
  }
  & p {
    color: $white;
    margin: 0;
    &:hover {
      color: $white;
    }
  }
}
.ico-arrow-right-r {
  padding-right: $gutter*1.5;
  position: relative;
  &:after {
    position: absolute;
    background: url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/ico-arrow-right.png") no-repeat 0 0;
    background-size: contain;
    top: 50%;
    margin-top: -10px;
    right: 0;
    content: "";
    height: 19px;
    width: 19px;
  }
}




a.box {
  &:link {
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: none;
    //@include box-shadow(0, 0, 12px, darken($asphalt-1, 20%));
    @include box-shadow(0, 0, 12px, rgba(#000, .25));
  }
  &:hover {
    .box-title {
      //color: $red-1;
    }
    .box-label {
      background: shade($red-1, 10%);
    }
  }
}
.box {
  display: block;
  background: $white;
  position: relative;
  margin: $gutter*.5 0 $gutter 0;
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, darken($asphalt-1, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    margin: $gutter*.5 0 $gutter 0;
  }
  &.box-course {
    text-align: center;
    margin-top: $gutter*1.5;
    &:after {
      position: absolute;
      top: 0;
      left: 50%;
      content: "";
      height: 30px;
      width: 30px;
      margin-left: -15px;
      margin-top: -15px;
    background: url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/ico-course.png") repeat-x 50% 0;
      background-size: contain;
    }
    & .box-inner {
      padding-top: $gutter*2.5;
    }
  }
}
.box-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
}
.box-inner {
  padding: $gutter*2 $gutter/2;
}
.box-desc {
  margin: $gutter/2 0 0 0;
}
.box-label {
  background: $red-1;
  color: $white;
  padding: $gutter/1.45;
  letter-spacing: .2rem;
  text-transform: uppercase;
  @include transition(background-color .2s ease);
  @include border-bottom-radius(4px);
  @include font-size(1.1);
  @include breakpoint(sm-min) {
    @include font-size(1.2);
  }
}
.course-topics-list {
  list-style: none;
  //margin: 0 0 $gutter*2 0;
  padding-left: 0;
}
.box-item {
  display: block;
  border: 0;
  width: 100%;
  text-align: left;
}
a.box-item {
  color: $purple-1;
  text-decoration: none;
  display: block;
  border: 1px solid $white;
  @include transition(border .1s ease);
  &:hover, &:active {
    border: 1px solid $purple-1;
    @include box-shadow(0, 0, 12px, darken($asphalt-1, 15%));
  }
}
.box-item {
  display: block;
  background: $white;
  position: relative;
  margin: 0 0 $gutter/2 0;
  display: block;
  position: relative;
  color: $purple-1;
  padding: $gutter/1.5 $gutter $gutter/1.5 $gutter*2.5;
  @include clearfix();
  @include border-radius(5px);
  @include box-shadow(0, 0, 3px, darken($asphalt-1, 20%));
  @include transition(box-shadow .1s ease);
  &:before {
    position: absolute;
    background: url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/ico-arrow-right-dark.png") no-repeat 0 0;
    background-size: contain;
    top: 50%;
    margin-top: -11px;
    left: $gutter/1.5;
    content: "";
    height: 22px;
    width: 22px;
  }
  @include breakpoint(sm-min) {
    padding: $gutter/1.25 $gutter $gutter/1.5 $gutter*2.5;
    &:before {
      left: $gutter/1.5;
    }
  }
  &.upcoming {
    &:before {
      @include opacity(0.4);
    }
  }
  &.box-topic-item {

  }
}
.box-topic-item {
  padding-right: $gutter*2;
}
.time {
  position: absolute;
  top: 16px;
  right: 15px;
  color: tint($purple-1, 50%);
}
.side-meta {
  color: tint($purple-1, 50%);
  display: block;
  text-align: left;
  @include breakpoint(sm-min) {
    text-align: right;
  }
}
.lined-list {
  border-top: 1px solid rgba($gray-1, .15);
  padding: 0;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
.lined-list-item {
  display: block;
  list-style: none;
  margin: 0;
  padding: $gutter/2 $gutter/2 $gutter/2 0;
  border-bottom: 1px solid rgba($gray-1, .15);
  position: relative;
}
.collapse-list {
  ul {
    margin-top: -10px;
    border-top: 0;
  }
  li {
    padding-left: $gutter*.75;
    padding-right: $gutter*.75;
  }
}
.sign-up {
  background: $asphalt-1 url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/tools-bg2.jpg") no-repeat 50% 50%;
  @include image-2x("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/tools-bg2%402x.jpg", 1620px, 168px);
}
.tutor-profile-pic {
  float: left;
  max-width: 50px;
  border: 1px solid $purple-1;
  margin-top: -15px;
  margin-right: 10px;
}
.tutor-profile-title {
  padding-top: $gutter;
  margin: 0;
}
.number {
  display: inline-block;
  border: 1px solid $purple-1;
  width: 40px;
  height: 40px;
  color: $white;
  line-height: 40px;
  margin-right: $gutter/2;
  @include border-radius(100%);
  color: $purple-1;
}
// 4. Print
@media print {
  * {
    background: #fff;
    color: #333;
  }
  html {
    font: 100%/1.5 georgia, serif;
  }
}

// 5. States
.is-disabled {
  pointer-events: none;
  @include opacity(0.5);
}
.is-lg-right {
  @include breakpoint(sm-min) {
    //float: right;
  }
}
.is-visually-hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
.is-text-disabled {
  color: #999;
}
.is-text-white {
  color: $white;
}
.is-bg-red {
  background: $red-1;
}
.is-bg-purple {
  background: $purple-1;
}
.is-bg-cyan {
  background: $cyan-1;
}
.is-bg-gray {
  background: $gray-1;
}
.is-bg-asphalt {
  background: $asphalt-1;
}
.is-bg-white-to-asphalt {
  @include gradient-vertical($white, $asphalt-1, 0%, 50%);
}
.is-bg-white {
  background: $white;
}
.is-bg-yellow {
  background: $yellow-1;
}
.is-bg-green {
  background: $green-1;
}
// 6. Vendor

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//  Debugging

// * { outline: 1px solid red }

/*
@include breakpoint(xs-min) {
  body {
    position: relative;
    &:after {
      content: "XS";
      position: fixed;
      z-index: 10000;
      display: block;
      top: 5px;
      right: 5px;
      font-size: 8px;
    }
  }
}
@include breakpoint(sm-min) {
  body {
    &:after {
      content: "SM";
    }
  }
}
@include breakpoint(md-min) {
  body {
    &:after {
      content: "MD";
    }
  }
}
@include breakpoint(lg-min) {
  body {
    &:after {
      content: "LG";
    }
  }
}
*/