// Bootstrap customisation - see
// https://github.com/twbs/bootstrap-sass/blob/master/templates/project/_bootstrap-variables.sass

$ls-background-color: #f9f9f9;

$input-color-placeholder: #ccc;
$link-color: #222;
//$btn-success-bg: #5391cf;

$navbar-inverse-bg: #293c46; /*#125;*/
$navbar-inverse-link-active-bg: #293c46;
$navbar-inverse-color: #293c46;
$navbar-inverse-link-color: #eee; /*#89A;*/
//$navbar-inverse-link-hover-bg: #eb4242;
//$navbar-inverse-brand-hover-bg: blue;
$navbar-inverse-border: $ls-background-color;
$navbar-height: 65px;

// Our colour palette
$light-text: #f1f6fd;
$dark-text: #222222;
$ls-green: #21CE99;

//$well-bg: #e5e5e5;

// Fonts

//@font-face {
//  font-family: 'museo-sans';
//  src: font-url('museo-sans.eot');
//  src: font-url('museo-sans.eot?#iefix') format('embedded-opentype'),
//       font-url('museo-sans.woff2') format('woff2'),
//       font-url('museo-sans.woff') format('woff'),
//       font-url('museo-sans.ttf') format('truetype');
//}
//@font-face {
//  font-family: 'EffraRegular';
//  src: font-url('EffraRegular.eot');
//  src: font-url('EffraRegular.eot?#iefix') format('embedded-opentype'),
//       font-url('EffraRegular.woff2') format('woff2'),
//       font-url('EffraRegular.woff') format('woff'),
//       font-url('EffraRegular.ttf') format('truetype');
//}
//@font-face {
//  font-family: 'BryantWebRegular';
//  src: url(font-path('BryantWebRegular.eot'))  format('eot'),
//       url(font-path('BryantWebRegular.woff')) format('woff'),
//       url(font-path('BryantWebRegular.ttf'))  format('truetype');
//}
//@font-face {
//  font-family: 'BryantWebRegularAlternative';
//  src: url(font-path('BryantWebRegularAlt.eot'))  format('eot'),
//       url(font-path('BryantWebRegularAlt.woff')) format('woff'),
//       url(font-path('BryantWebRegularAlt.ttf'))  format('truetype');
//}

// Load Bootstrap 3
@import "bootstrap-sprockets";
@import "bootstrap";

// Further customisation

body {
  margin-top: 65px;
  font-family: 'museo-sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .intro-heading {
    font-weight: 300;
    font-family: 'museo-sans', 'Helvetica Neue', 'helvetica', 'arial', sans-serif;
  }
  background-color: $ls-background-color;
}

tr {
  vertical-align: top;
}

.text-dark {
  color: $link-color !important;
}

.text-light {
  color: $light-text !important;
}

.navbar, .navbar-header, .intro-text {
  font-family: 'museo-sans', BryantWebRegularAlternative, BryantWebRegular, 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.navbar-logo {
  width: 65px;
  padding: 0;
  @media (max-width: 780px){
    padding-left: 20px;
  }
  img {
    $desired-logo-height: 45px;
    $vertical-padding: ($navbar-height - $desired-logo-height)/2;
    height: $navbar-height;
    padding: $vertical-padding 0;
  }
}

.special-navbar {
  padding: 0 30px;
  .navbar-logo {
    padding: 0;
    @media (max-width: 780px){
      padding-left: 0px;
    }
  }
}

ul.dropdown-menu li, ul.dropdown-menu li a {
  @media (max-width: 780px) {
    color: $light-text !important;
    background-color: $navbar-inverse-bg;
  }
}

.navbar-footer {
  margin: 100px 0 0;
  border-radius: 0;
  border: 0px solid transparent;
}

.navbar-footer, .navbar-footer a {
  background-color: #1e2b33;// #343338;
  color: #aaa;
  a:hover {
    background-color: #A33 !important;
    color: #ccc !important;
  }
}

#flash_message {
  padding-top: 10px;
  .success, .error, .warning {
    border-radius: 0;
    color: #ffffff;
  }
  .success {
    background-color: $ls-green;
  }
  .error {
    background-color: #ef5f5f;
  }
  .warning {
    background-color: #f0ad4e;
  }
}

//.subscription-panel {
  //background-color: #faebd7;
//}

//.subscription-panel.active {
  //background-color: lightgreen;
//}

.orange-background {
  background-color: #ee9a3b;
}

.blue-hover:hover {
 // background-color: #5391cf !important;
}

.navbar .nav > li > a {
  -webkit-transition: all ease .4s;
     -moz-transition: all ease .4s;
       -o-transition: all ease .4s;
          transition: all ease .4s;
}

.subscription-outer-panel:hover {
  cursor: pointer;
  margin-top: -10px;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}

#student-sign-up .well {
  margin-bottom: 40px;
}

#student-sign-up form > .row .col-sm-8.col-sm-offset-2 .well:first-child {
  margin-top: 80px;
}
.no-top-gap {
  margin-top: 0;
  padding-top: 0;
}

.code-input {
  font-family: Consolas, Lucida Console, monospace;
  background-color: #333;
  color: #0e0;
}


.quiz-well {
  font-size: 20px;
  border-radius: 0;
  margin-bottom: 1px;
  background-color: white;
  border: 0;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  .h1 {
    font-size: 25px;
  }
  .col-xs-11 {
    font-size: 16px;
  }
  .image {
    padding: 20px;
  }
}

.mathjax {
  font-size: 15px;
}

.quiz-answer-clickable {
  transition: all 0.25s;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

// Added in to support special styling for static pages

nav.navbar.navbar-transparent {
  transition: all 1s;
  background-color: transparent;
  text-shadow: 0 0 4px black;
  border-bottom: 0 solid red;
  a {
    color: white;
    &:hover {
      background-color: #293c46;
      color: #293c46;
    }
  }
  ul li.active a {
    background-color: rgba(255, 120, 40, 0.4);
    color: white;
    &:hover {
      background-color: rgba(255, 120, 40, 0.8);
      color: white;
    }
  }
}

.navbar.navbar-inverse.navbar-fixed-top ul li.active a {
  border-bottom: 2px solid #ef5f5f;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px;
  max-width: 75px;
}

.navbar.navbar-inverse.navbar-fixed-top ul > li:not(.active) {
  a {
    color: white;
    &:hover {
      color: #eb4242;
      transition: all 1s;
    }
  }
  ul.dropdown-menu {
    li a {
      color: #222222;
    }
  }
}

.navbar-shrink {
  transition: all 1s;
  min-height: 50px;
  height: 50px;
  line-height: 20px;
  padding: 10px 0;
  background-color: rgba(34,34,34,0.85) !important;
  font-weight: 700;
  ol, li {
    //min-height: 20px;
    line-height: 20px;
    //padding: 5px 20px;
  }
  li a, a.navbar-brand {
    padding: 5px 20px;
    line-height: 20px;
    height: 30px;
    &:hover {
      border-bottom: 3px solid green;
      background-color: transparent !important;
    }
  }
  ul li.active a {
    background-color: transparent !important;
    border-bottom: 3px solid red;
  }
}

body.no-top-margin {
  margin-top: 0 !important;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

header {
  width: 100%;
  height: 600px;
  background: black no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
  text-shadow: 0 0 4px black;
  padding-top: 100px;
  text-align: center;
  .intro-text {
    text-transform: none;
    background-color: transparent;
    // background: rgba(0,0,0, 0.3);
    padding: 100px 0 50px 0;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 1.2em;
  }
  .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
  }
  .intro-heading {
    font-size: 60px;
    font-weight: 500;
    line-height: 65px;
    margin: 20px 0;
  }
  .btn {
    font-size: 125%;
    padding: 10px 20px;
  }
}

.table > thead > tr > th {
  border-top: 0 solid red !important;
}

.label {
  margin-right: 4px;
}

.well-black {
  background-color: #ccc;
  border-radius: 20px;
  .progress {
    margin-bottom: 0;
  }
}

.no-body {
  padding: 0;
  margin: 0;

  .list-group {
    margin: 0;
    border-radius: 0;
    //padding-bottom: 5px;

    .list-group-item {
      border-radius: 0;
    }
  }
}

.glyphicon-ok-sign {
  color: $ls-green;
}

.glyphicon-record {
  color: #E7E4E4;
}

.side-nav-chevron {
  color: #EF5F5F;
}

.panel-body .col-sm-4 {
  vertical-align: middle;
  .h3 {
    text-transform: capitalize !important;
    margin: 5px 0;
  }
  .progress {
    margin: 7px 0;
  }

}

.new-side-nav {
  position: fixed;
  width: 22%;
}

.small-nav {
  padding-bottom: 50px;
  padding-top: 35px;
  .panel-default {
    border-radius: 0;
  }
  .panel-heading {
    background-color: #E7E4E4;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    p {
      padding-top: 10px;
      font-size: 18px;
    }
    &:hover, &:focus {
      background-color: #EFEFEF;
      color: #222222;
      text-decoration: none;
    }
    &:active {
     background-color: #eeeeee;
     color: #222222;
    }
  }
  .jumbo-quiz .list-group-item {
    margin-top: 1px;
  }
}

.side-nav {
  position: fixed;
  top: 150px;
  width: 22%;
  bottom: 0;
  overflow-y: hidden;
  border: 0;
  .panel-heading {
    background-color: #E7E4E4;
    border: 0;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    p {
      padding-top: 10px;
      font-size: 18px;
    }
  }
  .panel-body {
    margin: 2px 0;
    border: 0;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .list-group-item {
    border: 0;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 1px 0;
    p {
      margin: 0;
      padding: 10px;
    }
    .jumbo-quiz {
      p {
        margin: 0;
        padding: 10px;
      }
    }
  }
}

.content-area {
  padding-right: 40px;
  bottom: 10px;
  h1 {
    margin-top: 12px;
    margin-bottom: 23px;
  }
  @media (max-width: 968px){
    padding-right: 15px;
  }
}

.scrollbar {
  overflow-y: scroll;
  //  max-height: 400px;
  max-height: 100%;
}

.library-image {
  margin-top: 50px;
}

.library-panel {
  padding: 0%;
}

.panel-default {
  border-radius: 0;
  .panel-heading {
    text-decoration: none;
    border-radius: 0;
  }
  .clickable-panel {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.panel-list {
  border: none;
  border-radius: 0;
  margin-bottom: 2px;
  .panel-title {
    font-size: 1.25em;
  }
  h3 {
    margin: 0;
  }
  .panel-body{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    padding: 2.5em;
    text-decoration: none;
    background-color: white;
    margin-bottom: 1px;
    &:hover, &:focus, &:active {
      background-color: #ef5f5f;
      color: #f1f6fd;
      text-decoration: none;
    }
  }
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.progress-circle {
  text-align: center;
  p {
    margin-top: 13px;
  }
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-color: #5391cf;
}

.btn-ls-default {
  border-radius: 0;
  background-color: #ef5f5f;
  color: #f1f6fd;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  &:hover, &:focus {
    background-color: darken(#ef5f5f, 5);
    color: #f1f6fd;
    text-decoration: none;
  }
  &:active {
    background-color: #ef5f5f;
    color: #f1f6fd;
  }
  .glyphicon {
    font-size: 0.9em;
  }
}

.btn-back {
  border-radius: 0;
  background-color: #fff;
  color: #222222;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  @media (max-width: 780px) {
    margin-left: 20px;
  }
  &:hover, &:focus {
    background-color: #ef5f5f;
    color: $light-text;
    text-decoration: none;
  }
  .glyphicon {
    font-size: 0.9em;
  }
}

.courses-btn {
  border-radius: 0;
  background-color: #E3E1E1;
  color: #222222;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  &:hover, &:focus {
    background-color: #ffffff;
    color: #222222;
    text-decoration: none;
  }
  .glyphicon {
    font-size: 0.9em;
  }
}

.progress {
  border-radius: 10px;
  .quiz-progress-bar, .progress-bar {
    border-radius: 10px;
    background-color: $ls-green;
    color: $light-text;
  }
}

.library-heading {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dashboard-well {
  margin-top: 20px;
  padding-bottom: 25px;
  border-radius: 0;
  background-color: #ffffff;
  h1 {
    margin: 60px 20px 30px 20px;
  }
}

.courses-title {
  @media (max-width: 768px){
    font-size: 20px;
  }
}

.subject-headings {
  font-size: 22px
}

@media screen {
  .print-only {
    display: none;
  }
}

@media print {
  .print-hidden {
    display: none;
  }
}

.cme-nav {
  padding-bottom: 75px;
}

.user-pagination .pagination {
  margin: 0;
}

.form-spacing {
  @media (max-width: 767px) {
    .form-control {
      margin-bottom: 15px;
    }
  }
}

.sign-up-well {
  border-radius: 0;
  background-color: #f5f5f5;
  margin-top: 30px !important;
  .sign-up-heading {
    color: $light-text;
    background-color: #5cc8cb;
    //max-width: 400px;
    border-radius: 28px;
    //box-shadow: 0 2px 1px darken(#5cc8cb, 15);
    h1 {
      //padding: 10px 0;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .form-control {
    border-radius: 6px;
    //min-height: 45px;
    height: 45px;
  &:focus {
    border-color: #37ba8e;
    box-shadow:  0 0 0;
  }
  }
}


.subscription-panel {
  border: 0;
  color: $light-text;
  border-radius: 8px;
  .panel-heading {
    font-weight: bold;
    text-transform: uppercase;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #5cc8cb;
    p {
      margin-bottom: 0;
    }
  }
  .panel-body {
    background-color: #66d9dc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.subscription-panel.active {
  .panel-heading {
    background-color: #37ba8e;
  }
  .panel-body {
    background-color: #21ce99;
  }
}

.sign-up-btn {
  @media (max-width: 767px) {
    max-width: 300px;
  }
}