////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 0. Imports
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "jquery-tosrus";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "mixins.scss";
@import "extras.scss";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "summernote";
@import "remodal-default-theme";
@import "remodal";
@import "jquery-tosrus";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 1. Colours & Fonts
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$sans-font: 'Rubik', Montserrat, HelveticaNeue;
$gutter: 20px;
$white: #fff;

// Primary Colours
$colour-1: #6E6D75;
$colour-2: #ecf0f1;
$colour-3: #EFF3F6;
$colour-4: #F8FAFF;
$colour-5: #C0CFD5;
$colour-6: #edeff0;
$colour-7: #3E3F5B;
$colour-8: #4E3F5B;
$colour-9: rgb(83, 84, 112);
$colour-10: #9E9FAD;
$colour-11: lighten($colour-7, 5%);
$colour-12: #EE5457;
$colour-13: #3EB9CE;
$colour-14: #FAFEC0;
$colour-15: #54a4ee;
$colour-16: #34495e;
$colour-17: #D0F6BD;
$colour-18: #00cc66;
$colour-19: #FED4CD;
$colour-20: #3D3F5B; // Ebow Text Colour


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 2. Body & Layouts
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
