////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 0. Imports
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "mixins.scss";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"); // Is this needed anymore??
@import "summernote";
@import "remodal-default-theme";
@import "remodal";
@import "jquery-tosrus";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 1. Colours & Fonts
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$sans-font: 'Rubik', HelveticaNeue;
$gutter: 20px;
$white: #fff;
$purple1: #3D3D5B;
$red1: #EF5153;
$cyan1: #35B8CF;

// Primary Colours
$colour-1: #6E6D75;
$colour-2: #ecf0f1;
$colour-3: #EFF3F6;
$colour-4: #F8FAFF;
$colour-5: #C0CFD5;
$colour-6: #edeff0;
$colour-7: #3E3F5B;
$colour-8: #4E3F5B;
$colour-9: rgb(83, 84, 112);
$colour-10: #9E9FAD;
$colour-11: lighten($colour-7, 5%);
$colour-12: #EF5153;
$colour-13: #3EB9CE;
$colour-14: #FAFEC0;
$colour-15: #54a4ee;
$colour-16: #34495e;
$colour-17: #D0F6BD;
$colour-18: #00cc66;
$colour-19: #FED4CD;
$colour-20: #3D3F5B; // Ebow Text Colour
$colour-21: #2c9676;
$colour-22: #ED3438;
$colour-23: #F9845B;
$colour-24: #eb7728;
$colour-25: #e59a13;
$colour-26: #5cb860;
$colour-27: #20898c;
$colour-28: #2c9676;
$colour-29: #c38cd4;
$colour-30: #c38cd4;
$colour-31: #e15258;
$colour-32: #c25975;
$colour-33: #f092b0;
$colour-34: #cedbe4; // Modal background



html {
  background: $colour-3;
  .margin-top {                   // These Ensure content is not hidden behind Navbar
    @include breakpoint(xs-min) {
      margin-top: 40px;
    }
    @include breakpoint(sm-min) {
      margin-top: 60px;
    }
    @include breakpoint(lg-min) {
      margin-top: 60px;
    }
  }

}

body {
  font-family: $sans-font;
  background: $white;
  color: $colour-20;
  font-size: 18px;
  line-height: 1.333em;
  font-weight: 300;
  @include breakpoint(md-min) {
    margin: 0 auto;
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 2. Standard Text Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

img{ max-width: 100%;}
* { margin: 0 auto;}
:focus{ outline: none;}
.wrapper{
  max-width: 970px;
  padding: 0 10px;
}

a {
  color: $colour-20;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: inherit;
  //text-decoration: underline;
}
a:active,
a:focus { color: inherit;
  text-decoration: none;
}
a:active {
  color: $colour-7;
}
blockquote {
  border-left: 2px solid $colour-12;
}

a, button, input {
  outline: none;
}

// This changes the onclick behaviour of quiz answers
//a, a *, button, input, div, span {
  //transition: color 0.2s, background-color 0.2s, border-color 0.2s, opacity 0.2s;
//}

ul, li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

p, .p, ol, .ol, address, dl {
  color: $colour-20;
  margin: 0 0 $gutter 0;
  @include font-size(1.4);
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }
}
p:last-child {
  margin-bottom: 0;
}

.u { text-decoration: underline; }
a.u:hover { text-decoration: none; }
.hu { text-decoration: none; }
a.hu:hover { text-decoration: underline; }


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  position: relative;
  margin: 0;
  padding: 0 0 5px 0;
  display: block;
  font-weight: normal;
  &.h-white {
    color: $white;
  }
  &.preview-mode {
    color: $colour-21;
  }
}
h1, .h1 {
  font-weight: normal;
  color: $colour-7;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 0;
  line-height: 1.3;
  @include font-size(2.6);
  @include breakpoint(md-min) {
    @include font-size(3.6);
  }
}
h2, .h2 {
  font-weight: normal;
  color: $colour-7;
  line-height: 1.2;
  @include font-size(2.6);
  @include breakpoint(md-min) {
    @include font-size(3.0);
  }
  &.upcase {
    text-transform: uppercase;
  }
}
h3, .h3 {
  font-weight: normal;
  color: $colour-7;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 0;
  @include font-size(2.4);
}
h4, .h4 {
  color: $colour-7;
  font-weight: bold;
  @include font-size(1.6);
  @include breakpoint(md-min) {
    @include font-size(1.8);
  }
}
h5, .h5 {
  color: lighten($colour-7, 40%);
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 1.5;
  margin-top: 0;
  @include font-size(1.1);
  @include breakpoint(md-min) {
    @include font-size(1.3);
  }
}
h6, .h6 {
  font-weight: bold;
  @include font-size(1.4);
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }
}


hr {
  border-color: lighten($colour-7, 60%);
  margin: $gutter*2 0;
}

.h-separator {
  padding-bottom: $gutter*1.5;
  &:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: $colour-13;
    bottom: 0;
    @include border-radius(10px);
  }
  &.h-separator-left {
    &:after {
      left: 0;
    }
  }
  &.h-separator-center {
    &:after {
      left: 50%;
      margin-left: -30px;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 3. Form Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.form-group {
  margin: 0 0 20px 0;
}
label, .label {
  font-weight: bold;
  color: $colour-7;
  cursor: pointer;
  margin-bottom: $gutter/2;
  padding: 0;
  display: inline-block;
  @include font-size(1.4);
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }
}
.form-control {
  display: block;
  background: #fff;
  color: #666;
  font-size: inherit;
  font-weight: 300;
  text-align: left;
  line-height: 1.222em;
  padding: $gutter/2 $gutter/1.5;
  border-radius: 0.333em;
  border: none;
  height: 45px;
  width: 100%;
  &:focus {
    background: $colour-14;
    @include box-shadow(2px, 0, 0, rgba(#000, .07));
  }
}
// Makes input fields fill entire with of the form div
.full-width {
  width: 100%;
}

.checkbox {
  padding-top: 25px;
}
.selected {
  background: $colour-17;
  color: $white;
}
.image-label {
  font-weight: bold;
  color: $colour-7;
  cursor: pointer;
  margin-bottom: $gutter/2;
  padding: 0;
  @include font-size(1.4);
  @include breakpoint(md-min) {
    @include font-size(1.6);
  }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 4. Flash Messages
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.alert.success {
  background: $colour-17;
  margin-bottom: 0;
}
.alert.error {
  background: $colour-12;
  color: $white;
  border-radius: 0;
  margin-bottom: 0;
}
.alert.warning {
  background: #FFD466;
  color: $text-color;
  border-radius: 0;
  margin-bottom: 0;
}
.alert.alert-info {
  background: $colour-13;
  margin-bottom: 0;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 5. Standard Button and Link Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.btn {
  @include font-size(1.1);
  @include transition(background-color .2s ease);

  @include breakpoint(xs-min) {
    display: inline-block;
  }

  @include breakpoint(sm-min) {
    display: inline-block;
    @include font-size(1.2);
  }

  display: block;
  height: 40px;
  padding: 0 $gutter;
  line-height: 40px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  border: 0;

  &:link, &:visited {
    text-decoration: none;
    color: $colour-12;
  }
  &:hover {
    color: shade($colour-12, 20%);
  }
  &:active {
    @include box-shadow(0, 0, 0, 0);
  }
  &.btn-red {
    background: $colour-12;
    color: $white;
    &:hover {
      background: darken($colour-12, 15%);
    }
    &:active {
      background: ($colour-12);
    }
  }
  &.btn-orange {
    background: $colour-24;
    color: $white;
    &:hover {
      background: shade($colour-24, 10%);
    }
    &:active {
      background: ($colour-24);
    }
  }
  &.btn-green {
    background: $colour-26;
    color: $white;
    &:hover {
      background: shade($colour-26, 10%);
    }
    &:active {
      background: ($colour-26);
    }
  }
  &.btn-wide {
    width: 100%;
    height: 60px;
    line-height: 60px;

  }
  &.btn-lg-text {
    line-height: 60px;
    font-size: large;
  }
  &.btn-purple {
    background: $colour-7;
    color: $white;
    &:hover {
      background: shade($colour-7, 10%);
    }
    &:active {
      background: ($colour-7);
    }
  }
  &.btn-cyan {
    background: $colour-13;
    color: $white;
    &:hover {
      background: darken($colour-13, 6%);
    }
    &:active {
      background: ($colour-13);
    }
  }
  &.btn-secondary {
    @include box-shadow(0, 0, 0, 0);

    color: $colour-12;
    background: transparent;
    border: 2px solid $white;
    line-height: 38px;
    &:hover, &:active {
      background: transparent;
      color: shade($colour-12, 20%);
    }
    &.btn-red{
      color: $red1;
      border: 2px solid $red1;
      &:hover {
        background: transparent;
        color: $colour-24;
        border: 2px solid $colour-24;
        //border: 1px solid shade($colour-12, 20%);
      }
    }
    &.btn-green {
      color: $colour-18;
      border: 2px solid $colour-18;
    }
    &.btn-purple {
      color: $colour-7;
      border: 2px solid $colour-7;
      &:hover {
        background: transparent;
        color: shade($colour-7, 20%);
        border: 2px solid shade($colour-7, 20%);
      }
    }
    &.btn-cyan {
      color: $colour-13;
      border: 2px solid $colour-13;
      &:hover {
        background: transparent;
        color: shade($colour-13, 20%);
        border: 1px solid shade($colour-13, 20%);
      }
    }
  }
  &.btn-small {
    line-height: 28px;
    height: 28px;
  }
  &.btn-lg {
    width: 50%;
    height: 60px;
    line-height: 60px;
  }
  &.btn-list {
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }

}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  margin-left: 0; // for horizontal forms and .input-group
}


// Landing Page BTNs
.lsbtn-base {
  text-align: center;
  clear: both;
}

.lsbtn {
  display: inline-block;
  background: $red1;
  color: $white;
  text-transform: uppercase;
  font-size: 0.889em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 1.375em;
  padding: 1.5em 2em;
  border-radius: 0.375em;
  border: none;
}
.lsbtn:hover {
  color: #fff;
  background: $red1;
  text-decoration: none;
}

.lsbtn.v2 {
  border: solid 0.25em #fff;
  background: none;
  border-radius: 0.62em;
}
.lsbtn.v2:hover {
  background: rgba(255,255,255,0.2);
}

.lsbtn.v3 {
  border: solid 0.25em #3D3D5B;
  background: none;
  border-radius: 0.62em;
  color: $purple1;
}
.lsbtn.v3:hover {
  background: $purple1;
  color: #fff;
}

.lsbtn.v4 {
  border: solid 0.25em $cyan1;
  background: none;
  border-radius: 0.62em;
  color: $cyan1;
}
.lsbtn.v4:hover {
  background: $cyan1;
  color: #fff;
}

.pagination > li > a, .pagination > li > span {
  padding: 10px 18px;
  color: $colour-7;
  &:hover {

  }
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $colour-5;
  border-color: $colour-5;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 6. Page Layouts and Spacing
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.l-section {
  background: $colour-3;
  padding: 5rem 0;
  @include breakpoint(md-min) {
    padding: 10rem 0;
  }
}
.l-section-small {
  background: $colour-3;
  padding: 3rem 0;
  @include breakpoint(md-min) {
    padding: 4rem 0;
  }
}
.l-section-footer-pages {
  padding: 3rem 0;
  @include breakpoint(md-min) {
    padding: 4rem 0;
  }
}

.l-wrap {
  @include breakpoint(sm-min) {
    padding: 0 $gutter;
  }
  margin: 0 auto;
  @include breakpoint(md-min) {
    max-width: 1200px;
  }
}
.l-wrap-small {
  padding: 0 $gutter/2;
  @include breakpoint(sm-min) {
    padding: 0 $gutter/2;
  }

  @include breakpoint(md-min) {
    padding: 0 $gutter/2;
    max-width: 1000px;
  }

}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


// Padding
.l-margin-bottom {
  margin-bottom: $gutter;
}
.l-margin-bottom-big {
  margin-bottom: $gutter*2;
}
.l-margin-bottom-huge {
  margin-bottom: $gutter*2.5;
}
.l-margin-top {
  margin-top: $gutter;
}
.l-margin-top-small {
  margin-top: $gutter/2;
}
.l-margin-top-big {
  margin-top: $gutter*2;
}
.l-margin-top-xl {
  margin-top: $gutter*2.5;
}
.l-margin-top-huge {
  margin-top: $gutter*4;
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 7. Standard Container Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Used for all white content boxes that contain index tables or show tables
.table-box {
  display: block;
  background: $white;
  position: relative;
  margin: 0 0 $gutter/2 0;
  color: $colour-7;
  padding: $gutter/1.5 $gutter $gutter/1.5 $gutter*2.5;
  @include clearfix();
  @include border-radius(5px);
  @include box-shadow(0, 0, 3px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  &:before {
    position: absolute;
    background: 0;
    background-size: contain;
    top: 50%;
    margin-top: -11px;
    left: $gutter/1.5;
    content: "";
    height: 22px;
    width: 22px;
  }
  @include breakpoint(sm-min) {
    padding: $gutter/1.25 $gutter $gutter/1.5 $gutter*2.5;
    &:before {
      left: $gutter/1.5;
    }
  }
}


// Drag & Drop Table Sorting CSS

/* For use with table_sorting.js */
/* line 1, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
body.dragging, body.dragging * {
  cursor: move !important;
}
/* line 4, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
}
/* line 10, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical {
  margin: 0 0 9px 0;
  min-height: 10px;
}
/* line 13, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li {
  display: block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
  color: #0088cc;
  background: #eeeeee;
}
/* line 20, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 25, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: red;
  border-right: none;
}
/* line 32, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol {
  list-style-type: none;
}
/* line 34, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol i.icon-move {
  cursor: pointer;
}
/* line 36, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol li.highlight {
  background: #333333;
  color: #999999;
}
/* line 39, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol li.highlight i.icon-move {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.sorted_table tr span.glyphicon.glyphicon-sort {
  cursor: pointer;
}
.sorted_table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
.sorted_table tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  left: -5px;
  border-right: none;
}
// Styles for JS sortable
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 8. Library Pages Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Used on library#index to display each Group in a box as a link
a.box {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: none;
    @include box-shadow(0, 0, 12px, rgba(#000, .25));
  }
  &:hover {
    .box-label {
      background: $colour-12;
    }
  }
}
.box {
  display: block;
  background: $white;
  position: relative;
  margin: $gutter*.5 0 $gutter 0;
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    margin: $gutter*.5 0 $gutter 0;
  }
  &.box-course {
    text-align: center;
    margin-top: $gutter;
    .image {
      position: absolute;
      top: 0;
      left: 50%;
      content: "";
      height: 100px;
      width: 100px;
      margin-left: -45px;
      margin-top: -45px;
      background: asset-url("graph_1.png") repeat-x 50% 0;
      background-size: contain;
    }
  }
}
.box-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
}
.box-inner {
  padding: $gutter $gutter/2;
  height: 225px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-label {
  background: $white;
  color: $white;
  padding: $gutter/1.45;
  margin-top: 10px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  @include transition(background-color .2s ease);
  @include border-bottom-radius(4px);
  @include font-size(1.1);
  @include breakpoint(sm-min) {
    @include font-size(1.2);
  }
}

.group_show {
  background: asset-url('group_show_1.png') 50% 0 no-repeat;
  color: $white;
  background-size: cover;
  min-height: 200px;
  @include breakpoint(md-min) {
    background: asset-url('group_show_1.png') 50% 25 no-repeat;
    color: $white;
    background-size: cover;
    min-height: 200px;
  }
}


// Used on library#group_show to display each Course in a box as a link
// Used on dashboard#student to display each Course in a panel as a link
a.card {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: none;
    @include box-shadow(0, 0, 12px, rgba(#000, .25));

  }
  &:hover {
    .card-title {
      //color: $colour-12;
    }
    .card-label {
      background: darken($colour-12, 5%);

    }
  }
}

.card{
  display: block;
  background: $white;
  position: relative;
  margin: $gutter*.5 0 $gutter 0;
  text-align: left;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    margin: $gutter*.5 0 $gutter 0;
  }
  &.card-course {
    text-align: left;
    margin-top: $gutter;
    & .card-inner {
      padding: $gutter $gutter;
      height: 200px;
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

  }
  &.card-library {
    text-align: left;
    margin-top: $gutter;
    & .card-inner {
      padding: $gutter;
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

    }
  }
  &.card-dashboard {
    text-align: left;
    margin-top: $gutter;
    & .card-inner {
      padding: $gutter;
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

    }
  }
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
}
.card-outer {
  height: 275px;
}
.card-library-outer {
  height: 195px;
}
.card-library-outer-cover {
  height: 150px;
  @include breakpoint(sm-min) {
    height: 100px;
  }
  .enroll-section {
    padding-top: $gutter;
    @include breakpoint(sm-min) {
      padding-top: 0;
    }
  }
}
.card-desc {
  margin: 0 0 0 0;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-info {
  padding: $gutter/2 $gutter $gutter $gutter;
}
.card-form {
  padding: $gutter/2 $gutter $gutter $gutter;
}
.days-left {
  @include border-radius(16px);
  border: 2px dashed $colour-13;
  //width: 80%;
}
.card-label {
  background: $colour-12;
  color: $white;
  padding: $gutter/1.45;
  @include transition(background-color .2s ease);
  @include border-bottom-radius(4px);
  @include font-size(1.1);
  @include breakpoint(sm-min) {
    @include font-size(1.2);
  }
}



.notice.warning {
  background: #FFD466;
  color: $text-color;
  border-radius: 4px;
  margin-bottom: $gutter;
  padding: $gutter/1.5;
  .icon {
    margin-right: $gutter/2;
  }
  a {
    color: $red1;
  }
  .p {
    margin: 0;
  }
}
.notice.error {
  background: #FFD466;
  color: $text-color;
  border-radius: 4px;
  margin-bottom: $gutter/2;
  padding: $gutter/1.5;
  .icon {
    margin-right: $gutter/2;
  }
  .p {
    margin: 0;
  }
  a {
    color: $red1;
  }
}


.course-topics-list {
  list-style: none;
  //margin: 0 0 $gutter*2 0;
  padding-left: 0;
}
.lib-panel {
  cursor: pointer;
  &:hover {
    background: darken($white, 5);
  }
}
.left-side-meta {
  color: tint($colour-7, 50%);
  display: block;
  text-align: left;
  height: 22px;
  width: 22px;
  @include breakpoint(sm-min) {
    text-align: left;
  }
}
.time {
  position: absolute;
  //top: 23px;
  //right: 15px;
  color: tint($colour-7, 50%);
}
.side-meta {
  color: tint($colour-7, 50%);
  display: block;
  text-align: left;
  @include breakpoint(sm-min) {
    text-align: right;
  }
}

.xs-padding {
  padding-left: 15px;
  @include breakpoint(sm-min) {
    padding-left: 2px;
  }

}

.edit-enrollment {
  padding: $gutter/2 0 $gutter $gutter;
}

a.link-purple {
  color: $colour-7;
  border: 0;
  &:hover {
    color: $colour-13;
  }
}


.tutor-header {
  img.profile-pic {
    text-decoration: none;

    &:link {
      text-decoration: none;
    }
    &:hover, &:active {
      text-decoration: none;
      @include box-shadow(0, 0, 12px, rgba(#000, .25));
    }
  }
  .profile-pic {
    display: block;
    max-width: 120px;
    margin: 0 auto $gutter auto;
    @include border-radius(100%);
    &.profile-pic-big {
      max-width: 170px;
    }
    &.profile-pic-small {
      max-width: 80px;
    }
  }
}
.media-pic {
  display: block;
  max-width: 200px;
  max-height: 150px;
  margin: 0 auto $gutter auto;
}





.profile-single {
  padding-bottom: $gutter*2;
}
.profile-text {
  margin-top: $gutter*2;
}
.profile-pic {
  display: block;
  max-width: 120px;
  margin: 0 auto $gutter auto;
  @include border-radius(100%);
  &.profile-pic-big {
    max-width: 170px;
  }
}
.email-pic-padding {
  padding-bottom: $gutter/2;
}
.email-pic {
  display: block;
  max-width: 75px;
  margin: 0 auto $gutter auto;
  @include border-radius(100%);
}
.second-profile-pic {
  display: block;
  max-width: 120px;
  margin: 0 auto $gutter auto;
  @include border-radius(100%);
  &.profile-pic-big {
    max-width: 170px;
  }
}

a.tutor-box {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: none;
    //@include box-shadow(0, 0, 12px, darken($colour-3, 20%));
    @include box-shadow(0, 0, 12px, rgba(#000, .25));
  }
  &:hover {
    .tutor-box-title {
      //color: $colour-12;
    }
    .tutor-box-label {
      background: shade($colour-12, 10%);
    }
  }
}
.tutor-box {
  display: block;
  background: $white;
  position: relative;
  margin: $gutter*.5 0 $gutter 0;
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    margin: $gutter*.5 0 $gutter 0;
  }
  &.tutor-box-course {
    text-align: center;
    margin-top: $gutter;
    &:after {
      position: absolute;
      top: 0;
      left: 50%;
      content: "";
      height: 30px;
      width: 30px;
      margin-left: -15px;
      margin-top: -15px;
      background: url("https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/ico-course.png") repeat-x 50% 0;
      background-size: contain;
    }
    & .tutor-box-inner {
      padding-top: $gutter*2;
    }
  }
}
.tutor-box-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
}
.tutor-box-inner {
  padding: $gutter $gutter/2;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tutor-box-pic {
  max-height: 60%;
  max-width: 60%;
  fill: #3E3F5B;
  background-position: center;
  margin-top: 20px;
}
.box-desc {
  margin: $gutter/2 0 0 0;
}
.tutor-box-label {
  background: $colour-12;
  color: $white;
  padding: $gutter/1.45;
  letter-spacing: .2rem;
  text-transform: uppercase;
  @include transition(background-color .2s ease);
  @include border-bottom-radius(4px);
  @include font-size(1.1);
  @include breakpoint(sm-min) {
    @include font-size(1.2);
  }
}
a.image-link {
  color: $white;

}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 9. Dashboard Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// Dashboard


.dashboard-tab {
  display: none;
  //max-width: 60%;
  margin: auto 0 5px auto;
  //float: left;
}
.dashboard-tab-content {
  //width: 60%;
  margin: 0;

}
@media (max-width: 768px) {
  .dashboard-tab-content {
    width: 100%;
    margin-top: 0;

  }
}
.dashboard-tabs{
  margin: $gutter 0 0;
}
.dashboard-tabs ul {
  margin-right: 0;
  padding-left: 0;
  background-color: darken(#F9FAFB, 6%);
  //width: 30%;
}
.dashboard-tabs ul > li {
  list-style: none;
}
.dashboard-tabs ul > li a {
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #71738c;
  color: $colour-7;
  font-size: 18px;
  padding: 17px 0 17px 22px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.dashboard-tabs ul > li:first-child a {
  //border-top: 1px solid #71738c;
}
.dashboard-tabs ul > li a:hover {
  background-color: #FFFFFF;
}
.dashboard-tabs ul > li a.active {
  //background-color: #373854;
  background-color: #FFFFFF;
  font-weight: bold;

}
.dashboard-tabs ul > li a.active:after{
  content: '';
  float: right;
  width: 6px;
  height: 12px;
  margin: 5px 25px 0 0;
}
.dashboard-tab h3{
  font-size: 26px;
  //line-height: 1.5;
  color: $white;
}
.dashboard-tab p{
  line-height: 1.45;
  color: $colour-7;
  margin: 13px 0 52px 0;
  font-size: 18.5px;
}
.dashboard-tab a{
  margin: 0;
}
@media (max-width: 965px){
  .dashboard-tabs ul{
    margin-right: 65px;
    width: 100%;
  }
  .dashboard-tabs ul > li a{ font-size: 21px; }
}
@media (max-width: 768px){
  .dashboard-tabs ul {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  .dashboard-tab {
    max-width: 100%;
    margin: 0;
  }
  .dashboard-tabs {
    padding: 0 0 45px 0;
  }
  .dashboard-tabs ul > li a br{ display: none; }
}
@media (max-width: 500px){
  #will_learn h2{
    text-align: center;
    font-size: 36px;
  }
  .dashboard-tabs ul > li a {
    font-size: 18px;
  }
  .dashboard-tabs ul > li a br{ display: block; }
  .dashboard-tab h3 { font-size: 27px;}
  .dashboard-tab p{ font-size: 16px }
}


// Admin Dashboard
#stats {
  .h3 { padding: $gutter/2 $gutter; }
  .h6 { padding: $gutter/2 $gutter/2; }
}
.stats-box {
  display: block;
  background: $white;
  position: relative;
  margin: $gutter*.5 0 $gutter 0;
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    margin: $gutter*.5 0 $gutter 0;
  }
}
.stats-box-inner {
  padding: $gutter/1.5 $gutter/1.5;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 10. User Videos Proccess & User Quiz Process Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Quiz Classes

a.box-item {
  color: $colour-7;
  text-decoration: none;
  display: block;
  border: 1px solid $white;
  @include transition(border .1s ease);
  &:hover, &:active {
    border: 1px solid $colour-7;
    @include box-shadow(0, 0, 12px, darken($colour-3, 15%));
  }
}
.box-item {
  display: block;
  background: $white;
  position: relative;
  margin: $gutter/2 0 0 0;
  color: $colour-7;
  padding: $gutter $gutter/2 $gutter $gutter/2;
  @include clearfix();
  @include border-radius(5px);
  @include box-shadow(0, 0, 3px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    padding: $gutter $gutter/2 $gutter $gutter/2;
  }
}
.box-topic-item {
  padding-right: $gutter*2;
}

.box-item.question-box {
  box-shadow: 0 0 0;
  &:before {
    position: absolute;
    background: 0;
    background-size: contain;
    top: 50%;
    margin-top: -11px;
    left: $gutter/1.5;
    content: "";
    height: 22px;
    width: 22px;
  }

}
.border-same-backcolor {
  border-color: $colour-3;
  border-width: 2px;
  box-shadow: 0 0 0px #aec2d1;
}

.round-border {
  @include border-radius(5px);
}
.panel > .list-group .list-group-item {
  border-color: $colour-3;
  border-top-width: 2px;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group {
  @include box-shadow(0, 0, 2px, darken($colour-3, 20%));
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 2px solid #dddddd;
}
.radius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.panel-body {
  padding: 25px;
}
a.list-group-item {
  //color: rgba(0,0,0,0);
  padding: 17px;
  p {
    margin-bottom: $gutter/4;
  }
}
.text-bold {
  font-weight: bold;
}
.text-failed {
  color: $colour-12;
  margin-bottom: 0px;
  margin-top:10px;
}
.text-passed {
  color: green;
  margin-bottom: 0px;
  margin-top:10px;
}
.text-active {
  color: $colour-8;
  margin-bottom: 0px;
  margin-top:10px;
}
.box-item#quiz-contents {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  margin-bottom: 3px;

}
.quiz-results {
  font-size: 24px;
  color: #00cc66;

  .h4 {
    font-size: 24px;
    color: $text-color;

  }
}
.progress {
  height: $gutter/2;
  border-radius: $gutter/2;
  background-color: $colour-3;
  box-shadow: none;
  .progress-bar {
    background-color: $colour-12;
  }
}
.result-summary {
  margin-bottom: 0;
  margin-top: 20px;
}
.width-smaller {
  width: 93%;
}
.width-bigger {
  width: 103%;
  float: right;
}
.list-group-item.current-cme {
  background-color: $colour-4;
  border-left: 4px solid $colour-7 !important;

}
.answer-correct {
  background-color: $colour-17;
  &:hover {
    background-color: darken($colour-17, 7);
  }
  p {
    color: green;
  }
}
.answer-failed {
  background-color: $colour-19;
  &:hover {
    background-color: darken($colour-19, 5);
  }
  p {
    color: $colour-12;
  }
}
.answer {
  padding: 15px;
  border-radius: 7px;
  cursor: pointer;
}
.quiz-answer {
  min-height: 100px;
}
.text-inline {
  display: inline;
}
.scrollbar {
  overflow-y: scroll;
  max-height: 100%;
}

.side-nav {
  height: 550px;
}

.sidenav-section {
  min-height: 100px;
}

.answerpanel{
  .list-group-item:hover {
    background-color: $colour-3;
    border-left: 0px solid $colour-7 !important;
  }
  a.list-group-item:focus{
    background-color: $colour-3;
    border-left: 1px solid $colour-7 !important;
    //-webkit-animation-name: example; /* Chrome, Safari, Opera */
    //-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    //animation-name: example;
    //animation-duration: 4s;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
  0%   {border-color:red; left:0px; top:0px;}
  25%  {border-color:yellow; left:200px; top:0px;}
  50%  {border-color:blue; left:200px; top:200px;}
  75%  {border-color:green; left:0px; top:200px;}
  100% {border-color:red; left:0px; top:0px;}
}

@media (max-width: 768px) {
  .side-nav{
    height: auto;
  }
  .width-smaller {
    width: 100%;
  }
  .width-bigger {
    width: 100%;
    //float: right;
  }
}

.panel.clickable {
  margin-bottom: 5px;
  background-color: darken($white, 5);
  &:hover {
    cursor: pointer;
    background-color: darken($white, 15);
  }
}


// Video Classes
.vimeo-player-window {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.vimeo-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.vimeo-player iframe, .vimeo-player object, .vimeo-player embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vimeo-player-window iframe, .vimeo-player-window object, .vimeo-player-window embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// Paperclip File Rendering
.resource-box {
  display: inline-block;
  background: $colour-12;
  color: $white;
  margin: $gutter*.5 $gutter $gutter 0;
  a {
    color: $white;
    text-decoration: none;
  }
  @include border-radius(4px);
  @include box-shadow(0, 0, 3px, darken($colour-3, 30%));
  @include transition(box-shadow .1s ease);
  //border-bottom: 2px solid darken($colour-12, 20%) ;
  &:hover, &:active {
    text-decoration: none;
    color: $white;
    background: darken($colour-12, 15%);
    @include box-shadow(0, 0, 12px, rgba(#000, .35));
    cursor: pointer;
  }
}
.resource-box-inner {
  padding: $gutter/2 $gutter;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 11. SubjectCourse, CourseModule, CMEQuiz & CMEVideo Creation Process Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Quiz Uploading
.question-box-item {
  display: block;
  background: darken($white, 5);
  position: relative;
  margin: 0 0 $gutter/2 0;
  color: $colour-7;
  padding: $gutter/1.5 $gutter $gutter/1.5 $gutter*2.5;
  @include clearfix();
  @include border-radius(5px);
  @include box-shadow(0, 0, 3px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  &:before {
    position: absolute;
    background: 0;
    background-size: contain;
    top: 50%;
    margin-top: -11px;
    left: $gutter/1.5;
    content: "";
    height: 22px;
    width: 22px;
  }
  @include breakpoint(sm-min) {
    padding: $gutter/1.25 $gutter $gutter/1.5 $gutter*2.5;
    &:before {
      left: $gutter/1.5;
    }
  }
  &.upcoming {
    &:before {
      @include opacity(0.4);
    }
  }
  &.box-topic-item {

  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 12. Footer Pages Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.faq-box {
  display: block;
  background: $white;
  position: relative;
  margin: $gutter*.5 0 $gutter 0;
  text-align: left;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    margin: $gutter*.5 0 $gutter 0;
  }
  &:hover, &:active {
    text-decoration: none;
    @include box-shadow(0, 0, 12px, rgba(#000, .25));
    cursor: pointer;
  }
}
.faq-inner {
  padding: $gutter/1.5 $gutter/1.5;
}
.narrow {
  height: 100px;
}

.faq-title {
  &.h6 {
    margin-top: 2px;
  }
}
.closed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 13. Account Page Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.signal-tabs {
  padding: 8px;
  padding-left:0px;
  border-bottom: 2px solid lighten($colour-7, 65%);
  a {
    color: $colour-1;
    //margin-bottom: $gutter;
    letter-spacing: .1rem;
    @include font-size(1.4);
    @include breakpoint(md-min) {
      @include font-size(1.6);
    }
    text-decoration: initial;
  }
}
.signal-tabs .underline {
  background: lighten($colour-7, 65%);
  border-top: 4px solid;
  border-radius: 2px;
  box-sizing: content-box;
  color: $colour-7;
  font-weight: bold;
}
.signal-tab {
  background: $white;
  padding: $gutter/2;
  display: inherit;
  @include breakpoint(sm-min) {
    display: inline;

  }

}

.content-box {
  display: block;
  background: $white;
  position: relative;
  text-align: left;
  a {
    color: $white;
    text-decoration: none;
  }
}
.content-box-outer {
  min-height: 300px;
}
.content-box-inner {
  padding: $gutter*2;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 14. Stripe Payment Details Form
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


// Processing spinning circle css
spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: $colour-12;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.sk-circle {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $colour-12;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}


.email-pic-padding {
  padding-bottom: $gutter/2;
}
.email-pic {
  display: block;
  max-width: 75px;
  margin: 0 auto $gutter auto;
  @include border-radius(100%);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 15. Site-Wide Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.remodal {
  background: $colour-34;

  .inline-field input,
  .inline-field label {
    display: inline-block;
    //margin-bottom: 0; /* I added this after I posted my reply */
    vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
  }

  hr {
    border-color: #979797;
    margin: $gutter 0;
  }

}

// This hides the image upload BTN on the summernote modal so that only image urls can be entered
.note-group-select-from-files {
  display: none;
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 16. Footer Pages Classes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.hero-library {
  background: $colour-8 asset-url('bg-library.jpg') 50% 0 no-repeat;
  @include breakpoint(md-min) {
    background: $colour-8 asset-url('bg-library.jpg') no-repeat;
    background-size: cover;
  }
}



// Iubenda serves the Privacy Policy banner and page content
#iubenda {
  background-color: #eee;
}
.center {
  margin-top: 100px;
}

#iubenda-cs-banner{
  /* ------ IMPORTANT NOTICE: don't change these values as
          they may prevent the banner from properly showing. Some of these lines,
          moreover (like z-index) will overwrite the configuration initialized
          by the script you paste in your pages. To show the banner at the bottom
          you can switch to "bottom: 0px !important;". Don't forget to put "slideDown"
          to "false".
   */
  bottom: 0px !important;
  left: 0px !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 99999998 !important;
  background-color: black;
  /* ----------------- */
}

/*  CONTENT CLASS */
.iubenda-cs-content{
  display:block;
  margin:0 auto;
  padding: 20px;
  width:auto;
  font-family: $sans-font,Arial,FreeSans,sans-serif;
  font-size: 14px;
  background: #000;
  color: #fff;
}
.iubenda-banner-content{

}

.iubenda-cs-rationale{
  max-width: 1250px; position:relative; margin: 0 auto;
}

/*   STYLE FOR TEXT INTERNAL BANNER */
.iubenda-banner-content > p {
  font-family: $sans-font,Arial,FreeSans,sans-serif;
  line-height: 1.5;
}

/*  CLOSE BUTTON. NOTICE: IMAGE FOR BUTTON NOT IMPLEMENTED YET */
.iubenda-cs-close-btn{
  margin:0;
  color: #fff;
  text-decoration:none;
  font-size:14px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

/*  STYLE FOR TEXT LINK TO PRIVACY POLICY */
.iubenda-cs-cookie-policy-lnk{
  text-decoration: underline;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 17.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





#sign_up .check { display: block; cursor: pointer; overflow: hidden; margin: 0 0 3em 0; }
#sign_up .check input { position: absolute; opacity: 0; left: -30px; top: -30px; }
#sign_up .check input + span { display: inline-block; background: #fff; line-height: 1.666em; width: 1.666em; border-radius: 3px; text-align: center; color: #EF5153; margin-right: 0.3em; }
#sign_up .check input + span .fa { opacity: 0; }
#sign_up .check input:checked + span .fa { opacity: 1; }


#enrollment_form .check { display: block; cursor: pointer; overflow: hidden; margin: 0 0 3em 0; }
#enrollment_form .check input { position: absolute; opacity: 0; left: -30px; top: -30px; }
#enrollment_form .check input + span { display: inline-block; background: #fff; line-height: 1.666em; width: 1.666em; border-radius: 3px; text-align: center; color: #EF5153; margin-right: 0.3em; }
#enrollment_form .check input + span .fa { opacity: 0; }
#enrollment_form .check input:checked + span .fa { opacity: 1; }




.admin-nav {
  display: block;
  background: $white;
  position: relative;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
}

.admin-nav-block {
  list-style: none;
  padding: 0;
  color: $colour-7;
  @include font-size(1.6);
  @include breakpoint(md-min) {
    @include font-size(1.8);
    margin-left: 5%;
    margin-right: 5%;
  }
  & li {
    position: relative;
    display: inline-block;
    padding: $gutter/2;
    margin-left: 2%;
    margin-right: 2%;
    @include breakpoint(sm-min) {
      padding: $gutter/2;
      margin-left: 7%;
      margin-right: 7%;
    }
  }
  & a {
    color: $colour-7;
    text-decoration: none;
    @include opacity(0.8);
    @include font-size(1.6);
    &:hover {
      @include opacity(2);
    }
  }
}

.user-nav-block {
  list-style: none;
  padding: 0;
  color: $colour-7;
  @include font-size(1.6);
  @include breakpoint(md-min) {
    @include font-size(1.8);
    margin-left: 5%;
    margin-right: 5%;
  }
  & li {
    position: relative;
    display: inline-block;
    padding: $gutter/2;
    margin-left: 2%;
    margin-right: 2%;
    @include breakpoint(sm-min) {
      padding: $gutter/2;
      margin-left: 4%;
      margin-right: 4%;
    }
  }
  & a {
    color: $colour-7;
    text-decoration: none;
    @include opacity(0.8);
    @include font-size(1.6);
    &:hover {
      @include opacity(2);
    }
  }
}

.hero-library {
  background: $colour-8 asset-url('bg-library.jpg') 50% 0 no-repeat;
  color: $white;
  @include breakpoint(md-min) {
    background: $colour-8 asset-url('bg-library.jpg') no-repeat;
    background-size: cover;
  }
}

.file-upload-box {
  display: block;
  background-color: $colour-6;
  position: relative;
  margin: 0 0 $gutter 0;
  color: $colour-8;
  padding: $gutter;
  @include clearfix();
  @include border-radius(5px);
  @include box-shadow(0, 0, 3px, darken($colour-3, 20%));
  @include transition(box-shadow .1s ease);
  @include breakpoint(sm-min) {
    padding: $gutter;
    &:before {
      left: $gutter/1.5;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $colour-7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content {
  //position: absolute;
  overflow: auto;
}

.sidebar-nav {
  position: fixed;
  top: 0;
  width: 250px;
  margin-top: $gutter*8;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  //text-indent: 20px;
  line-height: 40px;
  border-bottom: 1px solid rgba(120,120,120,.5);
  font-size: 17px;
  &.first-li {
    border-top: 1px solid rgba(120,120,120,.5);
  }
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover, &:focus {
    background: $colour-8;

  }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}


.sidebar-brand {
  height: 75px;
  font-size: 18px;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border-bottom: none;
  a:hover, a:focus {
    background: none;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }

}
.brand-logo {
  a:hover, a:focus {
    background: none;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }

}

.sidebar-nav > .sidebar-brand a {
  color: $white;

}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 22. CSS Partials that depend on existing classes in this file so must be imported last
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@import "nav_and_footer.scss";
@import "extras.scss";
