// Bootstrap customisation - see
// https://github.com/twbs/bootstrap-sass/blob/master/templates/project/_bootstrap-variables.sass

$input-color-placeholder: #ccc;
$link-color: #222;
//$btn-success-bg: #5391cf;

$navbar-inverse-bg: #d64147; /*#125;*/
$navbar-inverse-link-active-bg: #ee9a3b;
$navbar-inverse-color: #eee;
$navbar-inverse-link-color: #eee; /*#89A;*/
$navbar-inverse-link-hover-bg: #ee9a3b;
//$navbar-inverse-brand-hover-bg: blue;
$navbar-inverse-border: #fff;
$navbar-height: 65px;

//$well-bg: #e5e5e5;

// Fonts

@font-face {
  font-family: 'EffraRegular';
  src: font-url('EffraRegular.eot');
  src: font-url('EffraRegular.eot?#iefix') format('embedded-opentype'),
       font-url('EffraRegular.woff2') format('woff2'),
       font-url('EffraRegular.woff') format('woff'),
       font-url('EffraRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'BryantWebRegular';
  src: url(font-path('BryantWebRegular.eot'))  format('eot'),
       url(font-path('BryantWebRegular.woff')) format('woff'),
       url(font-path('BryantWebRegular.ttf'))  format('truetype');
}
@font-face {
  font-family: 'BryantWebRegularAlternative';
  src: url(font-path('BryantWebRegularAlt.eot'))  format('eot'),
       url(font-path('BryantWebRegularAlt.woff')) format('woff'),
       url(font-path('BryantWebRegularAlt.ttf'))  format('truetype');
}

// Load Bootstrap 3
@import "bootstrap-sprockets";
@import "bootstrap";

// Further customisation

body {
  margin-top: 65px;
  font-family: EffraRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .intro-heading {
    font-weight: 100;
    text-transform: uppercase;
    font-family: BryantWebRegular, 'helvetica neue', 'helvetica', 'arial', sans-serif;
  }
}

tr {
  vertical-align: top;
}

.navbar, .navbar-header, .intro-text {
  font-family: BryantWebRegularAlternative, BryantWebRegular, 'helvetica neue', 'helvetica', 'arial', sans-serif;
  text-transform: uppercase;
}

.special-navbar {
  height: 15px;
}

.navbar-footer {
  margin: 100px 0 0;
  border-radius: 0;
  border: 0 solid green;
}

.navbar-footer, .navbar-footer a {
  background-color: #1e2b33;// #343338;
  color: #aaa;
  a:hover {
    background-color: #A33 !important;
    color: #ccc !important;
  }
}

#flash_message {
  padding-top: 4px;
}

.subscription-panel {
  background-color: #faebd7;
}

.subscription-panel.active {
  background-color: lightgreen;
}

.orange-background {
  background-color: #ee9a3b;
}

.blue-hover:hover {
  background-color: #5391cf !important;
}

.navbar .nav > li > a {
  -webkit-transition: all ease .4s;
     -moz-transition: all ease .4s;
       -o-transition: all ease .4s;
          transition: all ease .4s;
}

.subscription-outer-panel:hover {
  cursor: pointer;
  margin-top: -10px;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}

#student-sign-up .well {
  margin-bottom: 40px;
}

#student-sign-up form > .row .col-sm-8.col-sm-offset-2 .well:first-child {
  margin-top: 80px;
}
.no-top-gap {
  margin-top: 0;
  padding-top: 0;
}

.code-input {
  font-family: Consolas, Lucida Console, monospace;
  background-color: #333;
  color: #0e0;
}

.quiz-answer-clickable {
  transition: all 0.25s;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}

// Added in to support special styling for static pages

nav.navbar.navbar-transparent {
  transition: all 1s;
  background-color: transparent;
  text-shadow: 0 0 4px black;
  border-bottom: 0 solid red;
  a {
    color: white;
    &:hover {
      background-color: rgba(255, 120, 40, 0.4);
      color: white;
    }
  }
  ul li.active a {
    background-color: rgba(255, 120, 40, 0.4);
    color: white;
    &:hover {
      background-color: rgba(255, 120, 40, 0.8);
      color: white;
    }
  }
}

.navbar-shrink {
  transition: all 1s;
  min-height: 50px;
  height: 50px;
  line-height: 20px;
  padding: 10px 0;
  background-color: rgba(34,34,34,0.85) !important;
  font-weight: 700;
  ol, li {
    //min-height: 20px;
    line-height: 20px;
    //padding: 5px 20px;
  }
  li a, a.navbar-brand {
    padding: 5px 20px;
    line-height: 20px;
    height: 30px;
    &:hover {
      border-bottom: 3px solid green;
      background-color: transparent !important;
    }
  }
  ul li.active a {
    background-color: transparent !important;
    border-bottom: 3px solid red;
  }
}

body.no-top-margin {
  margin-top: 0 !important;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

header {
  width: 100%;
  height: 600px;
  background: black no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
  text-shadow: 0 0 4px black;
  padding-top: 100px;
  text-align: center;
  .intro-text {
    text-transform: none;
    background-color: transparent;
    // background: rgba(0,0,0, 0.3);
    padding: 100px 0 50px 0;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 1.2em;
  }
  .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
  }
  .intro-heading {
    font-size: 60px;
    font-weight: 500;
    line-height: 65px;
    margin: 20px 0;
  }
  .btn {
    font-size: 125%;
    padding: 10px 20px;
  }
}

.table > thead > tr > th {
  border-top: 0 solid red !important;
}

.label {
  margin-right: 4px;
}

.well-black {
  background-color: #ccc;
  border-radius: 20px;
  .progress {
    margin-bottom: 0;
  }
}

.list-group {
  margin-bottom: 0;
  border-radius: 0;
}

.list-group-item {
  border-radius: 0;
}

.glyphicon-ok-sign {
  color: green;
}

.blue {
  color: #0088cc;
}

.panel-body .col-sm-4 {
  vertical-align: middle;
  .h3 {
    text-transform: capitalize !important;
    margin: 5px 0;
  }
  .progress {
    margin: 7px 0;
  }

}

.wide-button {
  width: 100%;
}