
/* ==========================================================================
   Site
   ========================================================================== */


.container { position: relative; }



#wrapper { position: relative; width: 100%; max-width: 3000px; margin: auto; overflow: hidden; }


.tmain { display: table; width: 100%; }
.tmain .tbase { display: table-cell; vertical-align: middle; }

.title1 { font-weight: 300; color: inherit; font-size: 2.667em; line-height: 1.167em; text-align: center; }
.title1 strong { font-weight: 500; }
.subtitle1 { font-weight: 300; color: inherit; font-size: 1.333em; line-height: 1.5em; text-align: center; }
.subtitle2 { font-weight: 300; color: inherit; font-size: 1em; line-height: 1.666em; text-align: center; }

.title1 + .subtitle1 { padding-top: 0.55em; }
.title1 + .subtitle2 { padding-top: 1em; }


.obs-nocc { opacity: 0.5; font-size: 0.778em; line-height: 1.2em; text-transform: uppercase; letter-spacing: 0.2em; font-weight: normal; text-align: center; }

.diag-r-down { clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%); }
.diag-l-up { clip-path: polygon(0 0, 100% 5.3vw, 100% 100%, 0% 100%); }

.bg-gradient1 { background: linear-gradient(45deg, #2a2a3e 0%,#247989 51%,#a23838 100%);  }

#header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 400;
  width: 100%;
  padding: 35px 0;
  a {
    color: $white;
    outline: none;
    text-decoration: none;
  }
}


#menu { float: right; padding: 5px 0 0 0; }
#menu .mobile { display: none; }
#menu ul { font-size: 0.889em; white-space: nowrap; line-height: 2.5em; color: #fff; font-weight: normal; }
#menu ul li { display: inline-block; margin: 0 2em 0 0; vertical-align: middle; }
#menu ul li:last-child { margin-right: 0 !important; }
#menu ul li a { display: block; position: relative; }
#menu ul li a:hover { color: #EF5153; }
#menu ul li a.uc { font-size: 0.875em; text-transform: uppercase; letter-spacing: 0.2em; font-weight: 500; }
#menu ul li a.get { background: #EF5153; padding: 0 1.1em; border-radius: 0.375em; color: #fff; }
#menu ul li a.get:hover { color: #fff; background: #ED3438; }
#menu ul li a.getu:after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #fff; transition: all 0.2s; }
#menu ul li a.getu:hover:after { background: #EF5153; }


#free { background: asset-url('free.jpg') center center no-repeat; background-size: cover; overflow: hidden; color: #fff; position: relative; }
#free .tmain { height: 790px; padding: 140px 0; text-align: center; }
#free .title1 { max-width: 800px; margin: 0 auto 0.65em auto; }
#free .subtitle { color: inherit; }
#free .lsbtn-base { margin: 0 0 28px 0; }
#free .approved { padding: 6em 0 0 0; margin: auto; }
#free .approved img { max-width: 100%; }
#free .form { padding-bottom: 15px; padding-top: 10px; display: none; }


#explore { text-align: center; padding: 65px 0 46px 0; position: relative; }
#explore .title1 { margin: 0 0 0.5em 0; }
#explore .subtitle { font-size: inherit; line-height: inherit; font-weight: inherit; margin: 0 0 2em 0; }
#explore a { text-decoration: none; }
#explore .course { height: 170px; overflow: hidden; display: block; text-align: center; color: #fff; font-size: 1.333em; line-height: 1.17em; font-weight: inherit; position: relative; margin: 0 0 20px 0; background: #000; }
#explore .course .tmain { height: inherit; padding: 10px 3em; position: relative; z-index: 2; }
#explore .course .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: center center no-repeat; background-size: cover; z-index: 1; transition: all 0.3s; }
#explore .course:hover .bg { transform: scale(1.1); opacity: 0.85; }
#explore .lsbtn-base { padding: 25px 0 0 0; }


#what { padding: 150px 0 68px 0; background: #F5F5F7; text-align: center; position: relative; }
#what .title1 { margin: 0 0 1.29em 0; }
#what ul { display: block; overflow: hidden; }
#what ul li { float: left; width: 25%; margin: 0; padding: 0 15px 60px 15px; }
#what ul li .item { width: 100%; max-width: 190px; margin: auto; }
#what ul li .item .img { width: 100%; max-width: 180px; overflow: hidden; border-radius: 50%; margin: 0 0 1.7em 0; background: #35B9CF; }
#what ul li .item .img img { display: block; width: 100%; }
#what .lsbtn-base { margin: 0 0 1.778em 0; }


#reviews { padding: 110px 0 160px 0; color: #fff; position: relative; }
#reviews .container { z-index: 400; }
#reviews .title1 { margin: 0 0 1.25em 0; }
#reviews .slides-base { position: relative; }
#reviews .slides { position: relative; width: 100%; overflow: hidden; }
#reviews .slides .slide { width: 100%; font-size: 1.667em; line-height: 1.2em; font-weight: 300; font-style: italic; padding: 1.5em 0 0 0; }
#reviews .slides .slide .inner { position: relative; max-width: 500px; display: inline-block; }
#reviews .slides .slide .review { position: relative; margin: 0 0 1.222em 0; }
#reviews .slides .slide .review .q { font-size: 11em; position: absolute; display: block; z-index: 300; }
#reviews .slides .slide .review .q1 { left: -0.45em; top: 0.2em; }
#reviews .slides .slide .review .q2 { right: -0.15em; bottom: -0.35em; }
#reviews .slides .slide .name { font-weight: 500; }
#reviews .setas { position: absolute; left: 0; top: 50%; height: 1px; width: 100%; z-index: 400; cursor: pointer; }
#reviews .setas .seta { position: absolute; top: -40px; line-height: 80px; padding: 0 10px; font-size: 2em; }
#reviews .setas .seta:active { font-size: 1.9em; }
#reviews .setas .prev { left: 0; }
#reviews .setas .next { right: 0; }

#reviews .bgslides { position: absolute; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }
#reviews .bgslides .slide { width: 100%; height: 100%; background: center center no-repeat; background-size: cover; }


.post { padding: 0 0 2.5em 0; }
.post .photo { height: 14em; overflow: hidden; width: 100%; overflow: hidden; position: relative; margin: 0 0 2.7em 0; }
.post .photo a { display: block; position: relative; height: 100%; width: 100%; position: relative; }
.post .photo a .img { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: center center no-repeat; background-size: cover; transition: all 0.3s; }
.post .photo a:hover .img { transform: scale(1.1); }
.post .cat { text-transform: uppercase; letter-spacing: 0.2em; margin: 0 0 0.8em 0; }
.post .title { font-size: 1.333em; line-height: 1.25em; font-weight: 500; margin: 0 0 0.8em 0; }
.post .excerpt { line-height: 1.6em; }
.post .stats { padding: 1em 0 0 0; }
.post .excerpt + .stats { padding-top: 0; }
.post .stats li { display: inline-block; margin: 0 1.44em 0 0; }
.post .stats li:last-child { margin-right: 0; }
.post .stats li span { display: inline-block; vertical-align: middle; }
.post .stats li span img { height: 16px; display: block; margin-right: 0.4em; }

#homeblog { padding: 65px 0 20px 0; position: relative; }
#homeblog .title1 { margin: 0 0 1.625em 0; }
#homeblog .posts + .posts { border-top: solid 1px #CBCBCB; padding: 2.5em 0 0 0; }


#subscribe { padding: 190px 0 130px; color: #fff; text-align: center; background: asset-url('subscribe.jpg') center center no-repeat fixed; background-size: cover; position: relative; }
#subscribe .title1 { margin: 0 0 0.792em 0; }
#subscribe .subtitle { font-size: inherit; font-weight: inherit; color: inherit; line-height: inherit; margin: 0 0 3.333em; }
#subscribe .form-group { margin-bottom: 20px; }
#subscribe .s,
#subscribe .v2 { display: block; width: 100%; padding-left: 5px; padding-right: 5px; }
#subscribe .v2 { width: 85%; margin: auto; }
#subscribe .lsbtn { padding-bottom: 12px; padding-top: 12px; }
#subscribe .sep { height: 7.6em; position: relative; }
#subscribe .sep:after { content: ""; display: block; position: absolute; width: 6%; height: 1%; background: #fff; left: 47%; top: 48%; }



#tips { padding: 50px 0 140px 0; position: relative; }
#tips .title1 { margin: 0 0 1.625em 0; color: #35B8CF; }
#tips .video { width: 100%; padding: 66px 0 0 50%; position: relative; }
#tips .video .about { background: #35B8CE; color: #fff; font-size: 2em; line-height: 1.333em; font-weight: inherit; padding: 2.278em 1.944em 2.056em 3.722em; position: relative; z-index: 2; }
#tips .video .play { position: absolute; left: 0; top: 0; width: 57%; height: 80%; background: #000; z-index: 4; }
#tips .video .play:after { content: ""; position: absolute; display: block; height: 7%; width: 35%; z-index: 3; background: #3D3D5B; right: 0; bottom: -13%; }
#tips .video .play a { display: block; width: 100%; height: 100%; position: relative; overflow: hidden; }
#tips .video .play a .img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: center center no-repeat; background-size: cover; z-index: 2; opacity: 0.9; transition: all 0.3s; }
#tips .video .play a .tmain { height: 100%; position: relative; z-index: 3; }
#tips .video .play a { height: 100%; position: relative; text-align: center; }
#tips .video .play a .playbtn { display: block; font-size: 2em; width: 3em; height: 3em; border: solid 0.111em #fff; border-radius: 100%; line-height: 2.778em; text-align: center; position: relative; margin: auto; background: rgba(255,255,255,0.1); padding-left: 0.1em; }
#tips .video .play a .playbtn span { position: absolute; font-size: 0.444em; width: 100%; left: 0; top: -2.6em; text-transform: uppercase; color: #65657D; line-height: 1.2em; font-weight: 500; letter-spacing: 0.2em; }
#tips .video .play a:hover .playbtn { background: rgba(255,255,255,0.3); }
#tips .video .play a:hover .img { opacity: 1; transform: scale(1.1); }



#whenever { padding: 140px 0; text-align: center; color: #fff; position: relative; }
#whenever .devices { margin: 0 0 2.5em 0; }
#whenever .devices img { max-width: 90%; }
#whenever .title1 { margin: 0 0 0.833em 0; }
#whenever .subtitle { font-size: inherit; font-weight: inherit; color: inherit; line-height: inherit; margin: 0 0 2.778em; }
#whenever .lsbtn-base { margin: 0 0 1.778em 0; }



#plans { padding: 75px 0; text-align: center; position: relative; }
#plans .title1 { }
#plans .subtitle1 { margin: 0 0 3.125em 0; }
#plans .subtitle2 { margin: 0 0 4em 0; }
#plans .plans { }
#plans .plans .plan { float: left; width: 33.333%; z-index: 50; }
#plans .plans .plan .base { position: relative; padding: 0 25px; }
#plans .plans .plan .base:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.3); visibility: hidden; opacity: 0; z-index: 100; transition: all 0.2s; }
#plans .plans .plan .base .topbox { z-index: 199; position: relative; }
#plans .plans .plan .base .topbox span { display: block; background: #EF5153; color: #fff; line-height: 1.222em; padding: 0.889em 0.4em; border-radius: 6px 6px 0 0; z-index: 199; position: relative; }
#plans .plans .plan .base .topbox + .box { margin-top: -6px; }


#plans .plans .plan .base .box { border: solid 2px #EF5153; border-radius: 6px; background: #fff; padding: 1.222em 1.222em 5.5em 1.222em; color: #F15353; overflow: hidden; position: relative; z-index: 200; margin-bottom: 1.556em; }
#plans .plans .plan .base .box .name { font-size: 1.667em; line-height: 1.2em; margin: 0 0 2.5em 0; }
#plans .plans .plan .base .box .details { text-align: left; margin-bottom: 1.8em; }
#plans .plans .plan .base .box .details li { margin-bottom: 0.4em; }
#plans .plans .plan .base .box .price { font-weight: 500; font-size: 1.667em; line-height: 1.2em; padding: 1em 0 0 0; position: relative; }
#plans .plans .plan .base .box .price:after { position: absolute; content: ""; display: block; top: 0; width: 20%; left: 40%; height: 1px; background: #EF5153; }
#plans .plans .plan .base .box .promo { position: absolute; background: #EF5153; width: 100%; text-align: center; line-height: 1.1em; padding: 0.8em 0; color: #fff; position: absolute; right: 0; bottom: 0; }
#plans .plans .plan .base .box .promo { transform: rotate(-45deg); right: -34%; bottom: 1em; }
#plans .plans .plan .base .box .promo .line1 { font-weight: bold; font-size: 1.111em; line-height: 1.1em; }
#plans .plans .plan .base .lsbtn-base { position: relative; z-index: 200; }
#plans .plans .plan .base .lsbtn { display: block; padding-left: 0; padding-right: 0; width: 100%; }
// This line stops the plan button being hidden without hover
//.hasMouse #plans .plans .plan .base .lsbtn { opacity: 0; }

#plans .plans .plan.paym .box { border-color: #35B9D0; color: #35B8CF; }
#plans .plans .plan.paym .base .box .promo,
#plans .plans .plan.paym .base .box .price:after,
#plans .plans .plan.paym .base .lsbtn { background: #35B9D0 !important; }

#plans .plans .plan.paya .box { border-color: #3D3F5B; color: #3D3D5B; }
#plans .plans .plan.paya .base .box .promo,
#plans .plans .plan.paya .base .box .price:after,
#plans .plans .plan.paya .base .lsbtn { background: #3D3F5B !important; }


.hasMouse #plans .plans:hover .plan { opacity: 0.3; }
.hasMouse #plans .plans:hover .plan .base .lsbtn { opacity: 1; }
.hasMouse #plans .plans:hover .plan:hover { opacity: 1; z-index: 500; }
.hasMouse #plans .plans:hover .plan:hover .base:after { visibility: visible; opacity: 1; transform: scale(1.15); }


#cancel { padding: 4.25em 0; color: #fff; position: relative; }
#cancel .title1 span { font-size: 0.75em; line-height: 1.2em; }
#cancel .title1 span strong { font-weight: 500; }




#through { padding: 70px 0; text-align: center; position: relative; }
#through .title1 { margin: 0 0 0.875em 0; }
#through .subtitle { font-size: inherit; font-weight: inherit; color: inherit; line-height: 2em; margin: 0 0 2.778em; }




/* LANDING PAGE */

.landing #free { text-align: left; background-image: asset-url('landing_bakgroung.png'); }
.landing #free * { text-align: left; }
.landing #free .tmain { }
.landing #free .title1 { margin: 0 0 0.7em 0; max-width: 920px; }
.landing #free .subtitle { font-size: 1.5em; line-height: 1.333em; margin: 0 0 1.6em 0; font-weight: 300; max-width: 920px; }

.landing #tips { padding-bottom: 15px; }

.landing #cancel { padding-bottom: 9em; }
.landing #cancel + #tryfirst { margin-top: -7em; }

#tryfirst { background: asset-url('tryfirst.jpg') center center no-repeat; background-size: cover; color: #fff; text-align: center; padding: 250px 0 135px 0; position: relative; }
#tryfirst .title1 { margin-bottom: 0.792em; }
#tryfirst p { line-height: 2em; margin: 0 0 2.77em 0; color: $white; }
#tryfirst .lsbtn-base { margin: 0 0 1.778em 0; }

.landing #plans { background: #F5F5F7; }
.landing #plans .header { text-align: left; margin-bottom: 5em; }
.landing #plans .header * { text-align: left; }
.landing #plans .header .subtitle { font-size: inherit; line-height: 2em; margin: 0; }
.landing #plans .header .approved { text-align: center; }
.landing #plans .header .approved img { max-width: 100%; }

.landing #homeblog .posts { border-bottom: solid 1px #CBCBCB; padding: 2.5em 0 0 0; border-top: 0; }
.landing #homeblog .posts.first { padding-top: 0; }
.landing #homeblog .btnset { padding-top: 2.5em; padding-bottom: 2.5em; border-bottom: solid 1px #CBCBCB; }
.landing #homeblog .btnset .lsbtn { display: block; padding-left: 5px; padding-right: 5px; width: 85%; margin: auto; }


.landing #what { background: none; padding-top: 75px; }

#trusted { color: #fff; text-align: center; padding: 160px 0 190px 0; background: asset-url('trusted.jpg') center center no-repeat fixed; background-size: cover; position: relative; }
#trusted .inner { margin: auto; max-width: 880px; }
#trusted .title1 { margin-bottom: 0.792em; }
#trusted p { line-height: 2em; margin: 0 0 5em 0; color: #fff;}
#trusted .lsbtn-base { margin: 0 0 1.778em 0; }

.landing #trusted + #reviews2 { margin-top: -7em; }

#reviews2 { padding: 170px 0 100px 0; background: #F5F5F7; position: relative; }
#reviews2 .review1 { font-size: 1.667em; line-height: 1.2em; font-style: italic; margin-bottom: 1.2em; }
#reviews2 .review1 .review { margin: 0 0 1.267em 0; position: relative; }
#reviews2 .review1 .review .q { position: absolute; font-size: 11em; }
#reviews2 .review1 .review .q1 { left: -0.5em; top: 0.2em; color: #35B8CF; }
#reviews2 .review1 .review .q2 { right: -0.3em; bottom: -0.4em; }
#reviews2 .review1 .name { font-weight: 500; }
#reviews2 .reviews { }
#reviews2 .reviews .box { background: #fff; padding: 2.4em; line-height: 1.667em; font-style: italic; margin: 0 0 20px 0; }
#reviews2 .reviews .box .review { margin: 0 0 0.5em 0; }
#reviews2 .reviews .box .name { font-weight: 500; }




/* UPGRADE PAGE */

.upgrade #header { background: #3D3D5B; }
.upgrade #menu ul li.acca { width: 61px; position: relative; }
.upgrade #menu ul li.acca img { position: absolute; left: 0; top: -35px; display: block; width: 100%; }

#countdown { background: rgba(61,61,91,0.5); padding: 1em; margin: 0 0 2.5em 0; position: relative; }
#countdown h4 { color: #fff; font-weight: bold; line-height: 1.1em; margin: 0 0 0.42em 0; text-transform: uppercase; }
#countdown .timer { display: table; width: 100%; }
#countdown .timer > div { display: table-cell; vertical-align: top; width: 25%; }
#countdown .timer > div > span { display: block; }
#countdown .timer .n { font-size: 2.667em; line-height: 1.1em; color: #DD5B59; }

.upgrade #free { background: asset-url('upgrade-background.png') center center no-repeat; background-size: cover; overflow: hidden; color: #fff; position: relative; }
.upgrade #free .tmain { height: auto; padding: 180px 0 140px 0; }
.upgrade #free .title1 { margin: 0 auto 0.7em auto; max-width: 880px; }
.upgrade #free .subtitle { font-size: 1.333em; line-height: 1.333em; margin: 0 auto; font-weight: 300; max-width: 880px; }
.upgrade #free .go-down { position: absolute; left: 0; bottom: 3.5em; width: 100%; z-index: 1100; text-align: center; }
.upgrade #free .go-down a { font-size: 2.5em; line-height: 1.1em; }

.upgrade .bottom-arrow { position: absolute; left: 0; bottom: 2.3em; width: 100%; height: 0; z-index: 1000; background: #fff; }
.upgrade .bottom-arrow:before,
.upgrade .bottom-arrow:after { content: ""; position: absolute; top: 0; width: 100%; height: 2.333em; background: inherit; }
.upgrade .bottom-arrow:before { right: 50%; transform: skewX(45deg); }
.upgrade .bottom-arrow:after { left: 50%; transform: skewX(-45deg); }

.upgrade .top-arrow { position: absolute; left: 0; top: -1.333em; width: 100%; height: 0; z-index: 1000; background: #fff; }
.upgrade .top-arrow:after { content: ""; display: block; position: relative; width: 2.333em; height: 2.333em; background: inherit; margin: auto; transform: rotate(45deg); }

.upgrade #cancel { padding: 4.25em 0 6.5em 0; }
.upgrade #cancel .bottom-arrow { background: #f6f6f6; }

.upgrade #reviews2 { padding: 80px 0; background: none; }
.upgrade #reviews2 .title1 { }
.upgrade #reviews2 .subtitle1 { margin: 0 0 2.7em 0; }
.upgrade #reviews2 .reviews { margin-bottom: 6.1em; }
.upgrade #reviews2 .review1 { margin-bottom: 0; }
.upgrade #reviews2 .box { background: #f6f6f6; }

#community { padding: 105px 0; background: asset-url('community.jpg') center center no-repeat; background-size: cover; color: #fff; position: relative; }
#community .inner { max-width: 630px; margin: auto; }

#simply { background: #f6f6f6; padding: 70px 0 120px 0; position: relative; }
#simply .subtitle1 { margin: 0 0 2.7em 0; }
#simply .cc { overflow: hidden; margin-bottom: 2.333em; }
#simply .cc label { font-weight: inherit; display: block; margin: 0 0 0.5em 0; }
#simply .cc .form-control { float: left; width: 70%; font-weight: normal; }
#simply .cc .form-control.cc1 { border-top-right-radius: 0; border-bottom-right-radius: 0; padding-left: 3.6em; background: asset-url('input_cc.png') 1.167em center no-repeat #fff; background-size: 1.722em auto; }
#simply .cc .form-control.cc2 { width: 15%; border-radius: 0; padding-left: 0.2em; padding-right: 0.2em; text-align: center; }
#simply .cc .form-control.cc3 { width: 15%; border-top-left-radius: 0; border-bottom-left-radius: 0; padding-left: 0.2em; text-align: center; }
#simply .check { display: block; cursor: pointer; overflow: hidden; margin: 0 0 3em 0; }
#simply .check input { position: absolute; opacity: 0; left: -30px; top: -30px; }
#simply .check input + span { display: inline-block; background: #fff; line-height: 1.666em; width: 1.666em; border-radius: 3px; text-align: center; color: #EF5153; margin-right: 0.3em; }
#simply .check input + span .fa { opacity: 0; }
#simply .check input:checked + span .fa { opacity: 1; }
#simply .tot-get { display: table; width: 100%; margin: 0 0 2.778em 0; }
#simply .tot-get > div { display: table-cell; vertical-align: middle; white-space: nowrap; }
#simply .tot-get .lsbtn { display: block; width: 100%; padding-left: 1em; padding-right: 1em; }
#simply .tot-get .price { padding-right: 1em; }
#simply .tot-get .price span { display: block; }
#simply .tot-get .price .total { font-size: 1.333em; line-height: 1.1em; }
#simply .tot-get .price .value { font-size: 2.667em; line-height: 1.1em; }
#simply .obs { font-style: italic; }



/* FOOTER */

#footer { background: #3D3D5B; color: #fff; padding: 75px 0; font-size: 12px; }
#footer a { color: #fff; }
#footer .logo { text-align: center; }
#footer .logo a { display: inline-block; }
#footer .logo img { display: block; max-width: 100%; }
#footer .lsbtn-base { padding: 1.5em 0 0 0; }
#footer .fmenu { text-transform: uppercase; font-weight: 500; letter-spacing: 0.25em; line-height: 1.1em; }
#footer .fmenu li { padding: 0.6em 0; }
#footer .fmenu li a:hover { color: #EF5153; }
#footer .chat { display: inline-block; max-width: 100%; margin: 15px auto 0 auto; }
#footer .chat img { display: block; max-width: 100%; }



#loading { position: fixed; left: 0; top: 0; z-index: 5000; width: 100%; height: 100%; width: 100vw; height: 100vh; background: asset-url('loading.gif') center center no-repeat rgba(255,255,255,0.95); }



/* ==========================================================================
   Resposive
   ========================================================================== */

/* 1260px+ */
@media (min-width: 1260px) {

}


/* up to 1259px */
@media (max-width: 1259px) {
  body { font-size: 17px; }
  #menu ul li { margin-right: 1em; }
  .title1 { font-size: 2.333em; }
  .lsbtn { letter-spacing: 0.1em; }
  #tips .video .about { font-size: 1.8em; }
  #plans .plans { font-size: 0.889em; }
  #plans .plans .plan .base { padding: 0 15px; }
  #subscribe { padding: 120px 0 100px 0; }
  #subscribe .sep { height: 7em; }
  #whenever { padding: 120px 0; }
  #tryfirst { padding: 200px 0 100px 0; }
}

/* up to 991px */
@media (max-width: 991px) {
  body { font-size: 16px; }
  #menu ul li a.uc { letter-spacing: 0; }
  #free .approved { padding: 2em 0 0 0; max-width: 70px; }
  .diag-r-down { clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%); }
  .title1 { font-size: 2.222em; }
  .lsbtn { letter-spacing: 0; }
  #reviews { text-align: center; padding: 60px 0; }
  #reviews .slide-base { padding: 0 50px; }
  #reviews .slides .slide { font-size: 1.3em; padding: 0; }
  #reviews .slides .slide .inner { max-width: none; }
  #reviews .slides .slide .review .q { font-size: inherit; position: relative; display: inline; left: auto !important; top: auto !important; right: auto !important; bottom: auto !important; }
  #tips .video .about { font-size: 1.4em; }
  #plans .plans { font-size: 0.777em; }
  #plans .plans .plan .base { padding: 0 5px; }
  #plans .plans .plan .base:after { display: none !important; }
  #plans .plans .plan .base .lsbtn { opacity: 1 !important; }
  #plans .plans:hover .plan { opacity: 1 !important; }
  #subscribe { padding: 90px 0 70px 0; }
  #subscribe .sep { height: 5em; }
  #whenever { padding: 100px 0; }

  #trusted { padding: 130px 0 170px 0; }
  #tryfirst { padding: 170px 0 90px 0; }

  #footer { padding: 40px 0; }
  #footer .lsbtn-base { margin-bottom: 30px; }
}

/* up to 767px */
@media (max-width: 767px) {
  .container { padding-left: 15px; padding-right: 15px; }
  #header { padding: 20px 0; }
  //#logo img { height: 42px; }
  #menu .mobile { display: block; color: #fff; font-size: 2em; cursor: pointer; padding: 0 0.3em; }
  #menu ul { display: block; position: absolute; right: -100vw; top: 2em; width: auto; background: rgba(61,61,91,0.9); z-index: 1000; text-align: right; font-size: 1.3em; transition: right 0.4s; }
  .menu-open #menu ul { right: 0; }
  #menu ul li { margin: 0; display: block; }
  #menu ul li a,
  #menu ul li a.uc,
  #menu ul li a.get,
  #menu ul li a:hover,
  #menu ul li a.get:hover { padding: 0 1em 0 2em; background: none; border-radius: 0; text-transform: none; letter-spacing: 0; font-size: inherit; font-weight: inherit; }
  #menu ul li a:hover { color: #EF5153 !important; background: rgba(255,255,255,0.05) !important; }
  #menu ul li a.getu:after { display: none; }
  .diag-r-down { clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); }
  .title1 { font-size: 2.1em; }
  #what ul li { width: 50%; }
  #what ul li:nth-child(2n+1) { clear: both; }
  #subscribe .v2 { width: 100%; margin: 0 0 20px 0; }
  #plans .plans { font-size: 0.889em; }
  #plans .plans .plan { display: block; width: 100%; float: none; margin: 0 0 20px 0; }
  #plans .plans .plan .base { padding: 0; }

  .landing #plans .header .approved { margin: 20px auto 0 auto; max-width: 70px; }
  #reviews2 .review1 .review .q { position: relative; font-size: inherit; color: inherit; left: auto; top: auto; right: auto; bottom: auto; line-height: inherit; }
  .landing #homeblog .btnset .lsbtn { width: 100%; margin: 0 0 20px 0; }
  #trusted { padding: 100px 0 150px 0; }
  #tryfirst { padding: 130px 0 80px 0; }

  #footer .fmenu { padding-bottom: 1em; margin-bottom: 1em; border-bottom: solid 1px rgba(255,255,255,0.1); }
}

/* up to 560px */
@media (max-width: 560px ) {
  #what ul li { width: 100%; float: none; }
  #tips .video { padding: 0; }
  #tips .video .play { position: relative; left: auto; top: auto; height: auto; padding: 56% 0 0 0; width: 100%; margin: 0 0 1em 0; }
  #tips .video .play a { position: absolute; left: 0; top: 0; }
  #tips .video .play a .playbtn { font-size: 1.4em; }
  #tips .video .play a .playbtn span { display: none; }
  #tips .video .play::after { display: none; }
  #tips .video .about { padding: 1em; }
  #simply .cc .form-control.cc1 { width: 100%; margin-bottom: 10px; border-radius: 4px; }
  #simply .cc .form-control.cc2 { width: 58%; clear: both; border-radius: 4px; margin-right: 4%; }
  #simply .cc .form-control.cc3 { width: 38%; border-radius: 4px; }
  #simply .tot-get > div { display: block; margin: 0 0 0.5em 0; text-align: center; }
}



