-contents.each do |content|
  -if content.content_type == 'text'
    .col-sm-12=sanitizer content.text_content
    %br/
  -elsif content.content_type == 'mathjax'
    .col-sm-12.mathjax=sanitizer content.text_content
    %br/
  -elsif content.content_type == 'image'
    =image_tag content.image.url, class: 'img-responsive col-sm-12'
