<div class="container-bg">
  <header class="management-console-section">
    <h1>CBE</h1>
  </header>
  <section class="pb-7">
    <div class="row">
      <div class="col-sm-12">
        <div class="cbe-container">

          <div id="cbes-new-view"></div>

        </div>
      </div>
    </div>

  </section>

</div>

