.l-section-small.is-bg-asphalt
  .l-wrap-large
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.exam_sittings.index.h1')

      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'enrollment_management/enrollment_management_navbar'


      .row
        .col-sm-12
          .box-item.table-box
            .row.l-margin-bottom
              .col-sm-6
                =link_to 'New Exam Sitting', new_exam_sitting_url, class: 'btn btn-primary btn-small'

              .col-sm-6
                =form_tag(exam_sittings_url, method: :get, role: 'form', class: 'form-horizontal') do
                  .col-sm-10.col-sm-offset-2
                    .input-group.input-group-lg.full-width
                      =select_tag :sort_by, options_for_select(@sort_choices, params[:sort_by].to_s), class: 'form-control', onchange: 'this.form.submit(); return false;'

            .table-responsive
              =will_paginate @exam_sittings, renderer: BootstrapPagination::Rails
              %table.table
                %thead
                  %tr
                    %th=t('views.exam_sittings.form.name')
                    %th=t('views.exam_sittings.form.date')
                    %th=t('views.exam_sittings.form.active')
                    %th='Count'
                    %th
                %tbody
                  -@exam_sittings.each do |exam_sitting|
                    %tr
                      %td=exam_sitting.name
                      %td
                        -if exam_sitting.date
                          =exam_sitting.date.strftime("%B %Y")
                      %td=tick_or_cross(exam_sitting.active)
                      %td=exam_sitting.enrollments.count
                      %td
                        =link_to t('views.general.edit'), edit_exam_sitting_url(exam_sitting), class: 'btn btn-primary btn-small'
                        =link_to t('views.general.view'), exam_sitting, class: 'btn btn-secondary btn-small'
                        -if exam_sitting.destroyable?
                          =link_to t('views.general.delete'), exam_sitting, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary-reverse btn-small'

