.l-section-small.is-bg-asphalt
  .l-wrap-large
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =@exam_sitting.name
          %h4
            =t('views.exam_sittings.show.h1')
            \#
            =@exam_sitting.id


      .row
        .col-sm-12
          .box-item.table-box
            .row.l-margin-bottom
              .col-sm-6
                = link_to 'CSV Download', export_exam_sitting_enrollments_path(format: :xls), class: 'btn btn-primary'
              .col-sm-6
                -#=form_tag(referral_codes_url, method: :get, role: 'form', id: 'search-form', class: 'form-inline input-group-lg') do
                  .form-group.input-group.input-group-lg
                    =text_field_tag :search, params[:search], class: 'form-control', placeholder: t('views.general.search')
                    .input-group-addon{style: 'background-color: #EE5457; color: #fff;'}
                      %span.glyphicon.glyphicon-search

            .table-responsive
              %table.table.sorted_table
                %thead
                  %tr
                    %th User
                    %th Sitting
                    %th Expired
                    %th
                    %th
                %tbody
                  -@exam_sitting.enrollments.each do |enrollment|
                    %tr
                      %td
                        =enrollment.user.try(:full_name)
                      %td
                        =enrollment.try(:exam_sitting).try(:name)
                      %td
                        =tick_or_cross(enrollment.expired)
                      %td
                        =link_to t('views.general.view'), enrollment_management_url(enrollment), class: 'btn btn-small btn-secondary'
                      %td
                        =link_to 'CSV', export_enrollment_log_data_path(id: enrollment.id, format: :xls), class: 'btn btn-primary btn-small'




