#update-card-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "update-card-modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %button.btn.btn-icon.modal-close{"data-dismiss" => "modal"}
        %i.material-icons{"aria-hidden" => "true"} close
      %div
        %h3#add-card-modal.text-gray2.mb-2 Payment Card Authentication
        %p.text-error Your payment details have failed authentication. Please re-enter your card details or try a different card.
        %p If we cannot authenticate your payment details and process the outstanding charge your subscription will be cancelled.
      .modal-body.mt-3
        =form_for(SubscriptionPaymentCard.new, method: :post, html: {class: 'py-2', role: 'form', id: 'new-subscription-payment-card-form'}, name: 'add_card_form') do |f|
          =f.hidden_field :user_id, value: current_user.id
          =f.hidden_field :stripe_token

          .row
            .col-sm-12
              .payment-errors
                .payment-errors
                  .form-group.cc
                    %label
                      Credit or Debit card
                    .clearfix
                      #card-element
                      #card-errors{role: 'alert', class: 'invalid-details'}

          .pt-2.d-flex.flex-wrap.flex-sm-nowrap.justify-content-between
            %div
              = f.button :submit, class: 'btn btn-primary float-left mb-2', id: 'card_submit' do
                Submit Card Details
