%main
  %article.bg-gray5
    .container-bg
      .container#plans
        %header.hero-section
          %h1.h2-hero.mb-2
            Change Plan
          %p.p-hero.px-lg-6
            Simply select your new plan
          -#TODO Proration Details explained here!
        %section.pb-md-6.pb-5
          -if flash[:success] || flash[:error] || flash[:warning]
            =render partial: 'layouts/flash_messages'
          =form_for(@subscription, url: subscriptions_plan_changes_path(id: @subscription.id), method: :post, html: {class: 'form-horizontal', role: 'form', id: 'upgrade-subscription-form'}) do |f|
            =f.hidden_field :subscription_plan_id
            .row.row-md
              -@subscription.upgrade_options.each do |plan|
                .col-lg
                  %article.card.card-primary.card-primary-alt{id: "sub-#{plan.currency.iso_code}-#{plan.payment_frequency_in_months}", data: {plan_id: plan.id, :price => plan.price, :currency => plan.currency.iso_code, :name => plan.name, :body => plan.exam_body.name}}
                    -if plan.most_popular
                      .card-banner.bg-mint
                        %small.text-white
                          Most popular payment plan
                    .card-body.text-center.py-4.py-sm-5
                      %h2.card-title
                        =t("views.general.payment_frequency_in_months.a#{plan.payment_frequency_in_months}")

                      %ul.list-centered
                        -if plan.bullet_points_list && !plan.bullet_points_list.empty?
                          - plan.bullet_points_list.split(/, ?/).each do |bullet|
                            %li=bullet
                        -else
                          %li="Access all #{plan.exam_body.group.name} courses"
                          %li="Topic-by-topic lectures"
                          %li="24/7 tutor support"

                        %li{style: 'font-style: italic;'}
                          Cancel anytime

                      %p.h2.mb-0
                        =plan.currency.format_number(plan.price)

                      -if plan.monthly_percentage_off
                        %p.h5.text-gray2{style: 'margin-bottom: 0;'}
                          Save over
                          =plan.monthly_percentage_off
                          ='%'

                      .pt-4.pt-md-5
                        %fieldset
                          %legend.sr-only Select this plan
                          .custom-control.custom-radio.plan-option
                            %input{id: 'chk-plan-' + plan.id.to_s, type: 'radio', class: 'custom-control-input style-radio option'}
                            %label{class: "custom-control-label ", for: 'chk-plan-' + plan.id.to_s}
                              %span.custom-label-info
                                %span Select this plan
                              %span.custom-check



            %section#simply
              .container
                .row
                  .col-sm-10.offset-1
                    %h3
                      ='Selecting this Plan will result in an immediate charge and start a new billing period from this date.'
                    %p
                      ='Any remaining time paid for on your current billing will be credited to your account, and used for this payment and any future payments until all credit is used.'
                .row
                  .col-sm-6.offset-1
                    .d-flex.justify-content-between.align-items-center.pt-3
                      =f.submit 'Change Plan', class: 'btn btn-primary btn-sm', id: 'changePlan'
                      .sk-circle
                        .sk-circle1.sk-child
                        .sk-circle2.sk-child
                        .sk-circle3.sk-child
                        .sk-circle4.sk-child
                        .sk-circle5.sk-child
                        .sk-circle6.sk-child
                        .sk-circle7.sk-child
                        .sk-circle8.sk-child
                        .sk-circle9.sk-child
                        .sk-circle10.sk-child
                        .sk-circle11.sk-child
                        .sk-circle12.sk-child

                      =link_to t('views.general.cancel'), account_url(anchor: 'account-info'), class: 'btn btn-secondary btn-sm '



:javascript

  dataLayer = [];

  function addToCart(theThing) {
    let parentThing = $(theThing).parent().parent().parent().parent();
    dataLayer.push({
      'event': 'addToCart',
      'ecommerce': {
        'currencyCode': parentThing.attr('data-currency'),
        'add': {
          'products': [{
            'name': parentThing.attr('data-name'),
            'id': parentThing.attr('data-plan_id'),
            'price': parentThing.attr('data-price'),
            'brand': parentThing.attr('data-body'),
            'category': 'Subscription',
            'quantity': 1
            }]
        }
      }
    });
  }

  // UnChecks radio buttons except the one that was clicked.
  // Finds the id value of the sub plan that the radio button belongs to.
  // Sets the hidden field subscription_plan_id to that id.
  function choosePlan(theThing) {
    $('.option[type="radio"]:checked').prop('checked', false);
    $(theThing).find('.option[type="radio"]').prop('checked', true);
    $('#subscription_subscription_plan_id').val($(theThing).parent().parent().parent().parent().attr('data-plan-id'));
    addToCart(theThing);
  }

  $(document).on('ready', function() {
    $(".sk-circle").hide();
    choosePlan($('.plan-option')[0]);
    $('.option').bind('click', function(event) {
      event.stopPropagation();
      choosePlan(this.parentElement);
    });

    $(".plan-option").bind('click', function(event) {
      event.preventDefault();
      choosePlan(this);
    });
  });

  $("#upgrade-subscription-form").submit(function(ev) {
    ev.preventDefault();
    $(".sk-circle").show();
    $("#changePlan").hide();
    this.submit();
  });

