.calculator-icon {
    background-image: asset-url('cbe-calc-icon.png');
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    background-size: 20% 90%;
  }
  .calculator-icon-no-title {
    background-image: asset-url('calculatorBold.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 40%;
    background-color: #ffffff;
    width: 4.5em;
    padding-bottom: 2em;
    box-shadow: 0px -13px 31px -17px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .calculator-icon-no-title:focus {
    outline: none;
    box-shadow: none;
  }
  .calculator-icon:hover {
    background-image: asset-url('cbe-calc-icon-green.png');
    color: #00b67B!important;
    cursor: pointer;
  }
  .scratch-pad-icon {
    background-image: asset-url('scratch-pad-icon.png');
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    background-size: 20% 90%;
  }
  .scratch-pad-icon:hover {
    background-image: asset-url('scratch-pad-icon-green.png');
    color: #00b67B!important;
    cursor: pointer;
  }
  .scratch-pad-no-title {
    background-image: asset-url('scratchpadBold.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 40%;
    background-color: #ffffff;
    width: 4.5em;
    padding-bottom: 2em;
    box-shadow: 0px -13px 31px -17px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .scratch-pad-no-title:focus {
    outline: none;
    box-shadow: none;
  }
  .solution-btn-title {
    color: rgba(0, 0, 50, 0.95);
    text-align: center;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 15%;
    background-color: #ffffff;
    width: 9em;
    margin-top: 3px;
    padding-bottom: 1em;
    font-weight: bold;
    box-shadow: 0px -13px 31px -17px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .solution-btn-title:focus {
    outline: none;
    box-shadow: none;
  }
  .submit-btn-title {
    background-image: asset-url('submit-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 21%;
    background-color: #000032;
    width: 4.5em;
    padding-bottom: 2.5em;
    position: absolute;
    top: 70%;
    right: -30px;
    cursor: pointer;
    box-shadow: 0px -13px 31px -7px rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .help-btn-title {
    background-image: asset-url('help-icon2.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 35%;
    background-color: #ffffff;
    width: 4.5em;
    padding-bottom: 2.5em;
    position: absolute;
    top: 30%;
    right: -32px;
    cursor: pointer;
    box-shadow: 0px -13px 31px -7px rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .help-btn-title:focus {
    box-shadow: none;
  }
  .left-arrow-ques {
    background-image: asset-url('leftarrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-color: transparent;
    width: 4.5em;
    padding-bottom: 1.85em;
    cursor: pointer;
  }
  .right-arrow-ques {
    background-image: asset-url('rightarrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-color: transparent;
    width: 4.5em;
    padding-bottom: 1.85em;
    cursor: pointer;
  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: -1.5em -2.2em 1em -2.2em;
    list-style: none;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 2.5em 0 1.5em 0;
    background-color: #ffffff;
  }

  .flex-item {
    background: transparent;
    padding: 15px;
    margin-top: -.75em;
    line-height: 15px;
    color: #000032;
    border: 4px solid #000032;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
  }
  #pane_1 {
    padding-top: 0;
  }
  .right-pane-underline {
    position: absolute;
    top: 100px;
    border: 1px solid #e6ecf0;
    width: 100%;
    display: none;
  }

.practice-ques-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5em;
  .material-icons {
    font-size: 1.25em;
    line-height: 1.15 !important;
  }
}

#practice-question-window > div > section > div.questions > div:nth-child(2) > button {
  .btn:focus {
    background-color: red;
  }
}

.practice-question-left-pane {
  .window-header {
    .modal-close { top: -3rem }
  }
}

.practice-question-theme {
  .splitpanes__splitter {
    background-color: #000032 !important;
    width: .4em;
    opacity: .85;
  }
  .splitpanes__pane {
    background-color: #ffffff!important;
    height: 70vh;
  }
  .splitpanes--vertical {
    margin-bottom: 2rem;
    background-color: #ffffff;
  }
  .vm--overlay { display: none }
  .vm--container {
    width: 0;
    height: 0;
  }
}

button2.btn-settings {
  margin: 25px;
  padding: 20px 30px;
  font-size: 1.2em;
  background-color: #337ab7;
  color: white;
}
button2.btn-settings:active-sol {
  color: white;
}
.modal2 {
  background-color: #f5f8fa;
  z-index: 1030;
  padding-right: 0 !important;
  position: absolute !important;
  width: 37em;
  height: 28em;
  border-radius: 10px;
  border: 6px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
  overflow: hidden;
}
.modal2-calc {
  overflow: hidden;
  background-color: #f5f8fa;
  z-index: 1030;
  padding-right: 0 !important;
  position: absolute !important;
  width: 37em;
  height: 27em;
  border-radius: 10px;
  border: 5px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
}
.modal2-solution {
  background-color: #ffffff;
  z-index: 1030;
  left: 30px;
  top: -50px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  width: 60em;
  height: 37em;
  border-radius: 10px;
  border: 5px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
  overflow: hidden;
}
.modal2-text-editor {
  background-color: #f5f8fa;
  z-index: 1030;
  left: 30px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  width: 60em;
  height: 30em;
  border-radius: 10px;
  border: 5px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
  overflow: hidden;
}
.modal2-help {
  background-color: #f5f8fa;
  z-index: 1030;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  width: 60em;
  height: 40em;
  border-radius: 10px;
  border: 5px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
  overflow-y: hidden;
}
.modal2-dialog {
    margin-right: 0;
    margin-left: 0;
    min-height: 600px;
}
.modal2-header {
  height: 45px;
  padding: 20px;
  background-color:#000032;
  color:white;
  position: fixed;
  z-index: 100;
  width: 36.5em;
}
.modal2-header-std {
  height: 45px;
  padding: 20px;
  background-color:#000032;
  color:white;
  z-index: 100;
  width: 36.5em;
  cursor: grab;
  &:active-sol {
    cursor: grabbing;
  }
}
#scratchPadModal, #calcModal {
  .modal2-body {
    cursor: grab;
    &:active-sol {
      cursor: grabbing;
    }
  }
}
.modal2-header-lg {
  height: 45px;
  padding: 20px;
  background-color:#000032;
  color:white;
  z-index: 100;
  width: 100%;
  cursor: grab;
  &:active-sol {
    cursor: grabbing;
  }
}
.modal2-content {
  button.close {
    background-color: #ffffff;
  }
}
.modal2-title {
  margin-top:-10px;
  font-size:16px;
  color: #ffffff;
}
.modal2-header .close {
  margin-top:-10px;
  color: #000032;
  background-color: #ffffff;
}

.modal2-margin-top {
  margin-top: 3em;
}
.side-bar-nav {

}

.modal2-body {
  color:#888;
  //padding: 5px 35px 20px;
  padding: 20px;
  .calc-main {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
  }
}
.modal2-body h3 {
  text-align: left;
}
.modal2-body p {
  padding-top:10px;
  font-size: 1.1em;
}
.nav-ques-arrow {
  cursor: pointer;
  visibility: visible;
  color: #000032;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.nav-ques-arrow-shw {
  visibility: hidden;
}
.top-btns-prac-ques {
  display:flex;
  flex-direction:row;
  margin-bottom:-11px;
  justify-content: space-around;
  .top-btns-left-pane{
    display: flex;
    margin-left: -5em;
    .top-btns-left-pane-spc {
      margin-right: 2em;
    }
    .vm--overlay { display: none }
    .vm--container {
      width: 0;
      height: 0;
    }
  }
}
.spreadsheetwrapper {
  .btn-group {
    width: 60%;
  }
  .btn-row:nth-child(2) {
    .btn-group {
      width: 30%;
      height: 2em;
    }
  }
  .btn-row:nth-child(3) {
    .btn-group {
      width: 60%;
      height: 3.5em;
      .form-control {
        padding:0;
        font-size: 15px;
      }
    }
  }
}

.prac-ques-ans-box {
  padding:0;
  .container-fluid {
    width: 105%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: -10px;
  }
  .btn-row:nth-child(3) {
    .font-size-select[data-v-5994f0e8] {
      width: 0;
      margin-right: 2px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .prac-ques-ans-box {
    .container-fluid {
      width: 140% !important;
      padding-right: 20px !important;
    }
  }
}
.modal-help {
  top: -50px;
}
#solutionModal {
  padding-left: 0;
}
.exhibits-modals {
  top: -30px;
  left: 155px;
  .pdf-viewer {
    height: 1200px;
  }
}
.text-editor-modal-sm {
  top: 25px;
}
.outsidelastpage {
  .submit-btn-title {
    background-color: rgba(89, 89, 110, 0.95);
    cursor: not-allowed;
  }
}
#helpModal {
  .pdf-viewer .scrolling-page {
    margin-top: 4em;
    margin-bottom: 1em;
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .pdf-viewer__document {
    top: 0;
  }
}

.resizemove {
  resize: both;
  overflow: auto;
}
.resizemove-sol {
  resize: both;
}


.submit-btn-modal {
  modal-title { font-size: 18px; font-weight: bold; }
 .no-borders { border: 0px; }
 .body-message { font-size: 18px; margin-top: .25em;}
 .centered { text-align: center; }
 .btn-submit-modal { color: #ffffff; background-color: #00b67b; border-color: transparent; outline: none; border-radius: 8px; font-size: 15px; padding: 10px 25px; }
 .btn-submit-modal-outline { color: #00b67b; background-color: transparent; border-color: #00b67b; outline: none; border-radius: 8px; font-size: 15px; padding: 10px 25px; }
 .btn-submit-modal:hover { background-color: #000032; border-color: transparent; }
 .btn-submit-modal-outline:hover { color: #000032; border-color: #000032; border-style: dashed;}
 .btn-submit-modal:focus { outline: none; }
 .btn:focus {
  outline: 0;
  box-shadow: none;
  }
 .modal {
   background-color:rgba(0,0,50,0.85);
 }
 .modal-header {
   button:focus { outline: none; }
   .close { padding: 0; margin: -20px -10px 0 auto; }
 }
 .modal-content {
   width: 45%;
   border-radius: 10px;
   outline: 0;
 }
 .modal-dialog {
   display: flex;
   justify-content: center;
   max-width: 1000px;
 }
 .modal-footer {
   justify-content: flex-end;
   margin-top: 1.75em;
 }
}

.modal-inner-scroll {
  overflow: auto;
  height: 500px;
}

.practice-question-V2 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  flex-direction: column;
  @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
  }
  .practice-question-v2-title {
    text-align: left;
    padding-bottom: .75em;
    font-size: .85em;
    font-weight: bold;
    color: #657786;
  }
  .practice-question-left-pane {
    display: flex;
  }
  .material-icons {
    line-height: .35 !important;
  }
  .exhibits-icon {
    position: absolute;
    left: 10px;
  }
  .practice-question-section {
    padding-bottom: 1em;
  }
  .pdf-preview-toggle > a.icon > svg {
    position: initial !important;
    margin-top: -7px;
  }
  arrow {
    color: #000032;
    background:#000032;
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: .9rem;
    font-family: inherit;
    &.learn-more {
      width: auto;
      min-width: 19rem;
      max-width: 19rem;
      height: auto;
      padding-bottom: .5em;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        margin: 0;
        width: 2rem;
        height: 2rem;
        background: transperant;
        border: 1px solid #657786;
        border-radius: .625rem;
        .icon {
          color: #657786;
          background:#657786;
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: #657786;
          &.arrow {
            color: #657786;
            background:#657786;
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.12rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #657786;
              border-right: 0.125rem solid #657786;
              transform: rotate(45deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0em .75em 3.3em;
        margin: 0 0 0 1.85rem;
        color: #657786;
        font-size: .7rem;
        font-weight: 700;
        line-height: .7;
        text-align: left;
        min-width: 16rem;
        max-width: 16rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        p {
          color: #657786;
          font-size: .7rem;
          line-height: 1;
        }
      }
    }
    &:hover {
      .circle {
        width: 100%;
        border: 1px solid #00b67b;
        .icon {
          &.arrow {
          background:#00b67b;
          color: #00b67b;
          transform: translate(1rem, 0);
          &::before {
            border-top: 0.125rem solid #00b67b;
            border-right: 0.125rem solid #00b67b;
          }
          }
        }
      }
      .button-text {
        color: #00b67b;
        p {
          color: #00b67b;
        }
      }
      i {
        color: #00b67b;
      }
    }
  }
  .close {
    font-size: 1.3rem;
  }
}
#solutionModalV2 {
  .resizemove-sol-v2 {
    resize: both;
    overflow: hidden;
  }
  .modal2-dialog {
    overflow: hidden;
  }
  .modal2-body {
    overflow-y: auto;
    width: 100%;
  }
  .modal-close-solution {
    position: relative;
    top: -.6em;
  }
  .modal-solution-wrapper {
    margin:0px auto;
    width:100%;
    font-family:sans-serif;
    color:#555;
    font-size:14px;
    line-height:24px;
  }
  h1 {
    font-size:20px;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
  }
  h1 + p {
    text-align:center;
    margin:20px 0;
    font-size:16px;
  }
  .tabs {
    li {
      float:left;
      width: auto;
      margin-right: 1px;
    }
    a {
      display:flex;
      min-height: 3.5em;
      text-align:center;
      text-decoration:none;
      text-transform:uppercase;
      color:#888;
      padding: 0px 25px;
      font-size: 11px;
      line-height: 3;
      border-bottom:2px solid #888;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background:#f7f7f7;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &:hover {
        color:  rgba(24, 24, 66, 0.95);
        font-weight: bold;
      }
      &.active-sol {
        background: rgba(24, 24, 66, 0.95);
        color: #ffffff;
        font-weight: 400;
      }
      &:focus {
        border: none;
      }
      i {
        float: left;
        position: relative;
        top: 5px;
        padding-right: 5px;
        font-size: 20px;
      }
    }
  }
  .tabgroup {
    background-color: #f7f7f7;
    margin-top: 4px;
    height: 32em;
  }
  .tabgroup-pad {
    padding:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.3);
  }
  .clearfix:after {
    content:"";
    display:table;
    clear:both;
  }
}
.draggable-overlay {
  width: 100%;
  height: 3em;
  background-color: #000032;
  position: absolute;
  bottom: 0;
  z-index: 1;
  cursor: grab;
  &:active-sol {
    cursor: grabbing;
  }
}
.draggable-overlay-text {
  width: 100%;
  height: 3em;
  background-color: #000032;
  position: sticky;
  bottom: 0;
  z-index: 1;
  cursor: grab;
  &:active-sol {
    cursor: grabbing;
  }
}
.aselect {
  width: 280px;
  margin: 20px auto;
  .exhibits-icon { color: #7f8599; }
  .selector {
    border: 1px solid gainsboro;
    background: #F8F8F8;
    position: absolute;
    top: -80px;
    right: 150px;
    z-index: 3;
    width: 20%;
    margin-right: 1em;
    .arrow {
      position: absolute;
      right: 10px;
      top: 40%;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 10px solid #888;
      transform: rotateZ(0deg) translateY(0px);
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(.59,1.39,.37,1.01);
    }
    .expanded {
      transform: rotateZ(180deg) translateY(2px);
    }
    .label {
      display: block;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
      color: #888;
      span {
        display: flex;
        p {
          line-height: 2.2;
          padding-left: .5em;
        }
      }
    }
  }
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: 1px solid gainsboro;
    position: absolute;
    z-index: 1;
    background: #fff;
  }
  li {
    padding: 12px;
    color: #666;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    p {
      line-height: 2.2;
      padding-left: .5em;
    }
    &:hover {
      color: #888;
      font-weight: bold;
    }
  }
  .current {
    font-weight: bold;
    background: #eaeaea;
  }
  .hidden {
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }
}
.sol-open-size {
  height: 100%;
}
.sol-spreadsheet-size {
  background-color: #f7f7f7;
}
.pq-modal-pdf {
  z-index: 0;
  .pdf-viewer__document {
    left: 0 !important;
    width: 100% !important;
    padding: 0 10px 0 10px !important;
  }
}