.calculator-icon {
    background-image: asset-url('cbe-calc-icon.png');
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    background-size: 20% 90%;
  }
  .calculator-icon-no-title {
    background-image: asset-url('calculatorBold.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 40%;
    background-color: #ffffff;
    width: 4.5em;
    padding-bottom: 1.85em;
    position: relative;
    top: -8px;
    left: 8vw;
    cursor: pointer;
  }
  .calculator-icon-no-title:focus {
    outline: none;
    box-shadow: none;
  }
  .calculator-icon:hover {
    background-image: asset-url('cbe-calc-icon-green.png');
    color: #00b67B!important;
    cursor: pointer;
  }
  .scratch-pad-icon {
    background-image: asset-url('scratch-pad-icon.png');
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    background-size: 20% 90%;
  }
  .scratch-pad-icon:hover {
    background-image: asset-url('scratch-pad-icon-green.png');
    color: #00b67B!important;
    cursor: pointer;
  }
  .scratch-pad-no-title {
    background-image: asset-url('scratchpadBold.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 40%;
    background-color: #ffffff;
    width: 4.5em;
    padding-bottom: 1.85em;
    position: relative;
    top: -8px;
    left: 12vw;
    cursor: pointer;
  }
  .scratch-pad-no-title:focus {
    outline: none;
    box-shadow: none;
  }
  .solution-btn-title {
    text-align: center;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 15%;
    background-color: #ffffff;
    width: 9em;
    margin-top: 3px;
    padding-bottom: 0.35em;
    position: relative;
    top: -11px;
    left: 47vw;
    font-weight: bold;
    cursor: pointer;
  }
  .solution-btn-title:focus {
    outline: none;
    box-shadow: none;
  }
  .submit-btn-title {
    background-image: asset-url('submit-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 21%;
    background-color: #000032;
    width: 4.5em;
    padding-bottom: 3.85em;
    position: absolute;
    top: 70%;
    right: -23px;
    cursor: pointer;
    box-shadow: 0px -13px 31px -7px rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .help-btn-title {
    background-image: asset-url('help-icon2.png');
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: 35%;
    background-color: #ffffff;
    width: 4.5em;
    padding-bottom: 3.85em;
    position: absolute;
    top: 30%;
    right: -22px;
    cursor: pointer;
    box-shadow: 0px -13px 31px -7px rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .left-arrow-ques {
    background-image: asset-url('leftarrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-color: transparent;
    width: 4.5em;
    padding-bottom: 1.85em;
    cursor: pointer;
  }
  .right-arrow-ques {
    background-image: asset-url('rightarrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-color: transparent;
    width: 4.5em;
    padding-bottom: 1.85em;
    cursor: pointer;
  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1.5em;
  }

  .flex-item {
    background: transparent;
    padding: 15px;
    margin-top: -.75em;
    line-height: 15px;
    color: #000032;
    border: 4px solid #000032;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
  }

.v1_111 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v1_137 {
  width: 31px;
  color: rgba(169,169,169,1);
  opacity: 1;
  text-align: center;
  cursor: pointer;
}

.practice-ques-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5em;
  .material-icons {
    font-size: 1.25em;
    line-height: 1.15 !important;
  }
}

.splitpanes__splitter {
  background-color: #000032 !important;
}

.splitpanes.practice-question-theme .splitpanes__pane {
  background-color: #ffffff!important;
  height: 70vh;
}

.splitpanes--vertical {
  margin-bottom: 2rem;
  background-color: #ffffff;
}

button2.btn-settings {
  margin: 25px;
  padding: 20px 30px;
  font-size: 1.2em;
  background-color: #337ab7;
  color: white;
}
button2.btn-settings:active {
  color: white;
}
.modal2 {
  background-color: #f5f8fa;
  z-index: 1030;
  padding-right: 0 !important;
  position: absolute !important;
  width: 37em;
  height: 27em;
  border-radius: 10px;
  border: 5px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
  overflow-y: auto;
}
.modal2-calc {
  overflow: hidden;
  background-color: #f5f8fa;
  z-index: 1030;
  padding-right: 0 !important;
  position: absolute !important;
  width: 37em;
  height: 27em;
  border-radius: 10px;
  border: 5px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
}
.modal2-solution {
  background-color: #f5f8fa;
  z-index: 1030;
  padding-right: 0 !important;
  position: absolute !important;
  width: 50em;
  height: 27em;
  border-radius: 10px;
  border: 5px solid #000032;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
  overflow-y: auto;
}
.modal2-dialog {
    margin-right: 0;
    margin-left: 0;
}
.modal2-header {
  height: 45px;
  padding: 20px;
  background-color:#000032;
  color:white;
}
.modal2-content {
  button.close {
    background-color: #ffffff;
  }
}
.modal2-title {
  margin-top:-10px;
  font-size:16px;
  color: #ffffff;
}
.modal2-header .close {
  margin-top:-10px;
  color: #000032;
  background-color: #ffffff;
}
.modal-close {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-top: -.35em;
}
button.modal-close:hover {
  background-color: #000032;
  color: #ffffff;
  border: 3px solid #ffffff;
  opacity: 1;
}

button.modal-close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

button.modal-close:focus {
  outline: none;
}
.modal2-body {
  color:#888;
  //padding: 5px 35px 20px;
  padding: 20px;
  .calc-main {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
  }
}
.modal2-body h3 {
  text-align: left;
}
.modal2-body p {
  padding-top:10px;
  font-size: 1.1em;
}
.nav-ques-arrow {
  cursor: pointer;
  visibility: visible;
  color: #000032;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.nav-ques-arrow-shw {
  visibility: hidden;
}
.top-btns-prac-ques {
  display:flex;
  flex-direction:row;
  margin-bottom:-11px;
}
.prac-ques-ans-box {
  padding:0;
  .container-fluid {
    width: 105%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: -10px;
  }
  .btn-row:nth-child(3) {
    .font-size-select[data-v-5994f0e8] {
      width: 0;
      margin-right: 2px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .prac-ques-ans-box {
    .container-fluid {
      width: 140% !important;
      padding-right: 20px !important;
    }
  }
}
.modal-help {
  top: 70px;
}
#solutionModal {
  padding-left: 0;
}
.outsidelastpage {
  .submit-btn-title {
    background-color: rgba(89, 89, 110, 0.95);
    cursor: not-allowed;
  }
}