%h1=t('mailers.operational.reset_your_password.subject_line')
%p=t('mailers.general.salutation', fname: @user.first_name)
%p=t('mailers.operational.reset_your_password.paragraph_1')
%p=link_to nil, @url + 'reset_password/' + @user.password_reset_token
%p=t('mailers.operational.reset_your_password.paragraph_2')
%p=t('mailers.general.closing')
%br/
%p=t('mailers.general.signature')
