%p=t('mailers.operational.signup_completed.salutation', name: @user.first_name)
%p=t('mailers.operational.signup_completed.paragraph_1')
%p=t('mailers.operational.signup_completed.paragraph_2')
%p=t('mailers.operational.signup_completed.paragraph_3')
%p=t('mailers.operational.signup_completed.paragraph_3')
%p{style: 'text-align: center;'}=link_to t('mailers.operational.signup_completed.cta_button_label'), @url + '/en/' + library_path.to_s, class: 'call-to-action-button'
%p=t('mailers.operational.signup_completed.closing')
%p=t('mailers.operational.signup_completed.signature')
