%h1=t('mailers.operational.your_password_has_changed.subject_line')
%p=t('mailers.general.salutation', fname: @user.first_name)
%p=t('mailers.operational.your_password_has_changed.paragraph_1')
%p=t('mailers.operational.your_password_has_changed.paragraph_2')
%p=t('mailers.general.closing')
%br/
%p=t('mailers.general.signature')
