=form_for(@corporate_customer, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @corporate_customer, message: nil}
  .row
    .col-md-12
      =f.hidden_field :country_id, value: 105
      .col-md-6
        =f.label :organisation_name, t('views.corporate_customers.form.organisation_name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :organisation_name, class: 'form-control', style: 'border-radius: 6px;', autofocus: true
        %br/
        =f.label :subdomain, t('views.corporate_customers.form.subdomain'), class: 'control-label'
        .input-group.input-group-lg.full-width.l-margin-bottom-big
          =f.text_field :subdomain, class: 'form-control', style: 'border-radius: 6px;'
        .col-md-12
          = image_tag @corporate_customer.logo.url, class: 'md-image'
          %br/
          =f.file_field :logo, required: true
      .col-md-6
        =f.label :user_name, t('views.corporate_customers.form.user_name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :user_name, class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :passcode, t('views.corporate_customers.form.passcode'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :passcode, class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :corporate_email, t('views.corporate_customers.form.corporate_email'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :corporate_email, class: 'form-control', style: 'border-radius: 6px;'
        %br/
        =f.label :external_url, t('views.corporate_customers.form.external_url'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :external_url, class: 'form-control', style: 'border-radius: 6px;'
        %br/
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :external_logo_link
                =t('views.corporate_customers.form.external_logo_link')

        %br/
        =f.label :footer_border_colour, t('views.corporate_customers.form.footer_border_colour'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :footer_border_colour, class: 'form-control', style: 'border-radius: 6px;'

  .row.l-margin-top-big
    =f.submit t('views.general.save'), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'
    =link_to t('views.general.cancel'), corporate_customers_path, class: 'btn btn-cyan l-margin-right-big l-padding-side-3x l-margin-top'
