.margin-top.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.corporate_customers.index.h1')
    .row.l-margin-top.l-margin-bottom
      .col-md-12
        .no-image-box-item.table-box
          .table-responsive
            =will_paginate @corporate_customers, renderer: BootstrapPagination::Rails
            %table.table.table-bordered.l-margin-top
              %thead
                %tr
                  %th=t('views.corporate_customers.form.organisation_name')
                  %th=t('views.corporate_customers.form.payments_by_card')
                  %th
              %tbody
                -@corporate_customers.each do |corporate_customer|
                  %tr{id: corporate_customer.id}
                    %td=corporate_customer.organisation_name
                    %td=tick_or_cross(corporate_customer.payments_by_card)
                    %td
                      =link_to t('views.general.show'), corporate_customer_url(corporate_customer), class: 'btn btn-cyan btn-small'
                      =link_to t('views.general.edit'), edit_corporate_customer_url(corporate_customer), class: 'btn btn-cyan btn-small'
                      -if corporate_customer.destroyable?
                        =link_to t('views.general.delete'), corporate_customer, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'

    .row
      =link_to t('views.general.new'), new_corporate_customer_url, class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top', title: t('views.general.new_tooltip')


=render partial: 'layouts/footer'