=form_for(@product, html: {class: 'form-horizontal', role: 'form'}) do |f|
  .box-item.form-box
    =render partial: '/layouts/error_messages', locals: {thing: @product, message: nil}
    .row
      .col-sm-12
        .row
          .col-sm-6
            .form-group
              =f.label :name, t('views.products.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.products.form.name_placeholder'), class: 'form-control'

            .form-group
              =f.label :price, t('views.products.form.price')
              .input-group.input-group-lg
                =f.text_field :price, placeholder: t('views.products.form.price_placeholder'), class: 'form-control'

            .form-group
              =f.label :currency_id, t('views.products.form.currency')
              .input-group.input-group-lg
                =f.collection_select :currency_id, @currencies, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}

          .col-sm-6
            .form-group
              =f.label :mock_exam_id, t('views.products.form.mock_exam_id')
              .input-group.input-group-lg
                =f.collection_select :mock_exam_id, @mock_exams, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}

            .form-group
              =f.label :product_type, t('views.products.form.product_type')
              .input-group.input-group-lg
                =f.select :product_type, [['Mock Exam', 'mock_exam'], ['Correction Pack', 'correction_pack']], {}, {class: 'form-control custom-select'}

            .col-md-6
              .form-group
                .col-sm-8.col-sm-offset-4
                  .checkbox
                    %label
                      =f.check_box :active
                      =t('views.currencies.form.active')

    .row
      .col-sm-12
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), products_path, class: 'btn btn-secondary'
