.container
  %header.management-console-section
    %h1
      =t('views.products.index.h1')

  %section.pb-7
    =render partial: 'management_consoles/subscriptions_nav'

    .row
      .col-sm-12
        .box-item.table-box
          .row
            .col-sm
              =link_to 'New Product', new_product_url, class: 'btn btn-primary btn-xs', title: t('views.general.new_tooltip')
              =link_to 'Mock Exams', mock_exams_url, class: 'btn btn-secondary btn-xs', title: t('views.general.new_tooltip')

            .col-sm
              .search-container
                =form_tag(products_url, method: :get, role: 'form', class: 'form-inline') do
                  =text_field_tag :search, params[:search], class: 'form-control', placeholder: t('views.general.search')
                  %button{type: "submit"}
                    %i{:role => "img", class: 'budicon-search-list'}


          .table-responsive.pt-4
            Please sort in blocks of the 3 currencies for each product
            %table.table.sorted_table{data: {destination: products_url}}
              %thead
                %tr
                  %th=t('views.products.form.name')
                  %th=t('views.products.form.active')
                  %th=t('views.products.form.price')
                  %th
                  %th
              %tbody
                -@products.each do |product|
                  %tr{id: product.id}
                    %td
                      =product.name
                      .small{style: 'font-size: 12px; color: #54a4ee;'}
                        -if product.mock_exam
                          =product.mock_exam.name
                    %td=tick_or_cross(product.active)
                    %td=number_in_local_currency(product.price, product.currency)
                    %td
                      =link_to 'Edit', edit_product_url(product), class: 'btn btn-primary btn-xs'
                      -if product.mock_exam
                        =link_to 'Mock', edit_mock_exam_url(product.mock_exam), class: 'btn btn-secondary btn-xs'
                      -if product.destroyable?
                        =link_to t('views.general.delete'), product, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary btn-xs'
                    %td
                      %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}



