-# -if @exercise.product.cbe.questions.map(&:kind).uniq.exclude?('spreadsheet' && 'open')
%table.table
  %thead.thead-dark
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Question Type
      %th{:scope => "col"} Score
  %tbody
    #accordionExample.accordion
      -@exercise.cbe_user_log.questions.each do |question|
        %tr
          %th{:scope => "row"}
            =question.cbe_question.sorting_order
          %td
            #headingOne
              =question_corrected_link(question)
            .collapse{"aria-labelledby" => "heading_#{question.id}", "data-parent" => "#accordionExample", id:  "collapse_#{question.id}"}
              =raw(question.educator_comment)
          %td
            =question.score
  %tfoot
    %tr
      %td{:colspan => "3"}
        ="Total Score: #{@exercise.cbe_user_log.score}"
