%main
  %article.bg-gray5
    .container
      %header.hero-section
        %h1.h1-hero.mb-3
          Exercise Submission
        %p.p-hero.px-lg-8
          Submit a PDF of your exercise or mock exam below for correction.

      -if @exercise.product.mock_exam?
        %section.pb-md-6.pb-5
          .forgot-password-section
            =link_to "Download #{@exercise.product.mock_exam.name}", @exercise.product.mock_exam.file.url, target: '_blank', class: 'btn btn-primary btn-sm'

      %section.pb-md-6.pb-5
        .forgot-password-section
          .form-box
            %h2=@exercise.product.name
            -if @exercise.product.mock_exam?
              %p
                To help us mark your exam properly, please include a single PDF file with your solution.
              %p
                For Mock Exam Bundles, please only upload one question per exercise. If the bundle you purchased includes two mock exams, there should be two pending exercises available for you to submit solutions.
            -else
              %p
                To help us mark your exam properly, please include a single PDF file with the following information:
              %ul.list
                %li Question Subject (E.g Audit and Assurance)
                %li Question Name / Number - Task (E.g James Ltd - Part a)
              %p
                If you are submitting an external question for correction please include a copy of the question and solution / marking scheme with your upload
            =form_for @exercise, {class: 'py-3 mr-5 ml-5', role: 'form'} do |f|
              =f.hidden_field :id
              .row
                .col-sm-12
                  .form-group
                    -if f.object&.submission&.present?
                      =f.label :submission, t('views.mock_exams.form.file'), class: 'control-label'
                      .form-control-static
                        =link_to f.object.submission_file_name, f.object.submission.url, target: '_blank'
                        =number_to_human_size(f.object.submission_file_size)
                        %br/
                        =f.label :submission, 'Upload a replacement', class: 'control-label'
                    -else
                      =f.label :submission, t('views.mock_exams.form.file'), class: 'control-label'
                    .input-group.input-group-lg
                      =f.file_field :submission, class: 'form-control'
              .pt-3
                =f.submit 'Upload Submission', class: 'btn btn-primary btn-sm'