%main
  %article.dashboard.bg-gray5
    .container#exercise-results-window{data: { product_name: @exercise&.product&.mock_exam&.name, product_id: @exercise.product_id, course_name: @exercise&.product&.course&.name,
           course_id: @exercise&.product&.course_id, exam_body_name: @exercise&.product&.course&.exam_body&.name, exam_body_id: @exercise&.product&.course&.exam_body_id}}
      %header
        %h1.h2-hero.pt-5
          =@exercise.product.name_by_type

      -if @exercise.product.cbe?
        %section.pb-md-6.pt-4
          %article.card.mb-5
            .card-body.card-body-sm
              .row
                -if @exercise.returned?
                  .col-sm-8
                    -if @exercise.returned_on && @exercise.cbe_user_log
                      %h3
                        =cbe_score(@exercise.cbe_user_log)
                .col-sm-4
                  %h3
                    %span.mr-1
                      ="Status: "
                      =@exercise.state
                  %p.mb-1
                    Submitted on
                    %span=humanize_datetime_full(@exercise.submitted_on)
                  -if @exercise.returned_on
                    %p.mb-1
                      Returned on
                      %span=humanize_datetime_full(@exercise.returned_on)

              -if @exercise.returned? and @exercise.cbe_user_log.educator_comment.present?
                .row.pt-6
                  .col-md-12
                    %h3
                      %span.mr-1
                        ="Overall Comment: "
                        =raw(@exercise.cbe_user_log.educator_comment)

          -if @exercise.returned?
            -partial = @exercise.cbe_user_log.exhibits? ? 'cbe_user_log_exhibits' : 'cbe_user_log'
            %article.card.card-tabs.mb-5
              .card-body
                =render partial: partial, locals: { user_log: @exercise.cbe_user_log }


      -else
        %section.pb-md-6.pt-4
          %article.card.mb-5
            .card-body.card-body-sm
              .row
                .col-md-8
                  %h3.text-gray2
                    %span.mr-1
                      ="Status: "
                      =@exercise.state

                  %p.mb-1
                    Submitted on
                    %span=humanize_datetime_full(@exercise.submitted_on)

                .col-md-4.text-md-right
                  - course = @exercise&.product.mock_exam? ? @exercise&.product&.mock_exam&.course : @exercise&.product&.course
                  -if @exercise.submission.present?
                    %section#exercise-download-window{data: { product_name: @exercise&.product&.mock_exam&.name, product_id: @exercise.product_id, course_name: course&.name, course_id: course&.id, exam_body_name: course&.exam_body&.name, exam_body_id: course&.exam_body_id, preferred_exam_body_id: @exercise.user&.preferred_exam_body_id, preferred_exam_body: @exercise.user&.preferred_exam_body&.name, banner: @banner, onboarding: @exercise.user&.analytics_onboarding_valid?.to_s}}
                      =link_to 'Download Submission', @exercise.submission.url, class: 'btn btn-primary btn-sm', target: '_blank', id: 'exercise-file-download'
                  -if @exercise.correction.present?
                    .pt-3#exercise-results-window{data: { product_name: @exercise&.product&.mock_exam&.name, product_id: @exercise.product_id, course_name: course&.name, course_id: course&.id, exam_body_name: course&.exam_body&.name, exam_body_id: course&.exam_body_id, preferred_exam_body_id: @exercise.user&.preferred_exam_body_id, preferred_exam_body: @exercise.user&.preferred_exam_body&.name, banner: @banner, onboarding: @exercise.user&.analytics_onboarding_valid?.to_s}}
                      =link_to 'Download Response', @exercise.correction.url, class: 'btn btn-primary btn-sm', target: '_blank', id: 'exercise-results-download'
