%main
  %article.dashboard.bg-gray5
    .container
      %header
        %h1.h1-hero.pt-5
          =@exercise.product.name

      %section.pb-md-6.pt-4
        .row.row-md
          .card
            =@exercise.state
            =link_to 'Download Submission', @exercise.submission.url, class: 'btn btn-primary', target: '_blank'