=form_for([@course_module_element, @course_module_element_resource], html: {class: 'form-horizontal', role: 'form'}, multipart: true) do |f|
  =f.hidden_field :course_module_element_id
  .form-box
    .row
      =render partial: '/layouts/error_messages', locals: {thing: @course_module_element_resource, message: nil}

      .col-md-6
        =f.label :name, t('views.course_module_element_resources.form.name')
        .input-group.input-group-lg.full-width
          =f.text_field :name, placeholder: t('views.course_module_element_resources.form.name_placeholder'), class: 'form-control'

      .col-md-6
        =f.label :upload, t('views.course_module_element_resources.form.upload')

        -if f.object.present?
          .form-control-static
            =image_tag(f.object.upload.url)
            %br/

          Upload a replacement file
          .input-group.input-group-lg
            =f.file_field :upload

        -else
          .input-group.input-group-lg
            =f.file_field :upload, class: 'form-control'

    .row
      .col-sm-12.l-margin-top
        =f.submit t('views.general.save'), class: 'btn btn-primary'
        =link_to t('views.general.cancel'), edit_course_module_element_url(@course_module_element.id), class: 'btn btn-secondary'
