.admin-nav
  %ul.user-nav-block
    %li
      =link_to 'Overview', user_management_url(@user)
    %li
      =link_to 'Personal', user_management_personal_url(@user)
    -if @user.tutor_user?
      %li
        =link_to 'Courses', user_management_courses_url(@user)
    -elsif @user.trial_or_sub_user?
      %li
        =link_to 'Subscription', user_management_subscription_url(@user)
    %li
      =link_to 'Enrolments', user_management_enrollments_url(@user)
    %li
      =link_to 'Purchases', user_management_orders_url(@user)

