#console-wrapper
  .hidden-xs
    =render partial: 'layouts/management_side_navbar'

  .main-content
    .l-section-small.is-bg-asphalt
      .l-wrap
        .container-fluid
          .row.l-margin-bottom
            .col-md-12.text-center
              %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
                =@user.full_name
          .row.l-margin-top.l-margin-bottom
            .col-md-12
              =render partial: 'user_tabs'

          -if @user.free_member?
            .row.l-margin-top.l-margin-bottom
              .col-md-12
                .box-item
                  .col-sm-10.l-margin-top
                    .col-sm-6
                      .h3
                        Free Trial
                      .h6
                        =@user.free_member?.to_s.capitalize

                    .col-sm-6
                      .h3
                        Trial Limit in Days
                      .h6
                        =@user.trial_limit_in_days


                  .col-sm-10.l-margin-top-big
                    .col-sm-6
                      .h3
                        Trial Expired
                      .h6
                        =@user.expired_free_member?.to_s.capitalize

                    .col-sm-6
                      .h3
                        Remaining Trial Days
                      .h6
                        =@user.days_left

                  .col-sm-10.l-margin-top-big
                    .col-sm-6
                      .h3
                        Remaining Trial Minutes
                      .h6
                        =@user.minutes_left
          -elsif @user.subscriptions.any?
            .row.l-margin-top.l-margin-bottom
              .col-md-12
                .box-item
                  .col-sm-9.l-margin-top
                    .col-sm-6
                      .h3
                        Account Status
                      .h6
                        =@user.user_subscription_status

                    .col-sm-6
                      .h3
                        Subscription Created At
                      .h6
                        =humanize_datetime(@subscription.created_at)

                  .col-sm-3.l-margin-top
                    -if !@subscription.current_status.include?('canceled')
                      =link_to @subscription, method: :delete, data: {confirm: 'Are you sure you want to cancel this users subscription?'} do
                        .btn.btn-red.l-margin-bottom
                          ='Cancel Subscription'
                    -elsif @user.canceled_pending?
                      =link_to t('views.users.show.un_cancel_subscription.button_call_to_action'), subscription_url(id: @subscription.id, subscription: {subscription_plan_id: 123}), method: :put, class: 'btn btn-red l-margin-top'
                    -elsif @user.canceled_member?
                      =link_to t('views.users.show.reactivate_subscription.button_call_to_action'), user_reactivate_account_url(@user.id), class: 'btn btn-red l-margin-right-big l-padding-side-3x l-margin-top'


                  .col-sm-9.l-margin-top-big
                    .col-sm-6
                      .h3
                        Subscription Plan
                      .h6
                        =@subscription.subscription_plan.name

                    .col-sm-6
                      .h3
                        Billing Interval
                      .h6
                        =t("views.general.payment_frequency_in_months.a#{@subscription.subscription_plan.payment_frequency_in_months}")

                  .col-sm-9.l-margin-top-big
                    .col-sm-6
                      .h3
                        Last Payment Date
                      .h6
                        -if @subscription.invoices.any?
                          =humanize_datetime(@subscription.invoices.last.created_at)
                        -else
                          ='------'
                    .col-sm-6
                      .h3
                        Next Payment Date
                      .h6
                        =@subscription.next_renewal_date

                  .col-sm-9.l-margin-top-big
                    .col-sm-6
                      .h3
                        Stripe Subscription ID
                      .h6
                        =@subscription.stripe_guid
                    .col-sm-6
                      .h3
                        Stripe Subscription Status
                      .h6
                        =@subscription.current_status.to_s.capitalize

                  .col-sm-9.l-margin-top-big
                    .col-sm-6
                      -if @default_card
                        .h3
                          Valid Payment Card
                        .h6
                          =@default_card.status ? 'True' : 'False'
                    .col-sm-6
                      .h3
                        Subscription Set To Cancel At
                      .h6
                        -if @user.canceled_pending?
                          =@subscription.next_renewal_date.to_s
                        -else
                          ='--------'

            .row.l-margin-top.l-margin-bottom
              .col-md-12
                .corporate-box-item.table-box#invoices-panel.l-margin-bottom-huge
                  %h2.l-margin-bottom-big.text-center
                    =t('views.users.show.your_invoices')
                  .table-responsive
                    -@invoices = @user.invoices.where('sub_total > 0').all_in_order
                    =render partial: 'invoices/index'
