.home_page_layout
  %header.sign-in-background
    .l-wrap-purchase
      =render partial: 'layouts/transparent_navbar'
    .l-wrap-session
      %h1.h-white.h-separator.h-separator-center.text-center
        =t('views.user_sessions.new.h1')
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
  .l-wrap
    .row
      .col-md-12
        .col-sm-8.col-sm-offset-2.l-margin-top
          .login-form.l-margin-top#sign-in
            =form_for(@user_session) do |f|
              =render partial: '/layouts/error_messages', locals: {thing: @user_session, message: t('views.user_sessions.form.error_message')}
              =f.hidden_field :analytics_guid, value: nil
              .col-sm-12
                .form-group
                  =f.label :email, t('views.user_sessions.form.email'), class: 'control-label'
                  =f.email_field :email, class: 'form-control input-group input-group-lg full-width', style: 'border-radius: 6px;', autofocus: true
              .col-sm-12
                .form-group
                  =f.label :password, t('views.user_sessions.form.password'), class: 'control-label'
                  =f.password_field :password, class: 'form-control input-group input-group-lg full-width', style: 'border-radius: 6px;'

              .col-sm-12.l-margin-bottom.l-margin-top
                =f.submit t('views.general.sign_in'), class: 'btn btn-red btn-wide btn-lg-text'
              .text-center
                =link_to t('views.user_sessions.form.forgot_password'), forgot_password_url, id: '#forgot-password'

        .col-sm-8.col-sm-offset-2.text-center.l-margin-bottom-big.l-margin-top-big
          =link_to 'create account', new_student_url, class: 'btn btn-red btn-wide btn-lg-text btn-secondary', style: 'line-height: 60px'

=render partial: 'layouts/large_footer'

:javascript
  ga(function(tracker) {
    var clientId = tracker.get('clientId');
    $('#user_session[analytics_guid]').val(clientId);
  });