.row
  -@enrollments.each do |enrollment|
    .col-md-4
      .enrollment-box.text-center
        .col-md-12
          %h4.l-margin-top
            =enrollment.subject_course.name
          %p.l-margin-top
            =enrollment.exam_date
          %p
            =enrollment.student_number


