.remodal{"data-remodal-id" => "modal"}
  .row
    .col-md-12
      %button.remodal-close{"data-remodal-action" => "close"}
      .col-md-12
        %h2
          Edit Enrollment

  =form_for(enrollment, url: edit_enrollment_url(enrollment), html: {class: 'form-horizontal', role: 'form', name: 'enrollment_modal_form'}) do |f|

    -exam_sittings = ExamSitting.where(subject_course_id: enrollment.subject_course.id).all_in_order
    -name = enrollment.subject_course.exam_body.name
    -question = name.to_s + '?'

    %label
      ='Registered with the'
      =question
      =f.check_box :registered

    .row.text-left
      .col-sm-12
        .col-sm-6
          =f.label :student_number, "Enter your #{name} Student Number", class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.text_field :student_number, placeholder: t('views.enrollments.form.student_number_placeholder'), class: 'form-control', style: 'border-radius: 6px;', id: 'student_number'

          %br/

      .col-sm-12
        .col-sm-6
          =f.label :exam_date, t('views.enrollments.form.exam_date'), class: 'control-label'
          .input-group.input-group-lg.full-width
            =f.collection_select :exam_date, exam_sittings, :date, :date, {prompt: t('views.general.select'), include_blank: 'Online Exam'}, {class: 'form-control', style: 'border-radius: 6px;', name: 'exam_date'}

        .col-sm-6#custom_exam_date
          %label{class: 'control-label'}
            ='Enter Online Exam Date'
          .input-group.input-group-lg.full-width
            %input{type: "text", placeholder: 'Select Date ', class: 'form-control', name: 'custom_exam_date', style: 'border-radius: 6px;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'}


    %br/
    .col-sm-12#actions_btns
      .col-sm-4.col-sm-offset-8
        .btn.btn-cyan#enroll_now{"data-remodal-action" => "confirm"}
          Enroll Now


:javascript

    $(function () {
      $('#datetimepicker').datetimepicker();
        format: 'DD/MM/YYYY'
    });

