.row
  .col-sm-8

    .col-sm-6
      .h3
        First Name
      .h6
        =@user.first_name

    .col-sm-6
      .h3
        Last Name
      .h6
        =@user.last_name

    .col-sm-6.l-margin-top
      .h3
        Email
      .h6
        =@user.email

    .col-sm-6.l-margin-top
      .h3
        ="D.O.B"
      .h6
        =@user.date_of_birth || '--------'



  .col-sm-4
    #modal-links
      %a{data: {remodal: {target: 'personal-details-modal'}}, class: 'btn btn-red full-width l-margin-bottom edit-details'}
        Edit Details

      %a{data: {remodal: {target: 'change-password-modal'}}, class: 'btn btn-cyan full-width l-margin-bottom change-pw-link'}
        =t('views.users.show.change_your_password.link')

      -unless current_user.discourse_user
        =link_to user_create_discourse_user_path, method: :post, class: 'btn btn-purple full-width l-margin-bottom' do
          ='Join Our Community'


=render partial: 'users/user_account/student_user_form'