.row
  .col-sm-6.col-md-8
    -if @current_subscription || @user.free_member?
      .col-sm-12.col-md-6
        .h3
          Account Status

        .h6
          =@user.user_account_status

      .col-sm-12.col-md-6
        .h3
          Member Since
        .h6
          =humanize_datetime(@user.trial_start_date)

      .col-sm-12.col-md-6.l-margin-top
        -if @current_subscription
          -if @user.valid_subscription
            .h3
              Billing Interval
            .h6
              =t("views.general.payment_frequency_in_months.a#{@current_subscription.subscription_plan.payment_frequency_in_months}")

        -if @user.canceled_member?
          -if @user.canceled_member?
            .h3
              =t('views.users.show.your_plan_expired_on')
            .h6
              =humanize_datetime(@user.active_subscription.updated_at)


      -if @current_subscription
        .col-sm-12.col-md-6.l-margin-top
          .h3
            =t('views.users.show.your_next_payment_will_be_on')
          .h6
            =humanize_stripe_date(@current_subscription.next_renewal_date)


        .col-sm-12.l-margin-top
          -if @user.canceled_pending?
            .h3
              =t('views.users.show.your_plan_will_expire_on')
            .h6
              =humanize_stripe_date(@current_subscription.next_renewal_date) + '.'



  .col-sm-6.col-md-4
    -if @user.free_member? || @user.expired_free_member?
      =link_to 'Upgrade account', user_new_subscription_url(@user.id), class: 'btn btn-red full-width'

    -elsif @user.canceled_member?
      %h3=t('views.users.show.reactivate_subscription.h3')
      =link_to t('views.users.show.reactivate_subscription.button_call_to_action'), user_reactivate_account_url(@user.id), class: 'btn btn-red full-width'

    -elsif @user.active_subscription && @user.valid_subscription
      =link_to account_change_plan_url do
        .btn.btn-purple.full-width.l-margin-bottom
          =t('views.users.show.change_subscription_plan')

      -if @current_subscription.current_status == 'active'
        =link_to @current_subscription, method: :delete, data: {confirm: t('views.users.show.confirm_immediate_deletion') + "#{humanize_stripe_date(@current_subscription.next_renewal_date)}"} do
          .btn.btn-red.full-width.l-margin-bottom
            =t('views.users.show.cancel_your_subscription_plan')

      -elsif !@current_subscription.current_status.include?('canceled')
        =link_to @current_subscription, method: :delete, data: {confirm: t('views.users.show.confirm_immediate_deletion') + "#{humanize_stripe_date(@current_subscription.next_renewal_date)}"} do
          .btn.btn-red.full-width.l-margin-bottom
            =t('views.users.show.cancel_your_subscription_plan')


  -if @current_subscription
    .col-sm-12.col-md-8.l-margin-top
      %h2.l-margin-bottom-big.l-margin-top-big.text-center
        =t('views.users.show.your_invoices')
      .table-responsive
        -@invoices = @user.invoices.paginate(page: 1, per_page: 50).where('sub_total > 0').all_in_order
        =render partial: 'invoices/index'
