=form_for(@course_section, html: {class: 'form-horizontal', role: 'form', id: 'course_section_form'}) do |f|
  .row
    .col-md-12.l-margin-top
      .col-md-6
        =render partial: '/layouts/error_messages', locals: {thing: @course_section, message: nil}
        =f.hidden_field :sorting_order
        =f.hidden_field :subject_course_id

        =f.label :name, t('views.course_sections.form.name'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :name, placeholder: t('views.course_sections.form.name_placeholder'), class: 'form-control update-my-url', style: 'border-radius: 6px;'
        %br/

      .col-md-6
        =f.label :name_url, t('views.course_sections.form.name_url'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.text_field :name_url, placeholder: t('views.course_sections.form.name_url_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
        %br/

    .col-md-12
      .col-sm-4
        .checkbox
          %label
            =f.check_box :active
            =t('views.course_sections.form.active')

      .col-sm-4
        .checkbox
          %label
            =f.check_box :counts_towards_completion
            =t('views.course_sections.form.counts_towards_completion')

      .col-sm-4
        .checkbox
          %label
            =f.check_box :assumed_knowledge
            =t('views.course_sections.form.assumed_knowledge')


  %br/
  %br/
  %br/
  %br/
  .row
    .col-md-12
      =f.submit t('views.general.save'), class: 'btn btn-red'
      =link_to t('views.general.cancel'), course_module_special_link(@course_section), class: 'btn btn-cyan'



