.container
  %header.management-console-section
    %h1
      =@course.name
  %section.pb-3
    -if @course.course_sections.count < 1
      .row.text-center
        .col-sm-12
          %p.h6
            Please create a Course Module to begin.  A course module will hold a collection of Videos and Quizzes under the same topic.  Each topic should have a separate Module.  The name of the Module should reflect the topic.
      .row
        =link_to 'New Course Section (tab)', admin_new_course_section_path(@course.id), class: 'btn btn-primary'
    -else
      .row
        .col-sm-12
          =link_to 'Free Lesson', admin_course_free_lesson_content_path(@course), class: 'btn btn-warning'
          =link_to t('views.course_resources.show.h2'), admin_course_resources_path(@course), class: 'btn btn-secondary'
          =link_to 'New Course Section (tab)', admin_new_course_section_path(@course.id), class: 'btn btn-primary'
          =link_to 'Reorder Course Sections', admin_reorder_course_sections_path(@course.id), class: 'btn btn-warning'
          =link_to t('views.courses.show.course_tutors'), admin_course_course_tutors_path(course_id: @course), class: 'btn btn-secondary'
          =link_to t('views.courses.show.update_student_logs'), admin_course_update_user_logs_path(@course), method: :post, class: 'btn btn-danger'
      .row
        .col-sm-12
          Quizzes
          =@course.quiz_count
          &#45;
          Videos
          =@course.video_count
          &#45;
          CRs
          =@course.constructed_response_count
          &#45;
          Completion Count
          =@course.completion_cme_count
          &#45;
          Total Count
          =@course.cme_count

      .row
        .col-md-12
          .ol.sortable-area
            -@course.course_sections.all_in_order.each do |course_section|
              .li
                .box-item.table-box
                  .table-responsive
                    .row
                      .col-sm-6
                        %h2=course_section.name.to_s.truncate(50)
                      .col-sm-4
                        Quizzes
                        =course_section.quiz_count
                        &#45;
                        Videos
                        =course_section.video_count
                        &#45;
                        CRs
                        =course_section.constructed_response_count
                      .col-sm-2
                        .pull-right
                          =tick_or_cross(course_section.active)

                    %table.table.sorted_table{data: {destination: admin_course_lessons_path}}
                      %thead
                        %tr
                          %th Name
                          %th Active
                          %th Lessons
                          %th
                          %th
                          %th
                      %tbody
                        -course_section.course_lessons.not_free.all_in_order.each do |course_lesson|
                          %tr{id: course_lesson.id, data: { parent: @course.id, destination: admin_course_lessons_url}}
                            %td
                              =course_lesson.name.to_s
                            %td
                              =tick_or_cross(course_lesson.active)
                            %td
                              =course_lesson.cme_count
                            %td
                              =link_to t('views.general.edit'), admin_edit_course_lesson_path(@course.id, course_section.id, course_lesson.id), class: 'btn btn-xs btn-primary'
                              =link_to t('views.general.show'), admin_show_course_lesson_path(@course.id, course_section.id, course_lesson.id), class: 'btn btn-xs btn-secondary'
                              -if course_lesson.destroyable?
                                =link_to t('views.general.delete'), admin_course_lesson_path(course_lesson), method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary-reverse btn-xs'
                            %td
                              %span.glyphicon.glyphicon-sort{title: t('views.general.drag_to_reorder')}


                  .col-sm.pt-2
                    =link_to 'New Lesson', admin_new_course_lesson_path(@course.id, course_section.id), class: 'btn btn-primary btn-xs'
                    =link_to t('views.course_sections.edit.h1'), edit_admin_course_section_path(course_section), class: 'btn btn-primary btn-xs'
                    =link_to I18n.t('views.course_sections.index.delete'), admin_course_section_path(course_section), method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-secondary-reverse btn-xs'
