.row
  .col-sm-8.col-sm-offset-2
    =form_for(@white_paper, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @white_paper, message: nil}
        .form-group
          =f.label :title, t('views.white_papers.form.title'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_field :title, placeholder: t('views.white_papers.form.title_placeholder'), class: 'form-control', autofocus: true
        .form-group
          =f.label :description, t('views.white_papers.form.description'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_area :description, placeholder: t('views.white_papers.form.description_placeholder'), rows: 4, class: 'form-control'

      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), white_papers_path
