.row
  .col-sm-12
    .page-header
      %h1
        =t('views.white_papers.show.h1')
        \#
        =@white_paper.id
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.white_papers.form.title')
        %td.col-sm-8=@white_paper.title
      %tr
        %td.col-sm-4=t('views.white_papers.form.description')
        %td.col-sm-8=@white_paper.description
    %p
      =link_to t('views.general.back'), white_papers_url
      |
      =link_to t('views.general.edit'), edit_white_paper_url(id: @white_paper.id), title: t('views.general.edit_tooltip')
