.home-hero-alt-5 {
  margin-bottom: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: asset-url('hero-bg-4.jpg');
  background-position: 30% 50%;
}
@media (min-width:992px) {
  .home-hero-alt-5 {
    background-position: 40% 50%;
  }
}


.home-hero.home-hero-basic-login {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.home-hero.home-hero-basic-login .home-hero-header {
  padding-top: 0
}
@media (min-width:576px) {
  .home-hero.home-hero-basic-login .home-hero-header {
    padding-top: 0;
    padding-bottom: 1rem
  }
}
@media (min-width:992px) {
  .home-hero.home-hero-basic-login .home-hero-header {
    padding-top: 2rem;
    padding-bottom: 5rem
  }
}

