%section.pb-7
  .row
    =form_with url: export_path, local: true do
      =hidden_field_tag(:period, 'Specific Dates')
      .col
        .form-group#custom_exam_date
          =label_tag(:start_date, 'Initial Date')
          =date_field :report, :start_date

      .col
        .form-group#custom_exam_date
          =label_tag(:final_date, 'Final Date')
          =date_field :report, :final_date
      .col-sm-12
        =submit_tag("Generate", class: 'btn btn-primary')
        =link_to t('views.general.back'), reports_path, class: 'btn btn-secondary'
