.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            Reports
      .row.l-margin-top.l-margin-bottom
        .col-md-12
          =render partial: 'layouts/stats_navbar'

  .row.l-margin-top.l-margin-bottom-huge
    .col-md-10.col-md-offset-1.l-margin-top-big
      .col-md-6
        = link_to 'Total Users', export_users_path(format: :xls), class: 'btn btn-cyan btn-wide'
      .col-md-6
        = link_to 'Courses List', export_courses_path(format: :xls), class: 'btn btn-purple btn-wide'

    .col-md-10.col-md-offset-1.l-margin-top
      .col-md-6
        =link_to 'Monthly Users', export_users_monthly_path(format: :xls), class: 'btn btn-red btn-wide'

      .col-md-6
        =link_to 'Users with Enrolments', export_users_with_enrollments_path(format: :xls), class: 'btn btn-orange btn-wide'

    .col-md-10.col-md-offset-1.l-margin-top
      .col-md-6
        =link_to 'Users with UTM data', export_visits_path(format: :xls), class: 'btn btn-red btn-wide'
      .col-md-6
        =link_to 'Enrolments', export_enrollments_path(format: :xls), class: 'btn btn-cyan btn-wide'



