.container
  %header.management-console-section
    %h1
      General Reports

  %section.pb-7
    .col-sm.pt-4
      .row
        .col-sm-6
          =link_to 'Sales Report', reports_sales_path, class: 'btn btn-secondary'
