.container
  %header.management-console-section
    %h1
      General Reports

  %section.pb-7
    .col-sm.pt-4
      .row
        .col-sm-4
          =link_to 'Sales Report', reports_sales_path, class: 'btn btn-secondary'
        .col-sm-4
          =link_to 'Refunds Report', reports_refunds_path, class: 'btn btn-secondary'
        .col-sm-4
          =link_to 'Orders Report', reports_orders_path, class: 'btn btn-secondary'
