=form_for(@marketing_token, html: {class: 'form-horizontal', role: 'form'}) do |f|
  =render partial: '/layouts/error_messages', locals: {thing: @marketing_token, message: nil}
  .row
    .col-md-8.col-md-offset-2
      =f.label :code, t('views.marketing_tokens.form.code'), class: 'control-label'
      .input-group.input-group-lg.full-width
        =f.text_field :code, placeholder: t('views.marketing_tokens.form.code_placeholder'), class: 'form-control', style: 'border-radius: 6px;', disabled: !@marketing_token.new_record?
        %br/
        =f.label :marketing_category_id, t('views.marketing_tokens.form.marketing_category_id'), class: 'control-label'
        .input-group.input-group-lg.full-width
          =f.collection_select :marketing_category_id, @marketing_categories, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control', style: 'border-radius: 6px;'}
        %br/
        .form-group
          .col-sm-8.col-sm-offset-2
            .checkbox
              %label
                =f.check_box :is_hard
                =t('views.marketing_tokens.form.is_hard')

  .row
    =f.submit t('views.general.save'), class: 'btn btn-red'
    =link_to t('views.general.cancel'), marketing_tokens_path, class: 'btn btn-cyan'
