.margin-top
  -if flash[:success] || flash[:error] || flash[:warning]
    =render partial: 'layouts/flash_messages'
.l-section-small.is-bg-asphalt
  .l-wrap
    .container-fluid
      .row.l-margin-bottom
        .col-md-12.text-center
          %h1.l-margin-bottom.l-margin-top.text-center.h-separator.h-separator-center{style: 'letter-spacing:1.5px;'}
            =t('views.marketing_tokens.index.h1')
      .row.l-margin-top.l-margin-bottom
        .col-md-12.l-margin-top-big
          .no-image-box-item.table-box
            .table-responsive
              =will_paginate @marketing_tokens, renderer: BootstrapPagination::Rails
              %table.table.table-bordered.l-margin-top
                %thead
                  %tr
                    %th=t('views.marketing_tokens.form.code')
                    %th=t('views.marketing_tokens.form.marketing_category_id')
                    %th=t('views.marketing_tokens.form.is_hard')
                    %th=t('views.marketing_tokens.form.is_seo')
                    %th=t('views.marketing_tokens.form.is_direct')
                    %th
                %tbody
                  -@marketing_tokens.each do |marketing_token|
                    %tr{id: marketing_token.id}
                      %td=marketing_token.code
                      %td=marketing_token.marketing_category.name
                      %td=tick_or_cross(marketing_token.is_hard)
                      %td=tick_or_cross(marketing_token.is_seo)
                      %td=tick_or_cross(marketing_token.is_direct)
                      %td
                        =link_to t('views.general.show'), marketing_token_url(marketing_token), class: 'btn btn-cyan btn-small'
                        -if marketing_token.editable?
                          =link_to t('views.general.edit'), edit_marketing_token_url(marketing_token), class: 'btn btn-cyan btn-small'
                        -if marketing_token.destroyable?
                          =link_to t('views.general.delete'), marketing_token, method: :delete, data: { confirm: t('views.general.delete_confirmation') }, class: 'btn btn-red btn-small'

      .row
        =link_to t('views.general.new'), new_marketing_token_url, class: 'btn btn-red', title: t('views.general.new_tooltip')
        =link_to t('views.marketing_tokens.index.csv_upload'), '#', data: {toggle: 'modal', target: '#new-upload-modal'}, class: 'btn btn-red'
        =link_to t('views.marketing_tokens.index.csv_download'), download_csv_marketing_tokens_url, class: 'btn btn-cyan'
        .pull-right=link_to t('views.marketing_categories.index.h1'), marketing_categories_url

=render partial: 'csv_file_upload'
