-unless current_user
  .notice.warning
    .p
      .fa.fa-info-circle.icon
      A Valid Account is required to access this content.
      &#160;
      =link_to new_student_url do
        Claim your Free Trial?
