-unless current_user
  .notice.warning
    .p
      .fa.fa-info-circle.icon
      =link_to sign_in_url do
        Log into your account
      or

      =link_to new_student_url do
        start your free trial
      to learn this course
