-if current_user
  -# Logged In User
  -if current_user.individual_student? || current_user.product_student?
    -# Logged In Student
    -if @course_category.id == @subscription_category.id
      -# A Subscription Course
      -if current_user.free_member?
        .notice.warning
          .fa.fa-info-circle.icon
          Upgrade Your Account for Full Access.
          =link_to user_new_subscription_url(current_user) do
            Upgrade Account?

      -elsif current_user.expired_free_member?
        .notice.warning
          .fa.fa-info-circle.icon
          Your Free Trial has expired. You need to upgrade your account to continue learning.
          =link_to user_new_subscription_url(current_user) do
            Upgrade Account?

      -elsif current_user.canceled_member?
        .notice.warning
          .fa.fa-info-circle.icon
          Your Account is canceled.
          =link_to user_reactivate_account_url(current_user.id) do
            Reactivate Account?

-else
  -# Logged out User
  .notice.warning
    .fa.fa-info-circle.icon
    An Account is required to access this content.
    &#160;
    =link_to new_student_url do
      Claim your Free Trial?

