=form_for(:corporate_request,
      url: corporate_requests_path,
      method: 'POST',
      html: {class: 'form-horizontal', role: 'form'}) do |f|

  .modal.fade#contactModal{tabindex:'-1', role:'dialog', 'aria-labelledby':'contactModalLabel'}
    .modal-dialog
      .modal-content.is-bg-asphalt.l-padding-side-15
        .container-fluid
          .modal-header
            .row
              .col-md-12.l-margin-top
                %button{type: "button", class: 'close', "data-dismiss": 'modal', "aria-label": 'Close', style: 'font-size: 30px'} &times;
                %h2.modal-title{style: 'width: 95%'} Make an enquiry
            .row.l-margin-top
              .col-md-12
                =f.label :name, t('views.corporate_requests.form.name'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :name, placeholder: t('views.corporate_requests.form.name_placeholder'), class: 'form-control', style: 'border-radius: 6px;', autofocus: true
                =f.label :company, t('views.corporate_requests.form.company'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :company, placeholder: t('views.corporate_requests.form.company_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                =f.label :email, t('views.corporate_requests.form.email'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :email, placeholder: t('views.corporate_requests.form.email_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                =f.label :phone_number, t('views.corporate_requests.form.phone_number'), class: 'control-label'
                .input-group.input-group-lg.full-width
                  =f.text_field :phone_number, placeholder: t('views.corporate_requests.form.phone_number_placeholder'), class: 'form-control', style: 'border-radius: 6px;'
                %br/

            %button.btn.btn-cyan{type: 'button', data: {dismiss: 'modal'}}=t('views.general.cancel')
            =f.submit t('views.general.actual_submit'), class: 'btn btn-red'
