-# Logged In User
-if current_user && current_user.trial_user?
  -# Logged In Student
  .notice.warning
    .p
      .fa.fa-info-circle.icon
      Upgrade Your Account for Full Access.
      =link_to new_subscription_url do
        Upgrade Account?

-elsif current_user && current_user.trial_or_sub_user? && current_user.canceled_member?
  .notice.warning
    .p
      .fa.fa-info-circle.icon
      Your Account is canceled.
      =link_to user_reactivate_account_url(current_user.id) do
        Reactivate Account?
