%script{:src => "//cdn.iubenda.com/cs/tcf/stub.js", :type => "text/javascript"}
:javascript
  var _iub = _iub || [];
  _iub.csConfiguration = {"lang":"en","siteId":481960,"countryDetection":true,"consentOnContinuedBrowsing":false,"enableCMP":true,"googleAdsPreferenceManagement":true,"cookiePolicyId":7779613, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center","acceptButtonColor":"#00b67b","acceptButtonCaptionColor":"white","customizeButtonColor":"#f5f8fa","customizeButtonCaptionColor":"#4D4D4D","textColor":"#ffffff","backgroundColor":"#000032","closeButtonDisplay":false }};
%script{:async => "", :charset => "UTF-8", :src => "//cdn.iubenda.com/cs/iubenda_cs.js", :type => "text/javascript"}