-if current_visit && current_visit.device_type == 'mobile'

  :javascript
    var _iub = _iub || [];
    _iub.csConfiguration = {
      cookiePolicyId: 7779613,
      siteId: 481960,
      lang: "en",
      banner: {
        slideDown: false,
        content: 'This website or its third party tools use cookies. By closing this banner, scrolling this page, clicking a link or continuing to browse otherwise, you agree to the use of cookies illustrated in the %{cookie_policy_link}.',
        applyStyles: false
      }
    };
    (function (w, d) {
      var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/cookie_solution/iubenda_cs.js"; tag.parentNode.insertBefore(s, tag); };
      if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; }
    })(window, document);

-else
  :javascript
    var _iub = _iub || [];
    _iub.csConfiguration = {
      cookiePolicyId: 7779613,
      siteId: 481960,
      lang: "en",
      banner: {
        slideDown: false,
        content: 'This website or its third party tools use cookies, which are necessary to its functioning and required to achieve the purposes illustrated in the %{cookie_policy_link}. If you want to know more or withdraw your consent to all or some of the cookies, please refer to the cookie policy. By closing this banner, scrolling this page, clicking a link or continuing to browse otherwise, you agree to the use of cookies.',
        applyStyles: false
      }
    };
    (function (w, d) {
      var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/cookie_solution/iubenda_cs.js"; tag.parentNode.insertBefore(s, tag); };
      if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; }
    })(window, document);