-if Rails.env.production?
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-141784351-1"}
  :javascript
    const gtag_id = 'UA-141784351-1';
-elsif Rails.env.staging?
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-185199057-2"}
  :javascript
    const gtag_id = 'UA-185199057-2';

:javascript
  var _iub = _iub || [];
  _iub.csConfiguration = {
    "countryDetection":true,
    "consentOnContinuedBrowsing":false,
    "enableCMP":true,
    "lang":"en",
    "siteId":481960,
    "floatingPreferencesButtonDisplay":"bottom-left",
    "cookiePolicyId":7779613,
    "callback": {
      onConsentGiven: function() {
        dataLayer.push({
          'event': 'iubenda_accept_consent_given'
        });
        var hubspot_accept = document.getElementById("hs-eu-confirmation-button");
        hubspot_accept.click();
        // Global Site Tag
        if(gtag_id) {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', gtag_id, { 'send_page_view': false });
        // Global Site Tag
        } else {
          gtag = function (){};
        }
      },
      onConsentRejected: function() {
        console.log('Consent Rejected On Load');
      }
    },
    "banner":{
      "acceptButtonDisplay":true,
      "customizeButtonDisplay":true,
      "acceptButtonColor":"#00b67b",
      "acceptButtonCaptionColor":"white",
      "customizeButtonColor":"#f5f8fa",
      "customizeButtonCaptionColor":"#4D4D4D",
      "closeButtonDisplay":false,
      "position":"float-top-center",
      "textColor":"#ffffff",
      "backgroundColor":"#000032"
    }};
%script{:src => "//cdn.iubenda.com/cs/tcf/stub-v2.js", :type => "text/javascript"}
%script{:src => "//cdn.iubenda.com/cs/iubenda_cs.js", :type => "text/javascript"}
