#sidebar-wrapper.text-center
  %ul.sidebar-nav
    .sidebar-brand
      = image_tag @corporate_customer.logo.url
    %li.first-li
      =link_to t('views.corporate_customers.show.overview'), corporate_customer_url(current_user.corporate_customer)
    %li
      =link_to t('views.corporate_students.index.corp_h1'), corporate_students_url
    %li
      =link_to t('views.corporate_groups.index.corp_h1'), corporate_groups_url
    %li
      =link_to t('views.users.show.h1'), profile_url
