#sidebar-wrapper.text-center
  %ul.sidebar-nav
    .sidebar-brand
      -if current_user.corporate_customer?
        = image_tag current_user.corporate_customer.logo.url
      -else
        %img.logo{alt: 'Corporate Logo', src: 'assets/images/missing_corporate_logo.png'}
    %li.first-li
      =link_to t('views.corporate_customers.show.overview'), corporate_customer_url(current_user.corporate_customer)
    %li
      =link_to t('views.corporate_students.index.corp_h1'), corporate_students_url
    %li
      =link_to t('views.corporate_groups.index.corp_h1'), corporate_groups_url
    %li
      =link_to t('views.subject_courses.index.h1'), subject_courses_url
    %li
      =link_to t('views.users.show.h1'), account_url
