.default-title
  -if current_corporate
    -if current_corporate.logo.url
      =link_to root_url do
        =image_tag current_corporate.logo.url, class: ''
    -else
      =link_to root_url do
        =image_tag 'ls-logo-red.svg', class: 'md-image'
  -else
    =link_to root_url do
      =image_tag 'ls-logo-red.svg', class: 'sign-in-logo'
