.foot.navbar-footer
  .l-wrap
    .container-fluid
      %ul.foot-nav-small
        %li
          =link_to 'Privacy Policy', privacy_policy_url
        %li
          =link_to 'Terms & Conditions', terms_and_conditions_url

      %p.foot-powered-by
        powered by LearnSignal
