-if thing.errors.any?
  -field_list = thing.errors.map {|x,y| x}.uniq
  .panel.panel-danger
    .panel-heading
      =pluralize(field_list.count, T('views.layouts.error_messages.error'))
      =message || t('views.layouts.error_messages.preface')

    .panel-body
      %ul
        -field_list.each do |field|
          %li
            =field.to_s.humanize.gsub('Base','')
            -if thing.errors[field].length > 1
              =t('views.layouts.error_messages.is_invalid')
            -else
              =thing.errors[field].first

  %script

    \$(document).on('ready page:load', function() {
    -field_list.each do |field_name|
      $('##{thing.class.name.underscore}_#{field_name}').parent().addClass('has-error');
    \})
