#flash_message
  -if flash[:notice]
    .alert.alert-info
      =flash[:notice]
  -elsif flash[:success]
    .alert.success
      =flash[:success]
  -elsif flash[:alert]
    .alert.alert-warning
      =flash[:alert]
  -elsif flash[:warning]
    .alert.warning
      =flash[:warning]
  -elsif flash[:error]
    .alert.error
      =flash[:error]
