.notificationMessageWrapper.my-4#flash_message
  %button.btn.btn-icon.modal-close.notificationMessageWrapper-closeBtn.js-flash-message-close-btn{"data-dismiss" => "modal"}
    %i.material-icons{"aria-hidden" => "true"} close
  -if flash[:notice]
    .notificationMessageWrapper-icon.notice
      .i.material-icons check_circle
    %div
      .notificationMessageWrapper-title
        =flash[:notice]
      .notificationMessageWrapper-desc
    -# .alert.alert-primary
    -#   =flash[:notice]
  -elsif flash[:success]
    .notificationMessageWrapper-icon.success
      .i.material-icons check_circle
    %div
      .notificationMessageWrapper-title
        =flash[:success]
      .notificationMessageWrapper-desc
    -# .alert.alert-success
    -#   =flash[:success]
  -elsif flash[:alert]
    .notificationMessageWrapper-icon.alert
      .i.material-icons check_circle
    %div
      .notificationMessageWrapper-title
        =flash[:alert]
      .notificationMessageWrapper-desc
    -# .alert.alert-warning
    -#   =flash[:alert]
  -elsif flash[:warning]
    .notificationMessageWrapper-icon.warning
      .i.material-icons check_circle
    %div
      .notificationMessageWrapper-title
        =flash[:warning]
      .notificationMessageWrapper-desc
    -# .alert.alert-warning
    -#   =flash[:warning]
  -elsif flash[:error]
    .notificationMessageWrapper-icon.error
      .i.material-icons error_outline
    %div
      .notificationMessageWrapper-title
        Something went wrong
      .notificationMessageWrapper-desc
        =flash[:error]
    -# .alert.alert-error
    -#   =flash[:error]
  -elsif flash[:modal_success]
    .notificationMessageWrapper-icon.modal_success
      .i.material-icons check_circle
    %div
      .notificationMessageWrapper-title
        =flash[:modal_success]
      .notificationMessageWrapper-desc
    -# .alert.alert-success
    -#   =flash[:modal_success]
  -elsif flash[:modal_error]
    .notificationMessageWrapper-icon.modal_error
      .i.material-icons check_circle
    %div
      .notificationMessageWrapper-title
        =flash[:modal_error]
      .notificationMessageWrapper-desc
    -# .alert.alert-error
    -#   =flash[:modal_error]



:javascript
  $(document).on('ready', function() {
    $('.js-flash-message-close-btn').on('click', function() {
      $('.notificationMessageWrapper#flash_message').fadeOut();
    });
    setTimeout(function() {
        $('.notificationMessageWrapper#flash_message').fadeOut();
    }, 3000);
  });