#flash_message{style: "#{@banner ? 'padding-top: 22px;' : 'padding-top: 0;'}"}
  -if flash[:notice]
    .alert.alert-primary
      =flash[:notice]
  -elsif flash[:success]
    .alert.alert-success
      =flash[:success]
  -elsif flash[:alert]
    .alert.alert-warning
      =flash[:alert]
  -elsif flash[:warning]
    .alert.alert-warning
      =flash[:warning]
  -elsif flash[:error]
    .alert.alert-error
      =flash[:error]
