-#if Rails.env.production? || Rails.env.staging?
  .container
    .row
      .col-sm-2.col-sm-offset-5.text-center{style: 'margin-top: 40px;'}
        %iframe{src: 'https://www.tinfoilsecurity.com/free_badge_iframe?type=grey&size=2', sandbox: 'allow-popups', scrolling: 'no', frameborder: 0, allowTransparency: true, style: 'border:none; overflow:hidden; width:115px; height:35px; margin: 0 auto;'}

-#%nav.navbar.navbar-default.navbar-fixed-bottom{role: 'navigation'}
%nav.navbar.navbar-default.navbar-footer{role: 'navigation'}

  .container
    .navbar-header.col-sm-12
      .navbar-text.visible-xs.pull-left
        &copy; LearnSignal
        -unless Rails.env.test?
          %br/
          %a{href: 'https://mixpanel.com/f/partner'}
            %img{src: '//cdn.mxpnl.com/site_media/images/partner/badge_light.png', alt: 'Mobile Analytics', style: 'margin: 10px 0;'}
      -#.navbar-text.visible-xs.pull-left{style: 'margin: 15px 5px;'}

      %ul.nav.navbar-nav.visible-xs.pull-right
        %li=link_to 'Teach', new_tutor_application_url
        =render partial: 'layouts/custom_nav_links', locals: {link_type: 'footer'}

      %ul.nav.navbar-text.hidden-xs.pull-left
        %li
          &copy;
          2014 -
          =Time.now.year
          Learn Signal
      %ul.nav.navbar-nav.hidden-xs.pull-right
        -unless Rails.env.test?
          %li
            %a{href: 'https://mixpanel.com/f/partner', style: 'padding: 15px;'}
              %img{src: '//cdn.mxpnl.com/site_media/images/partner/badge_light.png', alt: 'Mobile Analytics'}
      %ul.nav.navbar-nav.hidden-xs.pull-right
        %li=link_to 'Teach', new_tutor_application_url
        =render partial: 'layouts/custom_nav_links', locals: {link_type: 'footer'}
