%footer.footer{class: @footer == 'white' ? 'footer-light' : 'footer-dark'}
  .container.position-relative.py-6
    .row
      .col-12.col-md-6.col-lg-4
        =link_to home_url, class: 'mb-4' do
          =image_tag(@footer == 'white' ? 'Learnsignal-Logo.svg' : 'learnsignal-Logo-white.svg', class: 'mb-1 logo', alt: 'LearnSignal Logo')

      .col-6.col-md-3.col-lg-4.mb-4
        .row
          .col-lg-6
            %ul.nav.flex-column
              -if @groups
                -@groups.all_in_order.each do |group|
                  -if group.active && group.active_children.any?
                    %li.nav-item
                      =link_to "#{group.name} Courses", library_special_link(group), class: 'nav-link'

                -@groups.all_in_order.each do |group|
                  -if group.active && group.exam_body.has_products?
                    %li.nav-item
                      =link_to "#{group.name} Products", exam_products_url(group.name_url), class: 'nav-link'

              %li.nav-item
                =link_to 'ACCA Info', acca_info_url, class: 'nav-link'

          .col-lg-6
            %ul.nav.flex-column
              %li.nav-item
                =link_to 'Tutors', tutors_url, class: 'nav-link'
              %li.nav-item
                =link_to 'FAQs', public_faqs_url, class: 'nav-link'
              %li.nav-item
                %a{href: 'http://blog.learnsignal.com/', class: 'nav-link', target: '_blank'} Blog

              -@footer_landing_pages.each do |landing_page|
                %li.nav-item
                  =link_to landing_page.name, footer_landing_page_url(landing_page.public_url), class: 'nav-link'


      .col-6.col-md-3.col-lg-4.mb-4
        .row
          .col-lg-6
            %ul.nav.flex-column
              %li.nav-item
                =link_to 'Contact Us', contact_url, class: 'nav-link'
              %li.nav-item
                =link_to 'Privacy Policy', privacy_policy_url, class: 'nav-link'
              %li.nav-item
                =link_to 'Terms & Conditions', terms_and_conditions_url, class: 'nav-link'

          .col-lg-6
            %ul.nav.flex-column
              %li.nav-item
                =link_to "https://www.facebook.com/learnsignal/", class: 'nav-link social-icon', target: '_blank' do
                  =image_tag('facebook_social.png')
                  Facebook
              %li.nav-item
                =link_to "https://twitter.com/learnsignal", class: 'nav-link social-icon', target: '_blank' do
                  =image_tag('twitter_social.png')
                  Twitter
              %li.nav-item
                =link_to "https://www.linkedin.com/company/learnsignal", class: 'nav-link social-icon', target: '_blank' do
                  =image_tag('linkedin_social.png')
                  LinkedIn

    %small.footer-info.d-block
      ="© #{Time.new.year} learnsignal"