%footer.footer.footerMarketing{class: @footer == 'white' ? 'footer-light' : 'footer-dark'}
  .container.position-relative.pt-5.pb-3
    .row
      .col-12.col-md-6.col-lg-3
        =link_to home_url, class: 'mb-4' do
          =image_tag('Learnsignal-Logo.svg', class: 'mb-1 logo', alt: 'LearnSignal Logo')
        %ul.nav.nav-social.mt-2
          %li.nav-item
            =link_to "https://www.facebook.com/learnsignal/", class: 'nav-link social-icon', target: '_blank', rel: 'noreferrer' do
              =image_tag('social-icons/facebook-icon@2x.png')
              %span.hidden-xs
                Facebook
          %li.nav-item
            =link_to "https://twitter.com/learnsignal", class: 'nav-link social-icon', target: '_blank', rel: 'noreferrer' do
              =image_tag('social-icons/twitter-icon@2x.png')
              %span.hidden-xs
                Twitter
          %li.nav-item
            =link_to "https://www.linkedin.com/company/learnsignal", class: 'nav-link social-icon', target: '_blank', rel: 'noreferrer' do
              =image_tag('social-icons/linkedin-icon@2x.png')
              %span.hidden-xs
                LinkedIn
          %li.nav-item
            =link_to "https://www.instagram.com/learnsignal_/", class: 'nav-link social-icon', target: '_blank', rel: 'noreferrer' do
              =image_tag('social-icons/instagram-icon@2x.png')
              %span.hidden-xs
                Instagram
          %li.nav-item
            =link_to "https://www.youtube.com/user/LearnSignal", class: 'nav-link social-icon', target: '_blank', rel: 'noreferrer' do
              =image_tag('social-icons/youtube-icon@2x.png')
              %span.hidden-xs
                Youtube

      .col-6.col-md-3.col-lg-9.mb-4
        .row
          .col-lg-3
            %ul.nav.flex-column
              -if @groups
                %li.nav-item.nav-item-header
                  Courses
                -@groups.all_in_order.each do |group|
                  -if group.active && group.active_children.any?
                    %li.nav-item
                      =link_to "#{group.name} Courses", library_special_link(group), class: 'nav-link'
          .col-lg-3
            %ul.nav.flex-column
              -if @groups
                %li.nav-item.nav-item-header
                  Products

                -@groups.all_in_order.each do |group|
                  -if group.active && group.exam_body.has_products?
                    %li.nav-item
                      =link_to "#{group.name} Products", exam_products_url(group.name_url), class: 'nav-link'
          .col-lg-3
            %ul.nav.flex-column
              %li.nav-item.nav-item-header
                Company
              %li.nav-item
                =link_to 'About Us', privacy_policy_url, class: 'nav-link'
              %li.nav-item
                %a{href: 'https://blog.learnsignal.com/', class: 'nav-link', target: '_blank', rel: 'noreferrer'} Blog
              %li.nav-item
                %a{href: '/careers', class: 'nav-link', } Careers
              %li.nav-item
                =link_to 'Privacy Policy', privacy_policy_url, class: 'nav-link'
              %li.nav-item
                =link_to 'Terms & Conditions', terms_and_conditions_url, class: 'nav-link'
          
          .col-lg-3
            %ul.nav.flex-column
              %li.nav-item.nav-item-header
                Support
              %li.nav-item
                =link_to 'FAQs', public_faqs_url, class: 'nav-link'
              %li.nav-item
                =link_to 'Contact Us', contact_url, class: 'nav-link'

    .footerBottomInfo
      .footerBottomInfo-item
        ="© Signal Education Limited, #{Time.new.year}"
      .footerBottomInfo-item
        %a{href: '#', class: 'iubenda-advertising-preferences-link footerBottomInfo-itemLink', } Update your advertising tracking preferences
