%script{:src => '//cdn.jsdelivr.net/npm/fingerprintjs2@latest/dist/fingerprint2.min.js'}

:javascript

  dataLayer = [];

  new Fingerprint2().get(function(result){
    dataLayer.push({
    'fingerprint': result,
    'event': 'sendFingerprint'
    });
  });

  function(){
    return new Date().getTime();
  };


-if current_user
  :javascript
    dataLayer.push({'user_id': "#{current_user.id}"});


-# Google Tag Manager
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'}); var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:''; j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5SC76S');

-# End Google Tag Manager
