/ Start of HubSpot Embed Code
%script#hs-script-loader{:async => "", :defer => "defer", :src => "//js.hs-scripts.com/#{Rails.application.credentials[Rails.env.to_sym][:hubspot][:form_api][:portal_id]}.js", :type => "text/javascript"}
/ End of HubSpot Embed Code
