-if current_user
  =intercom_script_tag({app_id: (ENV['intercom_app_id']),
    user_id: current_user.id,
    email: current_user.email,
    name: current_user.full_name,
    created_at: current_user.created_at,
    custom_data: {guid: current_user.guid,
    user_group: current_user.user_group.try(:name),
    account_status: current_user.try(:user_account_status),
    free_trial: current_user.try(:free_member?),
    valid_free_trial: current_user.try(:valid_free_member?),
    free_trial_days_left: current_user.try(:days_left),
    free_trial_minutes_left: current_user.try(:minutes_left),
    email_verified: current_user.try(:email_verified),
    ga_id: current_user.try(:analytics_guid),
    student_number: current_user.try(:student_number),
    date_of_birth: current_user.try(:date_of_birth),
    }})