.container
  #logo
    =link_to home_url do
      =image_tag('ls-logo-transparent.svg', class: 'nav-logo')

  %nav#menu
    .mobile
      %i.fa.fa-bars
    %ul
      %li
        =link_to 'Courses', library_url
      %li
        =link_to 'Pricing', pricing_url
      %li
        -if current_user && current_user.trial_or_sub_user?
          =link_to 'Get full access', new_subscription_url, class: 'uc get'
        -else
          =link_to 'Free Trial', new_student_url, class: 'uc get'

      -unless current_user
        %li
          =link_to 'Login', sign_in_url, class: 'uc'
