
.foot.navbar-footer.visible-xs.hidden-sm.hidden-md.hidden-lg
  .l-wrap
    .container-fluid
      .col-xs-12
        %ul.foot-list-large
          -if @groups
            -@groups.each do |group|
              -if group.active_children.any?
                %li
                  =link_to group.name, library_special_link(group)

          -if @diplomas
            -@diplomas.each do |diploma|
              %li
                =link_to diploma.name, library_special_link(diploma)

          %li
            =link_to 'Lecturers', tutors_url
          %li
            =link_to 'Careers', new_tutor_application_url
          %li
            =link_to 'Contact', contact_url
          %li
            =link_to 'ACCA Info', acca_info_url
          %li
            =link_to 'Media', media_library_url
          %li
            =link_to 'Privacy Policy', privacy_policy_url
          %li
            =link_to 'Terms & Conditions', terms_and_conditions_url


      .col-xs-12.l-margin-top-big
        %ul.social-nav-xs
          %li
            %a{href: 'https://twitter.com/learnsignal', target: '_blank'}
              .span.fa.fa-twitter
              =' Twitter'
          %li
            %a{href: 'https://www.linkedin.com/company/learnsignal', target: '_blank'}
              .span.fa.fa-linkedin
              =' Linkedin'


      .col-xs-12
        %p.foot-copyright-small.text-center
          &copy; 2016 &mdash; 2017 LearnSignal


.foot.navbar-footer.hidden-xs.visible-sm.hidden-md.hidden-lg
  .l-wrap
    .container-fluid
      .col-sm-6.col-sm-push-6
        %ul.foot-list-large
          -if @groups
            -@groups.each do |group|
              -if group.active_children.any?
                %li
                  =link_to group.name, library_special_link(group)

          -if @diplomas
            -@diplomas.each do |diploma|
              %li
                =link_to diploma.name, library_special_link(diploma)

          %li
            =link_to 'Lecturers', tutors_url
          %li
            =link_to 'Careers', new_tutor_application_url
          %li
            =link_to 'Contact', contact_url
          %li
            =link_to 'ACCA Info', acca_info_url
          %li
            =link_to 'Media', media_library_url
          %li
            =link_to 'Privacy Policy', privacy_policy_url
          %li
            =link_to 'Terms & Conditions', terms_and_conditions_url


      .col-sm-6.col-sm-pull-6
        .footer-container
          %ul.social-nav-xs.foot-pull-down
            %li
              %a{href: 'https://twitter.com/learnsignal', target: '_blank'}
                .span.fa.fa-twitter
                =' Twitter'
            %li
              %a{href: 'https://www.linkedin.com/company/learnsignal', target: '_blank'}
                .span.fa.fa-linkedin
                =' Linkedin'


        .footer-container
          %p.foot-copyright-small.foot-pull-down.text-center
            &copy; 2016 &mdash; 2017 LearnSignal


.foot.navbar-footer.hidden-xs.hidden-sm.visible-md.visible-lg
  .l-wrap
    .container-fluid
      .col-md-3
        %ul.social-nav
          %li
            %a{href: 'https://twitter.com/learnsignal', target: '_blank'}
              .span.fa.fa-twitter
              =' Twitter'
          %li
            %a{href: 'https://www.linkedin.com/company/learnsignal', target: '_blank', style: 'margin-left: 25px;'}
              .span.fa.fa-linkedin
              =' Linkedin'

        %p.foot-copyright
          &copy; 2016 &mdash; 2017 LearnSignal


      .col-md-3
        %ul.foot-list-large
          -if @groups
            -@groups.each do |group|
              -if group.active_children.any?
                %li
                  =link_to group.name, library_special_link(group)

          -if @diplomas
            -@diplomas.each do |diploma|
              %li
                =link_to diploma.name, library_special_link(diploma)
          %li
            =link_to 'ACCA Info', acca_info_url

      .col-md-3
        %ul.foot-list-large
          %li
            %a{href: 'http://blog.learnsignal.com/', target: '_blank'}
              ='Blog'

          %li
            %a{href: 'https://community.learnsignal.com/', target: '_blank'}
              ='Community'

          %li
            =link_to 'Lecturers', tutors_url
          %li
            =link_to 'Media', media_library_url

      .col-md-3
        %ul.foot-list-large
          %li
            =link_to 'Contact', contact_url
          %li
            =link_to 'Careers', new_tutor_application_url
          %li
            =link_to 'Privacy Policy', privacy_policy_url
          %li
            =link_to 'Terms & Conditions', terms_and_conditions_url