#courses-mobile-nav
    %div#overlay-active-shadow
    %section.side-nav-overlay
        .side-nav-content
            .exit-btn-box
                %i#exitBtn.material-icons.exit-btn-close{"aria-label" => "failed", :role => "img", :style => "margin-left:1px"} close
            -if current_user
                -# -if current_user&.preferred_exam_body_id && !current_user&.valid_access_for_exam_body?(current_user&.preferred_exam_body_id, current_user&.preferred_exam_body&.group&.id)
                -#     .nav-item-box
                -#         =link_to 'Pricing', pricing_url(current_user&.preferred_exam_body&.group&.name_url)
                .user-item-box.mb-3
                    %span.user-item-box-userIcon
                        %svg{:fill => "#1f2937", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                            %path{"clip-rule" => "evenodd", :d => "M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z", "fill-rule" => "evenodd"}
                    %span.user-item-box-userName
                        =current_user.first_name.to_s
                -if !current_user&.preferred_exam_body_id && !current_user&.valid_subscription?
                    .nav-item-box.upgrade-btn
                        =link_to 'Upgrade Now', pricing_url
                .nav-item-box
                    =link_to 'Dashboard', student_dashboard_url
                .nav-item-box
                    =link_to 'Library', library_url

                -if current_user.non_student_user?
                    .nav-item-box
                        =link_to 'Console', management_consoles_url


                .nav-item-box
                    =link_to t('views.users.show.h1'), account_url
                .nav-item-box.logout
                    =link_to t('views.general.log_out'), sign_out_url

    %button.material-icons.btn-side-nav{:type => "button"}menu
    =link_to home_url, class: 'navbar-brand logo' do
        =image_tag('Learnsignal-Logo.svg', class: 'logo-img', alt: "LearnSignal Logo")


    :javascript

        const btnSideNavToggle = document.querySelector(".btn-side-nav");
        const sideNavOverlay = document.querySelector(".side-nav-overlay");
        const exitBtn = document.querySelector("#exitBtn");
        const shadow = document.querySelector("#overlay-active-shadow");

        $(document).mouseup(function(e){
            var container = $("#courses-mobile-nav > section");

            // If the target of the click isn't the container
            if(!container.is(e.target) && container.has(e.target).length === 0){
                sideNavOverlay.classList.remove("overlay-active");
                btnSideNavToggle.style.display = "";
                shadow.style.opacity = "0";
                shadow.style.visibility = "hidden";

                const btnOpacityOn = setTimeout((e) => {
                    btnSideNavToggle.style.opacity = "1";
                }, 10);
            }
        });

        btnSideNavToggle.onclick = () => {
            sideNavOverlay.classList.add("overlay-active");
            btnSideNavToggle.style.opacity = "1";
            btnSideNavToggle.style.transition = "opacity 0.3s";
            shadow.style.visibility = "visible";
            shadow.style.opacity = "1";
            shadow.style.transition = "opacity 1s";
        };

        exitBtn.onclick = () => {
            sideNavOverlay.classList.remove("overlay-active");
            btnSideNavToggle.style.display = "";
            shadow.style.opacity = "0";
            shadow.style.visibility = "hidden";
            shadow.style.transition = "opacity 1s";

            const btnOpacityOn = setTimeout((e) => {
                btnSideNavToggle.style.opacity = "1";
            }, 10);
        };
