.navbar.navbar-inverse.navbar-fixed-top{role:'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '#'} Learn Signal

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: '#'} Home
        %li
          %a{href: '#'} Dashboard
        %li
          %a{href: '#'} Library

      %ul.nav.navbar-nav.navbar-right
        -if current_user
          -if current_user.admin?
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'} }
                =t('views.general.admin')
                %span.caret
              %ul.dropdown-menu{role: 'menu'}
                %li=link_to t('views.institutions.index.h1'), institutions_url
                %li=link_to t('views.qualifications.index.h1'), qualifications_url
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'} }
              %span.glyphicon.glyphicon-cog
            %ul.dropdown-menu{role: 'menu'}
              %li=link_to t('views.users.show.h1'), profile_url
              -if current_user.admin?
                %li.divider
                %li=link_to t('views.users.index.h1'), users_url
                %li=link_to t('views.user_groups.index.h1'), user_groups_url
                %li.divider
              %li=link_to t('views.general.sign_out'), sign_out_url
        -else
          %li=link_to t('views.general.sign_up'), sign_up_url
          %li=link_to t('views.general.sign_in'), sign_in_url
