%header.header
  %nav
    =render partial: 'layouts/external_banner'
    .navbar.navbar-expand-lg.ls-bg-gray
      =render partial: 'layouts/mobile_nav'
      .container.hidden-xs
        =link_to home_url, class: 'navbar-brand logo' do
          =image_tag('Learnsignal-Logo.svg', class: 'logo-img', alt: "LearnSignal Logo")


          