.navbar.navbar-inverse.navbar-fixed-top#navbar{role:'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -if Rails.env.staging?
        =link_to Rails.env, root_url, class: (controller_name == 'static_pages' ? 'navbar-brand active' : 'navbar-brand'), style: 'background-color: blue;'
      -else
        =link_to root_url, class: 'navbar-brand navbar-logo', id: '#navbar-logo' do
          =image_tag 'https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/LS_Only_Logo.png', alt: t('views.layouts.navigation.learn_signal'), class: 'img img-responsive'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        =render partial: 'layouts/custom_nav_links', locals: {link_type: 'navbar'}
        %li{class: controller_name == 'dashboard' ? 'active' : ''}
          =link_to t('views.dashboard.index.h1'), dashboard_url
        %li{class: controller_name == 'library' ? 'active' : ''}
          =link_to t('views.library.show.h1'), library_url
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          -if current_user.admin? || current_user.tutor?
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'} }
                =t('views.general.tools')
                %span.caret
              %ul.dropdown-menu{role: 'menu'}
                %li.dropdown-header=t('views.layouts.navigation.course_content')
                -if current_user.admin?
                  %li=link_to t('views.subject_areas.index.h1'), subject_areas_url
                  %li=link_to t('views.institutions.index.h1'), institutions_url
                  %li=link_to t('views.qualifications.index.h1'), qualifications_url
                %li=link_to t('views.exam_levels.index.h1'), exam_levels_url
                %li=link_to t('views.exam_sections.index.h1'), exam_sections_url
                %li=link_to t('views.course_modules.index.h1'), course_modules_url
                -if current_user.content_manager?
                  %li.divider
                    %li.dropdown-header=t('views.layouts.navigation.content_management')
                    %li=link_to t('views.static_pages.index.h1'), static_pages_url
          -if current_user.content_manager? && !current_user.admin?
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'} }
                =t('views.general.tools')
                %span.caret
              %ul.dropdown-menu{role: 'menu'}
                %li.dropdown-header=t('views.layouts.navigation.content_management')
                %li=link_to t('views.static_pages.index.h1'), static_pages_url
          %li
            = link_to user_notifications_url do
              -if current_user && current_user.user_notifications.unread.count > 0
                %span.badge{style: 'background-color: red;'}
                  %span.glyphicon.glyphicon-envelope
                  =current_user.user_notifications.unread.count
                %span.visible-xs-inline=t('views.users.show.tabs.notifications')
              -else
                %span.glyphicon.glyphicon-envelope
                %span.visible-xs-inline=t('views.users.show.tabs.notifications')

          %li.dropdown
            %a.dropdown-toggle#navbar-cog{href: '#', data: {toggle: 'dropdown'} }
              %span.glyphicon.glyphicon-cog
              %span.visible-xs-inline=t('views.general.settings')
            %ul.dropdown-menu{role: 'menu'}
              %li=link_to t('views.users.show.h1'), profile_url
              -if current_user.admin?
                %li.divider
                %li=link_to t('views.users.index.h1'), users_url
                %li=link_to t('views.user_activity_logs.index.h1'), user_activity_logs_url
                %li=link_to t('views.user_groups.index.h1'), user_groups_url
                %li=link_to t('views.tutor_applications.index.h1'), tutor_applications_url
                %li=link_to t('views.currencies.index.h1'), currencies_url
                %li=# todo link_to t('views.vat_codes.index.h1'), vat_codes_url
                %li=link_to t('views.countries.index.h1'), countries_url
                %li=link_to t('views.marketing_categories.index.h1'), marketing_categories_url
                %li=link_to t('views.marketing_tokens.index.h1'), marketing_tokens_url
                %li.divider
                %li=link_to t('views.subscription_plans.index.h1'), subscription_plans_url
                %li=link_to t('views.subscription_plan_categories.index.h1'), subscription_plan_categories_url
                %li=link_to t('views.corporate_customers.index.h1'), corporate_customers_url
                %li.divider
                %li=link_to 'Sidekiq', sidekiq_web_path, target: '_blank'
                %li=link_to t('views.stripe_developer_calls.index.h1'), stripe_developer_calls_url
                %li.divider
              %li=link_to t('views.general.sign_out'), sign_out_url
          -#%li
            =#link_to '#', onclick: "$('#search_form').toggle({ origin: 'right', effect: 'slide', direction: 'horizontal', scale: 'box' }); return false;" do
            =link_to '#', onclick: "$('#search_form').toggle('slide', {direction: 'right'}, 500, function() {$('#search_terms').focus();}); return false;" do
              %span.glyphicon.glyphicon-search
          -#%li#search_form{style: 'display: none;'}
            =form_tag '/', role: 'form', class: 'navbar-form navbar-right' do
              .form-group{style: 'padding-top: 3px;'}
                =text_field_tag :search_terms, nil, placeholder: t('views.general.search')

        -else
          -#if controller_name == 'user_sessions'
            %li=link_to t('views.general.sign_in'), sign_in_url, class: 'navbar-link'
          -#else
            %li=link_to t('views.general.sign_in'), '#', onclick: "$('#login_form').removeClass('hidden'); $(this).hide(); return false;", id: 'nav-login'
            %li#login_form.hidden
              =form_for UserSession.new, html: {role: 'form', class: 'navbar-form navbar-right'} do |f|
                .form-group{style: 'padding-top: 3px;padding-right: 5px;'}
                  =f.text_field :email, placeholder: 'john@example.com', autofocus: true
                  =f.password_field :password, placeholder: 'password', autocomplete: 'off'
                  =f.submit t('views.general.go'), class: 'btn btn-success btn-sm'
                  =link_to t('views.user_sessions.form.forgot_password'), forgot_password_url, class: 'navbar-link'
          %li=link_to t('views.general.sign_in'), sign_in_url, class: 'navbar-link'
          %li=link_to t('views.general.start_free_trial'), student_sign_up_url, class: 'btn free_trial'
