.foot
  .l-wrap
    .container-fluid
      %ul.foot-nav
        %li
          =link_to 'Lecturers', tutor_profile_index_url
        %li
          =link_to 'Teach', new_tutor_application_url
        =render partial: 'layouts/custom_nav_links', locals: {link_type: 'footer'}
      %p.foot-copyright
        &copy; 2014 &mdash; 2015 Learn Signal
