.foot.navbar-footer
  .l-wrap
    .container-fluid
      %ul.foot-nav
        -if current_user
          %li
            %a{href: 'http://blog.learnsignal.com', target: '_blank'}
              ='Blog'
        %li
          =link_to 'Lecturers', tutors_url
        %li
          =link_to 'Teach', new_tutor_application_url
        %li
          =link_to 'Careers', careers_url
        %li
          =link_to 'Contact', contact_url
        %li
          =link_to 'Terms & Conditions', terms_and_conditions_url
      %ul.social-nav
        %li
          %a{href: 'https://twitter.com/learnsignal', target: '_blank', class: 'span fa fa-twitter'}
            =' Twitter'
        %li
          %a{href: 'https://www.linkedin.com/company/learnsignal', target: '_blank', class: 'span fa fa-linkedin'}
            =' Linkedin'


      %p.foot-copyright
        &copy; 2014 &mdash; 2015 Learn Signal
