=form_for(:user,
      url: student_sign_up_url,
      method: 'POST',
      html: {class: 'form-horizontal', role: 'form'}) do |f|

  .modal.fade#signupModal{tabindex:'-1', role:'dialog', 'aria-labelledby':'signupModalLabel'}
    .modal-dialog
      .modal-content.is-bg-asphalt.l-padding-side-15
        .container-fluid
          .modal-header
            .row
              .col-md-12.l-margin-top
                %button{type: "button", class: 'close', "data-dismiss": 'modal', "aria-label": 'Close', style: 'font-size: 30px'} &times;
                %h2.modal-title{style: 'width: 95%'} SIGN UP FOR YOUR 7-DAY FREE TRIAL
            .row.l-margin-top
              .col-md-12
                =#render partial: 'layouts/error_messages', locals: {thing: @user, message: t('views.home_pages.sign_up_form.error_panel_caption')}
                =f.hidden_field :locale, value: (params[:locale] || 'en')
                =#f.hidden_field :country_id, value: @user.country_id
                .form-group
                  =f.text_field :first_name, placeholder: t('views.users.form.first_name'), autofocus: true, required: true, class: 'form-control'
                .form-group
                  =f.text_field :last_name, placeholder: t('views.users.form.last_name'), class: 'form-control'
                .form-group
                  =f.email_field :email, placeholder: t('views.users.form.email'), class: 'form-control', required: true
                .form-group
                  =f.password_field :password, placeholder: t('views.users.form.password'), class: 'form-control', required: true
                .form-group
                  =f.password_field :password_confirmation, placeholder: t('views.home_pages.sign_up_form.confirm_password'), class: 'form-control', required: true
                .form-group
                  =f.submit t('views.home_pages.sign_up_form.submit'), class: 'btn btn-red'
                  %span.no-card
                    =t('views.home_pages.sign_up_form.no_credit_card_needed')
