.admin-nav
  %ul.admin-nav-block
    -if current_user.admin?
      %li
        =link_to 'Overview', management_consoles_url
      %li
        =link_to 'Reports', reports_url
    -elsif current_user.customer_support_manager?
      %li
        =link_to 'Overview', management_consoles_url
      %li
        =link_to 'Reports', reports_url
    %li
      =link_to 'Users', user_management_index_url
    %li
      -if current_user.admin?
        =link_to 'Courses', subject_courses_url
    %li
      -if current_user.admin?
        =link_to 'Products', products_url
