:javascript
  (function(w) {
    var s = document.createElement('script');
    s.src = '//survey.survicate.com/workspaces/83a05eef719873b712189ba78201565a/web_surveys.js';
    s.async = true;
    var e = document.getElementsByTagName('script')[0];
    e.parentNode.insertBefore(s, e);
  })(window);