.header{role: 'banner'}
  %nav.navbar.navbar-default.navbar-transparent

    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#myNavbar'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to home_url do
      =image_tag('ls-logo-transparent.svg', class: 'logo')
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li
            =link_to 'Dashboard', student_dashboard_url
          %li
            =link_to 'Courses', library_url
          -if current_user.trial_user?
            -if current_user.valid_trial_user?
              %li
                =link_to "#{current_user.trial_days_left} Days left in Trial", new_subscription_url, class: 'days-left', title: 'Upgrade your account'
            -elsif current_user.expired_trial_user?
              %li
                =link_to 'Upgrade Account', new_subscription_url, class: 'days-left', title: 'Upgrade your account'

          -#Student Dropdown
          %li.dropdown.dropdown-normal
            %a#drop.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              =t('views.general.user_name') + current_user.first_name.to_s
              %span.caret
            %ul#menu.dropdown-menu
              %li
                %li=link_to t('views.users.show.h1'), account_url
              %li
                =link_to t('views.general.sign_out'), sign_out_url

        -else
          %li
            =link_to 'Blog', 'http://blog.learnsignal.com/', target: '_blank'
          %li
            =link_to 'Pricing', pricing_url
          %li
            =link_to 'Courses', library_url
          %li
            =link_to 'Sign In', sign_in_url
