.tutor-form.nav.navbar.navbar-static-transparent.navbar-default.navbar-static-top{role:'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#navbar'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_url, class: 'navbar-brand navbar-logo', id: '#navbar-logo' do
        =image_tag 'https://s3-eu-west-1.amazonaws.com/learnsignal3-production/public/LS_Only_Logo.png', alt: t('views.layouts.navigation.learn_signal'), class: 'img img-responsive'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li=link_to t('views.general.sign_in'), sign_in_url
        %li.btn-nav-transparent=link_to t('views.general.sign_up'), sign_up_url

