=form_tag create_user_exam_sittings_path, method: 'POST', html: {class: 'form-horizontal', role: 'form'}  do
  .modal.fade#sittingModal{tabindex:'-1', role:'dialog', 'aria-labelledby':'sittingModalLabel'}
    .modal-dialog
      .modal-content.is-bg-asphalt.l-padding-side-15
        .container-fluid
          .modal-header
            .row
              .col-md-12.l-margin-top
                %button{type: "button", class: 'close', "data-dismiss": 'modal', "aria-label": 'Close', style: 'font-size: 30px'} &times;
                %h2.modal-title.text-center.l-margin-bottom{style: 'width: 95%'}
                  =@course.external_url_name
                  Exam Sittings
              .col-md-12
                %h6.l-margin-bottom
                  If you are registered for any official
                  =@course.external_url_name
                  Exam Sittings, please select the dates below.
              .col-md-12
                %table.col-sm-12
                  %thead
                    %tr
                      %th
                        Dates

                  %tbody
                    %tr
                      -@exam_sittings.each do |sitting|
                        -unless current_user.exam_sittings.include?(sitting.id)
                          %td
                            -if sitting.date
                              %label
                                =sitting.date
                                = check_box_tag( "user_exam_sittings[#{sitting.id}]")
                            -else
                              =text_field_tag ["user_exam_sittings[#{sitting.id}]", ["date"]], '',placeholder: 'Date ', class: 'form-control', style: 'border-radius: 6px; width: 40%;', data: {'date-format' => t('controllers.application.datepicker_datetime_format')}, id: 'datetimepicker'

          .l-margin-top.l-margin-bottom
            =submit_tag 'Submit', class: 'btn btn-red', id: 'submit_btn'


  :javascript
    $(document).ready(function() {
      $('#submit_btn').on('click', function() { $('#exam_sittings_form').submit(); });
    });


    $(function () {
      $('#datetimepicker').datetimepicker();
        format: 'DD/MM/YYYY'
    });
