!!! 5
%html{lang: params[:locale] || @delivered_page.try(:language) || 'en'}
  %head
    -if @delivered_page
      <!-- page ID #{@delivered_page.id} -->
    %meta{charset: 'utf-8'}
    %meta{http: {equiv:'X-UA-Compatible'}, content:'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title
      -if @delivered_page
        =@delivered_page.seo_title
      -elsif @seo_title
        =@seo_title
      -else
        LearnSignal
    =stylesheet_link_tag 'application', media: 'all'#, 'data-turbolinks-track' => true
    -# Bootstrap DateTimePicker
    %link{rel: 'stylesheet', type: 'text/css', media: 'screen', href: '//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css'}

    =javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    -# Bootstrap DateTimePicker
    %script{type: 'text/javascript', src: '/assets/javascripts/moment.js'}
    %script{type: 'text/javascript', src: '//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js'}
    %script{type: 'text/javascript', src: 'https://js.stripe.com/v2/'}

    -# New Font
    %script{type: 'text/javascript', src: '//use.typekit.net/jhv8rbq.js'}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    -if @mathjax_required
      %script{type: 'text/javascript', src: 'https://jwpsrv.com/library/w07RSqLlEeOssyIACi0I_Q.js'}

    =csrf_meta_tags
    -if Rails.env.production?
      =render partial: 'layouts/google_analytics'
    -if @delivered_page
      =head_sanitizer(@delivered_page.head_content)
      -if @delivered_page.mark_as_nofollow
        %meta{name: 'robots', content: 'nofollow'}
      -if @delivered_page.mark_as_noindex
        %meta{name: 'robots', content: 'noindex'}
      %meta{name: 'description', content: @delivered_page.seo_description}

    =render partial: 'layouts/favicon'

  %body{ontouchstart: ""}
    -if controller_name == 'courses'
      =render partial: 'layouts/special_navbar'
      .container-fluid
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'
        =yield
    -else
      =render partial: 'layouts/navbar'
      .container
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'
        =yield
      =render partial: 'layouts/footer'
    =render partial: 'layouts/misc_javascript'
    <!-- Mathjax -->
    -if @mathjax_required
      %script{type: 'text/x-mathjax-config'}
        MathJax.Hub.Config({tex2jax: {inlineMath: [["(math)","(/math)"]]}});
      -if Rails.env.production? || Rails.env.staging?
        %script{type: 'text/javascript', src: 'https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}
      -else
        %script{type: 'text/javascript', src: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}

    <!-- Load Typekit Kit -->
    %script{type: 'text/javascript'} try{Typekit.load();}catch(e){}