!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
      %meta{http: {equiv:'X-UA-Compatible'}, content:'IE=edge'}
      %meta{name: 'viewport', content: 'width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0'}
      %title
        -if @seo_title
          =@seo_title
        -else
          The Smarter Way to Study | Learnsignal
    -# Links for Fonts
    =preload_link_tag 'icons/budicon_classic.ttf'
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap", :rel => "stylesheet"}/
    =stylesheet_link_tag 'application', media: 'all'
    =javascript_include_tag 'application', modernizr: :true

    -if controller_name == 'courses' || controller_name == 'course_steps' || controller_name == 'preview_course_steps'|| controller_name == 'content_activations' || controller_name == 'cbes' 
      -# CBE VueJS include
      =javascript_pack_tag 'cbe_main'
      =stylesheet_pack_tag 'cbe_main'
    -# CBE VueJS include
    =render partial: 'layouts/google_tag_manager'
    -# Import Segment Script
    =render partial: 'layouts/segment_tracking_code'

    -if controller_name == 'orders' || controller_name == 'subscriptions' || controller_name == 'user_accounts' || controller_name == 'plan_changes' 
      %script{type: 'text/javascript', src: 'https://js.stripe.com/v3/'}

    =yield :head

    -if controller_name == 'courses' || controller_name == 'course_steps' || controller_name == 'preview_course_steps'|| controller_name == 'content_activations'
      %link{href: 'https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common.min.css', rel: 'stylesheet'}
      %link{href: 'https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.default-v2.min.css', rel: 'stylesheet'}
      %link{href: 'https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.default.mobile.min.css', rel: 'stylesheet'}

    %link{href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet'}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    -if @mathjax_required
      %script{type: 'text/javascript', src: 'https://jwpsrv.com/library/w07RSqLlEeOssyIACi0I_Q.js'}

    =csrf_meta_tags
    -if @seo_description
      %meta{name: 'description', content: @seo_description}
    -if @seo_no_index
      %meta{name: 'robots', content: 'noindex'}
    %meta{name: 'robots', content: 'noindex,nofollow'}
    =render 'application/favicon'

    -unless controller_name == 'cbes' || @layout == 'management'
      =render partial: 'layouts/cookie_banner'
    =render partial: 'layouts/global_site_tag'
  - if controller_name == 'cbes'
    %body.page-light
      -if @layout == 'management'
        #management-console-wrapper
          .d-none.d-sm-block
            =render partial: 'layouts/management_side_navbar'
          .main-content
            -if flash[:success] || flash[:error] || flash[:warning]
              =render partial: 'layouts/flash_messages'

            =yield

      -else
        .main-content
          -if flash[:success] || flash[:error] || flash[:warning]
            =render partial: 'layouts/flash_messages'

          =yield

  - else
    %body{:class => app_eval_controller_action(controller_name, action_name) }
      -if controller_name == 'courses' || controller_name == 'course_steps' || controller_name == 'preview_course_steps' || controller_name == 'content_activations'
        %script{src: 'https://kendo.cdn.telerik.com/2018.2.516/js/jszip.min.js'}
        %script{src: 'https://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js'}
      =render partial: 'layouts/google_tag_manager_body'

      =render partial: 'layouts/facebook_tracking_code'
      -if @layout == 'standard'
        -if @navbar && controller_name != 'user_sessions' && controller_name != 'dashboard'
          =render partial: 'layouts/navbar'
        -if controller_name == 'dashboard'
          =render partial: 'layouts/navbar_accredited'
        -if @navbar && controller_name == 'user_sessions'
          =render partial: 'layouts/navbar_gray'

        -unless controller_name == 'subscriptions' || controller_name == 'orders' || controller_name == 'footer_pages' || controller_name == 'student_sign_ups' || controller_name == 'user_accounts'
          -if flash[:success] || flash[:error] || flash[:warning]
            =render partial: 'layouts/flash_messages'
        -if current_user&.subscription_action_required? && !(controller_name == 'user_accounts' || controller_name == 'subscriptions' || controller_name == 'student_sign_ups')
          .alert.alert-warning.text-center
            There is an problem with your subscription.
            -if current_user.actionable_invoice
              =link_to 'Resolve Issue!', show_invoice_url(current_user.actionable_invoice.sca_verification_guid)
            -else
              =link_to 'Resolve Issue!', account_url(anchor: 'account-info')

        =yield

        -if @footer
          -if controller_name == 'courses' || controller_name == 'course_steps' || controller_name == 'preview_course_steps' || controller_name == 'content_activations'
            =render partial: 'layouts/footer_empty' 
          -else
            -if current_user
              =render partial: 'layouts/footer_marketing' if controller_name != 'user_sessions'
              =render partial: 'layouts/footer_minimal_login_signup' if controller_name == 'user_sessions'
            -else
              =render partial: 'layouts/footer_marketing' if controller_name != 'user_sessions'
              =render partial: 'layouts/footer_minimal_login_signup' if controller_name == 'user_sessions'


      -elsif @layout == 'management'
        #management-console-wrapper
          .d-none.d-sm-block
            =render partial: 'layouts/management_side_navbar'

          .main-content
            -if flash[:success] || flash[:error] || flash[:warning]
              =render partial: 'layouts/flash_messages'
            =yield
      -elsif @layout == 'student_sidebar'
        #console-wrapper-sidebar.side-bar-nav
          .d-none.d-sm-block
          #sidebar-btn-collapse.sidebar-btn-collapse
            #sidebar-btn-collapse-elem.sidebar-btn-collapse-content{:onclick => "collapseFunc()"}
              #arrow-collapse.i.material-icons{:style => "font-size:32px; color: #71767B;"} keyboard_arrow_left
            =render partial: 'library/student_side_navbar'

          -unless controller_name == 'subscriptions' || controller_name == 'orders' || controller_name == 'footer_pages' || controller_name == 'student_sign_ups' || controller_name == 'user_accounts'
            -if flash[:success] || flash[:error] || flash[:warning]
              =render partial: 'layouts/flash_messages'
          -if current_user&.subscription_action_required? && !(controller_name == 'user_accounts' || controller_name == 'subscriptions' || controller_name == 'student_sign_ups')
            .alert.alert-warning.text-center
              There is an problem with your subscription.
              -if current_user.actionable_invoice
                =link_to 'Resolve Issue!', show_invoice_url(current_user.actionable_invoice.sca_verification_guid)
              -else
                =link_to 'Resolve Issue!', account_url(anchor: 'account-info')

          =yield
          -if controller_name == 'courses' || controller_name == 'course_steps' || controller_name == 'preview_course_steps' || controller_name == 'content_activations'
            =render partial: 'layouts/footer_empty' 
          -else
            -if current_user
              =render partial: 'layouts/footer_minimal'
            -else
              =render partial: 'layouts/footer_minimal'

      -else
        =render partial: 'layouts/navbar'
        -if @top_margin
          .margin-top
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'
        =yield

      -#General partials
      =render partial: 'layouts/misc_javascript'
      =render partial: 'layouts/bing_tracking_code'

      -if current_user.nil?
        :javascript
          var waitForZopim = setInterval(function () {
            if (window.$zopim === undefined || window.$zopim.livechat === undefined) {
              return;
            }
            $zopim(function() {
              $zopim.livechat.window.onShow(function(callback) {
                gtag('event', 'clicks_support', {'event_category': 'pre-registration', 'event_label': 'support'});
              });
            });
            clearInterval(waitForZopim);
          }, 100);

      -if current_user
        :javascript
          gtag('set', { 'user_id': "#{current_user.id}" });

      -if flash[:datalayer_verify]
        -landing_page = current_user&.home_page&.public_url || 'basic_registration'
        :javascript
          gtag('event', 'verified_user', {'event_category': "pre-registration", 'event_label': "#{landing_page}"});
      -if flash[:just_signed_in]
        :javascript
          gtag('event', 'logged_in_user', {'event_category': 'pre-registration', 'event_label': 'login'});

      <!-- Mathjax -->
      -if @mathjax_required && !controller_name == 'home_pages'
        %script{type: 'text/x-mathjax-config'}
          MathJax.Hub.Config({"HTML-CSS": { linebreaks: { automatic: true } }, tex2jax: {inlineMath: [["(math)","(/math)"]]}});
        -if Rails.env.production? || Rails.env.staging?
          %script{type: 'text/javascript', src: 'https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}
        -else
          %script{type: 'text/javascript', src: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}

      -unless controller_name == 'home_pages'
        %script{type: 'text/javascript'} try{Typekit.load();}catch(e){}

      -if !current_user || current_user&.student_user?
        =render partial: 'layouts/hubspot_js'
      -if ENV['ZENDESK_ON'] == 'true' && @chat
        =render partial: 'layouts/zendesk_js'
