!!! 5
%html{lang: params[:locale] || @delivered_page.try(:language) || 'en'}
  %head
    -if @delivered_page
      <!-- page ID #{@delivered_page.id} -->
    %meta{charset: 'utf-8'}
    %meta{http: {equiv:'X-UA-Compatible'}, content:'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title<
      -if @delivered_page
        =@delivered_page.seo_title
      -elsif @seo_title
        =@seo_title
      -else
        LearnSignal
    =stylesheet_link_tag 'application', media: 'all'#, 'data-turbolinks-track' => true
    =javascript_include_tag 'application'#, 'data-turbolinks-track' => true

    %script{type: 'text/javascript', src: 'https://js.stripe.com/v2/'}
    -if controller_name == 'courses'
      %script{charset: 'ISO-8859-1', src: '//fast.wistia.com/assets/external/E-v1.js'}
    %script{type: 'text/javascript', src: '//use.typekit.net/jhv8rbq.js'}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    -if @mathjax_required
      %script{type: 'text/javascript', src: 'https://jwpsrv.com/library/w07RSqLlEeOssyIACi0I_Q.js'}

    =csrf_meta_tags
    -if @delivered_page
      =head_sanitizer(@delivered_page.head_content)
      -if @delivered_page.mark_as_nofollow
        %meta{name: 'robots', content: 'nofollow'}
      -if @delivered_page.mark_as_noindex
        %meta{name: 'robots', content: 'noindex'}
      %meta{name: 'description', content: @delivered_page.seo_description}
    -elsif @seo_description
      %meta{name: 'description', content: @seo_description}
    -if @seo_no_index
      %meta{name: 'robots', content: 'noindex'}

    =render partial: 'layouts/favicon'
    =#render partial: 'layouts/mixpanel_head_tag'
    -if Rails.env.production?
      =render partial: 'layouts/cookie_banner'
      =render partial: 'layouts/facebook_pixel'

  %body
    -#if (Rails.env.production? || Rails.env.staging?) && (current_user.nil? || current_user.individual_student?)
    =render partial: 'layouts/google_tag_manager'
    -if Rails.env.production?
      =render partial: 'layouts/hubspot'
    -if controller_name == 'home_pages'
      =yield
      =render partial: 'layouts/new_footer'
    -elsif controller_name == 'tutor_profile'
      =render partial: 'layouts/new_navbar'
      .margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      =yield
      =render partial: 'layouts/new_footer'
    -elsif controller_name == 'study_schedules'|| (controller_name == 'tutor_applications' && action_name == 'index')
      =render partial: 'layouts/new_navbar'
      .schedule-margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      =yield
      =render partial: 'layouts/new_footer'
    -elsif (controller_name == 'subject_courses' && current_user.try(:corporate_customer?)) || (controller_name == 'groups' && current_user.try(:corporate_customer?))
      =render partial: 'layouts/new_navbar'
      .margin-top
      =yield
    -elsif (controller_name == 'courses') || (controller_name == 'dashboard') || (controller_name == 'user_sessions') || (controller_name == 'user_password_resets') || (controller_name == 'course_modules') || (controller_name == 'subject_courses') || (controller_name == 'student_sign_ups')
      =render partial: 'layouts/new_navbar'
      .margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      =yield
      =render partial: 'layouts/new_footer'
    -elsif controller_name == 'users' && action_name == 'show'
      =render partial: 'layouts/new_navbar'
      .margin-top
      =yield
    -elsif controller_name == 'users' && action_name != 'new_paid_subscription'
      =render partial: 'layouts/new_navbar'
      .margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      =yield
    -elsif (controller_name == 'corporate_customers') || (controller_name == 'corporate_students') || (controller_name == 'corporate_groups') || (controller_name == 'corporate_managers')
      =render partial: 'layouts/new_navbar'
      .margin-top
      =yield
    -elsif (controller_name == 'library') || (controller_name == 'footer_pages') || (controller_name == 'tutor_applications')
      -if @course.try(:live)
        .margin-top
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'

      -else
        .no-margin-top
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'
      =yield
    -elsif controller_name == 'users' && action_name == 'new_paid_subscription'
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      =yield
      =render partial: 'layouts/new_footer'
    -else
      =render partial: 'layouts/new_navbar'
      .margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      =yield
      =render partial: 'layouts/new_footer'
    =render partial: 'layouts/misc_javascript'
    =render partial: 'layouts/intercom'
    -if !current_user.nil? && (current_user.individual_student? || current_user.corporate_student? || current_user.tutor? || current_user.blogger?)
      =render partial: 'layouts/ls_referral'
    <!-- Mathjax -->
    -if @mathjax_required
      %script{type: 'text/x-mathjax-config'}
        MathJax.Hub.Config({"HTML-CSS": { linebreaks: { automatic: true } }, tex2jax: {inlineMath: [["(math)","(/math)"]]}});
      -if Rails.env.production? || Rails.env.staging?
        %script{type: 'text/javascript', src: 'https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}
      -else
        %script{type: 'text/javascript', src: 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'}

    <!-- Load Typekit Kit -->
    %script{type: 'text/javascript'} try{Typekit.load();}catch(e){}

    =#render partial: 'layouts/mixpanel_body_tag'
    =render partial: 'layouts/contact_modal'
    =render partial: 'layouts/restricted_access'
    -unless current_user
      =render partial: 'layouts/sign_up_modal'

  :javascript
      var nav = responsiveNav(".nav-collapse");
