!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
      %meta{http: {equiv:'X-UA-Compatible'}, content:'IE=edge'}
      %meta{name: 'viewport', content: 'width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0'}
      %title
        -if @seo_title
          =@seo_title
        -else
          The Smarter Way to Study | learnsignal

    =stylesheet_link_tag 'application', media: 'all'
    =javascript_include_tag 'application', modernizr: :true

    =render partial: 'layouts/google_tag_manager'
    -if current_user&.email_verified
      =render partial: 'layouts/segment_tracking_code'

    =yield :head

    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap", :rel => "stylesheet"}/
    %link{href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet'}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    =csrf_meta_tags
    -if @seo_description
      %meta{name: 'description', content: @seo_description}
    -if @seo_no_index
      %meta{name: 'robots', content: 'noindex'}
    =render 'application/favicon'

    =render partial: 'layouts/cookie_banner'
    =render partial: 'layouts/global_site_tag'

  %body{class: (controller_name == 'student_sign_ups' && action_name != 'new') ? 'page-light' : (action_name == 'account_verified') ? 'page-gray' : ''}

    =render partial: 'layouts/google_tag_manager_body'
    =render partial: 'layouts/facebook_tracking_code'
    -if @layout == 'standard'
      -if @navbar
        =render partial: 'layouts/navbar'

      -if @top_margin
        -if @banner
          .margin-top-lg
        -else
          .margin-top

      -unless controller_name == 'subscriptions' || controller_name == 'orders' || controller_name == 'footer_pages' || controller_name == 'student_sign_ups' || controller_name == 'user_accounts'
        -if flash[:success] || flash[:error] || flash[:warning]
          =render partial: 'layouts/flash_messages'

      =yield

      -if @footer
        -# =render partial: 'layouts/footer_disclaimer' if @group&.disclaimer
        -# =render partial: 'layouts/footer'
    -else
      =render partial: 'layouts/navbar'
      -if @top_margin
        .margin-top
      -if flash[:success] || flash[:error] || flash[:warning]
        =render partial: 'layouts/flash_messages'
      =yield
      -# =render partial: 'layouts/footer_disclaimer' if @group&.disclaimer
      -# =render partial: 'layouts/footer'


    -#General partials
    =render partial: 'layouts/misc_javascript'
    =render partial: 'layouts/bing_tracking_code'
    -if current_user.nil?
      :javascript
        var waitForZopim = setInterval(function () {
          if (window.$zopim === undefined || window.$zopim.livechat === undefined) {
            return;
          }
          $zopim(function() {
            $zopim.livechat.window.onShow(function(callback) {
              gtag('event', 'clicks_support', {'event_category': 'pre-registration', 'event_label': 'support'})
            });
          });
          clearInterval(waitForZopim);
        }, 100);


    -if current_user
      :javascript
        gtag('set', { 'user_id': "#{current_user.id}" });

    :javascript
      gtag('event', 'visits_website', {'event_category':  "pre-registration", 'event_label':  "learnsignal"});

    -if flash[:just_signed_in]
      :javascript
        gtag('event', 'logged_in_user', {'event_category': 'pre-registration', 'event_label': 'login'});

    -unless controller_name == 'home_pages'
      %script{type: 'text/javascript'} try{Typekit.load();}catch(e){}
    -if !current_user || current_user&.student_user?
      =render partial: 'layouts/hubspot_js'
    -if ENV['ZENDESK_ON'] == 'true' && @chat
      =render partial: 'layouts/zendesk_js'
