=form_for([:admin, @course_lesson], html: {class: 'form-horizontal', role: 'form', id: 'course_lesson_form'}) do |f|
  .box-item
    .row
      .col-sm-12
        =render partial: '/layouts/error_messages', locals: {thing: @course_lesson, message: nil}
        =f.hidden_field :sorting_order
        =f.hidden_field :course_id
        =f.hidden_field :course_section_id

        .row
          .col-sm-6
            .form-group
              =f.label :name, t('views.course_lessons.form.name')
              .input-group.input-group-lg
                =f.text_field :name, placeholder: t('views.course_lessons.form.name_placeholder'), class: 'form-control update-my-url'

            .form-group
              =f.label :name_url, t('views.course_lessons.form.name_url')
              .input-group.input-group-lg
                =f.text_field :name_url, placeholder: t('views.course_lessons.form.name_url_placeholder'), class: 'form-control'

            .col-sm-11.col-sm-offset-1
              .checkbox
                %label
                  =f.check_box :active
                  =t('views.course_lessons.form.active')

          .col-sm-6
            .form-group
              =f.label :course_section_id, t('views.course_lessons.form.course_section_id')
              .input-group.input-group-lg
                =f.collection_select :course_section_id, @course_sections, :id, :name, {include_blank: t('views.general.select')}, {class: 'form-control custom-select'}


            .form-group
              =f.label :description, t('views.course_lessons.form.description')
              .input-group.input-group-lg
                =f.text_area :description, placeholder: t('views.course_lessons.form.description_placeholder'), rows: 5, class: 'form-control'

            .form-group
              =f.label :temporary_label, t('views.course_lessons.form.temporary_label')
              .input-group.input-group-lg
                =f.text_field :temporary_label, placeholder: t('views.course_lessons.form.temporary_label_placeholder'), rows: 5, class: 'form-control'



  .row
    .col-sm-12
      =f.submit t('views.general.save'), class: 'btn btn-primary'
      =link_to t('views.general.cancel'), course_lesson_special_link(@course_lesson), class: 'btn btn-secondary'
