.row
  .col-sm-8.col-sm-offset-2
    =form_for(@stripe_developer_call, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @stripe_developer_call, message: nil}
        .form-group
          =f.label :params_received, t('views.stripe_developer_calls.form.params_received'), class: 'control-label col-sm-4'
          .col-sm-8
            =f.text_area :params_received, placeholder: t('views.stripe_developer_calls.form.params_received_placeholder'), rows: 4, class: 'form-control'
        .form-group
          .col-sm-8.col-sm-offset-4
            .checkbox
              %label
                =f.check_box :prevent_delete
                =t('views.stripe_developer_calls.form.prevent_delete')

      =f.submit t('views.general.save'), class: 'btn btn-success'
      =t('views.general.or')
      =link_to t('views.general.cancel'), stripe_developer_calls_path
