.row
  .col-sm-12
    .page-header
      %h1
        =t('views.stripe_developer_calls.show.h1')
        \#
        =@stripe_developer_call.id
.row
  .col-sm-12
    %table.table.table-bordered
      %tr
        %td.col-sm-4=t('views.stripe_developer_calls.form.user_id')
        %td.col-sm-8=@stripe_developer_call.user.name
      %tr
        %td.col-sm-4=t('views.stripe_developer_calls.form.params_received')
        %td.col-sm-8=@stripe_developer_call.params_received
      %tr
        %td.col-sm-4=t('views.stripe_developer_calls.form.prevent_delete')
        %td.col-sm-8=tick_or_cross(@stripe_developer_call.prevent_delete)
    %p
      =link_to t('views.general.back'), stripe_developer_calls_url
      |
      =link_to t('views.general.edit'), edit_stripe_developer_call_url(id: @stripe_developer_call.id), title: t('views.general.edit_tooltip')
